{% extends "../base.html" %}
{% block header %}
    {% include '../home/inside_header.html' %}
{% end %}
{% block css %}
<link rel="stylesheet" href="{{ site_base }}/{{nocache_static}}/css/faq.css">
{% end %}
{% block body %}
    <div class="top-distance-content">
        <div class="container-fluid-product title">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="">T&eacute;rminos y Condiciones</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid-product contact product">
            <div class="row">
                <div class="col-md-10 text-left">
                    <div>
                        <p>SECCIONES</p>
                    </div>
                    <p>1. T&eacute;rminos y Condiciones</p>
                    <p>2. C&oacute;mo comprar</p>
                    <p>3. Condiciones del despacho</p>
                    <div>
                        <p>T&Eacute;RMINOS Y CONDICIONES</p>
                    </div>
                    <p>Bienvenidos a la p&aacute;gina web de Comercial Vastus SpA, la cual proporciona servicios conforme a los t&eacute;rminos y condiciones establecidos en este acuerdo.</p>
                    <p>Al momento de hacer uso de los servicios de Comercial Vastus SpA, es requisito la aceptaci&oacute;n de los t&eacute;rminos y condiciones descritos a continuaci&oacute;n. Por lo tanto, cualquier persona que acceda, navegue o utilice este sitio web se entiende que conoce y acepta todas y cada una de las condiciones y t&eacute;rminos de este acuerdo.</p>
                    <p><em>&nbsp;</em></p>
                    <p><em>Modificaci&oacute;n de los t&eacute;rminos y condiciones</em></p>
                    <p>Los t&eacute;rminos y condiciones podr&aacute;n sufrir modificaciones en cualquier momento y a exclusivo criterio de Comercial Vastus SpA, y no se requerir&aacute; &eacute;l consentimiento previo de los usuarios. Para las transacciones en curso que hayan comenzado con anterioridad a dichas modificaciones, subsistir&aacute;n las condiciones vigentes al momento de su concertaci&oacute;n, a menos que las nuevas modificaciones introducidas fueran m&aacute;s convenientes para el usuario.</p>
                    <p>Dichos cambios se informaran a trav&eacute;s del sitio alertando a los usuarios sobre estos cambios, durante un tiempo prudente. Sin perjuicio de lo anterior, los usuarios son responsables de leer estos t&eacute;rminos y condiciones cada vez que ingresen al sitio para ver si han sufrido modificaciones.</p>
                    <p><em>&nbsp;</em></p>
                    <p><em>Interrupci&oacute;n del servicio</em></p>
                    <p>Comercial Vastus SpA se reserva el derecho de interrumpir, suspender o modificar en cualquier momento los servicios ofrecidos en el presente sitio, ya sea en forma permanente o transitoria, sin requerir conformidad por parte de los usuarios, ni necesidad de brindar aviso previo alguno.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>1. Uso del Sitio</p>
                    <p><br /> Para utilizar los servicios del sitio se requiere ser mayor de 18 a&ntilde;os. Los padres, tutores o responsables de los menores de edad que utilicen el sitio ser&aacute;n responsables por dicho uso, incluyendo cualquier cargo, despacho o da&ntilde;o que se derive de &eacute;l.</p>
                    <p>En los contratos ofrecidos por medio de este sitio, Comercial Vastus SpA, informar&aacute;, de manera inequ&iacute;voca y f&aacute;cilmente accesible, los pasos que deben seguirse para celebrarlos, e informar&aacute;, cuando corresponda, si el documento electr&oacute;nico en que se formalice el contrato ser&aacute; archivado y si &eacute;ste ser&aacute; accesible al consumidor.</p>
                    <p>El solo hecho de seguir los pasos que para tales efectos se indican en este sitio para efectuar una compra, equivale a aceptar que efectivamente la empresa oferente ha dado cumplimiento a las condiciones contenidas en este n&uacute;mero. Indicar&aacute;, adem&aacute;s, su direcci&oacute;n de correo postal o electr&oacute;nico y los medios t&eacute;cnicos a disposici&oacute;n del consumidor para identificar y corregir errores en el env&iacute;o o en sus datos.</p>
                    <p>No se podr&aacute; reproducir, distribuir, exhibir, vender, arrendar, transmitir, crear trabajos derivados, traducir, modificar, desmontar, descompilar o explotar este sitio o cualquier porci&oacute;n de &eacute;l, ni ninguna de sus marcas, a menos que sea expresamente permitido por Comercial Vastus SpA, por escrito. No se permite hacer ning&uacute;n uso comercial de cualquiera de la informaci&oacute;n proporcionada en el sitio o hacer cualquier uso de &eacute;ste para beneficio de otra empresa, a menos que sea expl&iacute;citamente permitido por Comercial Vastus SpA, por adelantado.</p>
                    <p>Comercial Vastus SpA, se reserva el derecho a rechazar la prestaci&oacute;n del servicio, cerrar cuentas, y/o cancelar pedidos a su discreci&oacute;n - incluyendo, sin limitaci&oacute;n - si se cree que la conducta del cliente viola la ley aplicable o es perjudicial para nuestros intereses.&nbsp;<br /> <br /> No esta permitido cargar, distribuir o publicar a trav&eacute;s de este sitio ning&uacute;n contenido, informaci&oacute;n, u otro material que:</p>
                    <p>(i) Viole o infrinja los derechos de autor, patentes, marcas comerciales, marcas de servicio, secretos comerciales u otros derechos de propiedad de cualquier persona;</p>
                    <p>(ii) Sea difamatorio, amenazante, obsceno, o derechamente pornogr&aacute;fico;</p>
                    <p>(iii) Incluya cualquier error, virus, gusanos, puertas trampa, caballos de Troya u otro c&oacute;digo o propiedades perjudiciales.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>2. Registro de Usuario</p>
                    <p>Es condici&oacute;n que el cliente realice un registro de usuario para la adquisici&oacute;n de productos ofrecidos en este sitio. Para ello, es necesario que el usuario administre en la p&aacute;gina web informaci&oacute;n correcta, ver&iacute;dica, actual y completa en relaci&oacute;n a sus datos b&aacute;sicos como; nombre, n&uacute;mero de c&eacute;dula de identidad, direcci&oacute;n, tel&eacute;fonos de contacto, correo electr&oacute;nico y otros datos, los cuales Comercial Vastus SpA, se compromete a guardar total confidencialidad seg&uacute;n la Ley Chilena N&ordm; 19.628 sobre protecci&oacute;n de datos de car&aacute;cter personal.</p>
                    <p><strong>Dicha informaci&oacute;n tendr&aacute; como finalidad validar las &oacute;rdenes de compra y mejorar la labor de informaci&oacute;n y comercializaci&oacute;n de los productos de la empresa, y en ning&uacute;n caso ser&aacute;n traspasados a terceros.</strong></p>
                    <p>El cliente al registrarse se le asignar&aacute; una identificaci&oacute;n y contrase&ntilde;a de cuenta para permitir su acceso y uso de partes de este sitio. Se entender&aacute;n conocidos y aceptados estos t&eacute;rminos y condiciones por el solo hecho del registro.</p>
                    <p>El usuario es el &uacute;nico responsable de proteger la seguridad y confidencialidad de la identificaci&oacute;n y contrase&ntilde;a asignada, y &eacute;ste deber&aacute; notificar a la empresa de cualquier uso no autorizado de &eacute;stos.</p>
                    <p>Finalmente, el usuario inscrito podr&aacute; a trav&eacute;s del sitio disponer la rectificaci&oacute;n, eliminaci&oacute;n y/o cancelaci&oacute;n de sus datos cuando lo estime conveniente.</p>
                    <p>3. Comunicaciones Promocionales o Publicitarias</p>
                    <p>El usuario podr&aacute; solicitar la suspensi&oacute;n de toda comunicaci&oacute;n promocional o publicitaria enviada a su correo electr&oacute;nico registrado en Comercial Vastus SpA, enviando un e-mail solicitando ser borrado de la base de datos de la empresa.</p>
                    <p>4. Pol&iacute;ticas de Privacidad</p>
                    <p>Comercial Vastus SpA, se compromete a no traspasar, bajo ninguna modalidad a terceros, datos personales de los clientes registrados en su sitio web, y asegura que &eacute;stos ser&aacute;n manejados de forma estrictamente confidencial y conforme a lo que dispone las disposiciones de la legalizaci&oacute;n vigente.</p>
                    <p>Al momento de registro en el sitio web, se solicita a los usuarios informaci&oacute;n como su nombre, direcci&oacute;n electr&oacute;nica, n&uacute;mero de cedula de identidad, contacto telef&oacute;nico y otros datos. Esta informaci&oacute;n es usada espec&iacute;ficamente para responder a las consultas acerca de nuestros productos, efectuar la compra de estos, e informar de las compras y despachos de pedidos. Se recalca, que bajo ninguna circunstancia dicha informaci&oacute;n ser&aacute; compartida con empresas no relacionadas a Comercial Vastus SpA, o con terceros.</p>
                    <p>Seg&uacute;n lo conforme a la Ley Chilena N&ordm; 19.628 sobre protecci&oacute;n de datos de car&aacute;cter personal, el usuario podr&aacute; en todo momento rectificar y cancelar los derechos de informaci&oacute;n de sus datos personales entregados a este sitio. Asimismo, el usuario podr&aacute; seg&uacute;n lo disponga, modificar la informaci&oacute;n personal a trav&eacute;s del sitio o enviando un correo a ventas.ecomerce@vastus.cl</p>
                    <p>La sola visita de este sitio no impone al usuario obligaci&oacute;n alguna, a menos que haya expresado en forma inequ&iacute;voca y mediante actos positivos su voluntad de aceptar una determinada oferta por parte de Comercial Vastus SpA, en la forma indicada en estos t&eacute;rminos y condiciones.</p>
                    <p>Por lo tanto, al usar el sitio&nbsp;familymarket.cl&nbsp;usted est&aacute; de acuerdo con los t&eacute;rminos y condiciones de estas pol&iacute;ticas de privacidad. Si nuestras pol&iacute;ticas llegasen a cambiar en el futuro, se notificar&aacute; a nuestros clientes y usuarios del sitio web acerca de cualquier cambio sufrido, colocando un aviso de dicho cambio en nuestro sitio de Internet.</p>
                    <p>Realizado el aviso de dicho cambio, si usted contin&uacute;a utilizando nuestro sitio se dar&aacute;n por aceptados dichos cambios. Por lo tanto, el usuario es responsable de la revisi&oacute;n peri&oacute;dica de estas pol&iacute;ticas de privacidad y cualquier posible modificaci&oacute;n de las mismas.</p>
                    <p>5. Formaci&oacute;n del consentimiento en los contratos celebrados en el sitio.</p>
                    <p>En este sitio web se ofrecen determinados productos, que podr&aacute;n ser aceptados por v&iacute;a electr&oacute;nica, con los mecanismos que el mismo sitio ofrece para ello. Toda aceptaci&oacute;n de oferta quedar&aacute; sujeta a la condici&oacute;n suspensiva de que Comercial Vastus SpA, confirme la transacci&oacute;n, para lo cual verificar&aacute;:</p>
                    <p><br /> <strong>i)</strong>&nbsp;Que a&uacute;n dispone de las especies en stock.</p>
                    <p><strong>ii)</strong>&nbsp;Que el medio de pago propuesto por el usuario est&aacute; disponible.</p>
                    <p><strong>iii)</strong>&nbsp;Que los datos registrados por el usuario en el sitio coinciden con los dados al aceptar la oferta.&nbsp;<br /> <br /> Para informar al usuario esta confirmaci&oacute;n, Comercial Vastus SpA, deber&aacute; enviarle una confirmaci&oacute;n escrita a la misma direcci&oacute;n electr&oacute;nica que haya registrado el usuario aceptando la oferta, o por cualquier medio de comunicaci&oacute;n que garantice el debido y oportuno conocimiento del consumidor, el que se le indicar&aacute; previamente en el mismo sitio. El consentimiento se entender&aacute; formado desde el momento en que se env&iacute;a esta confirmaci&oacute;n escrita al usuario.</p>
                    <p>6. Errores tipogr&aacute;ficos</p>
                    <p><br /> En el caso de que cualquier producto aparezca con un precio incorrecto o con informaci&oacute;n incorrecta debido directamente a un error tipogr&aacute;fico, Comercial Vastus SpA, tendr&aacute; el derecho de rechazar o cancelar cualquier pedido de los productos enumerados con el precio incorrecto. De esta manera, tendremos el derecho a denegar o cancelar tales pedidos, ya sea o no que la orden haya sido confirmada y cargada a su tarjeta de cr&eacute;dito. En el caso de que la compra haya sido cargada a su tarjeta de cr&eacute;dito y su orden es cancelada, se emitir&aacute; inmediatamente un cr&eacute;dito a su cuenta de tarjeta de cr&eacute;dito con el importe respectivo.</p>
                    <p>7. Ley Aplicable</p>
                    <p>Los presentes t&eacute;rminos y condiciones se encuentran regidos sin excepci&oacute;n y en todos los puntos por las leyes chilenas vigentes.</p>
                    <p>8. Validez de las ofertas contenidas en este sitio.</p>
                    <p>Los precios de los productos y servicios disponibles en este sitio, mientras aparezcan en &eacute;l, s&oacute;lo tendr&aacute;n vigencia y aplicaci&oacute;n en &eacute;ste y no ser&aacute;n necesariamente aplicables a otros canales de venta utilizados por las empresas, tales como tiendas f&iacute;sicas, cat&aacute;logos u otros.&nbsp;<br /> <br /> Las promociones que se ofrezcan en este sitio web no son necesariamente las mismas que ofrezcan otros canales de venta utilizados por la empresa.</p>
                    <p>9. Promociones</p>
                    <p>En el caso de que se realicen promociones u ofertas de productos, &eacute;stas tendr&aacute;n validez para las compras efectuadas desde la fecha de comienzo de las mismas, hasta la de finalizaci&oacute;n de la oferta. Los t&eacute;rminos y condiciones de las mismas ser&aacute;n comunicados en el sitio, y estar&aacute;n siempre sujetas a la existencia en stock de los productos ofrecidos. Las promociones no son necesariamente las mismas que ofrezcan otros canales de venta utilizados por Comercial Vastus SpA.</p>
                    <p>&nbsp;</p>
                    <p>10. Propiedad Intelectual</p>
                    <p>Todos los contenidos incluidos en este sitio, incluyendo textos, fotograf&iacute;as, im&aacute;genes, formularios, videos, sonidos, entre otros, son propiedad exclusiva de Comercial Vastus Spa.</p>
                    <p>Vastus, es una marca registrada y su uso est&aacute; estrictamente prohibido para aquellos que no est&eacute;n expresamente autorizados por sus respectivos titulares.</p>
                    <p>11. Nuestra direcci&oacute;n</p>
                    <p>En caso de que desee, por favor env&iacute;e cualquier pregunta o comentario con respecto a este sitio a trav&eacute;s de nuestro correo electr&oacute;nico:</p>
                    <p>Correo de contacto:&nbsp;ventas.ecomerce@vastus.cl o al tel&eacute;fono 051-2672000</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div>
                        <p>C&Oacute;MO COMPRAR</p>
                    </div>
                    <p>Comercial Vastus SpA, utiliza WebPay, Transferencias y pagos contra entrega, como medios de pago.</p>
                    <p>Ante cualquier duda de c&oacute;mo realizar una compra puedes hacer tus preguntas a trav&eacute;s de nuestra p&aacute;gina de contacto o al correo electr&oacute;nico:&nbsp;<a href="http://www.gianidafirenze.cl/contact">ventas.ecomerce@vastus.cl</a></p>
                    <ul>
                        <li>Moneda</li>
                    </ul>
                    <p>Todos los precios del sitio est&aacute;n expresados en pesos chilenos, moneda de curso legal en Chile. Todos los productos incluyen IVA.</p>
                    <p>&nbsp;</p>
                    <div>
                        <p>Condicisiones del despacho</p>
                    </div>
                    <ul>
                        <li>La entrega de tu compra ser&aacute; dentro de los plazos indicados en la p&aacute;gina de acuerdo a los lugares de despacho seleccionados.</li>
                        <li>Si compras m&aacute;s de un producto, en distintos pedidos, pueden que estos lleguen en distintas fechas dependiendo de la hora en que fueron ingresadas dichas compras.</li>
                        <li>Verifica que el domicilio ingresado en la solicitud de compra en familymarket.cl est&eacute; correcto a la hora de generar una nueva compra.</li>
                        <li>El despacho no tiene costo, por lo que solo se debe pagar el monto total de los productos comprados sin incurrir en cargos adicionales.</li>
                        <li>Si vives en un edificio, los productos ser&aacute;n dejados en conserjer&iacute;a.</li>
                        <li>Considera las dimensiones del producto:</li>
                        <ul>
                            <li>Comprueba que pueda ingresar por los accesos donde se deba trasladar.</li>
                            <li>Considera los obst&aacute;culos en el camino.</li>
                        </ul>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <ul>
                        <li>Recuerda revisar el o los productos al momento de ser entregados. Es esta la instancia que tienes para rechazar el producto si este no cumple con las caracter&iacute;sticas ofrecidas.</li>
                        <li>Si el producto no cumple con las condiciones ofrecidas, se debe rechazar la entrega y gestionaremos un cambio dentro de las siguientes 48 horas.</li>
                        <li>La persona que reciba el o los producto, debe aceptar la factura o gu&iacute;a de despacho que entrega el transportista, y si recibe conforme, debe firmar con su nombre y RUT.&nbsp;</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>Cualquier duda, escr&iacute;benos a <a href="mailto:ventas.ecomerce@vastus.cl">ventas.ecomerce@vastus.cl</a> o ll&aacute;manos al 051-2672000.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    {% include '../home/footer.html' %}
{% end %}