<!--Segundo banner-->
<section style="display: block; height: 570px; margin-top: -70px;">
    <div class="container">
    <div class="" style="position: relative;">
        {% if is_admin %}
        <div class="image-upload visible-movil">
            <label for="img_second2">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_img_second2" name="image" id="img_second2" >
        </div>
        {% end %}
        <div style="width: 100%">
           
            <img class="decolor img_banner2 img-responsive" id="{{ site.name }}_img_second2" src="{{ read_image(site.name + '_img_second2', 1) }}"  onload="this.onload='';this.src='{{ read_image(site.name + '_img_second2',500) }}'" alt="item" style=" ">
            
            <div class="cuadro-layer">
            <div class="cuadro-white">  
                <a id="{{ site.name + '_img_second_banner' }}" href="{{ read_link(site.name + '_img_second_banner') }}">  
                <h1 class="col-lg-12 col-md-12 col-xs-12 text-center text-sb1-new {{editabletext}}" text-id="{{ site.name + '_second_banner' }}"> {{ read_text(site.name +  '_second_banner') }}
                </h1>
                </a>
                <!--editable link-->
                {% if is_admin %}
                <img class="change-image editablelink" link-id="{{ site.name + '_img_second_banner' }}" content="{{ read_link(site.name + '_img_second_banner') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 24px;position: relative;z-index: 2;">
                {% end %}
            </div>
            </div>
        </div>
        </div>
</section>
