<section class="h_second_text pad0">
    <div class="col-md-12 col-sm-12 box">
        <h1 class="text_main two text-center {{editabletext}}" text-id="{{ site.name + '_text_second' }}"> {{ read_text(site.name +  '_text_second') }}
        </h1>
    </div>
</section>

<section class="h_second_text pad0">
    <div class="col-md-12 col-sm-12 box">
        <h1 class="text_new_home text-center {{editabletext}}" text-id="{{ site.name + '_text_second_new_home' }}"> {{ read_text(site.name +  '_text_second_new_home') }}
        </h1>
    </div>
</section>
