<section class="h_third_text">
    <div class="col-md-12 col-sm-12 box margin_third">
        <h1 class="text_main text-center {{editabletext}}" text-id="{{ site.name + '_text_third' }}"> {{ read_text(site.name +  '_text_third') }}
        </h1>
    </div>
</section>


<section>
   <div class="container">
      <div class="col-md-12">
         <div align="center">
          <div class="contenedor-bot">
               <div class="col-md-3">
                <div class="min">
               	<div style="position:relative;  margin-top: 10px;">
                   <img class="img-box-bot" src="https://84static.loadingplay.com/static/images/c17251ee0693f62c9121163acb5f2e16_health.png">
               	</div>
               	<div class="text-a {{editabletext}}" text-id="{{ site.name + '_a' }}"> {{ read_text(site.name +  '_a') }} </div>
               	<div class="text-b {{editabletext}}" text-id="{{ site.name + '_om' }}"> {{ read_text(site.name +  '_om') }} </div>
               </div>
             </div>

               <div class="col-md-3">
                <div class="min">
               	<div style="position:relative;  margin-top: 10px;">
                     <img class="img-box-bot-2" src="https://7static.loadingplay.com/static/images/c96a7c84bb45afddc9e0067baed6d166_curve.png">
               	</div>
               	<div class="text-a {{editabletext}}" text-id="{{ site.name + '_b' }}"> {{ read_text(site.name +  '_b') }} </div>
               	<div class="text-b {{editabletext}}" text-id="{{ site.name + '_im' }}"> {{ read_text(site.name +  '_im') }} </div>
               </div>
             </div>

                <div class="col-md-3">
                  <div class="min">
               	<div style="position:relative; margin-top: 10px;">
                   <img class="img-box-bot-3" src="https://84static.loadingplay.com/static/images/3a63013b14a4d514f197bd07df3788db_heart.png">
               	</div>
               	<div class="text-a {{editabletext}}" text-id="{{ site.name + '_c' }}"> {{ read_text(site.name +  '_c') }} </div>
               	<div class="text-b {{editabletext}}" text-id="{{ site.name + '_em' }}"> {{ read_text(site.name +  '_em') }} </div>
               </div>
               </div>

                <div class="col-md-3">
                  <div class="min">
               	<div style="position:relative; margin-top: 10px;">
                   <img class="img-box-bot-4" src="https://7static.loadingplay.com/static/images/49624e982e8e3bcd1d66bfbcfb1f7e6b_chronos.png">
               	</div>
               	<div class="text-a {{editabletext}}" text-id="{{ site.name + '_d' }}"> {{ read_text(site.name +  '_d') }} </div>

               	<div class="text-b {{editabletext}}" text-id="{{ site.name + '_am' }}"> {{ read_text(site.name +  '_am') }} </div>
               </div>
                 </div>
          </div>
         </div>
      </div>        
    </div>
</section>


<section>
  <div class="container">
     <div class="caja-rosa-dos">
     	<i class="fa fa-exclamation-circle dos" aria-hidden="true"></i>
     	<div class="ros {{editabletext}}" text-id="{{ site.name + '_reser_ros' }}"> {{ read_text(site.name +  '_reser_ros') }} </div>
      <a href="{{ site_base }}/formulario">
     	<button type="button" class="btn btn-default res">Reserva aquí</button>
      </a>
     </div>
  </div>
</section>

<section class="h_first_text_new_2 pad0">
    <div class="col-md-12 col-sm-12 box">
        <h1 class="text_main text-center {{editabletext}}" text-id="{{ site.name + '_text_main_new_2' }}"> {{ read_text(site.name +  '_text_main_new_2') }}
        </h1>
    </div>
</section>