{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css" />
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/imageloader.js" ></script>

<script type="text/javascript" src="{{ site_base }}/common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ site_base }}/common/js/bodegas/dist/bodegas.client.js"></script>

<div type="template" id="product_loading" style="display:none;" >
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<div type="template" id="product_template" class="hidden">
    <div class="col-sm-4 mlb-product especial">
        <div class="col-sm-12 sobre-botones caja-m" style="padding: 10px !important; z-index: 1;" onclick="">
            <div class="cont-boxes">
                <div class="box-product" onclick="">
                    <div class="vertical-center-cont">
                        <div class="horizontal-center-cont">
                            <div class="box-product-info" onclick="">
                                <!--<button type="button" class="add-to-cart btn btn-outline" product-id="{{! id }}" product-name="{{! name }}" product-upp="{{! upp }}" product-price="{{! main_price|money }}">DETALLE</button> -->
                                <a class="mas-info" href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                                  <!--   <button type="button" class="Prod-btn " data-toggle="button" aria-pressed="false" autocomplete="off">Agregar al carro</button> -->
                                    <button type="button" class="btn btn-outline">DETALLE</button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <img src="{{! images[0]['thumb_1'] }}" onload="this.onload='';this.src='{{! images[0]['thumb_200'] }}'" class="img-responsive lazy" alt="item">
            </div>
        </div>
        <a class="mas-info-detalle" href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}" style="z-index: 2;">
        <h1>{{! name }}</h1>
        </a>
        <h2 class="add-to-cart">{{! main_price|money }}</h2>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function()
    {

        var base_url = 'https://apibodegas.loadingplay.com/',
            checkout_url ='https://pay.loadingplay.com';

        function isLocalHost() {
            return document.location.href.indexOf('localhost') != -1;
        }

        function isDevelopment() {
            return document.location.href.indexOf('ondev.today') != -1;
        }

        // configure for each enviroment
        if ( isLocalHost() )
        {
            base_url = 'https://apibodegas.loadingplay.com/',
            checkout_url = 'https://pay.loadingplay.com';

            // base_url = 'https://apibodegas.loadingplay.com/';
            // checkout_url = 'https://apibodegas.loadingplay.com/';
        }
        else if ( isDevelopment() )
        {

            base_url = 'https://apibodegas.loadingplay.com/',
            checkout_url = 'https://pay.loadingplay.com';
        }

        // initialize ecommerce
        var facade = $('.products').ecommerce(
            {
                'app_public' : 3,
                'site_id': 3,
                'products_per_page' : 24,
                'base_url' : base_url,
                'checkout_url': checkout_url,
                'ignore_stock' : true,
                'site_name': 'mlb'
            });

    });
</script>
<script type="text/javascript">
    $(document).ready(function(){


    //fancyAlert("holi");

    $("button.add-to-cart").click(function(){
        var product_id = $(this).attr("product-id");
        var size = $("#size").val()
        var quantity = $("#quantity").val()
        $.ajax({
            url:"/cart/add",
            cache: false,
            data:"product_id="+product_id+"&size="+size+"&quantity="+quantity+"&user_id="+window.localStorage.getItem("user_id"),
            success:function(html){
                if(html!="ok"){
                    fancyAlert(html);
                } else {
                    GetCartByUserId(window.localStorage.getItem("user_id"));
                    $(".absolute-cart-box").fadeIn();
                }
            }
        })
    });

    var size_changed = function(){
        var sku = $(this).attr("sku");
        var size = $(this).val();
        $.ajax({
            url:"/kardex/getunitsbysize",
            cache: false,
            data:"sku="+sku+"&size="+size,
            success:function(html){
                if(html.indexOf("error") > -1){
                    fancyAlert(html);
                    $("#quantity").empty();
                    var total_unidades = parseInt(html);
                    $("#quantity").append($("<option></option>").attr("value",0).text(0));
                } else {
                    $("#quantity").empty();
                    var total_unidades = parseInt(html);
                    for (i = 1; i <= total_unidades; i++) {
                        $("#quantity").append($("<option></option>").attr("value",i).text(i));
                    }
                }
            }
        });
    };

    $("#size").change(size_changed);
    $("#size").trigger( "change" );
});

</script>

<script type="text/javascript">
  $(document).ready(function()
  {
    $(document).on("click", ".mas-info", function()
    {
      var a = $(this).parent().parent().parent().parent().parent().parent().parent().children("h2");

      if(a.html() == "Agotado")
      {
        document.cookie = "stock=none";
      }
      else
      {
        document.cookie = "stock=true";
      }
    });

    $(document).on("click", ".mas-info-detalle", function()
    {
      var a = $(this).parent().children("h2");

      if(a.html() == "Agotado")
      {
        document.cookie = "stock=none";
      }
      else
      {
        document.cookie = "stock=true";
      }
    });
  });
</script>

{% end %}

{% block body %}
    <div id="wrap">
        <!-- registration -->
        <div class="" style="width: 100%;">
            <!-- raw 1 -->
            <div class="row" style="margin: 0px !important;">

                {% include '../content/slider.html' %}
                {% include '../content/footer.html' %}
            </div>
            <div class="carritoproductos clearfix">
                <div class="flecha clearfix">
                </div>
            </div>
        </div>
    </div>


{% end %}
