@import url('https://fonts.googleapis.com/css?family=Damion');
#enviar{
	margin-left: 60%;
	background:#94b7bb; 
	border: 0px;
	color: white;
	width: 18%;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
.more-products{
    border-radius: 0px;
    display: block;
    position: relative;
    left: 13%;
    border-style: none;
    background-color: #94b7bb !important;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    height: 30px;
    letter-spacing: 0.1em;
    background-image: none;
}
.more-products:hover{
    border-radius: 0px;
    display: block;
    position: relative;
    left: 13%;
    border-style: none;
    background-color: #94b7bb !important;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    height: 30px;
    letter-spacing: 0.1em;
    background-image: none;
}
#enviar:hover{
	background-color: #E53623;
}

.regl{
	background-color: #E53623 !important;
}

.ref{
	background-color: transparent !important;
	color: black !important;
	font-family: 'Open Sans',sans-serif;
    font-size: 12px;
}

.ref:hover{
	background-color: transparent !important;
	color: #E53623 !important;
	font-family: 'Open Sans',sans-serif;
    font-size: 12px;
}

.ordena-position{
	float: right;
    position: relative;
    top: 45px;
    right: -12%;
    z-index: 99;
}

.drop-ordenar{
	left: -118%;
    top: -22px;
}

.ordenar-text{
	width: 142px !important;
    height: 22px !important;
}

#barra:hover{
	color: #E53623;
}
#enviar2{
	margin-left: 60%;
	background:#94b7bb; 
	border: 0px;
	color: white;
	width: 10%;
}
#enviar2:hover{
	background-color: #E53623;
}
#enviar3{
	font-size: 13px;
	letter-spacing: 1px;
	margin-left: 65%;
	background:#94b7bb; 
	border: 0px;
	color: white;
	width: 11%;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 1024px){
	.linea{
		width: 100% !important;
	}
	.escribanos{
		margin-left: 2.6% !important;
	}
	.contenidoContacto{
		margin-left: 0%;
	}
	#enviar3{
		margin-left: 87%;
	}
	.tituloContacto{
		right: 73%;
	}
}