
.box-pro-det-ban{
  position: relative;
  overflow: hidden;
  /*height: 100%;*/
  width: 100%;
  bottom: 25px;

}

.box-pro-det-ban .mask-det-ban{
    position: absolute;
    background: rgba(0,0,0,0.4);
    height: 552px;
    width:100%;
    top: -26px;
    opacity: 1;

}


/*---responsive---*/
@media (max-width: 1280px){
    .box-pro-det-ban .mask-det-ban{
        height: 518px;
    }
}

@media (max-width: 1262px){
    .box-pro-det-ban .mask-det-ban{
         height: 512px;
    }
}

@media (max-width: 1246px){
    .box-pro-det-ban .mask-det-ban{
            height: 504px;
    }
}

@media (max-width: 1222px){
    .box-pro-det-ban .mask-det-ban{
            height: 496px;
    }
}

@media (max-width: 1203px){
    .box-pro-det-ban .mask-det-ban{
         height: 488px;
    }
}

@media (max-width: 1182px){
    .box-pro-det-ban .mask-det-ban{
          height: 480px;
    }
}
  
@media (max-width: 1166px){
    .box-pro-det-ban .mask-det-ban{
        height: 474px;
    }
}

@media (max-width: 1152px){
    .box-pro-det-ban .mask-det-ban{
        height: 467px;
    }
}

@media (max-width: 1129px){
    .box-pro-det-ban .mask-det-ban{
          height: 459px;
    }
}

@media (max-width: 1110px){
    .box-pro-det-ban .mask-det-ban{
            height: 452px;
    }
}

@media (max-width: 1094px){
    .box-pro-det-ban .mask-det-ban{
           height: 446px;
    }
}

@media (max-width: 1081px){
    .box-pro-det-ban .mask-det-ban{
     height: 441px;
    }
}

@media (max-width: 1062px){
    .box-pro-det-ban .mask-det-ban{
        height: 433px;
    }
}

@media (max-width: 1044px){
    .box-pro-det-ban .mask-det-ban{
        height: 427px;
    }
}

@media (max-width: 1031px){
    .box-pro-det-ban .mask-det-ban{
        height: 422px;
    }
}

@media (max-width: 1016px){
    .box-pro-det-ban .mask-det-ban{
        height: 415px;
    }
}

@media (max-width:1000px){
  .box-pro-det-ban .mask-det-ban{
        height: 409px;
    }

}

@media (max-width:900px){
.box-pro-det-ban .mask-det-ban {
    height: 370px;
  }
}


@media (max-width: 800px){
    .box-pro-det-ban .mask-det-ban {
    height: 330px;
   }
}

@media (max-width: 701px){
    .box-pro-det-ban .mask-det-ban {
    height: 294px;
   }

}

@media(min-width: 756px)and (max-width: 760px){
    .box-pro-det-ban .mask-det-ban{
        height: 314px;
    }
}


@media(min-width: 746px)and (max-width: 755px){
    .box-pro-det-ban .mask-det-ban{
        height: 310px;
    }
}


@media(min-width: 738px)and (max-width: 745px){
    .box-pro-det-ban .mask-det-ban{
        height: 307px;
    }
}

@media(min-width: 731px)and (max-width: 737px){
    .box-pro-det-ban .mask-det-ban{
        height: 304px;
    }
}


@media(min-width: 726px)and (max-width: 730px){
    .box-pro-det-ban .mask-det-ban{
        height: 302px;
    }
}

@media(min-width: 716px)and (max-width: 725px){
    .box-pro-det-ban .mask-det-ban{
        height: 295px;
    }
}

@media(min-width: 708px)and (max-width: 715px){
    .box-pro-det-ban .mask-det-ban{
        height: 296px;
    }
}

@media(min-width: 702px)and (max-width: 707px){
    .box-pro-det-ban .mask-det-ban{
        height: 294px;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .box-pro-det-ban .mask-det-ban {
    height: 417px !important;
 }
}


@media screen and (max-width: 700px){
    .box-pro-det-ban{
    height: 82%;
  }
  
  .b-detail{
    height: 82% !important;
  } 
  
  .box-pro-det-ban .mask-det-ban{
        height: 537px;
  }
}