.fondo-footer{
    background: #424242;
    height: 111px;
    margin-top: 0px;
}

.no-dot{
    list-style: none;
    font-size: 30px;
    font-weight: 700;
    color: #A4A4A4;
    margin-left: -35px;
    position: relative;
    top: 10px;
    overflow: hidden;
    height: 100px;
    margin-bottom: 0px;
}

.text-bot{
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.box{

    bottom: 3px;
    position: relative;
}


.iconos-footer{
    position: absolute;
    padding-left: 4px;
    bottom: -1px;
}

.name-red-foo{
    float: right;
    color: white;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    bottom: 9px;
    height: 23px;
    overflow: hidden;
}


.tt{
    bottom: -18px;

}

.redes-footer {
    margin-top: 40px;
    padding-left: 235px;
}

.a-footer{
      font-size: 14px;
    margin-bottom: 0px;
    position: relative;
    bottom: 15px;
    color: gray;
}

/*----------------------------------Star Responsive------------------------------------*/

@media (max-width: 1280px){

   .text-bot{
     font-size: 13px;
}
   
   .iconos-footer{
        padding-left: 4px;
        bottom: -1px;
}
  
   .name-red-fo{
      left: 34px;
      bottom: -9px;
}

  .tt {
    bottom: -4px;
}

.fondo-footer {
    background: #424242;
    height: 124px;
    margin-top: 0px;
}

.no-dot {
    height: 111px;
}

}

@media (max-width: 1269px){
  .co {
    width: 1099px;
  }
}

@media (max-width: 1271px){
    .name-red-fo{
        font-size: 19px;
    }
}

@media (max-width: 1228px){
    .name-red-fo{
        font-size: 18px;
    }
}

@media (max-width: 1199px){
    .redes-footer {
    padding-left: 233px;
    margin-top: 23px;
}

.name-red-foo {
    float: inherit;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    bottom: 9px;
    height: 23px;
    overflow: hidden;
}

}

@media (max-width: 1185px){
    .name-red-fo{
        font-size: 17px;
    }
}

@media (max-width: 1141px){
    .name-red-fo{
        font-size: 16px;
    }
}

@media (max-width: 1127px){
   .text-bot {
    font-size: 12px;
   }
}

@media (max-width: 1098px){
   .name-red-fo{
        font-size: 15px;
    }
}

@media (max-width: 1055px){
   .name-red-fo{
        font-size: 14px;
    }
}

@media (max-width: 1030px){
  .fondo-footer {
    background: #424242;
    height: 136px;
    margin-top: 0px;
}

.no-dot {
    height: 123px;
}

}

@media (max-width: 1029px){
  .redes-footer {
    padding-left: 190px;
}
}

@media (max-width: 1004px){
  .redes-footer {
    padding-left: 193px;
}
}

@media (max-width: 991px){
    .no-dot{
        font-size: 24px;
    }
    
    .fil{
        width: 8.666667%;
    }

 .name-red-foo {
    float: initial;
    padding: 28px 0px;
    font-size: 10px;
}
 
.iconos {
    /* padding: 0px 0px; */
    position: relative;
    bottom: 40px;
    margin-left: 18px;
}

.iconos.iconos2 {
    /* padding: 0px 0px; */
    position: relative;
    bottom: 0px;
    margin-left: 0px;
}

}

@media (max-width: 934px){
    .iconos-footer {
    padding-left: 18px;
   }
   
   .name-red-fo {
    left: 45px;
}

}

@media (max-width: 813px){
  .redes-footer {
    padding-left: 198px;
}

.text-bot {
    font-size: 11px;
}

}

@media (max-width: 785px){
  .redes-footer {
    padding-left: 208px;
}

}

@media (max-width: 767px){
    .fondo-footer{
        margin-top: 49px;
        height: 185px;
    }

   .box{
    left: 48px;
     width: 101%;
   }

  .fil {
    width: 16.666667%;
  }
  
  .name-red-fo {
    left: 50px;
}

.redes-footer {
    padding-left: 102px;
}

.no-dot {
    margin-bottom: 9px;
}

.iconos.hed {
    /* padding: 0px 0px; */
    position: relative;
    bottom: 44px;
    padding-left: 54px;
}


}

@media screen and (max-width: 700px){
    .fondo-footer{
        height: 265px;
    }

   .box{
    width: 107%;
    bottom: -25px;
    left: 15px;

   }
   
   .name-red-fo{
    font-size: 14px;
    left: 6px;
    bottom: -23px;
    padding-left: 0px;
   }
   
   .no-dot{
        text-align: center;
   }

   .iconos-footer{
    position: inherit;
   }
   
   .iconos2{
    padding: 0px 8px !important;
    bottom: -16px !important;
    }

   .re-1{
        top: 26px;
   }
   
   .re-2{
       top: 22px;
   }
   
   .redes-footer {
    padding-left: 51px;
}
  
  .name-red-foo{
    bottom: -1px;
  }

}

@media (max-width: 485px){
  .name-red-foo{
    width: 128%;
  }
}

@media (max-width: 480px){
  .iconos.hed {
    /* padding: 0px 0px; */
    position: relative;
    bottom: 36px;
    padding-left: 46px;
}

}

@media (max-width: 430px){
  .name-red-foo{
    width: 150%;
  }
}

@media (max-width: 414px){
  .iconos.hed {
    /* padding: 0px 0px; */
    position: relative;
    bottom: 36px;
    padding-left: 32px;
}

}

@media (max-width: 400px){
  .name-red-foo {
    width: 160%;
}

}


@media (max-width: 390px){
  .name-red-foo {
    width: 174%;
}

}


@media (max-width: 375px){
  .name-red-foo {
    width: 200%;
    float: right;
    font-size: 10px !important;
}

.iconos.iconos2 {
    /* padding: 0px 0px; */
    position: relative;
    bottom: 0px;
    margin-left: -29px;
}


}

@media (max-width: 367px){

.iconos2 {
    padding: 0px 13px !important;
    bottom: -18px !important;
}

}

@media (max-width: 360px){
.iconos.hed {
    /* padding: 0px 0px; */
    position: relative;
    bottom: 36px;
    padding-left: 20px;
}

}

@media (max-width: 344px){
  .name-red-foo {
    font-size: 8px;
}

}

@media (max-width: 320px){
  .iconos {
    padding: 0px 34px;
    position: relative;
    bottom: 12px;
}

.iconos.hed {
    /* padding: 0px 0px; */
    position: relative;
    bottom: 36px;
    padding-left: 6px;
}

}