/*.img-cat {
    height: 395px;
    margin-bottom: 18px;
}

img.img-edit {
    position: relative;
    display: table;
    width: 100%;
    height: 395px;
    object-fit: cover !important;
    max-width: none;
    text-align: center;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.text-box {
    position: absolute;
    bottom: 0;
    font-size: 30px;
    color: white;
    left: 0px;
    padding-bottom: 200px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    padding-left: 23px;
    padding-right: 23px;
}

.img-text-center {
    position: absolute;
    display: table-cell;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1030;
    padding: 125px 30px;
    text-decoration: none;
}

.box-product {
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px);
}

*/

.img-music{
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.texto-canciones{
    font-size: 21px;
    color: #b3aa6c;
    font-weight: 600;
    margin-bottom: -7px;
}