{% extends "../base.html" %}
{% block title %}
{{ site.name }}
{% end %}
{% block header %}
{% include '../home/inside_header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/static/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ site_base }}/static/css/bootstrap.css">
<link rel="stylesheet" href="{{ site_base }}/static/css/font-awesome-4.4.0/css/font-awesome.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400,700' rel='stylesheet' type='text/css'>
{% end %}
{% block scripts %}
<script type="text/javascript" src="{{ site_base }}/static/js/jquery.js"></script>
<!-- <script type="text/javascript" src="{{ site_base }}/static/js/bootstrap.js"></script> -->
<script type="text/javascript" src="{{ site_base }}/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/plugins/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/plans.js"></script>
{% end %}
{% block body %}

<div class="container text-cont">
<div class="space50"> </div>

<h1 class="fweight100">Preguntas frecuentes</h1>
<br>
<ol>
<li>¿Qué es el Método RDK®?</li>

<p>El Método RDK® es un programa personalizado de pérdida de peso bajo control médico basado en una Dieta Proteinada, cuyo objetivo es perder peso desde el inicio y mantener los resultados obtenidos a largo plazo. Se divide en Cuatro Fases: Inicio, Adelgazamiento, Transición, Estabilización. Ya en las primeras dos se elimina hasta el 80% del sobrepeso.</p><br>

<li>Me han comentado que con el Método RDK® la pérdida de peso es muy rápida. ¿Cuál es la duración del tratamiento?</li>

<p>la pérdida de peso que se consigue con el Método RDK® es en promedio 1-1,5 Kg semanal
La duración del tratamiento depende de la cantidad de kilos que el paciente necesita perder. Aunque lo que sí podemos asegurar es que la pérdida es mucho más rápida que en otras dietas y que se pierde localmente donde más grasa se tiene.</p><br>

<li>¿Me voy a arrugar o a tener flaccidez con esta Dieta?</li>
<p>A diferencia de otros regímenes, el aporte de Proteína de Alto Valor Biológico ReduKcal tiene un impacto positivo sobre su piel y sus músculos, ya que éstos están constituidos esencialmente de proteínas.</p><br>
<li>He oído decir que con el Método RDK® es posible mantener el peso a largo plazo. ¿Cuál es la clave para ello?</li>

<p>Las etapas de Transición y Estabilización del Método RDK® está centrada en la reeducación alimentaria, a través de la cual el paciente adquiere nuevos hábitos alimentarios que le ayudarán a mantener el peso a largo plazo. </p><br>

<li>La seguridad del Método RDK®. </li>

<p>El Método RDK® es un tratamiento seguro y está destinado a ser  realizado por personas sanas.</p><br>


<li>¿Están incluidos dentro del tratamiento los servicios de asesoría en nutrición y coaching?</li>

<p>Sí. En los packs de tratamientos de más 30 días los servicios de asesoría en nutrición y coaching forman parte del Método RDK®, de ahí que estén a disposición del paciente de manera personalizada y gratuita a traves de email o contacto por mensajería, whatsapp.</p><br>

<li>Se dice que la cetosis no es un estado peligroso y con el cual no se pasa hambre. ¿Es correcto? ¿Qué diferencia hay con cetoacidosis?</li>

<p>La cetosis inducida por el Método RDK® es una situación metabólica de adaptación y es segura. No debe confundirse nunca con cetoacidosis. El punto clave que diferencia ambas circunstancias es que la cetoacidosis solamente ocurre cuando la insulina es inexistente, es decir, en los pacientes diabéticos tipo 1. </p>
<p>La cetosis se produce cuando el aporte de hidratos de carbono (azúcares) de la dieta es bajo y, por tanto, el organismo tiene que recurrir a las reservas grasas para obtener la energía que necesita. Este proceso da lugar a la formación de los llamados cuerpos cetónicos, los cuales serán utilizados como combustible por determinados órganos y producirán un efecto psicoestimulante.</p>
<p>En cambio, la cetoacidosis es una situación grave que tiene lugar en los pacientes diabéticos tipo 1 cuando están descompensados. En este caso, los niveles de glucosa (azúcar en sangre) son elevados, pero como el organismo no puede utilizar esa glucosa porque existe un déficit de insulina, se generan cuerpos cetónicos de forma rápida e incontrolada. Esta superproducción de cuerpos cetónicos crea importantes desequilibrios y conduce a una situación crítica, como el descenso del pH sanguíneo, la desmineralización y la deshidratación grave.</p><br>

<li>¿Cómo me sentiré con este método?</li>

<p>Es posible que durante los 3 primeros días perciba algunos síntomas de agotamiento. Sin embargo, una vez que el metabolismo entre en el estado de cetosis, estos síntomas desaparecerán, ya que los cuerpos cetónicos producen un efecto psicoestimulante, por lo que el paciente siente bienestar y vitalidad. Además, se sugiere a la administración adecuada de suplementos vitamínicos.</p><br>

<li>¿Existe algún tipo de contraindicación para realizar el tratamiento?</li>

<p>La edad y algunas patologías, como la insuficiencia renal grave, pueden ser condicionantes a la hora de realizar el tratamiento. En todo caso, cuando se tenga algún  criterio de exclusion, sera  el médico evaluador del Método RDK® quien valore la situación del paciente a través de pruebas médicas y descarte posibles contraindicaciones.</p><br>

<li>¿Es necesario el chequeo médico?</li>

<p>NO, en personas con un estado de salud óptimo. </p>
<p>Sí, en aquellos casos de personas no 100% sanas y/o con  obesidad, o que tengan uno o más criterios de exclusion, es imprescindible para poder realizar el tratamiento. En estos casos, el médico comprobará el estado metabólico y descartará posibles contraindicaciones. La nutricionista fijará los objetivos de la pérdida de peso. Durante el resto del tratamiento, el médico hará un seguimiento periódico del estado del paciente. </p><br>

<li>¿Qué contienen los productos ReduKcal®?</li>

<p>El perfil nutricional de los productos ReduKcal® está específicamente desarrollado para aportar 15 gramos aprox. de proteínas de Alto Valor Biológico con una cantidad mínima de hidratos de carbono y grasas. </p>
<p>Estos productos se presentan en distintos formatos y sabores para satisfacer las diferentes necesidades del paciente.</p>
</ol>
<div class="space50"> </div>
</div>
{% include '../home/footer.html' %}
{% end %}