<div id="header">
    <div id="logo">
        <img class="hidden-lg hidden-md hidden-sm visible-xs bag_movil " src="https://84static.loadingplay.com/static/images/9a6a4069607bd82879c8e1e400b0ba63_bolsita.png" product-id="{{! id }}" product-name="{{! name }}" product-price="{{! main_price }}" product-upp="{{! upp }}" data-toggle="modal" data-target="#myModal">

        <a href="{{ site_base}}/">
            <img class="logo2" src="{{ read_image(site.name + '_logo', 500) }}" alt="Slider 6" longdesc="{{ read_image(site.name + '_logo',500) }}"/>
        </a>
    </div>
    <a class="hidden-xs return" href="javascript:history.back()"> ← Volver</a>
    <input  class="hidden-xs hidden-sm hidden-lg pull-right" id="activar" name="activar" type="checkbox"> 
    <label class="inputlabel hidden-xs pull-right menu_desplegable" for="activar"> + Menu</label>
    <div class="desplegable">
        <div id="menu" class="clearfix not_mobile">
            <div>
                <ul class="clearfix">
                    <li class="parent">
                        <a class="list-menu" href="{{ site_base}}/cubreplumones?tag=cubreplumones">CUBREPLUMONES</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">1,5 PLAZA</a></li>
                                    <li><a href="">2 PLAZAS</a></li>
                                    <li><a href="">CUNA</a></li>
                                    <li><a href="">KING</a></li>
                                    <li><a href="">SUPER KING</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li class="parent">
                        <a class="list-menu" href="{{ site_base }}/sabanas?tag=sabanas">SÁBANAS</a>
                            <!-- <div>
                                <ul>
                                   <li><a href="">1 PLAZA</a></li>
                                    <li><a href="">2 PLAZAS</a></li>
                                    <li><a href="">CUNA</a></li>
                                    <li><a href="">GRACO</a></li>
                                    <li><a href="">KING</a></li>
                                    <li><a href="">MOISES</a></li>
                                    <li><a href="">SUPER KING</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li class="parent">
                        <a class="list-menu" href="{{ site_base }}/sabana_bajera?tag=sabana%20bajera">SÁBANAS BAJERA</a>
                            <!-- <div>
                                <ul>
                                   <li><a href="">1 PLAZA</a></li>
                                    <li><a href="">1,5 PLAZAS</a></li>
                                    <li><a href="">2 PLAZAS</a></li>
                                    <li><a href="">CUNA</a></li>
                                    <li><a href="">GRACO</a></li>
                                    <li><a href="">KING</a></li>
                                    <li><a href="">SUPER KING</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li>
                        <a class="list-menu" href="{{site_base }}/faldon?tag=faldon">FALDÓN</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">1,5 PLAZA</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li>
                        <a class="list-menu" href="{{site_base }}/cojin?tag=cojin">COJÍN</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">COJIN</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li>
                        <a class="list-menu" href="{{site_base }}/mantas?tag=mantas">MANTAS</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">MANTAS GUAGUA</a></li>
                                    <li><a href="">MANTAS</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li>
                        <a class="list-menu" href="{{site_base }}/cortinas?tag=cortinas">CORTINAS</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">CORTINAS</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li class="parent">
                        <a class="list-menu" href="{{ site_base}}/cubrecama?tag=cubrecama">CUBRECAMAS</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">1,5 PLAZA</a></li>
                                    <li><a href="">KING</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li>
                        <a class="list-menu" href="{{site_base }}/accesorios?tag=accesorios">ACCESORIOS</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">ALMOHADA</a></li>
                                    <li><a href="">CASCABEL</a></li>
                                    <li><a href="">CASCABEL PELUCHE</a></li>
                                    <li><a href="">PANTUFLAS</a></li>
                                    <li><a href="">PELUCHE</a></li>
                                    <li><a href="">PORTACHUPETE</a></li>
                                    <li><a href="">TUTO</a></li>
                                    <li><a href="">TURTO GRANDE</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li class="parent">
                        <a class="list-menu" href="{{site_base }}/individual?tag=individual">INDIVIDUAL</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">INDIVIVUAL</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li class="parent">
                        <a class="list-menu" href="{{site_base }}/proyectos?tag=proyectos">PROYECTOS</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">DORMITORIOS</a></li>
                                    <li><a href="">SALAS DE ESTAR</a></li>
                                    <li><a href="">TERRAZAS</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li class="parent">
                        <a class="list-menu" href="{{ site_base}}/toalla_turca?tag=toalla%20turca">TOALLA TURCA</a>
                            <!-- <div>
                                <ul>
                                    <li><a href="">TOALLA TURCA BAÑO</a></li>
                                    <li><a href="">TOALLA TURCA PLAYA</a></li>
                                </ul>
                            </div> -->
                    </li>
                    <li class="parent">
                        <a class="list-menu" href="{{ site_base}}/contact">CONTACTO</a>
                    </li>
                    {% if is_admin %}
                   <!-- FANCYBOX -->
                    <li>
                        <a class="fancybox fancybox.iframe img_lista" href="{{site_base }}/edit_image_home">Imagenes</a>
                    </li>
                    {% end %}
                </ul>

                    <div id="search" class="clearfix visible-lg visible-md visible-sm hidden-xs">
                        <div style="float:left; display:block; margin-top:25px; margin-left:10px;">
                            <a href="https://www.facebook.com/complementadiseno?fref=ts">
                                <img src="https://7static.loadingplay.com/static/images/f3a3f396f488148addf1f0f13c1de273_FB-icon.png" border="0" style="padding: 2px;">
                            </a>

                            <a href="https://www.instagram.com/complementadiseno/" target="blank">
                            <img src="https://84static.loadingplay.com/static/images/eeb84079c6d73e50ad9d4e71c7c366f8_IG-icon.png" style="padding: 2px;">
                            </a>

                            <img src="https://84static.loadingplay.com/static/images/3256f0494eab27e3e81a0ef2f2b2e6c9_P-icon.png" style="padding: 2px;">
                        </div>
                    </div>
            </div> 
        </div>
    </div>
            <!-- MENU MOVIL -->
            <div id="dl-menu" class="dl-menuwrapper hidden-lg hidden-md hidden-sm">
                <button class="dl-trigger">Open Menu</button>
                <ul class="dl-menu">
                    <li><a href="{{ site_base}}/cubreplumones?tag=cubreplumones">CUBREPLUMONES</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">1,5 PLAZA</a></li>
                            <li><a href="">2 PLAZAS</a></li>
                            <li><a href="">CUNA</a></li>
                            <li><a href="">KING</a></li>
                            <li><a href="">SUPER KING</a></li>
                        </ul> -->
                    </li>
                    <li><a href="{{ site_base }}/sabanas?tag=sabanas">SABANAS</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">1 PLAZA</a></li>
                            <li><a href="">2 PLAZAS</a></li>
                            <li><a href="">CUNA</a></li>
                            <li><a href="">GRACO</a></li>
                            <li><a href="">KING</a></li>
                            <li><a href="">MOISES</a></li>
                            <li><a href="">SUPER KING</a></li>
                        </ul> -->
                    </li>
                    <li class=""><a href="{{ site_base }}/sabana_bajera?tag=sabana%20bajera">SÁBANAS BAJERA</a>
                       <!--  <ul class="submenu cols1">
                            <li><a href="">1 PLAZA</a></li>
                            <li><a href="">1,5 PLAZAS</a></li>
                            <li><a href="">2 PLAZAS</a></li>
                            <li><a href="">CUNA</a></li>
                            <li><a href="">GRACO</a></li>
                            <li><a href="">KING</a></li>
                            <li><a href="">SUPER KING</a></li>
                        </ul> -->
                    </li>

                    <li><a href="{{site_base }}/faldon?tag=faldon">FALDÓN</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">1,5 PLAZA</a></li>
                        </ul> -->
                    </li>

                    <li><a href="{{site_base }}/cojin?tag=cojin">COJÍN</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">COJIN</a></li>
                        </ul> -->
                    </li>

                    <li><a href="{{site_base }}/mantas?tag=mantas">MANTAS</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">MANTAS GUAGUA</a></li>
                            <li><a href="">MANTAS</a></li>
                        </ul> -->
                    </li>
                    <li><a href="{{site_base }}/cortinas?tag=cortinas">CORTINAS</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">CORTINAS</a></li>
                        </ul> -->
                    </li>
                    <li class="parent"><a href="{{ site_base}}/cubrecama?tag=cubrecama">CUBRECAMAS</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">1,5 PLAZA</a></li>
                            <li><a href="">KING</a></li>
                        </ul> -->
                    </li>
                    <li><a href="{{site_base }}/accesorios?tag=accesorios">ACCESORIOS</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">ALMOHADA</a></li>
                            <li><a href="">CASCABEL</a></li>
                            <li><a href="">CASCABEL PELUCHE</a></li>
                            <li><a href="">PANTUFLAS</a></li>
                            <li><a href="">PELUCHE</a></li>
                            <li><a href="">PORTACHUPETE</a></li>
                            <li><a href="">TUTO</a></li>
                            <li><a href="">TURTO GRANDE</a></li>
                        </ul> -->
                    </li>

                    <li class="parent"><a href="{{site_base }}/individual?tag=individual">INDIVIDUAL</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">INDIVIVUAL</a></li>
                        </ul> -->
                    </li>

                    <li class="parent"><a href="{{site_base }}/proyectos?tag=proyectos">PROYECTOS</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">DORMITORIOS</a></li>
                            <li><a href="">SALAS DE ESTAR</a></li>
                            <li><a href="">TERRAZAS</a></li>
                        </ul> -->
                    </li>

                    <li class="parent"><a href="{{ site_base}}/toalla_turca?tag=toalla%20turca">TOALLA TURCA</a>
                        <!-- <ul class="submenu cols1">
                            <li><a href="">TOALLA TURCA BAÑO</a></li>
                            <li><a href="">TOALLA TURCA PLAYA</a></li>
                        </ul> -->
                    </li>

                    <li>
                        <a href="{{ site_base}}/contact">
                            CONTACTO 
                        </a>
                    </li>
                    {% if is_admin %}
                    <!-- FANCYBOX -->
                    <li>
                    <a class="fancybox fancybox.iframe img_lista" href="{{ site_base }}/edit_image_home">Imagenes</a> 
                    </li>
                    {% end %}
                </ul>
            </div>

            <div class="clearfix">
            </div>

            <div id="welcome">
                Bienvenido, <a href="indexe223.html?route=account/login">Acceder</a> o <a href="index5502.html?route=account/register">Crear una cuenta</a>. 
            </div>
</div>
