

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/
.img-bolsa {
    width: 21%;
    position: relative;
    left: -13px;
    top: 6px;
    cursor: pointer;
    float: right;
}
.nav>li>a {
    font-size: 20px;
    
    position: relative;
    height: 70px;
    top: -11px;
    padding-top: 25px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: gray;
background-color: transparent;
text-decoration: underline;
outline:none !important;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;

}
.base-logo{

    position: relative;
    bottom: 51px;
    right: 69px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-nav.navbar-right:last-child {
    margin-right: 1px;
}

.navbar-left {
    float: left!important;
    top: 11px;
    position: relative;
}
.navbar-right{
    position: relative;
    top: 11px;
}
.menu-cerro-castillo{
    top: 80px;
    position: relative;
    background-color: #575556;
    color: white !important;
    
}

.menu-safari{
    z-index: 1000;
    position: relative;
    
}

.navbar {
     margin-bottom: 0px!important; 
}

.text-header{
    color: White;
    font-weight: 400;
}

.logo {
    width: 200px;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    object-fit: scale-down;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  -webkit-transition:background 1s ease-out;
  -moz-transition:background 1s ease-out;
  -o-transition:background 1s ease-out;
  -ms-transition:background 1s ease-out;
  transition:background 1s ease-out;
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color:white ;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3) !important;
-webkit-transition:background 1s ease-out;
-moz-transition:background 1s ease-out;
-o-transition:background 1s ease-out;
-ms-transition:background 1s ease-out;
transition:background 1s ease-out;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3)!important;
    color: white!important;
    -webkit-transition:background 1s ease-out;
    -moz-transition:background 1s ease-out;
    -o-transition:background 1s ease-out;
    -ms-transition:background 1s ease-out;
    transition:background 1s ease-out;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
-webkit-transition:background 1s ease-out;
-moz-transition:background 1s ease-out;
-o-transition:background 1s ease-out;
-ms-transition:background 1s ease-out;
transition:background 1s ease-out;
}

.movil-h{
    color:white!important;
-webkit-transition:background 1s ease-out;
-moz-transition:background 1s ease-out;
-o-transition:background 1s ease-out;
-ms-transition:background 1s ease-out;
transition:background 1s ease-out;
}
.movil-h:hover{
    background-color: rgba(255, 255, 255, 0.3)!important;
    color: white!important;
-webkit-transition:background 1s ease-out;
-moz-transition:background 1s ease-out;
-o-transition:background 1s ease-out;
-ms-transition:background 1s ease-out;
transition:background 1s ease-out;
}
/* EXAMPLE 9 - Center with Flexbox and Text*/
.brand-centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  -webkit-transform: translate(0,-50%);
          transform: translate(0,-50%);
  margin-right: 15px;
  margin-left: 15px;
}


.navbar-nav>li>.dropdown-menu {
  z-index: 9999;

}


@media (max-width: 767px){


.logo {
    width: 132px;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    margin-left: 90px;
    object-fit: scale-down;
    margin-top: 7px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 1px;
    width: 100%;
    display: inline-block;
}

.navbar-left {
    float: left!important;
    right: 0px;
    position: relative;
    width: 100%;
}

.img-bolsa {
    width: 4%;
    position: relative;
    left: -13px;
    top: 12px;
    cursor: pointer;
    float: right;
}

}

@media (max-width: 414px){

.logo {
    width: 132px;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    margin-left: 69px;
    object-fit: scale-down;
    margin-top: 7px;
}

.img-bolsa {
    width: 7%;
    position: relative;
    left: -13px;
    top: 13px;
    cursor: pointer;
    float: right;
}

}

@media (max-width: 400px){

}