<section>
    <div class="fondo-footer">
      <div class="container">
        <div class="col-md-6 col-sm-6">
          <div  align="center">
            <img class="logo-footer" src="https://84static.loadingplay.com/static/images/26abb9979fff033bbd4a7e092056e07c_LOGO_GLAM_FOOTER.png">
          </div>
        </div>
        <div class="col-md-6">
          <div  align="center">
           <div class="texto-footer {{editabletext}}" text-id="{{ site.name + '_p_p' }}">{{ read_text(site.name +  '_p_p') }}</div>
         </div>
       </div>
      </div>
    </div>
</section>
