<!-- footer -->
<footer class="bg-black-magle">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm-3 footer-top" style="text-align:left;">
                <ul class="nav-list effect textos-footer ">
                    <li><p style="margin:0px 0px 3px;"><span style="font-size: 20px; font-weight: 500; letter-spacing: 3px;">HOME</span></p></li>
                    <li>__________</li>
                </ul>
                <ul class="nav-list effect textos-footer " style="margin-top: 10px;">
                    
                    <li><a href="{{ site_base }}/">Home</a></li>
                    <li><a href="{{ site_base }}/aboutus">Nosotros</a></li>
                    <li><a href="{{ site_base }}/contact">Contacto</a></li>
                    <li><a href="{{ site_base }}/terms_conditions">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="col-sm-3" style="text-align:left;">
                <ul class="nav-list effect textos-footer ">
                <li><p style="margin:0px 0px 3px;"><span style="font-size: 20px; font-weight: 500; letter-spacing: 3px;">CATEGORÍAS</span></p></li>
                    <li>__________</li>
                </ul>
                <ul class="nav-list effect textos-footer " style="margin-top: 10px;">
                    <li><a class="tag" href="{{ site_base }}?tag=urbano">Urbano</a></li>
                    <li><a class="tag" href="{{ site_base }}?tag=andino">Andino</a></li>
                    <li><a class="tag" href="{{ site_base }}?tag=fusion">Fusión</a></li>
                    <li><a class="tag" href="{{ site_base }}?tag=cojines">Cojines</a></li>
                    <li><a class="tag" href="{{ site_base }}?tag=pieceras">Pieceras</a></li>
                    <li><a class="tag" href="{{ site_base }}?tag=revisteros">Revisteros</a></li>
                </ul>
            </div>
            <div class="col-sm-3" style="text-align:left;">
            <ul class="nav-list effect textos-footer ">
                <li><p style="margin:0px 0px 3px;"><span style="font-size: 20px; font-weight: 500; letter-spacing: 3px;">SOCIAL</span></p></li>
                    <li>__________</li>
                </ul>
                <ul class="nav-list effect textos-footer " style="margin-top: 10px;">
                    <li><a href="/">facebook</a></li>
                    <li><a href="/">pinterest</a></li>
                    <li><a href="/">instagram</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="nav-list effect textos-footer ">
                    <li><a href="/"><img class=""src="https://static.loadingplay.com/static/images/2a80be6e96ce07e169035c5c91a5a70c_Logo_MLB.png" style="max-height:50px;max-width:100%;"></a></li>
                    <li><a href="/"><img class="img-responsive"src="{{ site_base }}/static/img/webpay.png" height="50px"></a></li>
<!--                     <li><p>Magdalena Le Blanc<b>  </b> © 2015. Designed by <a href="" target="_blank">Loadingplay.com</a>.</p></li> -->
                </ul>
            </div>
            <div class="col-sm-6 text_footer">
                <!-- <ul class="nav-list effect "> -->
                    <p>Magdalena Le Blanc<b>  </b> © 2015. Designed by <a href="" target="_blank">Loadingplay.com</a>.</p>
                <!-- </ul> -->
            </div>
        </div>
    </div>
</footer>