{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block javascript %}

<script type="text/javascript">
    $(document).ready(function()
    {
              // base_url = 'http://localhost:8520/';
        // checkout_url = 'http://localhost:8522/';
        // base_url = 'https://apibodegas.loadingplay.com/';
        // checkout_url = 'https://pay.loadingplay.com/';
        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com/',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(14,14,14);

        // var base_url = 'https://apibodegas.loadingplay.com/';
        // var checkout_url = 'https://pay.loadingplay.com';
        // var app_public = 14;

        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 8,
            'templateOrigin' : '#product_template_home',
            'tag' : '',
            'ignore_stock' : true,
            'onLoad':function(){
               $('.ellipsis').ellipsis();
             }
        };

        $('.product-list').ecommerce('product_box', config);

    });
</script>



{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

{% include '../home/banner_one.html' %}
<section>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="text-left fra {{editabletext}}" text-id="{{ site.name + '_fra_1' }}"> {{ read_text(site.name +  '_fra_1') }}</div>
                  </div>
              </div>
          </div>
</section>


<section>
    <!-- *articulos* -->

     <div class="container">
        <div class="row">
            {{ getArticleList(limit=3, html="page/article_home.html") }}
        </div>
    </div>
        
        <div class="row">
            <div class="col-md-12">
                <div align="center">
                    <a href="{{ site_base }}/listado_articulos">
                         <button type="button" class="btn btn-all-article">Ver todos estos artículos </button>
                    </a>
                </div>
            </div>
        </div>

  
</section>

<!-- <section>
      <div style="position: relative;">
        {% if is_admin %}
               <div class="image-upload lapiz visible-movil">
                   <label for="img_banner_home_2">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_banner_home_2" name="image" id="img_banner_home_2" >
               </div>
        {% end %}
                <img id="{{ site.name }}_banner_home_2" src="{{ read_image(site.name + '_banner_home_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_home_2',500) }}'" class="banner-hom-2" alt="item">

                 <div class="col-md-12">
                    <h1 class="text-center bay {{editabletext}}" text-id="{{ site.name + '_bay_1' }}"> {{ read_text(site.name +  '_bay_1') }}</h1>
                </div>
       </div>
</section>
 -->

   
<section>     

<!--   <div style="position: relative;">
        {% if is_admin %}
               <div class="image-upload lapiz visible-movil">
                   <label for="img_banner_home_4">
                       <img class="change-image lapiz" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_banner_home_4" name="image" id="img_banner_home_4" >
               </div>
        {% end %}
                <img id="{{ site.name }}_banner_home_4" src="{{ read_image(site.name + '_banner_home_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_home_4',500) }}'" class="banner-hom-4" alt="item">

                <div align="center">
                      <a href="{{ site_base }}/listado_producto">
                         <button type="button" class="btn btn-all-prod">Ver todos los productos</button>
                      </a>
                </div>
  </div> -->
         <!-- <div class="container">
              <div class="col-md-12"> 
                       <a href="">
                        <h1 class="text-center lis"> Ver nuestros productos destacados</h1>
                        </a>
                </div>
            <div class="product-list"></div> -->
             <!--    <div class="row">
                 <div align="center"> 
                     <div class="col-md-3 col-sm-6 col-xs-12"> 
                        <img class="img-responsive mini" src="https://84static.loadingplay.com/static/images/0002442fe013ffbd94c2f2ff4b077684_0031.png">
                       <a href="{{ site_base }}/sc/product/detail/{{! name }}/{{! id }}">
                       <button type="button" class="btn btn-nom">Ver producto </button>
                       </a>
                     </div>
                      <div class="col-md-3 col-sm-6 col-xs-12"> 
                        <img class="img-responsive mini" src="https://84static.loadingplay.com/static/images/0002442fe013ffbd94c2f2ff4b077684_0031.png">
                       <a href="{{ site_base }}/sc/product/detail/{{! name }}/{{! id }}">
                       <button type="button" class="btn btn-nom">Ver producto</button>
                       </a>
                     </div>
                      <div class="col-md-3 col-sm-6 col-xs-12"> 
                        <img class="img-responsive mini" src="https://84static.loadingplay.com/static/images/0002442fe013ffbd94c2f2ff4b077684_0031.png">
                        <a href="{{ site_base }}/sc/product/detail/{{! name }}/{{! id }}">
                        <button type="button" class="btn btn-nom">Ver producto </button>
                        </a>
                     </div>
                      <div class="col-md-3 col-sm-6 col-xs-12"> 
                        <img class="img-esponsive mini" src="https://84static.loadingplay.com/static/images/0002442fe013ffbd94c2f2ff4b077684_0031.png">
                      <a href="{{ site_base }}/sc/product/detail/{{! name }}/{{! id }}">
                      <button type="button" class="btn btn-nom">Ver producto </button>
                      </a>
                     </div>
                </div>
             </div>  -->
         <!-- </div>
        

        <div class="row">
            <div class="col-md-12">
                <div align="center">
                    <a href="{{ site_base }}/listado_producto">
                         <button type="button" class="btn btn-all-prod">Ver todos los productos</button>
                    </a>
                </div>
            </div>
        </div> -->
</section>

<section>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
               <div class="text-intro-ban text-left {{editabletext}}" text-id="{{ site.name + '_text_ban' }}"> {{ read_text(site.name +  '_text_ban') }}</div>
          </div>
        </div>
    </div>
</section>

<section id="contenedor">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-xs-12">
              {% if is_admin %}
               <div class="image-upload lapiz visible-movil">
                   <label for="img_box_dan_1">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_box_dan_1" name="image" id="img_box_dan_1" >
               </div>
          {% end %}
            <a id="{{ site.name + '_box_dan_1' }}" href="{{ read_link(site.name + '_box_dan_1') }}">
               <img id="{{ site.name }}_box_dan_1" src="{{ read_image(site.name + '_box_dan_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_dan_1',500) }}'" class="box-dan img-responsive" alt="item">
            </a>   

          <!--  <img class="img-resposnive" src="https://7static.loadingplay.com/static/images/b4ef8e06a26a0fb3a6d55921ee20c127_2939603_640px.png"> -->
    
           <div class="texto-box text-left {{editabletext}}" text-id="{{ site.name + '_text_1' }}"> {{ read_text(site.name +  '_text_1') }} </div>  
                
                <!-- {% if is_admin %}
                  <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_1' }}" content="{{ read_link(site.name + '_box_dan_1') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                {% end %} -->
                <!--editable link-->
                {% if is_admin %}
                <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_1' }}" content="{{ read_link(site.name + '_box_dan_1') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;">
                {% end %}  
          </div>
          
          <div class="col-md-4 col-xs-12">
             {% if is_admin %}
               <div class="image-upload lapiz visible-movil">
                   <label for="img_box_dan_2">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_box_dan_2" name="image" id="img_box_dan_2" >
               </div>
          {% end %}
               <a id="{{ site.name + '_box_dan_2' }}" href="{{ read_link(site.name + '_box_dan_2') }}">
               <img id="{{ site.name }}_box_dan_2" src="{{ read_image(site.name + '_box_dan_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_dan_2',500) }}'" class="box-dan img-responsive" alt="item">
               </a>
         <!--   <img class="img-responsive" src="https://7static.loadingplay.com/static/images/b4ef8e06a26a0fb3a6d55921ee20c127_2939603_640px.png"> -->
            <div class="texto-box text-left {{editabletext}}" text-id="{{ site.name + '_text_2' }}"> {{ read_text(site.name +  '_text_2') }}</div>
             
             <!-- {% if is_admin %}
                  <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_2' }}" content="{{ read_link(site.name + '_box_dan_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                {% end %} -->
                <!--editable link-->
                {% if is_admin %}
                <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_2' }}" content="{{ read_link(site.name + '_box_dan_2') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;">
                {% end %}
        
          </div>

          
          <div class="col-md-4 col-xs-12">
             {% if is_admin %}
               <div class="image-upload lapiz visible-movil">
                   <label for="img_box_dan_3">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_box_dan_3" name="image" id="img_box_dan_3" >
               </div>
          {% end %}
               <a id="{{ site.name + '_box_dan_3' }}" href="{{ read_link(site.name + '_box_dan_3') }}">
               <img id="{{ site.name }}_box_dan_3" src="{{ read_image(site.name + '_box_dan_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_dan_3',500) }}'" class="box-dan img-responsive" alt="item">
               </a>
          <!--  <img class="img-responsive" src="https://7static.loadingplay.com/static/images/b4ef8e06a26a0fb3a6d55921ee20c127_2939603_640px.png"> -->
              <div class="texto-box text-left {{editabletext}}" text-id="{{ site.name + '_text_3_3' }}"> {{ read_text(site.name +  '_text_3_3') }}</div>
                  <!-- {% if is_admin %}
                  <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_3' }}" content="{{ read_link(site.name + '_box_dan_3') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                {% end %} -->
                <!--editable link-->
                {% if is_admin %}
                <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_3' }}" content="{{ read_link(site.name + '_box_dan_3') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;">
                {% end %}
         
          </div>
          
          <div class="col-md-4 col-xs-12 ">
             {% if is_admin %}
               <div class="image-upload lapiz visible-movil">
                   <label for="img_box_dan_4">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_box_dan_4" name="image" id="img_box_dan_4" >
               </div>
          {% end %}
              <a id="{{ site.name + '_box_dan_4' }}" href="{{ read_link(site.name + '_box_dan_4') }}">
               <img id="{{ site.name }}_box_dan_4" src="{{ read_image(site.name + '_box_dan_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_dan_4',500) }}'" class="box-dan img-responsive" alt="item">
               </a>
         <!--   <img class="img-responsive" src="https://7static.loadingplay.com/static/images/b4ef8e06a26a0fb3a6d55921ee20c127_2939603_640px.png"> -->
              <div class="texto-box text-left {{editabletext}}" text-id="{{ site.name + '_text_4' }}"> {{ read_text(site.name +  '_text_4') }}</div>
             <!-- {% if is_admin %}
                  <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_4' }}" content="{{ read_link(site.name + '_box_dan_4') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                {% end %} -->
                <!--editable link-->
                {% if is_admin %}
                <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_4' }}" content="{{ read_link(site.name + '_box_dan_4') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;">
                {% end %}
          
          </div>
       
        <div class="col-md-12 col-xs-12">
              {% if is_admin %}
               <div class="image-upload lapiz visible-movil">
                   <label for="img_box_dan_5">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_box_dan_5" name="image" id="img_box_dan_5" >
               </div>
          {% end %}
            <a id="{{ site.name + '_box_dan_5' }}" href="{{ read_link(site.name + '_box_dan_5') }}">
               <img id="{{ site.name }}_box_dan_5" src="{{ read_image(site.name + '_box_dan_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_dan_5',500) }}'" class="box-dan img-responsive" alt="item">
            </a>   

          <!--  <img class="img-resposnive" src="https://7static.loadingplay.com/static/images/b4ef8e06a26a0fb3a6d55921ee20c127_2939603_640px.png"> -->
    
           <div class="texto-box text-left {{editabletext}}" text-id="{{ site.name + '_text_5' }}"> {{ read_text(site.name +  '_text_5') }} </div>  
                <!-- {% if is_admin %}
                  <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_5' }}" content="{{ read_link(site.name + '_box_dan_5') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                {% end %}    --> 
                <!--editable link-->
                {% if is_admin %}
                <img class="change-image editablelink" link-id="{{ site.name + '_box_dan_5' }}" content="{{ read_link(site.name + '_box_dan_5') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;">
                {% end %}
          </div>


       </div>
    </div>
    <div class="clearfix fex"></div>
</section>




{% include '../home/footer.html' %}
{% end %}


