hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(153, 153, 153, 0.38);
    width:99%;
}

.ul-1{
     font-size: 27px;
    color: #555;
    font-weight: 400;
    width: 110%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas{
	font-weight: 600;
    font-size: 16px;
    color: gray;
}

.inform-comerc{
    width: 100%;
    position: relative;
    left: 83px;
    z-index: 1030;
}


.inform-comerc-2{
	margin-left: 22px;
	width: 100%;
    height: 100%;
}

.ul-2{
	font-weight: 600;
    color: gray;
    font-size: 16px;
    text-align: right;
    overflow: hidden;
}

.pas-2{
	text-align: right;
	margin-left: -3px;
    width: 100%;
    color: gray;
    font-size: 15px;

}

.pas-3{
    margin-left: 4px;
    width: 100%;
    text-align: right;
    font-size: 15px;
    color: gray;
}

.pas-4{
	  color: gray;
    font-size: 15px;
    text-align: right;
}

.d-o{

}

.no-dot {
    position: relative;
    left: -16px;
    /* width: 118%; */
    margin-bottom: 45px;
    height:100%;
    overflow: hidden;
    /* display: table-cell; */
    padding: 4px;
}

.no-doti{
    position: relative;
    left: -27px;
    width: 132%;
    margin-bottom: 45px;
    height: 200px;
    overflow: hidden;
}

a.a-footer{
  color: #428bca;
}

.img-tel{
    width: 30px;
    position: relative;
    bottom: 2px;
}

/*----------------------------------------------Responsive-----------------------------------*/
@media (max-width: 1271px){
.no-dot {
    position: relative;
    left: -27px;
    width: 103%;
}

.no-doti {
    position: relative;
    left: -36px;
    width: 144%;
}


}


@media (max-width: 1147px){
.inform-comerc {
    width: 100%;
    position: relative;
    left: 56px;
}

}

@media (max-width: 1110px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 132%;
}

}

@media (max-width: 1060px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 135%;
}

}


@media (max-width: 1038px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 140%;
}

}


@media (max-width: 1000px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 155%;
}

}

@media (max-width: 991px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 130%;
}

}


@media (max-width: 886px){
  .d-o {
    margin-left: 13px;
}


   .inform-comerc {
    width: 100%;
    position: relative;
    left: 62px;
    z-index: 2000000;
}

}

@media (max-width: 768px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 138%;
}

}

@media (max-width: 767px){
.inform-comerc {
    width: 100%;
    position: relative;
    left: 0px;
    z-index: 2000000;
}

.inform-comerc-2 {
    margin-left: 0px;
    width: 100%;
    height: 100px;
}

.d-o {
    margin-right: 0px;
    position: relative;
    margin-left: 0px;
    width: 100%;
    top: 127px;
    /* left: 338px; */
}

.no-dot {
    margin-bottom: 40px;
    width: 100%;
    left: 0px;
    height: 181%;
}

.no-doti {
    position: relative;
    left: 0px;
    width: 95%;
    text-align: center;
}

.ul-1{
    text-align: center;
    width: 100%;
}

.ul-2{
    width: 100%;
    text-align: center;
}

.pas-2 {
    text-align: center;
    margin-left: -3px;
    width: 100%;
    color: gray;
    font-size: 15px;
}

.pas-3 {
    margin-left: 0px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: gray;
}

.pas-4 {
    color: gray;
    font-size: 15px;
    text-align: center;
    width: 100%;
}

}


@media (max-width: 375px){
    .no-doti {
    position: relative;
    left: 0px;
    width: 95%;
    text-align: center;
}

}

@media (max-width: 320px){
    .no-doti {
    height: 246px;

}

}
