{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block css %}

{% if is_admin %}
{% end %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
<style type="text/css">

  body , html{
    overflow-x:hidden;
  }
</style>
{% end %}


{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/filter.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/filtros.js"></script>

<script type="text/javascript">
    $(document).ready(function()
    {

      $(document).on("click", ".background-color-producto", function(){
        $(this).css("border", "black solid 2px");
      });

    //   
    $(document).on("click", ".categ", function(ev){

    $(".subcateg").removeClass('active');
        $(this).addClass('active');
    });

    var hyper2 = Utils.getUrlParameter('search_query');

    if(hyper2 != undefined){
      $(".tag-header").html("Resultados");
    }

    var hyper = Utils.getUrlParameter('tag').split(',');

    if(hyper[0] == "mujer"){
      $(".tag-header").html("Mujeres");
    }

    if(hyper[0] == "hombre"){
      $(".tag-header").html("Hombres");
    }

    if(hyper[0] == "nino"){
      $(".tag-header").html("Niños");
    }

    if(hyper[0] == "oferta"){
      $(".tag-header").html("Oferta");
    }

    });
</script>

<script type="text/javascript">
    $("#testButton").live("touchstart", function() {
      $(this).addClass("active");
    }).live("touchend", function() {
      $(this).removeClass("active");
    });

</script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
<body id="lapimport">

    <section>
      <div class="container min">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="texto-header-pro hidden-xs texto-ruta"> Home </div>
        </div>
      </div>
    </section>


<section>
   <div class="container min dos">
    <div class="col-md-3 col-sm-3 col-xs-12">
 <section class="h_submenu hidden-xs visible-md visible-sm visible-lg">
          <div class="col-md-12 col-sm-12 col-xs-12 mtl text-center" style="padding-top: 0px;margin-bottom: 50px;border-right: 1px solid rgba(128, 128, 128, 0.4);width: 92%;left: 8%;">
          <div class="text-fil"> TIPO DE ZAPATO <i class="fa fa-plus botonMasFiltros" aria-hidden="true"></i> </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-filtros">
                <input type="checkbox" class="categ c-ballerinas" name="vehicle1" tag="ballerinas" value="Bike" onclick="check('ballerinas')"> <div class="fil" onclick="check('ballerinas')">Ballerinas</div> <i class="fa fa-check-square ch-ballerinas hidden" aria-hidden="true" onclick="uncheck('ballerinas')"></i>
              </div>
              <div class="filtro-filtros">
                <input type="checkbox" class="categ c-botines" name="vehicle2" tag="botines" value="Car" onclick="check('botines')"> <div class="fil" onclick="check('botines')">Botines</div> <i class="fa fa-check-square ch-botines hidden" aria-hidden="true" onclick="uncheck('botines')"></i>
              </div>
              <div class="filtro-filtros">
                <input type="checkbox" class="categ c-mocasines" name="vehicle3" tag="mocasines" value="Boat" onclick="check('mocasines')"> <div class="fil" onclick="check('mocasines')">Mocasines</div> <i class="fa fa-check-square ch-mocasines hidden" aria-hidden="true" onclick="uncheck('mocasines')"></i>
              </div>
              <div class="filtro-filtros">
                <input type="checkbox" class="categ c-plataforma" name="vehicle3" tag="plataforma" value="Boat" onclick="check('plataforma')"> <div class="fil" onclick="check('plataforma')">Plataformas</div> <i class="fa fa-check-square ch-plataforma hidden" aria-hidden="true" onclick="uncheck('plataforma')"></i>
              </div>
              <div class="filtro-filtros">
                <input type="checkbox" class="categ c-playeras" name="vehicle3" tag="playeras" value="Boat" onclick="check('playeras')"> <div class="fil" onclick="check('playeras')">Playeras</div> <i class="fa fa-check-square ch-playeras hidden" aria-hidden="true" onclick="uncheck('playeras')"></i>
              </div>
              <div class="filtro-filtros">
                <input type="checkbox" class="categ c-sandalias" name="vehicle3" tag="sandalias" value="Boat" onclick="check('sandalias')"> <div class="fil" onclick="check('sandalias')">Sandalias</div> <i class="fa fa-check-square ch-sandalias hidden" aria-hidden="true" onclick="uncheck('sandalias')"></i>
              </div>
              <div class="filtro-filtros">
                <input type="checkbox" class="categ c-zapatos" name="vehicle3" tag="zapatos" value="Boat" onclick="check('zapatos')"> <div class="fil" onclick="check('zapatos')">Zapatos</div> <i class="fa fa-check-square ch-zapatos hidden" aria-hidden="true" onclick="uncheck('zapatos')"></i>
              </div>
          </form>
          <div class="clearfix"></div>

           <div class="text-fil"> OCASIÓN <i class="fa fa-plus botonMasCategorias" aria-hidden="true"></i> </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-categorias">
                <input type="checkbox" class="categ c-casuales" name="vehicle1" tag="casuales" value="Bike" onclick="check('casuales')"> <div class="fil" onclick="check('casuales')">Casuales</div> <i class="fa fa-check-square ch-casuales hidden" aria-hidden="true" onclick="uncheck('casuales')"></i>
              </div>
              <div class="filtro-categorias">
                <input type="checkbox" class="categ c-confort" name="vehicle2" tag="confort" value="Car" onclick="check('confort')"> <div class="fil" onclick="check('confort')">Confort </div><i class="fa fa-check-square ch-confort hidden" aria-hidden="true" onclick="uncheck('confort')"></i>
              </div>
              <div class="filtro-categorias">
                <input type="checkbox" class="categ c-fiesta" name="vehicle3" tag="fiesta" value="Boat" onclick="check('fiesta')"> <div class="fil" onclick="check('fiesta')">Fiesta</div> <i class="fa fa-check-square ch-fiesta hidden" aria-hidden="true" onclick="uncheck('fiesta')"></i>
              </div>
               <div class="filtro-categorias">
                <input type="checkbox" class="categ c-vestir" name="vehicle3" tag="vestir" value="Boat" onclick="check('vestir')"> <div class="fil" onclick="check('vestir')">Vestir</div> <i class="fa fa-check-square ch-vestir hidden" aria-hidden="true" onclick="uncheck('vestir')"></i>
              </div>
          </form>
          <div class="clearfix"></div>

        <div class="text-fil"> MARCA <i class="fa fa-plus botonMasMarca" aria-hidden="true"></i> </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-marca">
                <input type="checkbox" class="categ c-degas" name="vehicle1" tag="degas" value="Bike" onclick="check('degas')"> <div class="fil" onclick="check('degas')">Degas </div><i class="fa fa-check-square ch-degas hidden" aria-hidden="true" onclick="uncheck('degas')"></i>
              </div>
              <div class="filtro-marca">
                <input type="checkbox" class="categ c-manzini" name="vehicle2" tag="manzini" value="Car" onclick="check('manzini')"><div class="fil" onclick="check('manzini')">Eda Manzini</div>
               <i class="fa fa-check-square ch-manzini hidden" aria-hidden="true" onclick="uncheck('manzini')"></i>
               </div>
          </form>
          <div class="clearfix"></div>

         <div class="text-fil"> MATERIAL <i class="fa fa-plus botonMasTalla" aria-hidden="true"></i> </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="checkbox" class="categ c-cuero" name="vehicle1" tag="cuero" value="Bike" onclick="check('cuero','cuero')"><div class="fil" onclick="check('tallas37')"> Cuero </div><i class="fa fa-check-square ch-cuero hidden" aria-hidden="true" onclick="uncheck('cuero','cuero')"></i>
              </div>
              <div class="filtro-talla">
                <input type="checkbox" class="categ c-eco" name="vehicle2" tag="eco" value="Cara" onclick="check('eco','eco')"><div class="fil" onclick="check('eco')"> Eco cuero </div> <i class="fa fa-check-square ch-eco hidden" aria-hidden="true" onclick="uncheck('eco','eco')"></i>
              </div>
          </form>
          <div class="clearfix"></div>

          <div class="text-fil"> COLOR <i class="fa fa-plus botonMasColor" aria-hidden="true"></i> </div>
            <div>
            <form action="/action_page.php" class="chek">
            <div class="filtro-color">
              <input type="checkbox" class="categ c-azul" tag="azul" style="cursor: pointer;" onclick="check('azul')"><div class="fil" onclick="check('azul')">Azul</div><i class="fa fa-check-square ch-azul hidden" aria-hidden="true" onclick="uncheck('azul')"></i>
            </div>
            <div class="filtro-color">
               <input type="checkbox" class="categ c-beige" tag="beige" style="cursor: pointer;" onclick="check('beige')"><div class="fil" onclick="check('beige')">Beige</div><i class="fa fa-check-square ch-beige hidden" aria-hidden="true" onclick="uncheck('beige')"></i>
            </div>
            <div class="filtro-color">
               <input type="checkbox" class="categ c-blanco" tag="blanco" style="cursor: pointer;" onclick="check('blanco')"><div class="fil" onclick="check('blanco')">Blanco</div><i class="fa fa-check-square ch-blanco hidden" aria-hidden="true" onclick="uncheck('blanco')"></i>
            </div>
             <div class="filtro-color">
               <input type="checkbox" class="categ c-burdeo" tag="burdeo" style="cursor: pointer;" onclick="check('burdeo')"><div class="fil" onclick="check('burdeo')">Burdeo</div><i class="fa fa-check-square ch-burdeo hidden" aria-hidden="true" onclick="uncheck('burdeo')"></i>
            </div>
            <div class="filtro-color">
               <input type="checkbox" class="categ c-cafe" tag="cafe" style="cursor: pointer;" onclick="check('cafe')"><div class="fil" onclick="check('cafe')">Cafe</div><i class="fa fa-check-square ch-cafe hidden" aria-hidden="true" onclick="uncheck('cafe')"></i>
            </div>
            <div class="filtro-color">
               <input type="checkbox" class="categ c-dorado" tag="dorado" style="cursor: pointer;" onclick="check('dorado')"><div class="fil" onclick="check('dorado')">Dorado</div><i class="fa fa-check-square ch-dorado hidden" aria-hidden="true" onclick="uncheck('dorado')"></i>
             </div>
            <div class="filtro-color">
               <input type="checkbox" class="categ c-gris" tag="gris" style="cursor: pointer;" onclick="check('gris')"><div class="fil" onclick="check('gris')">Gris</div><i class="fa fa-check-square ch-gris hidden" aria-hidden="true" onclick="uncheck('gris')"></i>
            </div>
            <div class="filtro-color">
               <input type="checkbox" class="categ c-metalico" tag="metalico" style="cursor: pointer;" onclick="check('metalico')"><div class="fil" onclick="check('metalico')">Metalico</div><i class="fa fa-check-square ch-metalico hidden" aria-hidden="true" onclick="uncheck('metalico')"></i>
            </div>

            <div class="filtro-color">
               <input type="checkbox" class="categ c-negro" tag="negro" style="cursor: pointer;" onclick="check('negro')"><div class="fil" onclick="check('negro')">Negro</div><i class="fa fa-check-square ch-negro hidden" aria-hidden="true" onclick="uncheck('negro')"></i>
            </div>

              <div class="filtro-color">
               <input type="checkbox" class="categ c-rojo" tag="rojo" style="cursor: pointer;" onclick="check('rojo')"><div class="fil" onclick="check('rojo')">Rojo</div><i class="fa fa-check-square ch-rojo hidden" aria-hidden="true" onclick="uncheck('rojo')"></i>
            </div>
            </form>

            </div>
        </div>

  </section>
</div>
    <section>
        <div class="col-md-8 col-sm-8 col-xs-12 muu">
          <div class="col-md-12 col-sm-12 col-xs-12 mii">
            <div class="texto-header-pro-2 tag-header"></div><div class="texto-header-pro-3 tag-header2"></div>
          </div>
        <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs visible-md visible-sm visible-lg">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Ordenar por:
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#!" class="mayor">Precio: Mayor a menor</a></li>
                    <li><a href="#!" class="menor">Precio: Menor a mayor</a></li>
                    <li><a href="#!" class="nombre">Nombre</a></li>
                </ul>
            </div>
        </div>
          <div class="">
            <div class=" filtrosRec hidden-xs">
            
                <!-- <div class="ordenar-precio"> Menos de $50.000 <i class="fa fa-times" aria-hidden="true" onclick="uncheck('billeteras')"></i></div> -->
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="limpiar">LIMPIAR TODO </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 kinti">
              <a href="#!" class="variables1" tag="variable_1">Talla </a>
              <a class=""> &nbsp </a>
              <a href="#!" class="variables2" tag="variable_2">Plataforma </a>
               <a class=""> &nbsp </a>
              <a href="#!" class="variables3" tag="variable_3">Forma Taco</a>
          </div>
          <form action="/action_page.php" class="chek">
           <div class="col-md-3 col-sm-3 col-xs-12 vari">
            <div class="filtro-talla c-variable_1">
              <label class="hidden c-variable_1">
                <input class="hidden categ check c-variable_1 c-35" type="checkbox" name="checkbox" tag="35" value="35" onclick="check('35','35')">35
              </label> 
              <i class="fa fa-check-square c-variable_uno ch-35 other hidden" aria-hidden="true" onclick="uncheck('35','35')"></i>
            </div>
            <div class="filtro-talla c-variable_1">
              <label class="hidden c-variable_1">
                <input class="hidden categ check c-variable_1 c-36" type="checkbox" name="checkbox" tag="36" value="36" onclick="check('36','36')">36
              </label>
              <i class="fa fa-check-square c-variable_uno ch-36 other hidden" aria-hidden="true" onclick="uncheck('36','36')"></i>
            </div>
            <div class="filtro-talla c-variable_1">
              <label class="hidden c-variable_1">
                <input class="hidden categ check c-variable_1 c-37" type="checkbox" name="checkbox" tag="37" value="37" onclick="check('37','37')">37
              </label> 
              <i class="fa fa-check-square c-variable_uno ch-37 other hidden" aria-hidden="true" onclick="uncheck('37','37')"></i>
            </div>
              <div class="filtro-talla c-variable_1">
              <label class="hidden c-variable_1">
                <input class="hidden categ check c-variable_1 c-38" type="checkbox" name="checkbox" tag="38" value="38" onclick="check('38','38')">38
              </label> 
              <i class="fa fa-check-square c-variable_uno ch-38 other hidden" aria-hidden="true" onclick="uncheck('38','38')"></i>
            </div>
              <div class="filtro-talla c-variable_1">
              <label class="hidden c-variable_1">
                <input class="hidden categ check c-variable_1 c-39" type="checkbox" name="checkbox" tag="39" value="39" onclick="check('39','39')">39
              </label> 
              <i class="fa fa-check-square c-variable_uno ch-39 other hidden" aria-hidden="true" onclick="uncheck('39','39')"></i>
            </div>
              <div class="filtro-talla c-variable_1">
              <label class="hidden c-variable_1">
                <input class="hidden categ check c-variable_1 c-40" type="checkbox" name="checkbox" tag="40" value="40" onclick="check('40','40')">40
              </label> 
              <i class="fa fa-check-square c-variable_uno ch-40 other hidden" aria-hidden="true" onclick="uncheck('40','40')"></i>
            </div>

            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform03" type="checkbox" name="checkbox" tag="platform03" value="0.3" onclick="check('plataform03','0.3')">0.3cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform03 other hidden" aria-hidden="true" onclick="uncheck('plataform03','0.3')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform05" type="checkbox" name="checkbox" tag="platform05" value="0.5" onclick="check('plataform05','0.5')">0.5cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform05 other hidden" aria-hidden="true" onclick="uncheck('plataform05','0.5')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform07" type="checkbox" name="checkbox" tag="platform07" value="0.7" onclick="check('plataform07','0.7')">0.7cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform07 other hidden" aria-hidden="true" onclick="uncheck('plataform07','0.7')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform1" type="checkbox" name="checkbox" tag="platform1" value="1" onclick="check('plataform1','1')">1cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform1 other hidden" aria-hidden="true" onclick="uncheck('plataform1','1')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform12" type="checkbox" name="checkbox" tag="platform12" value="1.2" onclick="check('plataform12','1.2')">1.2cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform12 other hidden" aria-hidden="true" onclick="uncheck('plataform12','1.2')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform15" type="checkbox" name="checkbox" tag="platform15" value="1.5" onclick="check('plataform15','1.5')">1.5cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform15 other hidden" aria-hidden="true" onclick="uncheck('plataform15','1.5')"></i>
            </div>
             <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform2" type="checkbox" name="checkbox" tag="platform2" value="2" onclick="check('plataform2','2')">2cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform2 other hidden" aria-hidden="true" onclick="uncheck('plataform2','2')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform25" type="checkbox" name="checkbox" tag="platform25" value="2.5" onclick="check('plataform25','2.5')">2.5cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform25 other hidden" aria-hidden="true" onclick="uncheck('plataform2.5','2.5')"></i>
            </div>
             <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform3" type="checkbox" name="checkbox" tag="platform3" value="3" onclick="check('plataform3','3')">3cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform3 other hidden" aria-hidden="true" onclick="uncheck('plataform3','3')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform35" type="checkbox" name="checkbox" tag="platform35" value="3.5" onclick="check('plataform35','3.5')">3.5cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform35 other hidden" aria-hidden="true" onclick="uncheck('plataform35','3.5')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform4" type="checkbox" name="checkbox" tag="platform4" value="4" onclick="check('plataform4','4')">4cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform4 other hidden" aria-hidden="true" onclick="uncheck('plataform4','4')"></i>
            </div>
            <div class="filtro-talla c-variable_2">
              <label class="hidden c-variable_2">
                <input class="hidden categ check c-variable_2 c-plataform45" type="checkbox" name="checkbox" tag="platform4.5" value="4.5" onclick="check('plataform45','4.5')">4.5cms
              </label> 
              <i class="fa fa-check-square c-variable_dos ch-plataform45 other hidden" aria-hidden="true" onclick="uncheck('plataform45','4.5')"></i>
            </div>

            <div class="filtro-talla c-variable_3">
              <label class="hidden c-variable_3">
                <input class="hidden categ check c-variable_3 c-alto" type="checkbox" name="checkbox" tag="alto" value="alto" onclick="check('alto','alto')">Alto
              </label> 
              <i class="fa fa-check-square c-variable_tres ch-alto other hidden" aria-hidden="true" onclick="uncheck('alto','alto')"></i>
            </div>
            <div class="filtro-talla c-variable_3">
              <label class="hidden c-variable_3">
                <input class="hidden categ check c-variable_3 c-bajo" type="checkbox" name="checkbox" tag="bajo" value="bajo" onclick="check('bajo','bajo')">Bajo
              </label> 
              <i class="fa fa-check-square c-variable_tres other ch-bajo hidden" aria-hidden="true" onclick="uncheck('bajo','bajo')"></i>
            </div>
            <div class="filtro-talla c-variable_3">
              <label class="hidden c-variable_3">
                <input class="hidden categ check c-variable_3 c-chino" type="checkbox" name="checkbox" tag="chino" value="chino" onclick="check('chino','chino')">Chino
              </label>
              <i class="fa fa-check-square c-variable_tres ch-chino other hidden" aria-hidden="true" onclick="uncheck('chino','chino')"></i>
            </div>
            <div class="filtro-talla c-variable_3">
              <label class="hidden c-variable_3">
                <input class="hidden categ check c-variable_3 c-medio" type="checkbox" name="checkbox" tag="medio" value="medio" onclick="check('medio','medio')">Medio
              </label>
              <i class="fa fa-check-square c-variable_tres ch-medio other hidden" aria-hidden="true" onclick="uncheck('medio','medio')"></i>
            </div>
            <div class="filtro-talla c-variable_3">
              <label class="hidden c-variable_3">
                <input class="hidden categ check c-variable_3 c-plano" type="checkbox" name="checkbox" tag="plano" value="plano" onclick="check('plano','plano')">Plano
              </label>
              <i class="fa fa-check-square c-variable_tres ch-plano other hidden" aria-hidden="true" onclick="uncheck('plano','plano')"></i>
            </div>
            <div class="filtro-talla c-variable_3">
              <label class="hidden c-variable_3">
                <input class="hidden categ check c-variable_3 c-tacon" type="checkbox" name="checkbox" tag="tacon" value="tacon" onclick="check('tacon','tacon')">Tacón
              </label>
              <i class="fa fa-check-square c-variable_tres ch-tacon other hidden" aria-hidden="true" onclick="uncheck('tacon','tacon')"></i>
            </div>
            <div class="filtro-talla c-variable_3">
              <label class="hidden c-variable_3">
                <input class="hidden categ check c-variable_3 c-terraplen" type="checkbox" name="checkbox" tag="terraplen" value="terraplen" onclick="check('terraplen','terraplen')">Terraplén
              </label>
              <i class="fa fa-check-square c-variable_tres ch-terraplen other hidden" aria-hidden="true" onclick="uncheck('terraplen','terraplen')"></i>
            </div>

          </div>
        </form>
        </div>

    </section>
    <!-- *****fin filtros DESKTOP**** -->



    <!-- ******principio filtros MOVIL**** -->

    <div class="col-xs-12 hidden-md hidden-lg hidden-sm visible-xs">
       <div class="fixx"> 
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="modal" data-target="#myModal-orde">Ordenar por:
          <span class="caret"></span></button>
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="modal" data-target="#myModal-fil">Filtrar por:
          <span class="caret"></span></button>
       </div>
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12">
        <hr class="listado">
    </div>

<div class="visible-xs hidden-md hidden-sm hidden-lg" style="height:450px;display:block;margin:auto auto 0 auto;"></div>
<div class="col-md-8 col-sm-8 col-xs-12  pinki">
    <div class="products"></div>
      <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
      <div class="col-xs-12">
        <div align="center">
           <button type="button" class="btn btn-default more-products" style="display: none">Cargar más productos</button>
        </div>
      </div>
</div>
</section>



</body>
{% include '../home/footer.html' %}
{% end %}


