{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}


{% block javascript %}
<script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-smoove/0.2.6/jquery.smoove.min.js"></script>

    <script>
$(document).ready(function() {
        function isScrolledTo(elem) {
            var docViewTop = $(window).scrollTop(); //num of pixels hidden above current screen
            var docViewBottom = docViewTop + $(window).height();
 
            var elemTop = $(elem).offset().top; //num of pixels above the elem
            var elemBottom = elemTop + $(elem).height();
 
            return ((elemTop <= docViewTop));
        }
 
        var catcher = $('#catcher');
        var sticky = $('#sticky');
    
        $(window).scroll(function() {
            if(isScrolledTo(sticky)) {
                sticky.css('position','fixed');
                sticky.css('top','0px');
            } 
      var stopHeight = catcher.offset().top + catcher.height();
      if ( stopHeight > sticky.offset().top) {
                sticky.css('position','absolute');
                sticky.css('top',stopHeight);
            }
        });
    });
</script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
<body id="lapimport">




<section>
	<div class="container min">
<div id="sidebar">
<!-- <div id="catcher">
This is the "catcher" <code>div</code>
</div> -->
<div id="sticky">
   <div class="col-md-3 col-sm-3 col-xs-12">
      <section class="h_submenu hidden-xs visible-md visible-sm visible-lg">
        <div class="col-md-12 col-sm-12 col-xs-12 mtl text-center" style="margin-bottom: 50px;border-right: 1px solid #E9E9ED; width: 92%;left: 13%;  margin-top: 13px;">
          <div class="text-fil-2"> TIPO DE CALZADO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Ballerinas" name="vehicle" tag="Categoria3_Ballerinas" value="Bike" value2="Ballerinas">
                <div class="fil h-Categoria3_Ballerinas" onclick="checkNombre('Categoria3_Ballerinas','Ballerinas')">Ballerinas</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Botines" name="vehicle" tag="Categoria3_Botines" value="Car" value2="Botines"> 
                <div class="fil h-Categoria3_Botines" onclick="checkNombre('Categoria3_Botines','Botines')">Botines</div> 
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Mocasines" name="vehicle" tag="Categoria3_Mocasines" value="Boat" value2="Mocasines"> 
                <div class="fil h-Categoria3_Mocasines" onclick="checkNombre('Categoria3_Mocasines','Mocasines')">Mocasines</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Mules" name="vehicle" tag="Categoria3_Mules" value="Boat" value="Mules" value2="Mules"> 
                <div class="fil h-Categoria3_Mules" onclick="checkNombre('Categoria3_Mules','Mules')">Mules</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Plataformas" name="vehicle" tag="Categoria3_Plataformas" value="Boat" value2="Plataformas"> 
                <div class="fil h-Categoria3_Plataformas" onclick="checkNombre('Categoria3_Plataformas','Plataforma')">Plataformas</div> 
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Playeras" name="vehicle" tag="Categoria3_Playeras" value="Boat" value2="Playeras"> 
                <div class="fil h-Categoria3_Playeras" onclick="checkNombre('Categoria3_Playeras','Playeras')">Playeras</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Sandalias" name="vehicle" tag="Categoria3_Sandalias" value="Boat" value2="Sandalias"> 
                <div class="fil h-Categoria3_Sandalias" onclick="checkNombre('Categoria3_Sandalias','Sandalias')">Sandalias</div> 
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Zapatos" name="vehicle" tag="Categoria3_Zapatos" value="Boat" value2="Zapatos"> 
                <div class="fil h-Categoria3_Zapatos" onclick="checkNombre('Categoria3_Zapatos','Zapatos')">Zapatos</div>
              </div>
          </form>

          <div class="clearfix"></div>

          <div class="text-fil"> COLOR PRINCIPAL  </div>
            <div>
            <form action="/action_page.php" class="chek">
            <div class="filtro-color">
              <input type="radio" name="color" class="categ c-Color_Azul" tag="Color_Azul" value2="Azul">
              <div class="fil h-Color_Azul" onclick="checkNombre('Color_Azul','Azul')">Azul</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Beige" tag="Color_Beige" value2="Beige">
               <div class="fil h-Color_Beige" onclick="checkNombre('Color_Beige','Beige')">Beige</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Blanco" tag="Color_Blanco" value2="Blanco">
               <div class="fil h-Color_Blanco" onclick="checkNombre('Color_Blanco','Blanco')">Blanco</div>
            </div>
             <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Burdeo" tag="Color_Burdeo" value2="Burdeo">
               <div class="fil h-Color_Burdeo" onclick="checkNombre('Color_Burdeo','Burdeo')">Burdeo</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Cafe" value2="Café" tag="Color_Cafe">
               <div class="fil h-Color_Cafe" onclick="checkNombre('Color_Cafe', 'Café')">Cafe</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Dorado" tag="Color_Dorado" value2="Dorado">
               <div class="fil h-Color_Dorado" onclick="checkNombre('Color_Dorado','Dorado')">Dorado</div>
             </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Gris" tag="Color_Gris" value2="Gris">
               <div class="fil h-Color_Gris" onclick="checkNombre('Color_Gris', 'Gris')">Gris</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Metalico" tag="Color_Metalico" value2="Metálico">
               <div class="fil h-Color_Metalico" onclick="checkNombre('Color_Metalico','Metalico')">Metalico</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Negro" tag="Color_Negro" value2="Negro">
               <div class="fil h-Color_Negro" onclick="checkNombre('Color_Negro','Negro')">Negro</div>
            </div>
              <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Rojo" tag="Color_Rojo" value2="Rojo">
               <div class="fil h-Color_Rojo" onclick="checkNombre('Color_Rojo','Rojo')">Rojo</div>
            </div>
            </form>

          <div class="clearfix"></div>
         <div class="text-fil"> MATERIAL DEL ZAPATO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" name="material" class="categ c-Mat_Capellada_Cuero" tag="Mat_Capellada_Cuero" value2="Cuero" value="Bike">
                <div class="fil h-Mat_Capellada_Cuero" onclick="checkNombre('Mat_Capellada_Cuero','Cuero')"> Cuero </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" name="material" class="categ c-Mat_Capellada_Eco_Cuero" tag="Mat_Capellada_Eco_Cuero" value2="Eco Cuero" value="Cara">
                <div class="fil h-Mat_Capellada_Eco_Cuero" onclick="checkNombre('Mat_Capellada_Eco_Cuero','Eco')"> Eco Cuero </div>
              </div>
          </form>

          <div class="clearfix"></div>

          <div class="text-fil"> MARCA </div>
          <form action="/action_page.php" class="chek">
               <div class="filtro-marca">
                <input type="radio" name="marca" class="categ c-Marca_Degas" tag="Marca_Degas" value2="Degas"> 
                <div class="fil h-Marca_Degas" onclick="checkNombre('Marca_Degas','Degas')">Degas </div>
              </div>
              <div class="filtro-marca">
                <input type="radio" name="marca" class="categ c-Marca_Eda_Manzini" tag="Marca_Eda_Manzini" value2="Eda Manzini">
                <div class="fil h-Marca_Eda_Manzini" onclick="checkNombre('Marca_Eda_Manzini', 'Eda Manzini')">Eda Manzini</div>
               </div> 
               <div class="filtro-marca">
                <input type="radio" name="marca" class="categ c-Marca_Lola_Canales" tag="Marca_Lola_Canales" value2="Lola Canales">
                <div class="fil h-Lola_Canales" onclick="checkNombre('Marca_Lola_Canales','Lola Canales')">Lola Canales</div>
               </div>
          </form>

          <div class="clearfix"></div>

   <!--         <div class="text-fil"> OCASIÓN</div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-categorias">
                <input type="radio" name="ocasion" class="categ c-Categoria4_Casuales" tag="Categoria4_Casuales" value2="Casuales" value="Bike"> 
                <div class="fil h-Categoria4_Casuales" onclick="checkNombre('Categoria4_Casuales','Casuales')">Casuales</div>
              </div>
              <div class="filtro-categorias">
                <input type="radio" name="ocasion" class="categ c-Categoria4_Confort" value2="Confort" tag="Categoria4_Confort" value="Car">
                <div class="fil h-Categoria4_Confort" onclick="checkNombre('Categoria4_Confort','Confort')">Confort </div>
              </div>
              <div class="filtro-categorias">
                <input type="radio" name="ocasion" class="categ c-Categoria4_Fiesta" value2="Fiesta" tag="Categoria4_Fiesta" value="Boat"> 
                <div class="fil h-Categoria4_Fiesta" onclick="checkNombre('Categoria4_Fiesta','Fiesta')">Fiesta</div>
              </div>
               <div class="filtro-categorias">
                <input type="radio" name="ocasion" class="categ c-Categoria4_Vestir" value2="Vestir" tag="Categoria4_Vestir" value="Boat">
                <div class="fil h-Categoria4_Vestir" onclick="checkNombre('Categoria4_Vestir','Vestir')">Vestir</div>
              </div>
          </form> -->

          <div class="clearfix"></div>
<!--          <div class="text-fil"> TIPO DE CIERRE </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" name="cierre" class="categ c-Cierre_Abierto" value2="Abierto" tag="Cierre_Abierto" value="Bike">
                <div class="fil h-Cierre_Abierto" onclick="checkNombre('Cierre_Abierto','Abierto')"> Abierto </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" name="cierre" class="categ c-Cierre_Cerrado" value2="Cerrado" tag="Cierre_Cerrado" value="Cara">
                <div class="fil h-Cierre_Cerrado" onclick="checkNombre('Cierre_Cerrado','Cerrado')"> Cerrado </div> 
              </div>
          </form> -->

          <div class="clearfix"></div>
<!--          <div class="text-fil"> MATERIAL SUELA </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" name="suela" class="categ c-Mat_Suela_Goma_Eva" value2="Eva" tag="Mat_Suela_Goma_Eva" value="Bike">
                <div class="fil h-Mat_Suela_Goma_Eva" onclick="checkNombre('Mat_Suela_Goma_Eva','Goma_Eva')"> Eva </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" name="suela" class="categ c-Mat_Suela_Kratón" value2="Kratón" tag="Mat_Suela_Kratón" value="Cara">
                <div class="fil h-Mat_Suela_Kratón" onclick="checkNombre('Mat_Suela_Kratón','Kratón')"> Kratón </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" name="suela" class="categ c-Mat_Suela_Poliuretano" value2="Poliuretano" tag="Mat_Suela_Poliuretano" value="Cara">
                <div class="fil h-Mat_Suela_Poliuretano" onclick="checkNombre('Mat_Suela_Poliuretano','Poliuretano')"> Poliuretano </div>
              </div>
          </form> -->

          <div class="clearfix"></div>
<!--          <div class="text-fil"> MATERIAL FORRO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" name="forro" class="categ c-Mat_Forro_Cuero" tag="Mat_Forro_Cuero" value2="Cuero" value="Bike">
                <div class="fil h-Mat_Forro_Cuero" onclick="checkNombre('Mat_Forro_Cuero','Forro Cuero')"> Cuero </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" name="forro" class="categ c-Mat_Forro_Eco_Cuero" tag="Mat_Forro_Eco_Cuero" value2="Eco Cuero" value="Cara">
                <div class="fil h-Mat_Forro_Eco_Cuero" onclick="checkNombre('Mat_Forro_Eco_Cuero','Forro Eco Cuero')"> Eco Cuero </div>
              </div>
          </form> -->

            </div>
        </div>

  </section>
</div>
</div>
</div>
<div id="content">
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
Content <br /><br /><br /><br /><br /><br /><br /><br />
</div>
</div>
</section>


</body>


{% include '../home/footer.html' %}
{% end %}


