
<!--   <div class=""> -->
        <!-- <nav class="clearfix nav text-center "> -->
        <!-- <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-xs-6 fondo-menu2 pad0">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad0">
                    <a href="#todoslosproductos" class="anchorLink font-menu all">TODOS LOS PRODUCTOS</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad0">
                    <a href="{{site_base}}/productos_destacados" class="font-menu destacados">DESTACADOS</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad0">
                    <a href="{{site_base}}/filtros" class="font-menu filtro">FILTROS</a> 
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad0">
                    <a href="{{site_base}}/equipos" class="font-menu equipo">EQUIPOS</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad0">   
                    <a href="{{site_base}}/pastillas_freno" class="font-menu freno">PASTILLAS DE FRENO</a>
                </div> 
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad0">
                    <a href="{{site_base}}/amortiguadores" class="font-menu amort">AMORTIGUADORES</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad0">
                    <a href="{{site_base}}/baterias" class="font-menu baterias">BATERIAS</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad0">
                    <a href="{{site_base}}/aceite" class="font-menu aceites">ACEITES</a>
                </div>
            </div> -->
        <!-- </nav> -->
   <!--  </div> -->

<div class="clearfix"></div>
            <div class="col-sm-6 col-xs-12 fondo-menu2 pad0 container-fluid">
                <ul class="list-inline">
                    <li class="col-md-4 col-sm-4 col-xs-12 pad0">
                        <a href="#todoslosproductos" class="subcateg2 anchorLink font-menu all" tag="undefined">TODOS LOS PRODUCTOS</a>
                    </li>
                  <!--   <li class="col-md-4 col-sm-4 col-xs-4 pad0 len">
                        <a href="{{site_base}}/aceite_filtro" class="font-menu aceites">ACEITES Y FILTROS</a>
                    </li> -->
                    <li class="col-md-4 col-sm-4 col-xs-12 len">
                    <div class="dropdown">
                      <button class="btn btn-primary header dropdown-toggle subcateg2" type="button" data-toggle="dropdown" tag="aceite">ACEITES Y FILTROS</button>
                          <ul class="dropdown-menu">
                            <li><a href="!#" class="subcateg2" tag="aceite, total">TOTAL</a></li>
                            <li><a href="!#" class="subcateg2" tag="aceite, shell">SHELL</a></li>
                            <li><a href="!#" class="subcateg2" tag="aceite, chevron">CHEVRON</a></li>
                        </ul>
                    </div>
                  </li>
                   <li class="col-md-4 col-sm-4 col-xs-12 lin">
                    <div class="dropdown">
                      <button class="btn btn-primary header dropdown-toggle subcateg2" type="button" data-toggle="dropdown" tag="baterias">BATERIAS</button>
                          <ul class="dropdown-menu dos">
                            <li><a href="!#" class="subcateg2" tag="baterias">DURACELL</a></li>
                        </ul>
                    </div>
                 </li>
                  <!--   <li class="col-md-4 col-sm-4 col-xs-4 pad0 lin">
                        <a href="{{site_base}}/baterias" class="font-menu baterias">BATERIAS</a>
                    </li> -->
                </ul>
            </div>

            <div class="col-sm-6 col-xs-12 fondo-menu2 aparte pad0">
                <ul  class="list-inline">
               
                     <li class="col-md-3 col-sm-3 col-xs-12 lun">
                    <div class="dropdown">
                      <button class="btn btn-primary header dropdown-toggle subcateg2" type="button" data-toggle="dropdown" tag="equipos">EQUIPOS</button>
                          <ul class="dropdown-menu tres">
                            <li><a href="!#" class="subcateg2" tag="equipos, john bean">JOHN BEAN</a></li>
                            <li><a href="!#" class="subcateg2" tag="equipos, m&b">M&B ENGINEERING</a></li>
                            <li><a href="!#" class="subcateg2" tag="equipos, lacrosse">LACROSSE</a></li>
                            <li><a href="!#" class="subcateg2" tag="equipos, heshbone">HESHBONE</a></li>
                            <li><a href="!#" class="subcateg2" tag="equipos, fiac">FIAC</a></li>
                        </ul>
                    </div>
                </li>
                  
                     <li class="col-md-3 col-sm-3 col-xs-12 lon">
                       <div class="dropdown">
                      <button class="btn btn-primary header dropdown-toggle subcateg2" type="button" data-toggle="dropdown" tag="pastillas_freno">PASTILLAS Y DISCOS</button>
                          <ul class="dropdown-menu pastillas">
                            <li><a href="!#" class="subcateg2" tag="pastillas_freno, hi-q">HI-Q</a></li>
                        </ul>
                    </div>
                    </li>

                     <li class="col-md-3 col-sm-3 col-xs-12 lan">
                       <div class="dropdown">
                      <button class="btn btn-primary header dropdown-toggle subcateg2" type="button" data-toggle="dropdown" tag="accesorios">ACCESORIOS</button>
                          <ul class="dropdown-menu cinco">
                            <li><a href="!#" class="subcateg2" tag="accesorios, contrapesos">CONTRAPESOS</a></li>
                            <li><a href="!#" class="subcateg2" tag="accesorios, plumillas">PLUMILLAS</a></li>
                            <li><a href="!#" class="subcateg2" tag="accesorios, ampolletas">AMPOLLETAS</a></li>
                        </ul>
                    </div>
                </li>
           
                    <li class="col-md-3 col-sm-2 col-xs-12 pad0 yu">
                        <a href="{{site_base}}/oferta" class="font-menu oferta">OFERTA</a> 
                    </li>
                  
                </ul>
            </div>



