<div id="footer">

<!-- <div style="float:right;">
   <ul id="lista" class="nav navbar-nav">
             <li>
             <a class="" href="{{ site_base }}/productos">Productos</a> </li>
              <li>
             <a class="" href="{{ site_base }}/about_us">Quiénes somos</a> </li>
              <li>
             <a class="" href="{{ site_base }}/puntos_de_venta">Puntos de venta</a> 
             </li>

             <li class="raro {{editabletext}}" text-id="{{ site.name + '_pa' }}"> {{ read_text(site.name +  '_pa') }} 
             </li>

             <li class="raro-2 {{editabletext}}" text-id="{{ site.name + '_po' }}"> {{ read_text(site.name +  '_po') }}  
             </li>
             <li class="raro-3 {{editabletext}}" text-id="{{ site.name + '_ki' }}"> {{ read_text(site.name +  '_ki') }}  
             </li>
             <li>
               {% if user is None %}
               <a href="{{ site_base }}/auth/login" class="a-footer" >Login</a>
               {% else %}
               <a href="{{ site_base }}/auth/logout" class="a-footer" >
                Logout</a>
                {% end %}
              </li> 

      </ul>
</div> -->
  <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="inform-comerc text-left">
                <div class="clearfix"></div>
                     <a class="" href="#" >
                    <ul class="no-dot">   
                         <div class="caja-footer">                 
                     {% if is_admin %}
                                   <div class="image-upload lapiz visible-movil">
                                       <label for="img_footer_1">
                                           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                       </label>
                                       <input type="file" class="editableimage" image-id="{{ site.name }}_footer_1" name="image" id="img_footer_1" >
                                   </div>
                    {% end %}
                       <img id="{{ site.name }}_footer_1" src="{{ read_image(site.name + '_footer_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_footer_1',500) }}'" class="img-foot" alt="item">
                       </div>
                               
                    </ul>
                  </a>
            </div>
              </div>

        <div class="contenido-fot">
        <div align="center">
              <div class="col-md-2 col-sm-3 col-xs-12">
                <a href="{{ site_base }}/productos">
                <div class="io">Productos</div> </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-12">
                <a href="{{ site_base }}/about_us">
                <div class="io">Quiénes somos</div> </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-12">
               <a href="{{ site_base }}/puntos_de_venta">
               <div class="io">Puntos de venta</div> </a>
             </div>
             <div class="col-md-2 col-sm-3 col-xs-12">
             <a href="{{ site_base }}/terminos_y_condiciones">
               <div class="iu">Términos y Condiciones</div></a>
             </div>
             <div class="col-md-2 col-sm-3 col-xs-12">
              <div class="iu">Políticas de despacho</div>
            </div>
            <div class="col-md-10 col-sm-3 col-xs-12">
            <a href="https://www.loadingplay.com/">
              <div class="it">Sytes tech. Developed by Loadingplay</div> </a>
            </div>
            <div class="col-md-10 col-sm-3 col-xs-12">
              <li class="it-2">
               {% if user is None %}
               <a href="{{ site_base }}/auth/login" class="a-footer" >Login</a>
               {% else %}
               <a href="{{ site_base }}/auth/logout" class="a-footer" >
                Logout</a>
                {% end %}
              </li> 

            </div>
            </div>
      </div>

</div>
