<script type="text/template" id="product_template" class="container-fluid clearfix pad0 mbtm50">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 h_detail_planes">
        <div class="product product-thumb">
            <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                <div class="container-second-planes">
                    <img src="{{! images[0]['thumb_500'] }}" alt="" class="img-responsive img_planes_group desaturada">
                </div>
            </a>
        </div>
    </div>
</script>

