div.image-upload.part1 {
    position: absolute;
    right: 20px;
    top: 89px;
    z-index: 100000;
}

.titulo-prou{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    margin-bottom: 50px;
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.img-pro{
	width: 100%;
	height: 400px;
	object-fit: cover;
	margin-bottom: 47px;
    padding-left: 17px;
}

.inf{
	position: absolute;
    bottom: 0px;
    width:73%;
    text-align: left;
    left: 64px;
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 57px;
}

.clearfix-dos{
    margin-top: 78px;
    margin-bottom: 0px;
}

.fondo-detalle{
    width: 100%;
    height: 760px;
    object-fit: cover;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.img_prod_detail{
    position: relative;
    top: 11px;
    /* width: auto; */
 /*   height: 140px;*/
     max-width: 360px;
}

.img_prod_little{
    width: 24%;
    height: 65px;
    margin-bottom: 2px;
    position: relative;
    object-fit: scale-down;
    top: -60px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    left: 315px;
    margin-left: 3px;
}

/*.name_prod_detail{
    position: relative;
    top: -519px;
    font-size: 23px;
    color: white;
    text-align: right;

}
*/

.name_prod_detail {
    position: relative;
    top: -614px;
    font-size: 23px;
    color: white;
    text-align: left;
    height: 54px;
    left: -10px;
}

.descr_prod_detail{
  /*  position: relative;
    font-size: 17px;
    width: 33%;
    text-align: right;
    height: 127px;
    top: -538px;
    float: right;
    color: white;*/
    position: relative;
    font-size: 17px;
    width: 33%;
    text-align:left;
    height: 469px;
    /*height: auto;*/
    top: -638px;
    float: right;
    color: white;
}

.fin{
    position: relative;
    top: -134px;
    margin-bottom: 90px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 50%;
    margin-top: -5px;

}

hr.len {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(85, 85, 85, 0.75);
    width: 58%;
    position: relative;
    top: -212px;
}

.fin-2{
     position: relative;
    top: -203px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.66);
    width: 72%;
}

.art-hi{
    overflow: hidden;
}

/*--------------------------------Responsive------------*/

@media (max-width: 1199px){
    .img_prod_little {
    width: 23%;

}

/*.descr_prod_detail {
    position: relative;
    font-size: 17px;
    width: 42%;
    text-align: right;
    height: 185px;
    top: -638px;
    float: right;
    color: white;
}*/

}

@media (max-width: 991px){
.img_prod_little {
    width: 48%;
    height: 88px;
    margin-bottom: 2px;
    position: relative;
    object-fit: scale-down;
    top: -206px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    left: 167px;
}

/*.descr_prod_detail {
    position: relative;
    font-size: 17px;
    width: 56%;
    text-align: right;
    height: 185px;
    top: -638px;
    float: right;
    color: white;
}*/

.fin {
    position: relative;
    top: -134px;
    margin-bottom: 90px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 50%;
    margin-top: 72px;
}

}


@media (max-width: 767px){
.img_prod_little {
    width: 16%;
    height: 88px;
    margin-bottom: 2px;
    position: relative;
    object-fit: scale-down;
    top: -240px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    left: 120px;
}

.fin {
    position: relative;
    top: -151px;
    margin-bottom: 90px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 50%;
    margin-top: 58px;
}

}

@media (max-width: 656px){

.name_prod_detail {
    height: 53px;
}

.descr_prod_detail {
    position: relative;
    font-size: 17px;
    width: 64%;
    text-align: right;
    height: 198px;
    top: -638px;
    float: right;
    color: white;
}

}

@media (max-width: 600px){
    .img_prod_little {
    width: 16%;
    height: 88px;
    margin-bottom: 2px;
    position: relative;
    object-fit: scale-down;
    top: -157px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    left: 83px;
}

.descr_prod_detail {
    position: relative;
    font-size: 17px;
    width: 71%;
    text-align: right;
    height: 199px;
    top: -638px;
    float: right;
    color: white;
}

}

@media (max-width: 575px){
    .titulo-prou {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    margin-bottom: 50px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

}

@media (max-width: 524px){

.descr_prod_detail {
    position: relative;
    font-size: 16px;
    width: 75%;
    text-align: right;
    height: 188px;
    top: -638px;
    float: right;
    color: white;
}

}

@media (max-width: 480px){
.img_prod_little {
    width: 50%;
    height: 88px;
    margin-bottom: 6px;
    position: relative;
    object-fit: scale-down;
    top: -241px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    left: 106px;
}

}

@media (max-width: 436px){

    .titulo-prou {
    position: absolute;
    text-align: center;
    width: 95%;
    bottom: 0px;
    margin-bottom: 46px;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

}

@media (max-width: 414px){
    .descr_prod_detail {
    font-size: 13px;
    width: 100%;
    text-align: left;
    height: auto;
    top: -670px;
}

.img_prod_little {
    left: 79px;
    top: -193px;
}

.name_prod_detail {
    position: relative;
    top: -686px;
    font-size: 19px;
    color: white;
    text-align: left;
    height: 64px;
    left: -257px;
}

}

@media (max-width: 412px){
.img_prod_little {
    left: 79px;
    top: -193px;
}

/*.descr_prod_detail {
    position: relative;
    font-size: 17px;
    width: 64%;
    text-align: right;
    height: 127px;
    top: -538px;
    float: right;
    color: white;
    left: -13px;
}*/

}

@media (max-width: 400px){
.name_prod_detail {
    position: relative;
    top: -686px;
    font-size: 19px;
    color: white;
    text-align: left;
    height: 64px;
    left: -251px;
}
}

@media (max-width: 375px){
    .name_prod_detail {
    position: relative;
    top: -686px;
    font-size: 19px;
    color: white;
    text-align: left;
    height: 64px;
    left: -245px;
    width: 118%;
}

}

@media (max-width: 360px){
    .img_prod_little {
    left: 69px;
}

.fin {
    width: 80%;
}

.name_prod_detail {
    position: relative;
    top: -686px;
    font-size: 19px;
    color: white;
    text-align: left;
    height: 64px;
    left: -233px;
    width: 118%;
}

}


@media (max-width: 320px){
/*    .descr_prod_detail {
    position: relative;
    font-size: 17px;
    width: 80%;
    height: 127px;

}*/

.img_prod_little {
    top: -172px;
    left: 62px;
}

.fin {
    position: relative;
    top: -134px;
    width: 80%;
    margin-top: 96px;
}

.inf{
    position: absolute;
    bottom: 0px;
    width:61%;
    text-align: left;
    left: 64px;
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 57px;
}

.name_prod_detail {
    position: relative;
    top: -686px;
    font-size: 19px;
    color: white;
    text-align: left;
    height: 64px;
    left: -209px;
    width: 144%;
}


}
