    <!-- Static navbar -->

    <header class="fixtop" data-spy="affix" data-offset-top="60">
      <div class="container">
      <nav class="navbar navbar-default">
        <div class="container menu">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse menu-header">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="{{ site_base }}/listado_productos?tag=cubreplumones" onclick="location.href='{{ site_base }}/listado_productos?tag=cubreplumones'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CUBREPLUMONES</a>
                <ul class="dropdown-menu">
               <!--  <i class="fa fa-angle-up" aria-hidden="true"></i> -->
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=cubreplumones, cuna">CUNA</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=cubreplumones, 1,5 plaza">1.5 PLAZA</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=cubreplumones, 2 plazas">2 PLAZAS</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=cubreplumones, king">KING</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=cubreplumones, super king">SUPER KING</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="{ site_base }}/listado_productos?tag=sabanas" onclick="location.href='{{ site_base }}/listado_productos?tag=sabanas'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SABANAS</a>
                <ul class="dropdown-menu">
                  <!--  <i class="fa fa-angle-up" aria-hidden="true"></i> -->
                   <li class="margen"><a href="{{ site_base }}/listado_productos?tag=sabanas, moises">MOISES</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=sabanas, graco">GRACO</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=sabanas, cuna">CUNA</a></li>
                  
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=sabanas, 1,5 plaza">1.5 PLAZA </a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=sabanas, 2 plazas">2 PLAZAS</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=sabanas, king">KING</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=sabanas, super king">SUPER KING</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="{ site_base }}/listado_productos?tag=faldones" onclick="location.href='{{ site_base }}/listado_productos?tag=faldones'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FALDONES</a>
                <ul class="dropdown-menu">
                  <!--  <i class="fa fa-angle-up" aria-hidden="true"></i> -->
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=faldones&&tag=faldon">1.5 PLAZA</a></li>
                  
                </ul>
              </li>
              <li class="dropdown">
                <a href="{ site_base }}/listado_productos?tag=cojines" onclick="location.href='{{ site_base }}/listado_productos?tag=cojines'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">COJINES</a>
              </li>
              <li class="dropdown">
                <a href="{ site_base }}/listado_productos?tag=mantas" onclick="location.href='{{ site_base }}/listado_productos?tag=mantas'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MANTAS</a>
                <ul class="dropdown-menu">
                 <!--  <i class="fa fa-angle-up" aria-hidden="true"></i> -->
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=mantas guagua">MANTAS GUAGUAS</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=mantas, otras mantas">OTRAS MANTAS</a></li>
                </ul>
              </li>
                <li class="dropdown">
                <a href="{ site_base }}/listado_productos?tag=ambientes" onclick="location.href='{{ site_base }}/listado_productos?tag=ambientes'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AMBIENTES</a>
                <ul class="dropdown-menu">
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=ambientes,dormitorio">DORMITORIOS</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=ambientes,sala estar">SALA DE ESTAR</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=ambientes,terraza">TERRAZAS</a></li>
<!--                   <li class="margen"><a href="{{ site_base }}/listado_productos?tag=ambientes">TODOS</a></li> -->
                </li>
               </ul>
                <li class="">
                <a href="{{ site_base }}/listado_productos?tag=accesorios" class="" aria-expanded="false">ACCESORIOS</a>
                <ul class="">
              <!--     <li class="margen"><a href="{{ site_base }}/listado_productos?tag=dormitorio&&tag=ambientes">DORMITORIOS</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=sala estar&&tag=ambientes">SALA DE ESTAR</a></li>
                  <li class="margen"><a href="{{ site_base }}/listado_productos?tag=terraza&&tag=ambientes">TERRAZAS</a></li> -->
                </li>
               </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{site_base}}/contact">CONTACTO</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>


<!-- ****CUADRO BLANCO HEADER******* -->
     <div class="container">
      <section>
        <div class="cuadro-blanco"> 
          <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="caja-log">
            {% if is_admin %}
            <div class="image-upload visible-movil">
              <label for="img_logo_uno">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" style="">
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}_img_logo_uno" name="image" id="img_logo_uno" >
            </div>
            {% end %}
            <a href="#">
              <div class="container_header">
                <img class="logo-desk" id="{{ site.name }}_img_logo_uno" src="{{ read_image(site.name + '_img_logo_uno', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_logo_uno',500) }}'" alt="item">
              </div>
            </a>
          </div>
        </div>

            <ul class="nav navbar-nav navbar-right dos hidden-xs visible-sm visible-lg visible-md">
            <li class="icon" id="open-cart" data-toggle="modal" data-target="#myModal">
                <span> TU COMPRA </span> <span class="units-total">0</span> 
            </li>
            <li class="sig hidden-xs-sm">
                <a href=""> | </a>
            </li>
              <li class="" id="open-cart" data-toggle="modal" data-target="#myModal">
                <!-- <a href="" class="com"> Comprar </a> -->
                <img class="img-bolsa" src="https://84static.loadingplay.com/static/images/a7e448549edf96dc7351da41bda4ffc2_shopping_bag.png">
              </li>
            </ul>

            
            <ul class="nav navbar-nav navbar-right dos visible-xs hidden-sm hidden-md hidden-lg">
              <li class="icon" id="open-cart" data-toggle="modal" data-target="#myModal">
               <img class="img-bolsa" src="https://84static.loadingplay.com/static/images/a7e448549edf96dc7351da41bda4ffc2_shopping_bag.png"></li>
            </ul>
      </div>
      </section>
    </div>
     </div>
         </header>
      


      <!-- *****FIN CUADRO BLANCO****** -->