{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}


{% block javascript %}

<script type="text/javascript">
  $(document).ready(function()
  {
    var hyper = window.location.href;
    setCookie("url", hyper);
    console.log(hyper);

  });
</script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
<body id="lapimport">
 
    <div class="mobile" style="background:url('{{ read_image(site.name + '_catalogo',500) }}'); height:499px; background-size:cover;  margin-top: -101px;background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_catalogo">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_catalogo" name="image" id="img_catalogo" >
        </div>
        {% end %}
        <img id="{{ site.name }}_catalogo" src="{{ read_image(site.name + '_catalogo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_catalogo',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container min">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_catalogo' }}"> {{ read_text(site.name +  '_catalogo') }}</div>
        </div>
    </div>
 

 <div class="container">
 <section>
    <div class="apa">
    <div class="col-md-6 col-sm-6 col-md-12 article-box-2">
     <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_catalogo_1">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_catalogo_1" name="image" id="img_catalogo_1">
     </div>
     {% end %}

     <a id="{{ site.name + '_catalogo_1' }}" href="{{ read_link(site.name + '_catalogo_1') }}" target="_blank">
       <img id="{{ site.name }}_catalogo_1" src="{{ read_image(site.name + '_catalogo_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_catalogo_1',) }}'" class="box-catag" alt="item">
   <!--   <div align="center">
      <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_clientes_1' }}"> {{ read_text(site.name +  '_t_clientes_1') }}</div>
    </div> -->
  </a>

</div>

{% if is_admin %}
<img class="change-image editablelink" link-id="{{ site.name + '_catalogo_1' }}" content="{{ read_link(site.name + '_catalogo_1') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
{% end %}

</div>

    <div class="col-md-6 col-sm-6 col-md-12 article-box-2">
     <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_catalogo_2">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_catalogo_2" name="image" id="img_catalogo_2">
     </div>
     {% end %}
     
     <a id="{{ site.name + '_catalogo_2' }}" href="{{ read_link(site.name + '_catalogo_2') }}" target="_blank">
       <img id="{{ site.name }}_catalogo_2" src="{{ read_image(site.name + '_catalogo_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_catalogo_2',) }}'" class="box-catag" alt="item">
   <!--   <div align="center">
      <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_clientes_1' }}"> {{ read_text(site.name +  '_t_clientes_1') }}</div>
    </div> -->
  </a>

</div>

{% if is_admin %}
<img class="change-image editablelink" link-id="{{ site.name + '_catalogo_2' }}" content="{{ read_link(site.name + '_catalogo_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
{% end %}

</div>

    <div class="col-md-6 col-sm-6 col-md-12 article-box-2">
     <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_catalogo_3">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_catalogo_3" name="image" id="img_catalogo_3">
     </div>
     {% end %}
     
     <a id="{{ site.name + '_catalogo_3' }}" href="{{ read_link(site.name + '_catalogo_3') }}" target="_blank">
       <img id="{{ site.name }}_catalogo_3" src="{{ read_image(site.name + '_catalogo_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_catalogo_3',) }}'" class="box-catag" alt="item">
   <!--   <div align="center">
      <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_clientes_1' }}"> {{ read_text(site.name +  '_t_clientes_1') }}</div>
    </div> -->
  </a>

</div>

{% if is_admin %}
<img class="change-image editablelink" link-id="{{ site.name + '_catalogo_3' }}" content="{{ read_link(site.name + '_catalogo_3') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
{% end %}

</div>

    <div class="col-md-6 col-sm-6 col-md-12 article-box-2">
     <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_catalogo_4">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_catalogo_4" name="image" id="img_catalogo_4">
     </div>
     {% end %}
     
     <a id="{{ site.name + '_catalogo_4' }}" href="{{ read_link(site.name + '_catalogo_4') }}" target="_blank">
       <img id="{{ site.name }}_catalogo_4" src="{{ read_image(site.name + '_catalogo_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_catalogo_4',) }}'" class="box-catag" alt="item">
   <!--   <div align="center">
      <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_clientes_1' }}"> {{ read_text(site.name +  '_t_clientes_1') }}</div>
    </div> -->
  </a>

</div>

{% if is_admin %}
<img class="change-image editablelink" link-id="{{ site.name + '_catalogo_4' }}" content="{{ read_link(site.name + '_catalogo_4') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
{% end %}

</div>

    <div class="col-md-6 col-sm-6 col-md-12 article-box-2">
     <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_catalogo_5">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_catalogo_5" name="image" id="img_catalogo_5">
     </div>
     {% end %}
     
     <a id="{{ site.name + '_catalogo_5' }}" href="{{ read_link(site.name + '_catalogo_5') }}" target="_blank">
       <img id="{{ site.name }}_catalogo_5" src="{{ read_image(site.name + '_catalogo_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_catalogo_5',) }}'" class="box-catag" alt="item">
   <!--   <div align="center">
      <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_clientes_1' }}"> {{ read_text(site.name +  '_t_clientes_1') }}</div>
    </div> -->
  </a>

</div>

{% if is_admin %}
<img class="change-image editablelink" link-id="{{ site.name + '_catalogo_5' }}" content="{{ read_link(site.name + '_catalogo_5') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
{% end %}

</div>

    <div class="col-md-6 col-sm-6 col-md-12 article-box-2">
     <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_catalogo_6">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_catalogo_6" name="image" id="img_catalogo_6">
     </div>
     {% end %}
     
     <a id="{{ site.name + '_catalogo_6' }}" href="{{ read_link(site.name + '_catalogo_6') }}" target="_blank">
       <img id="{{ site.name }}_catalogo_6" src="{{ read_image(site.name + '_catalogo_6', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_catalogo_6',) }}'" class="box-catag" alt="item">
   <!--   <div align="center">
      <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_clientes_1' }}"> {{ read_text(site.name +  '_t_clientes_1') }}</div>
    </div> -->
  </a>

</div>

{% if is_admin %}
<img class="change-image editablelink" link-id="{{ site.name + '_catalogo_6' }}" content="{{ read_link(site.name + '_catalogo_6') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
{% end %}

</div>
</div>

</section>


<div class="" style="margin-bottom:45px;"></div>
</div>

</body>


{% include '../home/footer.html' %}
{% end %}


