{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block css %}

{% if is_admin %}
{% end %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
<style type="text/css">

</style>
{% end %}


{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/subcateg.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script>
<script type="text/javascript">
  function setCookie(cname,cvalue) {
    document.cookie = cname + "=" + cvalue + ";path=/";
  }
</script>

<script type="text/javascript">
  $(document).ready(function()
  {
    var hyper = window.location.href;
    setCookie("url", hyper);

  });
</script>

<script type="text/javascript">
    $(document).ready(function()
    {

      var tag = Utils.getUrlParameter("tag");

      if(tag == "tienda"){
        $(".cotizar").addClass("hidden");
      }

      var tags = Utils.getUrlParameter("tag");
      var log = "";

      if( tags == "control_de_acceso"){
        $(".tituloCategoria").html("CONTROL DE ACCESO");
        log = $(".tituloCategoria").html().toLowerCase();
        $(".control_de_acceso").removeClass("hidden");
      }
      if( tags == "productos_ecologicos"){
        $(".tituloCategoria").html("PRODUCTOS ECOLÓGICOS");
        log = $(".tituloCategoria").html().toLowerCase();
        $(".basureros").removeClass("hidden");
      }
      if( tags == "mobiliario_urbano"){
        $(".tituloCategoria").html("MOBILIARIO URBANO");
        log = $(".tituloCategoria").html().toLowerCase();
        $(".mob_urbano").removeClass("hidden");
      }
      if( tags == "espacios_publicos"){
        $(".tituloCategoria").html("ESPACIOS PÚBLICOS");
        log = $(".tituloCategoria").html().toLowerCase();
        $(".espa_publicos").removeClass("hidden");
      }
      if( tags == "productos_especiales"){
        $(".tituloCategoria").html("PRODUCTOS ESPECIALES");
        log = $(".tituloCategoria").html().toLowerCase();
        $(".prod_especiales").removeClass("hidden");
      }
      if( tags == "productos_nuevos"){
        $(".tituloCategoria").html("PRODUCTOS NUEVOS");
        log = $(".tituloCategoria").html().toLowerCase();
        $(".prod_nuevos").removeClass("hidden");
      }




      var catProd = $(".buscaCat").html(" Home | " + log);

      $(".buscaCat").css("text-transform", "capitalize");

      localStorage.setItem("subcategoriaProd"," Home | " + log);

      $("#OpenAlert").click();

        // var config = {
        //     'app_public' : app_public,
        //     'base_url' : base_url,
        //     'maxProducts' : 8,
        //     'templateOrigin' : '#product_template',
        //     'tag' : '',
        //     'ignore_stock' : true,
        //     'onLoad':function(){
        //      }
        // };

        // $('.product-list').ecommerce('product_box', config);

    });
</script>
<script type="text/javascript">
  $(document).ready(function()
  {
    $(document).on("click", ".index", function(ev)
    {

      ev.preventDefault();
      var tags = $(this).attr('tag');
      console.log(tags);
          var log = "";
            $(".ban").addClass("hidden");
          if( tags == "control_de_acceso"){
            $(".tituloCategoria").html("CONTROL DE ACCESO");
            log = $(".tituloCategoria").html().toLowerCase();
            $(".control_de_acceso").removeClass("hidden");
          }
          if( tags == "productos_ecologicos"){
            $(".tituloCategoria").html("PRODUCTOS ECOLÓGICOS");
            log = $(".tituloCategoria").html().toLowerCase();
            $(".basureros").removeClass("hidden");
          }
          if( tags == "mobiliario_urbano"){
            $(".tituloCategoria").html("MOBILIARIO URBANO");
            log = $(".tituloCategoria").html().toLowerCase();
            $(".mob_urbano").removeClass("hidden");
          }
          if( tags == "espacios_publicos"){
            $(".tituloCategoria").html("ESPACIOS PÚBLICOS");
            log = $(".tituloCategoria").html().toLowerCase();
            $(".espa_publicos").removeClass("hidden");
          }
          if( tags == "productos_especiales"){
            $(".tituloCategoria").html("PRODUCTOS ESPECIALES");
            log = $(".tituloCategoria").html().toLowerCase();
            $(".prod_especiales").removeClass("hidden");
          }
          if( tags == "productos_nuevos"){
            $(".tituloCategoria").html("PRODUCTOS NUEVOS");
            log = $(".tituloCategoria").html().toLowerCase();
            $(".prod_nuevos").removeClass("hidden");
          }
    });
  });
</script>
<script type="text/javascript">
    $(document).ready(function()
    {
      console.log(window.location.href);

      localStorage.setItem("url", window.location.href);

      console.log($(".buscaCat").html());
    });

</script>

<script type="text/javascript">
      $(".subcateg1").live("touchstart", function(ev) {
        ev.stopPropagation();

        var tags = $(this).attr("tag");

      if( tags == "control_de_acceso"){
        $(".tituloCategoria").html("CONTROL DE ACCESO");
        log = $(".tituloCategoria").html().toLowerCase();
        if(!$(".products").hasClass("hidden"))
        {
          $(".products").addClass("hidden");
        }
        if($(".banners").hasClass("hidden"))
        {
          $(".banners").removeClass("hidden");
        }
        $(".ban").addClass("hidden");
        $(".control_de_acceso").removeClass("hidden");
      }
      if( tags == "productos_ecologicos"){
        $(".tituloCategoria").html("PRODUCTOS ECOLÓGICOS");
        log = $(".tituloCategoria").html().toLowerCase();
        if(!$(".products").hasClass("hidden"))
        {
          $(".products").addClass("hidden");
        }
        if($(".banners").hasClass("hidden"))
        {
          $(".banners").removeClass("hidden");
        }
        $(".ban").addClass("hidden");
        $(".basureros").removeClass("hidden");
      }
      if( tags == "mobiliario_urbano"){
        $(".tituloCategoria").html("MOBILIARIO URBANO");
        log = $(".tituloCategoria").html().toLowerCase();
        if(!$(".products").hasClass("hidden"))
        {
          $(".products").addClass("hidden");
        }
        if($(".banners").hasClass("hidden"))
        {
          $(".banners").removeClass("hidden");
        }
        $(".ban").addClass("hidden");
        $(".mob_urbano").removeClass("hidden");
      }
      if( tags == "espacios_publicos"){
        $(".tituloCategoria").html("ESPACIOS PÚBLICOS");
        log = $(".tituloCategoria").html().toLowerCase();
        if(!$(".products").hasClass("hidden"))
        {
          $(".products").addClass("hidden");
        }
        if($(".banners").hasClass("hidden"))
        {
          $(".banners").removeClass("hidden");
        }
        $(".ban").addClass("hidden");
        $(".espa_publicos").removeClass("hidden");
      }
      if( tags == "productos_especiales"){
        $(".tituloCategoria").html("PRODUCTOS ESPECIALES");
        log = $(".tituloCategoria").html().toLowerCase();
        if(!$(".products").hasClass("hidden"))
        {
          $(".products").addClass("hidden");
        }
        if($(".banners").hasClass("hidden"))
        {
          $(".banners").removeClass("hidden");
        }
        $(".ban").addClass("hidden");
        $(".prod_especiales").removeClass("hidden");
      }
      if( tags == "productos_nuevos"){
        $(".tituloCategoria").html("PRODUCTOS NUEVOS");
        log = $(".tituloCategoria").html().toLowerCase();
        if(!$(".products").hasClass("hidden"))
        {
          $(".products").addClass("hidden");
        }
        if($(".banners").hasClass("hidden"))
        {
          $(".banners").removeClass("hidden");
        }
        $(".ban").addClass("hidden");
        $(".prod_nuevos").removeClass("hidden");
      }

        $(".subcateg").removeClass('active');
        $(this).addClass('active');

        //MUESTRA LA FLECHA

        $(".fa-caret-right").addClass('hidden');
        $(this).parent().find("i").removeClass('hidden');

        if($(this).hasClass("index")){
          $(".fa-caret-right").addClass('hidden');
          $(this).parent().find("i").removeClass('hidden');
        }

        //MUESTRA LA CATEGORIA COMO TITULO

        var valorSubCateg = $(this).attr("sub");
        var valorSubCateg2 = $(this).attr("sub2");
        $(".tituloCategoria").html(valorSubCateg2);

        //MUESTRA LA CATEGORIA EN HOME | SUBCATEGORIAS

        var catProd = $(".buscaCat").html(" Home | " + valorSubCateg);

        // localStorage.setItem("subcategoriaProd"," Home | " + valorSubCateg2);

        return false;
    });
</script>

<script type="text/javascript">
$(document).ready(function(){
     $('.scrollUp').click(function(){
         $("html, body").animate({ scrollTop: 0 }, 500);
     });

     $('.scrollUp').on("touchend",function(){
         $("body").animate({ scrollTop: 0 }, 500);
     });
})
</script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
<body id="lapimport">
  
   <section>
    <div class="mobile img-mobile" style="background:url('{{ read_image(site.name + '_productos_in',500) }}'); height:499px; background-size:cover; margin-top: -101px;background-position:center; margin-bottom: 0px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_in">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_in" name="image" id="img_productos_in" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_in" src="{{ read_image(site.name + '_productos_in', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_in',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>
     <div class="col-md-12">
            <div class="box-text-gal">
                <h1 class="text-center titulo {{editabletext}}" text-id="{{ site.name + '_producc' }}"> {{ read_text(site.name +  '_producc') }}</h1>
            </div>
      </div>
</section>

<div class="container">
<div class="" style="height:100px;display:block;margin:auto auto 0 auto;"></div>
<section> 
  <div class="container">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="texto-header-pro buscaCat"> Home |  </div>
  </div>
  <div class="hidden-xs hidden-sm visible-lg visible-md">
    <div class="texto-header-pro-2 tituloCategoria"></div>
  </div>
  </div>
</section>


  <section class="h_submenu desk visible-lg visible-md hidden-xs hidden-sm">
        <div align="center">
          <div class="container-fluid col-md-3 col-sm-12 col-xs-12 mtl text-center" style="padding-top: 1em; margin-bottom: 100px;position: relative;top: 18px; padding-bottom: 22px;">
            <div>
            <i class="fa fa-caret-right categ hidden" aria-hidden="true"></i>
            <a href="#" id="control_de_acceso" class="mgt-10 azul subcateg-ban mbtm5 index scrollUp" tag="control_de_acceso" role="button" sub2="Control de acceso" sub="Control de acceso">Control de acceso</a>
          </div>
              <div>
              <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
              <a href="#" id="inteligente" class="azul subcateg partes mbtm5 scrollUp" tag="inteligente" role="button" sub2="control de acceso inteligente" sub=" Control de acceso | Inteligente">Control de acceso inteligente</a>
              </div>
              <div>
              <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
              <a href="#" id="mecanico" class="azul subcateg partes mbtm5 scrollUp" tag="mecanico" role="button" sub2="control de acceso mecanico" sub=" Control de acceso | Mecanico">Control de acceso mecanico</a>
              </div>
              <div>
              <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
              <a href="#" id="filas" class="azul subcateg partes mbtm5 scrollUp" tag="filas" role="button" sub2="separador de filas" sub=" Control de acceso | Separador de filas">Separador de filas</a>
              </div>
              <div>
              <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
              <a href="#" id="letreros" class="azul subcateg partes mbtm5 scrollUp" tag="letreros" role="button" sub2="portaletreros" sub=" Control de acceso | Portaletreros">Portaletreros</a>
              </div>
              <div>
              <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
              <a href="#" id="otros_acceso" class="azul subcateg partes mbtm5 scrollUp" tag="otros_acceso" role="button" sub2="otros para control de acceso" sub=" Control de acceso | Otros para control de acceso">Otros para control de acceso</a>
              </div>

            <div>
            <i class="fa fa-caret-right categ hidden" aria-hidden="true"></i>
            <a href="#" id="productos_ecologicos" class="mgt-10 verde subcateg-ban mbtm5 index scrollUp" tag="productos_ecologicos" role="button" sub2="productos ecologicos" sub="productos ecologicos">Productos ecologicos</a>
            </div>
               <div>
               <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
               <a href="#" id="basurero" class="verde subcateg partes mbtm5 scrollUp" tag="basurero_ecologico" role="button" sub2="basureros" sub=" Productos Ecologicos | Basureros">Basureros</a>
               </div>

            <div>
            <i class="fa fa-caret-right categ hidden" aria-hidden="true"></i>
            <a href="#" id="mobiliario_urbano" class="mgt-10 amarillo subcateg-ban mbtm5 index scrollUp" tag="mobiliario_urbano" role="button" sub2="Mobiliario urbano" sub="Mobiliario urbano">Mobiliario urbano</a>
            </div>
                <div>
                <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
                <a href="#" id="basureros" class="amarillo subcateg partes mbtm5 scrollUp" tag="basureros" role="button" sub2="basureros" sub=" Mobiliario urbano | Basureros">Basureros</a>
                </div>
                <div>
                <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
                <a href="#" id="banqueta" class="amarillo subcateg partes mbtm5 scrollUp" tag="banqueta" role="button" sub2="Banquetas/Escaños" sub=" Moviliario urbano | Banquetas/Escaños">Banquetas/Escaños</a>
                </div>
                <div>
                <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
                <a href="#" id="bicicleteros" class="amarillo subcateg partes mbtm5 scrollUp" tag="bicicleteros" role="button" sub2="bicicleteros" sub=" Moviliario urbano | Bicicleteros">Bicicleteros</a>
                </div>
                <div>
                <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
                <a href="#" id="refugio_bici" class="amarillo subcateg partes mbtm5 scrollUp" tag="refugio_bici" role="button" sub2="Refugios para bicicletas" sub=" Moviliario urbano | Refugios para bicicletas">Refugios para bicicletas</a>
                </div>

            <div>
            <i class="fa fa-caret-right categ hidden" aria-hidden="true"></i>
            <a href="#" id="espacios_publicos" class="mgt-10 naranjo subcateg-ban mbtm5 index scrollUp" tag="espacios_publicos" role="button" sub2="Espacios publicos" sub="Espacios publicos">Espacios publicos</a>
            </div>
               <div>
               <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
               <a href="#" id="pape_ceni" class="naranjo subcateg partes mbtm5 scrollUp" tag="pape_ceni" role="button" sub2="Papeleros ceniceros" sub=" Espacios publicos | Papeleros ceniceros">Papeleros ceniceros</a>
               </div>
               <div>
               <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
               <a href="#" id="pape_ofi" class="naranjo subcateg partes mbtm5 scrollUp" tag="pape_ofi" role="button" sub2="Papeleros oficina" sub=" Espacios publicos | Papeleros oficina">Papeleros oficina</a>
               </div>
               <div>
               <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
               <a href="#" id="pape_pendu" class="naranjo subcateg partes mbtm5 scrollUp" tag="pape_pendu" role="button" sub2="Papeleros tapa pendulo" sub=" Espacios publicos | Papeleros tapa pendulo">Papeleros tapa pendulo</a>
               </div>
               <div>
               <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
               <a href="#" id="pape_pedal" class="naranjo subcateg partes mbtm5 scrollUp" tag="pape_pedal" role="button" sub2="Papeleros tapa pedal" sub=" Espacios publicos | Papeleros tapa pedal">Papeleros tapa pedal</a>
               </div>
               <div>
               <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
               <a href="#" id="cenicero" class="naranjo subcateg partes mbtm5 scrollUp" tag="cenicero" role="button" sub2="ceniceros" sub=" Espacios publicos | Ceniceros">Ceniceros</a>
               </div>

            <div>
            <i class="fa fa-caret-right categ hidden" aria-hidden="true"></i>
            <a href="#" id="productos_especiales" class="mgt-10 rojo subcateg-ban mbtm5 index scrollUp" tag="productos_especiales" role="button" sub2="productos especiales" sub="productos especiales">Productos especiales</a>
            </div>
               <div>
               <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
               <a href="#" id="especiales" class="subcateg partes rojo mbtm5 scrollUp" tag="especiales" role="button" sub2="productos especiales" sub=" Productos Especiales | Productos especiales">Productos Especiales</a>
               </div>

            <div>
            <i class="fa fa-caret-right categ hidden" aria-hidden="true"></i>
            <a href="#" id="productos_nuevos" class="mgt-10 gris subcateg-ban mbtm5 index scrollUp" tag="productos_nuevos" role="button" sub2="productos nuevos" sub="productos nuevos">Productos nuevos</a>
            </div>
                <div>
                <i class="fa fa-caret-right hidden" aria-hidden="true"></i>
                <a href="#" id="pro_nuevos" class="subcateg gris partes mbtm5 scrollUp" tag="pro_nuevos" role="button" sub2="productos nuevos" sub=" Productos nuevos | Productos nuevos">Productos nuevos</a>
                </div>
            <div>
              <i class="fa fa-caret-right categ hidden" aria-hidden="true"></i>
              <a href="#" id="todos" class="mgt-10 subcateg mbtm5 index scrollUp" tag="" role="button" sub2="todos los productos" sub="Todos los productos">Todos los productos</a>
            </div>
          </div>
          </div>
  </section>



<!--  ********Tag movil****** -->

   <section class="h_submenu hidden-md hidden-lg">
          <div class="container col-md-3 col-sm-12 col-xs-12 mtl text-center" style="padding-top: 1em; margin-bottom: 50px;">
            <div align="center">
            <a id="control_de_acceso" class="azul subcateg1 mbtm5 index" tag="control_de_acceso" role="button" sub2="control de acceso" sub="Control de acceso">Control de acceso</a>


            <a id="productos_ecologicos" class="verde subcateg1 mbtm5 index" tag="productos_ecologicos" role="button" sub2="productos ecologicos" sub="Productos Ecologicos">Productos ecologicos</a>


            <a id="mobiliario_urbano" class="amarillo subcateg1 mbtm5 index" tag="mobiliario_urbano" role="button" sub2="Mobiliario urbano" sub="Mobiliario urbano">Mobiliario urbano</a>

            <a id="espacios_publicos" class="naranjo subcateg1 mbtm5 index" tag="espacios_publicos" role="button" sub2="Espacios publicos" sub="Espacios publicos">Espacios publicos</a>
           
            <a id="productos_especiales" class="rojo subcateg1 mbtm5 index" tag="productos_especiales" role="button" sub2="productos Especiales" sub="productos especiales">Productos especiales</a>
          

            <a id="productos_nuevos" class="gris subcateg1 mbtm5 index" tag="productos_nuevos" role="button" sub2="productos nuevos" sub="productos nuevos">Productos nuevos</a>
            <a id="todos" class="subcateg subcateg1 mbtm5 index" tag="" role="button" sub2="Todos los productos" sub="todos los productos">Todos los productos</a>
          
          </div>
          </div>
  </section>
<!-- *****Fin tag movil****** -->

<section class="nov">
  <div class="container">
    <div align="center" class="to"> 
      <div class="hidden-lg hidden-md visible-xs visible-sm">
        <div class="texto-header-pro-2 tituloCategoria"></div>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <section class="banners">
          <!-- ** CATEGORIA CONTROL ACCESO**** -->
          <div class="control_de_acceso ban hidden">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="Control de acceso inteligente" sub="Control de acceso | Inteligente" tag="inteligente">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_control_1">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_control_1" name="image" id="img_banner_control_1" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_control_1" src="{{ read_image(site.name + '_banner_control_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_control_1',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="Control de acceso inteligente" sub="Control de acceso | Inteligente" tag="inteligente">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_1' }}"> {{ read_text(site.name +  '_nombre_producto_1') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="control de acceso mecanico" sub="Control de acceso | Mecanico" tag="mecanico">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_control_2">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_control_2" name="image" id="img_banner_control_2" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_control_2" src="{{ read_image(site.name + '_banner_control_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_control_2',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="control de acceso mecanico" sub="Control de acceso | Mecanico" tag="mecanico">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_2' }}"> {{ read_text(site.name +  '_nombre_producto_2') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="separador de filas" sub="Control de acceso | Separador de filas" tag="filas">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_control_3">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_control_3" name="image" id="img_banner_control_3" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_control_3" src="{{ read_image(site.name + '_banner_control_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_control_3',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="separador de filas" sub="Control de acceso | Separador de filas" tag="filas">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_3' }}"> {{ read_text(site.name +  '_nombre_producto_3') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="portaletreros" sub="Control de acceso | Portaletreros" tag="letreros">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_control_4">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_control_4" name="image" id="img_banner_control_4" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_control_4" src="{{ read_image(site.name + '_banner_control_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_control_4',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub="Control de acceso | Portaletreros" tag="letreros">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_4' }}"> {{ read_text(site.name +  '_nombre_producto_4') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="otros para control de acceso" sub="Control de acceso | Otros Para Control De Acceso" tag="otros_acceso">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_control_5">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_control_5" name="image" id="img_banner_control_5" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_control_5" src="{{ read_image(site.name + '_banner_control_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_control_5',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub="Control de acceso | Otros Para Control De Acceso" tag="otros_acceso">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_5' }}"> {{ read_text(site.name +  '_nombre_producto_5') }}</div>
              </div>
            </div>
          </div>
          <!-- ** FIN CONTROL ACCESO**** -->

          <!-- ****CATEGORIA PRODUCTOS ECOLOGICOS*** -->
          <div class="basureros ban hidden">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="basureros" sub="Productos Ecologicos | Basureros" tag="basurero_ecologico">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_basurero_1">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_basurero_1" name="image" id="img_banner_basurero_1" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_basurero_1" src="{{ read_image(site.name + '_banner_basurero_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_basurero_1',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub="Productos Ecologicos | Basureros" tag="basurero_ecologico">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_basurero_1' }}"> {{ read_text(site.name +  '_nombre_producto_basurero_1') }}</div>
              </div>
            </div>
          </div>
          <!-- ********FIN PRODUCTOS ECOLOGICOS****** -->

          <!-- ********* CATEGORIA MOBILIARIO URBANO **** -->
          <div class="mob_urbano ban hidden">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="basureros" sub="Mobiliario Urbano | Basureros" tag="basureros">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_basurero_urbano_1">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_basurero_urbano_1" name="image" id="img_banner_basurero_urbano_1" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_basurero_urbano_1" src="{{ read_image(site.name + '_banner_basurero_urbano_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_basurero_urbano_1',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="basureros" sub="Mobiliario Urbano | Basureros" tag="basureros">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_basurero_urbano_1' }}"> {{ read_text(site.name +  '_nombre_producto_basurero_urbano_1') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="banquetas/Escaños" sub="Mobiliario Urbano | Banquetas/Escaños" tag="banqueta">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_basurero_urbano_2">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_basurero_urbano_2" name="image" id="img_banner_basurero_urbano_2" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_basurero_urbano_2" src="{{ read_image(site.name + '_banner_basurero_urbano_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_basurero_urbano_2',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="banquetas/Escaños" sub="Mobiliario Urbano | Banquetas/Escaños" tag="banqueta">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_basurero_urbano_2' }}"> {{ read_text(site.name +  '_nombre_producto_basurero_urbano_2') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="bicicleteros" sub="Mobiliario Urbano | Bicicleteros" tag="bicicleteros">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_basurero_urbano_3">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_basurero_urbano_3" name="image" id="img_banner_basurero_urbano_3" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_basurero_urbano_3" src="{{ read_image(site.name + '_banner_basurero_urbano_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_basurero_urbano_3',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="bicicleteros" sub="Mobiliario Urbano | Bicicleteros" tag="bicicleteros">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_basurero_urbano_3' }}"> {{ read_text(site.name +  '_nombre_producto_basurero_urbano_3') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="refiguos para bicicletas" sub="Mobiliario Urbano | Refugios Para Bicicletas" tag="refugio_bici">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_basurero_urbano_4">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_basurero_urbano_4" name="image" id="img_banner_basurero_urbano_4" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_basurero_urbano_4" src="{{ read_image(site.name + '_banner_basurero_urbano_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_basurero_urbano_4',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="refiguos para bicicletas" sub="Mobiliario Urbano | Refugios Para Bicicletas" tag="refugio_bici">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_basurero_urbano_4' }}"> {{ read_text(site.name +  '_nombre_producto_basurero_urbano_4') }}</div>
              </div>
            </div>
          </div>
          <!-- *****************FIN MOBILIARIO URBANO********** -->

          <!-- ***********CATEGORIA ESPACIOS PUBLICOS********** -->
          <div class="espa_publicos ban hidden">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="papeleros ceniceros" sub="Espacios Publicos | Papeleros Ceniceros" tag="pape_ceni">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_papelero_ceni_1">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_papelero_ceni_1" name="image" id="img_banner_papelero_ceni_1" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_papelero_ceni_1" src="{{ read_image(site.name + '_banner_papelero_ceni_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_papelero_ceni_1',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="papeleros ceniceros" sub="Espacios Publicos | Papeleros Ceniceros" tag="pape_ceni">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_papelero_ceni_1' }}"> {{ read_text(site.name +  '_nombre_producto_papelero_ceni_1') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="papeleros oficina" sub="Espacios Publicos | Papeleros Oficina" tag="pape_ofi">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_papelero_ceni_2">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_papelero_ceni_2" name="image" id="img_banner_papelero_ceni_2" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_papelero_ceni_2" src="{{ read_image(site.name + '_banner_papelero_ceni_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_papelero_ceni_2',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="papeleros oficina" sub="Espacios Publicos | Papeleros Oficina" tag="pape_ofi">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_papelero_ceni_2' }}"> {{ read_text(site.name +  '_nombre_producto_papelero_ceni_2') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="papeleros tapa pendulo" sub="Espacios Publicos | Papeleros Tapa Pendulo" tag="pape_pendu">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_papelero_ceni_3">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_papelero_ceni_3" name="image" id="img_banner_papelero_ceni_3" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_papelero_ceni_3" src="{{ read_image(site.name + '_banner_papelero_ceni_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_papelero_ceni_3',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="papeleros tapa pendulo" sub="Espacios Publicos | Papeleros Tapa Pendulo" tag="pape_pendu">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_papelero_ceni_3' }}"> {{ read_text(site.name +  '_nombre_producto_papelero_ceni_3') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="papeleros tapa pedal" sub="Espacios Publicos | Papeleros Tapa Pedal" tag="pape_pedal">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_papelero_ceni_4">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_papelero_ceni_4" name="image" id="img_banner_papelero_ceni_4" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_papelero_ceni_4" src="{{ read_image(site.name + '_banner_papelero_ceni_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_papelero_ceni_4',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="papeleros tapa pedal" sub="Espacios Publicos | Papeleros Tapa Pedal" tag="pape_pedal">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_papelero_ceni_4' }}"> {{ read_text(site.name +  '_nombre_producto_papelero_ceni_4') }}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="ceniceros" sub="Espacios Publicos | Ceniceros" tag="cenicero">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_papelero_ceni_5">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_papelero_ceni_5" name="image" id="img_banner_papelero_ceni_5" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_papelero_ceni_5" src="{{ read_image(site.name + '_banner_papelero_ceni_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_papelero_ceni_5',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="ceniceros" sub="Espacios Publicos | Ceniceros" tag="cenicero">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_papelero_ceni_5' }}"> {{ read_text(site.name +  '_nombre_producto_papelero_ceni_5') }}</div>
              </div>
            </div>
          </div>
          <!-- **********FIN ESPACIOS PUBLICOS******** -->

          <!-- ************CATEGORIA PRODUCTOS ESPECIALES***** -->
          <div class="prod_especiales ban hidden">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="productos especiales" sub="Productos Especiales | Productos Especiales" tag="especiales">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_productos_especiales_1">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_productos_especiales_1" name="image" id="img_banner_productos_especiales_1" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_productos_especiales_1" src="{{ read_image(site.name + '_banner_productos_especiales_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_productos_especiales_1',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="productos especiales" sub="Productos Especiales | Productos Especiales" tag="especiales">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_productos_especiales_1' }}"> {{ read_text(site.name +  '_nombre_producto_productos_especiales_1') }}</div>
              </div>
            </div>
          </div>
          <!-- ******** FIN PRODUCTOS ESPECIALES***** -->

          <!-- ************PRODUCTOS NUEVOS***** -->
          <div class="prod_nuevos ban hidden">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <div class="contenedor-banner" sub2="productos nuevos" sub="Productos Nuevos | Productos Nuevos" tag="pro_nuevos">
                {% if is_admin %}
                  <div class="image-upload part1 lapiz visible-movil">
                    <label for="img_banner_productos_nuevos_1">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_productos_nuevos_1" name="image" id="img_banner_productos_nuevos_1" >
                  </div>
                {% end %}
                <img id="{{ site.name }}_banner_productos_nuevos_1" src="{{ read_image(site.name + '_banner_productos_nuevos_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_productos_nuevos_1',500) }}'" class="img-productos-nuevo subcateg scrollUp" alt="item" sub2="productos nuevos" sub="Productos Nuevos | Productos Nuevos" tag="pro_nuevos">
                <div class="inf-2 ellipsis multiline {{editabletext}}" text-id="{{ site.name + '_nombre_producto_productos_nuevos_1' }}"> {{ read_text(site.name +  '_nombre_producto_productos_nuevos_1') }}</div>
              </div>
            </div>
          </div>
          <!-- ******** FIN PRODUCTOS NUEVOS ***** -->
        </section>

        <div class="products hidden">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>


<div class="clearfix-dos"> </div>

</div>

</body>


{% include '../home/footer.html' %}
{% end %}


