@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?h2xzkc');
    src:    url('fonts/icomoon.eot?h2xzkc#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?h2xzkc') format('truetype'),
        url('fonts/icomoon.woff?h2xzkc') format('woff'),
        url('fonts/icomoon.svg?h2xzkc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
    content: "\e916";
}
.icon-assistente .path1:before {
    content: "\e90b";
    color: rgb(150, 150, 150);
}
.icon-assistente .path2:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-assistente .path3:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(150, 150, 150);
}
.icon-assistente .path4:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(150, 150, 150);
}
.icon-assistente .path5:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(150, 150, 150);
}
.icon-assistente .path6:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(150, 150, 150);
}
.icon-assistente .path7:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(150, 150, 150);
}
.icon-assistente .path8:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(150, 150, 150);
}
.icon-scrivi:before {
    content: "\e913";
}
.icon-telefono:before {
    content: "\e914";
}
.icon-libro:before {
    content: "\e915";
}
.icon-mangiare:before {
    content: "\e90a";
}
.icon-bilancia:before {
    content: "\e900";
}
.icon-centri:before {
    content: "\e901";
}
.icon-clienti:before {
    content: "\e902";
}
.icon-cuore:before {
    content: "\e903";
}
.icon-dimagrimento:before {
    content: "\e904";
}
.icon-donna:before {
    content: "\e905";
}
.icon-farfalla:before {
    content: "\e906";
}
.icon-foglie:before {
    content: "\e907";
}
.icon-lettino:before {
    content: "\e908";
}
.icon-ossigeno:before {
    content: "\e909";
}

