/*=======MARGIN CLASSES========*/
.space5{
    margin-top: 5px !important;
}
.space10{
    margin-top: 10px !important;
}
.space15{
    margin-top: 15px;
}
.space17{
    margin-top: 17px;
}
.space20{
    margin-top: 20px;
}
.space25{
    margin-top: 25px;
}
.space30{
    margin-top: 30px;
}
.space33{
    margin-top: 33px;
}
.space40{
    margin-top: 40px;
}
.space45{
    margin-top: 45px;
}
.space50{
    margin-top: 50px;
}
.space60{
    margin-top: 60px;
}
.space70{
    margin-top: 70px;
}
.space75{
    margin-top: 75px;
}
.space80{
    margin-top: 80px;
}
.space90{
    margin-top: 90px;
}
.space100{
    margin-top: 100px;
}
.space128{
    margin-top: 128px;
}
.space130{
    margin-top: 130px;
}
.space135{
    margin-top: 135px;
}
.space148{
    margin-top: 148px;
}
.space150{
    margin-top: 150px;
}

.space160{
    margin-top: 160px;
}
.space170{
    margin-top: 170px;
}
.space180{
    margin-top: 180px;
}
.space200{
    margin-top: 200px;
}
.space240{
    margin-top: 240px;
}
.space277{
    margin-top: 277px;
}
.space372{
    margin-top: 372px;
}
.space390{
    margin-top: 390px;
}
.mbtm7{
    margin-bottom: 7px;
}
.mbtm10{
    margin-bottom: 10px;
}
.mbtm20{
    margin-bottom: 20px;
}
.mbtm30{
    margin-bottom: 30px;
}
.mbtm40{
    margin-bottom: 40px;
}
.mbtm50{
    margin-bottom: 50px;
}
.mbtm60{
    margin-bottom: 60px;
}
.mbtm70{
    margin-bottom: 70px;
}
.mbtm80{
    margin-bottom: 80px;
}
.mbtm90{
    margin-bottom: 90px;
}
.mbtm100{
    margin-bottom: 100px;
}

.mbtm150{
    margin-bottom: 150px;
}
.m0{
    margin: 0;
}
/*.mbtm0{
    margin-bottom: 0px;
}*/
.mleft10{
    margin-left:10px;
}
.mright10{
    margin-right:10px;
}
.mright30{
    margin-right:30px;
}
.mauto{
    margin: 0px auto !important;
}
.mautomargin{
    margin: 40px auto !important;
}
.marginR{
    margin-right: 40px;
    text-align: center;
    margin-left: 35px;
}
.marginL{
    margin-left: 50px;
}
.margin-right{
    margin-right: 307px;
}
.marginL14{
    margin-left: 14%;
}
.mtop100{
    margin-top: -100px;
}
.border-btm{
    border-bottom: 1px solid #fff;
}

.height{
    height: 100px;
}

.height478{
    height: 478px;
}
/*========PADDING CLASSES========*/
.pad0{
    padding: 0px !important;
}
.pad10{
    padding: 10px !important;
}
.pad20{
    padding: 20px;
}
.pad30{
    padding: 30px;
}
.pad40{
    padding: 40px;
}
.pad50{
    padding: 50px;
}
.pad60{
    padding: 60px;
}
.pad70{
    padding: 70px;
}
.pad80{
    padding: 80px;
}
.pad90{
    padding: 90px;
}
.pad100{
    padding: 100px;
}
.padleft0{
    padding-left: 0px !important;
}
.padright0{
    padding-right: 0px !important;
}
.padtop0{
    padding-top: 0px !important;        
}
.padbottom0{
    padding-bottom: 0px !important;     
}
.padbottom100{
    padding-bottom: 100px !important;       
}
.padbottom60{
    padding-bottom: 60px !important;        
}

.pad0.cero {

    padding: 0px !important;
    /* left: 232px; */
    position: relative;
    width: 38%;
    float: right;
}

/*****SATURADA*****/
img.desaturada {
    filter: grayscale(100%) brightness(100%);
    -webkit-filter: grayscale(50%) brightness(100%);
    -moz-filter: grayscale(100%) brightness(100%);
    -ms-filter: grayscale(100%) brightness(100%);
    -o-filter: grayscale(100%) brightness(100%);
}
/*********LISTADO DE PLANES********/
.height_list_product{
    height: 482px;
}

.container-second{
    width: 100%;
    height: 400px;
}

.img_planes_banner {
     width: 100%;
      height: 513px;  
     object-fit: cover!important;
}

.box_img{
    width: 100%;
    height: 300px;
}

.img_planes{
    width: 100%;
    height: auto;
}

.text_planes{
    position: absolute;
    /* top: 100%; */
    bottom: 30px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 400px; */
    margin: auto!important;
    color: white;
    font-size: 2.9rem;
   /* font-family: 'Open Sans', sans-serif;*/
    word-wrap: break-word !important;
    max-width: 90%;
    /* overflow: hidden; */
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* overflow: hidden; */
}

.text_planes-2 {
    position: absolute;
    /* top: 100%; */
    bottom: 137px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 400px; */
    margin: auto!important;
    color: white;
    font-size: 2.9rem;
    word-wrap: break-word !important;
    max-width: 90%;
    /* overflow: hidden; */
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* overflow: hidden; */
}

.h_planes_2{
    height: 172px;
    position: relative;
    width: 100%;
    display: table;
}

.text_planes2{
        text-align: center;
    font-size: 2.0rem;
    color: #919190;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 730px;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 60px;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 37px;
}

.container-second-planes{
    width: 100%;
    height: 319px;
}


.img_planes_group{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_planes3{
    position: absolute;
    font-size: 1.8rem;
    bottom: 25px;
    left: 0;
    right: 0;
    color: white;
    font-weight: 600;
    /* top: 65%; */
    text-align: left!important;
    width: 90%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 25px;
    /* height: 55px; */
}


/**********DETALLE PLANES*************/
.height-content{
    width: 100%;
    min-height: 600px;
}

.img_detail_planes {
    width: 100%;
    object-fit: cover;
    height: 485px; 
}


.text_detail_planes{
    position: absolute;
    /* top: 60%; */
    bottom: 149px;
    left: 0;
    right: 0;
    width: 74%;
    /* height: 0%; */
    margin: auto;
    color: white;
    font-size: 3.0rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.img_banner_art {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 434px;
}

.text_artdetail{
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 90%;
    height: 0%;
    margin:25% auto;
    color: white;
    font-weight: 700;
    font-size: 2.9rem;
 /*   font-family: 'Open Sans', sans-serif;*/
}

.text-art1{
    position: relative;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.9rem;
    margin-top: -80px;
    bottom: 10px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    padding-left:0px;
    padding-right: 0px;
}

.text-art2{
    left: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.5rem;
    text-align: center !important;
    line-height: 32px;
    font-weight: 100;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    margin-top: 54px;
}

.main {
    margin-top: 230px;
}

.main.al {
    margin-top: 168px;
}

h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 9px;
}

input::-webkit-input-placeholder {
    font-size: 1.4rem!important;
    padding-top: 3px;
    font-weight: 500;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
    color: #EE73AD!important;
}

select.form-control{
    font-size: 1.4em;
    color: gray;
}

.controls input, .controls textarea {
    padding: 0px 0px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 180px;
    margin: 0 auto;
    max-width: 695px;
    /* padding: 40px 40px; */
    margin-bottom: 77px;
    height: 880px;
}

.login-button{
    margin-top: 3px;
}

.login-register{
    font-size: 8px;
    text-align: center;
}

.color-form{
    background-color: #F9C9DF;
}

.cuadro-form{
   width: 100%!important;
    height: 53px !important;
    background-color: #FBEDF3!important;
    color: #EE73AD!important;
    max-width: 488px;
    position: relative;
    left: 17%;
    font-size: 1.4rem;
    font-weight: 100;
}

.btn-enviar-detail{
    float: right;
    background-color: #EE70AC;
    color: white!important;
    border-radius: 1px;
    font-size: 24px;
    font-weight: 100;
    right: 116px;
    position: relative;
    height: 50px;
    width: 122px;
    top: 4px;
}

.title-form{
    color: white;
    font-weight: 100;
    /* background-color: #EA4B96; */
    width: 100%;
    margin: 0;
    position: relative;
    top: 26px;
    -webkit-font-smoothing: antialiased;
    padding-left: 13px;
    padding-right: 13px;
}

.box-form{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    background-color: #EA4B96;
    height: 97px;
    width: 100%;
    position: relative;
    bottom: 39px;
    overflow: hidden;
}
/*******Detalle de planes*****/
.height_detail_planes{
    height: 400px;
    }

.contenedor_banner{
    width:100%;
    height: 100%;
}

.img_detail{
    width: 100%;
    height: 513px;
    object-fit: cover;
}

.title-detail{
    position: absolute;
    font-size: 2.3rem;
    left: 0;
    right: 0;
    bottom: -91px;
    font-weight: 100;
    overflow: hidden;
    /*font-family: 'Open Sans', sans-serif;*/
    /* top: 65%; */
    text-align: center!important;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    /* height: 55px; */
    /*color: rgba(48, 51, 51, 0.81);*/
}


.descrip_detail1{
    font-size: 1.5rem;
    font-weight: 100;
  /*  color: rgba(48, 51, 51, 0.81);*/
    text-align: center;
    -webkit-font-smoothing: antialiased;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 32px;
    width: 100%;
    position: relative;
    top: 115px;
}   

.h_detail_planes{
    height:340px;
    position: relative;
}

/******CONTACT*****/
.img_contact {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 513px;
}
.fondo-contact {
    height: auto;
}

.align-form-contact {
    padding-left: 0%;
    padding-right: 0%;
}

.btn-block.contact {
    display: block;
    width: 27%;
    border-radius: 0px;
    background-color: transparent;
    color: #EE73AB;
    float: right;
    margin-top: 20px;
    border: 2px solid #EE73AB;
    font-size: 17px;
    right: 122px;
    position: relative;
}

.btn-block.contact:hover {
    display: block;
    width: 27%;
    border-radius: 0px;
    background-color:#EE73AB;
    color:white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px solid white;
    right: 122px;
    position: relative;
}

.controls input, .controls textarea {
    padding: 10px 16px;
    border-radius: 0px;
}

/******SUCCESS******/
.img_success {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 513px;
}

.text_success {
    position: absolute;
    bottom: 100px;
    width: 97%;
    color: white;
    font-size: 1.6rem;
    margin-bottom: 5px;
    font-weight: 100;
    font-family: 'Oxygen', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.b2{
    overflow: hidden;
}

.h1-art_a{
    position: relative;
    top: 23px;
}

/*******SUCURSALES******/

.contenedor-text{
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 3;
    line-height: 16px;
    max-height: 110px;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.height_nosotros{
    min-height:200px;
}

.h-nosotros{
    min-height: 180px;
}
.img_nosotros{
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 286px;
}

.text_nosotros{
        position: absolute;
    top: 50%;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 90%;
    height: 110px;
    margin: auto !important;
    color: white;
    font-size: 1.7rem;
/*    font-family: 'Open Sans', sans-serif;*/
    text-align: center;
    word-break: break-all;
    overflow: hidden;
    margin: 0 auto;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text_nosotros2{
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    color: #B6B7B8;
    font-size: 1.7rem;
/*    font-family: 'Open Sans', sans-serif;*/
    text-align: center !important;
    text-transform: uppercase;
    top: 50px;
    margin-bottom: 80px;
    /* margin: 0 auto; */
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}


/*******PRIMERA IMAGEN********/

.box-img{
    width: 100%;
     height: 300px;
}
.img_nosotros1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_sucursales01{
    text-align: left;
    color: #919190;
    text-transform: uppercase;
    width:90%;
    padding-left: 15px;
    position: relative;
    bottom: 10px;
    height: 40px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

.text_sucursales02{
    text-align: left;
    color: #B6B7B8;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    width: 100%;
    position: relative;
    height: 55px;
}

.text_sucursales03{
    color: #919190;
    text-transform: uppercase;
    /* padding-left: 20px; */
    position: relative;
    bottom: 0;
    height: 80px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    width: 210px;
    margin-top: 35px;
}

.text_sucursales04{
    color: #B6B7B8;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    bottom: 0;
    height: 53px;
    width: 90%;
}

.btn-resena{
    border: 1px solid #7D5E5E;
    margin-left: 15px;
    color: #9C8900;
    font-weight: bold;
    border-radius:1px;
    margin-top: 20px;
}

.text_sucursales07{
    color: #919190;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
    bottom: 0;
    height: 80px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

.text_sucursales08{
    color: #B6B7B8;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 16px;
    position: relative;
    bottom: 0;
    height: 53px;
    width: 90%;
}
/*******SEGUNDA IMAGEN********/

.box-img-2{
    width: 100%;
    height: 300px;
    float: right;
}

.img_nosotros2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-2{
    /*right: 15px;
    position: relative;*/
    margin-left: 0px;
}


/*******TERCERA IMAGEN********/
.box-img3{
    width: 100%;
     height: 300px;
}

.img_nosotros3{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**********EMBAJADORAS***********/
.img_banner_emb{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    height: 434px;
}

.title-emb{
    text-align: justify;
    /* top: 50%; */
    bottom: 100px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: auto;
    text-align: center;
    font-weight: 100;
    font-size: 2.9rem;
/*    font-family: 'Open Sans', sans-serif;*/
    position: absolute;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    /* height: 93px; */
}

.img_embajadoras {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h_embajadoras2{
    // height: 520px;
    width: 100%;
}

.box_img_emb{
    width: 100%;
    height: 300px;
    padding-left: 9px;
//     margin-top: 20px;
}

.tex-vi {
    position: relative;
    /* padding: 4px; */
    font-size: 1.2rem;
    color: #919190;
    top: 0px;
    left: 9px;
    margin-bottom: 6px;
    overflow: hidden;
    // height: 46px;
    width: 90%;
    font-weight:500!important;
}

.tex-vi-2 {
    text-align: left;
    font-size: 1.2rem;
    color:#919190;;
    position: relative;
    bottom: 0px;
    left: 9px;
    right: 0;
    top: 0px;
    margin-bottom: 20px!important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 90%;
    // height: 135px;
    overflow: hidden;
    font-weight:100;
}

.container.kk {
    margin-top: -137px;
}

/*****LISTADO DE ARTICULOS****/
.hla {
    height: 610px;
    position: relative;
}


.banner_list {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 513px; 
    margin-top: 0px;
}

.img_historias_banner {
    width: 100%;
     height: 513px; 
    object-fit:cover !important;
    top: 0px;
    bottom: 0px;
}

.text-article-title {
    height: 50px;
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: -65px;
}

.listart1{
    text-align: justify;
    font-size: 1.5rem;
    /* font-family: 'Open Sans', sans-serif; */
    /*color: rgba(68, 64, 64, 0.88);*/
    /* margin-top: 90px; */
    margin-bottom: 90px!important;
    position: relative;
    top: 0px;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 80%;
    height: 0%;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img_article{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_lis_art {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    height: 335px;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

.article{
    position: relative;
}

.article_title{
    text-align: left;
    /* color: #919190; */
    width: 100%;
    padding-left: 3px;
    position: relative;
    bottom: -4px;
    height: 40px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.7rem;
    margin-bottom: 22px;
    line-height: 37px;
}



.article_text {
    text-align: left;
    /* color: #919190; */
    font-size: 28px;
    font-weight: 100;
    padding-left: 3px;
    width: 100%;
    position: relative;
    height: 214px;
    margin-top: 0px;
    line-height: 42px;
    -webkit-font-smoothing: antialiased;
    bottom: -17px;
}

.article_title2 {
    text-align: left;
    /* color: #919190; */
    width: 100%;
    padding-left: 3px;
    position: relative;
    bottom: -4px;
    height: 40px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.7rem;
    margin-bottom: 22px;
    line-height: 37px;
}

.article_text2 {
    text-align: left;
    /* color: #919190; */
    font-size: 28px;
    font-weight: 100;
    padding-left: 3px;
    width: 100%;
    position: relative;
    height: 214px;
    margin-top: 0px;
    line-height: 42px;
    -webkit-font-smoothing: antialiased;
    bottom: -17px;
}

.text_art3{
    text-align: center;
    font-size: 2.0rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color: #919190;
    margin-top: 90px;
    margin-bottom: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 54%;
    height: 0%;
    margin: auto;
    font-weight: 100;

}
.text_art4{
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 80%;
    height: 0%;
    margin: auto;
    color: #6F7070;
    font-size: 2.3rem;
    font-weight: 100;
}

.h2b{
    height: 725px;
}

/*TERMINOS Y CONDICIONES*/
.text_term_cond2 {
    border-bottom: 1px solid #434343;
    text-transform: uppercase;
    color: #919190;
    font-weight: 500;
    text-align: left;
    width: 80%;
    overflow: hidden;
    height: 37px;
}

.text_term_cond3{
    /*text-transform:capitalize;*/
    text-transform: inherit;
    border-bottom:inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
    font-weight: 100;
    font-size: 2.0rem;
    color: #919190;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0px;
    margin: 0 auto!important;
    margin-bottom: 100px!important;
    margin-top: 15px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 43px;
}


/******MODAL******/
.modal-movil{
    position: relative;
    top: 80px;
    }

.letraNormal{
    width: 70%;
    height: 51px;
    border-radius: 0px !important;
    margin-left: 9px;
    background: #FBEDF3;
    font-size: 2.0em;
    color: #EE73AD;
    font-weight: 100;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 20px;
    margin-bottom: 16px;
}

.texto-visitas{
    margin-top: 55px;
    font-size: 24px;
    font-weight: 300;
    color: gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr.visit{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #EA4B96;
    position: relative;
    top: -23px;
    float: left;
    width: 269px;
}

.box-ubicacion {
    width: 90%;
    position: relative;
    height: 200px;
    object-fit: cover !important;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
    margin-bottom: 50px;
    margin-top: 30px;
}

hr.textos {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #EA4B96;
    width: 90%;
    float: left;
    position: relative;
    top: -2px;
}

.texto-ubi {
    font-size: 14px;
    position: relative;
    top: -21px;
    margin-bottom: 5px;
    width: 80%;
   /* font-family: 'Open Sans', sans-serif;*/
    color: gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-locales {
    width: 60%;
    position: relative;
    height: 290px;
    object-fit: cover !important;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
    margin-bottom: 50px;
    margin-top: 30px;
}

.texto-ubi-2 {
    font-size: 14px;
    position: relative;
    top: -21px;
    margin-bottom: 2px;
    width: 80%;
    text-align: left;
    left: 54px;
}

hr.inter {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #EA4B96;
    width: 100px;
    float: left;
    left: 107px;
    position: relative;
    top: -27px;
}

.texto-tel {
    font-size: 14px;
    position: relative;
    top: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: -10px;
    width: 63%;
    text-align: left;
    left: 7px;
    color: gray;
}

#cont{
    margin-top: 30px;
}

.btn-default.mapa {
    color: gray;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0px;
    font-weight: 300;
}

.btn-default.mapa:hover{
    color: #EA4B96;
    background-color: #fff;
    border-color: #EA4B96;
    border-radius: 0px;
    font-weight: 300;
}

.img-arti{
   width: 30px;
}

.pad_article{
   margin-bottom: 46px;
}

.help-block {
    margin-bottom: -22px;
}

.notranslate{
    line-height: 32px !important;
}

.box-promo{
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 34px;
}

.is{
    margin-top: 100px;

}

.box-planes{
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 34px;
}

.hav {
    left: 15px;
    background-color: #F9F9F9;
    color: gray;
}

.hav-2{
    left: 15px;
    background-color: #F9F9F9;
    color: gray;
}

.hav-3{
    left: 15px;
    background-color: #F9F9F9;
    color: gray;
}

.hav:hover{
    background-color: #EC5C9D;
    color: white !important;
    position: relative;
    left:15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hav-3:hover{
    background-color: #EC5C9D;
    color: white !important;
    position: relative;
    left: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hav-2:hover{
    background-color: #EC5C9D;
    color: white !important;
    position: relative;
    left: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*------------------------------------------------Responsive------------------------------------------*/

@media (max-width: 991px){
.text-art1 {
    position: relative;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.9rem;
    margin-top: -157px;
    bottom: 10px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 80px;
}

.text-art2 {
    left: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.5rem;
    text-align: center !important;
    line-height: 32px;
    font-weight: 100;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    margin-top: -19px;
}


.img_detail_planes {
    width: 100%;
    object-fit: cover;
    height: 380px;
}

.article_text2 {
    position: relative;
    left: 51%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    max-width: 400px;
    /* color: #919190; */
    font-size: 1.5rem;
    height: 208px;
    text-align: left;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.article_text {
    position: relative;
    max-width: 100%;
    /* color: #919190; */
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    height: 172px;
    text-align: left;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.article_title {
    position: relative;
    top: 50%;
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    /* color: #919190; */
    font-size: 2.4rem;
    /* text-transform: capitalize; */
    font-weight: 100;
    width: 90%;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

.article_title2 {
    position: relative;
    top: 50%;
    /* left: 50%; */
    font-size: 2.4rem!important;
    /* color: #919190; */
    text-align: left;
    /*text-transform: capitalize;*/
    font-weight: 100;
}


}

@media (max-width: 767px){
    .letraNormal {
    width: 92%;
    height: 51px;
    border-radius: 0px !important;
    margin-left: -3px;
    background: #FBEDF3;
    font-size: 1.5em;
    color: #EE73AD;
    font-weight: 100;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 20px;
    margin-bottom: 16px;
}

.text-art1 {
    position: relative;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    /*color: rgba(48, 51, 51, 0.81);*/
    font-size: 1.7rem;
    margin-top: -80px;
    bottom: 10px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.text-art2 {
    left: 50%;
   /* color: rgba(48, 51, 51, 0.81);*/
    font-size: 1.5rem;
    text-align: center !important;
    line-height: 32px;
    font-weight: 100;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    margin-top: -60px;
}

.img_detail_planes {
    width: 100%;
    object-fit: contain;
    height: 100%; 
    top: 0px;
}

.banner_list {
    width: 100%;
    object-fit: contain;
    top: 0px;
    height:100%; 
    margin-top: 0;
}

.img_planes_banner {
    width: 100%;
    height: 100%; 
    object-fit: contain !important;
}

.text_planes2 {
    text-align: center;
    font-size: 2.0rem;
    color: #919190;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 730px;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -127px;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 37px;
}

.img_historias_banner {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    top: 0px;
    bottom: 0px;
}

.fr {
    float: left;
}

.hav {
    left: 15px;
    background-color: #F9F9F9;
    color: gray;
    width: 96%;
}

.hav:hover{
    background-color: #EC5C9D;
    color: white !important;
    position: relative;
    left:15px;
    width: 96%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

}

@media screen and (max-width: 800px){

.article_text{
    left:inherit;
    height: 150px;
    }

.article_title{
    text-align: left;
    }

.article_text2 {
    left:inherit;
    -ms-transform: none;
    transform:none;
    height: 150px;
    }

.text_sucursales01 {
    width: 100%;
    height: 76px;
    font-size:30px;
    }
.text_sucursales03 {
    width: 100%;
}
.text_sucursales04 {
    height:83px;
    width: 100%;
    }
.text_planes{
    top: 80%;
    height: 94px;
    margin-top: 30px;
    }
.text_planes3 {
     width: 90%;
     height: 55px;
    }
}

/*******RESPONSIVE*******/
@media screen and (max-width: 767px){
    .height-content{
    width: 100%;
    // height: 1910px;
    }

    .h_planes_2 {
    height: 230px;
    }
    .text_planes2{
        width: 100%;
    }
    .container-second {
    margin-bottom: 10px;
    }
    .cuadro-form {
    width: 68%!important;
    font-size: 1.5rem;
    }
    .main-center {
    max-width: 290px;
    }
    // DETALLE DE ARTICULO/

.text-art1 {
    text-align: center;
    font-size: 1.5rem;
    }
.text-art2 {

    }

.h_detail_planes{
    // height:inherit;
    }
/******CONTACT*****/
.fondo-contact {
    width: 100%;
    height: auto;
    }

.align-form-contact {
     padding-left:inherit; 
     padding-right:inherit; 
}


    .pad0.cero {
    padding: 0px !important;
    left: 235px;
    position: relative;
    width: 41%;
    }

/***********sucursales********/
.h_movil1{
    height: 270px;
}

.h_movil2 {
    height: 300px;
}

.h_movil3 {
    height: 280px;
}


.text_sucursales01 {
    padding-left:inherit;
    width: 100%;
    height: 75px;
}

.text_sucursales02 {
    padding-left: inherit;
    height: 65px;
}

.text_sucursales03 {
    width: 100%;
    overflow: hidden;
}

.text_sucursales04 {
    height: 65px;
}

.text_sucursales07 {
    padding-left: 15px;
    overflow: hidden;
}

.text_sucursales08 {
    width: 100%;
    overflow: hidden;
}

.btn-3{
    margin-left: 15px!important;
}

.btn-resena {
    margin-left:inherit; 
    }

/*****LISTADO DE ARTICULOS*****/
    .img_lis_art {
        position: relative;
        }

    .article_text2{
        left: inherit;
     /*   color: #919190;*/
        margin-top: 40px;
        margin-bottom: 40px;
        }
        
    .text_art4 {
        position: inherit;
        font-size: 1.8rem;
        }

    .article_title{
        text-align: left;
        font-size: 2.9rem;
        top: 20px;
        text-transform: capitalize;
        }

    .article_title2 {
        font-size: 2.9rem!important;
        top: 20px;
       /* text-transform: capitalize;*/
        /*color: #919190;*/
        }

    .h2b{
        height: 755px;
        }

    .hm{
        height: 256px!important;
        }
        
      .listart1 {
        font-size: 1.5rem;
        line-height: 30px;
        position: inherit;
        color: #919190;
        margin-top: -236px !important;
    }

/*****EMBAJADORAS******/
.box_img_emb {
    padding-left:inherit;
    }
.text_planes {
    top: 0;
     height:inherit; 
    bottom: 30px;
    position: relative;
    }

/******TERMINOS Y CONDICIONES******/
    .text_term_cond2 {
        font-size: 25px;
        }
    .text_term_cond3 {
        font-size: 23px;
        }

    /******NOSOTROS******/
    .movil-nosotros3{
        text-align: center;
        width: 104%;
        }
    .container-fluid-magle {
         padding:10px; 
        }

    .images-detail{
        height: 550px;
    }
/*****METODO_FIGURELLA*****/
.article_title {
    /*color: #919190;*/

}
.article_text {
    left: inherit;
    -ms-transform: none;
     transform:none; 
    max-width: 100%;
    text-align: left!important;
    margin-top: 40px;
   /* color: #919190;*/
    margin-bottom:40px;
    }
.tex-vi {
    height: 57px;
    }
.text_detail_planes {
    top: 30%;
    }
/*****PAGINA CONTACTO******/
.title-form {
    font-size: 1.5rem;
}

input,
input::-webkit-input-placeholder {
    font-size: 1.5rem!important;
    }

.cuadro-form {
    max-width: 270px;
    left: 24px;
    }
.input-group .form-control {
    width: 100%!important;
    }
}

@media (max-width: 767px){
    .text-art2 img{
      width: 100% !important;
      object-fit: contain;
    }
}


@media (max-width: 700px){
    .text_planes2 {
    text-align: center;
    font-size: 2.0rem;
    color: #919190;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 85%;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -172px;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 37px;
}

.banner_list {
    width: 100%;
    object-fit: contain;
    top: 0px;
     height: 100%; 
    margin-top:0px;
}

.cel{
    background-size:contain !important;
    height: 200px !important;
}

.article_title2 {
    font-size: 2.2rem!important;
    top: 20px;
   /* text-transform: capitalize;*/
    /* color: #919190; */
    margin-bottom: 34px;
}

.article_title {
    text-align: left;
    font-size: 2.2rem;
    top: 20px;
    text-transform: capitalize;
    margin-bottom: 34px;
}


.img_success {
    background-size: contain !important;
    height: 300px !important;
}

.yim{
    height: 344px !important;
}

.img_contact{
    background-size: contain !important;
    height: 300px !important;
}

.text_success {
    position: absolute;
    bottom: 20px;
    width: 97%;
    color: white;
    font-size: 1.6rem;
    margin-bottom: 5px;
    font-weight: 100;
    font-family: 'Oxygen', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-block.contact {
    display: block;
    width: 27%;
    border-radius: 0px;
    background-color: transparent;
    color: #EE73AB;
    float: right;
    margin-top: 15px;
    border: 2px solid #EE73AB;
    font-size: 17px;
    right: 0px;
    position: relative;
    margin-bottom: 19px;
}
.btn-block.contact:hover {
    display: block;
    width: 27%;
    border-radius: 0px;
    background-color: #EE73AB;
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px solid white;
    right: 0px;
    position: relative;
    margin-bottom: 19px;
}

}

@media (max-width: 600px){
.text-art1 {
    position: relative;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.6em;
    margin-top: -190px;
    bottom: 10px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 140px;
}

.text-art2 {
    left: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.5rem;
    text-align: center !important;
    line-height: 32px;
    font-weight: 100;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    margin-top: -130px;
}
.img_nosotros1{
    object-fit: contain;
    }
.img_detail_planes {
    width: 100%;
    object-fit: contain;
    height: 100%; 
    top: 0;
}

}


@media (max-width: 530px){
    .listart1 {
    font-size: 1.5rem;
    line-height: 30px;
    position: inherit;
    color: #919190;
    margin-top: -150px !important;
}

    .text_planes2 {
    text-align: center;
    font-size: 2.0rem;
    color: #919190;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 85%;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -200px;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 37px;
}

.banner_list {
    width: 100%;
    object-fit: contain;
    top: 0px;
    height: 100%; 
    margin-top: 0px;
}

.listart1 {
    font-size: 1.5rem;
    line-height: 30px;
    position: inherit;
    color: #919190;
    margin-top: -309px !important;
}




}

@media (max-width: 500px) {
    .img_article {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

}
@media (max-width: 414px){
    .box-locales {
    width: 100%;
    position: relative;
    height: 290px;
    object-fit: cover !important;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
    margin-bottom: 50px;
    margin-top: 30px;
}

.article_title {
   /* color: #919190;*/
    margin-bottom: 30px;
}

.article_title2 {
    font-size: 2.2rem!important;
    top: 20px;
    /*text-transform: capitalize;*/
    /*color: #919190;*/
    margin-bottom: 30px;
}

.text-art2 {
    left: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.5rem;
    text-align: center !important;
    line-height: 32px;
    font-weight: 100;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-top: -160px;
}

.text-art1 {
    position: relative;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.9rem;
    margin-top: -299px;
    bottom: 10px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 180px;
}


    .text_planes2 {
    text-align: center;
    font-size: 2.0rem;
    color: #919190;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 85%;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -295px;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 37px;
}

.img_detail_planes {
    width: 100%;
    object-fit: contain;
     height: 100%; 
    top: 0px;
}

.banner_list {
    width: 100%;
    object-fit: contain;
    top: 0px;
     height: 100%; 
    margin-top: 0px;
}

.hav {
    left: 15px;
    background-color: #F9F9F9;
    color: gray;
    width: 92%;
    margin-top: -78px;
}

.hav:hover {
    left: 15px;
    width: 92%;
    margin-top: -78px;
}

}


@media (max-width: 400px){
    .img_detail_planes {
    width: 100%;
    object-fit: contain;
     height: 100%; 
    top: 0px;
}

.banner_list {
    width: 100%;
    object-fit: contain;
    top: 0px;
     height: 100%; 
    margin-top: 0;
}

.hav {
    left: 15px;
    background-color: #F9F9F9;
    color: gray;
    width: 92%;
    margin-top: -85px;
}

.hav:hover {
    left: 15px;
    width: 92%;
    margin-top: -85px;
}


}

@media (max-width: 375px){


.img_detail_planes {
    width: 100%;
    object-fit: contain;
     height:100%; 
    top: 0px;
}
.hav:hover {
    left: 15px;
    width: 92%;
    margin-top: -88px;
}
.hav {
    left: 15px;
    width: 92%;
    margin-top: -88px;
}

.text_success {
    position: absolute;
    bottom: 0px;
    width: 97%;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 5px;
    font-weight: 100;
    font-family: 'Oxygen', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

}

@media (max-width: 360px){
    .img_detail_planes {
    width: 100%;
    object-fit: contain;
     height: 100%; 
    top: 0px;
}

.banner_list {
    width: 100%;
    object-fit: contain;
    top: 0px;
     height: 100%; 
    margin-top: 0px;
}

.hav:hover {
    left: 15px;
    width: 91%;
    margin-top: -92px;
}
.hav {
    left: 15px;
    width: 91%;
    margin-top: -92px;
}

}

@media (max-width: 320px){
    .text_planes2 {
    text-align: center;
    font-size: 2.0rem;
    color: #919190;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 90%;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -295px;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 37px;
}

.img_detail_planes {
    width: 100%;
    object-fit: contain;
     height: 100%; 
    top: 0px;
}

.text-art1 {
    position: relative;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.8rem;
    margin-top: -395px;
    bottom: 10px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.banner_list {
    width: 100%;
    object-fit: contain;
    top: 0px;
     height:100%; 
    margin-top: 0px;
}
.listart1 {
    font-size: 1.5rem;
    line-height: 30px;
    position: inherit;
    color: #919190;
    margin-top: -385px !important;
}

.hav:hover {
    left: 15px;
    width: 90%;
    margin-top: -104px;
}
.hav {
    left: 15px;
    width: 90%;
    margin-top: -104px;
}

}

