<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <ul class="social-links">
          <li><a href="/"><i class="icon-twitter"></i></a></li>
          <li><a href="/"><i class="icon-facebook"></i></a></li>
          <li><a href="/"><i class="icon-pinterest"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-top" style="text-align:left;">
        <ul class="nav-list effect textos-footer ">
          <li><P><span>Categoria</span></P></li>
        </ul>
        <ul class="nav-list effect textos-footer ">
          <li><a href="/">Despacho & Devoluciones</a></li>
          <li><a href="/">Terminos & Condiciones</a></li>
          <li><a href="/">Privacidad</a></li>
          <li><a href="/">FAQ</a></li>
        </ul>
        
      </div>
      <div class="col-sm-3" style="text-align:left;">
        <ul class="nav-list effect textos-footer ">
          <li><P><span>Categoria</span></P></li>
        </ul>
        <ul class="nav-list effect textos-footer ">
          <li><a href="/">Despacho & Devoluciones</a></li>
          <li><a href="/">Terminos & Condiciones</a></li>
          <li><a href="/">Privacidad</a></li>
          <li><a href="/">FAQ</a></li>
        </ul>
        
      </div>
      <div class="col-sm-3" style="text-align:left;">
        <ul class="nav-list effect textos-footer ">
          <li><P><span>Categoria</span></P></li>
        </ul>
        <ul class="nav-list effect textos-footer ">
          <li><a href="/">Despacho & Devoluciones</a></li>
          <li><a href="/">Terminos & Condiciones</a></li>
          <li><a href="/">Privacidad</a></li>
          <li><a href="/">FAQ</a></li>
        </ul>
        
      </div>
      <div class="col-sm-12" style="margin-top: 15px;">
        <ul class="nav-list effect ">
          <p>Ecommerce<b>tienda</b> &copy; 2014. Designed by <a href="" target="_blank">Loadingplay.com</a>.</p>
        </ul>
      </div>
    </div>
    
  </div>
</footer>