<img class="foto-header-desk" src="{{ site.url }}static/images/004.png">
<img class="foto-header-movil" src="{{ site.url }}static/images/003.png">
<div id="fixed-menu-top-int" class="fixed-menu-top" style="">
    <ul class="nav-list text-center effect menu-7" >
        <a href="/" class="hide-show" style="">Family<span>Market</span></a>
    </ul>
    <a href="/" class="nav-brand logo-page show-hide" style="">Family<span>Market</span></a>
        <ul class="nav-list text-center effect menu-5" style="margin-top:10px;">

            <li class="active-1"><a href="/">Tienda</a></li>
            <li><a href="/contact">Tu pedido</a></li>
            <li><a href="/contact">Novedades</a></li>
            <li><a href="/contact">Contacto</a></li>
            {% if current_user %}
            <li><a href="{{ site.url }}auth/logout" class="logout">Cerrar sesión</a></li><!--no borrar la clase logout-->
            {% else %}
            <li><a href="{{ site.url }}auth/login">Iniciar sesión</a></li>
            {% end %}

        </ul>
        <img class="foto-header-desk" style="position: absolute !important;" src="{{ site.url }}static/images/004.png">
</div>
<div class="fixed-menu-2">
 <ul class="navi">
                <li><a href="">Confites</a>
                    <ul>
                        <li><a href="">Galletas</a>
                            <ul>
                                <li><a href="">Impulsivos</a></li>
                                <li><a href="">Hogar</a></li>
                            </ul>
                        </li>
                        <li><a href="">Chocolates</a>
                            <ul>
                                <li><a href="">Impulsivos</a></li>
                                <li><a href="">Tabletas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="">Abarrotes</a>
                    <ul>
                        <li><a href="">Nutrición infantil</a>
                            <ul>
                                <li><a href="">Fórmula</a></li>
                                <li><a href="">Alimentos infantiles</a></li>
                                <li><a href="">Cereales infantiles</a></li>
                            </ul>
                        </li>
                        <li><a href="">Café</a></li>
                        <li><a href="">Cereales para el desayuno</a></li>
                        <li><a href="">Culinarios</a></li>
                        <li><a href="">Lacteos</a></li>
                        <li><a href="">Oppb</a></li>
                    </ul>
                </li>
                <li><a href="">Alimentos perros</a>
                    <ul>
                        <li><a href="">Dog show</a></li>
                        <li><a href="">Doko</a></li>
                        <li><a href="">Proplan</a></li>
                        <li><a href="">Exellent</a></li>
                        <li><a href="">Doguitos</a></li>
                    </ul>
                </li>
                <li><a href="">Alimento gatos</a>
                    <ul>
                        <li><a href="">Cat show</a></li>
                        <li><a href="">Gati</a></li>
                        <li><a href="">Proplan</a></li>
                        <li><a href="">Fancy feast</a></li>
                        <li><a href="">Felix</a></li>
                        <li><a href="">Tidy cat</a></li>
                    </ul>
                </li>
            </ul>
  
</div>

<div id="open-cart" class="absolute-cart-box" >
    <div class="sqs-pill-shopping-cart">
        <div class="sqs-pill-shopping-cart-content">
            <div class="dark"><i class="icons-cart"></i></div>
            <div class="details">
                Carrito&nbsp;-&nbsp;
                <span class="total-quantity"></span>
                <span class="suffix">Productos</span>
            </div>                      
            <span class="subtotal">
                <span class="price">
                    <span class="sqs-money-native"></span>
                </span>
            </span>
        </div>
    </div>
</div>
