{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}



{% block javascript %}
<script type="text/javascript">
    $(document).ready(function()
    {
        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(13,13,13);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'products_per_page' : 9,
            // 'maxProducts' : 3,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
             'user' : '{% try %}{{ user["email"] }}{% except %}{% end %}'
        };

        $('.product-list').ecommerce( config);
      });
</script>

{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<section style="height: 510px;position: relative;width: 100%;">
<div>
        {% if is_admin %}
        <div class="image-upload lapiz visible-movil">
            <label for="img_china">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_china" name="image" id="img_china" >
        </div>
        {% end %}
        <img id="{{ site.name }}_china" src="{{ read_image(site.name + '_china', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china',500) }}'" class=" img_recetas decolor" alt="item">
        <div class="box" >
            <h1 class="title-recipe text-center {{editabletext}}" text-id="{{ site.name + '_text_china' }}"> {{ read_text(site.name +  '_text_china') }}
            </h1>
        </div>
    </div> 
</section>

<section style="height: 100px;">
    
</section>

<!-- *****img videos con link*** -->

<section class="h_china">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china1">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china1" name="image" id="img_china1" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_china1' }}" href="{{ read_link(site.name + '_china1') }}">
                        <img id="{{ site.name }}_china1" src="{{ read_image(site.name + '_china1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china1',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china1' }}" content="{{ read_link(site.name + '_china1') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text-china' }}"> {{ read_text(site.name +  '_text-china') }}</div>
                   
                </div>
            </div>

             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china2">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china2" name="image" id="img_china2" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_china2' }}" href="{{ read_link(site.name + '_china2') }}">
                        <img id="{{ site.name }}_china2" src="{{ read_image(site.name + '_china2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china2',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china2' }}" content="{{ read_link(site.name + '_china2') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china2' }}"> {{ read_text(site.name +  '_text_china2') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>

<section class="h_china">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china3">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china3" name="image" id="img_china3" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_china3' }}" href="{{ read_link(site.name + '_china3') }}">
                        <img id="{{ site.name }}_china3" src="{{ read_image(site.name + '_china3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china3',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china3' }}" content="{{ read_link(site.name + '_china3') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china3' }}"> {{ read_text(site.name +  '_text_china3') }}</div>
                   
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china4">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china4" name="image" id="img_china4" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_china4' }}" href="{{ read_link(site.name + '_china4') }}">
                        <img id="{{ site.name }}_china4" src="{{ read_image(site.name + '_china4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china4',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china4' }}" content="{{ read_link(site.name + '_china4') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china4' }}"> {{ read_text(site.name +  '_text_china4') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>


<!-- **nuevas 4 cajas*** -->

<section class="h_china">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china5">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china5" name="image" id="img_china5" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_china5' }}" href="{{ read_link(site.name + '_china5') }}">
                        <img id="{{ site.name }}_china5" src="{{ read_image(site.name + '_china5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china5',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china5' }}" content="{{ read_link(site.name + '_china5') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china5' }}"> {{ read_text(site.name +  '_text_china5') }}</div>
                   
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china6">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china6" name="image" id="img_china4" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_china6' }}" href="{{ read_link(site.name + '_china6') }}">
                        <img id="{{ site.name }}_china6" src="{{ read_image(site.name + '_china6', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china6',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china6' }}" content="{{ read_link(site.name + '_china6') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china6' }}"> {{ read_text(site.name +  '_text_china6') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>

<section class="h_china">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china7">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china7" name="image" id="img_china7" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_china7' }}" href="{{ read_link(site.name + '_china7') }}">
                        <img id="{{ site.name }}_china7" src="{{ read_image(site.name + '_china7', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china7',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china7' }}" content="{{ read_link(site.name + '_china7') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china7' }}"> {{ read_text(site.name +  '_text_china7') }}</div>
                   
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china8">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china8" name="image" id="img_china8" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_china8' }}" href="{{ read_link(site.name + '_china8') }}">
                        <img id="{{ site.name }}_china8" src="{{ read_image(site.name + '_china8', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china8',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china8' }}" content="{{ read_link(site.name + '_china8') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china8' }}"> {{ read_text(site.name +  '_text_china8') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>


<!-- ******dos nuevas cajas 16 de mayo ******* -->

<section class="h_china">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china9">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china9" name="image" id="img_china7" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_china9' }}" href="{{ read_link(site.name + '_china9') }}">
                        <img id="{{ site.name }}_china9" src="{{ read_image(site.name + '_china9', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china9',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china9' }}" content="{{ read_link(site.name + '_china9') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china9' }}"> {{ read_text(site.name +  '_text_china9') }}</div>
                   
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china10">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china10" name="image" id="img_china10" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_china10' }}" href="{{ read_link(site.name + '_china10') }}">
                        <img id="{{ site.name }}_china10" src="{{ read_image(site.name + '_china10', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china10',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china10' }}" content="{{ read_link(site.name + '_china10') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china10' }}"> {{ read_text(site.name +  '_text_china10') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>

<!-- ******dos nuevas cajas 12 de julio ******* -->
<section class="h_china">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china11">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china11" name="image" id="img_china11" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_china11' }}" href="{{ read_link(site.name + '_china11') }}">
                        <img id="{{ site.name }}_china11" src="{{ read_image(site.name + '_china11', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china11',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china11' }}" content="{{ read_link(site.name + '_china11') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china11' }}"> {{ read_text(site.name +  '_text_china11') }}</div>
                   
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china12">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china12" name="image" id="img_china12" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_china12' }}" href="{{ read_link(site.name + '_china12') }}">
                        <img id="{{ site.name }}_china12" src="{{ read_image(site.name + '_china12', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china12',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china12' }}" content="{{ read_link(site.name + '_china12') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china12' }}"> {{ read_text(site.name +  '_text_china12') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>

<section class="h_china">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china13">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china13" name="image" id="img_china13" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_china13' }}" href="{{ read_link(site.name + '_china13') }}">
                        <img id="{{ site.name }}_china13" src="{{ read_image(site.name + '_china13', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china13',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china13' }}" content="{{ read_link(site.name + '_china13') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china13' }}"> {{ read_text(site.name +  '_text_china13') }}</div>
                   
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_china14">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_china14" name="image" id="img_china14" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_china14' }}" href="{{ read_link(site.name + '_china14') }}">
                        <img id="{{ site.name }}_china14" src="{{ read_image(site.name + '_china14', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_china14',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_china14' }}" content="{{ read_link(site.name + '_china14') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_china14' }}"> {{ read_text(site.name +  '_text_china14') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>

<section class="h_third_white">
</section>



{% include '../home/footer.html' %}    
{% end %}
