{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}



{% block javascript %}
<script type="text/javascript">
    $(document).ready(function()
    {
        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(13,13,13);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'products_per_page' : 9,
            // 'maxProducts' : 3,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
             'user' : '{% try %}{{ user["email"] }}{% except %}{% end %}'
        };

        $('.product-list').ecommerce( config);
      });
</script>

{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<section style="height: 510px;position: relative;width: 100%;">
<div>
        {% if is_admin %}
        <div class="image-upload lapiz visible-movil">
            <label for="img_rrss_2">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_rrss_2" name="image" id="img_rrss_2" >
        </div>
        {% end %}
        <img id="{{ site.name }}_rrss_2" src="{{ read_image(site.name + '_rrss_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_rrss_2',500) }}'" class=" img_recetas decolor" alt="item">
        <div class="box" >
            <h1 class="title-recipe text-center {{editabletext}}" text-id="{{ site.name + '_text_rrss_2' }}"> {{ read_text(site.name +  '_text_rrss_2') }}
            </h1>
        </div>
    </div> 
</section>

<section style="height: 100px;">
    
</section>

<!-- *****img videos con link*** -->

<section class="h_china">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_rrss1_china">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_rrss1_china" name="image" id="img_rrss1_china" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_rrss1_china' }}" href="{{ read_link(site.name + '_rrss1_china') }}">
                        <img id="{{ site.name }}_rrss1_china" src="{{ read_image(site.name + '_rrss1_china', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_rrss1_china',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_rrss1_china' }}" content="{{ read_link(site.name + '_rrss1_china') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text-rrss_china' }}"> {{ read_text(site.name +  '_text-rrss_china') }}</div>
                   
                </div>
            </div>

             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_rrss2_china">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_rrss2_china" name="image" id="img_rrss2_china" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_rrss2_china' }}" href="{{ read_link(site.name + '_rrss2_china') }}">
                        <img id="{{ site.name }}_rrss2_china" src="{{ read_image(site.name + '_rrss2_china', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_rrss2_china',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_rrss2_china' }}" content="{{ read_link(site.name + '_rrss2_china') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_rrss2_china' }}"> {{ read_text(site.name +  '_text_rrss2_china') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>

<section class="h_third_white">
</section>



{% include '../home/footer.html' %}    
{% end %}
