
<footer class="main-footer">
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                    <div class="footer-col">
                        <a href="{{site_base}}/aboutus"><h4 class="footer-title {{editabletext}}"  text-id="{{ site.name + '_texto-foo' }}">  {{ read_text(site.name + '_texto-foo') }} </h4></a>
                        <ul class="list-unstyled footer-nav">
                            <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub' }}">  {{ read_text(site.name + '_texto-sub') }}</a></li>
                            <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub2' }}">  {{ read_text(site.name + '_texto-sub2') }}</a></li>
                            <li><a href="#"  class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub3' }}">  {{ read_text(site.name + '_texto-sub3') }} </a></li>
                            <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub4' }}">  {{ read_text(site.name + '_texto-sub4') }}</a></li>
                            <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub5' }}">  {{ read_text(site.name + '_texto-sub5') }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                    <div class="footer-col">
                        <h4 class="footer-title {{editabletext}}"  text-id="{{ site.name + '_texto-foo2' }}">  {{ read_text(site.name + '_texto-foo2') }}</h4>
                        <ul class="list-unstyled footer-nav">
                            <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_6' }}">  {{ read_text(site.name + '_texto-sub_6') }}
                         
                            </a></li>
                            <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_7' }}">  {{ read_text(site.name + '_texto-sub_7') }} </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_8' }}">  {{ read_text(site.name + '_texto-sub_8') }}    
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_9' }}">  {{ read_text(site.name + '_texto-sub_9') }}
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_10' }}">  {{ read_text(site.name + '_texto-sub_10') }}
                                 
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                        <div class="footer-col">
                            <h4 class="footer-title {{editabletext}}"  text-id="{{ site.name + '_texto-foo3' }}">  {{ read_text(site.name + '_texto-foo3') }}</h4>
                            <ul class="list-unstyled footer-nav">
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_11' }}">  {{ read_text(site.name + '_texto-sub_11') }}
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_12' }}">  {{ read_text(site.name + '_texto-sub_12') }}
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_13' }}">  {{ read_text(site.name + '_texto-sub_13') }}
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_14' }}">  {{ read_text(site.name + '_texto-sub_14') }} </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_15' }}">  {{ read_text(site.name + '_texto-sub_15') }}
                                  
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                        <div class="footer-col">
                            <h4 class="footer-title {{editabletext}}"  text-id="{{ site.name + '_texto-foo4' }}">  {{ read_text(site.name + '_texto-foo4') }}</h4>
                            <ul class="list-unstyled footer-nav">
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_16' }}">  {{ read_text(site.name + '_texto-sub_16') }}
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_17' }}">  {{ read_text(site.name + '_texto-sub_17') }}
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_18' }}">  {{ read_text(site.name + '_texto-sub_18') }}
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_19' }}">  {{ read_text(site.name + '_texto-sub_19') }}
                                </a></li>
                                <li><a href="#" class="{{editabletext}}"  text-id="{{ site.name + '_texto-sub_20' }}">  {{ read_text(site.name + '_texto-sub_20') }}
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="footer-col row">
                            <div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
                                <h4 class="footer-title {{editabletext}}"  text-id="{{ site.name + '_texto-foo5' }}">  {{ read_text(site.name + '_texto-foo5') }}</h4>
                                <ul class="list-unstyled list-inline footer-nav social-list footer-nav-inline">
                                    <li><a title="Facebook" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-facebook"></i> </a></li>
                                    <li><a title="Twitter" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-twitter"></i> </a></li>
                                    <li><a title="Google+" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-google-plus"></i> </a></li>
                                    <li><a title="Linkedin" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-linkedin"></i> </a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-xs-6 col-xxs-12 ">
                                <div class="hero-subscribe">
                                    <h4 class="footer-title no-margin {{editabletext}}"  text-id="{{ site.name + '_texto-sing' }}">  {{ read_text(site.name + '_texto-sing') }} </h4>

                                    <form class="form-horizontal">
                                        <fieldset>

                                            <div class="control-group">
                                                <div class="controls">
                                                    <div class="search input-group" role="search" id="newsletter-signup">
                                                        <input type="search" class="form-control" placeholder="Enter  your email address">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">
                                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                                <span class="sr-only">GO</span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <p class="help-block hide">help message or error message</p>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="col-lg-12">
                        <div class=" text-center paymanet-method-logo" >
                            <div class="lin">
                                <div class="foo">
                                    {% if is_admin %}
                                        <div class="image-upload">
                                            <label for="img_fot_tar">
                                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png';">
                                            </label>
                                            <input type="file" class="editableimage" image-id="{{ site.name }}_fot_tar" name="image" id="img_fot_tar" >
                                        </div>
                                   {% end %}
                                        <a id="{{ site.name + '_div1' }}" href="{{ read_link(site.name + '_div1') }}">
                                        <img id="{{ site.name }}_fot_tar" src="{{ read_image(site.name + '_fot_tar', 1) }}" onload="this.src='{{ read_image(site.name + '_fot_tar', 200) }}'" class="" alt="img">
                                        </a>
                              </div>
                           <!--  <img alt="img" src="https://7static.loadingplay.com/static/images/bcc3c05912a387769291f296593c5b03_master_card.png" > -->
                           <div class="foo">
                             {% if is_admin %}
                                        <div class="image-upload">
                                            <label for="img_fot_tar2">
                                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png';">
                                            </label>
                                            <input type="file" class="editableimage" image-id="{{ site.name }}_fot_tar2" name="image" id="img_fot_tar2" >
                                        </div>
                                   {% end %}
                                        <a id="{{ site.name + '_div1' }}" href="{{ read_link(site.name + '_div1') }}">
                                        <img id="{{ site.name }}_fot_tar2" src="{{ read_image(site.name + '_fot_tar2', 1) }}" onload="this.src='{{ read_image(site.name + '_fot_tar2', 200) }}'" class="" alt="img">
                                        </a>

                            <!-- <img alt="img" src="https://84static.loadingplay.com/static/images/299511f33d7463b8dee3ce4a3bdf0533_visa_card.png"> -->
                           </div> 
                            
                            <div class="foo">
                              {% if is_admin %}
                                        <div class="image-upload">
                                            <label for="img_fot_tar3">
                                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png';">
                                            </label>
                                            <input type="file" class="editableimage" image-id="{{ site.name }}_fot_tar3" name="image" id="img_fot_tar3" >
                                        </div>
                                   {% end %}
                                        <a id="{{ site.name + '_div1' }}" href="{{ read_link(site.name + '_div1') }}">
                                        <img id="{{ site.name }}_fot_tar3" src="{{ read_image(site.name + '_fot_tar3', 1) }}" onload="this.src='{{ read_image(site.name + '_fot_tar3', 200) }}'" class="" alt="img">
                                        </a>
                           
                           <!--  <img alt="img" src="https://7static.loadingplay.com/static/images/87c8b6cbe673b3d23250e16eb2630721_paypal.png"> -->
                            </div>
                            
                            <div class="foo">
                               {% if is_admin %}
                                        <div class="image-upload">
                                            <label for="img_fot_tar4">
                                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png';">
                                            </label>
                                            <input type="file" class="editableimage" image-id="{{ site.name }}_fot_tar4" name="image" id="img_fot_tar4" >
                                        </div>
                                   {% end %}
                                        <a id="{{ site.name + '_div1' }}" href="{{ read_link(site.name + '_div1') }}">
                                        <img id="{{ site.name }}_fot_tar4" src="{{ read_image(site.name + '_fot_tar4', 1) }}" onload="this.src='{{ read_image(site.name + '_fot_tar4', 200) }}'" class="" alt="img">
                                        </a>


                            <!-- <img alt="img" src="https://7static.loadingplay.com/static/images/b405cfccef85021d58c06bcbc19e8e02_american_express_card.png">  -->
                            </div>
                            
                            <div class="foo">
                               {% if is_admin %}
                                        <div class="image-upload">
                                            <label for="img_fot_tar5">
                                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png';">
                                            </label>
                                            <input type="file" class="editableimage" image-id="{{ site.name }}_fot_tar5" name="image" id="img_fot_tar5" >
                                        </div>
                                   {% end %}
                                        <a id="{{ site.name + '_div1' }}" href="{{ read_link(site.name + '_div1') }}">
                                        <img id="{{ site.name }}_fot_tar5" src="{{ read_image(site.name + '_fot_tar5', 1) }}" onload="this.src='{{ read_image(site.name + '_fot_tar5', 200) }}'" class="" alt="img">
                                        </a>
 
                           <!--  <img alt="img" src="https://84static.loadingplay.com/static/images/db2d59dc287903a941f4741fc7349d4d_discover_network_card.png"> -->
                            </div>
                             <div class="foo">
                              {% if is_admin %}
                                        <div class="image-upload">
                                            <label for="img_fot_tar6">
                                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png';">
                                            </label>
                                            <input type="file" class="editableimage" image-id="{{ site.name }}_fot_tar6" name="image" id="img_fot_tar6" >
                                        </div>
                                   {% end %}
                                        <a id="{{ site.name + '_div1' }}" href="{{ read_link(site.name + '_div1') }}">
                                        <img id="{{ site.name }}_fot_tar6" src="{{ read_image(site.name + '_fot_tar6', 1) }}" onload="this.src='{{ read_image(site.name + '_fot_tar6', 200) }}'" class="" alt="img">
                                        </a>

                               <!-- <img alt="img" src="https://7static.loadingplay.com/static/images/35121b3cfc83480fef2bee66bb0d68b8_google_wallet.png"> -->
                              </div>
                        </div>
                        </div>
                        <div class="copy-info text-center {{editabletext}}"  text-id="{{ site.name + '_texto-temp' }}">  {{ read_text(site.name + '_texto-temp') }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
