{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}



{% block body %}
{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

    <div class="wrapper">
<!-- 
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="menu pull-left" data-toggle="tooltip" data-placement="bottom" title="Menu"><i class="icon ion-ios-more"></i></div>
              <div class="account pull-right">
                <ul class="list-inline">
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon ion-ios-person-outline" data-toggle="tooltip" data-placement="bottom" title="My Account"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right text-center">
                      <li class="dropdown-triangle"></li>
                      <li><a href="#">Register</a></li>
                      <li><a href="#">Login</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="search pull-right">
                <div class="btn-group">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon ion-ios-search-strong" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Search"></i></a>
                  <ul class="dropdown-menu pull-right">
                    <li class="dropdown-triangle"></li>
                    <li>
                      <div class="input-group">
                        <input type="text" name="search" value="" class="form-control">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default">Search</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="shopping-bag pull-right">
                <div class="btn-group">
                  <a href="#" class="dropdown-toggle"><i class="icon ion-bag" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Shopping Bag"></i><strong class="counter">2</strong></a>
                  <ul class="dropdown-menu pull-right">
                    <li class="dropdown-triangle"></li>
                    <li>
                      <table class="table">
                        <tr>
                          <td class="text-center">
                            <a href="#"><img src="assets/img/image_holder_x47.png" alt="" title="" class="img-thumbnail"></a>
                          </td>
                          <td class="text-left">
                            <a href="#">Patterned Boho Shirt</a>
                          </td>
                          <td class="text-right">x1</td>
                          <td class="text-right">$122.00</td>
                          <td class="text-center">
                            <button type="button" title="" class="btn btn-sm btn-danger"><i class="icon ion-ios-close-empty"></i></button>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <a href="#"><img src="assets/img/image_holder_x47.png" alt="" title="" class="img-thumbnail"></a>
                          </td>
                          <td class="text-left">
                            <a href="#">Petal Short Romper</a>
                          </td>
                          <td class="text-right">x1</td>
                          <td class="text-right">$123.20</td>
                          <td class="text-center">
                            <button type="button" title="" class="btn btn-sm btn-danger"><i class="icon ion-ios-close-empty"></i></button>
                          </td>
                        </tr>
                      </table>
                    </li>
                    <li>
                      <div>
                        <table class="table table-bordered">
                          <tr>
                            <td class="text-right"><strong>Sub-Total:</strong></td>
                            <td class="text-right">$201.00</td>
                          </tr>
                          <tr>
                            <td class="text-right"><strong>Eco Tax(-2.00):</strong></td>
                            <td class="text-right">$4.00</td>
                          </tr>
                          <tr>
                            <td class="text-right"><strong>VAT(20%):</strong></td>
                            <td class="text-right">$40.20</td>
                          </tr>
                          <tr>
                            <td class="text-right"><strong>Total:</strong></td>
                            <td class="text-right">$245.20</td>
                          </tr>
                        </table>
                        <div class="row">
                          <div class="col-sm-12">
                            <a href="#" class="btn btn-default btn-block">Checkout</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header> -->

      <div class="container space200">

        <ul class="breadcrumb">
          <li><a href="#"><i class="icon ion-ios-home-outline"></i></a></li>
          <li><a href="#">Contactanos</a></li>
        </ul>

        <div class="row">
          <div id="content" class="col-sm-12">
            <h1 class="{{editabletext}}" text-id="{{ site.name + '_contact_1' }}">{{ read_text(site.name +  '_contact_1') }}
            </h1>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title {{editabletext}}" text-id="{{ site.name + '_contact_2' }}">{{ read_text(site.name +  '_contact_2') }}
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-3">
                  <!-- editar imagen -->
                  {% if is_admin %}
                  <div class="image-upload lapiz visible-movil">
                  <label for="img_contact_1">
                      <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_contact_1" name="image" id="img_contact_1" >
                  </div>
                  {% end %}
                  <img id="{{ site.name }}_contact_1" src="{{ read_image(site.name + '_contact_1', 1) }}" onload="this.src='{{ read_image(site.name + '_contact_1',) }}'" class="img-responsive img-thumbnail item" alt="title" >
                    <!-- <img src="assets/img/world-map-250x200.png" alt="" title="" class="img-thumbnail"> -->
                  </div>
                  <div class="col-sm-3">
                    <strong class="{{editabletext}}" text-id="{{ site.name + '_contact_3' }}">{{ read_text(site.name +  '_contact_3') }}</strong>
                    <br />
                    <address class="{{editabletext}}" text-id="{{ site.name + '_andress_1' }}">{{ read_text(site.name +  '_andress_1') }}
                      <br />
                      
                      <br />
                      
                    </address>
                  </div>
                  <div class="col-sm-3">
                    <strong class="{{editabletext}}" text-id="{{ site.name + '_phone_1' }}">{{ read_text(site.name +  '_phone_1') }}
                    </strong>
                    <br />
                    <div class="{{editabletext}}" text-id="{{ site.name + '_phone_2' }}">{{ read_text(site.name +  '_phone_2') }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <strong class="{{editabletext}}" text-id="{{ site.name + '_open_1' }}">{{ read_text(site.name +  '_open_1') }}</strong>
                    <br />
                    <div class="{{editabletext}}" text-id="{{ site.name + '_open_2' }}">{{ read_text(site.name +  '_open_2') }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-coment">
                    <strong class="{{editabletext}}" text-id="{{ site.name + '_coment_1' }}">{{ read_text(site.name +  '_coment_1') }}
                    </strong>
                    <br />
                    <p class="{{editabletext}}" text-id="{{ site.name + '_coment_2' }}">{{ read_text(site.name +  '_coment_2') }}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <br />

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title {{editabletext}}" text-id="{{ site.name + '_contact_4' }}">{{ read_text(site.name +  '_contact_4') }}
                </h3>
              </div>
              <div class="panel-body">
                <form class="form-horizontal">
                  <fieldset>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-name">Tu Nombre</label>
                      <div class="col-sm-10">
                        <input type="text" name="name" value="" id="input-name" class="form-control">
                      </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-email">Dirección de correo electrónico</label>
                      <div class="col-sm-10">
                        <input type="text" name="email" value="" id="input-email" class="form-control">
                      </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-enquiry">Comentario</label>
                      <div class="col-sm-10">
                        <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control"></textarea>
                      </div>
                    </div>
                  </fieldset>
                  <div class="buttons">
                    <div class="pull-right">
                      <input class="btn btn-primary" type="submit" value="Enviar">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>



    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>
{% include '../home/footer.html' %}
{% end %}
