{% extends "../base.html" %}

{% block title %}
    {{ site.name }}
{% end %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block css %}

    {% if is_admin %}
    {% end %}
    <link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
    <style type="text/css">
      
    </style>
{% end %}


{% block javascript %}
    <script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script>
    <script type="text/javascript" src="{{ site_base }}/static/js/filter.js"></script>
    <script type="text/javascript" src="{{ site_base }}/static/js/filtros.js"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {

            $(document).on("click", ".background-color-producto", function()
            {
                $(this).css("border", "black solid 2px");
            });

            $(document).on("click", ".categ", function(ev)
            {

                $(".subcateg").removeClass('active');
                $(this).addClass('active');
            });

            var hyper2 = Utils.getUrlParameter('search_query');

            if(hyper2 != undefined)
            {
              $(".tag-header").html("Resultados");
            }

            var hyper = Utils.getUrlParameter('tag').split(',');

            if(hyper[0] == "mujer")
            {
              $(".tag-header").html("Mujeres");
            }

            if(hyper[0] == "hombre")
            {
              $(".tag-header").html("Hombres");
            }

            if(hyper[0] == "nino")
            {
              $(".tag-header").html("Niños");
            }

            if(hyper[0] == "oferta")
            {
              $(".tag-header").html("Oferta");
            }
        });
    </script>

    <script type="text/javascript">
        $("#testButton").live("touchstart", function()
        {
            $(this).addClass("active");
        }).live("touchend", function() {
            $(this).removeClass("active");
        });
    </script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
<body id="lapimport">

<section>
  <div class="container min">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="products"></div>
      <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
</div>
<div style="margin-bottom:30px;"></div>
</div>

</section>






</body>
{% include '../home/footer.html' %}
{% end %}
