
html * {
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/
}

html, body {
font-family: 'Open Sans', sans-serif;
 overflow-x: hidden;

}

a {
/*color: #000;*/
color: black;
text-decoration: none;
/* font-weight: 400; */
}
a:hover {
color: #45B099;
/*color: #000;*/
text-decoration: none;
}

.cuadro-box-pro{
    margin-bottom: -147px;
    position: relative;
    top: -62px;
}

div.image-upload {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1030 !important;
}
img.editablelink {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1030 !important;
}

ul {
    list-style: none;
}

.icon {
    position: relative;
    top: 11px;
    cursor: pointer;
    font-size: 18px;
}

#lapimport .affix {
    background: #fff !important;
}


header.fixtop {
    background: rgba(255,255,255,0.6);
    position:fixed;
    z-index: 9999;
    top: 7%;
    width: 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: -1px;
    border: 1px solid transparent;
     z-index: 100000;
}

.nav>li>a {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
}

.mbtm0 {
    margin-bottom: 0px !important;
}


.affix {
    top: 0 !important;
    box-shadow: 0 1px 5px #000;
    width: 100%;
    z-index: 9999;
}

.modal {
    z-index: 100000;
}

.img-cart{
    width: 52%;
    object-fit: cover;
}

.banner-frub{
    width: 100%;
    height:700px;
    object-fit: cover;
    margin-top: -72px;
    -webkit-filter: grayscale(0%) brightness(60%);
    -moz-filter: grayscale(0%) brightness(60%);
    -ms-filter: grayscale(0%) brightness(60%);
    -o-filter: grayscale(0%) brightness(60%);

}


.logo{
    position: relative;
    top: -5px;

}


.circulo-bajada {
    content: ' ';
    position: absolute;
    left: 50%;
    top: -182px;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 20px solid white;
    border-radius: 50%;
    z-index: 10;
    padding: 5px;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
}

/*.fa-chevron-circle-down {
    font-size: 48px !important;
    color: #6E6E6E;
    position: relative;
    bottom: -2px;
}
*/

.fa-chevron-down {
    font-size: 33px !important;
    color: green;
    position: relative;
    bottom: -2px;
    background-color: white;
    border: 4px solid green;
    border-radius: 35px;
    padding: 0px 1px 0px 3px;
    width: 45px;
    height: 44px;
}


.box-4{
    position: relative;
    overflow: hidden;
    height: 490px;
    width: 32%;
}

.box-4 .mask{
    background: rgba(0,0,0,0.3);
    height: 98%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.box-4:hover .mask{
    opacity: 1;
}

.btn-outline_nth-child(3n+1)
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 222px;
    position: relative;
    left: auto;
    bottom: auto;
}



/*** article box ***/

.article-box
{
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
}

.article-box .content {
    position: relative;
    overflow: hidden;
}

.article-box .img-1
{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}


.article-box:nth-child(4n+2) 
{
    width: 35%;
    height: 260px;
}

.article-box:nth-child(4n+3),
.article-box:nth-child(4n+4) 
{
   /* height: 190px;*/
}


.article-box:nth-child(4n+3) .di,
.article-box:nth-child(4n+4) .di 
{
    line-height: 190px;
}

/*--------articulos nuevos------*/


.col-md-12:nth-child(even)>.zig{
    float: right;
    left: -31px;
    margin-top: 110px;
}

.col-md-12:nth-child(even)>.lef{
    margin-top: 115px;
    width: 47%;
    left: -192px;
}

.col-md-12:nth-child(3n)>.zig{
    margin-top: 110px;
}

.col-md-12:nth-child(3n)>.lef{
    margin-top: 113px;
}

.img-uno{
  width: 100%;
  object-fit: cover;
  height: 530px;
}

.img-dos{
  width: 100%;
  object-fit: cover;
  height: 250px;
  margin-bottom: 30px;
}

.img-tres{
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.img-cuatro{
  width: 100%;
  object-fit: cover;
  height: 530px;
}

.one-til {
    position: relative;
    top: -296px;
    color: white;
    font-size: 53px;
    font-weight: 300;
    line-height: 56px;
}

.text-intro {
    margin-bottom: 45px;
    font-size: 30px;
    color: #555;
    top: -15px;
    position: relative;
    font-weight: 300;
}

hr.pro {
    margin-top: 20px;
    margin-bottom: 75px;
    border: 0;
    border-top: 1px solid black;
    width: 50%;
    top: -50px;
    position: relative;
}


.box-chi{
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-bottom: 19px;
    filter: grayscale(0%) brightness(80%);
    -webkit-filter: grayscale(0%) brightness(80%);
    -moz-filter: grayscale(0%) brightness(80%);
    -ms-filter: grayscale(0%) brightness(80%);
    -o-filter: grayscale(0%) brightness(80%);

}

.text-intro-2 {
    margin-bottom: 45px;
    font-size: 30px;
    color: #555;
    top: -15px;
    position: relative;
    font-weight: 300;
     margin-top:100px;
}

.text-box{
    position: absolute;
    top: 175px;
    font-size: 30px;
    color: white;
    left: 49px;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: gray;
}

hr.provisorio {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid gray;
    top: -50px;
    position: relative;
    width: 55%;
}

.text-intro-prov {
    margin-bottom: 45px;
    font-size: 30px;
    color: #555;
    top: -15px;
    position: relative;
    font-weight: 300;
    margin-top: 85px;
}
/*-----------------------Responsive------------------------*/

@media (max-width: 830px){
    .one-til {
    position: relative;
    top: -250px;
}

.circulo-bajada {
    top: -208px;
}

}

@media screen and (max-width: 700px){
   .one-til {
    position: relative;
    top: -249px;
    color: white;
    font-size: 41px;
    font-weight: 300;
}

.circulo-bajada {
    top: -227px;
}

.icon {
    left: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}


}
