{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block body %}
{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

      <div class="container space150">

        <ul class="breadcrumb">
          <li><a href="#"><i class="icon ion-ios-home-outline"></i></a></li>
          <li><a href="#">Cuenta</a></li>
          <li><a href="#">Registro</a></li>
        </ul>

        <div class="row">

          <div class="col-sm-12">
            <h1 class="{{editabletext}}" text-id="{{ site.name + '_registro_1' }}">{{ read_text(site.name +  '_registro_1') }}
            </h1>
            <p class="{{editabletext}}" text-id="{{ site.name + '_registro_2' }}">{{ read_text(site.name +  '_registro_2') }}</p>
            <form class="form-horizontal">
              <fieldset id="account">
                <legend class="{{editabletext}}" text-id="{{ site.name + '_registro_3' }}">{{ read_text(site.name +  '_registro_3') }}</legend>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-firstname">Nombre</label>
                  <div class="col-sm-10">
                    <input type="text" name="firstname" value="" placeholder="Nombre" id="input-firstname" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-lastname">Apellido</label>
                  <div class="col-sm-10">
                    <input type="text" name="lastname" value="" placeholder="Apellido" id="input-lastname" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                  <div class="col-sm-10">
                    <input type="text" name="email" value="" placeholder="E-Mail" id="input-email" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-phone">Telefono</label>
                  <div class="col-sm-10">
                    <input type="text" name="phone" value="" placeholder="Telefono" id="input-phone" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-fax">Fax</label>
                  <div class="col-sm-10">
                    <input type="text" name="fax" value="" placeholder="Fax" id="input-fax" class="form-control">
                  </div>
                </div>
              </fieldset>
              <fieldset id="address">
                <legend class="{{editabletext}}" text-id="{{ site.name + '_registro_4' }}">{{ read_text(site.name +  '_registro_4') }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-company">Empresa</label>
                  <div class="col-sm-10">
                    <input type="text" name="company" value="" placeholder="Empresa" id="Empresa" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-address-1">Direccion 1</label>
                  <div class="col-sm-10">
                    <input type="text" name="address-1" value="" placeholder="Direccion 1" id="input-address-1" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-address-2">Direccion 2</label>
                  <div class="col-sm-10">
                    <input type="text" name="address-2" value="" placeholder="Direccion 2" id="input-address-2" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-city">Ciudad</label>
                  <div class="col-sm-10">
                    <input type="text" name="city" value="" placeholder="Ciudad" id="input-city" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-postcode">Codigo Postal</label>
                  <div class="col-sm-10">
                    <input type="text" name="postcode" value="" placeholder="Codigo Postal" id="input-postcode" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-country">Pais</label>
                  <div class="col-sm-10">
                    <select name="country_id" id="input-country" class="form-control">
                      <option value="">Seleccionar Pais</option>
                      <option value="">Australia</option>
                      <option value="">Belgium</option>
                      <option value="">France</option>
                      <option value="">United Kingdom</option>
                      <option value="">USA</option>
                    </select>
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-region">Región / Estado</label>
                  <div class="col-sm-10">
                    <select name="region_id" id="input-region" class="form-control">
                      <option value="">Selecciona tu Region</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend class="{{editabletext}}" text-id="{{ site.name + '_registro_5' }}">{{ read_text(site.name +  '_registro_5') }}
                </legend>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-password">Contraseña</label>
                  <div class="col-sm-10">
                    <input type="password" name="password" value="" placeholder="Contraseña" id="input-password" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-confirm">Confirmar Contraseña</label>
                  <div class="col-sm-10">
                    <input type="password" name="confirm" value="" placeholder="Confirmar Contraseña" id="input-confirm" class="form-control">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend class="{{editabletext}}" text-id="{{ site.name + '_registro_6' }}">{{ read_text(site.name +  '_registro_6') }}
                </legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Subscribe</label>
                  <div class="col-sm-10">
                    <label class="radio-inline">
                      <input type="radio" name="newsletter" value="1" checked="checked">
                      Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="newsletter" value="0">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
              <div class="buttons">
                <div class="pull-right">
                  he leído y estoy de acuerdo
                  <a href="#" class="agree">Política de privacidad</a>
                  <input type="checkbox" name="agree" value="1">&nbsp;
                  <input type="submit" value="Continuar" class="btn btn-primary">
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
{% include '../home/footer.html' %}
{% end %}
