{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
 {% include '../home/header.html' %}
{% end %}


{% block javascript %}
<script  type="text/javascript" src="{{ site_base }}/static/js/app.js"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
    $(".hyper").attr("href", "http://www.cerrocastillo-esp.lpe.cl/equipo");
  });
</script>
{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}
<div class="popup" data-popup="gonzalo">
  <div class="popup-close popup-backdrop"></div>
  <div class="popup-content">
    <img src="../static/img/close.svg" alt="Close" class="popup-close popup-content-close">
    <p class="text text-justify text-med-small"><span class="text-black">Industrial Electrical  Engineer from Universidad Católica de Chile and MBA from Harvard Business School.</span><br><br>Gonzalo Dulanto has more than 13 years of private equity investments. 2016 saw the acquisition of Valtek, a company providing integral services to clinical laboratories. Previously, he worked for 12 years at Southern Cross where he became a Partner. Among the investments made during his work at Southern Cross include ESSBIO, GasAtacama and Supermercados del Sur, companies of which he was also a member of its boards. </p><br>

    <p class="text text-justify text-med-small">Prior to Southern Cross, she worked at McKinsey &amp; Co., a leading global management consultancy, where she consulted in a variety of industries and topics, all focused on improving the performance of her clients. His experience also includes having worked at Enersis. </p>

    <p class="text text-justify text-med-small">Gonzalo is a Civil Industrial Engineer from the Catholic University of Chile and an MBA from the Harvard Business School.</p>
  </div>
</div>

<div class="popup" data-popup="sergio">
  <div class="popup-close popup-backdrop"></div>
  <div class="popup-content">
    <img src="../static/img/close.svg" alt="Close" class="popup-close popup-content-close">
    <p class="text text-justify text-med-small team-popup-text"><span class="text-black">Electrical Civil Engineer from the Catholic University of Chile and MBA from the Harvard Business School.</span><br><br>Sergio Gutierrez has 10 years of experience investing in private equity. In 2009 he founded EPG Partners, a financial services boutique that participated in private equity, investment banking and wealth management. Since 2010 Sergio has acquired through EPG 6 mid-size companies based in Chile, most of them with an international presence, especially Peru and Colombia. Two were sold in 2016 (Nubox to Riverwood Capital and Colgram to Drake Enterprises).</p>
    <p class="text text-justify text-med-small team-popup-text">Before founding EPG Sergio worked in investment banking at Deutsche Bank and IM Trust (today Credicorp Capital). He also worked in the development area of Enersis where he  gained important experience analyzing investments in utilities in Brazil. </p>
    <p class="text text-justify text-med-small team-popup-text">Sergio sits on the board of all the portfolio companies of EPG. He is also a board member of Ze Farms (Tika Natural Chips) and non-profit Chile sin Cancer.</p>
    <p class="text text-justify text-med-small team-popup-text">Sergio holds an Industrial Engineer degree from Universidad Catolica de Chile and an MBA from Harvard Business School.</p>
  </div>
</div>

<div class="popup" data-popup="2">
  <div class="popup-close popup-backdrop"></div>
  <div class="popup-content">
    <p class="text text-justify text-med-small team-popup-text"><span class="text-black">Bachelor degree in Business Administration and Economics from Universidad Católica de Chile.</span><br><br>Isidro has over 7 years of experience in private equity. In 2010 he joined EPG Partners, a financial services boutique that participated in private equity, investment banking and wealth management. Isidro took part in the acquisition and development of 6 mid-size companies based in Chile, where he was actively involved on each stage of the process.  Isidro is currently Board member of Federal, BBR and Proestech. Previously he was Board member of Nubox, company sold to Riverwood Capital in 2016.</p>
    <p class="text text-justify text-med-small team-popup-text">Before EPG Partners, Isidro worked for Concha y Toro winery and for Incured (angel investor network).</p>
    <p class="text text-justify text-med-small team-popup-text">Isidro holds a Bachelor degree in Business Administration an Economics from Universidad Católica de Chile.</p>
  </div>
</div>

<section class="container-fluid banner">
  {% if is_admin %}
    <div class="image-upload lapiz visible-movil">
      <label for="img_banner_team">
        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
      </label>
      <input type="file" class="editableimage" image-id="{{ site.name }}_banner_team" name="image" id="img_banner_team" >
    </div>
  {% end %}
  <img id="{{ site.name }}_banner_team" src="{{ read_image(site.name + '_banner_team', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_team',) }}'" class="banner-bg" alt="item">
  <div class="banner-copy banner-copy-right">
    <div class="banner-title approach-title {{editabletext}}" text-id="{{ site.name + '_team' }}"> {{ read_text(site.name +  '_team') }}</div>
  </div>
</section>

<section class="container team">
  <div class="row">
    <div class="col-xs-12">
      <div class="popup-open team-item" data-popup="gonzalo">
        {% if is_admin %}
          <div class="image-upload lapiz visible-movil">
            <label for="img_banner_chic_1">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_chic_1" name="image" id="img_banner_chic_1" >
          </div>
        {% end %}
        <img id="{{ site.name }}_banner_chic_1" src="{{ read_image(site.name + '_banner_chic_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_chic_1',) }}'" class="team-item-bg" alt="item">
        <div class="team-item-copy">
          <div class="text-brand text-big team-item-name {{editabletext}}" text-id="{{ site.name + '_team_ban_1' }}"> {{ read_text(site.name +  '_team_ban_1') }} </div>
          <div class="text-accent text-alt team-item-role {{editabletext}}" text-id="{{ site.name + '_team_ban_2' }}"> {{ read_text(site.name +  '_team_ban_2') }} </div>
        </div>
      </div>
      <div class="popup-open team-item" data-popup="sergio">
        {% if is_admin %}
          <div class="image-upload lapiz visible-movil">
            <label for="img_banner_chic_2">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_chic_2" name="image" id="img_banner_chic_2" >
          </div>
        {% end %}
        <img id="{{ site.name }}_banner_chic_2" src="{{ read_image(site.name + '_banner_chic_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_chic_2',) }}'" class="team-item-bg" alt="item">
        <div class="team-item-copy">
          <div class="text-brand text-big team-item-name {{editabletext}}" text-id="{{ site.name + '_team_ban_3' }}"> {{ read_text(site.name +  '_team_ban_3') }} </div>
           <div class="text-accent text-alt team-item-role {{editabletext}}" text-id="{{ site.name + '_team_ban_4' }}"> {{ read_text(site.name +  '_team_ban_4') }} </div>
        </div>
      </div>
      <div class="popup-open team-item" data-popup="2">
        {% if is_admin %}
          <div class="image-upload lapiz visible-movil">
            <label for="img_banner_chic_3">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_chic_3" name="image" id="img_banner_chic_3" >
          </div>
        {% end %}
        <img id="{{ site.name }}_banner_chic_3" src="{{ read_image(site.name + '_banner_chic_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_chic_3',) }}'" class="team-item-bg" alt="item">
        <div class="team-item-copy">
          <div class="text-brand text-big team-item-name {{editabletext}}" text-id="{{ site.name + '_team_ban_5' }}"> {{ read_text(site.name +  '_team_ban_5') }} </div>
           <div class="text-accent text-alt team-item-role {{editabletext}}" text-id="{{ site.name + '_team_ban_6' }}"> {{ read_text(site.name +  '_team_ban_6') }} </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% include '../home/footer.html' %}

{% end %}

