{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header_inside.html' %}
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/map_store.js"></script>
 <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYUOH4rtmdX21L9jA7GNa5W_fKq9Ej8s0&callback=initMap">
</script>
<script type="text/javascript" src="{{ site_base }}/static/js/dermatologia.js"></script>
<script type='text/javascript'>
    $("#testButton").live("touchstart", function() {
      $(this).addClass("active");
    }).live("touchend", function() {
      $(this).removeClass("active");
    });
</script>

<script type="text/javascript">
  $(document).ready(function()
  {
    var hyper = window.location.href;
    setCookie("url", hyper);
    console.log(hyper);

  });
</script>

<script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

    // var base_url = $.environmentVar(
    //     'https://apibodegas.loadingplay.com/',
    //     'https://apibodegas.loadingplay.com/',
    //     'https://apibodegas.loadingplay.com/');
    // var checkout_url = $.environmentVar(
    //     'https://pay.loadingplay.com',
    //     'https://pay.loadingplay.com',
    //     'https://pay.loadingplay.com');
    // var app_public = $.environmentVar(29,29,29);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 16,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
            'onLoad':function(){
               // $('.ellipsis').ellipsis();
               // $(".ellipsis").dotdotdot();
             }
        };
         $(document).ecommerce({
       'app_public' :  app_public,
       'animation' : 'simple',
       'base_url' : base_url,
       'checkout_url' :  checkout_url,
       'products_per_page' : 9
     });

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>

<!-- <script type="text/javascript">
  $(document).ready(function()
    {
      $(document).on("click", ".bannerSub", function(ev){
        // ev.preventDefault();

          var bann = $(".bannerSub").html();

          localStorage.setItem("bannerSubcaregoria"," Home | Subcategorias | " + bann);

      });
    });
</script>
 -->
{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *BANNER* -->

<section>
  <div class="postion:relative;"> 
    <div class="mobile img-mobile" style="background:url('{{ read_image(site.name + '_home_nobuk',500) }}'); height:499px; background-size:cover; margin-top: -101px; background-position:center;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload visible-movil" style="top: 53px;">
            <label for="img_home_nobuk">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_home_nobuk" name="image" id="img_home_nobuk" >
        </div>
        {% end %}
        <img id="{{ site.name }}_home_nobuk" src="{{ read_image(site.name + '_home_nobuk', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_home_nobuk',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>
</div>

</section>


<!-- *****************PRIMER TEXTO************** -->

<section>
  <div class="container"> 
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div align="center">
      <div class="texto_uno {{editabletext}}" text-id="{{ site.name + '_min_1' }}"> {{ read_text(site.name +  '_min_1') }} </div>
    </div>
    </div>
  </div>
  </section>

<!-- ********************FIN PRIMER TEXTO************   -->


<!-- ********SECCION BANNER COMO ICONOS*********** -->
<section>
 
    <div class="color-line"></div>
  
</section>

<section class="vi" style="margin-top: 14px; margin-bottom: -11px;">
 <div class="container">
  <div class="box">
  <div align="center">
    <div class="col-md-2 col-xs-6">
      <div style="" class="img-one">
        {% if is_admin %}
        <div class="image-upload">
          <label for="img_box_1">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_1" name="image" id="img_box_1" >
       </div>
       {% end %}
   
   <a id="{{ site.name + '_box_1' }}" href="{{ read_link(site.name + '_box_1') }}">
       <img id="{{ site.name }}_box_1" src="{{ read_image(site.name + '_box_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_1') }}'" class="img-home-cir" alt="item">
    </a>    
        {% if is_admin %}
          <img class="change-image editablelink loc" link-id="{{ site.name + '_box_1' }}" content="{{ read_link(site.name + 'box_1') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
        {% end %}
      </div>
 </div>

  <div class="col-md-2 col-xs-6 ">
      <div style="" class="img-two">
        {% if is_admin %}
        <div class="image-upload">
          <label for="img_box_2">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_2" name="image" id="img_box_2" >
       </div>
       {% end %}
   
   <a id="{{ site.name + '_box_2' }}" href="{{ read_link(site.name + '_box_2') }}">
       <img id="{{ site.name }}_box_2" src="{{ read_image(site.name + '_box_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_2') }}'" class="img-home-cir" alt="item">
    </a>    
        {% if is_admin %}
          <img class="change-image editablelink loc" link-id="{{ site.name + '_box_2' }}" content="{{ read_link(site.name + 'box_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
        {% end %}
      </div>
 </div>

    <div class="col-md-2 col-xs-6">
      <div style="" class="img-three">
        {% if is_admin %}
        <div class="image-upload">
          <label for="img_box_3">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_3" name="image" id="img_box_3" >
       </div>
       {% end %}
   
   <a id="{{ site.name + '_box_3' }}" href="{{ read_link(site.name + '_box_3') }}">
       <img id="{{ site.name }}_box_3" src="{{ read_image(site.name + '_box_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_3') }}'" class="img-home-cir" alt="item">
    </a>    
        {% if is_admin %}
          <img class="change-image editablelink loc" link-id="{{ site.name + '_box_3' }}" content="{{ read_link(site.name + 'box_3') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
        {% end %}
      </div>
    </div>



  <div class="col-md-2 col-xs-6 ">
      <div style="" class="img-for">
        {% if is_admin %}
        <div class="image-upload">
          <label for="img_box_4">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_4" name="image" id="img_box_4" >
       </div>
       {% end %}
   
   <a id="{{ site.name + '_box_4' }}" href="{{ read_link(site.name + '_box_4') }}">
       <img id="{{ site.name }}_box_2" src="{{ read_image(site.name + '_box_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_4') }}'" class="img-home-cir" alt="item">
    </a>    
        {% if is_admin %}
          <img class="change-image editablelink loc" link-id="{{ site.name + '_box_4' }}" content="{{ read_link(site.name + 'box_4') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
        {% end %}
      </div>
 </div>


    <div class="col-md-2 col-xs-6">
      <div style="" class="img-five">
        {% if is_admin %}
        <div class="image-upload">
          <label for="img_box_5">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_5" name="image" id="img_box_5" >
       </div>
       {% end %}
   
   <a id="{{ site.name + '_box_5' }}" href="{{ read_link(site.name + '_box_5') }}">
       <img id="{{ site.name }}_box_5" src="{{ read_image(site.name + '_box_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_5') }}'" class="img-home-cir" alt="item">
    </a>    
        {% if is_admin %}
          <img class="change-image editablelink loc" link-id="{{ site.name + '_box_5' }}" content="{{ read_link(site.name + 'box_5') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
        {% end %}
      </div>
    </div>
        <div class="col-md-2 col-xs-6">
      <div style="" class="img-one">
        {% if is_admin %}
        <div class="image-upload">
          <label for="img_box_6">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_6" name="image" id="img_box_6" >
       </div>
       {% end %}
   
   <a id="{{ site.name + '_box_6' }}" href="{{ read_link(site.name + '_box_6') }}">
       <img id="{{ site.name }}_box_6" src="{{ read_image(site.name + '_box_6', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_6') }}'" class="img-home-cir" alt="item">
    </a>    
        {% if is_admin %}
          <img class="change-image editablelink loc" link-id="{{ site.name + '_box_6' }}" content="{{ read_link(site.name + 'box_6') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
        {% end %}
      </div>
 </div>
  </div>
</div>
</div>
</section>

<section>
    <div class="color-line"></div>
</section>


<!-- ***Seccion 2 banner**** -->

<section style="margin-bottom:40px; margin-top:50px;"> 
  <div class="container">
    <div class="col-md-6"> 
      <div style="position:relative; overflow: hidden;">
        {% if is_admin %}
        <div class="image-upload lapiz visible-movil">
         <label for="img_box_ban">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_ban" name="image" id="img_box_ban" >
       </div>
       {% end %}
       <a id="{{ site.name + '_box_ban' }}" href="{{ read_link(site.name + '_box_ban') }}">
        <img id="{{ site.name }}_box_ban" src="{{ read_image(site.name + '_box_ban', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_ban',) }}'" class="img-home-ban" alt="item">

        <div class='contenedor'>
          <div class="texto-banner-uno {{editabletext}}" text-id="{{ site.name + '_bong' }}"> {{ read_text(site.name +  '_bong') }}</div>
        </div>
        </a> 
    </div>

    {% if is_admin %}
    <img class="change-image editablelink" link-id="{{ site.name + '_box_ban' }}" content="{{ read_link(site.name + '_box_ban') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';" style="bottom:50px;">
    {% end %}
    </div>

      <div class="col-md-6"> 
      <div style="position:relative; overflow: hidden;" class="so">
        {% if is_admin %}
        <div class="image-upload lapiz visible-movil">
         <label for="img_box_ban_2">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_ban_2" name="image" id="img_box_ban_2" >
       </div>
       {% end %}
       <a id="{{ site.name + '_box_ban_2' }}" href="{{ read_link(site.name + '_box_ban_2') }}">
        <img id="{{ site.name }}_box_ban_2" src="{{ read_image(site.name + '_box_ban_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_ban_2',) }}'" class="img-home-ban" alt="item">

        <div class='contenedor'>
          <div class="texto-banner-uno {{editabletext}}" text-id="{{ site.name + '_bong_2' }}"> {{ read_text(site.name +  '_bong_2') }}</div>
        </div>
        </a> 
    </div>

    {% if is_admin %}
    <img class="change-image editablelink" link-id="{{ site.name + '_box_ban_2' }}" content="{{ read_link(site.name + '_box_ban_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';" style="bottom:50px;">
    {% end %}
    </div>
  </div>
</section>

<!-- *** Fin Seccion 2 banner**** -->



<!-- *****Section iconos grises********* -->

<section style="margin-top: 14px;">
  <div class="container">
    <div class="box">
      <div align="center">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div style="position:relative;">
            {% if is_admin %}
              <div class="image-upload">
                <label for="img_box_gris_1">
                  <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_box_gris_1" name="image" id="img_box_gris_1" >
              </div>
            {% end %}
       
            <a id="{{ site.name + '_box_gris_1' }}" href="{{ read_link(site.name + '_box_gris_1') }}" target="_blank">
              <img id="{{ site.name }}_box_gris_1" src="{{ read_image(site.name + '_box_gris_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_gris_1') }}'" class="img-home-cir-gris" alt="item">
            </a>    
            {% if is_admin %}
              <img class="change-image editablelink loc" link-id="{{ site.name + '_box_gris_1' }}" content="{{ read_link(site.name + 'box_gris_1') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
            {% end %}
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 col-md-offset-1">
          <div class="img-ico-2" style="position:relative;">
            {% if is_admin %}
              <div class="image-upload lapiz visible-movil">
                <label for="img_box_gris_2">
                  <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_box_gris_2" name="image" id="img_box_gris_2" >
              </div>
            {% end %}
           
            <a id="{{ site.name + '_box_gris_2' }}" href="{{ read_link(site.name + '_box_gris_2') }}">
              <img id="{{ site.name }}_box_gris_2" src="{{ read_image(site.name + '_box_gris_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_gris_2',) }}'" class="img-home-cir-gris" alt="item">
            </a> 

            {% if is_admin %}
              <img class="change-image editablelink" link-id="{{ site.name + '_box_gris_2' }}" content="{{ read_link(site.name + '_box_gris_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
            {% end %}
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="img-ico-3" style="position:relative;">
            {% if is_admin %}
              <div class="image-upload">
                <label for="img_box_gris_3">
                  <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_box_gris_3" name="image" id="img_box_gris_3" >
              </div>
            {% end %}
       
            <a id="{{ site.name + '_box_gris_3' }}" href="{{ read_link(site.name + '_box_gris_3') }}" target="_blank">
              <img id="{{ site.name }}_box_gris_3" src="{{ read_image(site.name + '_box_gris_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_gris_3') }}'" class="img-home-cir-gris" alt="item">
            </a>    
            {% if is_admin %}
              <img class="change-image editablelink loc" link-id="{{ site.name + '_box_gris_3' }}" content="{{ read_link(site.name + 'box_gris_3') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
            {% end %}
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 col-md-offset-1">
          <div class="img-ico-4" style="position:relative;">
            {% if is_admin %}
              <div class="image-upload lapiz visible-movil">
                <label for="img_box_gris_4">
                  <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_box_gris_4" name="image" id="img_box_gris_4" >
              </div>
            {% end %}
           
            <a id="{{ site.name + '_box_gris_4' }}" href="{{ read_link(site.name + '_box_gris_4') }}">
              <img id="{{ site.name }}_box_gris_4" src="{{ read_image(site.name + '_box_gris_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_gris_4',) }}'" class="img-home-cir-gris" alt="item">
            </a> 

            {% if is_admin %}
              <img class="change-image editablelink" link-id="{{ site.name + '_box_gris_4' }}" content="{{ read_link(site.name + '_box_gris_4') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
            {% end %}
          </div>
        </div>

        <div class="col-md-2  col-sm-2 col-xs-6">
          <div style="position:relative;" class="img-ico-5">
            {% if is_admin %}
              <div class="image-upload">
                <label for="img_box_gris_5">
                  <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_box_gris_5" name="image" id="img_box_gris_5" >
              </div>
            {% end %}
       
            <a id="{{ site.name + '_box_gris_5' }}" href="{{ read_link(site.name + '_box_gris_5') }}" target="_blank">
              <img id="{{ site.name }}_box_gris_5" src="{{ read_image(site.name + '_box_gris_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_gris_5') }}'" class="img-home-cir-gris" alt="item">
            </a>    
            {% if is_admin %}
              <img class="change-image editablelink loc" link-id="{{ site.name + '_box_gris_5' }}" content="{{ read_link(site.name + 'box_gris_5') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
            {% end %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>



{% include '../home/footer.html' %}
{% end %}


