{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
{% end %}

{% block javascript %}
 <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYUOH4rtmdX21L9jA7GNa5W_fKq9Ej8s0&callback=initMap">
</script>
<script type="text/javascript" src="{{ site_base }}/static/js/frubik.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/map_store.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(20,20,20);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 100,
            'templateOrigin' : '#product_template',
            'tag' : 'web_frubik',
            'ignore_stock' : true,
            'onLoad':function(){
               $(".ellipsis").dotdotdot();
             }
        };
         $(document).ecommerce({
            'app_public' : app_public,
            'animation' : 'simple',
            'base_url' : base_url,
            'checkout_url' : checkout_url,
            'products_per_page' : 9
    });

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}





<!-- *contenido* -->
<body id="lapimport">
<section>
    <div class="mobile" style="background:url('{{ read_image(site.name + '_ventas',500) }}'); height:400px; background-size:cover; margin-top: 0px;  filter: grayscale(0%) brightness(65%); -webkit-filter: grayscale(0%) brightness(65%); -moz-filter: grayscale(0%) brightness(65%); -ms-filter: grayscale(0%) brightness(65%);-o-filter: grayscale(0%) brightness(65%); background-position:center;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_ventas">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_ventas" name="image" id="img_ventas" >
        </div>
        {% end %}
        <img id="{{ site.name }}_ventas" src="{{ read_image(site.name + '_ventas', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_ventas',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container">
        <div class="col-md-12">
            <div class="text-center titulo-about {{editabletext}}" text-id="{{ site.name + '_ventas' }}"> {{ read_text(site.name +  '_ventas') }}</div>
        </div>
    </div>
 
</section>

<section id="first-page-scroll"> 

<div  class="container">
    <div class="col-md-12">
      <div align="center">
        <div class="text-intro {{editabletext}}" text-id="{{ site.name + '_pre' }}"> {{ read_text(site.name +  '_pre') }}</div>
      </div>
    </div>
  </div>

</section>


<section id="locales"> 

<div  class="container">
    <div class="col-md-12">
      <div align="center">
        <div class="text-intro-prov {{editabletext}}" text-id="{{ site.name + '_pre_2' }}"> {{ read_text(site.name +  '_pre_2') }}</div>
        <hr class="provisorio">
      </div>
    </div>
  </div>

</section>


<section> 

<div class="container">
    <div class="col-md-12">
      <div align="center">
        <div class="text-intro-prov {{editabletext}}" text-id="{{ site.name + '_locales' }}"> {{ read_text(site.name +  '_locales') }}</div>
      </div>
    </div>
  </div>

</section>




<!-- ******* mapa ****** -->

<section style="height:600px; margin-bottom: 46px;">
    
   <div class="container">
      <div id="map" class="fondo-mapa" style="height:600px;">
    </div>
    <!-- fin editar imagen -->
    <div class="on-map absolute top-map">
        <div class="container-fluid-new absolute">
            <div class="row-fluid-new">
            </div>
        </div>
    </div>

</section>





</body>


{% include '../home/footer.html' %}
{% end %}


