
    <div class="container">
        <div class="row">
            <div align="center">
                <div class="col-md-12 col-xs-12 col-lg-12 space100">
                    <h1 class="text-contact {{editabletext}}"  text-id="{{ site.name + '_contact_1' }}"> {{ read_text(site.name + '_contact_1') }}
                    </h1>
                    <a href="{{ site_base}}/contact">
                    <button type="button" id="testButton" class="btn btn-contact">Contáctanos</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
