    <div class="col-md-3">
        <div id="menu">
            <ul>

                <li class="has-sub" id="pro"><a title="" href="{{site_base}}/productos">TODOS</a>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                 <li class="has-sub" id="pack"><a title="" href="{{site_base}}/producto_planes">PACK LISTOS</a>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                <!-- **dos** -->
                <li class="has-sub" id="pro-sal"><a title="" href="{{site_base}}/producto_salados">PRODUCTOS SALADOS</a>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                <!-- **tres** -->
                <li class="has-sub" id="cre"><a title="" href="{{site_base}}/producto_delicias">DELICIAS/POSTRES</a>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                <!-- **cuatro** -->
                <li class="has-sub" id="tor"><a title="" href="{{site_base}}/producto_shakes">REFRESCOS/SHAKES</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                <!-- **siete** -->
                <li class="has-sub" id="beb"><a title="" href="{{site_base}}/producto_bebidas">BEBIDAS CALIENTES</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                <!-- **ocho** -->
                <li class="has-sub" id="sna"><a title="" href="{{site_base}}/producto_snack">SNACK</a>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                 <li class="has-sub" id="ref"><a title="" href="{{site_base}}/complementos">COMPLEMENTOS</a>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                 <li class="has-sub" id="sho"><a title="" href="{{site_base}}/suplementos_dieteticos">SUPLEMENTOS DIETETICOS</a>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </li>
                <!-- **nueve** -->
               
            </ul>
        </div>
    </div>