/*#header-top{
    display: block !important;
}
*/



html, body {
        width: 100%;
        min-height: 100%;
        height: auto !important;
        height: 100%;
}

/*=======MARGIN CLASSES========*/
.space5{
    margin-top: 5px !important;
}
.space10{
    margin-top: 10px !important;
}
.space15{
    margin-top: 15px;
}
.space17{
    margin-top: 17px;
}
.space20{
    margin-top: 20px;
}
.space25{
    margin-top: 25px;
}
.space30{
    margin-top: 30px;
}
.space33{
    margin-top: 33px;
}
.space40{
    margin-top: 40px;
}
.space45{
    margin-top: 45px;
}
.space50{
    margin-top: 50px;
}
.space60{
    margin-top: 60px;
}
.space70{
    margin-top: 70px;
}
.space75{
    margin-top: 75px;
}
.space80{
    margin-top: 80px;
}
.space90{
    margin-top: 90px;
}
.space100{
    margin-top: 100px;
}
.space128{
    margin-top: 128px;
}
.space130{
    margin-top: 130px;
}
.space135{
    margin-top: 135px;
}
.space148{
    margin-top: 148px;
}
.space150{
    margin-top: 150px;
}

.space160{
    margin-top: 160px;
}
.space170{
    margin-top: 170px;
}
.space180{
    margin-top: 180px;
}
.space200{
    margin-top: 200px;
}
.space240{
    margin-top: 240px;
}
.space277{
    margin-top: 277px;
}
.space372{
    margin-top: 372px;
}
.space390{
    margin-top: 390px;
}
.mbtm5{
    margin-bottom: 5px!important;
}
.mbtm7{
    margin-bottom: 7px;
}
.mbtm10{
    margin-bottom: 10px!important;
}
.mbtm20{
    margin-bottom: 20px;
}
.mbtm30{
    margin-bottom: 30px;
}
.mbtm40{
    margin-bottom: 40px;
}
.mbtm50{
    margin-bottom: 50px;
}
.mbtm60{
    margin-bottom: 60px;
}
.mbtm70{
    margin-bottom: 70px;
}
.mbtm80{
    margin-bottom: 80px;
}
.mbtm90{
    margin-bottom: 90px;
}
.mbtm100{
    margin-bottom: 100px;
}

.mbtm150{
    margin-bottom: 150px;
}
.m0{
    margin: 0;
}
.mbtm0{
    margin-bottom: 0px;
}
.mleft10{
    margin-left:10px;
}
.mright10{
    margin-right:10px;
}
.mright30{
    margin-right:30px;
}
.mauto{
    margin: 0px auto !important;
}
.mautomargin{
    margin: 40px auto !important;
}
.marginR{
    margin-right: 40px;
    text-align: center;
    margin-left: 35px;
}
.marginL{
    margin-left: 50px;
}
.margin-right{
    margin-right: 307px;
}
.marginL14{
    margin-left: 14%;
}
.mtop100{
    margin-top: -100px;
}
.border-btm{
    border-bottom: 1px solid #fff;
}

.height{
    height: 100px;
}

.height478{
    height: 478px;
}
/*========PADDING CLASSES========*/
.pad0{
    padding: 0px !important;
}
.pad10{
    padding: 10px !important;
}
.pad20{
    padding: 20px;
}
.pad30{
    padding: 30px;
}
.pad40{
    padding: 40px;
}
.pad50{
    padding: 50px;
}
.pad60{
    padding: 60px;
}
.pad70{
    padding: 70px;
}
.pad80{
    padding: 80px;
}
.pad90{
    padding: 90px;
}
.pad100{
    padding: 100px;
}
.padleft0{
    padding-left: 0px !important;
}
.padright0{
    padding-right: 0px !important;
}
.padtop0{
    padding-top: 0px !important;        
}
.padbottom0{
    padding-bottom: 0px !important;     
}
.padbottom100{
    padding-bottom: 100px !important;       
}
.padbottom60{
    padding-bottom: 60px !important;        
}

a:link   
{   
 text-decoration:none;   
}   
/*--------usos---------------*/
/*menu active*/

/*#menu > div > ul > li.active{
     text-decoration: none;
    padding: 8px 22px 10px 22px;
    background:#FD0000;
    color:white;
     -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}*/

.list-menu{
    display: block;
    width: 200px;
    height: 25px;
}
}

/**************************/


.btn-volver{
    color: rgba(0, 0, 0, 0.48);
    border-radius: 0px;
    background-color: white;
    border: 1px solid white;
    width: 145px;
    height: 40px;
    margin-left: 6px;
    border: 1px solid black;
}

/*LISTADO DE PRODUCTOS*/
.img_box{
    width: 100%;
    height:300px;
}
.btn-comprar:hover{
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
}

.btn-comprar{
    margin: 0;
    border: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center!important;
    /*padding: 8px 15px;*/
    color: #FFF;
    background-color: #687677;
    width: 83px;
    height: 40px;
}


.category{
    width: 1000px !important;
}

/*DETALLE DE PRODUCTOS2*/
#title_detail2{
    position: fixed;
    right: 0;
    top: 15px;
    width: 235px;
    /* margin: -2.5em 0 0 0; */
    z-index: 5;
}

.prod2{
    width: 100%; 
    height: 130%; 
    /*position:absolute; */
    top: 0px; 
    left: 0px; 
    object-position: 50% 50%;
    /*background-size: cover;*/
}

/*#slider1_container div {
    height: auto;
     width: none; 
}*/

/*.slide-prod2{
    position: initial;
}

.slide-carousel{
    max-height: 20px!important;
}
*//*********************/
/*.carousel{
    position: relative;
    height: auto !important; /
    min-height: 100%; 
    height: 100%;
    width:100%;
    top:0px;
    z-index:-1;
}

.carousel div { 
    list-style:none;
    display: inline-block;
    height: 100%;
    width:100%;
    }

/**********************/
/*.previous{
    top: 2500% !important;
    position: relative;
}

.next{
    top: 2500%!important;
    position: relative;
}
*/

.right_2{
    width: 15% !important;
}
/*.prod2 img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    max-height: 175%;
    object-fit: cover;
}*/
/*.img_prod2{
    width: 1286px;
    height: 1029px;
    left: 0px;
 }
*/
.detail_price{
    float: right!important;
    font-size: 18px;
    line-height: 13px;
    /*padding-right: 60px;*/
    margin-top: 20px;
    position: fixed;
}
 .bag{
    font-size: 50px!important;
    float:right !important;
    margin-top: 0px;
    position: relative;
    z-index: 10594;
    width: 50px;
   /* top: 49px;
    left: 40px;*/
 }

.price1{
    float: left;
    margin-top: 12px !important;
    position: relative;
    z-index: 10594;
    color: rgba(51, 51, 51, 0.61);
    font-weight: 700;
    text-align: right;
    margin-right: 10px;
}

/**************************/
.detail_compra{
    text-align: right;
    padding-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    position: fixed;
    float: right;
    /*top: 104%;*/
    right: 0px;
    bottom: 0px;
    height: auto;
    width: 260px;
    z-index: 10000;
    box-shadow: inset 2000px 0 0 0 rgba(245, 245, 245, 0.37);
}

.text-detail{
    color: rgba(0, 0, 0, 0.44);
    font-weight: 600;
    margin-top: 20px;
}

.price2{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

.lista_prod{
    font-size: 16px;
    background-color: white;
    width: 40px;
    margin-top: 15px;
    position: relative;
    right: 13px;
}

.btn_compra2{
    background-color: #697677;
    border: 1px solid #697677;
    color: white;
    padding: 10px;
    width: 164px;
    font-size: 22px;
    margin-top: 15px;
    border-radius: 1px;
    }

.btn_compra2:hover{
    background-color:white;
    border-color:#697677;
    color:#697677;
}
.information{
    font-size: 15px;
}

/*.price2{
    font-size: 15px;
}*/

.img_cart{
    object-fit: scale-down;
    position: relative;
    /*bottom: 15px;*/
}

/***************************/
.title_detail{
    border-bottom: 1px solid #687677;
    font-size:20px;
    line-height: 40px;
}

.descrip_detail2{
    color:#687677!important;
    text-align: center;
}

.position_add img, .position_remove img{
    vertical-align: initial !important;
}


/*************************/
.border_header{
    border-bottom:0px !important;
}

.box_cart{
    padding-left: 10px;
    padding-right: 15px;
}

/*****Menu desplegable******/
#activar ~ .desplegable {
    display: block;
   /* overflow: hidden;*/
    margin-right: 0px!important;
    } 

#activar:checked ~ 
.desplegable {
    display: none;
}

.return{
    color: rgb(104, 118, 119) !important;
    font-weight: bolder;
}

.menu_desplegable{
    padding-right: 5px;
    margin-top: 3px;
}

/***************/
.btn-subcateg{
    margin: 0;
    border: 0;
    font-size: 9px;
    text-align: center!important;
    color: #FFF !important;
    background-color: #687677;
    /*height: 30px;*/
    border-radius:1px;
}

@media screen and (max-width: 807px){

#container #header {
    width: 100%;
    }

.logo2{
    bottom:23px;
    }
}

@media screen and (max-width: 767px){

#search input {
    margin-left: 0px !important;
    }

.img_lista{
    color: rgba(104,118,119,1) !important;
    text-transform:uppercase;
    border: 1px solid;
    padding: 5px;
    position: relative;
    top: 6px;
    }

.box-product > div, .product-grid > div {
    border-bottom: none !important;
    }


.little {
    width: 25%;
    height: 70px;
    }

/*.image_little{
    float: none;
    }*/

.right{
    margin-left: 10px;
    }

.category{
    width: auto;
    }

.detail_compra {
    
    /*top: 144%;*/
     /*left: inherit; 
     bottom:inherit; */
    width: 100%;
    }
    
.detail_price {
    margin-top: 100px;
    }

.prod2 {
    min-height: 485px;
    }

    #title_detail2 {
    top: 130px;
    }
/**********Logo********/
#logo {
    width: 147px;
    margin: inherit;
    height: 65px;
}
.logo2{
    height: 60px;
    position: relative;
    bottom: 26px;
    top: 0;
}
#header #logo a{
    top: 5px;
}

#container #header #logo {
     margin:0 auto!important; 
}

.bag_movil{
    display: block;
    position: absolute;
    top: 23px;
    max-width: 133px;
    left: 10px;
}

#container #header{
    height: 65px;
    /*z-index: -1;*/
}

/********List Prod movil*******/

.img_product{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    /* line-height: 400px; */
    }
.box-product > div, .product-grid > div {
    margin-right: inherit !important;
    margin-left: inherit!important; 
    }
}

@media screen and (max-width: 700px){
 /*  .modal-content{
         top: 77px;
   }*/

   .modal{
         z-index: 20000;
   }


} 
