.green-box {
    padding: 107px 50px;
    background-color:rgba(238, 238, 238, 0.45);
    min-height: 430px;
    margin-bottom: 13px;
}

.product-detail{
    background: rgba(128, 128, 128, 0.08);
}

.fondo-detalle {
    width: 100%;
    height: 205px;
    object-fit: cover;
    margin-top: 0px;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75 %);
}

.texto-detalle{
    position: absolute;
    bottom: 0px;
    font-size: 40px;
    color: white;
    line-height: 37px;
    font-weight: 300;
    letter-spacing: 1px;
    left: 168px;
    padding-bottom: 6px;
    width: 83%;
}

.btn-default.detail {
    color: black;
    background-color: white;
    border-color: white;
    top: -139px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 23%;
    height: 63px;
    font-size: 17px;
    float: right;
}
.btn-default.detail:hover {
    color:white;
    background-color: black  ;
    border-color: black;
    top: -139px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid black;
    border-radius: 0px;
    width: 23%;
    height: 63px;
    font-size: 17px;
    float: right;
}

hr.det-1{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid #555453;
    width: 80%;
    top: 32px;
    position: relative;
}


.clearfix-fun-2 {
    margin-top: 60px;
}

.box-det {
    margin-top: 20px;
}

.name_prod_detail {
    font-size: 28px;
    text-align: left;
    left: -70px;
    position: relative;
}

.descr_prod_detail{
    text-align: left;
    font-size: 17px;
    height: 180px;
    width: 100%;
    left: -69px;
    position: relative;
    color: rgba(128, 128, 128, 0.76);
    font-weight: 300;
    height: 451px;
}

.line{
    text-align: left;
    font-size: 17px;
    height: 180px;
    width: 73%;
   /* left: -73px;*/
    position: relative;
    color: rgba(128, 128, 128, 0.76) ;
    font-weight: 400;
}

.product-price-2{
    text-align: left;
    margin-bottom: 107px;
    position: relative;
    top: 45px;
    font-size: 27px;
    float: left;
    left: -69px;
}

.btn-success.car {
    color: black;
    background-color: white;
    border-color: black;
    position: relative;
    left: -139px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 41px;
    z-index: 1030;
    width: 33%;
    height: 51px;
    border: 1px solid black;
    float: right;
    font-weight: 400;
    font-size: 20px;
}

.btn-success.car:hover {
    color: white ;
    background-color: black;
    border-color: black;
    position: relative;
    left: -139px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 41px;
    z-index: 1030;
    width: 33%;
    height: 51px;
    border: 1px solid black;
    float: right;
    font-weight: 400;
    font-size: 20px;
}


hr.detail{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(51, 51, 51, 0.83);
    width: 116%;
    position: relative;
    left: -100px;
    top: -102px;
}


.hop{
    margin-bottom: 45px;
    font-size: 26px;
    color: #848484;
    top: -25px;
    position: relative;
    font-weight: 300;
}

.dano{
     padding-left: 65px;
    padding-right: 145px;
}

.text-relac{
    position: relative;
    left: 59px;
    margin-bottom: 54px;
    font-size: 28px;
}

hr.lin{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(51, 51, 51, 0.83);
    width: 46%;
    position: relative;
    left: 59px;
    top: -47px;
}


.img_prod_detail{
 /*   position: relative;
    top: -102px;*/
    position: relative;
    top: 137px;
    max-width: 336px;
    left: -55px;
}

.img_prod_little {
/*    width: 27%;
    height: 98px;
    margin-bottom: 2px;
    position: relative;
    object-fit: scale-down;
    top: 442px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    left: -47px;
    margin-left: 9px;*/
    width: 68%;
    height: 98px;
    margin-bottom: 2px;
    position: relative;
    object-fit: scale-down;
    top: 137px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    left: -47px;
    margin-left: 9px;
}


.new-images{
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    -webkit-filter: grayscale(0%) brightness(85%);
    -moz-filter: grayscale(0%) brightness(85%);
    -ms-filter: grayscale(0%) brightness(85%);
    -o-filter: grayscale(0%) brightness(85%);
}

.box-new{
    margin-left: -10px;
}


/*-----------------------------------------------Responsive-------------------------------------------------*/
@media (max-width: 1200px){
    .new-images {
    height: 182px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    -webkit-filter: grayscale(0%) brightness(85%);
    -moz-filter: grayscale(0%) brightness(85%);
    -ms-filter: grayscale(0%) brightness(85%);
    -o-filter: grayscale(0%) brightness(85%);
}

.box-new {
    margin-left: 0px;
}

}

@media (max-width: 1199px){
    .img_prod_detail {
    position: relative;
    top: 137px;
    max-width: 273px;
    left: -55px;
}

}

@media (max-width: 1120px){
    .texto-detalle {
    position: absolute;
    bottom: 0px;
    font-size: 29px;
    color: white;
    line-height: 37px;
    font-weight: 300;
    letter-spacing: 1px;
    left: 168px;
    padding-bottom: 6px;
    width: 83%;
}

}

@media (max-width: 991px){
    .img_prod_detail {
    position: relative;
    top: 37px;
    /* width: auto; */
    /* height: 140px; */
    max-width: 345px;
    left: 111px;
}

.name_prod_detail {
    text-align: left;
     left: 99px;
    margin-top: 63px;
}

.descr_prod_detail {
    width: 100%;
    left: 100px;
}

.product-price-2 {
    margin-bottom: 216px;
    position: relative;
    top: 7px;
    left: 101px;
}

.btn-success.car {
    color: black;
    background-color: white;
    border-color: black;
    position: relative;
    left: 101px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 116px;
    z-index: 1030;
    width: 52%;
    height: 50px;
    border: 2px solid black;
    float: right;
    font-weight: 400;
}

.btn-success.car:hover {
    color:white;
    background-color: black;
    border-color: black;
    position: relative;
    left: 101px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 116px;
    z-index: 1030;
    width: 52%;
    height: 50px;
    border: 2px solid black;
    float: right;
    font-weight: 400;
}

.green-box {
    min-height: 754px;
}

.texto-detalle {
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    color: white;
    line-height: 37px;
    font-weight: 300;
    letter-spacing: 1px;
    left: 168px;
    padding-bottom: 6px;
    width: 69%;
}

.img_prod_little {
/*    width: 27%;
    height: 98px;
    margin-bottom: 2px;
    position: relative;
    object-fit: scale-down;
    top: 0px;
    border: 1px solid rgba(128, 128, 128, 0.25);*/
    left: 71px;
/*    margin-left: 9px;*/
    top: 50px;
}

}

@media (max-width: 868px){
    .texto-detalle {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    color: white;
    line-height: 37px;
    font-weight: 300;
    letter-spacing: 1px;
    left: 168px;
    padding-bottom: 6px;
    width: 69%;
}

}


@media (max-width: 767px){
.img_prod_detail {
    left: 0px;
    margin-top: -368px;
    margin-bottom: 21px;
}

.descr_prod_detail {
    width: 100%;
    left: 13px;
}

.btn-success.car {
    color: black;
    background-color: white;
    border-color: black;
    position: relative;
    left: -136px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 116px;
    z-index: 1030;
    width: 52%;
    height: 50px;
    border: 2px solid black;
    float: right;
    font-weight: 400;
}

.btn-success.car:hover {
    color:white;
    background-color: black;
    border-color: black;
    position: relative;
    left: -136px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 116px;
    z-index: 1030;
    width: 52%;
    height: 50px;
    border: 2px solid black;
    float: right;
    font-weight: 400;
}

/*.texto-detalle {
    left: 13px;
    width: 92%;
    top: -112px;
}*/

.name_prod_detail {
    text-align: left;
    left: 12px;
    margin-top: 63px;
}

.img_prod_little {
    width: 15%;
    left: 0px;
    top: 221px;
    margin-bottom: 177px;
    height: 73px;
}

.texto-detalle {
    position: absolute;
    bottom: 0px;
    font-size: 28px;
    color: white;
    line-height: 37px;
    font-weight: 300;
    letter-spacing: 1px;
    left: 168px;
    padding-bottom: 6px;
    width: 69%;
}

}

@media (max-width: 700px){
/*    .texto-detalle {
  font-size: 19px;
}*/

}


@media (max-width: 600px){
    .green-box {
    min-height: 810px !important;
}

.img_prod_detail {
    position: relative;
    top: 37px;
   /* max-width: 295px;*/
    left: 0px;
}

}

@media (max-width: 500px){
    .texto-detalle {
    position: absolute;
    bottom: 0px;
/*    font-size: 20px;*/
    color: white;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 1px;
    left: 99px;
    padding-bottom: 6px;
    width: 69%;
}

.img_prod_little {
    left: 0px;
    width: 22%;
    /* margin-bottom: 16px; */
}

}

@media (max-width: 480px){
    .texto-detalle {
    position: absolute;
    bottom: 0px;
  /*  font-size: 15px;*/
    color: white;
    /* line-height: 37px; */
    font-weight: 300;
    letter-spacing: 1px;
    left: 87px;
    padding-bottom: 6px;
    width: 70%;
}

.img_prod_little {
    left: 0px;
}

.new-images {
    height: 71px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    -webkit-filter: grayscale(0%) brightness(85%);
    -moz-filter: grayscale(0%) brightness(85%);
    -ms-filter: grayscale(0%) brightness(85%);
    -o-filter: grayscale(0%) brightness(85%);
}

}


@media (max-width: 449px){
.img_prod_little {
    width: 21%;
    left: 0px;
    top: 221px;
    margin-bottom: 43px;
    height: 70px;
    z-index: 1030;
}

.img_prod_detail {
    left: 0px;
    margin-top: -142px;
    margin-bottom: 21px;
}

.name_prod_detail {
    text-align: left;
    left: 12px;
    margin-top: 187px;
}

}

@media (max-width:414px){
        .green-box {
    padding: 0px 0px;
    background-color: rgba(238, 238, 238, 0.45);
    min-height: 810px;
    margin-bottom: 13px;
}

.img_prod_little {
    width: 38%;
    height: 61px;
    left: 0px;
    margin-left: 16px;
    margin-bottom: 19px;
}

.product-price-2 {
    margin-bottom: 216px;
    position: relative;
    top: 21px;
    left: 10px;
}
.btn-success.car {
    color: black;
    background-color: white;
    border-color: black;
    position: relative;
    left: 15px;
    border-radius: 0px;
    margin-bottom: 29px;
    z-index: 1030;
    width: 81%;
    height: 50px;
    border: 2px solid black;
    float: left;
    font-weight: 400;
    top: -149px;
}


.btn-success.car:hover {
    color: white;
    background-color: black;
    border-color: black;
    position: relative;
    left: 15px;
    border-radius: 0px;
    margin-bottom: 29px;
    z-index: 1030;
    width: 81%;
    height: 50px;
    border: 2px solid black;
    float: left;
    font-weight: 400;
    top: -149px;
}

.texto-detalle {
    left: 68px;
    /* width: 92%; */
    /* top: -112px; */
/*    font-size: 15px;*/
}

.green-box {
    min-height: 770px !important;
}
.img_prod_detail {
    left: 0px;
    margin-top: -190px;
    margin-bottom: 22px;
}

.name_prod_detail {
    text-align: left;
    left: 12px;
    margin-top: 211px;
}




}

@media (max-width: 412px){
    .img_prod_detail {
    position: relative;
    top: 37px;
    /* width: auto; */
    /* height: 140px; */
    max-width: 315px;
    left: -12px;
}

/*.texto-detalle {
    left: 13px;
    width: 92%;
    top: -112px;
    font-size: 30px;
}
*/
}

@media (max-width: 400px){
/*  .texto-detalle {
    left: 13px;
    width: 92%;
    top: -112px;
    font-size: 30px;
}
*/
}


@media (max-width: 375px){
        .green-box {
    padding: 0px 0px;
    background-color: rgba(238, 238, 238, 0.45);
    min-height: 804px !important;
    margin-bottom: 13px;
}

.img_prod_little {
    width: 44%;
    height: 98px;
    left: 0px;
    margin-left: 9px;
}

.product-price-2 {
    margin-bottom: 216px;
    position: relative;
    top: 21px;
    left: 10px;
}
.btn-success.car {
    color: black;
    background-color: white;
    border-color: black;
    position: relative;
    left: 15px;
    border-radius: 0px;
    margin-bottom: 29px;
    z-index: 1030;
    width: 81%;
    height: 50px;
    border: 2px solid black;
    float: left;
    font-weight: 400;
    top: -149px;
}


.btn-success.car:hover {
    color: white;
    background-color: black;
    border-color: black;
    position: relative;
    left: 15px;
    border-radius: 0px;
    margin-bottom: 29px;
    z-index: 1030;
    width: 81%;
    height: 50px;
    border: 2px solid black;
    float: left;
    font-weight: 400;
    top: -149px;
}

.img_prod_detail {
    position: relative;
    top: 37px;
    /* width: auto; */
    /* height: 140px; */
    max-width: 295px;
    left: 0px;
    margin-top: -345px
}

/*.texto-detalle {
    left: 13px;
    width: 92%;
    top: -112px;
    font-size: 30px;
}
*/

.texto-detalle {
    left: 68px;
    /* width: 92%; */
    /* top: -112px; */
    /*font-size: 13px;*/
}

}

@media (max-width: 360px){
    .img_prod_detail {
    position: relative;
    top: 37px;
    /* width: auto; */
    /* height: 140px; */
    max-width: 277px;
    left: -8px;
}

}

@media (max-width: 320px){
    .green-box {
    padding: 0px 0px;
    background-color: rgba(238, 238, 238, 0.45);
    min-height: 680px;
    margin-bottom: 13px;
}


.img_prod_little {
    width: 44%;
    height: 98px;
    left: 0px;
    margin-left: 9px;
}

.img_prod_detail {
    position: relative;
    top: 37px;
    /* width: auto; */
    /* height: 140px; */
    max-width: 220px;
    left:0px;
}

.product-price-2 {
    margin-bottom: 216px;
    position: relative;
    top: 21px;
    left: 10px;
}

.btn-success.car {
    color: black;
    background-color: white;
    border-color: black;
    position: relative;
    left: 15px;
    border-radius: 0px;
    margin-bottom: 29px;
    z-index: 1030;
    width: 81%;
    height: 50px;
    border: 2px solid black;
    float: left;
    font-weight: 400;
    top: -149px;
}


.btn-success.car:hover {
    color: white;
    background-color: black;
    border-color: black;
    position: relative;
    left: 15px;
    border-radius: 0px;
    margin-bottom: 29px;
    z-index: 1030;
    width: 81%;
    height: 50px;
    border: 2px solid black;
    float: left;
    font-weight: 400;
    top: -149px;
}


}
