{% extends "../base.html" %}

{% block title %}
{{ page.name }}
{% end %}

{% block header %}
{% include '../home/inside_header.html' %}
<div style="width:100%; color:gray; text-align:center; padding: 20px 0px;">
    <h1><span class="title-view" >{{ page.name }}</span></h1>
    <h4>
    {% if is_admin %}
                <span class="editabletext" text-id="frase_inspiradora_link" >{{ read_text('frase_inspiradora_link') }}</span>
                {% else %}
                {{ read_text('frase_inspiradora_link') }}
                {% end %}
        </h4>
</div>
{% end %}

{% block scripts %}
{% if is_admin %}
<script type="text/javascript">
    $(document).editablepage({
        page_name : "{{page.name}}",
        page_keywords : "{{page.keywords}}",
        page_uri : "aceleradoralink",
        body_url : site_base + "/page/aceleradoralink/body"
    });
</script>
{% else %}
<script type="text/javascript">
    $(document).loadpagecontent({
        body_url : site_base + "/page/aceleradoralink/body",
        page_uri : "aceleradoralink"
    });
</script>
{% end %}

{% end %}

{% block css %}
<link type="text/css" rel='stylesheet' href="{{ site_base }}/static/css/page.edit.css" />
{% end %}
Link es la primera Aceleradora de Negocios creada para la mujer, integrando asesorías y financiamiento para potenciar los negocios liderados por mujeres.
{% block body %}
    <div id="wrap">
        <!-- registration -->
        <div class="container-fluid productlist">
            <div class="row pages-caption" >
                <div class="container-fluid-art">
                <p>
                {% if is_admin %}
                <span class="editabletext" text-id="{{ site.name + "aceleradoralink" }}" >{{ read_text(site.name + "aceleradoralink") }}</span>
                {% else %}
                {{ read_text(site.name + "aceleradoralink") }}
                {% end %}
                </p>
                </div>
            </div>
            <!-- raw 1 -->
            <div class="row content-body">
            </div>
            <div class="carritoproductos clearfix">
                <div class="flecha clearfix">
                </div>
            </div>
        </div>
    </div>
{% end %}
