{% block css %}
<link rel="stylesheet" href="{{ site_base }}/static/cssbt/style.css">
{% end %}
{% block body %}
<!-- <div class="container-fluid fondo-idiom">
    <div class="row">
            <div class="col-md-offset-1 col-md-9 col-md-offset2">
                <div class="text center">
                    
                </div>
            </div>
    </div>
</div> -->
<!-- <div id="menu_movil" class="descripcion_wrapper descripcion_opacity b_wrapper" style="display: block;"> -->
    <!-- <div class="descripcion_cerrar">
        <button id="tellmeboton2">
            <img src="/static_v4/img/cerrarblanco.png"></button>
    </div> -->
<div class="descripcion_contenido">
    <div class="col-lg-12">
        <form action="{{ site_base }}/search" method="get" target="_parent">
            <div class="input-group form-align">
                <input type="hidden" name="t" value="tags">
                <input type="text" size="40" maxlength="30" height="25" placeholder="Escribe aquí lo que buscas" name="search_query" style="height: 55px;width: 100%;top: -3px;">
                <a href="" target="_parent">
                    <input class="btn-enviar" type="submit" value="BUSCAR" />
                </a>
            </div>
        </form>

    </div>
</div>
<!-- </div> -->

{% end %}

