{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/dermatologia.js"></script>
<script type='text/javascript'>
    $("#testButton").live("touchstart", function() {
      $(this).addClass("active");
    }).live("touchend", function() {
      $(this).removeClass("active");
    });
</script>


<script type="text/javascript">
window.sr = ScrollReveal();
sr.reveal('.block--content');
sr.reveal('.block--content-dos');
</script>


{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<!-- *contenido* -->

<section>
  <div>
    <div>

<!-- *contenido* -->
<!-- *****************slider metodo********** -->

  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

         <div class="col-md-12">
                   <div align="center">
                   <a href="#first-page-scroll" class="anchorLink">
                       <div class="contenedor-circulo">
                           <div  class="circulo-bajada" >
                              <i class="fa  fa-angle-down"  aria-hidden="true"></i> 
                           </div>
                       
                       </div>
                    </a>
                   </div>
          </div>
          
    <!--      <div class="col-md-12">
           <div align="center">
            <a class="header_show_content js-header_show_content" href="" role="presentation"><span class="icon icon-arrow-m-down-white icon-circle"></span><span class="is-visuallyhidden">Inhalt anzeigen</span></a>
          </div>
          </div> -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active banner-moulie3" style="background:url('{{ read_image(site.name + '_img_slider_1') }}'); height:450px; width:100%; background-repeat:no-repeat; background-size:cover; background-position:center;"data-img-width="1600" data-img-height="890" data-diff="100">
          {% if is_admin %}
            <div class="image-upload ge visible-movil">
               <label for="img_slider_1">
                   <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_1" name="image" id="img_slider_1" >
           </div>
                 
           {% end %}
    
       <!--  <img class="img_banner" id="{{ site.name }}_img_slider_1" src="{{ read_image(site.name + '_img_slider_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_slider_1',500) }}'" alt="item" style=" "> -->
<!--         <img src="{{ read_image(site.name + '_slide1', 500) }}" alt="Slider 1" longdesc="{{ read_image(site.name + '_slide1', 500) }}" /> -->     
      </div>
     


<!-- **otro** -->
      <div class="mov item " style="background:url('{{ read_image(site.name + '_img_slider_2') }}'); height:450px; width:100%; background-repeat:no-repeat; background-size:cover; background-position:center;" data-img-width="1600" data-img-height="890" data-diff="100">
             {% if is_admin %}
            <div class="image-upload ge visible-movil">
               <label for="img_slider_2">
                   <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_2" name="image" id="img_slider_2" >
           </div>
          
           {% end %}
      </div>
    <!-- Left and right controls -->
<!--     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
  </div>
</div>
</section>



<!-- **probando cajas con efecto** -->
<div class="" style="margin-top:30px;">

  <section id="first-page-scroll">
    <div>
     <div class="col-md-6 art-hi">
      <div class="block--content">
        <div class="is-link is-scroll_item js-scroll_observer--item teaser_content is-visible">
          <div class="teaser_content--img_wrapper">
            <div class="teaser_content--img" style="">
             {% if is_admin %}
             <div class="image-upload lapiz visible-movil">
               <label for="img_box_rar_uno">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_box_rar_uno" name="image" id="img_box_rar_uno" >
             </div>
             {% end %}

             <img id="{{ site.name }}_box_rar_uno" src="{{ read_image(site.name + '_box_rar_uno', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_rar_uno', 500) }}'" class="box-home-one" alt="item">
             
             {% if is_admin %}
             <img class="change-image editablelink import" link-id="{{ site.name + '_box_rar_uno' }}" content="{{ read_link(site.name + '_box_rar_uno') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
         </div>

         <a id="{{ site.name + '_box_rar_uno' }}" href="{{ read_link(site.name + '_box_rar_uno') }}">
         <div class="teaser_content--body">
          <div class="teaser_content--body--title white {{editabletext}}" text-id="{{ site.name + '_text_rar' }}"> {{ read_text(site.name +  '_text_rar') }}</div>
          <div class="teaser_content--body--text white {{editabletext}}" text-id="{{ site.name + '_text_rar_1' }}"> {{ read_text(site.name +  '_text_rar_1') }}</div>
        </div>
      </a>
      </div>

    </div>

    <div style="position:inherit;" class="art-hi">
      <div class="block--content">
        <div href="" class="is-link is-scroll_item js-scroll_observer--item teaser_content is-visible">
          <div class="teaser_content--img_wrapper">

           <div class="teaser_content--img" style="">
             {% if is_admin %}
             <div class="image-upload lapiz visible-movil">
               <label for="img_box_rar_dos">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_box_rar_dos" name="image" id="img_box_rar_dos" >
             </div>
             {% end %}
             <img id="{{ site.name }}_box_rar_dos" src="{{ read_image(site.name + '_box_rar_dos', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_rar_dos', 500) }}'" class="box-home-one" alt="item">

            {% if is_admin %}
             <img class="change-image editablelink import" link-id="{{ site.name + '_box_rar_dos' }}" content="{{ read_link(site.name + '_box_rar_dos') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}

           </div>
         </div>
         <a id="{{ site.name + '_box_rar_dos' }}" href="{{ read_link(site.name + '_box_rar_dos') }}">
         <div class="teaser_content--body">
          <div class="teaser_content--body--title white {{editabletext}}" text-id="{{ site.name + '_text_rar_2' }}"> {{ read_text(site.name +  '_text_rar_2') }}</div>
          <div class="teaser_content--body--text white {{editabletext}}" text-id="{{ site.name + '_text_rar_2_2' }}"> {{ read_text(site.name +  '_text_rar_2_2') }}</div>
        </div>
      </a>
      </div>

    </div>
  </div>
</div>

<div class="col-md-6 art-hi">
  <div class="block--content-dos">
    <div href="" class="is-link is-scroll_item js-scroll_observer--item teaser_content is-visible">
      <div class="teaser_content--img_wrapper">

       <div class="teaser_content--img" style="">
         {% if is_admin %}
         <div class="image-upload lapiz visible-movil">
           <label for="img_box_rar_tres">
             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
           </label>
           <input type="file" class="editableimage" image-id="{{ site.name }}_box_rar_tres" name="image" id="img_box_rar_tres" >
         </div>
         {% end %}
         <img id="{{ site.name }}_box_rar_tres" src="{{ read_image(site.name + '_box_rar_tres', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_rar_tres', 500) }}'" class="box-home-two" alt="item">
        
        {% if is_admin %}
             <img class="change-image editablelink import" link-id="{{ site.name + '_box_rar_tres' }}" content="{{ read_link(site.name + '_box_rar_tres') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
        {% end %}

       </div>
     </div>
    <a id="{{ site.name + '_box_rar_tres' }}" href="{{ read_link(site.name + '_box_rar_tres') }}">
     <div class="teaser_content--body">
      <div class="teaser_content--body--title white {{editabletext}}" text-id="{{ site.name + '_text_rar_3' }}"> {{ read_text(site.name +  '_text_rar_3') }}</div>
      <div class="teaser_content--body--text white {{editabletext}}" text-id="{{ site.name + '_text_rar_3_3' }}"> {{ read_text(site.name +  '_text_rar_3_3') }}</div>
    </div>
  </a>
  </div>

</div>
</div>
</div>
</section>


<!-- *******************cuadros de productos****************** -->
<section id="cont">

<div>
  <div class="col-md-12">
    <div>
       <div class="texto-productos {{editabletext}}" text-id="{{ site.name + '_ga' }}"> {{ read_text(site.name +  '_ga') }} </div>
       <hr class="pr">
   </div>
  </div>
  <div align="center">
  <div class="box-der">
   <div class="col-md-2 col-sm-4 col-xs-6  space20 img-cat sobre-botones article-box-2">
    <div class="back">
    <div class="box-product" onclick="">
          <div class="box-product-info" onclick="">   
            <a id="{{ site.name + '_box_chi_1' }}" href="{{ read_link(site.name + '_box_chi_1') }}">  
             <div class="abs_txt">
              <div class="text-box text-center  {{editabletext}}" text-id="{{ site.name + '_t_box' }}"> {{ read_text(site.name +  '_t_box') }}</div>
            </div>
          </a>
        </div>

  </div>
  <div style="position:relative;">
    {% if is_admin %}
    <div class="image-upload">
      <label for="img_box_chi_1">
       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
     </label>
     <input type="file" class="editableimage" image-id="{{ site.name }}_box_chi_1" name="image" id="img_box_chi_1" >
   </div>
   {% end %}

  {% if is_admin %}
       <img class="change-image editablelink or" link-id="{{ site.name + '_box_chi_1' }}" content="{{ read_link(site.name + '_box_chi_1') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
  {% end %}
<a id="{{ site.name + '_box_chi_1' }}" href="{{ read_link(site.name + '_box_chi_1') }}">
   <img id="{{ site.name }}_box_chi_1" src="{{ read_image(site.name + '_box_chi_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_chi_1') }}'" class="img-edit" alt="item">
 </div>
</div>
</div>
</a>


<!-- *dos* -->
   <div class="col-md-2 col-sm-4 col-xs-6  space20 img-cat sobre-botones article-box-2">
    <div class="back">
    <div class="box-product" onclick="">
          <div class="box-product-info" onclick="">   
            <a id="{{ site.name + '_box_chi_2' }}" href="{{ read_link(site.name + '_box_chi_2') }}">  
             <div class="img-text-center abs_txt">
              <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_choc' }}"> {{ read_text(site.name +  '_choc') }}</div>
            </div>
          </a>
        </div>
  </div>
  <div style="position:relative;">
    {% if is_admin %}
    <div class="image-upload">
      <label for="img_box_chi_2">
       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
     </label>
     <input type="file" class="editableimage" image-id="{{ site.name }}_box_chi_2" name="image" id="img_box_chi_2" >
   </div>
   {% end %}
   
    {% if is_admin %}
       <img class="change-image editablelink or" link-id="{{ site.name + '_box_chi_2' }}" content="{{ read_link(site.name + '_box_chi_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
    {% end %} 
  <a id="{{ site.name + '_box_chi_2' }}" href="{{ read_link(site.name + '_box_chi_2') }}">  
   <img id="{{ site.name }}_box_chi_2" src="{{ read_image(site.name + '_box_chi_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_chi_2') }}'" class="img-edit" alt="item">
 </div>
</div>
</div>
</a>

<!-- **tres** -->
   <div class="col-md-2 col-sm-4 col-xs-6 space20 img-cat sobre-botones article-box-2">
    <div class="back">
    <div class="box-product" onclick="">
          <div class="box-product-info" onclick="">   
            <a id="{{ site.name + '_box_chi_3' }}" href="{{ read_link(site.name + '_box_chi_3') }}">  
             <div class="img-text-center abs_txt">
              <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_box_3' }}"> {{ read_text(site.name +  '_t_box_3') }}</div>
            </div>
          </a>
        </div>
  </div>
  <div style="position:relative;">
    {% if is_admin %}
    <div class="image-upload">
      <label for="img_box_chi_3">
       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
     </label>
     <input type="file" class="editableimage" image-id="{{ site.name }}_box_chi_3" name="image" id="img_box_chi_3" >
   </div>
   {% end %}
   
     {% if is_admin %}
       <img class="change-image editablelink or" link-id="{{ site.name + '_box_chi_3' }}" content="{{ read_link(site.name + '_box_chi_3') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
    {% end %}

  <a id="{{ site.name + '_box_chi_3' }}" href="{{ read_link(site.name + '_box_chi_3') }}"">  
   <img id="{{ site.name }}_box_chi_3" src="{{ read_image(site.name + '_box_chi_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_chi_3') }}'" class="img-edit" alt="item">
 </div>
</div>
</div>
</a>


<!-- **cuatro** -->

   <div class="col-md-2 col-sm-4 col-xs-6  space20 img-cat sobre-botones article-box-2">
    <div class="back">
    <div class="box-product" onclick="">
          <div class="box-product-info" onclick="">   
            <a id="{{ site.name + '_box_chi_4' }}" href="{{ read_link(site.name + '_box_chi_4') }}"">  
             <div class="img-text-center abs_txt">
              <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_box_4' }}"> {{ read_text(site.name +  '_t_box_4') }}</div>
            </div>
          </a>
        </div>

  </div>
  <div style="position:relative;">
    {% if is_admin %}
    <div class="image-upload">
      <label for="img_box_chi_4">
       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
     </label>
     <input type="file" class="editableimage" image-id="{{ site.name }}_box_chi_4" name="image" id="img_box_chi_4" >
   </div>
   {% end %}

  {% if is_admin %}
       <img class="change-image editablelink or" link-id="{{ site.name + '_box_chi_4' }}" content="{{ read_link(site.name + '_box_chi_4') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
  {% end %}
   
  <a id="{{ site.name + '_box_chi_4' }}" href="{{ read_link(site.name + '_box_chi_4') }}">   
   <img id="{{ site.name }}_box_chi_4" src="{{ read_image(site.name + '_box_chi_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_chi_4') }}'" class="img-edit" alt="item">
 </div>
</div>
</div>
</a>


<!-- **cinco** -->

   <div class="col-md-2 col-sm-4 col-xs-6 space20 img-cat sobre-botones article-box-2">
    <div class="back">
    <div class="box-product" onclick="">
          <div class="box-product-info" onclick="">   
            <a id="{{ site.name + '_box_chi_5' }}" href="{{ read_link(site.name + '_box_chi_5') }}">  
             <div class="img-text-center abs_txt">
              <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_box_5' }}"> {{ read_text(site.name +  '_t_box_5') }}</div>
            </div>
          </a>
        </div>
  </div>
  <div style="position:relative;">
    {% if is_admin %}
    <div class="image-upload">
      <label for="img_box_chi_5">
       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
     </label>
     <input type="file" class="editableimage" image-id="{{ site.name }}_box_chi_5" name="image" id="img_box_chi_5" >
   </div>
   {% end %}
   
   {% if is_admin %}
       <img class="change-image editablelink or" link-id="{{ site.name + '_box_chi_5' }}" content="{{ read_link(site.name + '_box_chi_5') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
    {% end %}

<a id="{{ site.name + '_box_chi_5' }}" href="{{ read_link(site.name + '_box_chi_5') }}">  
   <img id="{{ site.name }}_box_chi_5" src="{{ read_image(site.name + '_box_chi_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_chi_5') }}'" class="img-edit" alt="item">
 </div>
</div>
</div>
</a>

<!-- **seis** -->

   <div class="col-md-2 col-sm-4 col-xs-6  space20 img-cat sobre-botones article-box-2">
    <div class="back">
    <div class="box-product" onclick="">
          <div class="box-product-info" onclick="">   
            <a id="{{ site.name + '_box_chi_6' }}" href="{{ read_link(site.name + '_box_chi_6') }}">  
             <div class="img-text-center abs_txt">
              <div class="text-box text-center {{editabletext}}" text-id="{{ site.name + '_t_box_6' }}"> {{ read_text(site.name +  '_t_box_6') }}</div>
            </div>
          </a>
        </div>
  </div>
  <div style="position:relative;">
    {% if is_admin %}
    <div class="image-upload">
      <label for="img_box_chi_6">
       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
     </label>
     <input type="file" class="editableimage" image-id="{{ site.name }}_box_chi_6" name="image" id="img_box_chi_6" >
   </div>
   {% end %}
   
   {% if is_admin %}
       <img class="change-image editablelink or" link-id="{{ site.name + '_box_chi_6' }}" content="{{ read_link(site.name + '_box_chi_6') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
    {% end %}

  <a id="{{ site.name + '_box_chi_6' }}" href="{{ read_link(site.name + '_box_chi_6') }}">   
   <img id="{{ site.name }}_box_chi_6" src="{{ read_image(site.name + '_box_chi_6', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_chi_6') }}'" class="img-edit" alt="item">
 </div>
</div>
</div>
</a>


</div>
</div>
</div>

</section>


{% include '../home/footer.html' %}
{% end %}


