<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- head bt inicio -->
        <title>Placare</title>
        <base href="{{ site_base }}/">
        <meta charset="utf-8">
        <meta name="title" content="">
        <meta name="description" content="">
        <meta name="author" content="loadingplay.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="jquery, vertical, scrolling, scroll, smooth"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css?1">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
       <!--  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet"> -->
       <!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7400796/8002792/css/fonts.css?1" /> -->
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css?1">
        <link rel="stylesheet" href="{{ site_base }}/common/css/editableimage.css?1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css?1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css?1">
        <link rel="stylesheet" href="{{ site_base }}/static/css/style.css?1">
        <link rel="stylesheet" href="{{ site_base }}/static/css/footer.css?1">
        <link rel="stylesheet" href="{{ site_base }}/static/css/header.css?1">
        <link rel="stylesheet" href="{{ site_base }}/static/css/gallery.ho.css?1">
        <link rel="stylesheet" href="{{ site_base }}/static/css/listado_articulos.css?1">
        <link rel="stylesheet" href="{{ site_base }}/static/css/listado_productos.css?1">
        <link rel="stylesheet" href="{{ site_base }}/static/css/checkout.css?1">
        <link rel="stylesheet" href="{{ site_base }}/static/css/simple-sidebar.css?1">


        <link rel="stylesheet" type="text/css" href="{{ site_base }}/static/fancybox/source/jquery.fancybox.css?1?v=2.1.5" media="screen" />

        <!-- aqui se ponen los demas css -de las paginas -->
        <link rel="stylesheet" href="{{ site_base }}/common/css/editableimage.css?1">


        <!-- autocomplete
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/static/js/plugins/selectize/selectize.css?1" />
        <!-autocomplete -->
       <link rel="stylesheet" href="{{ site_base }}/common/js/plugins/loadingplay/fileuploader/dist/fileuploader.css?1">


        <link rel="stylesheet" href="{{ site_base }}/static/css/ligthbox-d.css?1">


        <!-- <link rel="stylesheet" href="{{ site_base }}/static/js/fancybox/source/jquery.fancybox.css?1?v=2.1.5"> -->

        <link rel="stylesheet" href="{{ site_base }}/common/css/ellipsis.css?1">



        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css?1"/> -->


        {% block css %}{% end %}

        {% include 'product/product_box.html' %}
        {% include 'product/product_home.html' %}

        {% if is_admin %}
        {% set editabletext = 'editabletext' %}
        {% else %}
        {% set editabletext = '' %}
        {% end %}

    </head>



    <body>
        {% block header %}{% end %}
        {% block body %}{% end %}

         <!-- Modal -->
    <div align="center">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title ">Resumen de tu compra</h4>
                    </div>
                    <div class="modal-body mlb-btn">
                        <div class="container-fluid cart-list" ng-controller="">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Talla</th>
                                                <th class="text-center">Cant</th>
                                                <th class="text-center2">Precio</th>
                                                <th class="text-center">Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody class="shopping-cart">
                                        </tbody>
                                    </table>
                                    <div class="checkout-form"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ********Modal filtros ordenar******** -->

<!-- Modal -->
<div id="myModal-orde" class="modal fade" role="dialog">
  <div class="modal-dialog filtrosmovil">

    <!-- Modal content-->
    <div class="modal-content filtros">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><br> ORDENAR POR:</h4>
      </div>
      <div class="modal-body text-center">
         <ul class="">
                    <li><a href="#!" class="mayor">Precio: Mayor a menor</a></li>
                    <li><a href="#!" class="menor">Precio: Menor a mayor</a></li>
                    <li><a href="#!" class="nombre">Nombre</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>

<div id="myModal-fil" class="modal fade" role="dialog">
  <div class="modal-dialog filtrosmovil">

    <!-- Modal content-->
    <div class="modal-content filtros">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><br> FILTRAR POR:</h4>
      </div>
      <div class="modal-body fili text-center">
       <section class="h_submenu hidden-md hidden-lg hidden-sm visible-xs">
        <div class="col-md-12 col-sm-12 col-xs-12 mtl text-center" style="margin-bottom: 50px;border-right: 1px solid #E9E9ED; width: 92%;left: 8%;  margin-top: 13px;">
          <div class="text-fil-2"> TIPO DE CALZADO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Ballerinas" name="vehicle" tag="Categoria3_Ballerinas" value="Ballerinas">
                <div class="fil h-Categoria3_Ballerinas" onclick="checkNombre('Categoria3_Ballerinas','Ballerinas')">Ballerinas</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Botines" name="vehicle" tag="Categoria3_Botines" value="Botines"> 
                <div class="fil h-Categoria3_Botines" onclick="checkNombre('Categoria3_Botines','Botines')">Botines</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Mocasines" name="vehicle" tag="Categoria3_Mocasines" value="Mocasines"> 
                <div class="fil h-Categoria3_Mocasines" onclick="checkNombre('Categoria3_Mocasines','Mocasines')">Mocasines</div>
              </div>
               <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Mules" name="vehicle" tag="Categoria3_Mules" value="Mules"> 
                <div class="fil h-Categoria3_Mules" onclick="checkNombre('Categoria3_Mules','Mules')">Mules</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Plataformas" name="vehicle" tag="Categoria3_Plataformas" value="Plataformas"> 
                <div class="fil h-Categoria3_Plataformas" onclick="checkNombre('Categoria3_Plataformas','Plataforma')">Plataformas</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Playeras" name="vehicle" tag="Categoria3_Playeras" value="Playeras"> 
                <div class="fil h-Categoria3_Playeras" onclick="checkNombre('Categoria3_Playeras','Playeras')">Playeras</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Sandalias" name="vehicle" tag="Categoria3_Sandalias" value="Sandalias"> 
                <div class="fil h-Categoria3_Sandalias" onclick="checkNombre('Categoria3_Sandalias','Sandalias')">Sandalias</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Zapatos" name="vehicle" tag="Categoria3_Zapatos" value="Boat" value="Zapatos"> 
                <div class="fil h-Categoria3_Zapatos" onclick="checkNombre('Categoria3_Zapatos','Zapatos')">Zapatos</div>
              </div>
          </form>

          <div class="clearfix"></div>

          <div class="text-fil"> COLOR PRINCIPAL  </div>
            <div>
            <form action="/action_page.php" class="chek">
            <div class="filtro-color">
              <input type="radio" name="color" class="categ c-Color_Azul" tag="Color_Azul" value="Azul">
              <div class="fil h-Color_Azul" onclick="checkNombre('Color_Azul','Azul')">Azul</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Beige" tag="Color_Beige" value="Beige">
               <div class="fil h-Color_Beige" onclick="checkNombre('Color_Beige','Beige')">Beige</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Blanco" tag="Color_Blanco" value="Blanco">
               <div class="fil h-Color_Blanco" onclick="checkNombre('Color_Blanco','Blanco')">Blanco</div>
            </div>
             <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Burdeo" tag="Color_Burdeo" value="Burdeo">
               <div class="fil h-Color_Burdeo" onclick="checkNombre('Color_Burdeo','Burdeo')">Burdeo</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Cafe" value="Café" tag="Color_Cafe">
               <div class="fil h-Color_Cafe" onclick="checkNombre('Color_Cafe', 'Café')">Cafe</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Dorado" tag="Color_Dorado" value="Dorado">
               <div class="fil h-Color_Dorado" onclick="checkNombre('Color_Dorado','Dorado')">Dorado</div>
             </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Gris" tag="Color_Gris" value="Gris">
               <div class="fil h-Color_Gris" onclick="checkNombre('Color_Gris', 'Gris')">Gris</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Metalico" tag="Color_Metalico" value="Metálico">
               <div class="fil h-Color_Metalico" onclick="checkNombre('Color_Metalico','Metalico')">Metalico</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Negro" tag="Color_Negro" value="Negro">
               <div class="fil h-Color_Negro" onclick="checkNombre('Color_Negro','Negro')">Negro</div>
            </div>
              <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Rojo" tag="Color_Rojo" value="Rojo">
               <div class="fil h-Color_Rojo" onclick="checkNombre('Color_Rojo','Rojo')">Rojo</div>
            </div>
            </form>

          <div class="clearfix"></div>
         <div class="text-fil"> MATERIAL DEL ZAPATO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Capellada_Cuero" name="material" tag="Mat_Capellada_Cuero" value="Cuero">
                <div class="fil h-Mat_Capellada_Cuero" onclick="checkNombre('Mat_Capellada_Cuero','Cuero')"> Cuero </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Capellada_Eco_Cuero" name="material" tag="Mat_Capellada_Eco_Cuero" value="Eco Cuero">
                <div class="fil h-Mat_Capellada_Eco_Cuero" onclick="checkNombre('Mat_Capellada_Eco_Cuero','Eco')"> Eco Cuero </div>
              </div>
          </form>

          <div class="clearfix"></div>

          <div class="text-fil"> MARCA </div>
          <form action="/action_page.php" class="chek">
               <div class="filtro-marca">
                <input type="radio" class="categ c-Marca_Degas" name="marca" tag="Marca_Degas" value="Degas">
                <div class="fil h-Marca_Degas" onclick="checkNombre('Marca_Degas','Degas')">Degas</div>
               </div>
               <div class="filtro-marca">
                <input type="radio" class="categ c-Marca_Eda_Manzini" name="marca" tag="Marca_Eda_Manzini" value="Eda_Manzini">
                <div class="fil h-Marca_Eda_Manzini" onclick="checkNombre('Marca_Eda_Manzini','Eda_Manzini')">Eda Manzini</div>
               </div>
               <div class="filtro-marca">
                <input type="radio" class="categ c-Marca_Lola_Canales" name="marca" tag="Marca_Lola_Canales" value="Lola_Canales">
                <div class="fil h-Marca_Lola_Canales" onclick="checkNombre('Marca_Lola_Canales','Lola_Canales')">Lola Canales</div>
               </div>
          </form>

          <div class="clearfix"></div>

           <div class="text-fil"> OCASIÓN</div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-categorias">
                <input type="radio" class="categ c-Categoria4_Casuales" name="ocasion" tag="Categoria4_Casuales" value="Casuales"> 
                <div class="fil h-Categoria4_Casuales" onclick="checkNombre('Categoria4_Casuales','Casuales')">Casuales</div>
              </div>
              <div class="filtro-categorias">
                <input type="radio" class="categ c-Categoria4_Confort" name="ocasion" value="Confort" tag="Categoria4_Confort">
                <div class="fil h-Categoria4_Confort" onclick="checkNombre('Categoria4_Confort','Confort')">Confort </div>
              </div>
              <div class="filtro-categorias">
                <input type="radio" class="categ c-Categoria4_Fiesta" value="Fiesta" name="ocasion" tag="Categoria4_Fiesta"> 
                <div class="fil h-Categoria4_Fiesta" onclick="checkNombre('Categoria4_Fiesta','Fiesta')">Fiesta</div>
              </div>
               <div class="filtro-categorias">
                <input type="radio" class="categ c-Categoria4_Vestir" value="Vestir" name="ocasion" tag="Categoria4_Vestir">
                <div class="fil h-Categoria4_Vestir" onclick="checkNombre('Categoria4_Vestir','Vestir')">Vestir</div>
              </div>
          </form>

          <div class="clearfix"></div>
         <div class="text-fil"> TIPO DE CIERRE </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" class="categ c-Cierre_Abierto" name="cierre" value="Abierto" tag="Cierre_Abierto">
                <div class="fil h-Cierre_Abierto" onclick="checkNombre('Cierre_Abierto','Abierto')"> Abierto </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" class="categ c-Cierre-Cerrado" name="cierre" value="Cerrado" tag="Cierre_Cerrado">
                <div class="fil h-Cierre_Cerrado" onclick="checkNombre('Cierre_Cerrado','Cerrado')"> Cerrado </div>
              </div>
          </form>

          <div class="clearfix"></div>
         <div class="text-fil"> MATERIAL SUELA </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Suela_Goma_Eva" name="suela" value="Eva" tag="Mat_Suela_Goma_Eva">
                <div class="fil h-Mat_Suela_Goma_Eva" onclick="checkNombre('Mat_Suela_Goma_Eva','Goma_Eva')"> Eva </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Suela_Kratón" name="suela" value="Kratón" tag="Mat_Suela_Kratón">
                <div class="fil h-Mat_Suela_Kratón" onclick="checkNombre('Mat_Suela_Kratón','Kratón')"> Kratón </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Suela_Poliuretano" value="Poliuretano" name="suela" tag="Mat_Suela_Poliuretano">
                <div class="fil h-Mat_Suela_Poliuretano" onclick="checkNombre('Mat_Suela_Poliuretano','Poliuretano')"> Poliuretano </div>
              </div>
          </form>

          <div class="clearfix"></div>
         <div class="text-fil"> MATERIAL FORRO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Forro_Cuero" name="forro" tag="Mat_Forro_Cuero" value="Cuero">
                <div class="fil h-Mat_Forro_Cuero" onclick="checkNombre('Mat_Forro_Cuero','Forro Cuero')"> Cuero </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Forro_Eco_Cuero" name="forro" tag="Mat_Forro_Eco_Cuero" value="Eco Cuero">
                <div class="fil h-Mat_Forro_Eco_Cuero" onclick="checkNombre('Mat_Forro_Eco_Cuero','Forro Eco Cuero')"> Eco Cuero </div>
              </div>
          </form>

            </div>
        </div>

  </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Aplicar Filtro</button>
        <button class="limpiar limpiar_modal">Limpiar Todo </button>
      </div>
    </div>

  </div>
</div>

<!-- ******MODAL HOMBRES****** -->
<div id="myModal-fil-men" class="modal fade" role="dialog">
  <div class="modal-dialog filtrosmovil">

    <!-- Modal content-->
    <div class="modal-content filtros">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><br> FILTRAR POR:</h>
      </div>
      <div class="modal-body fili text-center">
       <section class="h_submenu hidden-md hidden-lg hidden-sm visible-xs">
        <div class="col-md-12 col-sm-12 col-xs-12 mtl text-center" style="margin-bottom: 50px;border-right: 1px solid #E9E9ED; width: 92%;left: 8%;  margin-top: 13px;">
          <div class="text-fil-2"> TIPO DE CALZADO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Botines" name="vehicle" tag="Categoria3_Botines" value="Botines"> 
                <div class="fil h-Categoria3_Botines" oclick="checkNombre('Categoria3_Botines','Botines')">Botines</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Formales" name="vehicle" tag="Categoria3_Formales" value="Formales"> 
                <div class="fil h-Categoria3_Formales" onclick="checkNobre('Categoria3_Formales','Formales')">Formales</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Sandalias" name="vehicle" tag="Categoria3_Sandalias" value="Sandalias"> 
                <div class="fil h-Categoria3_Sandalias" onclick="checkNombre('Categria3_Sandalias','Sandalias')">Sandalias</div>
              </div>
              <div class="filtro-filtros">
                <input type="radio" class="categ c-Categoria3_Zapatos" name="vehicle" tag="Categoria3_Zapatos" value="Boat" value="Zapatos"> 
                <div class="fil h-Categoria3_Zapatos" onclick="checkNombe('Categoria3_Zapatos','Zapatos')">Zapatos</div>
              </div>
          </form>

          <div class="clearfix"></div>

          <div class="text-fil"> COLOR PRINCIPAL  </div>
            <div>
            <form action="/action_page.php" class="chek">
            <div class="filtro-color">
              <input type="radio" name="color" class="categ c-Color_Azul" tag="Color_Azul" value="Azul">
              <div class="fil h-Color_Azul" onclick="checkNombre('Color_Azul','Azul')">Azul</div>
            </div>
            <div class="filtro-color">
               <input type="radio" name="color" class="categ c-Color_Beige" tag="Color_Beige" value="Beige">
               <div class="fil h-Color_Beige" onclick="checkNombre('Color_Beige','Beige')">Beige</div>
            </div>
            <div class="filtr-color">
               <input type="radio" name="color" class="categ c-Color_Cafe" value="Café" tag="Color_Cafe">
               <div class="fil h-Color_Cafe" onclick="checkNombre('Color_Cafe', 'Café')">Cafe</div>
            </div>
            <div class="filtrocolor">
               <input type="radio" name="color" class="categ c-Color_Negro" tag="Color_Negro" value="Negro">
               <div class="fil h-Color_Negro" onclick="checkNombre('Color_Negro','Negro')">Negro</div>
            </div>
             <div class="filtro-clor">
               <input type="radio" name="color" class="categ c-Color_Burdeo" tag="Color_Burdeo" value="Burdeo">
               <div class="fil h-Color_Burdeo" onclick="checkNombre('Color_Burdeo','Burdeo')">Burdeo</div>
            </div>

            <div class="filtro-coor">
               <input type="radio" name="color" class="categ c-Color_Verde" tag="Color_Verde" value="Verde">
               <div class="fil h-Color_Verde" onclick="checkNombre('Color_Verde','Verde')">Verde</div>
             </div>
            </form>
          <div class="clearfix"></div>
         <div class="text-fil"> MATERIAL DEL ZAPATO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Capellada_Cuero" name="material" tg="Mat_Capellada_Cuero" value="Cuero">
                <div class="fil h-Mat_Capellada_Cuero" onclick="checkNombre('Mat_Capellada_Cuero','Cuero')"> Cuero </div>
              </div>
          </form>

          <div class="clearfix"></div>

          <div class="text-fil"> MARCA </div>
          <form action="/action_page.php" class="chek">
               <div class="filtro-marca">
                <input type="radio" class="categ c-Marca_Caffeine" name="marca" tag="Marca_Caffeine" value="Caffeine">
                <div class="fil h-Marca_Cafeine" onclick="checkNombre('Marca_Caffeine','Caffeine')">Caffeine</div>
               </div>
                <div class="filtro-marca">
                <input type="radio" class="categ c-Marca_Cocomate" name="marca" tag="Marca_Cocomate" value="Cocomate">
               <div class="fil h-Marca_Cocomate" onclick="checkNombre('Marca_Cocomate','Cocomate')">Cocomate</div>
               </div>
                               <div class="filtro-marca">
                <input type="radio" class="categ c-Marca_Manzini" name="marca" tag="Marca_Manzini" value="Manzini">
               <div class="fil h-Marca_Manzini" onclick="checkNombre('Marca_Manzini','Manzini')">Manzini</div>
               </div>
               <div class="filtro-marca">
                <input type="radio" class="categ c-Marca_Tarragona" name="marca" tag="Marca_Tarragona" value="Tarragona">
                <div class="fil h-Marca_Tarragona" onclick="checkNombre('Marca_Tarragona','Tarragona')">Tarragona</div>
               </div>
          </form>

         <div class="clearfix"></div>

           <div class="text-fil"> OCASIÓN</div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-categorias">
                <input type="radio" class="categ c-Categoria4_Casuales" name="ocasion" tag="Categoria4_Casuales" value="Casuales"> 
               <div class="fil h-Categoria4_Casuales" onclick="checkNombre('Categoria4_Casuales','Casuales')">Casuales</div>
              </div>
               <div class="filtro-categorias">
                <input type="radio" class="categ c-Categoria4_Vestir" value="Vestir" name="ocasion" tag="Categoria4_Vestir">
                <div class="fil h-Categoria4_Vestir" onclick="checkNombre('Categoria4_Vestir','Vestir')">Vestir</div>
              </div>
          </form>

          <div class="clearfix"></div>
         <div class="text-fil"> TIPO DE CIERRE </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" class="categ c-Cierre_Abierto" name="cierre" value="Abierto" tag="Cierre_Abierto">
                <div class="fil h-Cierre_Abierto" onclick="checkNombre('Cierre_Abierto','Abierto')"> Abierto </div>
              </div>
              <div class"filtro-talla">
                <input type="radio" class="categ c-Cierre-Cerrado" name="cierre" value="Cerrado" tag="Cierre_Cerrado">
                <div class="fil h-Cierre_Cerrado" onclick="checkNombre('Cierre_Cerrado','Cerrado')"> Cerrado </div>
              </div>
          </form>

         <div class="clearfix"></div>
         <div class="text-fil"> MATERIAL SUELA </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Suela_Kratón" name="suela" value="Kratón" tag="Mat_Suela_Kratón">
                <div class="fil h-Mat_Suela_Kratón" onclick="checkNombre('Mat_Suela_Kratón','Kratón')"> Kratón </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Suela_Crepe" value="Crepe" name="suela" tag="Mat_Suela_Crepe">
                <div class="fil h-Mat_Suela_Crepe" onclick="checkNombre('Mat_Suela_Crepe','Crepe')"> Crepe </div>
              </div>
          </form>
          <div class="clearfix"></div>
         <div class="text-fil"> MATERIAL FORRO </div>
          <form action="/action_page.php" class="chek">
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Forro_Eco_Cuero" name="forro" tag="Mat_Forro_Eco_Cuero" value="Eco Cuero">
                <div class="fil h-Mat_Forro_Eco_Cuero" onclick="checkNombre('Mat_Forro_Eco_Cuero','Forro Eco Cuero')"> Eco Cuero </div>
              </div>
              <div class="filtro-talla">
                <input type="radio" class="categ c-Mat_Forro_Textil" name="forro" tag="Mat_Forro_Textil" value="Textil">
                <div class="fil h-Mat_Forro_Textil" onclick="checkNombre('Mat_Forro_Cuero','Forro Textil')"> Textil </div>
              </div>
          </form>

            </div>
        </div>

  </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Aplicar Filtro</button>
        <button class="limpiar limpiar_modal">Limpiar Todo </button>
      </div>
    </div>

  </div>
</div>

<!-- ******FIN MODAL HOMBRES****** -->

<!-- ******modal imagen talla****** -->


<!-- Modal -->
<div id="myModal-talla" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title talla">TABLA DE TALLAS</h4>
      </div>
      <div class="modal-body">
        <div align="center">
          <img class="img-talla" src="https://7static.loadingplay.com/static/images/100cf52904039b858baee21ab53c4ae5_hype.png">
        </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>

<!-- ***fin modal talla**** -->


<!-- *******************MODAL INGRESO CODIGO PRINCPAL******************* -->

<div class="container min btb-warning-remove-me">
  <button type="button" class="btn btn-info btn-lg co hidden" data-toggle="modal" data-target="#myModal-codigo">CÓDIGO</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal-codigo" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content co">
        <div class="modal-header co">
         <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title co">LANZAMIENTO PLACARE.COM</h4>
        </div>
        <div class="modal-body">
          <div align="center">
          <div class="lan">!MUCHAS GRACIAS POR VISITARNOS! ESTAMOS LANZANDO NUESTRA NUEVA TIENDA ONLINE ZAPATOS DE HOMBRE Y MUJER.</div>
          <div class="lan-2">Si ya tienes tu código de autorización ingrésalo a continuación y ya estarás dentro! Sino lo tienes, síguenos en facebook o instagram para obtenerlo</div>
          <div class="lan-3">¡Te invitamos a descubrir tus próximos zapatos!</div>
          <form id="welcome-form">
             <input type="text" name="fname" class="cup"><br>
             <button type="submit" class="btn btn-warning en">ENTRAR</button>
          </form>
        </div>
        </div>
        <div class="modal-footer co">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<!-- ******************* FIN MODAL INGRESO CODIGO PRINCPAL******************* -->




        <!-- gif loading editableimage -->
        <img id="imgLOAD" width="50" height="50" src="{{ site_base }}/common/css/loading.gif" />

        <script type="text/javascript">
        var site_base = "{{ site_base }}"
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js?1"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js?1"></script>

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js?1"></script>
        <script type="text/javascript" src="{{ site_base }}/static/fancybox/source/jquery.fancybox.js?1?v=2.1.5"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.editable.js?1" ></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editabletext.js?1"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editablelink.js?1"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/page_editable.js?1"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/editableimage.js?1"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/plugins/loadingplay/fileuploader/dist/fileuploader.js?1"></script>

        <!-- carga de productos -->
        <!-- <script type="text/javascript" src="{{ site_base }}/static/js/plugins/jquery.lazyload.js?1"></script> -->
        <!-- <script type="text/javascript" src="{{ site_base }}/static/js/imageloader.js?1" ></script> -->

        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.cookie.js?1"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/environment.detection.js?1"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/bodegas2/bodegas.client.js?12"></script>

        <!--
        <script type="text/javascript" src="{{ site_base }}/static/js/fancybox/jquery.fancybox.pack.js?1"></script>
        <script type="text/javascript" src="{{ site_base }}/static/js/fancybox/source/jquery.fancybox.js?1?v=2.1.5"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js?1"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js?1"></script>
        <script type="text/javascript" src="{{ site_base }}/static/js/jquery.ellipsis.js?1"></script>
        -->

        <script type="text/javascript" src="{{ site_base }}/common/js/parallax.min.js?1"></script>


         <script type="text/javascript" src="{{ site_base }}/common/js/jquery.ellipsis.js?1"></script>

        <!--
        <div type="template" id="product_loading" style="display:none;" >
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        -->

        <script type="text/javascript">
            $(document).ready(function () {

                $(".fancybox").fancybox({
                    'width':800,
                    'height':630,
                    'autoSize' : false,
                    'autoScale': false,
                    'padding': 0,
                    'helpers': {
                            overlay: {
                                locked: false
                            }
                        }
                });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function(){

                $(document).on("click", ".lupita", function(ev){
                    $(".buscar-movil").toggle(1000);
                });
            });

        </script>

<!-- este es el script para unidades -->
<!-- <script type="text/x-template" id="shopping-cart-product">
<tr>
    <td class="vert-align text-left">{{! name }}</td>
    <td class="vert-align">{{! combination }}</td>
    <td class="vert-align money">{{! price }}</td>
    <td class="text-center vert-align" style="border-bottom: 1px solid #ddd;">
        <a href="#!" class="remove-one" product-id="{{! id }}">-</a>
        {{! quantity }}
        <a href="#!" class="add-one" product-id="{{! id }}">+</a>
    </td>
    <td class="remove-from-cart text-center" style="border-bottom: 1px solid #ddd;" product-id="{{! id }}" aria-hidden="true"> X  </td>
    <td class="text-center vert-align" style="border-bottom: 1px solid #ddd;"><a class="borrarproducto" cart-id=""><i class="icon-close"></i></a></td>
</tr>
</script> -->

<script type="text/x-template" id="shopping-cart-product">
    <tr>
        <td class="vert-align text-left">{{! name }}</td>
        <td class="vert-align">{{! combination }}</td>
        <td class="text-center vert-align fri" style="border-bottom: 1px solid #ddd;">
            <a href="#!" class="remove-one" lp-cart-remove-one="{{! id }}">-</a>
            {{! quantity }}
            <a href="#!" class="add-one" lp-cart-add-one="{{! id }}" >+</a>
        </td>
        <td class="text-center2 vert-align">{{! price|money }}</td>
        <td class="remove-from-cart text-center fri" lp-cart-remove="{{! id }}" aria-hidden="true"> X  </td>
        <td class="text-center vert-align fri">
            <a class="borrarproducto" cart-id="">
                <i class="icon-close"></i>
            </a>
        </td>
    </tr>
</script>

<script type="text/x-template" id="shopping-cart-total" >
    <tr>
    </tr>
    <tr>
        <td style="font-weight: 600;">Total:</td>
        <td id="total" colspan="3" class="text-left total-modal lib">{{! total|money }}</td>
        
    </tr>
</script>

<script type="text/x-template" id="shopping-cart-units-total" >
    <span> {{! units_total }}</span>
</script>

<script type="text/x-template" id="shopping-cart-checkout-form" >
    <form action="{{! checkout_url}}" method="get" novalidate id="shipping-form" class="myform" onclick="return Validate()">
        <input name="site_id" class="form-control required" type="hidden" value="53">
        <input name="cart_id" class="form-control required" type="hidden" value="{{! cart_id}}">
        <input name="origin" class="form-control required" type="hidden" value="{{ site.name }}">
        <div class="form-group text-center">
             <button type="submit" class="btn bn" style="background-color: #FF9D36;color: white;width: 31%;border-radius: 0px;height: 43px;float: right;">
                PAGAR
            </button>
        </div>
        <div class="">
            <a class="modal-close pin" data-dismiss="modal" aria-hidden="true">VOLVER</a>
        </div>
    </form>
</script>




<!-- termino carrito de compra -->

        {% block javascript %}{% end %}

        <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '348231912006000',
                xfbml: true,
                version: 'v2.1'
            });
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js?1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>

        {% if is_admin %}
        <script type="text/javascript">
        var site_name="{{site.name}}";
        </script>
        <script type="text/javascript" src="{{ site_base }}/static/js/header.js?1" ></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/contentmanager.js?1" ></script>

        {% end %}

        <script type="text/javascript" src"https://clouddelivery.textbox.io/1/getEditor?apiKey=1wugguwjiatkm69xmt7w1den1mpvqkxi75mwfmb49lz89o4r">
        </script>



    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js?1','ga');

        ga('create', '{{ get_config("analytics") }}', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript">
    $('ul.nav div.dropdown').hover(function() 
    {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() 
    {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
    </script>





    </body>
</html>
