#footer {
    background-color: #0a8452;
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
}

.logo-footer {
    width: 7%;
    position: relative;
    bottom: -37px;
    margin-left: 11px;
    margin-bottom: 48px;
}

.ul-2 {
    font-weight: 600;
    color: white;
    font-size: 16px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas-2 {
    text-align: left;
    margin-left: 0px;
    width: 100%;
    color: white;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fot {
    border-bottom: 1px solid white;
    margin-bottom: 19px;
}
.farm {
    width: 35%;
    position: relative;
    bottom: -1px;
    margin-left: 278px;
}

.sociales {
    padding: 30px 0px;
    width: 38px;
    top: -19px;
    position: relative;
    left: 97px;
}

.pas-3 {
    text-align: right;
    margin-left: 0px;
    width: 100%;
    color: white;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left:-33px;
}