#footer {
    background-color: #0a8452;
    width: 101%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
    margin-top: -1px;
}

.logo-footer {
    width: 65%;
    position: relative;
    bottom: -37px;
    margin-left: 11px;
    margin-bottom: 48px;
}

.ul-2 {
    font-weight: 600;
    color: white;
    font-size: 16px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas-2 {
    text-align: left;
    margin-left: 0px;
    width: 100%;
    color: white;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fot {
    border-bottom: 1px solid white;
    margin-bottom: 19px;
}

.farm {
    width: 60%;
    position: relative;
    bottom: -11px;
    margin-left: 0px;
}

.sociales {
    padding: 30px 0px;
    width: 38px;
    top: -36px;
    position: relative;
    left: 76px;
}

.pas-3 {
    text-align: right;
    margin-left: 0px;
    width: 100%;
    color: white;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -33px;
    top: 18px;
    position: relative;
}

.no-dot{
    margin-bottom: 24px;
    margin-top: 24px;
}



/*-----------------------------Responsive---------------------------------/*/


@media (max-width: 991px){
    .sociales {
    padding: 30px 0px;
    width: 38px;
    top: -36px;
    position: relative;
    left: 0px;
    
}