.nav>li>a {
    position: relative;
    display: block;
    padding: 16px 17px;
    font-weight: 300;
}

.fa-shopping-cart {
    position: relative;
    left: 42px;
    font-size: 35px !important;
    top: 7px;
    color: white;
}

.logo {
    width: 75%;
    position: relative;
    bottom: 16px;
    margin-left: -2px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 96px;
}

.units-total {
    position: relative;
    left: 51px;
    top: 14px;
    float: right;
    color: white;
}

.navbar-default {
    background-color: #0a8452;
    border-color: #0a8452;
}
.navbar-default .navbar-nav>li>a {
    color:white;
}