.nav>li>a {
    position: relative;
    display: block;
    padding: 16px 106px;
}

.fa-shopping-cart{
    float: right;
    width: 100%;
    position: relative;
    left: 99px;
    font-size: 29px !important;
    top: 8px;
}

.logo{
    width: 15%;
}

