html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
   font-family: 'Open Sans', sans-serif;
}


a{
    color: gray;
}

a:hover{
    text-decoration: none;
}

li{
	list-style: none;
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.primer {
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 18px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carousel{
    margin-top: 53px;
}

.pin {
    float: left !important;
    background: #B40404 !important;
    font-size: 15px !important;
    padding: 12px 11px !important;
    color: white !important;
    font-weight: 600 !important;
    height: 43px;
    width: 31%;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*------------------------------------Responsive-------------------------------------------------------*/
