#currency{display:none;}
#language{display:none;}
#social_band{display:none;}
.payment-icons{display:block;}
.category-info{display:block;}
.share{display:block;}
.box-product .description, .product-grid .description{display:none;}
.column #instagram{display:block;}
.column #google{display:none;}
.column #pinterest{display:none;}
#header #logo a span{display:none;}
#header #logo a img{display:block;}
#header #welcome{display:none;}
.box-product > div .cart, .product-grid > div .cart{display:block;}
.product-info .product_wish_compare{display:none;}
.box-product div.image, .product-grid .image{border:none;}
.column #facebook{display:block;}
.column #rss{display:none;}
.column #twitter{display:none;}
.column #phone{display:none;}
#powered > span{display:none;}
.product_sale{display:block;}
 .review{display:none;}
#footer{display:none;}
#menu > div > ul > li > a{color:rgba(104,118,119,1)}
#header > #menu > div > ul > li ul > li:hover > a{color:rgba(255,255,255,1)}
#homepage  #header > #menu > div > ul > li div{background:rgba(128,138,139,1)}
.box-product .name a, .product-grid .name a{color:rgba(104,118,119,1)}
#footer h3{color:rgba(104,118,119,1)}
.cat_heading{color:rgba(104,118,119,1)}
#footer .column a{color:rgba(104,118,119,1)}
.box-product div.image, .product-grid .image{border-color:rgba(182,198,200,1)}
#homepage #menu > div > ul > li > a{color:rgba(104,118,119,1)}
#menu li:hover a{color:rgba(255,255,255,1)}
body{color:rgba(104,118,119,1)}
body{background-color:rgba(255,255,255,1)}
#logo span{color:rgba(104,118,119,1)}
#header #welcome a{color:rgba(104,118,119,1)}
#header #welcome{color:rgba(104,118,119,1)}
#cart-total{color:rgba(104,118,119,1)}
.dk_toggle{color:rgba(104,118,119,1)}
#header #search input{color:rgba(104,118,119,1)}
#header > #menu > div > ul > li div{background:rgba(128,138,139,1)}
.box-product .price, .product-grid .price{color:rgba(104,118,119,1)}
.column span{background:rgba(104,118,119,1)}
#powered{color:rgba(104,118,119,1)}
#powered a{color:rgba(104,118,119,1)}
#header > #menu > div > ul > li ul > li > a:hover{background:rgba(147,157,158,1)}
#menu > div{background:rgba(255,255,235,0)}
#header > #menu > div > ul > li:hover{background:rgba(0,14,238,1)}
#homepage #menu > div > ul > li:hover > a{color:rgba(255,255,255,1)}
body { background-image: none;background-repeat:repeat}



/* background_color -  */



/* menu_transparency -  */

