.caja-log {
    width: 300px;
    float: left;
    margin-top: -15px;
    margin-bottom: 21px;
}

.nav>li>a {
    display: block;
    padding: 0px 0px;
    color: #232323;
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Alegreya SC', serif;
    position: relative;
    top: 69px;
    cursor: pointer;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color:transparent;
}

.nav>li>a:hover{
    text-decoration: none;
    background-color:transparent;

}

.logo-desk {
    width: 190px;
    /* background: rgba(128, 128, 128, 0.23); */
    /* border-radius: 13px; */
    /* margin: 0 auto; */
    /* float: right; */
    padding: 30px;
    bottom: 5px;
    position: relative;
    right: 27px;
}

.dropdown {
    display: inline;
    /* float: right; */
    position: relative;
    /* display: block; */
    padding: 40px 20px;
    color: #232323;
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
    left: 199px;
    top: 66px;
    font-family: 'Alegreya SC', serif;
    cursor: pointer;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgba(84, 84, 84, 0.79);
    background-color: transparent;
    border-color:transparent;
    border-bottom: 1px solid black;
    /*font-size: 13px;*/
}

.btn-primary .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgba(84, 84, 84, 0.79);
    background-color:transparent;
    border-color: transparent;
    border-bottom: 1px solid black;
    /*font-size: 13px;
*/}

.btn-primary {
    color: #232323;
    background-color: transparent;
    border-color: transparent;
    /*font-size: 13px;*/
}

.dropdown-menu {
    position: absolute;
    top: 91%;
    left: -6px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 14px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.26);
     -moz-box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.26); 
     box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.26);
    height: 176px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: burlywood;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #232323;
    white-space: nowrap;
    font-size: 13px;
    top: -21px;
    position: relative;
}

.fa-search{
  color: #232323;
  position: relative;
  left:37px;
}


.logo-desk-2 {
    width: 175px;
    /* background: rgba(128, 128, 128, 0.23); */
    /* border-radius: 13px; */
    /* margin: 0 auto; */
    /* float: right; */
    padding: 30px;
    bottom: 28px;
    position: relative;
}

.font-menu.active {
  border-bottom: 1px solid;
  padding: 0px 0px;
  border-radius: 0px;
}

.font-menu:hover {
color: gray;
border-bottom: 1px solid ;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px  transparent;
    box-shadow: inset 0 3px 5px transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.btn-primary {
    display: inline-block;
    padding: 0px 0px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}



.dropdown-menu.dos {
    position: absolute;
    top: 98%;
    left: 9px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.26);
     -moz-box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.26); 
     box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.26);
    height: 112px;
}

.fa-angle-down.dos{
   font-size: 23px !important;
    color: black;
    position: relative;
    top: -37px;
    background-color: transparent; 
    border: 1px solid transparent; 
    border-radius: 0px; 
    padding: 0px 0px 0px 0px;
    width: 37px;
    height: 37px;
    margin-bottom: -36px;
}

.con{
left: 37px;
}


.navbar {
    margin-bottom: 11px;
    margin-top: -26px;
}
.oc{
    position:relative;
    left:75px;
}
/*--------------------------------------------Responsive------------------------------------------------*/


@media (max-width: 1199px){
    .logo-desk-2 {
    display: none;
}

.dropdown {
    display: inline;
    /* float: right; */
    position: relative;
    /* display: block; */
    font-size: 13px;
    padding: 40px 10px;
    color: #232323;
    font-weight: 500;
    font-weight: 400;
    left: 137px;
    top: 65px;
}

.logo-desk {
    right: 42px;
}

.btn-primary {
    font-size: 13px;
}

.dropdown-menu {
    position: absolute;
    top: 91%;
    left: -21px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 14px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    height: 176px;
}

.nav>li>a{
   top: 66px;
}

}

@media (max-width: 1125px){
.logo-desk {
    width: 175px;
    /* background: rgba(128, 128, 128, 0.23); */
    /* border-radius: 13px; */
    /* margin: 0 auto; */
    /* float: right; */
    padding: 30px;
    bottom: 5px;
    position: relative;
    right: 41px;
}

}

@media (max-width: 1100px){
    .dropdown {
    display: inline;
    /* float: right; */
    position: relative;
    /* display: block; */
    padding: 40px 10px;
    color: #232323;
    font-weight: 400;
    font-family: 'Lora', serif;
    left: 118px;
    top: 61px;
}

}

@media (max-width: 1039px){
   /* .navbar-default .navbar-toggle {
    border-color: #ddd;
    background: gray;
    top: 10px;
    }

    .navbar-header {
    float: none;
    width: 100% !important;
    }

    .navbar-toggle {
    display: block;

    }
    .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    background: white;
    margin-left: 0px;
    width: 100%;
    border: 1px solid;
    }

    .navbar-collapse.collapse {
    display: none!important;
    background: white;
    margin-left: 0px;
    width: 100%; 
     border: 1px solid;

    }
    .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
    width: 100%;
    }
    .navbar-nav>li {
    float: none;
    }
    .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .navbar-text {
    float: none;
    margin: 15px 0;
    }

    .navbar-collapse.collapse.in { 
    display: block!important;
    background: white;
    margin-top: 64px;
    overflow: hidden;
     border: 1px solid;

    }
    .collapsing {
    overflow: hidden!important;
    }
   
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    position: absolute;
    background: #999;
    width: 100%;
    top: 50px;
     background: white;
    }

    .navbar-toggle {
    position: relative;
    left: -30px;
    top: 17px;
    }

    .navbar-left{
    z-index: 1000;
    position: relative;
    }
  
    #bs-example-navbar-collapse-1{
    z-index: 1000;
    position: absolute;
    overflow-x: hidden;
    }
    .navbar-default {
    border-color: transparent;
    background-color: transparent;
    }

   .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
   }
  .dropdown-menu {
    position: absolute;
    top: 65%;
    left: 23px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 100%;
   }

    .btn-primary .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgba(84, 84, 84, 0.79);
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    }

   .icon {
    position: relative;
    top: 11px;
    cursor: pointer;
    font-size: 18px;
    left: 15px;
    margin-bottom: 19px;
   }

   .logo {
      margin-top: -1px
   }

   .navbar-toggle .icon-bar {
    display: block;
    width: 26px;
    height: 4px;
    border-radius: 1px;
    background-color: gray;
}

   .bot {
    top: -24px;
}

    .navbar-brand{
    width: 39% !important;
}

  .caja-log {
   display: none;
}

  .logo-desk-2 {
    display: inherit;
}

.caja-logo {
    height: 51px;
    width: 300px;
    float: left;
    margin-top: -32px;
    margin-bottom: 21px;
}

.dropdown {
   display: inherit;
    position: relative;
    padding: 18px 9px;
    color: #232323;
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
    font-family: ‘Lora’, serif;
    left: 0px;
    top: 4px;
}

.fa-search.uno{
    display: none !important;
}

.fa-search.dos {
    float: right;
    top: 23px;
    position: relative;
    right: -20px;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 23px 13px;
    color: #232323;
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
    font-family: ‘Lora’, serif;
    top: -66px;
}

.con {
    left: 13px;
    margin-top: 19px;
}

.logo-desk-2{
 visibility: visible;
}


}
*/
}


/*@media (max-width: 991px){

.logo-desk-2 {
    width: 173px;

    padding: 30px;
    bottom: 52px;
    position: relative;
}

.fa-search.dos {
    top: 23px;
    position: relative;
    right: -20px;
}

 .navbar-default .navbar-toggle {
    border-color: #ddd;
    background: gray;
    top: 10px;
    }

    .navbar-header {
    float: none;
    width: 100% !important;
    }

    .navbar-toggle {
    display: block;

    }
    .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    background: white;
    margin-left: 0px;
    width: 100%;
    }

    .navbar-collapse.collapse {
    display: none!important;
    background: white;
    margin-left: 0px;
    width: 100%; 

    }
    .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
    width: 100%;
    }
    .navbar-nav>li {
    float: none;
    }
    .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .navbar-text {
    float: none;
    margin: 15px 0;
    }

    .navbar-collapse.collapse.in { 
    display: block!important;
    background: white;
    margin-top: 64px;
    overflow: hidden;

    }
    .collapsing {
    overflow: hidden!important;
    }
   
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    position: absolute;
    background: #999;
    width: 100%;
    top: 50px;
     background: white;
    }

    .navbar-toggle {
    position: relative;
    left: -42px;
    top: 36px;
    }

    .navbar-left{
    z-index: 1000;
    position: relative;
    }
  
    #bs-example-navbar-collapse-1{
    z-index: 1000;
    position: absolute;
    overflow-x: hidden;
    }
    .navbar-default {
    border-color: transparent;
    background-color: transparent;
    }

   .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
   }
  .dropdown-menu {
    position: absolute;
    top: 65%;
    left: 23px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 100%;
   }

    .btn-primary .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgba(84, 84, 84, 0.79);
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    }

   .icon {
    position: relative;
    top: 11px;
    cursor: pointer;
    font-size: 18px;
    left: 15px;
    margin-bottom: 19px;
   }

   .logo {
      margin-top: -1px
   }

   .navbar-toggle .icon-bar {
    display: block;
    width: 26px;
    height: 4px;
    border-radius: 1px;
    background-color: gray;
}

   .bot {
    top: -24px;
}

    .navbar-brand{
    width: 39% !important;
}

  .caja-log {
   display: none;
}

  .logo-desk-2 {
    display: inherit;
}

.caja-logo {
    height: 51px;
    width: 300px;
    float: left;
    margin-top: -32px;
    margin-bottom: 21px;
}

.dropdown {
   display: inherit;
    position: relative;
    padding: 18px 9px;
    color: #232323;
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
    font-family: ‘Lora’, serif;
    left: 0px;
    top: 4px;
}

.fa-search.uno{
    display: none !important;
}

.fa-search.dos {
    float: right;
    top: 23px;
    position: relative;
    right: -20px;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 0px;
    color: #232323;
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
    font-family: ‘Lora’, serif;
    top: -47px;
}

.con {
    left: 13px;
    margin-top: 36px;
    margin-bottom: 28px;
}

.logo-desk-2{
 visibility: visible;
}

.ub{
    left: 10px;
}


}*/

@media (max-width: 991px){
.dropdown-menu {
    position: absolute;
    top: 75%;
    left: -16px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 10px 0px;
    margin: 0px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    height: 176px;
    width: 97%;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #232323;
    white-space: nowrap;
    font-size: 13px;
    top: -12px;
    position: relative;
}

.dropdown-menu.mundo {
    position: absolute;
    top: 38%;
    left: 4px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 14px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    height: 100px;
    width: 97%;
}

.open>.dropdown-menu.mundo {
    display: block;
}

.font-menu:hover {
color: gray;
border-bottom: 0px solid ;
}

.font-menu:focus{
color: gray;
border-bottom: 0px solid ;
}

.fa-search {
    color: #232323;
    position: relative;
    top: -3px;
    left: 0px;
}

.caja-log {
    width: 117px;
    float: left;
    margin-top: -15px;
    margin-bottom: 21px;
}

.dropdown {
    display: inline;
    /* float: right; */
    position: relative;
    /* display: block; */
    padding: 40px 10px;
    color: #232323;
    font-weight: 400;
    font-family: 'Lora', serif;
    left: 0px;
    top: 61px;
}


}


@media (max-width: 767px){
.con {
    left: 13px;
    margin-top: 37px;
}

.fa-angle-down.dos {
    font-size: 23px !important;
    color: black;
    position: relative;
    top: -37px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    width: 37px;
    height: 37px;
    margin-bottom: -9px;
    float: right;
}

.dropdown-menu {
    position: absolute;
    top: 18%;
    left: 4px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 14px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px rgba(0,0,0,.175);
    height: 189px;
    width: 95%;
    z-index: 1030;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #232323;
    white-space: nowrap;
    font-size: 13px;
    top: -12px;
    position: relative;
}

.dropdown-menu.mundo {
    position: absolute;
    top: 38%;
    left: 4px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 26px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px rgba(0,0,0,.175);
    height: 100px;
    width: 95%;
}

.open>.dropdown-menu.mundo {
    display: block;
}

.font-menu:hover {
color: gray;
border-bottom: 0px solid ;
}

.font-menu:focus{
color: gray;
border-bottom: 0px solid ;
}

.fa-search {
    color: #232323;
    position: relative;
    top: -12px;
    left: 24px;
    float: left;
}

}

@media (max-width: 414px){
.caja-logo {
    position: relative;
    top: 0px;
    width: 234px;
}

.logo {
    margin-left: -27px;
    width: 236px;
}

.dropdown-menu.mundo {
    position: absolute;
    top: 46%;
    left: 4px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 14px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    height: 100px;
    width: 95%;
}

.dropdown-menu {
    position: absolute;
    top: 23%;
    left: 4px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 14px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    height: 169px;
    width: 95%;
    z-index: 1030;
}

}

@media (max-width: 412px){

.caja-logo {
    position: relative;
    top: 0px;
}

.logo {
    margin-left: -27px;
    width: 236px;
}

}


@media (max-width: 400px){
    .caja-logo {
    height: 51px;
    width: 264px;
    float: left;
    margin-top: -32px;
    margin-bottom: 21px;
}

.dropdown-menu {
    position: absolute;
    top: 23%;
    left: 0px;
    z-index: 999;
    display: none;
    float: left;
    min-width: 131px;
    padding: 14px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    height: 174px;
    width: 96%;
    z-index: 1030;
}

.dropdown-menu.mundo {
    position: absolute;
    top: 46%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 131px;
    padding: 14px 0px;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    height: 100px;
    width: 96%;
}

}

@media (max-width: 360px){

.caja-logo {
    position: relative;
    top: 0px;
    width: 240px;
}

.logo {
    margin-left: -27px;
    width: 236px;
}

}

@media (max-width: 320px){
    .logo {
    margin-left: -27px;
    width: 236px;
}

.caja-logo{
    width: 200px;
}

}

