{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}
{% block scripts %}
{% if is_admin %}


{% end %}
{% end %}
{% block header %}
{% include '../home/header_inside.html' %}
{% end %}



{% block javascript %}
<script type="text/javascript">
      $('.font-tag').removeClass('active');
      $('.historia').addClass("active");
</script>
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script> 
<script type="text/javascript" src="{{ site_base }}/static/js/article/detail.js"></script>
{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<section class="hla">
    <div class="">
    {% if is_admin %}
        <div class="image-upload lapiz bi visible-movil">
            <label for="img_historias">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_historias" name="image" id="img_historias" >
        </div>
        {% end %}
        <img id="{{ site.name }}_historias" src="{{ read_image(site.name + '_historias', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_historias',500) }}'" class="img_historias_banner desaturada" alt="item">
        <div class="" align="center">
            <h1 class="text_listart text-center {{editabletext}}" text-id="{{ site.name + '_text_historias' }}"> 
            {{ read_text(site.name +  '_text_historias') }}
            </h1>
        </div>
    </div>
</section>

<div class="col-md-12 col-sm-12 col-xs-12">
    <a href="{{ site_base }}/formulario">
     <div class="box-ros">
         <!-- <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> -->
         <i class="fa fa-envelope" aria-hidden="true"></i>
         <div class="texto-rer"> Reserva <br> tu evaluación <br> sin costo </div>
     </div>
 </a>
</div>

<section class="text-article-title">
        <div class="container"> 
           <div class="col-md-12 col-sm-12 box">
                <h1 class="listart1 text-center {{editabletext}}" text-id="{{ site.name + '_text_historias1' }}"> {{ read_text(site.name +  '_text_historias1') }}
                </h1>
            </div>

        </div>
</section>



<section>
    <div class="container">
        <div class="row">
            {{ getArticleList(html="content/article_01.html", tag="historia,posicion 1") }}
            {{ getArticleList(html="content/article_02.html", tag="historia,posicion 2") }}
            {{ getArticleList(html="content/article_03.html", tag="historia,posicion 3") }}
            {{ getArticleList(html="content/article_04.html", tag="historia,posicion 4") }}
            {{ getArticleList(html="content/article_01.html", tag="historia,posicion 5") }}
            {{ getArticleList(html="content/article_02.html", tag="historia,posicion 6") }}
            {{ getArticleList(html="content/article_03.html", tag="historia,posicion 7") }}
            {{ getArticleList(html="content/article_04.html", tag="historia,posicion 8") }}
            {{ getArticleList(html="content/article_01.html", tag="historia,posicion 9") }}
            {{ getArticleList(html="content/article_02.html", tag="historia,posicion 10") }}
            {{ getArticleList(html="content/article_03.html", tag="historia,posicion 11") }}
            {{ getArticleList(html="content/article_04.html", tag="historia,posicion 12") }}
            {{ getArticleList(html="content/article_01.html", tag="historia,posicion 13") }}
            {{ getArticleList(html="content/article_02.html", tag="historia,posicion 14") }}
            {{ getArticleList(html="content/article_03.html", tag="historia,posicion 15") }}
            {{ getArticleList(html="content/article_04.html", tag="historia,posicion 16") }}
            {{ getArticleList(html="content/article_01.html", tag="historia,posicion 17") }}
            {{ getArticleList(html="content/article_02.html", tag="historia,posicion 18") }}
            {{ getArticleList(html="content/article_03.html", tag="historia,posicion 19") }}
            {{ getArticleList(html="content/article_04.html", tag="historia,posicion 20") }}
        </div>
    </div>

</section>

<section class="h_third_text">
    <div class="col-md-12 col-sm-12 box margin_third">
        <h1 class="text_list_art art_titletext-center {{editabletext}}" text-id="{{ site.name + '_text_historias2' }}"> {{ read_text(site.name +  '_text_historias2') }}
        </h1>
        <hr class="hr_art">
        <h1 class="text_list_art text-center {{editabletext}}" text-id="{{ site.name + '_text_historias3' }}"> {{ read_text(site.name +  '_text_historias3') }}
        </h1>
    </div>
</section>



{% include '../home/footer.html' %}
{% end %}
