
<script type="text/template" id="product_template" class="hidden">
<div class="clearfix-dos"> </div>
  <div class="col-md-3 col-xs-12 art-hi">
        <a href="">
           <img class="img-responsive img-pro" src="{{! images[0]['thumb_500'] }}" style="max-width: 100%!important;width: 272px;height: 300px;object-fit: scale-down;margin: 0 auto;position: absolute;" onload="this.onload='';this.src='{{! images[0]['thumb_500'] }}'" title="" alt=""  onClick="style.pointerEvents='none'">
                <div class="product-image-foreground" style="background-color: #000000" >
                </div>
        </a>
    </div>   
  </div>    
</script>
