{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
 {% include '../home/header.html' %}
{% end %}


{% block javascript %}

<script  type="text/javascript" src="{{ site_base }}/static/js/app.js"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
    $(".hyper").attr("href", "http://www.cerrocastillo-english.lpe.cl/focus");
  });
</script>
{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}

<section class="container-fluid banner">
    {% if is_admin %}
        <div class="image-upload lapiz visible-movil">
            <label for="img_banner_focus">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_focus" name="image" id="img_banner_focus" >
        </div>
    {% end %}
    <img id="{{ site.name }}_banner_focus" src="{{ read_image(site.name + '_banner_focus', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_focus',) }}'" class="banner-bg" alt="item">
    <div class="banner-copy banner-copy-right">
        <div class="banner-title approach-title {{editabletext}}" text-id="{{ site.name + '_focus' }}"> {{ read_text(site.name +  '_focus') }}</div>
    </div>
</section>

<section class="container-fluid focus">
    <div class="focus-group">
        <div class="focus-item">
            <div class="text text-big text-white text-big-small focus-item-text {{editabletext}}" text-id="{{ site.name + '_focus_in_1' }}"> {{ read_text(site.name +  '_focus_in_1') }}</div>
        </div>
        <div class="focus-item">
            <div class="text text-big text-white text-big-small focus-item-text {{editabletext}}" text-id="{{ site.name + '_focus_in_2' }}"> {{ read_text(site.name +  '_focus_in_2') }}</div>
        </div>
        <div class="focus-item">
            <div class="text text-big text-white text-big-small focus-item-text {{editabletext}}" text-id="{{ site.name + '_focus_in_3' }}"> {{ read_text(site.name +  '_focus_in_3') }}</div>
        </div>
    </div>
    <div class="focus-group">
        <div class="focus-item">
            <div class="text text-big text-white text-big-small focus-item-text {{editabletext}}" text-id="{{ site.name + '_focus_in_4' }}"> {{ read_text(site.name +  '_focus_in_4') }}</div>
        </div>
        <div class="focus-item">
            <div class="text text-big text-white text-big-small focus-item-text {{editabletext}}" text-id="{{ site.name + '_focus_in_5' }}"> {{ read_text(site.name +  '_focus_in_5') }}</div>
        </div>
        <div class="focus-item">
            <div class="text text-big text-white text-big-small focus-item-text {{editabletext}}" text-id="{{ site.name + '_focus_in_6' }}"> {{ read_text(site.name +  '_focus_in_6') }}</div>
        </div>
    </div>
</section>


{% include '../home/footer.html' %}

{% end %}

