
<script type="text/template" class="product_group_template">
    <div class=" text-center change-product item" product-id="{{! id }}" style="float: left;">
        <img class=" mautomargin mini-box" src="{{! images[0][1] }}" onload="this.onload='';this.src='{{! images[0][3] }}'" />
    </div>
</script>


<script type="text/template" class="product_group" >
    <div class="lg-yellow box space20 product-group-wrapper" tag-name="{{! tag }}" tag-id="{{! id }}">
        <div class="row ">
            <div class="row "> 
                <div class="col-md-6 text-center product-center">
                    <img id="img_galeria_chocolates" src="" class="img-responsive product-image mautomargin" alt="item"/>
                    <div class="product_container carousel owl-carousel owl-theme" ></div>
                </div>
                <div class="col-md-6 box-desc">
                    <h2 class="product_name on"></h2>
                    <div class="box2">
                        <p class="product_description text ellipsis multiline"></p>
                    </div>
                    <div class="btn-box">
                        <a id="shop_online_{{! id }}" class="product_shop_online" href="">
                            <button class="btn line-button">Shop online</button>
                        </a>
                        <a id="where_to_buy_{{! id }}" class="product_where_to_buy" href="/sc/product/detail/Arriba Gold Ecuadorian Gourmet Chocolate 12 g Protein, 3.5 Ounce (Pack of 5)/1206">
                            <button class="btn line-button">Where to buy</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
