<script type="text/template" id="product_template_home" class="hidden">
<div class="col-md-4 col-sm-4 col-xs-12 ocul">
  <div class="masonry masonry-shop">
    <div class="masonry__filters text-center" data-filter-all-text="Show All"></div>
      <div class="masonry__container masonry--animate masonry--active">
        <div class="masonry__item" data-masonry-filter="Accessories">
        <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
        <div class="shop-item shop-item-1">
          <div class="shop-item__price hover--reveal">
            <span>{{! main_price|money }}</span>
          </div>
        <div class="shop-item__image">
             <img alt="" src="{{! images[0]['thumb_500'] }}" class="product-home" >
        </div>
        <div class="shop-item__title">
            <h5>{{! name }}</h5>
        </div>
      </div>
    </a>
  </div>  
</div>
</script>
