<div id="footer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container min">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="text-left fot">
        <div class="clearfix"></div>
        <ul class="no-doti">
          <div class="ul-1 {{editabletext}}" text-id="{{ site.name + '_footer_0' }}"> {{ read_text(site.name +  '_footer_0') }}
          </div>
          <div class="pas {{editabletext}}" text-id="{{ site.name + '_footer_1' }}"> {{ read_text(site.name +  '_footer_1') }}
          </div>
          <div class="pas {{editabletext}}" text-id="{{ site.name + '_footer_2' }}"> {{ read_text(site.name +  '_footer_2') }}
          </div>
          <div class="pas {{editabletext}}" text-id="{{ site.name + '_footer_3' }}"> {{ read_text(site.name +  '_footer_3') }}
          </div>
          <div class="pas {{editabletext}}" text-id="{{ site.name + '_footer_4_0' }}"> {{ read_text(site.name +  '_footer_4_0') }}
          </div>
          <div class="pas {{editabletext}}" text-id="{{ site.name + '_footer_5' }}"> {{ read_text(site.name +  '_footer_5') }}
          </div>
          <div class="pas {{editabletext}}" text-id="{{ site.name + '_footer_6' }}"> {{ read_text(site.name +  '_footer_6') }}
          </div>
          <div class="pas {{editabletext}}" text-id="{{ site.name + '_footer_66' }}"> {{ read_text(site.name +  '_footer_66') }}
          </div>
        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 visible-lg visible-md visible-sm hidden-xs">
      <div class="inform-comerc text-left">
        <div class="clearfix"></div>
        <ul class="no-dot">
          <div class="ul-2 {{editabletext}}" text-id="{{ site.name + '_footer_son' }}"> {{ read_text(site.name +  '_footer_son') }}
          </div>
          <div class="col-md-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
               <label for="img_footer_1_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_1_blue" name="image" id="img_footer_1_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_1_blue' }}" href="{{ read_link(site.name + '_footer_1_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_1_blue" src="{{ read_image(site.name + '_footer_1_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_1_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_1_blue' }}" content="{{ read_link(site.name + '_footer_1_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
           <div class="col-md-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
              <label for="img_footer_2_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_2_blue" name="image" id="img_footer_2_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_2_blue' }}" href="{{ read_link(site.name + '_footer_2_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_2_blue" src="{{ read_image(site.name + '_footer_2_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_2_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_2_blue' }}" content="{{ read_link(site.name + '_footer_2_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
           <div class="col-md-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
              <label for="img_footer_3_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_3_blue" name="image" id="img_footer_3_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_3_blue' }}" href="{{ read_link(site.name + '_footer_3_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_3_blue" src="{{ read_image(site.name + '_footer_3_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_3_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_3_blue' }}" content="{{ read_link(site.name + '_footer_3_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
           <div class="col-md-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
              <label for="img_footer_4_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_4_blue" name="image" id="img_footer_4_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_4_blue' }}" href="{{ read_link(site.name + '_footer_4_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_4_blue" src="{{ read_image(site.name + '_footer_4_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_4_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_4_blue' }}" content="{{ read_link(site.name + '_footer_4_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
           <div class="col-md-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
              <label for="img_footer_5_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_5_blue" name="image" id="img_footer_5_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_5_blue' }}" href="{{ read_link(site.name + '_footer_5_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_5_blue" src="{{ read_image(site.name + '_footer_5_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_5_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_5_blue' }}" content="{{ read_link(site.name + '_footer_5_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
      </ul>
    </div>
  </div>


  <!-- *****movil*** -->
  <div align="center">
  <div class="col-md-3 col-sm-3 col-xs-12 hidden-lg hidden-md hidden-sm visible-xs mi">
      <div class="inform-comerc text-left">
        <div class="clearfix"></div>
        <ul class="no-dot">
          <div class="ul-2 {{editabletext}}" text-id="{{ site.name + '_footer_son' }}"> {{ read_text(site.name +  '_footer_son') }}
          </div>
          <div class="col-md-2 col-xs-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
               <label for="img_footer_1_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_1_blue" name="image" id="img_footer_1_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_1_blue' }}" href="{{ read_link(site.name + '_footer_1_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_1_blue" src="{{ read_image(site.name + '_footer_1_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_1_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_1_blue' }}" content="{{ read_link(site.name + '_footer_1_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
           <div class="col-md-2 col-xs-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
              <label for="img_footer_2_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_2_blue" name="image" id="img_footer_2_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_2_blue' }}" href="{{ read_link(site.name + '_footer_2_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_2_blue" src="{{ read_image(site.name + '_footer_2_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_2_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_2_blue' }}" content="{{ read_link(site.name + '_footer_2_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
           <div class="col-md-2 col-xs-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
              <label for="img_footer_3_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_3_blue" name="image" id="img_footer_3_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_3_blue' }}" href="{{ read_link(site.name + '_footer_3_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_3_blue" src="{{ read_image(site.name + '_footer_3_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_3_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_3_blue' }}" content="{{ read_link(site.name + '_footer_3_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
           <div class="col-md-2 col-xs-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
              <label for="img_footer_4_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_4_blue" name="image" id="img_footer_4_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_4_blue' }}" href="{{ read_link(site.name + '_footer_4_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_4_blue" src="{{ read_image(site.name + '_footer_4_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_4_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_4_blue' }}" content="{{ read_link(site.name + '_footer_4_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
           <div class="col-md-2 col-xs-2">
            <div class="caja-fo-red">
             {% if is_admin %}
             <div class="image-upload fo visible-movil">
              <label for="img_footer_5_blue">
                 <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
               <input type="file" class="editableimage" image-id="{{ site.name }}_footer_5_blue" name="image" id="img_footer_5_blue" >
             </div>
             {% end %}
             <a id="{{ site.name + '_footer_5_blue' }}" href="{{ read_link(site.name + '_footer_5_blue') }}" target="_blank">

               <img id="{{ site.name }}_footer_5_blue" src="{{ read_image(site.name + '_footer_5_blue', 1) }}" onload="this.src='{{ read_image(site.name + '_footer_5_blue',200) }}'" class="img-foot-red" alt="item">
             </a>
             {% if is_admin %}
             <img class="change-image editablelink fo" link-id="{{ site.name + '_footer_5_blue' }}" content="{{ read_link(site.name + '_footer_5_blue') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
             {% end %}
           </div>
          </div>
      </ul>
    </div>
  </div>
</div>

<!-- ****fin movil**** -->

  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="inform-comerc-2 text-left">
      <div class="clearfix"></div>
      <ul class="no-dot op">
        <div class="ul-2 {{editabletext}}" text-id="{{ site.name + '_footer_ex_1' }}"> {{ read_text(site.name +  '_footer_ex_1') }}
        </div>
      </ul>
      <div class="form-group footer">
      <form action='https://forms.zohopublic.com/sytes/form/suscripcionmailplacare/formperma/j1E5JE0fa70e4G5_G_fGg6CAG/htmlRecords/submit' name='form' method='POST'>
        <label class="control-label"></label>
        <div class=" controls">
          <input name="Email" placeholder="INGRESA TU EMAIL" class="form-control fot input-lg requiredField" type="email" id="itMail" data-error-invalid="Invalid email address" data-error-empty="Ingrese email">
          <input type="hidden" name="subject" value="contactanos" />
        </div>
        <span id="helpBlock3" class="hidden help-block help-mail">INGRESA TU EMAIL</span>
        <button type="submit" class="btn btn-default sus">SUSCRIBIRSE</button>
      </div>
      </form>
    </div>
  </div>





  <div class="col-md-3 col-sm-2 col-xs-12">
    <div class=" text-left">
      <div class="clearfix"></div>
      <ul class="d-o">
        <div class="ul-2 {{editabletext}}" text-id="{{ site.name + '_footer_30' }}"> {{ read_text(site.name +  '_footer_30') }}
        </div>

        <div class="pas-4 {{editabletext}}" text-id="{{ site.name + '_footer_31' }}"> {{ read_text(site.name +  '_footer_31') }}
        </div>

        <div class="pas-4  {{editabletext}}" text-id="{{ site.name + '_footer_32' }}"> {{ read_text(site.name +  '_footer_32') }}
        </div>
        <div class="pas-4  {{editabletext}}" text-id="{{ site.name + '_footer_33' }}"> {{ read_text(site.name +  '_footer_33') }}
        </div>
        <div class="pas-4  {{editabletext}}" text-id="{{ site.name + '_footer_34' }}"> {{ read_text(site.name +  '_footer_34') }}
        </div>
        <div class="pas-4  {{editabletext}}" text-id="{{ site.name + '_footer_35' }}"> {{ read_text(site.name +  '_footer_35') }}
        </div>

      </ul>
    </div>
  </div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#9F9E9F;">
  <div class="container min">
    <div align="center">
   <div class="col-md-3 col-sm-3 article-ho">
    <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_box_footer_1">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_box_footer_1" name="image" id="img_box_footer_1">
     </div>
     {% end %}
     <a id="{{ site.name + '_box_footer_1' }}" href="{{ read_link(site.name + '_box_footer_1') }}">
      <img id="{{ site.name }}_box_footer_1" src="{{ read_image(site.name + '_box_footer_1', 1) }}" onload="this.src='{{ read_image(site.name + '_box_footer_1',) }}'" class="box-footer" alt="item">
    </a>
    <!--  <img src="https://7static.loadingplay.com/static/images/fb1025f549f4c01c2a27ff6354556f4f_Casa-de-Campo-La-Romana-221209-2.png" class="box-chic">  -->
  </div>

  {% if is_admin %}
  <img class="change-image editablelink" link-id="{{ site.name + '_box_footer_1' }}" content="{{ read_link(site.name + '_box_footer_1') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
  {% end %}

</div>

   <div class="col-md-3 col-sm-3 article-ho">
    <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_box_footer_2">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_box_footer_2" name="image" id="img_box_footer_2">
     </div>
     {% end %}
     <a id="{{ site.name + '_box_footer_2' }}" href="{{ read_link(site.name + '_box_footer_2') }}">
      <img id="{{ site.name }}_box_footer_2" src="{{ read_image(site.name + '_box_footer_2', 1) }}" onload="this.src='{{ read_image(site.name + '_box_footer_2',) }}'" class="box-footer" alt="item">
    </a>
    <!--  <img src="https://7static.loadingplay.com/static/images/fb1025f549f4c01c2a27ff6354556f4f_Casa-de-Campo-La-Romana-221209-2.png" class="box-chic">  -->
  </div>

  {% if is_admin %}
  <img class="change-image editablelink" link-id="{{ site.name + '_box_footer_2' }}" content="{{ read_link(site.name + '_box_footer_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
  {% end %}

</div>

   <div class="col-md-3 col-sm-3 article-ho">
    <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_box_footer_3">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_box_footer_3" name="image" id="img_box_footer_3">
     </div>
     {% end %}
     <a id="{{ site.name + '_box_footer_3' }}" href="{{ read_link(site.name + '_box_footer_3') }}">
      <img id="{{ site.name }}_box_footer_3" src="{{ read_image(site.name + '_box_footer_3', 1) }}" onload="this.src='{{ read_image(site.name + '_box_footer_3',) }}'" class="box-footer" alt="item">

    </a>
    <!--  <img src="https://7static.loadingplay.com/static/images/fb1025f549f4c01c2a27ff6354556f4f_Casa-de-Campo-La-Romana-221209-2.png" class="box-chic">  -->
  </div>

  {% if is_admin %}
  <img class="change-image editablelink" link-id="{{ site.name + '_box_footer_3' }}" content="{{ read_link(site.name + '_box_footer_3') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
  {% end %}

</div>

   <div class="col-md-3 col-sm-3 article-ho">
    <div style="position:relative;">
      {% if is_admin %}
      <div class="image-upload lapiz visible-movil">
       <label for="img_box_footer_4">
         <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
       </label>
       <input type="file" class="editableimage" image-id="{{ site.name }}_box_footer_4" name="image" id="img_box_footer_4">
     </div>
     {% end %}
     <a id="{{ site.name + '_box_footer_4' }}" href="{{ read_link(site.name + '_box_footer_4') }}">
      <img id="{{ site.name }}_box_footer_4" src="{{ read_image(site.name + '_box_footer_4', 1) }}" onload="this.src='{{ read_image(site.name + '_box_footer_4',) }}'" class="box-footer" alt="item">
    </a>
    <!--  <img src="https://7static.loadingplay.com/static/images/fb1025f549f4c01c2a27ff6354556f4f_Casa-de-Campo-La-Romana-221209-2.png" class="box-chic">  -->
  </div>

  {% if is_admin %}
  <img class="change-image editablelink" link-id="{{ site.name + '_box_footer_4' }}" content="{{ read_link(site.name + '_box_footer_4') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
  {% end %}
</div>
<div class="col-md-10 col-sm-10 col-xs-10">
  <div class="text-center firma">Sytes tech. Developed by Loadingplay.</div>
</div>
<div class="col-md-2 col-sm-2 col-xs-12">
<p class="pas-4">

<a href="/placare/auth/logout" class="a-footer">
Logout</a>

</p>
</div>
</div>
</div>
</div>
