<hr class="linea-prefooter">
<div class="pre-footer">
	<div class="col-md-12 col-sm-12 col-xs-12 alme">
		<div class="col-md-2 col-sm-2 col-xs-12">
			<div class="kop {{editabletext}}" text-id="{{ site.name + '_pre_footer_ex_111' }}"> {{ read_text(site.name +  '_pre_footer_ex_111') }} </div>
		</div>

		<div class="col-md-10 col-sm-10 col-xs-12 linea-pre-footer">
			<hr class="new-f">
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12 alme pre-footer-text">
			<div class="bre {{editabletext}}" text-id="{{ site.name + '_pre_footer_ber' }}"> {{ read_text(site.name +  '_pre_footer_ber') }} </div>
		</div>
	</div>
</div>