/*==========       BASIC CLASSES     ==========*/

/* ========================================= */
/* =============SPACE CLASSES============== */
/* ========================================= */
.cuadro-form{
    height: 124px;
    padding: 0px 0px 70px 10px;
}

.text-1{
    font-size: 28px;
    float: left;
    position: relative;
    left: -10px;
    margin-top: -13px;
    font-weight: 200;
    margin-bottom: 12px;
    width: 100%;
}

.texto-uno{
    position: relative;
    bottom: -20px;
    float: left;
    font-size: 35px;
    left: 128px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-weight: 300;
}

.texto-dos{
    position: relative;
    bottom: -20px;
    float: left;
    font-size: 12px;
    left: 128px;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-weight: 400;
}


.img-fondo{
    width:100%;
    height: 700px;
    object-fit: cover;
}

.content {
    padding:25px 23px 37px 21px;
}

.tab-pro{
      padding: 0px 5px 25px 20px;
}

.space5{
    margin-top: 5px;
}
.space10{
    margin-top: 10px;
}
.space15{
    margin-top: 15px;
}
.space20{
    margin-top: 20px !important; 
}
.space25{
    margin-top: 25px;
}
.space30{
    margin-top: 30px;
}
.space40{
    margin-top: 40px;
}
.space50{
    margin-top: 50px;
}
.space60{
    margin-top: 60px;
}
.space70{
    margin-top: 70px;
}
.space80{
    margin-top: 80px;
}
.space100{
    margin-top: 100px;
}

.fsize20 {
    font-size: 20px !important;
}
/* ========================================= */
/* =============PADDING CLASSES============== */
/* ========================================= */
.pad0{
    padding: 0px !important;
}
.pad-left
{
    padding-left: 0px;
}
.pad-right
{
    padding-right: 0px;
}
.pad15{
    padding-right: 15px !important;
    padding-left: 15px !important;
}

/* ========================================= */
/* =============MARGIN CLASSES============== */
/* ========================================= */
.mbtm0{
    margin-bottom: 0px !important;
}.
.mtop0{
    margin-top:0px;
}
.mtop10{
    margin-top:10px;
}
.mbtm10{
    margin-bottom:10px;
}
.mleft10{
    margin-left:10px;
}
.mright10{
    margin-right:10px;
}
.nomargin
{
    margin: 0px !important;
}
.mauto img{
    margin: 0px auto !important;
    width: 100%  !important;
}
.mautomargin{
    margin: 0px auto !important;
}

.disable{
    opacity: 0.3;
}

.fsize12{
    font-size: 12px !important;
}

.text-site-name{
    position: relative;
    bottom: 6px;
    /*text-transform: uppercase;*/
}

.horizontal-mirror{
    -moz-transform: scaleX(-1); /* Firefox */
    -o-transform: scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Chrome y Safari */
    transform: scaleX(-1); /* w3org */
    filter: FlipH; /* Internet Explorer */
}
/*----cargar imagenes productos----*/

.imgup>ul>li>.img-container>.imgup-image{
    max-width: 125%;
    left: -11px;
    height: 100%;
    object-fit: cover;
    width: 125% !important;
}

/*---fin cargar imagenes producto---*/


.button1{
    position: relative;
    left: 106px;
}

.orange{
    background-color:#FE9A2E;
    border-color: #FE9A2E;
    color: #FFFFFF;
}

td{
    padding: 9px;
}

.doss{
    position: absolute;
    top: 361px;
    background: #F2F2F2;
    border: solid 1px #A4A4A4;
    margin-bottom: 12px;
    height: 46px;
}

.dos{
    position: absolute;
    background: #F2F2F2;
    border: solid 1px #A4A4A4;
}

.version{
    margin-left: -27px;
    margin-top: 29px;
}


.version-text{
   margin-left: -47px;
    margin-top: 29px;
}

.version-dos{
    width: 105%;
    margin-left: -20px;
}

.version-tres{
    width: 110%;
    margin-left: -44px;
}
.tab{
    margin-top: 29px;
     margin-left: -70px;
}

.lin{
    border: 0px solid #e4e5e7 !important; 
    left: 2px;
}
.two-table{
    width: 116%;
    margin-left: -69px;
}

.uno{
    margin-left: 72px;
    position: relative;
    top: -18px;
}

.acc{
    margin-left: -87px;
}

.ulti{
    width: 119%;
    margin-left: -85px;
}

.pos{
    font-size: 50px;
}

.usu{
    margin-left: 50px;
    margin-top: -36px;
}

.usuu{
    margin-left: 50px;
    margin-top: -30px;
}

.poss{
    font-size: 50px;
    top: 12px;
    position: relative;
}


.bus{
    width: 27%;
    position: relative;
    float: right;
    top: -53px;
}


.bus5{
    width: 27%;
    position: relative;
    float: right;
    top: -23px;
}


.bus7{
    width: 27%;
    position: relative;
    float: right;
    top: -53px;
}


.bus8{
    width: 27%;
    position: relative;
    float: right;
    top: -53px;
}
.bus9{
    width: 27%;
    position: relative;
    float: right;
    top: -53px;
}

.obj{
    float: right;
    position: relative;
    top: -49px;
    font-size: 24px;
    right: 6px;
}

.obj7{
    float: right;
    position: relative;
    top: -49px;
    font-size: 24px;
    right: 6px;
}

.obj8{
    float: right;
    position: relative;
    top: -49px;
    font-size: 24px;
    right: 6px;
}

.obj9{
    float: right;
    position: relative;
    top: -49px;
    font-size: 24px;
    right: 6px;
}

.obj2{
    float: right;
    position: relative;
    top: -49px;
    font-size: 24px;
    right: 6px;
}

.obj5{
    float: right;
    position: relative;
    top: -21px;
    font-size: 24px;
    right: 6px;
}

.tree-table{
    width: 110%;
    margin-left: -48px;
}

.det{
    margin-top: 29px;
    margin-left: -51px;
}

.mas{
    float: right;
    font-size: 25px;
    position: relative;
    top: -5px;
    left: 106px;

}

.mas1{
    float: right;
    font-size: 25px;
    position: relative;
    top: -32px;
    right: -101px;
}

.mas3{
    float: right;
    font-size: 25px;
    position: relative;
    top: -4px;
    left: 104px;

}

.text{
    float: right;
    position: relative;
    right: 52px;
    top: -29px;
}

.text2{
    float: right;
    position: relative;
    top: 0px;
    left: -57px;
}

.text5{
    float: right;
    position: relative;
    right: 65px;
    top: -29px;
}
.text3{
    float: right;
    position: relative;
    left: -58px;;
    top: 0px;
}

.text4{
    float: right;
    position: relative;
    right: 65px;
    top: -29px;
}

.cre{
   font-size: 61px;
    top: -40px;
    position: relative;
    left: 48px;
}

.excel{
   width: 61px;
   position: relative;
   top: -40px;
   left: 48px;
}

.doc{
  width: 61px;
  position:relative;
  top: -40px;
  left: 48px;
}

.nivel{
    margin-top: 96px;
    margin-bottom: -68px;
}

.sp{
    padding: 86px 18px;
}

.light{
    margin-top: -23px;
    text-align: center;
}

.igual{
    text-align: center;
}
.edi-pro{
    position: relative;
    top: 75px;
    font-size: 40px;
    left: 53px;
}

.agre{
     position: relative;
    top: 76px;
    text-align: center;
    left: 11px;
}

.tope{
    margin-left: -122px;
    width: 131%;
}

.just{
    margin-left: -128px;
    margin-top: -84px;
}

.espacio{
    margin-top: -10px;
}

.bab{
   margin-left: -71px;
    margin-top: 39px;
}

.bob{
    margin-left: -65px;
    width: 115%;
}

.only{
    margin-bottom: 23px;
    position: relative;
    left: 128px;
}

.produ{
    width: 61px;
    position: relative;
    top: -30px;
    left: 227px;
}


.spp{
   padding: 57px 18px;
}


/*---tabla sin diseÃ±o---*/

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr.no:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background:white; 
  color: black; 
  font-weight: bold; 
}
td.si, th { 
  padding: 14px; 
 /* border: 1px solid #ccc; */
  text-align: left; 
}

.tres{
    bottom: -41px;
    position: absolute;
    background: #F2F2F2;
    border: solid 1px #A4A4A4;
}

.version-cinco{
    margin-left: -67px;
    width: 116%;
}

.version-seis{
    margin-left: -67px;
    width: 116%;
}
.version-g{
    margin-left: -70px;
    margin-top: 32px;
}
.version-h{
    margin-left: -70px;
    margin-top: 32px;
}

.ora{
    border:solid 1px orange;
    color: orange;
}

.ora-selected{
    background-color: orange !important;
    /*color: white !important;*/
}

.azu{
    background-color: #0080FF;
    color: white;
}

.blue{
    color: #0080FF;
    border:solid 1px #0080FF;
}

.blue-selected{
    background-color: #0080FF;
    /*color: white;*/
}

.vio{
    color: #7401DF;
    border:solid 1px #7401DF;
}

.red{
    color: #d9534f;
    border:solid 1px #d9534f;
}

.red-selected{
    background-color: #d9534f;
    /*color: white;*/
}

.light-blue{
    color:#5bc0de;
    border:solid 1px #5bc0de;
}

.light-blue-selected{
    background-color: #5bc0de;
    /*color: white;*/
}


.gre{
    color: green;
    border:solid 1px green;
}

.gre-selected{
    background-color: green;
    /*color: white;*/
}

.bla{
    color: black;
    border:solid 1px black;
}

.bla:hover{
    background-color: #34495e;
    color: white;
}

.sep{
   padding: 45px 17px;
}

.sep2{
   padding: 45px 3px;
}
.ico{
    position: relative;
    font-size: 22px;
    left: 41px;
    padding-left: 0px;
}

.ico2{
    /*position: relative;*/
    font-size: 32px;
/*    left: 44px;
    padding-left: 0px;*/
}

.not-border{
    border-color: transparent;
}
.io{
    position: relative;
    font-size: 32px;
    left: 39px;
    padding-left: 0px;
}

.if{
    position: relative;
    top: 54px;
    font-size: 23px;
    margin-bottom: 100px;
    /*left: -86px;*/

}

.if2{
    position: relative;
    top: 54px;
    font-size: 23px;
    margin-bottom: 100px;
    left: 27px;
    width: 80%;

}

.inv{
    position: relative;
    left: -7px;
    text-align: center;
}

.inv1{
    position: relative;
    left: 35px;
}


.inv2{
    position: relative;
    left: 0px;
    text-align: -webkit-center;
}

.invv{
     left: 1px;
    text-align: center;

}
.invvv{
    position: relative;
    left: -1px;
    text-align: -webkit-center;
    padding: 4px;
}

.do{
    left: 43px;
}

.du{
    left: 48px;
}

.envoltorio{
   width: 121px;
    position: relative;
    /*left: 71px;*/
    height: 40px;
    top: 32px;
}

.envoltorio2{
    width: 172px;
    position: relative;
    top: 9px;
    padding-top: 2px;
    right: 22px;
    display: table;
}

.envoltorio3{
    width: 121px;
    position: relative;
    float: right;
    right: 31px;
    top: 11px;
}

/*.envoltorio4{
    width: 121px;
    position: relative;
     left: 71px; 
    height: 100px;
    top: 21px;
    padding-top: 13px;
}
*/
.mp{
    margin-left: -73px;
}
.apart{
    position: relative;
    margin-top: 43px;
}

.go{
    font-size: 33px;
    position: relative;
    top: -11px;
    left: 0px;
    font-weight: 700;
}

.btn-circle{
    overflow: hidden;
}

.peque{
    width: 6%;
    /* margin-left: -78px; */
    height: 29px;
    position: relative;
    top: -4px;
    left: 5px;
}

.peque7{
    width: 6%;
    /* margin-left: -78px; */
    height: 29px;
    position: relative;
    top: -4px;
    left: 5px;
}

.peque2 {
    width: 6%;
    margin-left: -78px;
    height: 29px;
    position: relative;
    top: 8px;
}

.peque3{
    width: 6%;
    margin-left: -90px;
    height: 29px;
    position: relative;
    top: 8px;
}


.peque5{
    width: 12%;
    height: 29px;
    position: absolute;
    top: 15px;
    left: -15px;

}


.peque4{
    width: 6%;
    margin-left: -78px;
    height: 29px;
    position: relative;
    top: 8px;
}

.peque6{
    width: 6%;
    height: 29px;
    position: relative;
    top: 10px;
    left: -77px;
}

.peque8{
    width: 6%;
    margin-left: -91px;
    height: 29px;
    position: relative;
    top: 15px;

}

.peque9{
    width: 6%;
    margin-left: -80px;
    height: 29px;
    position: relative;
    top: 8px;

}
.res4{
    position: relative;
    top: -33px;
    left: 158px;
}

.res6{
    position: relative;
    top: -29px; 
    left: 158px;
}

.res5{
    position: relative;
    top: 4px;
    left: 59px;
}

.res{
    position: relative;
    /* top: -52px; */
    left: 9px;
}


.res7{
    position: relative;
    /* top: -52px; */
    left: 9px;
}

.res2 , .res3{
    position: relative;
    top: -33px;
    left: 158px;
}

.res8{
    position: relative;
    top: -25px;
    left: 158px
}

.res9{
    position: relative;
    top: -33px;
    left: 158px
}
.desk{
   position: relative;
   top: -12px;
}

.es{
    margin-top: 20px;
}

.es2{
    margin-top: -1px;
}

.ess{
    margin-top: 12px;
}

.es5{
    margin-top: 19px;
}

.es6{
    margin-top: 22px;
}

.mos{
    margin-top: 12px;
}
.lib{
    width: 61%;
    margin-left: -7px;
    height: 29px;
}


.ha{
    top: 6px;
    font-size: 19px;
}

.he{
    left: 20px;
    top: -15px;
    font-size: 19px;
}

.ha2{
    top: 6px;
    position: relative;
    font-size: 19px;
}

.he2{
    left: 25px;
    top: 6px;
    position: relative;
    font-size: 19px;
}

.tam{
    width: 24%;
    position: relative;
    left: 3px;
    top: -14px;
}

.tami{
    width: 24%;
    top: -2px;
    position: relative;
    left: 0px;
}

.tami2{
    width: 24%;
    left: 20px;
    /*top: -18px;*/
    position: relative;
}


.tamm{
    width: 24%;
}

.normalheader{
    padding: 0px 0px 0px 0px;
}

.hpanel .panel-body{
    padding-bottom: 1px !important;
}

.hbreadcrumb{
    position: relative;
    top: -19px;
    font-size: 14px;
}

.es3{
    margin-top: 0px;
}

.es4{
    margin-top: -9px;
}

.space10 {
    height: 10px;
}

.space40 {
    height: 40px;
}

.pagi{
    position: relative;
    left: -137px;
}

.separ{
    margin-top: 21px;
}

.m-t-xl{
    padding-bottom: 15px;
}

.fil{
    min-height: 363px;
}

.lod{
    margin-top: 18px;
}

/*--"panelbodyventaloading"--*/
.vent{
    height: 500px;
}

.gif{
    position: relative;
    left: 299px;
    width: 10%;
    top: 90px;
}

.spa{
    top: 60px;
}

.cob{
    color: #515150;
    font-size: 20px;
    font-style: normal;
    top: -2px;
    position: relative;
    font-weight: 100;
    left: -86px;

}

.cob2{
    color: #fff;
    font-size: 26px;
}

.cob2-2{
    color: #fff;
    font-size: 26px;
}

.cob3{
   color: #fff;
    font-size: 19px;
    font-style: normal;
    top: -5px;
    position: relative;
    font-weight: 100;
}

.ray{
      position: relative;
    left: -20px;
    font-size: 26px;
    top: 3px;
}

.ter{
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    width: 69%;
    top: 183px;
}

.echar{
    background-color:#62CB31  !important;
    color: white !important;
    font-size: 19px;
    font-weight: 400;
}

.abier{
    background-color: #e3e5e3 !important;
    height: 44px;
    font-size: 18px;
}

.images{
    width: 95px;
    padding-top: 8px;
    top: -12px;
    position: relative;
}

.infor{
    position: relative;
    top: -1px;
    font-size: 12px;
    width: 100px;
}

.infor2{
    position: relative;
    top: 11px;
    font-size: 12px;
    width: 100px;
}

.infor3{
    position: relative;
    top: 33px;
    font-size: 12px;
    width: 100px;
}
.maxi{
    height: 400px;
    background: #F2F2F2 !important;
    overflow-y: auto; 
    overflow-x: hidden;
}

.maxi.accordion-panel{
    background: #fff !important;
}

.title{
    position: relative;
    top: -15px;
    font-weight: bold;
    background: #e4e5e7;
}

.titlee{
    position: relative !important;
    top: -15px;
    font-weight: bold;
}

.name{
    position: relative !important;
    top: -15px;
    font-weight: bold;
}

.name2{
    position: relative !important;
    top: -15px;
    font-weight: bold;
}
.name3{
    position: relative !important;
    top: -15px;
    font-weight: bold;
}

.sam{
    border-bottom: solid 1px black;
    position: relative;
    width: 203px;
    padding-top: 3px;
    padding-bottom: 14px;
    padding-left: 9px;
    margin-left: -20px;

}

.sam2{
    border-bottom: solid 1px black;
    position: relative;
    width: 341px;
    padding-top: 3px;
    padding-bottom: 14px;
    padding-left: 9px;
    margin-left: -20px;

}

.uni{
   position: absolute;
   top: 28px;
}

.uni2{
 top: 88px;
 position: absolute;
}

.uni3{
  top: 151px;
  position: absolute;
}


.moree{
    left: 150px;
    position: absolute;
    font-size: 26px;
}

.tick{
    font-size: 97px;
}

.check{
    text-align:center;
    top: 104px;
}

.anch{
    width: 200px;
    background-color:#2E2E2E;
    height: 39px;
    font-size: 17px;

}

.cuad{
    background-color: #F2F2F2;
    border-radius: 0px;
    border: solid 1px #000000 !important;
    width: 201px;
}

.ter:hover{
     color: white;
}

.ray:hover{
   color: white;
}

.rayo:hover{
    background-color: #62CB31 !important;
}

.inter{
    position: relative;
    left: -16px;
    margin-bottom: -31px;
}
.dele2{
    text-align: center;
    vertical-align: middle;
}

.ins{
    position: absolute;
    top: 40px;
    left: 97px;
}


.unic {
    border-collapse: collapse;
    width: 114%;
    left: -20px;
    position: relative;

}

.unic1 , .unic2 {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.select-client .unic2:hover, .select-canal .unic2:hover  {
    cursor: pointer;
    background-color: #e4e5e7;
}

.selected-item{
    background-color: #e4e5e7;
}

.grand{
    font-size: 22px;
    color: #515150;
    cursor: pointer;
}

.but{
    border-color: #3498db !important;
    border-radius: 6px;
    position: relative;
    left: 157px;
    width: 45%;
    padding: 6px;
    font-size: 12px;
}

.cambi{
    width: 66%;
    position: relative;
    left: 129px;
}
.cuart{
    width: 47%;
}


.flech{
    position: relative;
    top: 5px;
    left: 18px;
    font-size: 35px;
    z-index: 1;

}
.vuel{
    left: -15px;
    top: 20px;
    position: relative;
}


.carrito{
    float: right !important;
    position: fixed;
    right: 1px;
    z-index: 1030;
}

.dele{
    height: 45px !important;
}

.dele:hover{
    cursor: pointer;
    /*background-color: #CFCFCF;*/
}

.dooo{
    left: 50px;
}

.doooo{
    left: 42px;
    bottom: -4px;
}

.empty-cart .fa-trash-o{
    font-size: 200%;
    padding: 3px;
}

#discount, #discount-price{
    padding: 6px;
}

.empty-cart .fa-trash-o:hover{
    -webkit-filter:contrast(10);
    -moz-filter:contrast(10);
    -ms-filter:contrast(10);
    -o-filter:contrast(10);
}

/*.empty-cart .font-icon-detail{
    border: 1px solid #e4e5e7;
}*/

/*     fin venta    */

#side-menu li.active.inicio a, #side-menu li.inicio a:hover {
    background-color : #34495e!important;
    color: #fff;
}
#side-menu li.active.clientes a, #side-menu li.clientes a:hover {
    background-color : #9b59b6!important;
    color: #fff;
}
#side-menu li.active.vender a, #side-menu li.vender a:hover {
    background-color : #3498db!important;
    color: #fff;
}
#side-menu li.active.productos a, #side-menu li.productos a:hover {
    background-color : #62cb31!important;
    color: #fff;
}
#side-menu li.active.inventario a, #side-menu li.inventario a:hover {
    background-color : #ffb606!important;
    color: #fff;
}
#side-menu li.active.pedidos a, #side-menu li.pedidos a:hover {
    background-color : #e67e22!important;
    color: #fff;
}
#side-menu li.active.configuracion a, #side-menu li.configuracion a:hover {
    background-color : #e74c3c!important;
    color: #fff;
}
#side-menu li.active.salir a, #side-menu li.salir a:hover {
    background-color : #c0392b!important;
   color: #fff;
}


/*ul.menu > li > a:active:before {
    background-color: blue;
}
*/

/*lia no se de donde era el hover que querias cambiar pero tienes que apregar una clase para hacer eso o se cambian todos los link a blanco*/
/*li:hover a {
    color: #fff !important;
}*/

li.dropdown:hover a{
    color: #6a6c6f !important;
}

#side-menu li.productos a:hover{
    background: #62cb31;
}

#side-menu li.inventario a:hover{
    background: #ffb606;
}
#side-menu li.pedidos a:hover{
    background: #e67e22;
}

#side-menu{
    background: rgba(255, 255, 255, 0.51);
    height: 550px;
}

/*.nav-label:hover{
    color: #fff;
}*/

#side-menu li a{
    padding: 0px 0px !important;
    width: 0%;
}

#side-menu li{
    height: 48px;
    padding: 13px;

}

nav >li>a{
    left: 12px;
    padding: 0px 0px;

}

.arrow{
/*    position: relative;
    left: 150px;
    bottom: 22px;*/
    padding: 5px;
}

.woo{
    left: 36px;
    padding: 5px;
    bottom: 23px;
}

.woo2{
    left: 35px;
    padding: 5px;
    bottom: 4px;
}

.jo{
    width: 73% !important;
    bottom: 2px;
}

.fixx{
    margin-top: 300px;
}

.n{
    font-weight: 100;
}
/*---ventas cuadrito verde---*/
.m-detail{
    width: 126%;
    position: relative;
    right: 35px;
}

.thab{
    bottom: -28px;
    position: relative;
    left: 20px;
    width: 97%;
}

.chee{
    top: 28px;
    position: relative;
}

.chep{
    top: 0px;
    position: relative;
}

 #cellar_detail_wrapper .DTTT_container{
       float: none ;
       left: 840px;
       position: relative;

}


.m-cli{
    top: 20px;
    position: relative;
    left: 43px;
}

.m-clii{
    top: 20px;
    position: relative;
    left: 7px;
}

.m-cliii{
    top: 20px;
    position: relative;
    left: 26px;
}

.m-inv{
    width: 68%;
    text-align: center;
}

.cheeei{
  position: relative;
  top: 0px;
}

.accordion-panel {
/*        max-height: 300px; 
        overflow-y:auto;*/
        padding: 20px;
    }
/*----sales module-----

    .accordion-table td{
        border-top: none !important;
        border-bottom: 1px solid #ddd !important;
    }

    .accordion-panel {
        max-height: 300px; 
        overflow-y:auto;
        padding: 20px;
    }

    #accordion .panel-body{
        padding-bottom: 10px !important;
    }

    #accordion .ter {
        top: initial; 
    }

    #massive_in_out_movil{
        top:0px;
        position: relative;
        margin-bottom: 30px;

    }
/*---- end sales module-----*/

/*------- order ------------*/


/*------- end order ------------*/

#cellar_detail_wrapper .dataTables_filter{
    margin-top: -35px;
     position: relative;
    left: -48px;

}

  #productos_wrapper label{
    font-weight: 400;
  }
  
i.disabled {
    opacity: 0.3;
}

/*  #table-cellar_wrapper .dataTables_filter{
       position: relative;
       left: 102px;
    }
*/



/*------footable---------*/
.responsiveExpander{
    padding: 5px 10px !important;
}

/*------end footable---------*/

/*--------header-------------*/
.small-logo{
    padding-top: 11px !important;
    font-size: 22px !important;
    font-weight: 300 !important;
}

/*--------end header-------------*/

.btn-ready{
    padding: 3px 5px !important;
    font-size: 10px;
    font-weight: bold; 
}

.quantityStepper {
    display: block;
    float: right;
    border: 1px solid #888b90;
    border-radius: 5px;
    overflow: hidden;
}

/*.quantityStepper button {
    border-radius: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
}
*/
.quantityStepper .decrease {
    border-right: 1px solid #888b90;
}

.quantityStepper>* {
    display: block;
    position: relative;
    float: left;
    width: 32px;
    height: 24px;
    background-color: transparent;
    line-height: 26px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.quantityStepper button {
    /*background: #fff;*/
    border: 0;
    font-size: 33px;
    font-weight: 100;
}

/*linea vertical para mas en boton agregar*/
.quantityStepper .increase:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/*linea horizontal para boton agregar y quitar*/
.quantityStepper .decrease:after, .quantityStepper .increase:after, .quantityStepper .increase:before {
    content: "";
    display: block;
    width: 14px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -7px;
    background-color: #888b90;
}

.btn-quantity{
    padding: 3px 10px !important;
}

.volver{
    position: relative;
    left: -40px;
}

.td-movil{
    padding-top: 20px !important;
    width: 105px;
}

/*.btn-data .btn{
    margin: auto;
}*/

.btn-data div{
    position: relative;
    height: 80px;
    margin-top: 50px;
}

#side-menu a li{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#side-menu li.active {
    color: #fff;
}

#all_cellar{
    margin-top: 25px;
}

table#table-cellar.dataTable thead .sorting_asc:after {
    content: "";
}

.circle-next{
    width: 25px !important;
    height: 25px !important;
}

.type-mov{
    position: relative;
    left: -30px;
    top: 14px;
    font-weight: bold;
}

.summary_in_out_container{
    margin-bottom: 60px;
}

#formSendPDF .control-label{
    padding-top: 0px; 
}

.summary_in_out_container {
    margin-top: 30px;
    margin-bottom: 110px;
}

.detail-mov{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.td-image{
    /*padding: 0px !important;*/
    width: 60px;
    /*height: 60px;*/
}

.adjust-image{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

/*report moves*/

.td-date{
    width: 80px;
}


/*botones copiar tablas*/
a.DTTT_button{
    color: #34495e !important;
    border: 1px solid #34495e !important;
    background: #fff !important;
    -webkit-box-shadow: none;
    transition: all .5s;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}

a.DTTT_button:hover{
    color: #fff !important;
    border: 1px solid #34495e !important;
    background: #34495e !important;
    -webkit-box-shadow: none;
    transition: all .5s;
}

.space-xs{
    margin-top: 80px;
}

.btn-primary.btn-outline.not-border:hover {
    border-color: #34495e !important;
    background-color: transparent !important;
    color: #34495e !important;
}

.btn-primary.btn-outline.not-border.disabled{
    background-color: transparent !important; 
    border-color: transparent !important; 
}

/* fin botones copiar tablas*/


/*btn file */

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*primera letra mayuscula en radio*/
.radio label{
    text-transform: lowercase;
}

.radio label:first-letter {
    text-transform: uppercase;
}
/*fin primera letra mayuscula en radio*/


/*---responsive movil---*/

/*---ipad----*/

@media (max-width: 1199px){
    .form-control {
    border-color: #e4e5e7 !important;
    position: relative;
    float: left;
    left: 73px;
}

}

@media (max-width: 991px){
    .texto-uno {
    left: 0px;
    }  

}

@media (min-width: 768px) and (max-width: 785px){
       .mp {
    margin-left: -10px;
    }

}

@media(min-width: 768px) and (max-width: 991px){
    .apart{
        top: 26px;
    }
    
/*    .envoltorio4{
        width: 86px;
    }*/
    
/*    .ico2{
        left: 26px;
    }*/
    
    .inv1{
      left: 21px;
    }

    .invvv{
        padding: 0px;
        top: -3px;
    }
    
    .invv{
        left: -2px;
    }
    

}

@media(min-width: 701px) and (max-width: 1085px){
    .text2{
        top: -34px !important;
    }
    
    .mas{
        top: -38px !important;
    }
}


@media(min-width: 701px) and (max-width: 900px){
    #cellar_detail_wrapper .DTTT_container{
        left: 393px !important;
    }
}



@media(min-width: 701px) and (max-width: 785px){
    .if{
        left: -7px;
    }

}


/*---fin ipad---*/

@media (max-width: 1085px){
    #table-cellar_wrapper .dataTables_filter{
        left: -2px;
    }
    
    #cellar_detail_wrapper .DTTT_container{
          left: 556px;
    }


}

@media (max-width: 989px){
    .mp {
    margin-left: -8px;
}

}

@media screen and (max-width: 700px){
    .cheeei{
        right: 1px !important;
        margin-top: 0px !important; 
    }
    
/*    .orders{
       left: -19px;
       width: 110%;
    }*/
    .maxi{
        max-height: 400px;
        height: auto;
    }
    
    .m-cli{
        text-align: center;
        left: 0px;
    }

    .m-inv{
        top: -16px;
        width: auto;
    }

    .thab{
        margin-left: -32px;
    }

   /* .modal-content{
        width: 297px;
    }*/

    .fixx{
        margin-top: 93px;
    }

    #cellar_detail_wrapper .DTTT_container{
        left: 0px;
    }

    .pe-7s-filter{
        position: relative;
        /*top: 5px;*/
    }

    #productos_wrapper .dataTables_length{
        position: relative;
        right: 14px;
        width: 86%;
    }
    
    #productos_wrapper label{
       display: -webkit-box !important;
    }

    #productos_wrapper .input-sm{
        width: 90%;
    }

    
     #productos_wrapper .dataTables_filter{
        position: relative;
        right: -26px;
     }

    #pedidos_wrapper .dataTables_length {
         position: relative;
         right: 20px;
    }

    #pedidos_wrapper .dataTables_filter {
        position: relative;
        right: 12px;
    }

    #table-cellar_wrapper .dataTables_length{
       position: relative;
       right: 30px;
    }

    #table-cellar_wrapper .dataTables_filter{
       position: relative;
       left: -21px;
    }

    #clientes_wrapper .dataTables_length{
        position: relative;
       right: 31px;
    }
    
    #clientes_wrapper .dataTables_filter{
        position: relative;
        right: 23px;
    }
    
    #cellar_detail_wrapper .dataTables_filter{
        margin-top: 12px;
        left: -15px;
        position: relative;
    }
     
    #cellar_detail_wrapper  .dataTables_length{
        right: 24px;
       position: relative;
    }


    .chep{
        right: 1px;
    }
    .ech{
        margin-top: -45px;
    }

    .coo{
        top: 22px;
        left: -28px;
    }

/*    .prr{
        position: relative;
        left: -17px;
        width: 121%;
    }*/

/*    .tab-content{
        position:relative;
        right: 16px;
    }*/

    .tab-pro{
        padding: 0px;
    }

    .mp{ 
        margin-left: -11px;
        /*width: 110% !important;*/
        height: 74px;
    }

    .text2{
        left: -27px;
        top: -119px;
    }
      
    .mas{
      top: -123px;
      left: 136px;
    }
      
    .cre{
        left:104px;
        position: relative;
        top: 1px;
    }

    .excel{
        left: 101px;
        position: relative;
        margin-top: 11px;
       top: -2px;
    }
      
    .doc{
        left: 101px;
        position: relative;
        top: 0px;
        margin-top: 6px;
    }

    .cel{
        position: relative;
        top: -17px;
    }

    .cel1{
       position: relative;
       top: 35px;
    }

    .cel2{
      position: relative;
      top: 70px;
    }

    .nivel{
        margin-top: 61px;
    }

    .if{
        left: 0px;
        top: 6px;
        margin-bottom: 61px;
    }

    .inv {
        position: relative;
        left: 1px;
        top: 5px
    }

    .inv1{
        /*left: 14px;*/
        font-size: 17px;
        top: -23px;
        text-align: initial;
    }

    .inv2{
        position: relative;
        left: 56px;
        top: -27px;
        font-size: 17px;
        width: 190%;
        text-align: initial;
    }

    .ico{
        top: 7px;
    }

/*    .ico2{
        top: 7px;
        left: 16px;
        font-size: 36px;
    }
*/
    .mas1{
        /*top: -75px;*/
        right: -89px;
    }

    .text{
        right: 61px;
        /*top: -73px;*/
    }

    .mas3{
        top: 50px;
        left: -35px;
        z-index: 1;
    }

    .text3{
       /* left: 119px;*/
        top: -47px;

    }

    .produ{
        left: 114px;
        top: 20px;
    }

    .only{
        left: 8px;
        padding: 5px;
        margin-bottom: 37px;
    }

    .bus{
        top: -94px;
        width: 84%;
        left: -2px;
    }

    .obj{
        right: 18px;
        top: -92px;
    }

    .obj2{
        right: 20px;
        top: -93px;
    }

    .ipho{
        width: 73%;
        text-align: center;
        left: 35px;
        position: relative;
    }
    .ora{
        margin-bottom: 5px;
    }

    .azu{
         margin-bottom: 5px;

    }

    .vio{
         margin-bottom: 5px;
    }

    .gre{
         margin-bottom: 5px; 
    }

    .bla{
         margin-bottom: 5px;
    }

    .es{
        position: relative;
        top: 41px;
        left: -17px;
    }

    .res {
        top: 0px;
        left: 14px;
    }

    .res2 , .res3{
        top: -29px;
        left: 167px;
    }

    .peque {
        width: 33%;
        left: 6px;
    }

    .peque2 , .peque3{
        width: 33%;
        margin-left: 61px;
        position: relative;
        top: 11px;
    }

    .hop{
        left: 0px;
        position: relative;
    }

    .bi{
        position: relative;
        left: -14px;
    }

    .cont{
        position: relative;
        left: -15px;
    }

    .hi{
        position: relative;
        left: -35px;
        width: 111%;
    }

    .hii{
         position: relative;
        left: -34px
    }

    .huu ,.hu{
        position: relative;
        left: -13px;
    }

    .hu{
        position: relative;
        left: -34px;
    }

    .chi{
        position: relative;
        left: -13px;
    }

    .chii{
        left: 1px;
        position: relative;
        margin-top: 25px;
    }
    .che{
        position: relative;
        left: -13px;
    }

    .che{
        margin-left: 0px;
    }

    .bob , .ulti{
        position: relative;
        width: auto;
        left: -30px;
        margin-left: 0px;
    }

    .tope{
        position: relative;
        width: auto;
        left: -45px;
        margin-left: 0px;
    }
    .version-seis{
         width: auto;
        left: -55px;
        margin-left: 0px;
    }

    .cho{
        position: relative;
        left: -15px;
    }

    .shi{
        left: -24px;
        position: relative;
    }

    .version-dos{
        position: relative;
        left: -15px;
        width: auto;
        margin-left: 0px;
    }
    .version-tres ,.two-table{
        position: relative;
        left: -15px;
        width: auto;
        margin-left: 0px;
    }

    .version-cinco{
        position: relative;
        left: -40px;
        width: auto;
        margin-left: 0px;
    }

    .version-g{
        margin-left: -31px;
    }

    .bab{
        margin-top: 8px;
        margin-left: -31px;
    }
    .thi{
        margin-left: -17px;
    }

    .the{
        position: relative;
         margin-left: -17px;
    }
    .tab{
        margin-left: -19px;
    }
    .fo{
        margin-left: -19px;
    }
    .version-text{
       margin-left: -19px;
    }

    .version{
        margin-left: -19px;
    }
    .just {
        margin-left: -49px;
        margin-top: -56px;
    }
    .edi-pro {
        position: relative;
        left: 150px;
        top: -96px;
    }
    .agre {
          position: relative;
        top: -91px;
        text-align: center;
        left: 119px;
    }

    .acc {
        margin-left: -33px;
        margin-top: -28px;
    }

    .version-h{
        margin-left: -49px;
    }

    .fly{
        margin-right: 15px;
    }

    .fle{
      margin-right: 29px;
    }

    .to{
        left: -24px;
     }

    .tre{
        left: -40px;
     } 


    .es2{
        position: relative;
        top: 38px;
        left: -25px;
    }

    .es3{
        position: relative;
        top: 39px;
        left: -18px;

    }

    .es4{
        position: relative;
        left: -19px;
    }

    .otro{
        position: relative;
        top: -64px;
    }

    .otro2{
        position: relative;
        top: -26px;
    }

   /*.envoltorio{
       padding: 9px;
        top: 22px;
        float: left;
        left: 2px;
        padding-left: 4px;
        margin-top: -2px;
    }*/

/*    .envoltorio4{

        height: 75px;
        width: 102%;

    }*/

    .es5{
        position: relative;
        top: 33px;
        left: -13px;
    }

    .peque4{
        margin-left: 69px;
        width: 32%;
    }

    .res6 {
        top: -27px;
        left: 148px;
    }

    .peque6 {
        width: 32%;
        top: 12px;
        left: 53px;
    }

    .es6{
        position: relative;
        top: 39px;
        left: -26px;
    }

    .doss{
        top: 422px;
        background: #F2F2F2;
        height: 42px;
    }

    .fil{
      height: 424px;
    }

    .lod{
        margin-top: 16px;
    }

    .apart{
        margin-top: 64px;
    }

    .most7{
        position: relative;
        top: 40px;
    }

    .obj7{
      float: left;
    }

    .bus7{
      width: 88%;
    }

    .res7{
            top: 39px;
    }

    .peque7{
        width: 32%;
        top: 35px;
    }

    .pagi2{
        position: relative;
        left: -114px;
    }


    .envoltorio3{
            /* right: 73px; */
        margin-top: 34px;
        float: left;
        left: 4px;
        top: -1px;
        margin-bottom: 23px;
        width: 36%;
        height: 34px;
        padding-top: 5px;
    }

    .envoltorio2{
        /*right: -42px; */
        margin-top: -44px;
        float: right;
        right: -22px;
        margin-bottom: -1px;
        padding-top: 4px;
        left: 13px;
    }

    .mov{
       font-size: 33px;
    }

    .en{
        top: -14px;
    }

    .pagi2{
        position: relative;
        left: -175px;
    }

/*    .if2{
        position: relative;
        top: 49px;
        font-size: 23px;
        margin-bottom: 85px;
        left: -3px;
        float: left;
        z-index: 1;
    }*/

    .up{
        position: relative;
        left: 1px;
        top: -20px;
    }

    .up2{
        position: relative;
        left: 2px;
        top: -19px;
    }

     .up3{
        position: relative;
        left: 1px;
        top: -19px;
    }
     .up4{
        position: relative;
        left: 1px;
        top: -18px;
    }

    .ess{
        position: relative;
        top: 41px;
        left: -19px;
    }

    .tick{
        left: 114px;
    }

    .check{
        left: 44px;

    }

    .gif{
        left: 89px;
        width: 91%;
        top: 116px;

    }

    .name3 {
        top: -491px;
        left: 225px;
    }

    .cant {
        top: -452px;
        left: 225px;
    }

    .cant2 {
        top: -378px;
        left: 223px;
    }
    .cant3 {
        top: -308px;
        left: 223px;
    }

    .sam2{
        width: 289px;
    }

    .mol {
        /* float: right; */
        top: -199px;
        /* left: 20px; */
        right: -117px;
    }
    .moli{
           padding-left: 40px;
    }

    .inter{
     font-size: 30px
    }

    .moree{
        left: 122px;
    }

    .ins{
        left: 72px;
    }

    .obj8{
    	    top: -143px;
    }

    .cambi{
    	left: 44px;
     }
    .ter{
         left: 34px
    }

    .ray{
            left: -10px;

    }
    
    .mar{
        margin-top: 5px;
    }

   .inm{
    left: 57px !important;
   }
  
/*   .sep{
    text-align: center;
   }
*/

   .input-sm{
    width: 90%;
   }


   .spp{
    padding: 0px 0px;
   }
   
  .lin{
    width: 109%;
    left: -33px;
  }
  
  .lun{
    left: 0px !important;
  }

  .cheee{
    left: -1px;
    position: relative;
  }

  .chee{
     position: relative;
    right: 34px;
  }


  .nav-tabs{
    margin-top: 44px;
    /*left: -16px;*/
    position: relative;
  }
  
  .button1{
    position: relative;
    left: 32px;
    width: 91%;
    margin-top: 60px;
  }

/***********sales module**************/

    .menu .panel-body.maxi{
        display: none;
    }
    .menu .panel-footer{
        display: none;
    }


.footer{
    padding: 0px !important;
    height: 45px;
}

.footer .cob3{
    /*top: -45px;*/
    position: relative;
}

.footer .echar{
    height: 100%;
    width: 100%;
    /*float: left !important;*/
}

.footer .ech{
    display: inline-block;
    /* float: right; */
    margin-top: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.footer .wp{
    width: 33.333333333%;
}

.footer i{
    font-size: 25px;
    /*margin: 0px 5px;*/
}

.footer .cobrar{
    padding: 5px;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    top: -5px;
}

.footer button {
    position: relative;
    border: 1px solid #fff;
    top: -3px;
    margin-left: 8px;
}

.footer button {
     margin-top: 0px !important; 
     position: relative !important; 
     top: 0px !important; 
}

#modal-cart .modal-body{
    height: 464px;
}

#modal-cart .modal-footer{
    height: 60px;
}

.type-mov{
    left: -3px;
    top: -17px;
}


/*iconos inicio*/
.not-border{
    text-align: left;
    padding: 13px 12px 18px ;
    font-size: 19px;
    width: 100%;
}

.not-border br{
    display: none;
}

/*.vertical-xs{
    float: left;
}*/

.ico2 {
    position: relative;
    font-size: 32px;
    top: 5px;
}

.space-xs{
    margin-top: 40px;
}

/*iconos inicio*/

/*.summary_in_out_container {
    margin-top: 30px;
    margin-bottom: 110px;
}

.detail-mov{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 8px;
}*/

/***********end sales module**********/
}


/*----------------------------------------------------- end 700 ---------------------------------------------*/

li.inicio:hover {
    background-color : #34495e!important;
   
}
li.clientes:hover{
    background-color : #9b59b6!important;

}
li.vender:hover {
    background-color : #3498db!important;
   
}
li.productos:hover {
    background-color : #62cb31!important;
   
}
li.inventario:hover {
    background-color : #ffb606!important;
   
}
li.pedidos:hover {
    background-color : #e67e22!important;
  
}
li.configuracion:hover {
    background-color : #e74c3c!important;
    
}
li.salir:hover {
    background-color : #c0392b!important;
    
}

/*--menu active--*/

li.active.inicio {
    background-color : #34495e!important;
   
}

li.active.clientes{
    background-color : #9b59b6!important;

}

li.active.vender {
    background-color : #3498db!important;
   
}

li.active.productos {
    background-color : #62cb31!important;
   
}

li.active.inventario {
    background-color : #ffb606!important;
   
}
li.active.pedidos {
    background-color : #e67e22!important;
  
}
li.active.configuracion {
    background-color : #e74c3c!important;
    
}
li.active.salir {
    background-color : #c0392b!important;
    
}

.panel-footer {
     border-top: none; 
}


@media screen and (max-width:430px){

.content {
    padding-top: 10px;
}

  .edi-pro{
    left: 211px;
    top: -150px;
  }

.agre{
    top: -149px;
    left: 162px;
}
  .peque3{
    width: 27%;
  }

  .peque2{
    width: 29%;
  }

  .hu{
    left: 0px;
  }

  .huu{
   left: 0px;
  }
   .tick{
    left: 170px;
   }
  
  .check{
    left: 101px;
  }

  .obj5{
    float: left;
    top: -75px;
  }

  .bus5 {
    width: 88%;
    top: -77px;
    left: -9px;
}

.res5 {
    top: 2px;
    left: 161px;
}

.peque5 {
    width: 22%;
    top: 15px;
    left: 76px;
}

.gif {
    left: 131px;
    width: 25%;
    top: 115px;
}

.name{
  top: -253px;
  left: 103px;
}

.prod{
    left: 102px;
    top: -240px;
    width: 27%;
}

.prod2{
   left: 102px;
   top: -227px;
    width: 27%;
}

.prod3{
  left: 102px;
  top: -218px;
  width: 27%;
}

.name2{
    left: 193px;
    top: -464px;
}

.name3{
    top: -491px;
    left: 244px;
}

.num{
    top: -424px;
    left: 207px;
}

.num2{
    top: -351px;
    left: 207px;
}

.num3{
    top: -280px;
    left: 207px;
}

.cant{
  top: -456px;
  left: 257px;

}

.cant2{
  top: -383px;
  left: 257px;
}
.cant3{
    top: -308px;
    left: 257px;
}

.dele{
    margin-top: 115px;
    position: relative;
    top: -115px;
}

.spa{
    top: -20px;
    padding: 5px 13px;
}

.spa.sell-data{
    top: 98px;
}

.ep{
    position: relative;
    top: -59px;
}
.sam2{
    width: 379px;

}

.mol{
  float: right;
  top: -199px;
  left: 20px;
}


.rayo{
    top: -71px;
}

.ins{
    top: -196px;
    left: 116px;
}

.moree{
    top: -232px;
    left: 170px;
}

.dele2{
    margin-top: 166px;
    position: relative;
    top: -166px;
    text-align: center;
}

.ep2{
    position: relative;
    top: -119px;
}

.inter{
    margin-bottom: 0px;
}

.peque8{
   width: 25%;
    margin-left: 60px;
}

.cambi{
	left: 55px;
}

.peque9{
	width: 25%;
	margin-left: 60px;
	top: 14px;
}
.res9{
	top: -26px;
}

.obj8{
	top: -94px;
	float: left;
}

.bus8{
	width: 92%;
	top: -95px;
}

.obj9{
	float: left; 
    top: -113px;

}

.bus9{
	 width: 90%;
	 top: -115px;

}
.text4{
	right: 40px;
    top: -60px;
}

.but{
	left: 49px;
    width: 71%;
}

.text5{
    right: 41px;
    top: -61px;
}

.only{
    left: 43px;

}

.produ{
    left: 126px;
}

.cre{
  left: 136px;
}

.doc{
    left: 126px;
}

.excel{
  left: 126px;
}

.inv2{
    text-align: left;
}

.tel{
    left: 62px;
}

.ter{
    top: 0px;
    margin-bottom: 15px;}

.inv1{
    left: -14px;
}

.lin{
    left: -18px;
}

}


@media screen and (max-width:414px){
  .lin{
    left: -25px;
    /*width: 119%;*/
  }

  .chee{
    right: 26px;
  }
  
  .hi{
     left: -27px;
     width: 120%;
  }

  .hii{
    left: -27px;
  }
   
  .huu{
    left: -28px;
  }


.padlr0{
    padding-right: 0px !important;
    padding-left: 0px !important;
}


}


@media screen and (max-width:320px){
  .edi-pro{
     position: relative;
    left: 150px;
    top: -96px;
  }

  .agre{
    position: relative;
    top: -91px;
    text-align: center;
    left: 119px;
  }
  .peque3{
     width: 33%;
  }
  
   .peque2{
    width: 33%;
  }
  
  .hu {
    left: -16px;
}
 
  .huu {
    left: -16px;
}
 
.tick{
    left: 114px;
}

.check{
    left: 44px;

}

.gif{
    left: 89px;
    width: 91%;
    top: 116px;

}

.name3 {
    top: -491px;
    left: 225px;
}

.cant {
    top: -452px;
    left: 225px;
}

.cant2 {
    top: -378px;
    left: 223px;
}

.cant3 {
    top: -308px;
    left: 223px;
}

.dele{margin-top: 115px;
    position: relative;
    top: -115px;
 }

.sam2{
    width: 289px;
}

.mol {
    /* float: right; */
    top: -199px;
    /* left: 20px; */
    right: -117px;
}

.moli{
     padding-left: 40px;
}

.inter{
 font-size: 30px
}

.moree{
    left: 122px;
}

.ins{
    left: 72px;
}

.obj8{
	    top: -143px;
}

.cambi{
	left: 44px;
 }


.cre{
  left: 104px;
  top: 1px;
}

.doc{
    left: 101px;
    top: 0px;
    margin-top: 6px;
}

.excel{
  left: 101px;
  margin-top: 11px;
  top: -2px;
}

.ter{
        left: 34px
}

.ray{
     left: -10px;

}
.inv1{
    left: 14px;
}

 .lin{
    width: 109%;
    left: -33px;
  }


.chee{
     right: 34px;
}

.hi{
        left: -35px;
        width: 111%;
    }

.hii{
   left: -34px
}


.huu{
    left: -34px;
}

.lun{
    left: 0px !important;
}

.chep{
    right: 1px;
}



}
