.help-mail.bl{
    position: relative;
    top: 5px;
    left: 0px;
    margin-top: -20px;
}

.help-nombre.bl {
    position: relative;
    top: 5px;
    left: 0px;
    margin-top: -20px;
}

.help-comentario.bl {
    position: relative;
    top: -7px;
    margin-bottom: 27px;
    left: 0px;
    margin-top: -20px;
}

img.editablelink.blog {
    position: absolute;
    left: 737px;
    bottom: 20px;
    z-index: 100000;
}

.fondo-pro-blog{
    margin-top: 0px;
    background-color: rgba(128, 128, 128, 0.09);
}

.box-blog-2{
    background-color: white;
    width: 85%;
    height: 445px;
    object-fit: cover;
    margin-bottom: 23px;
    position: relative;
    left: -44px;
    margin-top: 9px;
}

.box-blog{
    background-color: white;
    width: 85%;
    height: 445px;
    object-fit: cover;
    margin-bottom: 20px;
    position: relative;
    left: 42px;
    margin-top: 9px;
}

.note-blog{
    background-color: #DC3C8E;
    width: 37%;
    color: white;
    left: -91px;
    position: relative;
    font-size: 8px;
    top: 21px;
    font-weight: 600;
    height: 20px;
    padding: 5px 3px 4px 4px;
    border-radius: 4px;
    letter-spacing: 1px;
}

.text-blog {
    font-size: 18px;
    position: relative;
    top: 117px;
    text-align: center;
    left: 1px;
    font-weight: 600;
    color: #DB2E89;
    line-height: 8px;
    letter-spacing: 1px;
    margin-bottom: 60px;
}


.inf-blog{
    font-size: 18px;
    position: relative;
    top: 96px;
    text-align: center;
    left: -3px;
    width: 80%;
    color: rgba(85, 85, 85, 0.86);
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 21px;
    margin-bottom: 39px;
    font-family: 'Open Sans', sans-serif;
}

.text-form-blog{
    position: relative;
    top: 48px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(119, 119, 119, 0.94);
}

.text-f-b{
    position: relative;
    top: 52px;
    font-size: 25px;
    font-weight: 600;
    color: #5E5E5D;
    /* letter-spacing: 1px; */
}

.text-f-b-2{
    position: relative;
    top: 63px;
    font-size: 16px;
    letter-spacing: 2px;
    color: rgba(119, 119, 119, 0.77);
    line-height: 7px;
    font-weight: 100;
    margin-bottom: 16px;
    font-family: 'Open Sans', sans-serif;

}

.form-group.blog {
    margin-bottom: 15px;
    top: 66px;
    position: relative;
    margin-top: 18px;
}


.btn-block {
    display: block;
    width: 25%;
    top: 42px;
    position: relative;
    background-color: white;
    border: 1px solid black;
    color: #5E5E5D;
  /*  letter-spacing: 1px;*/
    font-weight: 700;
    font-size: 15px;
}

.btn-block:hover{
    display: block;
    width: 25%;
    top: 42px;
    position: relative;
    background-color:#5E5E5D;
    border: 1px solid #5E5E5D;
    color: white;
  /*  letter-spacing: 1px;*/
    font-weight: 700;
    font-size: 15px;
}

.form-control.blog-box {
    display: block;
    width: 68%;
    left: 0px;
    position: relative;
    font-size: 9px;
    top: -15px;
    height: 34px;
}

.form-control.blog-box-2 {
    display: block;
    width: 72%;
    left: 0px;
    position: relative;
    font-size: 9px;
    top: -29px;
}

.cuadro-grande-blog{
    background-color: white;
    height: 1700px;
    width: 85%;
    margin-bottom: 22px;
}

.noticias{
    background-color: #DC3C8E;
    width: 15%;
    color: white;
    position: relative;
    font-size: 12px;
    top: 21px;
    font-weight: 600;
    height: 26px;
    padding: 4px;
    margin-bottom: 37px;
    right: 379px;
    border-radius: 5px;
    letter-spacing: 1px;
}

/*.img-noti{
    width: 100%;
    height: 180px;
    object-fit: cover;
}*/

.img-noti {
 width: 100%;
 object-fit: cover;
 height:222px;
}

hr.one-blog{
    margin-top: 20px;
    margin-bottom: 56px;
    border: 0;
    border-top: 1px solid black;
    width: 96%;
    top: 32px;
    position: relative;
}

hr.one-blog-0{
    margin-top: -27px;
    margin-bottom: 56px;
    border: 0;
    border-top: 1px solid black;
    width: 96%;
    top: 24px;
    position: relative;
}
/*

.btn-danger.look{
    top: -26px;
    position: relative;
    background-color: #DC3C8E;
    border-color: #DC3C8E;
    width: 18%;
    left: 348px;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 4px;
}

.btn-danger.look:hover{
    top: -26px;
    position: relative;
    background-color: white;
    border-color: #DC3C8E;
    width: 18%;
    left: 348px;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 4px;
    color: #DC3C8E;
}*/

.btn-danger.look {
  top: -26px;
  position: relative;
  background-color: #DC3C8E;
  border-color: #DC3C8E;
  width: 18%;
  left: 120px;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 4px;
  margin-top: 38px;
}

.btn-danger.look:hover {
  top: -26px;
  position: relative;
  background-color: white;
  border-color: #DC3C8E;
  width: 18%;
  left: 120px;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 4px;
  margin-top: 38px;
}

.blog-1{
  left: -1px;
  font-size: 12px;
  color:  rgba(128, 128, 128, 0.8);
  font-weight: 300;
  position: relative;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  z-index: 1030;
}
.blog-1-1{
  left: -1px;
  font-size: 12px;
  color:  rgba(128, 128, 128, 0.8);
  font-weight: 300;
  position: relative;
  text-align: justify;
  top: -22px;
  font-family: 'Open Sans', sans-serif;
  z-index: 1030;
  height: 110px;
}

/*.blog-1-des{
    left: -1px;
    font-size: 13px;
    color: rgba(128, 128, 128, 0.8);
    font-weight: 300;
    position: relative;
    text-align: justify;
    top: -22px;
    height:auto; 
    font-family: 'Open Sans', sans-serif;
    z-index: 1030;
}*/

.blog-1-des {
 left: -1px;
 font-size: 0.9em;
 color: rgba(128, 128, 128, 0.8);
 font-weight: 300;
 position: relative;
 text-align: justify;
 top: -22px;
  height: 131px; 
/* height: auto;*/
 font-family: 'Open Sans', sans-serif;
 /* letter-spacing: 1px; */
 z-index: 1030;
}

.blog-2{
    left: 23px;
    left: -1px;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    text-align: justify;
    top: -11px;
    letter-spacing: 1px;
    z-index: 1030;

}

.blog-2-1{
  left: -1px;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.44);
  font-weight: 300;
   top: -7px;
  position: relative;
  text-align: justify;
}

.blog-3{
    left: -2px;
    text-align: justify;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.54);
    font-weight: 300;
    top: -1px;
    position: relative;
}

.question{
    font-size: 17px;
    text-align: left;
    left: 0px;
    position: relative;
    margin-bottom: 43px;
    top: -52px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.pink{
    font-size: 17px;
    text-align: left;
    left: -309px;
    position: relative;
    margin-bottom: 43px;
    top: -52px;
    color: hotpink;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

.rec-grande{
    background-color: rgba(128, 128, 128, 0.17);
    width: 85%;
    height: 55px;
    margin-bottom: 20px;
}

.fa.fa-question{
    font-size: 34px;
    position: relative;
    top: -1px;
    float: left;
    color: black;
    padding: 0px 21px 0px 3px;
}

.text-question{
    text-align: left;
    font-size: 13px;
    position: relative;
    top: 19px;
    letter-spacing: 1px;
}

.consejos{
    background-color: #DC3C8E;
    width: 38%;
    color: white;
    position: relative;
    font-size: 12px;
    top: 21px;
    font-weight: 600;
    height: 27px;
    padding: 4px;
    margin-bottom: 37px;
    right: -3px;
    letter-spacing: 1px;
    border-radius: 4px;
}


.consejos-ban{
    background-color: #DC3C8E;
    width: 7%;
    color: white;
    position: relative;
    font-size: 11px;
    top: -406px;
    font-weight: 600;
    height: 24px;
    padding: 4px 8px 13px 12px;
    margin-bottom: -24px;
    right: -76px;
    border-radius: 4px;
    letter-spacing: 1px;
}

.cuadro-text-bann{
    background-color: rgba(255, 255, 255, 0.46);
    height: 275px;
    width: 115%;
    position: relative;
    top: -349px;
    margin-bottom: -277px;
    left: 61px;
    border-radius: 5px;
}

.box-consejos{
    background-color: white;
    height: 1780px;
    width: 85%;
    margin-bottom: 38px;
}

.img-consejos{
    width: 100%;
    object-fit: cover;
    height: 200px;
    margin-top: 30px;
}

.con-1{
    text-align: justify;
    margin-top: 78px;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.con-2{
    text-align: justify;
    font-size: 12px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    line-height: 15px;
    height: 113px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}


.btn-primary.preg{
    position: relative;
/*    top: 0px;*/
    top: -64px;
    left: 0px;
    height: 54px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.19);
    border-color: rgba(128, 128, 128, 0.19);
    border-radius: 5px;
    margin-bottom: 2px;
    z-index: 1000000;

} 

.open>.dropdown-toggle.btn-primary.preg{
    color: #fff;
    background-color: rgba(255, 20, 147, 0.85);
    border-color:rgba(255, 20, 147, 0.85);
    z-index: 0;
}

.open>.dropdown-menu.blog{
  width: 100%;
  left: -1px;
/*  top: 52px;*/
  top: -12px;
  height: auto;
  padding-bottom: 20px;
  z-index: 10000000;
}

.dropdown-menu.blog>li>a {
    background-color: rgba(221, 221, 221, 0.73);
    text-align: center;
    border-left: 0px solid;
    border-radius: 0px;
}

.nombre-blog{
    position: relative;
    text-align: left;
    left: 71px;
    top: -100px;
    font-size: 12px;
    color: rgb(51, 51, 51);
    font-weight: bolder;
    letter-spacing: 0px;
}

.li-blog{
    position: relative;
    left: 21px;
    top: 8px;
    font-size: 12px;
    width: 97%;
    font-family: 'Open Sans', sans-serif;
}

hr.menos{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 4px solid white;
    width: 2%;
    top: -2px;
    position: relative;
    left: -546px;
}

.dropdown hr.menos{
    visibility: hidden;
}

.dropdown.open i.fa-question{
    visibility: hidden;
}

.dropdown.open hr.menos{
    visibility: visible;
}



.btn-default-blog-ban{
    display: block;
    width: 31%;
    top: 91px;
    position: relative;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

.btn-default-blog-ban:hover{
    display: block;
    width: 31%;
    top: 91px;
    position: relative;
    background-color: #555 ;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    color:#ccc;
}

.btn-default-box {
    color: rgba(85, 85, 85, 0.9);
    background-color: #fff;
    border-color: #ccc;
    top: 121px;
    position: relative;
    font-weight: 600;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px 19px;
    border: 1px solid #555;
}


.btn-default-box:hover {
    color: #fff;
    background-color:rgba(85, 85, 85, 0.9);
    border-color: #ccc;
    top: 121px;
    position: relative;
    font-weight: 600;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px 19px;
    border: 1px solid #555;
}

.texto-cuadro-blo {
    position: relative;
    top: 34px;
    text-align: center;
    font-size: 19px;
/*    color: rgba(92, 92, 91, 0.87);*/
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 85%;
    left: 34px;
}


hr.dos-2 {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.63);
    width: 25%;
    top: 90px;
    position: relative;
}

.fli{
    position: relative;
    width: 100%;
    margin-top: 60px;
}
/*--------------------------------Responsive-----------------------------*/

@media (max-width: 1199px){
    .box-blog{
    left: 0px;
    width: 100%;
}

    .note-blog {
    width: 47%;
    left: -70px;
}

    .look {
    top: 12px;
    position: relative;
    background-color: #d94fa1;
    border-color: #d94fa1;
    float: right;
    width: 35%;
}

   .noticias{
    right: 349px;
}

   .cuadro-grande-blog{
    width: 100%;
}

   .box-blog-2{
    left: 0px;
    width: 100%;
}

   .btn-danger.look{
        left: -21px;
}

   .pink {
    left: -245px;
    top: -50px;
    font-size: 15px;
}

.open>.dropdown-menu.blog {  
    left: -45px;
    width: 105%;
}

hr.menos {
   left: -473px;
}

.btn-primary.preg {
    width: 105%;
}

.nombre-blog {
    left: 77px;
}
.blog-1-des {
    height: 87px;
}

.btn-danger.look {
    top: 14px;
}
.btn-block {
    width: 30%;
}
.btn-default-blog-ban {
    top: 77px;
}
hr.one-blog-0 {
    margin-top: 0px;
}

.help-nombre.bl {
    left: 0px;
}

}

@media (max-width: 1036px){
    .form-group.blog {
    margin-left: -34px;
}

}

@media (max-width: 1021px){

.btn-primary.preg {
    width: 100%;
}

.open>.dropdown-menu.blog {
    left: 1px;
    width: 100%;
}

hr.menos {
    left: -447px;
}

}

@media (max-width: 991px){
     .box-blog{
        left: 0px;
        width:100%;
}

    .box-blog-2{
       left: 0px;
       width: 100%;
}

    .note-blog {
    width: 51%;
    left: -41px;
}
   .btn-block{
    top: 36px;
}

.cuadro-grande-blog {
    width: 100%;
    margin-bottom: 57px;
}

.pink {
    left: 68px;
    top: -117px;
    font-size: 16px;
}
.btn-danger.look{
    top: 20px;
}

.con-1 {
    margin-top: 49px;
}

.box-consejos {
    height: 2790px;
    width: 100%;
}

.open>.dropdown-menu.blog {
    left: 0px;
    width: 109%;
}

hr.menos {
    left: -369px;
}
.btn-primary.preg {
    width: 109%;
}
.nombre-blog {
    font-size: 12px;
    left: 53px;
    top: -102px;
}
.question {
    left: 0px;
}

.btn-default-blog-ban {
    top: 109px;
}
/*.texto-cuadro {
    top: 46px;
}*/
.consejos-ban{
       width: 12%;
}
.cuadro-text-bann {
    left: 0px;
    width: 100%;
}
hr.one-blog {
    margin-top: 20px;
    margin-bottom: 20px;

}
.img-noti {
    margin-top: 20px;
}
.cuadro-grande-blog {
    height: 2530px;
}

.noticias {
    right: 250px;
}

.form-group.blog {
    left: 0px;
}

.help-nombre.bl {
    left: 0px;
}

.help-mail.bl {
    left: 0px;
}

.help-comentario.bl {
    left: 0px;
}

.form-group.blog {
    margin-left: -46px;
}

}

@media (max-width: 955px){
.form-group.blog {
    margin-bottom: 15px;
    margin-left: -40px;
    margin-right: -44px;
}

}

@media (max-width: 880px){
    .btn-primary.preg {
    width: 109%;
    left: -26px;
}

.open>.dropdown-menu.blog {
    left: -27px;
    width: 109%;
}

hr.menos {
    left: -372px;
}
.nombre-blog {
    font-size: 12px;
    left: 27px;
    top: -106px;
}

}

@media (max-width: 796px){
 .btn-primary.preg {
    width: 104%;
    left: -11px;
}
.open>.dropdown-menu.blog {
    left: -12px;
    width: 104%;
}
hr.menos {
    left: -352px;
}

.nombre-blog {
    font-size: 11px;
    left: 43px;
    top: -105px;
}

}


@media (max-width: 763px){
    .nombre-blog {
    font-size: 11px;
    left: 36px;
    top: -105px;
}

}

@media (max-width: 700px){
  hr.menos {
    left: -320px;
}

}

@media screen and (max-width: 700px){
    .btn-danger.look{
        width: 36%;
}

    .box-consejos{
        width: 100%;
}

    .question {
    left: 3px;
    font-size: 13px;
}

.pink {
    left: 58px;
    top: -112px;
    font-size: 13px;
}


.nombre-blog {
    left: 19px;
    font-size: 9px;
    height: 65px;
    width: 92%;
    top: -100px;
}

.open>.dropdown-menu.blog {
    left: -11px;
    width: 104%;
}

.li-blog {
    left: 5px;
    font-size: 10px;
}
/*hr.menos {
    left: -141px;
    width: 7%;
}*/
.form-control.blog-box-2 {
    width: 71%;
}
.fa.fa-question {
    font-size: 22px;
    top: 9px;
}

.consejos-ban{
    width: 27%;
    right: -20px;
}

.cuadro-text-bann {
    height: 324px;
    left: 2px;
    width: 100%;
    margin-bottom: -248px;
}
.btn-default-blog-ban{
    width: 45%;
}

.btn-block {
    width: 36%;
    top: 39px;
}

.fondo-pro-blog {
    margin-top: -76px;
}
.note-blog {
    width: 55%;
}
.text-blog {
    font-size: 15px;

}
.noticias {
    right: 72px;
    width: 31%;
}
.con-2 {
    height: 145px;
}

.fin-mov{
        margin-bottom: 72px;
}

.form-group.blog {
    margin-bottom: 15px;
    margin-left: -70px;
    margin-right: -59px;
}

}

@media (max-width: 480px){
    .cuadro-grande-blog {
    height: 2612px;
}

}

@media (max-width: 414px){
    .form-group.blog {
    margin-bottom: 15px;
    margin-left: -52px;
    margin-right: -55px;
}

}

@media (max-width: 400px){
    .form-group.blog {
    margin-bottom: 15px;
    margin-left: -44px;
    margin-right: -43px;
}

}


@media (max-width: 360px){
    .blog-1-1 {
    margin-bottom: 16px;
}

.cuadro-grande-blog {
    height: 2672px;
}

}

@media (max-width: 320px){
    .btn-primary.preg {
    width: 113%;
    left: -17px;
}

hr.menos {
    left: -143px;
    width: 7%;
}

.open>.dropdown-menu.blog {
    left: -17px;
    width: 113%;
}

.form-group.blog {
    margin-bottom: 15px;
    margin-left: -32px;
    margin-right: -34px;
}

.box-blog-2 {
    height: 477px;
}

.blog-1-1 {
    margin-bottom: 56px;
}

.cuadro-grande-blog {
    height: 2837px;
}

}