hr.car-green{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 3px solid #9ACD32;
    width: 6%;
    top: -24px;
    position: relative;
    float: left;
}

.text-gre{
    color: #9ACD32;
}

.cuadro-check{
    background-color: white;
    height: 260px;
}

.text-che{
    position: relative;
    top: 12px;
    font-size: 16px;
    color: #9ACD32;
    left: 36px;
    margin-bottom: 26px;
}

.for-che{
    margin-bottom: 15px;
    margin-top: 16px;
}

.con-chek{
    display: block;
    width: 93% !important;
    left: -2px !important;
    position: relative;
    font-size: 13px !important;
    top: -15px;
    border-radius: 9px;

}

.con-chek-2{
    border-radius: 9px !important;
    font-size: 13px !important;
}

.cuadro-check-2{
    background-color: white;
    height:189px;
    margin-top: -71px;
}

.text-com{
    position: relative;
    top: -4px;
    font-size: 13px;
    color: #9ACD32;
    left: -303px;
    margin-bottom: 20px;

}

.cuadro-check-3{
    background-color: white;
    height: 386px;
    margin-top: 16px;
    margin-bottom: 18px;
}

hr.for-pag{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid rgba(128, 128, 128, 0.42);
    width: 93%;
    top: -24px;
    position: relative;
    float: left;
    left: 23px;
}

.logo_webpay{
    left: 5px;
    position: relative;
}

.pay-2{
    position: relative;
    margin-top: 23px;
}

.cuadro-right{
    background-color: white;
    height: 357px;
    width: 85%;
    margin-top: 20px;
}

.img-check{
    width: 100%;
    position: relative;
    object-fit: cover;
}

.nam-check{
    position: relative;
    width: 100%;
    font-size: 12px;
}

.up-check{
    position: relative;
    font-size: 11px;
    color: rgba(128, 128, 128, 0.63);
}

.equis-check{
    position: relative;
    top: -20px;
    left: 10px;
}

.mon-check{
    position: relative;
    top: -40px;
    left: 27px;
}

.pe-7s-plus{
    float: right;
    position: relative;
    left: 126px;
    font-size: 15px;
    color: black;
}

.pe-7s-less{
    position: relative;
    float: right;
    left: -52px;
    top: -61px;
    font-size: 15px;
    color: black;
}

hr.cok {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid black;
    width: 81%;
    top: -3px;
    position: relative;
}

.pe-7s-close-circle.cir-2{
    font-size: 28px;
    left: -14px;
    position: relative;
    color: black !important;
    top: 23px;
}

.total{
    position: relative;
    bottom: -79px;
    text-align: center;

}

.w3-check{
    position: relative;
    margin-top: 102px;
    top: 102px;
    left: 17px;
}

.w3-validate{
    font-size: 9px;
    width: 77%;
    position: relative;
    top: 110px;
    left: 23px;
    color:rgba(128, 128, 128, 0.43);
}

.link-con{
    float: right;
    top: 99px;
    position: relative;
    font-size: 11px;
    border-bottom: 2px solid black;
}

.cuadro-right-2{
    background-color: white;
    height: 386px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 56px;
}

hr.linea-re {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid black;
    width: 86%;
    top: 5px;
    position: relative;
}

.valor-che{
    float: right;
    position: relative;
    right: 23px;
}

hr.separador {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid black;
    width: 86%;
    top: 56px;
    position: relative;
}

.na-pro{
    text-align: center;
    position: relative;
    left: -24px;
    top: 35px;
}


hr.separador-2 {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid black;
    width: 86%;
    top: 100px;
    position: relative;
}

.na-pro-2{
    text-align: center;
    position: relative;
    left: -49px;
    top: 81px;
}

.total-final{
    position: relative;
    top: 120px;
    left: 34px;
}
.number-o{
    position: relative;
    top: 99px;
    left: 84px;
}

 .btn-success-check{
    color: #fff;
    background-color: rgba(127, 184, 92, 0.85);
    border-color: rgba(127, 184, 92, 0.85);
    width: 63%;
    left: 102px;
    position: relative;
    padding: 2px 10px;
    top: -99px;
 }

input[type=radio]{
    left: -14px;
    position: relative;
}




/*-----------------------------Star responsive-----------------------*/

@media (max-width: 1199px){
    .text-com {
    left: -243px; 
}
   .cuadro-right {
    height: 383px;
}
    .cuadro-check-2 {
    margin-top: -96px;
}

   .pe-7s-plus {
    left: 154px;
}
   .pe-7s-less {
    left: -14px;
}

}

@media (max-width: 991px){
    .cuadro-check {
    height: 335px;
}

.con-chek {
    width: 85% !important;
}

.text-che {
    margin-bottom: 38px;
}

.cuadro-right {
    margin-bottom: 99px;
    width: 100%;
    height: 472px;
}
.text-com {
    top: 11px;
    left: -265px;
    margin-bottom: 33px;
}
.cuadro-right-2 {
    width: 100%;
    height: 406px;

}

}

@media (max-width: 767px){
    .pe-7s-plus {
    left: 265px;
    float: left;
}

.pe-7s-less {
    left: -88px;
    float: left;
}

.myform{
    position: relative;
    left: 47px;
}

}

@media screen and (max-width: 700px){
    .mon-check {
    position: relative;
    top: -40px;
    left: 104px;
}
   .pe-7s-plus {
    left: 163px;
    float: left;
    top: -12px;
}

.pe-7s-less {
    left: 264px;
    float: left;
    top: -13px;
}

.total {
    position: relative;
    bottom: -79px;
    text-align: center;
    margin-top: 112px;
}

.text-com {
    top: 5px;
    left: -82px;
    margin-bottom: 33px;
}

.pay-2 {
    position: relative;
    margin-top: 23px;
    font-size: 16px;
}

.for-movil-com{
   margin-bottom: 23px;
    margin-top: 17px;
}

}

