.box-l{
   background-color: #F9B233;
    width: 70%;
/*    height: 185px;*/
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 7px;
}

.text-l {
    position: relative;
    top: 22px;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

hr.l{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 4px solid white;
    width: 9%;
    top: 11px;
    position: relative;
}

.text-l-l{
    position: relative;
    top: 20px;
    font-size: 16px;
    width: 87%;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 41px;
}

.box-white-l{
    background-color: white;
    width: 70%;
    height: 1275px;
    margin-bottom: 20px;
}

.reco-l{
    position: relative;
    font-style: italic;
    top: 7px;
    color: rgba(0,0,0,.5);
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.til-l{
    font-size: 26px;
    color: #3CAEAC;
    font-weight: 700;
    letter-spacing: 1px;
}

hr.li-l{
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 4px solid #3CAEAC;
    width: 23%;
    top: -15px;
    position: relative;
    left: -3px;
}

.refer-l{
    left: 164px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    z-index: 10000;
    position: relative;
    float: left;
    top: -25px;
}

.precio-l {
    position: relative;
    top: -57px;
    right: 232px;
    font-size: 24px;
    color: #3CAEAC;
    letter-spacing: 2px;
    z-index: 10000;
    float: right;
}

.sub-l{
    position: relative;
    top: -61px;
    left: 0px;
    font-size: 21px;
    font-weight: 400;
    color: #F9B233;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 14px;
}

.det-l {
    text-align: left;
    position: relative;
    left: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
    top: -20px;
}

.det-l-l {
    position: relative;
    text-align: left;
    left: 57px;
    top: -23px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.ico-l{
    width: 86%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 128px;
    margin-bottom: -46px;

}

.fa-l{
    position: relative;
    top: 58px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.78);
    font-size: 13px;
     z-index: 10000;
}

.da-l{
    position: relative;
    top: 52px;
    color: #F37B3C;
    font-size: 13px;
     z-index: 10000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.total-l{
    position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    z-index: 10000;
}

.det-nu-l{
    position: relative;
    text-align: left;
    left: 0px;
    top: 9px;
    margin-top: 43px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    width: 94%;
}

.ico-fu-l {
    width: 76%;
    position: relative;
    top: 51px;
    object-fit: cover;
    height: 91px;
    margin-top: -42px;
}

hr.lu-l{
    margin-top: -49px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
    width: 93%;
    top: 99px;
    position: relative;
}

.ico-rep-l {
     width: 17%;
    position: relative;
    top: 0px;
    left: 100px;
    margin-top: 54px;
}
.text-rep-l{
    position: relative;
    text-align: left;
    top: 0px;
    left: -58px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(51, 51, 51, 0.64);
    font-family: 'Open Sans', sans-serif;
    z-index: 1030;
    margin-top: 66px;
}

.btn-warning.l {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 120px;
    width: 42%;
    font-weight: 400;
    letter-spacing: 1px;
    left: -8px;
    border-radius: 8px;
}

.btn-warning.l:hover{
    color:#F37B3C ;
    background-color: #fff ;
    border-color: #F37B3C;
    position: relative;
    top: 120px;
    width: 42%;
    font-weight: 400;
    letter-spacing: 1px;
    left: -8px;
    border-radius: 8px;
}

.btn-warning.l-l{
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 120px;
    width: 42%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
    left: 21px;
}

.btn-warning.l-l:hover {
    color:  #F37B3C;
    background-color: #fff;
    border-color: #F37B3C;
    position: relative;
    top: 120px;
    width: 42%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
    left: 21px;
}

.w3-validate-for-l {
    font-size: 16px;
    width: 77%;
    position: relative;
    top: 176px;
    left: -12px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.w3-check-for-l {
    position: relative;
    top: 203px;
    left: -11px;
    z-index: 10000;
}

.btn-info.fo-l {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 117px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-l:hover {
    color:rgba(0, 139, 139, 0.78)  ;
    background-color: #fff;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 117px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

/*-------------------Responsive--------------*/


@media (max-width: 1199px){
   .box-l{
    width: 85%;
}
   .box-white-l{
    width: 85%;
}

.w3-check-for-l {
    top: 204px;
    left: 0px;
}

.ico-l {
    width: 95%;
}

}


@media (max-width: 991px){
     .box-white-l{
     margin-bottom: 55px;
    width: 100%;
}

   .box-l{
    width: 100%;
}

   .w3-check-for-l {
    left: 0px;

}

.btn-info.fo-l {
    width: 48%;
}

.btn-info.fo-l:hover {
    width: 48%;
}

.ico-l {
    height: 101px;
    width: 80%;
}

.text-rep-l {
    position: relative;
    text-align: left;
    top: 0px;
    left: 0px;
}

hr.lu-l {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid black;
    width: 93%;
    top: 60px;
    position: relative;
}

.refer-l {
    left: 53px;
    top: -25px;
}

.tor-2{
    position: relative;
    top: -31px;
    left: -93px;
    font-size: 21px;
    font-weight: 800;
}

.precio-l{
    position: relative;
    top: -62px;
    right: 161px;
}

}


@media (max-width: 767px){
    .ico-l {
    width: 44%;
    height: 128px;
    top: 0px;
}

   .ico-fu-l {
    width: 44%;
    height: 91px;
}

.da-l {
    margin-bottom: 63px;
}


.ico-rep-l {
    width: 17%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 22px;
}

.text-rep-l {
    top: 0px;
    left: 0px;
    width: 56%;
    margin-bottom: -22px;
    text-align: center;
}

.box-white-l {
    height: 1681px;
}

}

@media (max-width: 700px){
  .ico-l {
    width: 30%;
    height: 80px;
    top: 0px;
    margin-bottom: -28px;
}


.text-rep-l{
        left: 59px;
}

.refer-l {
    left: 107px;
    font-size: 14px;
}

.precio-l {
    top: -56px;
    right: 176px;
    font-size: 17px;
}


}

@media (max-width: 600px){
    .refer-l {
    left: 80px;
    font-size: 14px;
}

.precio-l {
    top: -58px;
    right: 146px;
    font-size: 17px;
}

.text-rep-l {
    left: 0px;
    text-align: center;
}

}

@media (max-width: 560px){
    .refer-l {
    left: 50px;
    font-size: 14px;
}

.precio-l {
    top: -58px;
    right: 130px;
    font-size: 17px;
}

}


@media (max-width: 520px){
    .precio-l {
    top: -58px;
    right: 90px;
    font-size: 17px;
}


}

@media screen and (max-width: 700px){
       .box-white-l {
        height: 1900px;
}

.btn-info.fo-l {
    width: 100%;
    font-size: 12px;
}


.btn-info.fo-l:hover {
    width: 100%;
    font-size: 12px;
}
.btn-warning.l {
    width: 100%;
}

.btn-warning.l:hover{
    width: 100%;
}

.btn-warning.l-l{
    top: 136px;
    width: 100%;
    left: -9px;
}

.btn-warning.l-l:hover {
    top: 136px;
    width: 100%;
    left: -9px;
}

.w3-validate-for-l {
    font-size: 14px;
    width: 77%;
    top: 218px;
    left: 0px;

}

.w3-check-for-l {
    top: 217px;
    left: 0px;
}
 
 /*  .box-l{
    height: 353px;
}
*/


.sub-l{
    top: -20px;
    left: -1px;
    font-size: 16px;
}

.det-l{
    left: 0px;
    font-size: 19px;
}

.det-l-l{
    left: 0px;
}


.fa-l{
    top: 38px;
}
.da-l{
    top: 39px;
    margin-bottom: 65px;
}

.det-nu-l{
    left: 0px;
}

.ico-rep-l{
    width: 29%;
    position: relative;
    top:0px;
    left: 0px;
}


}

@media (max-width: 480px){
    .precio-l {
    top: -58px;
    right: 60px;
    font-size: 17px;
}

}

@media (max-width: 445px){
 .precio-l {
    top: -51px;
    right: 45px;
    font-size: 16px;
}

}


@media (max-width: 430px){
.refer-l {
    left: 30px;
    font-size: 14px;
}

}

@media (max-width: 414px){
    .ico-l {
    width: 60%;
    height: 80px;
    top: 0px;
    margin-bottom: -28px;
}
.refer-l{
    left: 14px;
    font-size: 14px;
}
.precio-l {
    top: -56px;
    right: 35px;
    font-size: 17px;
}

}


@media (max-width: 400px){
    .ico-l {
    width: 60%;
    height: 80px;
}

.refer-l{
    left: 6px;
    font-size: 14px;
}
.precio-l{
    top: -56px;
    right: 30px;
    font-size: 17px;
}

.text-rep-l {
    left: 0px;
}

}

@media (max-width: 360px){
    .refer-l {
    left: 6px;
    font-size: 12px;
}

}

@media (max-width: 320px){
    .ico-l{
    width: 80%;
    height: 80px;
}

.text-rep-l {
    left: 0px;
    text-align: center;
}

.ico-fu-l {
    width: 52%;
    height: 91px;
}
.btn-warning.l {
    width: 100%;
    left: 0px;
}
.btn-warning.l:hover {
    width: 100%;
    left: 0px;
}

.btn-warning.l-l {
    top: 136px;
    width: 100%;
    left: 0px;
}

.btn-warning.l-l:hover {
    top: 136px;
    width: 100%;
    left: 0px;
}

.precio-l {
    top: -56px;
    right: 6px;
    font-size: 15px;
}

.refer-l {
    left: 6px;
    font-size: 13px;
}

.box-white-l {
    height: 1884px;
}

}


