.box-p-2{
   background-color: #F9B233;
    width: 70%;
/*    height: 185px;*/
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 7px;
}

.text-p-2 {
    position: relative;
    top: 22px;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

hr.p-2 {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 4px solid white;
    width: 9%;
    top: 11px;
    position: relative;
}

.text-p-p-2{
    position: relative;
    top: 20px;
    font-size: 16px;
    width: 87%;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 41px;
}

.box-white-p-2 {
    background-color: white;
    width: 70%;
    height: 1275px;
    margin-bottom: 20px;
}

.reco-p-2 {
    position: relative;
    font-style: italic;
    top: 7px;
    color: rgba(0,0,0,.5);
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.til-p-2{
    font-size: 26px;
    color: #3CAEAC;
    font-weight: 700;
    letter-spacing: 1px;
}

hr.li-p-2{
    margin-top: 20px;
    margin-bottom: 38px;
    border: 0;
    border-top: 4px solid #3CAEAC;
    width: 23%;
    top: -15px;
    position: relative;
    left: -3px;
}

.refer-p-2{
    left: 169px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    z-index: 10000;
    position: relative;
    float: left;
    top: -25px;

}

.precio-p-2{
    position: relative;
    top: -59px;
    right: 236px;
    font-size: 24px;
    color: #3CAEAC;
    letter-spacing: 2px;
    z-index: 10000;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.sub-p-2{
    position: relative;
    top: -61px;
    left: 0px;
    font-size: 21px;
    font-weight: 400;
    color: #F9B233;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 14px;
}

.det-p-2 {
    text-align: left;
    position: relative;
    left: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
    top: -20px;
}

.det-p-p-2 {
    position: relative;
    text-align: left;
    left: 57px;
    top: -23px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.ico-p-2{
    width: 86%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 128px;
    margin-top: -7px;
}

.fa-p-2{
    position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.78);
    font-size: 13px;
    z-index: 10000;
    margin-top: 26px;
}

.da-p-2{
    position: relative;
    top: 0px;
    color: orange;
    font-size: 13px;
    z-index: 10000;
    margin-bottom: -18px;
    margin-top: -8px;
}

.total-p-2{
    position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    z-index: 10000;
}

.det-nu-p-2{
    position: relative;
    text-align: left;
    left: 0px;
    top: 9px;
    margin-top: 43px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    width: 94%;
}

.ico-fu-p-2 {
    width: 76%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 91px;
    margin-bottom: -19px;
}

hr.lu-p-2{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid black;
    width: 93%;
    top: 0px;
    position: relative;
}

.ico-rep-p-2 {
    width: 17%;
    position: relative;
    top: 0px;
    left: 100px;
    margin-top: 54px;
}
.text-rep-p-2{
    position: relative;
    text-align: left;
    top: 0px;
    left: -58px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(51, 51, 51, 0.64);
    font-family: 'Open Sans', sans-serif;
    z-index: 1030;
    margin-top: 66px;
}

.btn-warning.p-2 {
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
     border-radius: 8px;
}

.btn-warning.p-2:hover{
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
     border-radius: 8px;
}

.btn-warning.p-p-2{
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
     border-radius: 8px;
}

.btn-warning.p-p-2:hover {
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
}

.w3-validate-for-p-2 {
    font-size: 13px;
    width: 77%;
    position: relative;
    top: 102px;
    left: 0px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.w3-check-for-p-2 {
    position: relative;
    top: 105px;
    left: -153px;
    z-index: 10000;
    float: right;
}

.btn-info.fo-p-2 {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 117px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-p-2:hover {
    color: rgba(0, 139, 139, 0.78);
    background-color: #fff;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 117px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


/*-------------------Responsive--------------*/


@media (max-width: 1199px){
   .box-p-2{
    width: 85%;
}

  .box-white-p-2 {
    width: 85%;
}

}

@media (max-width: 991px){
    .box-white-p-2 {
     margin-bottom: 55px;
     width: 100%;
}

   .box-p-2{
    width: 100%;
}
/*   .w3-check-for-p-2 {
    left:41px;
}
*/

.btn-info.fo-p-2 {
    width: 48%;
}

.btn-info.fo-p-2:hover {
    width: 48%;
}
.refer-p-2{
    left: 53px;
    top: -25px;
}

.precio-p-2{
    position: relative;
    top: -62px;
    right: 161px;
}

.da-p-2{
    margin-bottom: 0px;
    margin-top: -8px;
}

.w3-check-for-p-2 {
    left: -100px;
}

} 


@media (max-width: 767px){
    .ico-p-2 {
    width: 37%;
    top: 0px;
}

.da-p-2 {
    margin-bottom: 29px;
}

.ico-fu-p-2 {
    width: 49%;
}

.box-white-p-2 {
    height: 1735px;
}

.ico-rep-p-2 {
    left: 0px;
}

.text-rep-p-2 {
    text-align: center;
    top: 0px;
    left: 0px;
    margin-top: 31px;
}

.fa-p-2{
        margin-top: 17px;
}

}

@media (max-width: 600px){
    .refer-p-2 {
    left: 80px;
    font-size: 14px;
}

.precio-p-2 {
    top: -56px;
    right: 145px;
    font-size: 17px;
}

.ico-p-2 {
    width: 37%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 94px;
}

.w3-validate-for-p-2 {
    font-size: 13px;
    width: 77%;
    top: 218px;
    left: 0px;
}

}


@media (max-width: 560px){
    .refer-p-2 {
    left: 50px;
    font-size: 14px;
}

.precio-p-2 {
    top: -56px;
    right: 130px;
    font-size: 17px;
}

.ico-p-2 {
    width: 37%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 84px;
}

}


@media (max-width: 520px){
    .precio-p-2 {
    top: -56px;
    right: 100px;
    font-size: 17px;
}

.ico-p-2 {
    width: 44%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 84px;
}

.w3-validate-for-p-2 {
    font-size: 13px;
    width: 77%;
    top: 218px;
    left: -4px;
}

}

@media screen and (max-width: 700px){
        .box-white-p-2 {
        height: 1900px;
}
.btn-info.fo-p-2 {
    width: 100%;
    font-size: 12px;
}

.btn-info.fo-p-2:hover {
    width:100%;
    font-size: 12px;
}
.btn-warning.p-2 {
    width: 100%;

}

.btn-warning.p-2:hover{
    width:100%;
}

.btn-warning.p-p-2{
    top: 55px;
    width: 100%;
}

.btn-warning.p-p-2:hover {
    top: 55px;
    width: 100%;
}

.w3-validate-for-p-2 {
    font-size: 14px;
    width: 77%;
    top: 218px;
    left:0px;
}

.w3-check-for-p-2 {
    top: 217px;
    left: -100px;
}

/*   .box-p-2{
   height: 353px;
}*/
.refer-p-2 {
     left: 107px;
    font-size: 14px;
}

.precio-p-2 {
    top: -56px;
    right: 176px;
    font-size: 17px;
}

.sub-p-2{
    top: -20px;
    left: -1px;
    font-size: 16px;
}

.dep-p-2{
    left: 0px;
}

.dep-p-p-2{
    left: 0px;
}

.ico-p-2 {
    width: 37%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 112px;
}

.fa-p-2{
    top: 0px;
    margin-top: 13px;
}

.da-p-2{
    top: 0px;
    margin-bottom: 30px;
}

.det-nu-p-2{
  left: 0px;
}

.ico-rep-p-2{
    width: 29%;
    position: relative;
    top: 0px;
    left: 0px;
}

.text-rep-p-2 {
    left: 0px;
}
.det-p-p-2 {
    position: relative;
    text-align: left;
    left: 0px;
}

.det-p-2 {
    text-align: left;
    position: relative;
    left: 0px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
    top: -20px;
}

}


@media (max-width: 480px){
.w3-validate-for-p-2 {
    font-size: 14px;
    width: 66%;
    top: 218px;
    left: 0px;
}

}


@media (max-width: 430px){
.refer-p-2 {
    left: 30px;
    font-size: 14px;
}

.precio-p-2 {
    top: -51px;
    right: 30px;
    font-size: 15px;
}

.ico-p-2 {
    width: 50%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 84px;
}

}


@media (max-width: 414px){
    .ico-p-2 {
    width: 74%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 112px;
}

.refer-p-2 {
    left: 14px;
    font-size: 14px;
}

.precio-p-2 {
    top: -55px;
    right: 38px;
    font-size: 15px;
}

.w3-validate-for-p-2 {
    font-size: 12px;
    width: 77%;
    top: 174px;
    left: 0px;
}

.w3-check-for-p-2 {
    top: 183px;
    left: 15px;
    float: left;
}

}

@media (max-width: 400px){
    .refer-p-2{
    left: 6px;
    font-size: 14px;
    }

    .precio-p-2{
    top: -56px;
    right: 30px;
    font-size: 17px;
    }

    .ico-p-2 {
    width: 66%;
    height: 80px;
    top: 0px;
   }
}



@media (max-width: 375px){
.ico-p-2 {
    width: 60%;
    height: 80px;
    top: 0px;
}


}


@media (max-width: 360px){
    .refer-p-2 {
    left: 6px;
    font-size: 12px;
}

}

@media (max-width: 320px){
    .ico-p-2 {
    width: 74%;
    height: 80px;
    top: 0px;
}

.ico-fu-p-2 {
    width: 60%;
}

.refer-p-2{
    left: 6px;
    font-size: 13px;
}

.precio-p-2{
    top: -56px;
    right: 6px;
    font-size: 15px;
}
.w3-validate-for-p-2 {
    font-size: 14px;
    width: 77%;
    top: 150px;
    left: 0px;
}

.w3-check-for-p-2 {
    top: 172px;
    left: 13px;
    float: left;
}

.box-white-p-2 {
    height: 1900px;
}


}

