.box-p{
   background-color: #F9B233;
    width: 70%;
 /*   height: 185px;*/
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 7px;
    padding-bottom: 22px;
}

.text-p {
    position: relative;
    top: 22px;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

hr.p {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 4px solid white;
    width: 9%;
    top: 11px;
    position: relative;
}

.text-p-p{
    position: relative;
    top: 20px;
    font-size: 16px;
    width: 87%;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 41px;
}

.box-white-p {
    background-color: white;
    width: 70%;
    height: 1275px;
    margin-bottom: 20px;
}

.reco-p {
    position: relative;
    font-style: italic;
    top: 7px;
    color: rgba(0,0,0,.5);
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.til-p{
    font-size: 26px;
    color: #3CAEAC;
    font-weight: 700;
    letter-spacing: 1px;
}

hr.li-p{
    margin-top: 20px;
    margin-bottom: 38px;
    border: 0;
    border-top: 4px solid #3CAEAC;
    width: 23%;
    top: -15px;
    position: relative;
    left: -3px;
}

.refer-p{
    left: 169px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    z-index: 10000;
    position: relative;
    float: left;
    top: -25px;
}

.precio-p{
    position: relative;
    top: -59px;
    right: 236px;
    font-size: 24px;
    color: #3CAEAC;
    letter-spacing: 2px;
    z-index: 10000;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.sub-p{
    position: relative;
    top: -61px;
    left: 0px;
    font-size: 21px;
    font-weight: 400;
    color: #F9B233;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 14px;
}

.det-p {
    text-align: left;
    position: relative;
    left: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
    top: -20px;
}

.det-p-p {
    position: relative;
    text-align: left;
    left: 57px;
    top: -23px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.ico-p{
    width: 86%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 128px;
    margin-top: -7px;}

.fa-p{
    position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.78);
    font-size: 13px;
    z-index: 10000;
    margin-top: 26px;
}

.da-p{
    position: relative;
    top: 0px;
    color: orange;
    font-size: 13px;
    z-index: 10000;
    margin-bottom: -18px;
    margin-top: -8px;
}

.total-p{
    position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    z-index: 10000;
}

.det-nu-p{
    position: relative;
    text-align: left;
    left: 0px;
    top: 9px;
    margin-top: 43px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    width: 94%;
}

.ico-fu-p {
    width: 76%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 91px;
    margin-bottom: -19px;
}

hr.lu-p{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid black;
    width: 93%;
    top:0px;
    position: relative;
}

.ico-rep-p {
    width: 17%;
    position: relative;
    top: 0px;
    left: 100px;
    margin-top: 54px;
}
.text-rep-p{
    position: relative;
    text-align: left;
    top: 0px;
    left: -58px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(51, 51, 51, 0.64);
    font-family: 'Open Sans', sans-serif;
    z-index: 1030;
    margin-top: 66px;
}

.btn-warning.p {
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
     border-radius: 8px;
}

.btn-warning.p:hover{
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
     border-radius: 8px;
}

.btn-warning.p-p{
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
     border-radius: 8px;
}

.btn-warning.p-p:hover {
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
}

.w3-validate-for-p {
    font-size: 13px;
    width: 77%;
    position: relative;
    top:102px;
    left: 12px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.w3-check-for-p {
    position: relative;
    top: 105px;
    left: -140px;
    z-index: 10000;
    float: right;
}

.btn-info.fo-p {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 117px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-p:hover {
    color: rgba(0, 139, 139, 0.78);
    background-color: #fff;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 117px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


/*-------------------Responsive--------------*/


@media (max-width: 1199px){
   .box-p{
    width: 85%;
}

   .box-white-p {
    width: 85%;
}

}


@media (max-width: 991px){
    .box-white-p {
    margin-bottom: 55px;
    width: 100%;
}

   .box-p{
    width: 100%;
}
/*   .w3-check-for-p {
    left: 41px;
}*/
.w3-check-for-p {
    left: -100px;
}

.btn-info.fo-p {
    width: 48%;
}

.btn-info.fo-p:hover {
    width: 48%;
}

.refer-p{
    left: 53px;
    top: -25px;
}

.precio-p{
    position: relative;
    top: -62px;
    right: 161px;
}

.da-p{
    margin-bottom: 0px;
    margin-top: -8px;
}

}


@media (max-width: 767px){
    .ico-p {
    width: 37%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 112px;
}

   .da-p {
    margin-bottom: 30px;
}

   .ico-fu-p {
    width: 49%;

}

.box-white-p {
    margin-bottom: 55px;
    width: 100%;
    height: 1750px;
}

.ico-rep-p {
    width: 17%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 22px;
}
.text-rep-p {
    text-align: center;
    top: 0px;
    left: 0px;
    margin-top: 31px;
}

.fa-p{
 margin-top: 17px;
}

.da-p{
    position: relative;
    top: 0px;
    color: orange;
    font-size: 12px;
    z-index: 10000;
    margin-bottom: 28px;
}

}


@media (max-width: 600px){
    .refer-p {
    left: 80px;
    font-size: 14px;
}

.precio-p {
    top: -56px;
    right: 145px;
    font-size: 17px;
}

.ico-p {
    width: 37%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 95px;
}

}

@media (max-width: 560px){
    .refer-p {
    left: 50px;
    font-size: 14px;
}

.precio-p {
    top: -56px;
    right: 130px;
    font-size: 17px;
}

.ico-p {
    width: 37%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 84px;
}

}


@media (max-width: 520px){
    .precio-p {
    top: -56px;
    right: 100px;
    font-size: 17px;
}

.ico-p {
    width: 44%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 84px;
}

.w3-validate-for-p {
    font-size: 13px;
    width: 77%;
    top: 218px;
    left: 0px;
}

}

@media screen and (max-width: 700px){
      .box-white-p {
        height: 1900px;
}

.btn-info.fo-p {
    width: 100%;
    font-size: 12px;
}

.btn-info.fo-p:hover {
    width: 100%;
    font-size: 12px;
}

.btn-warning.p {
    width: 100%;
}

.btn-warning.p:hover{
    width: 100%;
}

.btn-warning.p-p{
    top: 55px;
    width: 100%;
}

.btn-warning.p-p:hover {
    top: 55px;
    width: 100%;
}

.w3-validate-for-p {
    font-size: 14px;
    width: 77%;
    top: 218px;
    left: 0px;
}

.w3-check-for-p {
    top: 218px;
    left: -92px;
}

/*   .box-p{
   height: 353px;
}
*/
.refer-p {
    left: 107px;
    font-size: 14px;
}

.precio-p {
    top: -56px;
    right: 176px;
    font-size: 17px;
}


.sub-p{   
    top: -20px;
    left: -1px;
    font-size: 16px;
}

.det-p{
    left: 0px;
}

.det-p-p{
    left: 0px;
}


.fa-p{
    top: 38px;
}

.da-p{
     top: 39px;
    margin-bottom: 30px;
}

.det-nu-p{
    left: 0px;
}

.fa-p{
    top: 0px;
    margin-top: 13px;
}

.da-p{
    top: 0px;
    margin-bottom: 30px;
}

}

@media (max-width: 480px){
.precio-p {
    top: -56px;
    right: 60px;
    font-size: 17px;
}

.refer-p {
    left: 50px;
    font-size: 14px;
}

.ico-p {
    width: 50%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 84px;
}

.w3-validate-for-p {
    font-size: 12px;
    width: 60%;
    top: 218px;
    left: 0px;
}

}

@media (max-width: 430px){
    .refer-p {
    left: 30px;
    font-size: 14px;
}

.precio-p {
    top: -51px;
    right: 40px;
    font-size: 15px;
}

}

@media (max-width: 414px){
    .refer-p {
    left: 14px;
    font-size: 14px;
}
.precio-p {
    top: -57px;
    right: 33px;
    font-size: 16px;
}

.ico-p {
    width: 74%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 112px;
}

.w3-validate-for-p {
    font-size: 12px;
    width: 77%;
    top: 174px;
    left: 0px;
}

.w3-check-for-p {
    top: 182px;
    left: 14px;
    float: left;
}

}

@media (max-width: 400px){
    .refer-p{
    left: 6px;
    font-size: 14px;
    }

    .precio-p{    
    top: -56px;
    right: 30px;
    font-size: 17px;
    }

    .ico-p{
    width: 80%;
    position: relative;
    top: 0px;
    }

    .w3-check-for-p {
    top: 187px;
    left: 0px;
    }

}

@media (max-width: 375px){
    .ico-p {
      width: 82%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 112px;
}

.w3-check-for-p {
    top: 187px;
    left: 24px;
}

}


@media (max-width: 360px){
    .refer-p {
    left: 6px;
    font-size: 12px;
}

}

@media (max-width: 320px){
    .ico-p {
    width: 74%;
    height: 80px;
    top: 33px;
}

.ico-fu-p {
    width: 55%;
}

.refer-p {
    left: 6px;
    font-size: 13px;
}

.precio-p {
    top: -56px;
    right: 6px;
    font-size: 15px;
}

.ico-p {
    width: 74%;
    height: 80px;
    top: 0px;
}

.w3-validate-for-p {
    font-size: 14px;
    width: 77%;
    top: 150px;
    left: 0px;
}

.box-white-p {
    height: 1850px;
}

.w3-check-for-p {
    top: 172px;
    left: 11px;
    float: left;
}

}

