.texto-pl{
    font-size: 28px;
    color: #30B1AC;
    margin-bottom: 39px;
    font-weight: 700;
}

hr.plan{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 3px solid #30B1AC;
    width: 15%;
    top: -19px;
    position: relative;
}

.cuadro-pl{
    width: 94%;
    height: 255px;
    background-color: rgba(221, 221, 221, 0.41);
    margin-bottom: 25px;
    border-radius: 5px;
}

hr.sun{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid #30B1AC;
    width: 65%;
    top: 7px;
    position: relative;
}

.img-plan{
    /*width: 67%;*/
    /*height: 52px;*/
    position: relative;
    top: 13px;
    margin-top: 26px;
    object-fit: cover;
}

.tex-nim{
    font-size: 26px;
    font-weight: 700;
    position: relative;
    top: 18px;
    color: #30B1AC;
}

.tex-or{
    color: #F37B3C;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 13px;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary.more{
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: -8px;
    position: relative;
    border-radius: 3px;
    /* padding: 2px 28px 3px 59px; */
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
    width: 94%;
}

.btn-primary.more:hover{
    color: #30B1AC ;
    background-color:#fff ;
    border-color: #30B1AC;
    left: -8px;
    position: relative;
    border-radius: 3px;
    /* padding: 2px 28px 3px 59px; */
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
    width: 94%;
}

.texto-light {
    font-size: 28px;
    color: #30B1AC;
    margin-bottom: 39px;
    font-weight: 700;
    margin-top: 50px;
}

.select-text{
    position: relative;
    top: 39px;
    color: rgba(128, 128, 128, 0.62);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.btn-default.plan-0 {
    color: #30B1AC;
    background-color: transparent;
    border-color: #30B1AC;
    top: 38px;
    position: relative;
    font-weight: 400;
    border: 1px solid #30B1AC;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 44%;
    margin: 19px;
}

.btn-default.plan-0:hover, .btn-default.plan-0.gender-select {
    color: white;
    background-color: #30B1AC;
    border-color: #30B1AC;
    top: 38px;
    position: relative;
    font-weight: 400;
    border: 1px solid #30B1AC;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 44%;
    margin: 19px;
}

.btn-default.plan-2 {
    color: black;
    background-color: transparent;
    border-color: #30B1AC;
    top: 38px;
    position: relative;
    font-weight: 600;
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 44%;
    margin: 19px;
}

.btn-default.plan-2:hover, .btn-default.plan-2.age-select{
    color: white;
    background-color:black;
    border-color: #30B1AC;
    top: 38px;
    position: relative;
    font-weight: 600;
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 44%;
    margin: 19px;
}

.cuadro-rang{
    width: 70%;
    height: 322px;
    background-color: rgba(221, 221, 221, 0.41);
    margin-bottom: 25px;
    border-radius: 5px;
}

.btn-warning.plan-or {
    font-weight: 800;
    padding: 6px 26px;
    top: 51px;
    position: relative;
    background-color: #F37B3C;
    font-family: 'Open Sans', sans-serif;
}

.btn-warning.plan-or:hover {
    font-weight: 800;
    padding: 6px 26px;
    top: 51px;
    position: relative;
    background-color: white;
    color:  #F37B3C;
    font-family: 'Open Sans', sans-serif;
}

.box-gray-new {
    background-color:#F2F3F4;
    width: 102%;
    height: 880px;
    margin-bottom: 39px;
    margin-top: -32px;
}

.refer-new {
    left: 288px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    z-index: 10000;
    position: relative;
    float: left;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.79);
    top: -14px;
}

.precio-new {
    position: relative;
    top: -44px;
    right: 456px;
    font-size: 25px;
    color: #3CAEAC;
    letter-spacing: 2px;
    z-index: 10000;
    float: right;
}

.cuadro-new {
    width: 94%;
    height: 360px;
    background-color: #F2F3F4;
    margin-bottom: 25px;
    border-radius: 5px;
    margin-top: -32px;
}


.tex-or-2 {
    color: #30B1AC;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 13px;
    font-family: 'Open Sans', sans-serif;
}

.tex-or-3 {
    color: #30B1AC;
    font-size: 20px;
    position: relative;
    top: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}

.btn-primary.more-2{
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: -2px;
    position: relative;
    border-radius: 6px;
    font-size: 18px;
    top: -2px;
     margin-bottom: 41px;
     width: 100%;
}

.btn-primary.more-2:hover{
    color:  #30B1AC;
    background-color: #fff;
    border-color: #30B1AC;
    left: -2px;
    position: relative;
    border-radius: 6px;
    font-size: 18px;
    top: -2px;
     margin-bottom: 41px;
    width: 100%;
}

.btn-info.new{
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    width: 70%;
    left: 0px;
    position: relative;
    margin-bottom: 49px;
    margin-top: 23px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.btn-info.new:hover{
    color:  #30B1AC;
    background-color: #fff;
    border-color: #30B1AC;
    width: 70%;
    left: 0px;
    position: relative;
    margin-bottom: 49px;
    margin-top: 23px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.tor{
    position: relative;
    top: -14px;
    color: black;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    left: 292px;
    font-size: 19px;

}

.fancybox-inner {

position:relative;
z-index: 1000000;
}
.fancybox-wrap {
    z-index: 9999999999!important;
}
/*-------------------------------------------------responsive-----------------------------------------*/

@media (max-width: 1199px){
    .tex-nim {
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 18px;
    color: #30B1AC;
}

.img-plan {
    /*width: 67%;*/
    /*height: 49px;*/
    position: relative;
    top: 1px;
    margin-top: 26px;
}

.cuadro-pl {
    width: 100%;
    height: 258px;
    margin-bottom: 25px;
}

.btn-primary.more {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 3px;
    /* padding: 2px 22px 3px 27px; */
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
    width: 100%;
}

.btn-primary.more:hover {
    color:#30B1AC ;
    background-color:#fff ;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 3px;
    /* padding: 2px 22px 3px 27px; */
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
    width: 100%;
}

.cuadro-new {
    width: 100%;
}


.btn-primary.more-2 {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: -1px;
    position: relative;
    border-radius: 6px;
    padding: 2px 22px 3px 27px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
}

.btn-primary.more-2:hover {
    color: #30B1AC ;
    background-color: #fff ;
    border-color: #30B1AC;
    left: -1px;
    position: relative;
    border-radius: 6px;
    padding: 2px 22px 3px 27px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
}

.precio-new {
    position: relative;
    top: -43px;
    right: 254px;
}

.cuadro-rang {
    width: 80%;
}

}


@media (max-width: 991px){
 .btn-primary.more {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 3px;
    /* padding: 2px 22px 3px 27px; */
    font-size: 18px;
    top: -50px;
    margin-bottom: 41px;
    width: 100%;
}

.btn-primary.more:hover {
    color:#30B1AC ;
    background-color: #fff ;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 3px;
    /* padding: 2px 22px 3px 27px; */
    font-size: 18px;
    top: -50px;
    margin-bottom: 41px;
    width: 100%;
}

.cuadro-pl {
    width: 100%;
    height: 258px;
    margin-bottom: 62px;
}

.cuadro-rang {
    margin-bottom: 60px;
    width: 100%;
}

.btn-default.plan-2 {
    width: 40%;
}

.btn-default.plan-2:hover {
    width: 40%;
}

.box-gray-new {
    width: 100%;
    height: 920px;
    margin-bottom: 55px;
    position: relative;
    left: 0px;
}

.btn-primary.more-2 {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 55px;
    position: relative;
    border-radius: 6px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
    width: 127%;

}

.btn-primary.more-2:hover {
    color: #30B1AC ;
    background-color: #fff ;
    border-color: #30B1AC;
    left: 55px;
    position: relative;
    border-radius: 6px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
    width: 127%;

}

.btn-info.new {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    width: 69%;
    left: 0px;
    position: relative;
    margin-bottom: 56px;
    margin-top: -3px;
    font-size: 16px;
}

.btn-info.new:hover {
    color: #30B1AC;
    background-color: #fff ;
    border-color: #30B1AC;
    width: 69%;
    left: 0px;
    position: relative;
    margin-bottom: 56px;
    margin-top: -3px;
    font-size: 16px;
}

.cuadro-new {
    width: 100%;
    position:relative;
    left: 0px;
}
.refer-new {
    left: 55px;
    margin-bottom: 26px;
}

.precio-new {
    position: relative;
    top: -44px;
    right: 254px;
}

.tor {
    left: 72px;
}

.img-plan {
    /*width: 52%;*/
    /*height: 58px;*/
    position: relative;
    top: 1px;
    margin-top: 26px;
}

.btn-default.plan-0 {
    color: #30B1AC;
    background-color: transparent;
    border-color: #30B1AC;
    top: 38px;
    position: relative;
    font-weight: 400;
    border: 1px solid #30B1AC;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    margin: 22px;
}


}


@media (max-width:767px){
  .cuadro-new {
    width: 100%;
    position: relative;
    left: 0px;
    margin-top: 50px;

}

.box-gray-new {
    width: 100%;
    height: 1400px;
    margin-bottom: 55px;
    position: relative;
    left: 0px;
    margin-top: 105px;
}
.cuadro-pl {
    width: 100%;
    height: 343px;
    margin-bottom: 62px;
}

.btn-primary.more-2 {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    width: 100%;
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
}

.btn-primary.more-2:hover {
    color: #30B1AC;
    background-color: #fff ;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    width: 100%;
    font-size: 18px;
    top: -2px;
    margin-bottom: 41px;
}

.img-plan {
    /*width: 35%;*/
    /*height: 77px;*/
    position: relative;
    top: 1px;
    margin-top: 26px;
}

}

@media (max-width: 750px){
    .precio-new {
    position: relative;
    top: -44px;
    right: 205px;
}

}

@media (max-width: 680px){
   .precio-new {
    top: -42px;
    right: 300px;
    font-size: 15px;

}

}

@media (max-width: 640px){
    .precio-new {
    top: -42px;
    right: 265px;
    font-size: 15px;
}

}

@media (max-width: 610px){
    .precio-new {
    top: -40px;
    right: 238px;
    font-size: 15px;
}

}



@media (max-width: 700px){
    .refer-new {
    left: 0px;
    font-size: 15px;
}

.precio-new {
    top: -39px;
    right: 335px;
    font-size: 15px;
}

.btn-primary.more-2 {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
/*    padding: 2px 225px 3px 244px;*/
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
    width: 100%;
}

.btn-primary.more-2:hover {
    color: #30B1AC ;
    background-color: #fff;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
/*    padding: 2px 225px 3px 244px;*/
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
     width: 100%;
}

.tor {
    left: 2px;
    top: -18px;
}

.btn-default.plan-2:hover, .btn-default.plan-2.age-select {
    color: white;
    background-color: black;
    border-color: #30B1AC;
    top: 38px;
    position: relative;
    font-weight: 600;
    border: 1px solid black;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 73%;
    margin: 19px;
}

.btn-default.plan-0:hover, .btn-default.plan-0.gender-select {
    color: white;
    background-color: #30B1AC;
    border-color: #30B1AC;
    top: 38px;
    position: relative;
    font-weight: 400;
    border: 1px solid #30B1AC;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 73%;
    margin: 19px;
}

}



@media screen and (max-width: 700px){
.btn-primary.more {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 3px;
    /* padding: 2px 22px 3px 27px; */
    font-size: 18px;
    top: -50px;
    margin-bottom: -32px;
    width: 100%;
}

.btn-primary.more:hover {
    color: #30B1AC;
    background-color: #fff ;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 3px;
    /* padding: 2px 22px 3px 27px; */
    font-size: 18px;
    top: -50px;
    margin-bottom: -32px;
    width: 100%;
}

.btn-default.plan-0 {
    width: 73%;
    height: 31px;
}

.btn-default.plan-0:hover {
    width: 73%;
    height: 31px;
}

.btn-default.plan-2 {
    width: 73%;
}

.btn-default.plan-2:hover {
    width: 73%;
}

.cuadro-rang {
    margin-bottom: 60px;
    height: 499px;
    margin-top: -15px;
}

.box-gray-new {
    width: 100%;
    height: 1400px;
    margin-bottom: 55px;
    margin-top: 89px;
}


.btn-info.new {
    width: 70%;
    left: 0px;
}

.btn-info.new:hover {
    width: 70%;
    left: 0px;
}

}


@media (max-width: 580px){
    .precio-new {
    top: -40px;
    right: 213px;
    font-size: 15px;
}

}

@media (max-width: 555px){
    .precio-new {
    top: -40px;
    right: 192px;
    font-size: 15px;
}

}

@media (max-width: 539px){
    .box-gray-new {
    width: 100%;
    height: 145px;
    margin-bottom: 55px;
    margin-top: 89px;
}

}

@media (max-width: 530px){
    .precio-new {
    top: -40px;
    right: 144px;
    font-size: 15px;
}

}

@media (max-width: 480px){
    .precio-new {
    top: -40px;
    right: 110px;
    font-size: 15px;
}

}

@media (max-width: 450px){
    .precio-new {
    top: -40px;
    right: 67px;
    font-size: 15px;
}

}


@media (max-width: 441px){
    .box-gray-new {
    width: 100%;
    height: 1500px;
    margin-bottom: 55px;
    margin-top: 89px;
}

}

@media (max-width: 414px){
    .btn-primary.more-2 {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    padding: 2px 94px 3px 109px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
}

.btn-primary.more-2:hover {
    color: #30B1AC;
    background-color:#fff ;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    padding: 2px 94px 3px 109px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
}

.box-gray-new {
    width: 100%;
    height: 1480px;
}

.precio-new {
    top: -41px;
    right: 67px;
    font-size: 15px;
}
.img-plan {
    /*width: 64%;*/
    /*height: 77px;*/
    position: relative;
    top: 1px;
    margin-top: 26px;
}

}

@media (max-width: 405px){
    .precio-new {
    top: -41px;
    right: 50px;
    font-size: 15px;
}

}

@media (max-width: 400px){
    .box-gray-new {
    width: 100%;
    height: 1500px;

}

.btn-primary.more-2 {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    padding: 2px 87px 3px 86px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
}

.btn-primary.more-2:hover {
    color: #30B1AC;
    background-color: #fff ;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    padding: 2px 87px 3px 86px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
}

.precio-new {
    top: -39px;
    right: 38px;
    font-size: 15px;
}

.img-plan {
    /*width: 64%;*/
    /*height: 77px;*/
    position: relative;
    top: 1px;
    margin-top: 26px;
}

}

@media (max-width: 375px){
    .btn-primary.more-2 {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    padding: 2px 82px 3px 81px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
}

.btn-primary.more-2:hover {
    color: #30B1AC;
    background-color: #fff ;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    padding: 2px 82px 3px 81px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
}

.cuadro-rang {
    margin-bottom: 60px;
    height: 499px;
    margin-top: -15px;
    width: 100%;
}

.btn-info.new {
    width: 100%;
    left: 0px;
}

.btn-info.new:hover{
    width: 100%;
    left: 0px;
}

.img-plan {
    /*width: 64%;*/
    /*height: 68px;*/
    position: relative;
    top: 1px;
    margin-top: 26px;
}
.box-gray-new {
    width: 100%;
    height: 1497px;
}



}

@media (max-width: 360px){

.cuadro-rang {
    margin-bottom: 60px;
    height: 499px;
    margin-top: -15px;
    width: 100%;
}

.btn-info.new {
    width: 100%;
    left: 0px;
}

.btn-info.new:hover {
    width: 100%;
    left: 0px;
}
.btn-default.plan-2 {

    }

.btn-default.plan-2:hover, .btn-default.plan-2.age-select{
        width:73%;
}

.precio-new {
    top: -39px;
    right: 19px;
    font-size: 15px;
}

}


@media (max-width: 321px){
    .cuadro-rang {
    margin-bottom: 60px;
    height: 499px;
    margin-top: -15px;
    width: 100%;
}

.btn-info.new {
    width: 98%;
    left: 0px;
}

.btn-info.new:hover {
    width: 98%;
    left: 0px;
}

}


@media (max-width: 320px){
.refer-new {
    left: 0px;
    font-size: 14px;
}

.precio-new {
    top: -40px;
    right: 0px;
    font-size: 14px;
}

.btn-primary.more-2 {
    color: #fff;
    background-color: #30B1AC;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    padding: 2px 47px 3px 59px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
}

.btn-primary.more-2:hover {
    color: #30B1AC ;
    background-color:#fff ;
    border-color: #30B1AC;
    left: 0px;
    position: relative;
    border-radius: 6px;
    padding: 2px 47px 3px 59px;
    font-size: 18px;
    top: -2px;
    margin-bottom: 5px;
}

    .cuadro-rang {
    width: 100%;
}
.btn-info.new:hover {
    width: 96%;
    left: 0px;
}

.btn-info.new {
    width: 96%;
    left: 0px;
}


.img-plan {
    /*width: 67%;*/
    /*height: 62px;*/
    position: relative;
    top: 1px;
    margin-top: 26px;
}


}


@media (max-width: 260px){
    .box-gray-new {
    width: 100%;
    height: 1575px;
}

}


