.til-pro{
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: 1px;
    padding-bottom: 236px;
    left: 260px;
}

hr.pro{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 3px solid white;
    width: 15%;
    top: -224px;
    position: relative;
    left: -130px;
}

.fondo-pro{
    background-color: rgba(128, 128, 128, 0.09);
    margin-top: -20px;
}

.fondo-pro-det{
    background-color: rgba(128, 128, 128, 0.09);
    margin-top: -20px;
}

.cuadro-box-pro{
    background-color: white;
    height: 336px;
    margin-bottom: 23px;
    width: 90%;
}

.box-list{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid black;
    width: 85%;
    top: -7px;
    position: relative;
}

.box-list-bot{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid black;
    width: 85%;
    top: -68px;
    position: relative;
}

.img-1{
   width: 43%;
   object-fit: scale-down;
    margin-top: -67px;
    height: 118px;
}

.btn-default.pro{
    color: #555;
    background-color: #fff;
    border: 1px solid rgba(85, 85, 85, 0.69);
    top: 41px;
    position: relative;
    font-weight: 600;
    width: 87%;
    height: 26px;
    border-radius: 5px;
    padding: 0px 9px;
    left: 3px;
}

.btn-default.pro:hover{
    color: #fff;
    background-color: #555;
    border: 1px solid rgba(85, 85, 85, 0.69);
    top: 41px;
    position: relative;
    font-weight: 600;
    width: 87%;
    height: 26px;
    border-radius: 5px;
    padding: 0px 9px;
    left: 3px;
}

.btn-default.carr{
    color: #555;
    background-color: #fff;
    border: 1px solid rgba(85, 85, 85, 0.69);
    top: 52px;
    position: relative;
    font-weight: 600;
    width: 87%;
    height: 26px;
    border-radius: 5px;
    padding: 0px 9px;
    left: 3px;
    margin-top: -6px;
}
.btn-default.carr:hover{
    color: #fff;
    background-color: #555;
    border: 1px solid rgba(85, 85, 85, 0.69);
    top: 52px;
    position: relative;
    font-weight: 600;
    width: 87%;
    height: 26px;
    border-radius: 5px;
    padding: 0px 9px;
    left: 3px;
    margin-top: -6px;
}

.box-det{
    width: 112%;
    background-color: white;
    height: 470px;
    margin-top: 83px;
    margin-bottom: 50px;

}

.descr_prod_detail{
    font-size: 13px;
    text-align: justify;
    position: relative;
    left: 0px;
    height: auto;
    top: -82px;
    color: rgba(85, 85, 85, 0.81)!important;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}


.img_prod_detail{
     width: 46%;
    object-fit: scale-down;
    left: 70px;
    position: relative;
    top: 56px;
    height: 270px;
}

.name_prod_detail{
    position: relative;
    left: 0px;
    top: 7px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.74);
    margin-bottom: 31px;
    margin-top: 29px;
    text-align: left;
}

hr.detal{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid black;
    width: 11%;
    top: -14px;
    position: relative;
    left: -189px;
}

.btn-success {
    color: #fff;
    background-color: #8EB54A;
    border-color: #8EB54A;
    width: 63%;
    left: 16px;
    position: relative;
    padding: 2px 10px;
    top: -57px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.line{
  color: rgba(51, 51, 51, 0.84);
  text-decoration: none;
}

.line:hover{
  color: black;
  text-decoration: none;
}

.up{
    position: relative;
    text-align: left;
    left: 56px;
    top: -14px;
    /* letter-spacing: 2px; */
    font-size: 15px;
    color: rgba(51, 51, 51, 0.74);
    font-family: 'Open Sans', sans-serif;
}

.pal{
  position: relative;
  top: -54px;
  left: 11px;
}

.product-price{
    position: relative;
    top: -74px;
    left: 52px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.77);
    letter-spacing: 1px;
    margin-bottom: -14px;
}

.inf{
    position: relative;
    top: 7px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.64);
    height: 43px;
}

/*#menu ul li.active {
    background-color: rgba(255, 143, 0, 0.98);
}
*/

#menu {
      padding: 0;
    margin: 0;
    border: 0; 
}

#menu ul, li.has-sub{
      list-style: none;
     margin: 0;
      padding: 0; 
}

#menu ul {
      position: relative;
      z-index: 597;
      float: left; 
}

#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}

#menu ul li.hover,
#menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default; 
}

#menu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%; 
}

#menu ul ul li {
  float: none; 
}

#menu ul li:hover > ul {
  visibility: visible; 
}

#menu ul ul {
  top: 0;
  left: 100%; 
}

#menu ul li {
  float: none; 
  border-bottom: 1px solid black;
}

#menu {
    width: 200px;
    position: relative;
    top: 0px;
    /* margin-left: 26px; */
    margin-left: 70px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 40px;

}

#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}

#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both; 
}

#menu ul, #menu li {
    width: 104%;
}
#menu li {
    background: white;
}
/*#menu li:hover {
    background: #f6f6f6; 
}
*/

#menu a {
    color: #666666;
    line-height: 160%;
    padding: 19px 0px 16px 5px;
    width: 194px;
}
#menu ul ul li {
    background: #f6f6f6; 
}
#menu ul ul li:hover {
    background: #dddddd; 
}
#menu ul ul li:hover a {
    color: #666666; 
}
#menu ul ul li ul li {
    background: #dddddd; 
}
#menu ul ul li ul li:hover {
    background: #b7b7b7; 
}
/*#menu .has-sub {
    position: relative; 
}*/

#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
    /*background-image: url(right.png);*/
}
#menu .has-sub > ul > .has-sub:after, #menu .has-sub:hover:after {
    /*background-image: url(right.png); */
}
/*
.add-one{
    position: relative;
    height: 40px;
    width: 8%;
    top: -57px;
    right: 47px;

}*/

/*.remove-one{
     position: relative;
    height: 40px;
    width: 8%;
    left: 153px;
    top: 4px;
}*/

#menu #plan:hover {
    background: orange;
 
}

#menu #pro:hover {
    background: darkcyan; 
}

#menu #pro-sal:hover {
    background: darkcyan; 
}

#menu #cre:hover {
    background: orange;
  
}

#menu #tor:hover {
    background: darkcyan; 
}

#menu #del:hover {
    background: orange;
  
}

#menu #sha:hover {
    background: darkcyan; 
}

#menu #ref:hover {
    background: orange;
  
}

#menu #sho:hover {
    background: darkcyan; 
}

#menu #beb:hover {
    background: orange;
  
}

#menu #sna:hover {
    background: darkcyan; 
}

#menu #pack:hover {
    background: orange; 
}

#menu  a:hover{
    color: white;
}

li#beb.active{
    background-color: orange;
    color: white;
}

li#cre.active{
    background-color: orange;
    color: white;
}
li#sho.active{
    background-color: darkcyan;
    color: white;
}

li#ref.active{
    background-color: orange;
    color: white;
}

li#tor.active{
    background-color: darkcyan;
    color: white;
}

li#del.active{
    background-color: orange;
    color: white;
}

li#sha.active {
    background-color: darkcyan;
    color: white;
}

li#pro.active{
    background-color: darkcyan;
    color: white;
}

li#pro-sal.active{
    background-color: darkcyan;
    color: white;
}

li#pro-sal.active{
    background-color: darkcyan;
    color: white;
}
li#sna.active{
    background-color: darkcyan;
    color: white;
}

li#pack.active{
    background-color: orange;
    color: white;
}


.active a{
    color:white !important;
}



/*---active--*/

.pad{
    padding-right: 0px;
    padding-left: 0px;
}

#menu.sc {
    width: 200px;
    position: relative;
    top: -57px;
    /* margin-left: 26px; */
    margin-left: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 140px;
}

.s-b{
    position: relative;
    top: -34px;
    text-align: left;
    left: 27px;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.55);
    font-family: 'Open Sans', sans-serif;
}


.s-b-2{
    position: relative;
    top: -35px;
    text-align: left;
    left: 88px;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.55);
    font-family: 'Open Sans', sans-serif;
    color: rgba(51, 51, 51, 0.74);
}
/*---------------Responsive-------------*/

@media (max-width: 1200px){
/*    .cuadro-box-pro{
        width: 100%;
}
*/
    .img-1 {
      width: 47%;
     height: 112px;
}

}

@media (max-width: 1199px){
  .name_prod_detail {
    left: 0px;
}

hr.detal {
    left: -175px;
}

.up{
  left: 44px;
}

.box-det {
    position: relative;
    left: 0px;
}

.til-pro {
    left: 169px;
}

}

@media (max-width: 1188px){
  .s-b-2 {
    left: 78px;
}

}

@media (max-width: 1130px){
    .pad {
    padding-right: 0px;
    padding-left: 0px;
}

}

@media (max-width: 1119px){
    .pad {
    padding-right: 0px;
    padding-left: 58px;
    width: 48%;
}

}


@media (max-width: 1110px){
    hr.detal {
    left: -164px;
}

}


@media (max-width: 1102px){
    .pal-2 {
    left: 16px;
}

}

@media (max-width: 1055px){
 .product-price-2 {
    left: 79px;
}
.pal-2 {
    left: 30px;
}

}

@media (max-width: 1050px){
    hr.detal {
    left: -151px;
}

}



@media (max-width: 991px){
  .img-1 {
     width: 27%;
    object-fit: cover;
    margin-top: -43px;
    height: 97px;
}

.cuadro-box-pro {
    height: 352px;

}

hr.detal {
    left: -42px;
}

.name_prod_detail {
    left: 10px;
}

.box-list{
  width: 54%;
}

.box-list-bot{
  width: 54%;
}

.up {
   left: 137px;
}

.product-price {
    left: 65px;
    font-size: 13px;
}

#menu {
   width: 42%;
   text-align: center;
   margin-left: 276px;
}

.box-det {
    position: relative;
    left: 0px;
    margin-bottom: 48px;
    width: 100%;
}

#menu a {
    padding: 16px 25px 9px 10px;
}

.btn-success{
  top: -39px;
}

#menu.sc{
    margin-left: 228px !important;
}
.til-pro {
    left: 63px;
}

.fondo-pro-det {
    margin-top: -140px;
}

#menu.sc {
    position: relative;
    top: 43px;
}

}

@media (max-width: 880px){
    .pal {
    position: relative;
    top: -54px;
    left: 27px;
}

}

@media (max-width: 800px){
    .box-list-bot {
    width: 71%;
}

.box-list {
    width: 71%;
}

.s-b-2 {
    left: 52px;
}

.up {
    left: 109px;
}
.pal {
    position: relative;
    top: -54px;
    left: 15px;
}

}


@media (max-width: 767px){
.box-det {
    height: 800px;
}
.img_prod_detail {
    width: 30%;
   left: 206px;
   top: 32px;
}

.name_prod_detail {
    left: 5px;
    margin-top: 42px;
}

hr.detal {
    left: -301px;
}

.up-2 {
    left: 0px;
}
.pal-2 {
    left: -190px;
}
.product-price-2 {
    left: -88px;
}

.descr_prod_detail {
    left: 0px;
}

.btn-success {
    left: 0px;
}

.remove-one {
    left: 202px;
}

.add-one{
    right: 218px;
}

.s-b {
    position: relative;
    top: -34px;
    text-align: left;
    left: 30px;
}


}

@media (max-width: 736px){
    .pal {
    position: relative;
    top: -54px;
    left: 20px;
}

}

@media (max-width: 715px){
    .s-b-2 {
    left: 36px;
}

.up {
    left: 94px;
}

.pal {
    position: relative;
    top: -54px;
    left: 15px;
}

}


@media (max-width: 700px){
    .btn-success {
    width: 50%;
    left: 0px;
    top: -48px;
}

hr.detal {
    left: -257px;
    width: 17%;
}

.product-price-2 {
    left: -103px;
}

.pal-2 {
    left: -181px;
}

.s-b{
        top: -34px;
}

}


@media (max-width: 650px){
    hr.detal {
    left: -227px;
    width: 17%;
}

.pal-2 {
    left: -163px;
}

.product-price-2 {
    left: -85px;
}

.img-1 {
    width: 23%;
    margin-top: -46px;
    height: 140px;
}

}

@media (max-width: 600px){
    .img-1 {
    width: 23%;
    margin-top: -46px;
    height: 127px;
}

}

@media (max-width: 585px){
    hr.detal {
    left: -201px;
    width: 17%;
}

.pal-2 {
    left: -144px;
}
}

@media (max-width: 537px){
   .img_prod_detail {
    width: 40%;
    left: 0px;
    top: 32px;
}

.pal-2 {
    left: -124px;
}

.product-price-2 {
    left: -62px;
}

hr.detal {
    left: -180px;
    width: 17%;
} 
}

@media (max-width: 498px){
    .pal-2 {
    left: -105px;
}

.product-price-2 {
    left: -45px;
}

hr.detal {
    left: -167px;
    width: 17%;
}

}

@media (max-width: 480px){
    .img-1 {
    width: 34%;
    margin-top: -46px;
    height: 150px;
}

.pal {
    left: 26px;
    top: -55px;
}

}


@media (max-width: 460px){
    hr.detal {
    left: -153px;
    width: 17%;
}

.pal-2 {
    left: -85px;
}

.product-price-2 {
    left: -23px;
}

}


@media (max-width: 400px){
    hr.detal {
    left: -127px;
    width: 17%;
}

.pal-2 {
    left: -62px;
}

.product-price-2 {
    left: -6px;
}

.img_prod_detail {
    width: 59%;
    left: 0px;
    top: 33px;
}

.img-1 {
    width: 44%;
    margin-top: -52px;
    height: 160px;
}

}



@media screen and (max-width: 700px){
  .til-pro{
     letter-spacing: 0px;
     line-height: 14px;
     left: 0px;
}

.img-1 {
    width: 24%;
    margin-top: -55px;
    height: 158px;
}

   .descr_prod_detail{
    left: 0px;
    text-align: left;
}
  
  .name_prod_detail {
    left: 0px;
    margin-top: 78px;
    text-align: left;
}


.cuadro-box-pro{
  width: 100%;
}

.product-price {
    left: 38px;
}

.up {
    left: 209px;
}

.up-2 {
    left: 6px;
}

.remove-one {
    left: 157px;
    top: -9px;
    background-color: transparent;
    width: 18%;

}

.add-one {
    width: 18%;
    top: -55px;
    right: -157px;
    background-color: transparent;
}

#menu {
    width: 67%;
    text-align: center;
    margin-left: 51px;
    /* margin-bottom: -45px; */
    margin-top: -31px;
}

#menu.sc {
    margin-left: 22px !important;
    width: 82% !important;
}
hr.pro {

    left: 0px;
}
.pad {
    padding-right: 0px;
    padding-left: 5px;
    width: 100%;
}

.box-list {
    width: 85%;
}

.box-list-bot {
    width: 85%;
}

.pal {
    left: -5px;
}

.s-b {
    left: 38px;
}

.cuadro-box-pro {
    height: 399px;
}

.s-b-2 {
    left: 138px;
}

.product-price {
    left: 123px;
}

}



@media (max-width: 414px){
    .s-b-2 {
    left: 52px;
}

.up {
    left: 125px;
}

.product-price {
    left: 86px;
}

.img-1 {
    width: 51%;
    margin-top: -75px;
    height: 194px;
}

.cuadro-box-pro {
    height: 410px;
}

    .pal {
    left: 5px;
}

.box-det {
    height: 800px;
}

}

@media (max-width: 375px){
    .s-b-2 {
    left: 44px;
}

.up {
    left: 110px;
}

.product-price {
    left: 72px;
}

.img-1 {
    width: 62%;
    margin-top: -68px;
    height: 208px;
}

.cuadro-box-pro {
    height: 434px;
}

.box-det {
    height: 850px;
}

}

@media (max-width: 360px){
    .img-1 {
    width: 55%;
    margin-top: -44px;
    height: 180px;
}

}


@media (max-width: 320px){
    .box-det {
    height: 850px;
    margin-bottom: 50px;
    left: -10px;
    width: 106%;
}

.img_prod_detail {
    width: 70%;
    left: 0px;
    top: 32px;
}

hr.detal {
    left: -114px;
    width: 17%;
}

.pal-2 {
    left: -37px;
}

.product-price-2 {
    left: 16px;
}

.btn-success {
    width: 64%;
    left: 0px;
    top: -83px;
}

.s-b-2 {
    left: 33px;
}

.up {
    left: 92px;
}

.product-price {
    left: 66px;
}


.img-1 {
    width: 57%;
    margin-top: -41px;
    height: 163px;
}

}
