#footer {
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
    background-color: #7184A4;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(153, 153, 153, 0.38);
    width:99%;
}

.ul-1{
    font-size: 22px;
    color: #555;
    font-weight: 400;
    width: 110%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas{
    font-weight: 600;
    font-size: 17px;
    color: gray;
}

.inform-comerc{
    width: 100%;
    position: relative;
    left: 120px;
    z-index: 1030;
}


.inform-comerc-2{
    margin-left: 22px;
    width: 100%;
}

.ul-2{
    font-weight: 500;
    color: white;
    font-size: 14px;
    text-align: left;
    margin-bottom: 19px;
    font-family: 'Alegreya SC', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas-2{
    text-align:left;
    margin-left: -3px;
    width: 100%;
    color: white;
    font-size: 14px;
    margin-bottom: -11px;
    font-family: 'Alegreya SC', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

.pas-3{
    text-align: left;
    color: white;
    float: left;
    top: 0px;
    position: relative;
    left: 23px;
    font-size: 15px;
    font-family: 'Alegreya SC', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas-4{
    color: white;
    font-size: 14px;
    text-align:left;
    margin-bottom: -10px;
    font-family: 'Alegreya SC', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


.no-dot {
    position: relative;
    left: 0px;
    width: 68%;
    margin-bottom: 41px;
    padding: 4px;
    z-index: 1030;
    /* margin-top: 29px; */
    margin-top: 0px;
}

.no-doti{
    position: relative;
    left: -27px;
    width: 132%;
    margin-bottom: 45px;
}

a.a-footer{
  color:#C1A979;
}


.footer-ul{
    color: white !important;
    margin-bottom: 3px;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Alegreya Sans', sans-serif;
}



.iconos-header {
    height: 28px;
    width: 31px;
    /* float: left; */
    margin-top: 9px;
    margin-bottom: -29px;
    object-fit: scale-down;
    right: 22px;
    position: relative;
}

.caja-contenedora {
/*    height: 51px;
    float: left;
    margin-bottom: -10px;*/
    height: 51px;
    /* width: 300px; */
    /* float: left; */
    /* margin-top: -7px; */
    margin-bottom: -36px;
    /* left: 16px; */
    /* position: relative; */

}

.der{
    position: relative;
    left: 116px;
    width: 93%;
}

.ul-red{
    font-weight: 500;
    color: white;
    font-size: 14px;
    text-align: left;
    position: relative;
    left: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Alegreya SC', serif;
}


/*.border-right{
    border-right: 1px solid #fff;
    height: 140px;
    margin-top: -143px;
}

.border-right-2{
    border-right: 1px solid #fff;
    height: 140px;
    margin-top: -65px;
}
*/
/*.border-right-3{
    border-right: 1px solid #fff;
    height: 140px;
    margin-top: -165px;
}*/

.sep{
   margin-top:10px;
}

div.image-upload.fo {
    position: absolute;
    left: 99px;
    z-index: 100000;
    float: right;
}


.borde-uno{
    border-right: 1px solid #fff;
    margin-top: 40px;
  /*  height: 152px;*/
}

.borde-dos{
    border-right: 1px solid #fff;
    margin-top: 40px; 
 /*   height:152px;*/
}

/*----------------------------------------------Responsive-----------------------------------*/
@media (max-width: 1271px){
/*.no-dot {
    position: relative;
    left: -27px;
    width: 103%;
}
*/
.no-doti {
    position: relative;
    left: -36px;
    width: 144%;
}

}

@media (max-width: 1226px){
    .der {
    position: relative;
    left: 116px;
    width: 90%;
}

}

@media (max-width: 1199px){
    .pas-3 {
    text-align: left;
    font-size: 15px;
    color: white;
    float: left;
    top: 0px;
    position: relative;
    left: 15px;
}

.inform-comerc {
    width: 100%;
    position: relative;
    left: 57px;
    z-index: 1030;
}

}


@media (max-width: 1147px){
/*.inform-comerc {
    width: 100%;
    position: relative;
    left: 56px;
}*/

}

@media (max-width: 1110px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 132%;
}

}

@media (max-width: 1060px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 135%;
}

}


@media (max-width: 1038px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 140%;
}

}


@media (max-width: 1000px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 155%;
}

.der {
    position: relative;
    left: 116px;
    width: 85%;
}

}

@media (max-width: 991px){
.no-doti {
    position: relative;
    left: -36px;
    width: 130%;
}

.no-dot {
    position: relative;
    left: 0px;
    margin-bottom: 45px;
    padding: 4px;
    z-index: 1030;
    width: 100%;
}

.ul-2 {
    font-weight: 600;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 19px;
}
.inform-comerc {
    width: 100%;
    position: relative;
    left: 0px;
    z-index: 1030;
}

.pas-2 {
    text-align: center;
    margin-left: -3px;
    width: 100%;
    color: white;
    font-size: 13px;
}

.ul-red {
    font-weight: 600;
    color: white;
    font-size: 12px;
    text-align: center;
    position: relative;
    left: 0px;
}

.pas-3 {
    text-align: center;
    font-size: 15px;
    color: white;
    float: initial;
    top: -14px;
    position: relative;
    left: 0px;
}

.iconos-header {
     height: 40px;
    /* width: 160px; */
    float: initial;
    margin-top: 21px;
    margin-bottom: -30px;
    object-fit: scale-down;
    right: -158px;
    position: relative;
}

.caja-contenedora{
   float: initial;
   left: 66px;
   position: relative;
   margin-bottom: -5px;
}

.inform-comerc-2 {
    margin-left: 0px;
    width: 100%;
}

.der {
    position: relative;
    left: 0px;
    width: 100%;
}

.pas-4 {
    color: white;
    font-size: 13px;
    text-align: center;
}

.borde-uno{
    border-right: 1px solid transparent;
}

.borde-dos{
    border-right: 1px solid transparent;
}

}

@media (max-width: 798px){
 .caja-contenedora {
    float: initial;
    left: 45px;
    position: relative;
    margin-bottom: -5px;
}

}

@media (max-width: 767px){
.inform-comerc {
    width: 100%;
    position: relative;
    left: 0px;
    z-index: 2000000;
    text-align: center;
}

.inform-comerc-2 {
    margin-left: 0px;
    width: 100%;
    text-align: center;
}

.d-o {
    margin-right: 0px;
    position: relative;
    margin-left: 30px;
    width: 109%;
    top: 39px;
    left: 0px; 
    text-align: center;
}

.no-dot {
    margin-bottom: 45px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

.fot{
    text-align: center;
}

.fit{
    text-align: center;
}


.no-doti{
    left: 0px;
    text-align: center;
    width: 100%;
}

.pas-2 {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
}

.pas-3 {
    margin-left: 0px;
    width: 100%;
    text-align: center;
}

.ul-2 {
    text-align: center;
}

.pas-4 {
    text-align: center;
}

.ul-1 {
    font-size: 22px;
    color: #555;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas {
    font-weight: 600;
    font-size: 17px;
    color: gray;
    text-align: center;
    width: 94%;
}

.caja-contenedora{
    margin-bottom: -5px;
    left: 270px;
    display: inline-block;
}

.iconos-header{
   right: -10px;
    height: 33px;
}

.borde-uno{
    border-right: 1px solid transparent;
}

.borde-dos{
    border-right: 1px solid transparent;
}

.col-xs-4.gy{
    width: 8.333333%;
}

}

@media (max-width: 700px){

  .mar{
    margin-bottom: -42px;
  }

  .mir{
    margin-top: -42px;
  }

  .sep {
    margin-top: 0px;
   }

   .borde-uno{
    border-right: 1px solid transparent;
   }

   .borde-dos{
    border-right: 1px solid transparent;
   }

   .caja-contenedora {
    margin-bottom: -5px;
    left: 243px;
    display: inline-block;
}

}

@media (max-width: 600px){
    .caja-contenedora {
    margin-bottom: -5px;
    left: 195px;
    display: inline-block;
}

}

@media (max-width: 500px){
.caja-contenedora {
    margin-bottom: -5px;
    left: 148px;
    display: inline-block;
}

}

@media (max-width: 470px){
.caja-contenedora {
    margin-bottom: -5px;
    left: 116px;
    display: inline-block;
}

.col-xs-4.gy {
    width: 16.333333%;
}

}

@media (max-width: 430px){
    .caja-contenedora {
    margin-bottom: -5px;
    left: 101px;
    display: inline-block;
}

}

@media (max-width: 414px){
    .no-doti {
    left: 0px;
    text-align: center;
    width: 90%;
}

.no-dot {
    margin-bottom:-17px !important;
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

.caja-contenedora {
    margin-bottom: 0px;
}
.iconos-header {
    margin-top: -11px;
}
.ul-2 {
    text-align: center;
    margin-top: -34px;
    margin-bottom: 11px;
}

.pas-4 {
    text-align: center;
    line-height: 27px;
}
.fit {
    text-align: center;
    margin-top: -52px;
}

.mi{
   margin-bottom: 45px;
}

.borde-dos {
    margin-top: 13px;
}

}

@media (max-width: 400px){
    .caja-contenedora {
    margin-bottom: -5px;
    left: 92px;
    display: inline-block;
}

}

@media (max-width: 375px){
    .caja-contenedora {
    margin-bottom: -5px;
    left: 88px;
    display: inline-block;
}

}

@media (max-width: 360px){
    .caja-contenedora {
    margin-bottom: -5px;
    left: 82px;
    display: inline-block;
}

}

@media (max-width: 320px){
.no-doti {
    left: 0px;
    text-align: center;
    width: 86%;
}

    .caja-contenedora {
    margin-bottom: -5px;
    left: 66px;
    display: inline-block;
}


}
