.text-cont {
    margin-top: 40px;
    border-bottom: 1px solid #7184A4;
    text-transform: uppercase;
    color: #7184A4;
    padding-left: 20px;
   font-size: 24px;
}

.text-black {
    margin-top: 40px;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
}

.text-black-contenido {
    margin-top: -10px;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.text-black-contenido-2 {
    margin-top: 29px;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}