{% extends "../base.html" %}

{% block title %}
    {{ site.name }}
{% end %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
<link rel="stylesheet" type="text/css" href="{{ site_base }}/static/Swiper-3.4.2/dist/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="{{ site_base }}/static/css/sc.css">

{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/product_detail.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/swiper.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/Swiper-3.4.2/dist/js/swiper.min.js"></script>

<script type="text/javascript">
  $(document).ready(function()
  {

    $(".mobile2").css("display", "none");

    $(document).on("click", ".bars", function()
    {

      $(".mobile2").toggle("slow");

    });
  });
</script>

<script type="text/javascript">
    $(document).ready(function()
    {

        // $(document).on("click", "#open-cart", function()
        // {
        //     console.log($("#total").html());
        // });
    });
</script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script type='text/javascript'>
    $("#testButton").live("touchstart", function() {
      $(this).addClass("active");
    }).live("touchend", function() {
      $(this).removeClass("active");
    });
</script>

<script type="text/javascript">

    $(document).ready(function()
    {

        console.log("asdfasdf");

        $(document).on("click", ".main-1", function()
        {
            $(".img_prod_little").css("border", "none");
            $(this).children().css("border","solid 1px orange");

        });

        var base_url = $.environmentVar(
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/');
    var checkout_url = $.environmentVar(
        'https://pay.loadingplay.com',
        'https://pay.loadingplay.com',
        'https://pay.loadingplay.com');
        var app_public = $.environmentVar(53,53,53);
        var site_name = $.environmentVar('placare', 'placare', 'placare');
        var variants_loaded = false;

        var options = {
            'app_public' : app_public,
            'base_url' : base_url,
            'checkout_url': checkout_url,
            'product_id' : {{ product_id }},
            'site_name': site_name,
            'variants': {
                'product_sku': '',
                'container': '.variants-container',
                'variant_template': '<div class="col-md-12 mover">{{! values }}</div>',
                'value_template': '\
                    <div \
                        class="col-md-4 col-sm-4 col-xs-4 size-item \
                            tallas variant-value btn-disabled" variant="{{! variant_name }}"\
                        value="{{! value }}" in_stock={{! in_stock }}>\
                        <span class="size-buttons-size-strike-show"></span>\
                            <div class="num-tal">{{! value }}</div>\
                    </div>',
                'active_class': 'active'
            }, onLoad: function(product)
            {
                //PARCHE ESTUPIDO!!!!!!!

                $(".up-ex").each(function()
                {
                    var titulo = $(this).html().replace("_"," ");
                    $(this).html(titulo);
                });

                //PARCHE ESTUPIDO!!!!!!!!

                var titulo = $(".up-ex-detalle").html().replace("_"," ");

                $(".up-ex-detalle").html(titulo);

                // check if variants were triggered
                if (variants_loaded)
                {
                    return;
                }
                // add some settings
                options.variants.product_sku = product.sku;

                // load variants
                $('.product-detail').ecommerce('load_variants', options);

                $('.variants-container').on(
                    'combination:selected', function(e, d, in_stock)
                    {
                        if (in_stock)
                        {
                            $('.add-to-cart').attr('product-combination', d);
                            $('.add-to-cart').removeAttr('disabled');

                        }
                        else{
                            $('.add-to-cart').removeAttr('product-combination');
                            $('.add-to-cart').attr('disabled', true);
                        }
                    });

                variants_loaded = true;  // execute this onces
                options.onLoad = $.noop;

                // inicialización del codigo de las im

                var res = [];

                for( i in product.tags)
                {
                    if(product.tags[i].name.search("mat") != -1)
                    {
                        res.push(product.tags[i].name);
                    }
                }

                related(res.toString());
                related_random("Poliuretano");
                related2(res.toString());

                var mainImage = $("#mainImage");
                $(".img-container img").click(function(){
                     var src = $(this).attr("src");
                     $(".img_prod_detail").attr("src",src);
                 });

                mainImage.on("click",function(){
                    $(this).css("transform","scale(1.1)");
                });


                var main = $(".descuento-detalle").attr("main-price");
                var promotion = $(".descuento-detalle").attr("promotion-price");

                var promo = Utils.money(promotion);
                var original = Utils.money(main);

                if(promotion > 0)
                {
                    var resta = Math.trunc((main - promotion)*100/main);
                    $(".descuento-detalle").removeClass("hidden");
                    $(".descuento-detalle").html("("+resta+"% OFF)");
                    $('.show-on-promotion').removeClass('show-on-promotion');
                    $(".precio-oferta").html(promo);
                    $(".car").attr("product-price", promotion);
                    $(".car-2").attr("product-price", promotion);
                }
                else
                {
                    $(".descuento-detalle").addClass("hidden");
                    $(".hide-on-promotion").removeClass("hidden");
                    $(".original-de").addClass("hidden");

                    $(".precio-oferta").html(original);
                    $(".oferta-de").css("color","#696e79");
                }

                var swiper = new Swiper('.swiper-container', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    spaceBetween: 30,
                });

                $(".carousel").on("touchstart", function(event){
                    var xClick = event.originalEvent.touches[0].pageX;
                    $(this).one("touchmove", function(event){
                        var xMove = event.originalEvent.touches[0].pageX;
                        if( Math.floor(xClick - xMove) > 5 ){
                            $(".carousel").carousel('next');
                        }
                        else if( Math.floor(xClick - xMove) < -5 ){
                            $(".carousel").carousel('prev');
                        }
                    });
                    $(".carousel").on("touchend", function(){
                        $(this).off("touchmove");
                    });
                });

                // EXCLUSIVO PARA PLACARE
                $("title").html(product.bullet_2);
                $("meta[name=description]").attr("content", product.bullet_3);
            }
        };

        $('.product-detail').ecommerce('product_detail', options);
        $('.product-detail').on(
            'variants_stock_loaded', 
            function(e, d)
            {
                for (var p in d)
                {
                    if(d[p] !== 0)
                    {
                        var l = p.split("-");
                        var last = l[l.length-1];

                        $("[value="+ last +"]").removeClass("btn-disabled");
                        $("[value="+ last +"]").children("span").remove();

                        console.log(p+" = "+d[p]);
                    }
                }
            });

        // productos relacionados
        var related = function(tag)
        {
            var config = {
                'app_public' : app_public,
                'base_url' : base_url,
                'maxProducts' : 6,
                'templateOrigin' : '#product_template_home',
                'tag' : tag,
                'ignore_stock' : true,
                'onLoad':function(){
                    // $('.ellipsis').ellipsis();
                    // $(".ellipsis").dotdotdot();
                 }
            };
            $('.product-related').ecommerce('product_box', config);
        };

        var related_random = function(tag)
        {
            var config = {
                'app_public' : app_public,
                'base_url' : base_url,
                'maxProducts' : 6,
                'templateOrigin' : '#product_template_home',
                'tag' : tag,
                'ignore_stock' : true,
                'onLoad':function(){
                    // $('.ellipsis').ellipsis();
                    // $(".ellipsis").dotdotdot();
                 }
            };
            $('.product-random').ecommerce('product_box', config);
        };

        var related2 = function(tag)
        {
            var config = {
                'app_public' : app_public,
                'base_url' : base_url,
                'maxProducts' : 6,
                'templateOrigin' : '#product_template_home2',
                'tag' : tag,
                'ignore_stock' : true,
                'onLoad':function(){
                    // $('.ellipsis').ellipsis();
                    // $(".ellipsis").dotdotdot();

                 }
            };
            $('.product-related2').ecommerce('product_box', config);
        };

    });

</script>

 <script type="text/javascript">
    $('ul.nav div.dropdown').hover(function() 
    {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() 
    {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>

<script type="text/javascript">
    $(document).ready(function()
    {

        $(document).on("click", ".boton-news", function()
        {
            console.log("aaaa");
            $(this).html("ESPERE");
            if($(this).hasClass("sus"))
            {
                $("input[name=SingleLine]").val("Mujer");
            }
            if($(this).hasClass("sus-h"))
            {
                $("input[name=SingleLine]").val("Hombre");
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#formid').on('keyup keypress', function(e)
        {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13)
            {
                e.preventDefault();
                return false;
            }
        });
    });
</script>

<script type="text/template" id="product_detail">
    <section>
        <div style="position: relative;">
            <img src="{{! images[1]['thumb_500'] }}" title="" alt="" class="fondo-detalle-producto">
            <div class="container">
            </div>
        </div>
    </section>

    <section class="hidden-xs">
       <div class="container min">
        <div class="col-md-6 col-sm-6 col-xs-12">

            <div class="texto-header-pro texto-ruta-detalle">{{! bullet_1 }}</div>

        </div>
        </div>
    </section>



           <section>
                  <div class=" hidden-lg hidden-sm hidden-md visible-xs">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div align="center">
                        <div id="mainDiv">
                           <div class="col-xs-12 main-img-container main">
                              <img id='mainImage' class="img_prod_detail" src="{{! images[1]['thumb_500'] }}"/>
                           </div>
                        </div>
                        </div>
                        <div class="col-xs-12 col-md-2 col-sm-3 cre">
                         <div class="img-container main-1 index">
                            <img class="{{! images[1]['thumb_500']|hide_if_empty}} col-xs-3 img_prod_little uno" src="{{! images[1]['thumb_500'] }}" onload="this.onload='';this.src={{! images[1]['thumb_500']}}" />
                         </div>
                        <div class="img-container main-1 index">
                            <img class="{{! images[2]['thumb_500']|hide_if_empty}} col-xs-3 img_prod_little" src="{{! images[2]['thumb_500'] }}" onload="this.onload='';this.src={{! images[2]['thumb_500']}}" />
                         </div>

                          <div class="img-container main-1 index">
                            <img class="{{! images[3]['thumb_500']|hide_if_empty }} col-xs-3  img_prod_little" src="{{! images[3]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[3]['thumb_500']}}" />
                          </div>

                          <div class="img-container main-1 index">
                               <img class="{{! images[4]['thumb_500']|hide_if_empty }} col-xs-3  img_prod_little" src="{{! images[4]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[4]['thumb_500']}}" />
                          </div>

                          <div class="img-container main-1 index">
                             <img class="{{! images[5]['thumb_500']|hide_if_empty }} col-xs-3  img_prod_little" src="{{! images[5]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[5]['thumb_500']}}" />
                         </div>

                         <div class="img-container main-1 index">
                             <img class="{{! images[6]['thumb_500']|hide_if_empty }} col-xs-3  img_prod_little" src="{{! images[6]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[6]['thumb_500']}}" />
                         </div>
                         </div>
                    </div>

                    <div id="product-detail-id" class="col-md-6 col-sm-12 col-xs-12 dir visible-xs hidden-md hidden-lg hidden-sm">
                        <div align="center">
                            <h1 class="name texto-detalle" class="line" href="#">{{! name }}</h1>
                            <div class="up-ex-detalle ellipsis multiline"> {{! brand }}</div>
                            <div class="product-price original-de show-on-promotion" promotion_price="{{! promotion_price }}" > {{! main_price|money }} </div>
                            <div class="descuento-detalle" main-price="{{! main_price }}" promotion-price="{{! promotion_price }}">{{! main_price }}</div>
                            <div class="product-price oferta-de hide-on-promotion hidden" promotion-price="{{! promotion_price }}"> {{! main_price|money }} </div>
                            <div class="precio-oferta-movil product-price oferta-de show-on-promotion" promotion-price="{{! promotion_price }}" > {{! promotion_price|money }} </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md hidden-sm visible-xs">
                                <div class="linea-solin"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md hidden-sm hidden-xs">
                                <div class="linea-separacion-movil"></div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="linea-separacion hidden-xs"> </div>
                            </div>

                            <div class="col-md-6 col-sm-8 col-xs-8">
                                 <div class="nombre-talla">SELECCIONAR NÚMERO</div>
                            </div>
                            <div class="col-md-6 col-sm-4 col-xs-4">
                                 <a href="" class="talla" data-toggle="modal" data-target="#myModal-talla"> No sabes tu talla?</a>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 cre">
                                  <div class="col-md-12 mover variants-container">
                                            <!-- <div class="col-md-4 col-sm-4 col-xs-4 size-item tallas">
                                                <div class="num-tal"> 36</div>
                                                
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 size-item tallas" size="">
                                                <div class="num-tal"> 37</div>
                                                
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 size-item tallas" size="">
                                                <div class="num-tal"> 38</div>
                                               
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 size-item tallas" size="">
                                                <div class="num-tal"> 39</div>
                                              
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 size-item tallas" size="">
                                                <div class="num-tal"> 40</div>
                                                
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 size-item tallas" size="">
                                                <div class="num-tal"> 41</div>
                                                
                                            </div> -->
                                    </div>
                             </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs visible-sm visible-lg visible-md">
                            <button
                                type="button"
                                class="btn add-to-cart btn-success car"
                                id="open-cart"
                                data-toggle="modal"
                                data-target="#myModal"
                                product-upp="{{! upp }}"
                                product-name="{{! name }}"
                                product-price="{{! main_price }}"
                                product-sku="{{! sku }}"
                                product-id="{{! id }}"
                                product-img="{{! images[1]['thumb_500'] }}"
                                lp-cart-add
                                disabled >
                                AGREGAR AL CARRO <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </button>

                            <button
                                type="button"
                                class="btn add-to-cart btn-success car-2"
                                id="open-cart"
                                data-toggle="modal"
                                data-target="#myModal"
                                product-upp="{{! upp }}"
                                product-name="{{! name }}"
                                product-price="{{! main_price }}"
                                product-sku="{{! sku }}"
                                product-id="{{! id }}"
                                product-img="{{! images[1]['thumb_500'] }}"
                                lp-cart-add
                                disabled >
                                COMPRAR AHORA <i class="fa fa-angle-right lis" aria-hidden="true"></i>
                            </button>
                             </div>

                             <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="linea-separacion-2"> </div>
                            </div>

                            <div align="center">
                            <h3 class="descr_prod_detail ellipsis multiline visible-sm visible-md visible-lg hidden-xs">
                            {{! description }}</h3>
                            <div class="container hidden-md hidden-sm hidden-lg visible-xs">
                                 <button type="button" class="btn btn-info" data-target="#demo">Descripción del producto</button>
                            <div id="demo" class="">
                            <h3 class="descr_prod_detail ellipsis multiline">
                            {{! description }}</h3>

                            </div>
                            </div>
                             <div class="opciones-compra">Opciones de compra</div>
                            <div class="texto-com visible-xs visible-md visible-lg visible-sm">Envíos a todo Chile mediante Chilexpress / Correos de Chile. <br> Cambios y Devoluciones Gratis. <br> 15 días para cambios / Garantía de Satisfacción. <br>  Pago mediante Webpay (Tarjeta Débito / Crédito) o Transferencia Electrónica.</div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="linea-separacion-3 hidden-xs"> </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 visible-xs-xs hidden-sm hidden-lg hidden-md">
                            <div class="resis hidden-lg hidden-md hidden-sm visible-xs">
                            <button
                                type="button"
                                class="btn add-to-cart btn-success car"
                                id="open-cart"
                                data-toggle="modal"
                                data-target="#myModal"
                                product-upp="{{! upp }}"
                                product-name="{{! name }}"
                                product-price="{{! main_price }}"
                                product-sku="{{! sku }}"
                                product-id="{{! id }}"
                                product-img="{{! images[1]['thumb_500'] }}"
                                lp-cart-add
                                disabled>
                                    AGREGAR AL CARRO <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </button>

                            <button
                                type="button"
                                class="btn add-to-cart btn-success car-2"
                                id="open-cart"
                                data-toggle="modal"
                                data-target="#myModal"
                                product-upp="{{! upp }}"
                                product-name="{{! name }}"
                                product-price="{{! main_price }}"
                                product-sku="{{! sku }}"
                                product-id="{{! id }}"
                                product-img="{{! images[1]['thumb_500'] }}"
                                lp-cart-add
                                disabled >
                                    COMPRAR AHORA <i class="fa fa-angle-right lis" aria-hidden="true"></i>
                            </button>
                            </div>
                             </div>

                        </div>
            </section>

    <div class="container min">
        <div class="container-fluid">
        </div>
        <div class="clearfix-fun-2"></div>
        <div class="container-fluid">
            <div class="col-md-12 col-sm-12 din">
                <div class="box-det">
                    <div class="col-md-6 col-sm-6 col-xs-12 hidden-xs visible-md visible-lg visible-sm">
                        <div class="col-xs-3 col-md-2 col-sm-3">

                         <div class="img-container main-1 index">
                            <img class="{{! images[1]['thumb_500']|hide_if_empty}} col-xs-3 img_prod_little uno" src="{{! images[1]['thumb_500'] }}" onload="this.onload='';this.src={{! images[1]['thumb_500']}}" />
                         </div>
                        <div class="img-container main-1 index">
                            <img class="{{! images[2]['thumb_500']|hide_if_empty}} col-xs-3 img_prod_little" src="{{! images[2]['thumb_500'] }}" onload="this.onload='';this.src={{! images[2]['thumb_500']}}" />
                         </div>

                          <div class="img-container main-1 index">
                            <img class="{{! images[3]['thumb_500']|hide_if_empty }} col-xs-3  img_prod_little" src="{{! images[3]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[3]['thumb_500']}}" />
                          </div>

                          <div class="img-container main-1 index">
                               <img class="{{! images[4]['thumb_500']|hide_if_empty }} col-xs-3  img_prod_little" src="{{! images[4]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[4]['thumb_500']}}" />
                          </div>

                          <div class="img-container main-1 index">
                             <img class="{{! images[5]['thumb_500']|hide_if_empty }} col-xs-3  img_prod_little" src="{{! images[5]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[5]['thumb_500']}}" />
                         </div>

                         <div class="img-container main-1 index">
                             <img class="{{! images[6]['thumb_500']|hide_if_empty }} col-xs-3  img_prod_little" src="{{! images[6]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[6]['thumb_500']}}" />
                         </div>
                        </div>

                        <div align="center">
                        <div id="mainDiv">
                           <div class="main-img-container main">
                              <img id='mainImage' class="img_prod_detail" src="{{! images[1]['thumb_500'] }}"/>
                           </div>
                        </div>
                        </div>
                        <div align="center">
                           <h1 class="name  sku-detalle" class="line">SKU Producto &nbsp:&nbsp {{! sku }}</h1>
                        </div>
                    </div>



                    <div id="product-detail-id" class="col-md-6 col-sm-12 col-xs-12 dir hidden-xs">
                        <div align="center">
                            <h1 class="name texto-detalle" class="line" href="#">{{! name }}</h1>
                            <div class="up-ex-detalle ellipsis multiline"> {{! brand }}</div>
                            <div class="product-price product-price-2 original-de"> {{! main_price|money }}</div>
                            <div class="descuento-detalle" main-price="{{! main_price }}" promotion-price="{{! promotion_price }}"></div>
                            <div class="product-price precio-oferta oferta-de"> {{! promotion_price|money }}</div>
                             <div class="col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md hidden-sm visible-xs">
                                <div class="linea-separacion-movil"> </div>
                            </div>


                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="linea-separacion hidden-xs"> </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                 <div class="nombre-talla">SELECCIONAR UNA TALLA</div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                 <a href="" class="talla" data-toggle="modal" data-target="#myModal-talla"> No sabes tu talla?</a>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 variants-container">
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs visible-sm visible-lg visible-md">
                            <button
                                type="button"
                                class="btn add-to-cart btn-success car"
                                id="open-cart"
                                data-toggle="modal"
                                data-target="#myModal"
                                product-upp="{{! upp }}"
                                product-name="{{! name }}"
                                product-price="{{! main_price }}"
                                product-sku="{{! sku }}"
                                product-id="{{! id }}"
                                product-img="{{! images[1]['thumb_500'] }}"
                                lp-cart-add
                                disabled>
                                    AGREGAR AL CARRO <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </button>

                            <button
                                type="button"
                                class="btn add-to-cart btn-success car-2"
                                id="open-cart"
                                data-toggle="modal"
                                data-target="#myModal"
                                product-upp="{{! upp }}"
                                product-name="{{! name }}"
                                product-price="{{! main_price }}"
                                product-sku="{{! sku }}"
                                product-id="{{! id }}"
                                product-img="{{! images[1]['thumb_500'] }}"
                                lp-cart-add
                                disabled>
                                    COMPRAR AHORA <i class="fa fa-angle-right lis" aria-hidden="true"></i>
                            </button>
                             </div>

                             <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="linea-separacion-2"> </div>
                            </div>

                            <div align="center">
                            <h3 class="desi visible-sm visible-md visible-lg hidden-xs">
                            Descripción del producto</h3>
                            <h3 class="descr_prod_detail ellipsis multiline visible-sm visible-md visible-lg hidden-xs">
                            {{! description }}</h3>
<!--                        <h3 class="material ellipsis multiline visible-sm visible-md visible-lg hidden-xs">
                            </h3> -->
                            <div class="standar visible-xs visible-md visible-lg visible-sm">Opciones de Compra </div>
                            <div class="texto-com visible-xs visible-md visible-lg visible-sm">Envíos a todo Chile mediante Chilexpress / Correos de Chile. <br> Cambios y Devoluciones Gratis. <br> 15 días para cambios / Garantía de Satisfacción. <br>  Pago mediante Webpay (Tarjeta Débito / Crédito) o Transferencia Electrónica.</div>
                            <div class="container hidden-md hidden-sm hidden-lg visible-xs">
                                 <button type="button" class="btn btn-info" data-target="#demo">Detalle de producto <i class="fa fa-plus" aria-hidden="true"></i> </button>
                            <div id="demo" class="">
                            <h3 class="descr_prod_detail ellipsis multiline">
                            {{! description }}</h3>
                            <h3 class="medidas ellipsis multiline">
                            {{! bullet_1 }}</h3>

                            </div>
                            </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="linea-separacion-3 hidden-xs"> </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 visible-xs-xs hidden-sm hidden-lg hidden-md">
                            <div class="resis hidden-lg hidden-md hidden-sm visible-xs">
                            <button
                                type="button"
                                class="btn add-to-cart btn-success car"
                                id="open-cart"
                                data-toggle="modal"
                                data-target="#myModal"
                                product-upp="{{! upp }}"
                                product-name="{{! name }}"
                                product-price="{{! main_price }}"
                                product-sku="{{! sku }}"
                                product-id="{{! id }}"
                                product-img="{{! images[1]['thumb_500'] }}"
                                lp-cart-add
                                disabled>
                                    AGREGAR AL CARRO <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </button>

                            <button
                                type="button"
                                class="btn add-to-cart btn-success car-2"
                                id="open-cart"
                                data-toggle="modal"
                                data-target="#myModal"
                                product-upp="{{! upp }}"
                                product-name="{{! name }}"
                                product-price="{{! main_price }}"
                                product-sku="{{! sku }}"
                                product-id="{{! id }}"
                                product-img="{{! images[1]['thumb_500'] }}"
                                lp-cart-add
                                disabled>
                                    COMPRAR AHORA <i class="fa fa-angle-right lis" aria-hidden="true"></i>
                            </button>
                            </div>
                             </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</script>


<!--
{% end %} -->



{% block body %}


<div class="" style="height:435px;display:block;margin:auto auto 0 auto;"></div>
<div class="container-fluid">

    <div class="container product-page"></div>

    </div>

</div>


<div class="product-detail"></div>

<div class="col-md-6 col-sm-6 col-sm-offset-1 col-md-offset-6 is hidden">
  <div class="op {{editabletext}}" text-id="{{ site.name + '_ter_cin_servi' }}"> {{ read_text(site.name +  '_ter_cin_servi') }}</div>
  <div class="op {{editabletext}}" text-id="{{ site.name + '_ter_cin_servi_2' }}"> {{ read_text(site.name +  '_ter_cin_servi_2') }}</div>
  <div class="op {{editabletext}}" text-id="{{ site.name + '_ter_cin_servi_3' }}"> {{ read_text(site.name +  '_ter_cin_servi_3') }}</div>
  <div class="op {{editabletext}}" text-id="{{ site.name + '_ter_cin_servi_4' }}"> {{ read_text(site.name +  '_ter_cin_servi_4') }}</div>
  <div class="op {{editabletext}}" text-id="{{ site.name + '_ter_cin_servi_5' }}"> {{ read_text(site.name +  '_ter_cin_servi_5') }}</div>

</div>

<!-- ***productos relacionados** -->
<!-- <hr class="detail">
<div class="container dano">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-relac text-center"><strong class="editabletext">Productos relacionados</strong></h1>
            <hr class="lin">
        </div>
    </div>
    <div class="row product-related">
    </div>
</div> -->

<div class="space80"></div>

<!-- <br> Despachos a todo chile <br> Paga con RedCompra, Tarjeta de Crédito o Transferencia Electrónica. <br> Cambios y Devoluciones sin costo. 10 dias para cambiar tu producto. 
 -->

<section>
<div class="container min dip">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <hr class="lon">
            <div class="text-relac text-center {{editabletext}}" text-id="{{ site.name + '_pro_relacionados' }}"> {{ read_text(site.name +  '_pro_relacionados') }}</div>
        </div>
        
    <div class="product-related">

    </div>
    <br/>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <hr class="lon hidden-xs hidden-sm">
        <div class="text-relac separacion-movil text-center {{editabletext}}" text-id="{{ site.name + '_pro_relacionados_2' }}"> {{ read_text(site.name +  '_pro_relacionados_2') }}</div>
    </div>
    <div class="product-random">

    </div>
    <div class="swiper-container hidden-lg">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper product-related2">

        </div>
        <!-- <div class="swiper-pagination"></div> -->

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

</section>
<div style="margin-bottom:45px;"></div>



{% include '../home/footer.html' %}
{% end %}
