<div class="container">
<div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="top-header-home">
            <div class="logo-div-home">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
            <label for="img_header">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}header" name="image" id="img_header"/>
            </div>
            {% end %}
            <a href="{{ site_base }}">
            <img id="{{ site.name }}header" src="{{ read_image(site.name + 'header', 1) }}" onload="this.src='{{ read_image(site.name + 'header',) }}'" alt="item" class="logo-imagen desktop">
            </a>
           <!--  <img src="img/logo_2.png" class="logo"> -->
        <div class="logo-border"></div>
              <div class="header-desktop-menu menulist">
                <ul class="header-menu">
                  <li><a href="{{ site_base }}/quienes_somos">Quiénes somos</a></li>
                  <li><a href="{{ site_base }}/que_hacemos">Qué hacemos</a></li>
                  <li><a href="{{ site_base }}/educacion">Educación</a></li>
                  <li><a href="{{ site_base }}/arte_y_cultura">Arte y Cultura</a></li>
                 <!--  <li><a href="http://fundacionteraike2.lpe.cl/gallery/detail/galeria_de_fotos_de_el_evento_xyz/1886">Galeria</a></li> -->
                 <li><a href="http://www.fundacionteraike.cl/article/detail/primer_concurso_escolar_de_ilustracion_literaria/1906">Concurso </a></li>
                  <li><a href="{{ site_base }}/noticias">Noticias </a></li>
                  <li><a href="{{ site_base }}/galeria_de_fotos">Fotos</a></li>
                  <li><a href="{{ site_base }}/contacto">Contáctanos</a></li>
                </ul>
              </div>
              <div class="mobilemenu">
                <nav>
                  <a><i class="fa fa-bars fa-2x"></i></a>
                  <div class="why"> 
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil">
                    <label for="img_header">
                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}header" name="image" id="img_header"/>
                  </div>
                  {% end %}
                  <a href="{{ site_base }}">
                  <img id="{{ site.name }}header" src="{{ read_image(site.name + 'header', 1) }}" onload="this.src='{{ read_image(site.name + 'header',) }}'" alt="item" class="logo-imagen">
                  </a>
                </div>
                  <ul>
                    <li><a href="{{ site_base }}/quienes_somos">Quiénes somos</a></li>
                    <li><a href="{{ site_base }}/que_hacemos">Qué hacemos</a></li>
                    <li><a href="{{ site_base }}/educacion">Educación</a></li>
                    <li><a href="{{ site_base }}/arte_y_cultura">Arte y Cultura</a></li>
                    <!-- <li><a href="http://fundacionteraike2.lpe.cl/gallery/detail/galeria_de_fotos_de_el_evento_xyz/1886">Galeria</a></li> -->
                    <li><a href="http://www.fundacionteraike.cl/article/detail/primer_concurso_escolar_de_ilustracion_literaria/1906">Concurso </a></li>
                    <li><a href="{{ site_base }}/noticias">Noticias </a></li>
                    <li><a href="{{ site_base }}/galeria_de_fotos">Fotos</a></li>
                    <li><a href="{{ site_base }}/contacto">Contáctanos</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="banner-div-home">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
            <label for="img_banner">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}banner{{request.path.replace('/', '_')}}" name="image" id="img_banner"/>
            </div>
            {% end %}
            <img id="{{ site.name }}banner{{ request.path.replace('/', '_') }}" src="{{ read_image(site.name + 'banner' + request.path.replace('/', '_'), 1) }}" onload="this.src='{{ read_image(site.name + 'banner'+ request.path.replace('/', '_'),) }}'" alt="item">
              <div class="editable text_main text-left" text-id="{{ site.name + 'text_banner_header1' + request.path.replace('/', '_') }}">{{ read_text(site.name +  'text_banner_header1' + request.path.replace('/', '_')) }}</div>
              <div class="menu-icon">
                <a href="#!" class="menu-fonticon" id="hideshow"><i class="fa fa-bars icon hidden-lg hidden-sm hidden-md visible-xs"  aria-hidden="true"></i></a>
              </div>
        <div class="menu-text hidden-lg hidden-sm hidden-md">Menu</div>
            </div>
          </div>
        </div>
      </div>
</div>