{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% if is_admin %} 
{% set editabletext = 'editabletext' %} 
{% else %} 
{% set editabletext = '' %} 
{% end %}
{% include '../home/header.html' %}
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{site_base}}/static/js/script.js"></script>
<script>
  jQuery(document).ready(function(){
    jQuery('.menulist').toggle();
    jQuery('#hideshow').on('click', function(event) {
      event.preventDefault();
      jQuery('.menulist').toggle('hidde');
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).on("click", ".editablelink", function(ev){
      ev.preventDefault();
    });
  });
</script>
{% end %}

{% block css%}
<link rel="stylesheet" href="{{site_base}}/static/css/style.css" >
<link rel="stylesheet" href="{{site_base}}/static/css/responsive.css" >
{% end %}

{% block body %}
<div class="container">
<div class="clearfix" style="height: 40px"></div>
      <div class="row">
        <div class="col-md-12 col-lg-12 ">
          <div class="col-md-offset-2">
          <div class="banner-below-text text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_banner2' }}">{{ read_text(site.name +  'text_banner2') }}</div>
          </div>
        </div>
      </div>
	  
	  <div class="div">
      <div class="row">
        <div class="col-md-12 col-lg-12">
        <div class="col-md-4 col-lg-4 noticias-image image-overlay">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_side_banner2_1">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}side_banner2_1" name="image" id="img_side_banner2_1"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_1' }}" href="{{ read_link(site.name + '_side_banner2_1') }}">
              <img id="{{ site.name }}side_banner2_1" src="{{ read_image(site.name + 'side_banner2_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'side_banner2_1',) }}'" alt="item" class="image"> 

              <div class="overlay-full">
                
              </div>
           </a>
            <div class="text text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner2_1' }}">{{ read_text(site.name +  'text_side_banner2_1') }}</div>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_1' }}" content="{{ read_link(site.name + '_side_banner2_1') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}
          </div>

          <div class="col-md-4 col-lg-4 noticias-image image-overlay">
        
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_top_banner1">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}top_banner1" name="image" id="img_top_banner1"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_2' }}" href="{{ read_link(site.name + '_side_banner2_2') }}">
            <img id="{{ site.name }}top_banner1" src="{{ read_image(site.name + 'top_banner1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'top_banner1',) }}'" alt="item" class="image">
            <div class="overlay-full">
             
            </div>
            </a>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_2' }}" content="{{ read_link(site.name + '_side_banner2_2') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}

             <div class="text text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner_pe' }}">{{ read_text(site.name +  'text_side_banner_pe') }}</div>
          </div>



          <!-- ****box con hover***** -->
          <div class="col-md-4 col-lg-4 noticias-image image-overlay">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_side_banner2">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}side_banner2" name="image" id="img_side_banner2"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2' }}" href="{{ read_link(site.name + '_side_banner2') }}">
              <img id="{{ site.name }}side_banner2" src="{{ read_image(site.name + 'side_banner2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'side_banner2',) }}'" alt="item" class="image"> 

              <div class="overlay-full">
             
              </div>
           </a>
           {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2' }}" content="{{ read_link(site.name + '_side_banner2') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}
           <div class="text text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner2' }}">{{ read_text(site.name +  'text_side_banner2') }}</div>
          </div>
        </div>
      </div>
	  
      <div class="col-md-12 col-lg-12">
        <div class="home-bg">
          <div class="bg-text">
            <div class="bg-text2 text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_concursos' }}">{{ read_text(site.name +  'text_concursos') }}</div>
          </div>
          <div class="bg-button">
            <a id="{{ site.name + '_' }}" href="{{ read_link(site.name + '_grupo1') }}">
              VER MÁS
            </a>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_grupo1' }}" content="{{ read_link(site.name + '_grupo1') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 76px;z-index: 2000!important;left: 90%;"> 
            {% end %}
          </div>
        </div>
      </div>
	  
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="col-md-4 col-lg-4 noticias-image image-overlay">

            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_side_banner3">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}side_banner3" name="image" id="img_side_banner3"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_4' }}" href="{{ read_link(site.name + '_side_banner2_4') }}">
            <img id="{{ site.name }}side_banner3" src="{{ read_image(site.name + 'side_banner3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'side_banner3',) }}'" alt="item" class="image"> 

            <!-- <img src="img/gallery-image.png" class="image"> -->
			      <div class="overlay-full">
            </div>
            </a>

             <div class="text text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner3' }}">{{ read_text(site.name +  'text_side_banner3') }}</div>

            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_4' }}" content="{{ read_link(site.name + '_side_banner2_4') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}
          </div>
		  
		  
		  
	
          <div class="col-md-4 col-lg-4 noticias-image-half">
          <div class="noticias-image-half image-overlay">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_top_banner33">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}top_banner33" name="image" id="img_top_banner33"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_5' }}" href="{{ read_link(site.name + '_side_banner2_5') }}">
            <img id="{{ site.name }}top_banner33" src="{{ read_image(site.name + 'top_banner33', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'top_banner33',) }}'" alt="item" class="image">
            <div class="overlay-pe">
            </div>
            </a>
            <div class="text-conti">
              <div class="text-pe text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner_pe3' }}">{{ read_text(site.name +  'text_side_banner_pe3') }}</div>
            </div>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_5' }}" content="{{ read_link(site.name + '_side_banner2_5') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}
            </div>
            <div class="noticias-image-half image-overlay">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil lapicito">
              <label for="img_top_banner44">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}top_banner44" name="image" id="img_top_banner44"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_6' }}" href="{{ read_link(site.name + '_side_banner2_6') }}">
            <img id="{{ site.name }}top_banner44" src="{{ read_image(site.name + 'top_banner44', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'top_banner44',) }}'" alt="item" class="image">
            <div class="overlay-pe2">
            </div>
            </a>
            <div class="text-conti">
              <div class="text-pe text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner_pe2' }}">{{ read_text(site.name +  'text_side_banner_pe2') }}</div>
            </div>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_6' }}" content="{{ read_link(site.name + '_side_banner2_6') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 173px;z-index: 2000!important;"> 
            {% end %}
            </div>
          </div>
		  
		  
          <div class="col-md-4 col-lg-4 noticias-image image-overlay">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_side_banner4">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}side_banner4" name="image" id="img_side_banner4"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_7' }}" href="{{ read_link(site.name + '_side_banner2_7') }}">
            <img id="{{ site.name }}side_banner4" src="{{ read_image(site.name + 'side_banner4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'side_banner4',) }}'" alt="item" class="image">

            <div class="overlay-full">
            </div>
            </a>
            <div class="text-conti-2">
           <div class="text-pe text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner7' }}">{{ read_text(site.name +  'text_side_banner7') }}</div>
           </div>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_7' }}" content="{{ read_link(site.name + '_side_banner2_7') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}

          </div>
        </div>
      </div>
	  
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="col-md-4 col-lg-4 noticias-image-half image-overlay">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_side_banner5">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}side_banner5" name="image" id="img_side_banner5"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_8' }}" href="{{ read_link(site.name + '_side_banner2_8') }}">
            <img id="{{ site.name }}side_banner5" src="{{ read_image(site.name + 'side_banner5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'side_banner5',) }}'" alt="item" class="image">
            <div class="overlay">
            </div>
            </a>
            <div class="text-conti">
            <div class="text-pe text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner5' }}">{{ read_text(site.name +  'text_side_banner5') }}</div>
            </div>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_8' }}" content="{{ read_link(site.name + '_side_banner2_8') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}
          </div>
          <div class="col-md-4 col-lg-4 noticias-image-half image-overlay">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_side_banner6">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}side_banner6" name="image" id="img_side_banner6"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_9' }}" href="{{ read_link(site.name + '_side_banner2_9') }}">
            <img id="{{ site.name }}side_banner6" src="{{ read_image(site.name + 'side_banner6', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'side_banner6',) }}'" alt="item" class="image">
            <div class="overlay">
             
            </div>

            <div class="text-conti">
               <div class="text-pe text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner6' }}">{{ read_text(site.name +  'text_side_banner6') }}</div>
            </div>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_9' }}" content="{{ read_link(site.name + '_side_banner2_9') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}			
          </div>
          <div class="col-md-4 col-lg-4 noticias-image-half image-overlay">
            {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
              <label for="img_side_banner7">
              <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" />
              </label>
              <input type="file" class="editableimage" image-id="{{ site.name }}side_banner7" name="image" id="img_side_banner7"/>
            </div>
            {% end %}
            <a id="{{ site.name + '_side_banner2_10' }}" href="{{ read_link(site.name + '_side_banner2_10') }}">
            <img id="{{ site.name }}side_banner7" src="{{ read_image(site.name + 'side_banner7', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'side_banner7',) }}'" alt="item" class="image">
            <div class="overlay">
            </div>

            <div class="text-conti">
              <div class="text-pe text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_side_banner7' }}">{{ read_text(site.name +  'text_side_banner7') }}</div>
            </div>
            {% if is_admin %}
            <img class="change-image editablelink import" link-id="{{ site.name + '_side_banner2_10' }}" content="{{ read_link(site.name + '_side_banner2_10') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 0px;z-index: 2000!important;"> 
            {% end %}
          </div>
        </div>
      </div></div>
    </div>
{% include ../home/footer.html %}
{% end %}
