/************ menu chekout *************/
#order_step.orderStep li i {
  border-radius: 0;
  display: block;
  font-size: 20px;
  height: auto;
  left: 0;
  line-height: 40px;
  margin-top: -20px;
  padding: 0;
  text-align: center;
  width: auto;
  float: none !important;
}
#order_step.orderStep li span {
	padding: 5px 0;
}

#order_step.orderStep li {
  background: rgb(255, 224, 218);
}

#order_step.orderStep li {
  background: #EFF0F2;
  display: inline-block;
  font-size: 14px;
  height: 100%;
  line-height: normal;
  padding: 20px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 20%;
  text-transform: uppercase;
  font-size: 13px;
}

#order_step.orderStep li
{
  background: rgb(255, 224, 218);
}

#order_step.orderStep li i {
  background: rgba(0, 0, 0, 0.05);
}

#order_step.orderStep li.active {
  background: #FEBEBD;
  color: #FFFFFF;
}

.step-margin-top
{
  margin-top: 30px;
}
.hides {
  display: inline;
}
@media(max-width: 479px) {

  .hides {
    display: none;
  }
}



/************ menu chekout *************/