{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() 
{
      $('.font-menu').removeClass('active');
      $('.planes').addClass("active");

    // $("#OpenAlert").click();

    var base_url = $.environmentVar(
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/'
    );

    var checkout_url = $.environmentVar(
        'https://pay.loadingplay.com/',
        'https://pay.loadingplay.com/',
        'https://pay.loadingplay.com/'
    );
    var site_name = $.environmentVar('redukcal', 'redukcal', 'redukcal'); 

    $(document).ecommerce({
        'app_public' : app_public,
        'animation' : 'simple',
        'base_url' : base_url,
        'checkout_url' : checkout_url,
        'products_per_page' : 9
    });

    // var base_url = $.environmentVar(
    //     'https://apibodegas.loadingplay.com/',
    //     'https://apibodegas.loadingplay.com/',
    //     'https://apibodegas.loadingplay.com/');
    // var checkout_url = $.environmentVar(
    //     'https://pay.loadingplay.com',
    //     'https://pay.loadingplay.com',
    //     'https://pay.loadingplay.com');
    // var app_public = $.environmentVar(4, 4, 4);
    // var config = {
    //     'app_public': app_public,
    //     'base_url': base_url,
    //     'maxProducts': 6,
    //     'templateOrigin': '#product_template',
    //     'ignore_stock': true,
    //     'container': '.product-list',
    //     'onLoad': function()
    //     {
    //         // $('.ellipsis').ellipsis();
    //         // $(".ellipsis").dotdotdot();
    //     }
    // };

    // $(document).ecommerce(config);

    // destacado categoria 2
    // config.tag = 'destacado_categoria2';
    // $('.product-list2').ecommerce('product_box', config);
});
</script>
{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<section class="fondo-pro">
     <div class="container">
        <div class="col-md-12">
            <div align="center">
              <div class="box-p-2">
                 <span class="text-p-2 {{editabletext}}" text-id="{{ site.name + '_l+' }}"> {{ read_text(site.name +  '_l+') }}</span>
                 <span id="kilo" class="text-p-2"></span>
                 <span class="text-p-2 {{editabletext}}" text-id="{{ site.name + '_l2+' }}"> {{ read_text(site.name +  '_l2+') }}</span>
                     <hr class="p-2">
                         <div class="text-p-p-2 {{editabletext}}" text-id="{{ site.name + '_p_li' }}"> {{ read_text(site.name +  '_p_li') }} </div>
                </div>
            </div>
        </div>
    


      <div class="col-md-12">
            <div align="center">
              <div class="box-white-p-2">
                <div class="reco-p-2 {{editabletext}}" text-id="{{ site.name + '_fan_111' }}"> {{ read_text(site.name +  '_fan_111') }}</div>
                 <div class="til-p-2 {{editabletext}}" text-id="{{ site.name + '_fan_22' }}"> {{ read_text(site.name +  '_fan_22') }} </div>
                 <hr class="li-p-2">
                 <div class="refer-p-2 {{editabletext}}" text-id="{{ site.name + '_fan_33' }}"> {{ read_text(site.name +  '_fan_33') }} </div>
                 <div class="tor-2"> | </div>
                 <div class="precio-p-2 {{editabletext}}" text-id="{{ site.name + '_fan_44' }}"> {{ read_text(site.name +  '_fan_44') }}</div>
                 <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="sub-p-2 {{editabletext}}" text-id="{{ site.name + '_fan_55' }}"> {{ read_text(site.name +  '_fan_55') }}</div>
               </div>

               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="det-p-2 {{editabletext}}" text-id="{{ site.name + '_fan_66' }}"> {{ read_text(site.name +  '_fan_66') }}</div>
                    <div class="det-p-p-2 {{editabletext}}" text-id="{{ site.name + '_fan_77' }}"> {{ read_text(site.name +  '_fan_77') }} </div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                   {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_tare">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_tare" name="image" id="img_tare" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_tare" src="{{ read_image(site.name + '_tare', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_tare',500) }}'" class="ico-p-2" alt="item" />
                 <!--  <img class="ico-for-q" src="https://84static.loadingplay.com/static/images/71d90d764ebafb792c4a3e7b6577f1c9_9EvTLiphlmoMXnTR3lan5vlSewBASSKVUzC9z7iunld5ADc4mqqmm_1xp5uVPoJUJnDA=w300.png"> -->
                  <div class="fa-p-2 {{editabletext}}" text-id="{{ site.name + '_sin' }}"> {{ read_text(site.name +  '_sin') }} </div>
                  <div class="da-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_1' }}"> {{ read_text(site.name +  '_sin_1') }}</div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_tare_2">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_tare_2" name="image" id="img_tare_2" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_tare_2" src="{{ read_image(site.name + '_tare_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_tare_2',500) }}'" class="ico-p-2" alt="item" />
                  <!-- <img class="ico-for-q" src="https://84static.loadingplay.com/static/images/71d90d764ebafb792c4a3e7b6577f1c9_9EvTLiphlmoMXnTR3lan5vlSewBASSKVUzC9z7iunld5ADc4mqqmm_1xp5uVPoJUJnDA=w300.png"> -->
                   <div class="fa-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_2' }}"> {{ read_text(site.name +  '_sin_2') }}</div>
                  <div class="da-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_3' }}"> {{ read_text(site.name +  '_sin_3') }} </div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                     {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_tare_3">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_tare_3" name="image" id="img_tare_3" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_tare_3" src="{{ read_image(site.name + '_tare_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_tare_3',500) }}'" class="ico-p-2" alt="item" />
                 <!--  <img class="ico-for-q" src="https://84static.loadingplay.com/static/images/71d90d764ebafb792c4a3e7b6577f1c9_9EvTLiphlmoMXnTR3lan5vlSewBASSKVUzC9z7iunld5ADc4mqqmm_1xp5uVPoJUJnDA=w300.png"> -->
                   <div class="fa-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_4' }}"> {{ read_text(site.name +  '_sin_4') }} </div>
                  <div class="da-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_4' }}"> {{ read_text(site.name +  '_sin_4') }}</div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                     {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_tare_4">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_tare_4" name="image" id="img_tare_4" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_tare_4" src="{{ read_image(site.name + '_tare_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_tare_4',500) }}'" class="ico-p-2" alt="item" />
                 <!--  <img class="ico-for-q" src="https://84static.loadingplay.com/static/images/71d90d764ebafb792c4a3e7b6577f1c9_9EvTLiphlmoMXnTR3lan5vlSewBASSKVUzC9z7iunld5ADc4mqqmm_1xp5uVPoJUJnDA=w300.png"> -->
                   <div class="fa-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_5' }}"> {{ read_text(site.name +  '_sin_5') }} </div>
                  <div class="da-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_5' }}"> {{ read_text(site.name +  '_sin_5') }} </div>
               </div>
           

               <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="lu-p-2">
                 <div class="total-p-2 {{editabletext}}" text-id="{{ site.name + '_tol_p_+' }}"> {{ read_text(site.name +  '_tol_p_+') }}</div>
               </div>


               <div class="col-md-12">
                    <div class="det-nu-p-2 {{editabletext}}" text-id="{{ site.name + '_num_34_' }}"> {{ read_text(site.name +  '_num_34_') }}</div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                     {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_li">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_li" name="image" id="img_li" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_li" src="{{ read_image(site.name + '_li', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_li',500) }}'" class="ico-fu-p-2" alt="item" />
                 <!--  <img class="ico-for-2-q" src="https://84static.loadingplay.com/static/images/93af428fade277c22d77b0100992d6e7_descarga.png"> -->
                  <div class="fa-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_6' }}"> {{ read_text(site.name +  '_sin_6') }} </div>
                  <div class="da-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_7' }}"> {{ read_text(site.name +  '_sin_7') }}</div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
               {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_lo">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_lo" name="image" id="img_lo" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_lo" src="{{ read_image(site.name + '_lo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_lo',500) }}'" class="ico-fu-p-2" alt="item" />
                 <!--  <img class="ico-for-2-q" src="https://84static.loadingplay.com/static/images/93af428fade277c22d77b0100992d6e7_descarga.png"> -->
                   <div class="fa-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_8' }}"> {{ read_text(site.name +  '_sin_8') }}</div>
                  <div class="da-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_9' }}"> {{ read_text(site.name +  '_sin_9') }} </div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
               {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_lul">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_lul" name="image" id="img_lul" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_lul" src="{{ read_image(site.name + '_lul', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_lul',500) }}'" class="ico-fu-p-2" alt="item" />
                  <!-- <img class="ico-for-2-q" src="https://84static.loadingplay.com/static/images/93af428fade277c22d77b0100992d6e7_descarga.png"> -->  
                   <div class="fa-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_10' }}"> {{ read_text(site.name +  '_sin_10') }}</div>
                  <div class="da-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_11' }}"> {{ read_text(site.name +  '_sin_11') }} </div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
               {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_lala">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_lala" name="image" id="img_lala" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_lala" src="{{ read_image(site.name + '_lala', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_lala',500) }}'" class="ico-fu-p-2" alt="item" />
                 <!--  <img class="ico-for-2-q" src="https://84static.loadingplay.com/static/images/93af428fade277c22d77b0100992d6e7_descarga.png"> -->  
                   <div class="fa-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_12' }}"> {{ read_text(site.name +  '_sin_12') }}</div>
                  <div class="da-p-2 {{editabletext}}" text-id="{{ site.name + '_sin_13' }}"> {{ read_text(site.name +  '_sin_13') }}</div>
               </div>
        

               <div class="col-md-12 col-sm-12 col-xs-12">
                       <hr class="lu-p-2">
                   <div class="total-p-2 {{editabletext}}" text-id="{{ site.name + '_tol_min_p_p' }}"> {{ read_text(site.name +  '_tol_min_p_p') }}</div>
               </div>


               <div class="col-md-6 col-sm-6 col-xs-12">
               {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                          <label for="img_sumi">
                            <img class="change-image pencil" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                          </label>
                          <input type="file" class="editableimage" image-id="{{ site.name }}_sumi" name="image" id="img_sumi" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_sumi" src="{{ read_image(site.name + '_sumi', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_sumi',500) }}'" class="ico-rep-p-2" alt="item" />
                  <!--  <img class="ico-rep-q" src="https://84static.loadingplay.com/static/images/93af428fade277c22d77b0100992d6e7_descarga.png">  -->
               </div>
                
                <div class="col-md-6 col-sm-6">
                    <div class="text-rep-p-2 {{editabletext}}" text-id="{{ site.name + '_90_p_p' }}"> {{ read_text(site.name +  '_90_p_p') }} </div>
               </div>

               <div class="col-md-12 col-sm-12">
                   <!--  <button type="button" class="btn btn-warning p-2 comprar-btn pack-listo" quantity="50" plan="light">PACK LISTO</button> -->

                 <div align="center">
                  <a href="{{ site_base }}/producto_planes">
                    <button type="button" class="btn btn-warning p-p-2 comprar-btn" quantity="200" plan="power+">Compra tu plan</button>
                  </a>
                  </div>
                    <!-- <div class="acept">Acepto cumplir con las condiciones para realizar el METÓDO RKD </div> -->

                    <input class="w3-check-for-p-2 term_cond" name="terminos" type="checkbox">
                    <label class="w3-validate-for-p-2"> Acepto cumplir con las condiciones para realizar el Método RDK ®.</label> <button class="ver-l dos lett"> Ver </button><p></p>

                  <!--   <a href="{{ site_base }}/planes">
                    <button type="button" class="btn btn-info fo-p-2">¿Prefieres comenzar con otro plan?</button>
                    </a> -->
               </div>


            </div>
        </div>

     </div>
    
</section>




{% include '../home/footer.html' %}
{% end %}
