{% extends "../base.html" %}
{% block title %}
{{ site.name }}
{% end %}
{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/static/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ site_base }}/static/css/bootstrap.css">
<link rel="stylesheet" href="{{ site_base }}/static/css/font-awesome-4.4.0/css/font-awesome.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400,700' rel='stylesheet' type='text/css'>
{% end %}
{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/jquery.js"></script>
<!-- <script type="text/javascript" src="{{ site_base }}/static/js/bootstrap.js"></script> -->
<script type="text/javascript" src="{{ site_base }}/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/plugins/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/plans.js"></script>
<script type="text/javascript">
$(document).ready(function() 
{
      $('.font-menu').removeClass('active');
      $('.inicio').addClass("active");

    // $("#OpenAlert").click();

    var app_public = $.environmentVar(4,4,4);
    var base_url = $.environmentVar(
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/'
    );

    var checkout_url = $.environmentVar(
        'https://pay.loadingplay.com/',
        'https://pay.loadingplay.com/',
        'https://pay.loadingplay.com/'
    );
    var site_name = $.environmentVar('redukcal', 'redukcal', 'redukcal'); 

    $(document).ecommerce({
        'app_public' : app_public,
        'animation' : 'simple',
        'base_url' : base_url,
        'checkout_url' : checkout_url,
        'products_per_page' : 9
    });

    // var base_url = $.environmentVar(
    //     'https://apibodegas.loadingplay.com/',
    //     'https://apibodegas.loadingplay.com/',
    //     'https://apibodegas.loadingplay.com/');
    // var checkout_url = $.environmentVar(
    //     'https://pay.loadingplay.com',
    //     'https://pay.loadingplay.com',
    //     'https://pay.loadingplay.com');
    // var app_public = $.environmentVar(4, 4, 4);
    // var config = {
    //     'app_public': app_public,
    //     'base_url': base_url,
    //     'maxProducts': 6,
    //     'templateOrigin': '#product_template',
    //     'ignore_stock': true,
    //     'container': '.product-list',
    //     'onLoad': function()
    //     {
    //         // $('.ellipsis').ellipsis();
    //         // $(".ellipsis").dotdotdot();
    //     }
    // };

    // $(document).ecommerce(config);

    // destacado categoria 2
    // config.tag = 'destacado_categoria2';
    // $('.product-list2').ecommerce('product_box', config);
});
</script>
{% end %}
{% block body %}

<div class="container text-cont">
	<div class="space50"> </div>
	<h1>TÉRMINOS Y CONDICIONES</h1>
	<br>
	<p>Es requisito la aceptación de los términos y condiciones descritos a continuación. Por lo tanto, cualquier persona que acceda, navegue o utilice este sitio web se entiende que conoce y acepta todas y cada una de las condiciones y términos de este acuerdo.</p>
	<br>

	<h4>Modificación de los términos y condiciones</h4>
	<p>Los términos y condiciones podrán sufrir modificaciones en cualquier momento y a exclusivo criterio de Kolko Ltda, y no se requerirá él consentimiento previo de los usuarios. Para las transacciones en curso que hayan comenzado con anterioridad a dichas modificaciones, subsistirán las condiciones vigentes al momento de su concertación, a menos que las nuevas modificaciones introducidas fueran más convenientes para el usuario.</p>
	<p>Dichos cambios se informarán a través del sitio alertando a los usuarios sobre estos cambios, durante un tiempo prudente. Sin perjuicio de lo anterior, los usuarios son responsables de leer estos términos y condiciones cada vez que ingresen al sitio para ver si han sufrido modificaciones.</p><br>
	<h4>Interrupción del servicio</h4>
	<p>Kolko Ltda se reserva el derecho de interrumpir, suspender o modificar en cualquier momento los servicios ofrecidos en el presente sitio, ya sea en forma permanente o transitoria, sin requerir conformidad por parte de los usuarios, ni necesidad de brindar aviso previo alguno.</p><br>

	<ol>
		<li class="ter">Uso del Sitio</li>

		<p>Para utilizar los servicios del sitio se requiere ser mayor de 18 años. Los padres, tutores o responsables de los menores de edad que utilicen el sitio serán responsables por dicho uso, incluyendo cualquier cargo, despacho o daño que se derive de él.</p>
		<p>En los contratos ofrecidos por medio de este sitio, Kolko Ltda, informará, de manera inequívoca y fácilmente accesible, los pasos que deben seguirse para celebrarlos, e informará, cuando corresponda, si el documento electrónico en que se formalice el contrato será archivado y si éste será accesible al consumidor.</p>
		<p>El solo hecho de seguir los pasos que para tales efectos se indican en este sitio para efectuar una compra, equivale a aceptar que efectivamente la empresa oferente ha dado cumplimiento a las condiciones contenidas en este número. Indicará, además, su dirección de correo postal o electrónico y los medios técnicos a disposición del consumidor para identificar y corregir errores en el envío o en sus datos.</p>
		<p>No se podrá reproducir, distribuir, exhibir, vender, arrendar, transmitir, crear trabajos derivados, traducir, modificar, desmontar, descompilar o explotar este sitio o cualquier porción de él, a menos que sea expresamente permitido por Kolko Ltda, por escrito. No se permite hacer ningún uso comercial de cualquiera de la información proporcionada en el sitio o hacer cualquier uso de éste para beneficio de otra empresa, a menos que sea explícitamente permitido por Kolko Ltda, por adelantado.</p>
		<p>Kolko Ltda, se reserva el derecho a rechazar la prestación del servicio, cerrar cuentas, y/o cancelar pedidos a su discreción - incluyendo, sin limitación - si se cree que la conducta del cliente viola la ley aplicable o es perjudicial para nuestros intereses. </p><br>

		<p>No esta permitido cargar, distribuir o publicar a través de este sitio ningún contenido, información, u otro material que:</p>
		<ul>
			<li class="ter">(a) Viole o infrinja los derechos de autor, patentes, marcas comerciales, marcas de servicio, secretos comerciales u otros derechos de propiedad de cualquier persona;</li>
			<li class="ter">(b) Sea difamatorio, amenazante, obsceno, o derechamente pornográfico;</li>
			<li class="ter">(c) ) Incluya cualquier error, virus, gusanos, puertas trampa, caballos de Troya u otro código o propiedades perjudiciales.</li>
		</ul><br>
		<li class="ter">Registro de Usuario</li>
		<p>Es condición que el cliente realice un registro de usuario para la adquisición de productos ofrecidos en este sitio. Para ello, es necesario que el usuario administre en la página web información correcta, verídica, actual y completa en relación a sus datos básicos como; nombre, número de cédula de identidad, dirección, teléfonos de contacto, correo electrónico y otros datos, los cuales Kolko Ltda, se compromete a guardar total confidencialidad según la Ley Chilena Nº 19.628 sobre protección de datos de carácter personal.</p>
		<p>Dicha información tendrá como finalidad validar las órdenes de compra y mejorar la labor de información y comercialización de los productos de la empresa, y en ningún caso serán traspasados a terceros.</p>
		<p>El cliente al registrarse se le asignará una identificación y contraseña de cuenta para permitir su acceso y uso de partes de este sitio. Se entenderán conocidos y aceptados estos términos y condiciones por el solo hecho del registro.</p>
		<p>El usuario es el único responsable de proteger la seguridad y confidencialidad de la identificación y contraseña asignada, y éste deberá notificar a la empresa de cualquier uso no autorizado de éstos.</p>
		<p>Finalmente, el usuario inscrito podrá a través del sitio disponer la rectificación, eliminación y/o cancelación de sus datos cuando lo estime conveniente.</p><br>
		<li class="ter">Comunicaciones Promocionales o Publicitarias</li>
		<p>El usuario podrá solicitar la suspensión de toda comunicación promocional o publicitaria enviada a su correo electrónico registrado en Kolko Ltda, en el link dispuesto en la parte inferior de los comunicados, o enviando un mail a Contacto solicitando ser borrado de la base de datos de Kolko Ltda</p><br>
		<li class="ter">Políticas de Privacidad</li>
		<p>Kolko Ltda, se compromete a no traspasar, bajo ninguna modalidad a terceros, datos personales de los clientes registrados en su sitio web, y asegura que éstos serán manejados de forma estrictamente confidencial y conforme a lo que dispone las disposiciones de la legalización vigente.</p>
		<p>Al momento de registro en el sitio web, se solicita a los usuarios información como su nombre, dirección electrónica, número de cedula de identidad, contacto telefónico y otros datos. Esta información es usada específicamente para responder a las consultas acerca de nuestros productos, efectuar la compra de estos, e informar de las compras y despachos de pedidos. Se recalca que bajo ninguna circunstancia dicha información será compartida con empresas no relacionadas a Kolko Ltda, o con terceros.</p>
		<p>Según lo conforme a la Ley Chilena Nº 19.628 sobre protección de datos de carácter personal, el usuario podrá en todo momento rectificar y cancelar los derechos de información de sus datos personales entregados a este sitio. Asimismo, el usuario podrá según lo disponga, modificar la información personal a través del sitio o enviando un correo a contacto@kolko.cl.</p>
		<p>La sola visita de este sitio no impone al usuario obligación alguna, a menos que haya expresado en forma inequívoca y mediante actos positivos su voluntad de aceptar una determinada oferta por parte de Kolko Ltda, en la forma indicada en estos términos y condiciones.</p>
		<p>Por lo tanto, al usar el sitio www.redukcal.cl usted está de acuerdo con los términos y condiciones de estas políticas de privacidad. Si nuestras políticas llegasen a cambiar en el futuro, se notificará a nuestros clientes y usuarios del sitio web acerca de cualquier cambio sufrido, colocando un aviso de dicho cambio en nuestro sitio de Internet.</p>
		<p>Realizado el aviso de dicho cambio, si usted continúa utilizando nuestro sitio se darán por aceptados dichos cambios. Por lo tanto, el usuario es responsable de la revisión periódica de estas políticas de privacidad y cualquier posible modificación de las mismas.</p><br>
		<li class="ter">Formación del consentimiento en los contratos celebrados en el sitio.</li>
		<p>En este sitio web se ofrecen determinados productos, que podrán ser aceptados por vía electrónica, con los mecanismos que el mismo sitio ofrece para ello. Toda aceptación de oferta quedará sujeta a la condición suspensiva de que Kolko Ltda, confirme la transacción, para lo cual verificará:</p>
		<ul>
			<li class="ter">a) Que aún dispone de las especies en stock.</li>
			<li class="ter">b) Que el medio de pago propuesto por el usuario está disponible.</li>
			<li class="ter">c) Que los datos registrados por el usuario en el sitio coinciden con los dados al aceptar la oferta. </li>
		</ul>
		<p>Para informar al usuario esta confirmación, Kolko Ltda, deberá enviarle una confirmación escrita a la misma dirección electrónica que haya registrado el usuario aceptando la oferta, o por cualquier medio de comunicación que garantice el debido y oportuno conocimiento del consumidor, el que se le indicará previamente en el mismo sitio. El consentimiento se entenderá formado desde el momento en que se envía esta confirmación escrita al usuario.</p><br>
		<li class="ter">Errores tipográficos</li>

		<p>En el caso de que cualquier producto aparezca con un precio incorrecto o con información incorrecta debido directamente a un error tipográfico, Kolko Ltda, tendrá el derecho de rechazar o cancelar cualquier pedido de los productos enumerados con el precio incorrecto. De esta manera, tendremos el derecho a denegar o cancelar tales pedidos, ya sea o no que la orden haya sido confirmada y cargada a su tarjeta de crédito. En el caso de que la compra haya sido cargada a su tarjeta de crédito y su orden es cancelada, se emitirá inmediatamente un crédito a su cuenta de tarjeta de crédito con el importe respectivo.</p><br>
		<li class="ter">Ley Aplicable</li>
		<p>Los presentes términos y condiciones se encuentran regidos sin excepción y en todos los puntos por las leyes chilenas vigentes.</p><br>
		<li class="ter">Validez de las ofertas contenidas en este sitio.</li>
		<p>Los precios de los productos y servicios disponibles en este sitio, mientras aparezcan en él, sólo tendrán vigencia y aplicación en éste y no serán necesariamente aplicables a otros canales de venta utilizados por las empresas, tales como tiendas físicas, catálogos u otros. </p><br>

		<p>Las promociones que se ofrezcan en este sitio web no son necesariamente las mismas que ofrezcan otros canales de venta utilizados por la empresa, tales como tiendas físicas, catálogos u otros, a menos que se señale expresamente en este sitio o en la publicidad que realicen las empresas para cada promoción.</p><br>
		<li class="ter">Promociones</li>
		<p>En el caso de que se realicen promociones u ofertas de productos, éstas tendrán validez para las compras efectuadas desde la fecha de comienzo de las mismas, hasta la de finalización de la oferta. Los términos y condiciones de las mismas serán comunicados en el sitio, y estarán siempre sujetas a la existencia en stock de los productos ofrecidos. Las promociones no son necesariamente las mismas que ofrezcan otros canales de venta utilizados por Kolko Ltda</p><br>



		<li class="ter">Propiedad Intelectual</li>
		<p>Todos los contenidos incluidos en este sitio, incluyendo textos, fotografías, imágenes, formularios, videos, sonidos, entre otros, son propiedad exclusiva de Kolko Ltda</p>
		<p>ReduKcal, es una marca registrada y su uso está estrictamente prohibido para aquellos que no estén expresamente autorizados por sus respectivos titulares.</p><br>
		<li class="ter">Nuestra dirección</li>
		<p>En caso de que desee, por favor envíe cualquier pregunta o comentario con respecto a este sitio a través de nuestro correo electrónico:
			Correo de contacto: contacto@redukcal.com</p>
		</ol>



		<h1>CÓMO COMPRAR</h1>
		<p>Kolko Ltda, utiliza WebPay, Transferencias y Depósito Bancarias, como medios de pago.
			Ante cualquier duda de cómo realizar una compra puedes hacer tus preguntas a través de nuestra página de contacto o al correo electrónico: contacto@redukcal.com</p><br>
			<h6>Moneda</h6>
			<p>Todos los precios del sitio están expresados en pesos chilenos, moneda de curso legal en Chile. Todos los productos incluyen IVA.</p><br>
			<h1>ENVÍOS Y PLAZOS DE ENTREGAS</h1>
			<p>Una vez realizada y confirmada la compra de cualquier producto a través de este sitio, incluyendo los gastos de envío y la dirección de despacho, se enviarán el o los productos comprados.
				El despacho del producto se realizará dentro de un plazo máximo de 5 (cinco) días hábiles para la Región Metropolitana y dentro de un plazo máximo de 7 (siete) días hábiles en el caso de envíos a regiones.</p>
				<p>Los despachos se harán de lunes a viernes vía Chilexpress, Correos de Chile u otra empresa de transporte a definir por Kolko Ltda. En caso de que el cliente realice una compra de algún producto el día viernes, la orden de despacho se procesará el lunes subsiguiente a la compra.</p>
				<p>Los despachos al ser realizados por una empresa externa, existe la posibilidad que el despacho tome más tiempo de lo estipulado, en tal caso, Kolko Ltda, no será la responsable de tal atraso, pero aun así prestara todo el servicio y ayuda que le sea posible para dar una respuesta y solución al cliente.</p>
				<p>Ante cualquier duda sobre su despacho, puedes hacer tus preguntas a través de nuestra página de contacto o al correo electrónico: contacto@redukcal.com</p><br>
				<h1>DEVOLUCIONES O CAMBIOS</h1>
				<p>Solo se realizarán cambios o devoluciones a los productos adquiridos directamente a Kolko Ltda, a través de su página web o tiendas. Los requisitos para realizar cualquier cambio o devolución son:</p>

				<p>(I) En caso de que el producto no corresponda al solicitado por un error de gusto o apreciación personal del cliente, este último puede solicitar el cambio del producto en un plazo máximo de 30 (treinta) días desde la fecha de compra. Cabe mencionar que en este caso, los costos de envió serán de cargo del cliente, salvo errores involuntarios del personal de Kolko Ltda.</p>
				<p>(II) No está permitido solicitar la devolución del dinero, salvo en lo señalado en el punto V.</p>
				<p>(III) En caso de fallas por deficiencias de fabricación, elaboración, el cliente puede solicitar el cambio del producto dentro de un plazo máximo de 3 (tres) meses desde la fecha de compra del producto.</p>
				<p>(IV) Solo en los casos donde el producto no se pueda reparar, durante los primeros 90 (noventa) días desde que se recibió, el cliente podrá solicitar la devolución de su dinero o cambio del producto.</p>
				<p>(V) Para solicitar un cambio el o los productos deben estar sin uso, con las etiquetas correspondientes y en perfectas condiciones, incluyendo los embalajes o cajas originales y boleta o comprobante de venta (Transbank). En el caso que el o los productos no cumpla con lo señalado, o se evidencie que ha sido usado por el cliente, no existe la posibilidad de cambio.</p>
				<br>
				<p>Para hacer efectivo el cambio, devolución el cliente deberá enviar un correo a contacto@kolko.cl especificando la razón del cambio, devolución (según los requisitos detallados en el párrafo anterior). Una vez recepcionada dicha solicitud, se le enviará a su correo un formulario con los pasos a seguir, el cual debe completar y adjuntar al producto al momento del envío, junto a la boleta de la compra.</p>
				<p>Posteriormente debe efectuar la devolución del producto, a través del medio acordado previamente con Kolko Ltda, el cual puede ser: Despacho personal, envío a través de Chilexpress, Correos de Chile, etc.</p>
				<p>Una vez recibido el o los productos y habiéndose comprobado las condiciones anteriores, Kolko Ltda, procederá a realizar el cambio, devolución o reparación solicitada, según como corresponda. Los costos de envío del nuevo producto corren por parte de la empresa solo en los casos de cambios por falla o reparaciones.</p>
				<p>Los productos que presenten alguna falla después del uso, deberán enviarse a la casa matriz para evaluación del caso. Kolko Ltda, se reserva el derecho de reparar o cambiar el producto por uno nuevo, garantizando que quedará en perfecto estado para su uso.
					Para mayor detalle de cómo realizar los cambios o devoluciones y los requisitos para ello, por favor contactarse a:</p>
					<p>Correo: contacto@kolko.cl</p>
					<div class="space50"> </div>
				</div>

				{% include '../home/footer.html' %}
				{% end %}
