.btn-warning.mad-1 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 42%;
    font-weight: 400;
    letter-spacing: 1px;
    left: -8px;
    border-radius: 8px;
}

.btn-warning.mad-1:hover {
    color:#F37B3C ;
    background-color: #fff ;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 42%;
    font-weight: 400;
    letter-spacing: 1px;
    left: -8px;
    border-radius: 8px;
}

.btn-warning.mad-2 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 42%;
    font-weight: 400;
    letter-spacing: 1px;
    left: -8px;
    border-radius: 8px;
}

.btn-warning.mad-2:hover {
    color:#F37B3C ;
    background-color: #fff ;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 42%;
    font-weight: 400;
    letter-spacing: 1px;
    left: -8px;
    border-radius: 8px;
}

.total-mad {
    position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    z-index: 10000;
    margin-top: 116px;
}

.mad {
    text-align: left;
    position: relative;
    left: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
    top: -20px;
    margin-top: 46px;
}

.w3-validate-mad {
    font-size: 16px;
    width: 77%;
    position: relative;
    top: 100px;
    left: -27px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.w3-check-mad {
/*    position: relative;
    top: 140px;
    left: -85px;
    z-index: 10000;*/
    position: relative;
    top: 103px;
    z-index: 10000;
    float: right;
    left: -133px;
}

.btn-info.fo-l-2.mad{
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 44%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-l-2.mad:hover {
    color: rgba(0, 139, 139, 0.78);
    background-color: #fff;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 44%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


/*------------resposnive-----*/

@media (max-width: 991px){
    .mad {
    text-align: left;
    position: relative;
    left: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
    top: 13px;
    margin-top: 46px;
    margin-bottom: 40px;
}

.img-plan.ot {
    width: 30%;
    height: 58px;
    position: relative;
    top: 1px;
    margin-top: 26px;
}
.btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}
.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color: #fff ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


}

@media (max-width: 767px){
.img-plan.ot {
    width: 29%;
    height: 68px;
    position: relative;
    top: 1px;
    margin-top: 26px;
}

}

@media (max-width: 750px){
.btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 52%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}
.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color: #fff ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 52%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


}

@media (max-width: 730px){
.btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 54%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}
.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color: #fff ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 54%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


}

@media (max-width: 710px){
.btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 56%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}
.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color: #fff ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 56%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


}

@media (max-width: 700px){
.w3-check-mad {
    position: relative;
    top: 103px;
    z-index: 10000;
    float: right;
    left: -121px;
}

}


@media (max-width: 690px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 52%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 52%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

}



@media (max-width: 660px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 55%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 55%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

}

@media (max-width: 650px){
.w3-validate-mad {
    font-size: 15px;
    width: 85%;
    position: relative;
    top: 100px;
    left: 0px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.w3-check-mad {
    position: relative;
    top: 79px;
    z-index: 10000;
    float: none;
    left: 0px;
}

.btn-warning.mad-2 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 200px;
    font-weight: 400;
    letter-spacing: 1px;
    left: -8px;
    border-radius: 8px;
}

.btn-warning.mad-2:hover {
    color:#F37B3C ;
    background-color:  #fff;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 200px;
    font-weight: 400;
    letter-spacing: 1px;
    left: -8px;
    border-radius: 8px;
}

}


@media (max-width: 630px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 58%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 58%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

}

@media (max-width: 600px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 62%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 62%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

}


@media (max-width: 580px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 65%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 23px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 65%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 23px;
}

}
@media (max-width: 550px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 68%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 68%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

}

@media (max-width: 517px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 72%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 72%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

}

@media (max-width: 500px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 76%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 76%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

}



@media (max-width: 480px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 80%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 80%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

}


@media (max-width: 460px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 85%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 85%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

}


@media (max-width: 445px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 89%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 89%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

}


@media (max-width: 430px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 94%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 94%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

}

@media (max-width: 420px){
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 99%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 99%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 15px;
}

}



@media (max-width: 414px){
.btn-warning.mad-1 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-1:hover {
    color: #F37B3C;
    background-color: #fff ;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2:hover {
    color:#F37B3C;
    background-color:  #fff;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.w3-check-mad {
    position: relative;
    top: 82px;
    left: 0px;
    z-index: 10000;
}

.btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 92%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 16px;
    left: -3px;
}
.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78);
    background-color:  #fff ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 92%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 16px;
    left: -3px;
}

.w3-validate-mad {
    font-size: 14px;
    width: 85%;
    position: relative;
    top: 100px;
    left: 0px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.img-plan.ot {
    width: 60%;
    height: 68px;
    position: relative;
    top: 1px;
    margin-top: 26px;
}

}


@media (max-width: 400px){

.btn-warning.mad-1 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-1:hover {
    color: #F37B3C;
    background-color: #fff ;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2:hover {
    color:#F37B3C;
    background-color:  #fff;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 105%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 16px;
    left: -10px;
}

.btn-info.fo-l-2.mad.hover {
    color: rgba(0, 139, 139, 0.78);
    background-color: #fff ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 105%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 16px;
    left: -10px;
}

}

@media (max-width: 375px){
 .btn-warning.mad-1 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-1:hover {
    color: #F37B3C;
    background-color: #fff ;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2:hover {
    color:#F37B3C;
    background-color:  #fff;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.w3-check-mad {
    position: relative;
    top: 80px;
    left: 0px;
    z-index: 10000;
}

.btn-q {
    width: 114%;
    margin: 0 auto;
    right: 15px;
    }
    .btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 7px;
    left: -3px;
}
.btn-info.fo-l-2.mad:hover {
    color:rgba(0, 139, 139, 0.78) ;
    background-color:#fff  ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 7px;
    left: -3px;
}

}

@media (max-width: 367px){
    .box-white-l-2 {
    height: 2000px;
}



}

@media (max-width: 360px){
.btn-warning.mad-1 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-1:hover {
    color: #F37B3C;
    background-color: #fff ;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2:hover {
    color:#F37B3C;
    background-color:  #fff;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.img-plan.ot {
    width: 61%;
    height: 58px;
    position: relative;
    top: 1px;
    margin-top: 26px;
}


}

@media (max-width: 341px){
    .box-white-l-2 {
    height: 2050px;
    }
}


@media (max-width: 320px){
    .total-mad {
    position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    z-index: 10000;
    margin-top: 72px;
}
.btn-warning.mad-1 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-1:hover {
    color: #F37B3C;
    background-color: #fff ;
    border-color: #F37B3C;
    position: relative;
    top: 33px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2 {
    color: #fff;
    background-color: #F37B3C;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.btn-warning.mad-2:hover {
    color:#F37B3C;
    background-color:  #fff;
    border-color: #F37B3C;
    position: relative;
    top: 42px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    left: 0px;
    border-radius: 8px;
}

.w3-validate-mad {
    font-size: 13px;
    width: 90%;
    top: 65px;
}

.w3-check-mad {
    position: relative;
    top: 44px;
    left: 0px;
    z-index: 10000;
}

.box-ot {
    height: 1934px;
}

.btn-info.fo-l-2.mad {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 120%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 3px;
    left: -13px;
}
.btn-info.fo-l-2.mad:hover{
    color: rgba(0, 139, 139, 0.78);
    background-color: #fff ;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 75px;
    width: 120%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    padding-left: 3px;
    left: -13px;
}

.mad {
    text-align: left;
    position: relative;
    left: 0px;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
    top: 13px;
    margin-top: 46px;
    margin-bottom: 40px;
}


}
