.box-qu{
   background-color: #F9B233;
    width: 70%;
  /*  height: 185px;*/
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 7px;
}

.text-qu {
    position: relative;
    top: 22px;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

hr.for-qu {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 4px solid white;
    width: 9%;
    top: 11px;
    position: relative;
}

.text-for-qu{
    position: relative;
    top: 20px;
    font-size: 16px;
    width: 87%;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
     padding-bottom: 41px;
}

.box-white-qu {
    background-color: white;
    width: 70%;
    height: 1275px;
    margin-bottom: 20px;
}

.reco-qu {
    position: relative;
    font-style: italic;
    top: 7px;
    color: rgba(0,0,0,.5);
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.til-qu{
    font-size: 26px;
    color: #3CAEAC;
    font-weight: 700;
    letter-spacing: 1px;
}

hr.li-qu{
    margin-top: 20px;
    margin-bottom: 38px;
    border: 0;
    border-top: 4px solid #3CAEAC;
    width: 23%;
    top: -15px;
    position: relative;
    left: -3px;
}

.refer-qu {
    left: 169px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    z-index: 10000;
    position: relative;
    float: left;
    top: -25px;
}

.precio-qu {
    position: relative;
    top: -59px;
    right: 236px;
    font-size: 24px;
    color: #3CAEAC;
    letter-spacing: 2px;
    z-index: 10000;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.sub-qu{
    position: relative;
    top: -61px;
    left: 0px;
    font-size: 21px;
    font-weight: 400;
    color: #F9B233;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 14px;
}

.det-qu {
    text-align: left;
    position: relative;
    left: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
    top: -20px;
}

.det-num-qu {
    position: relative;
    text-align: left;
    left: 57px;
    top: -23px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.ico-qu{
    width: 86%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 128px;
    margin-top: -7px;
}

.fas-qu{
    position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.78);
    font-size: 13px;
    z-index: 10000;
    margin-top: 26px;
}

.day-qu {
     position: relative;
    top: 0px;
    color: orange;
    font-size: 13px;
     z-index: 10000;
     margin-bottom: -18px;
    margin-top: -8px;
}

.total-qu{
     position: relative;
    top: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    z-index: 10000;
}

.det-nu-qu{
    position: relative;
    text-align: left;
    left: 0px;
    top: 9px;
    margin-top: 43px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    width: 94%;
}

.ico-for-qu {
     width: 76%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 91px;
    margin-bottom: -19px;
}

hr.for-plan-qu {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid black;
    width: 93%;
    top: 0px;
    position: relative;
}

.ico-rep-qu {
     width: 17%;
    position: relative;
    top: 0px;
    left: 100px;
    margin-top: 54px;
}
.text-rep-qu {
 position: relative;
    text-align: left;
    top: 0px;
    left: -58px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(51, 51, 51, 0.64);
    font-family: 'Open Sans', sans-serif;
    z-index: 1030;
    margin-top: 66px;
}

.btn-warning.qu {
     color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
}

.btn-warning.qu:hover{
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
}

.btn-warning.qu-2 {
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
}

.btn-warning.qu-2:hover {
    color: #F9B233;
    background-color:#fff ;
    border-color: #F9B233;
    position: relative;
    top: 42px;
    width: 40%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 8px;
}

.w3-validate-for-qu {
     font-size: 13px;
    width: 77%;
    position: relative;
    top: 102px;
    left: 16px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.w3-check-for-qu {
    position: relative;
    top: 104px;
    left: -138px;
    z-index: 10000;
    float: right;
}

.btn-info.fo-qu {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 117px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-qu:hover {
     color: rgba(0, 139, 139, 0.78);
    background-color: #fff;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 117px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}



/*-------------------Responsive--------------*/


@media (max-width: 1199px){
  .box-qu{
    width: 85%;
}
   .box-white-qu {
    width: 85%;

}

}

@media (max-width: 991px){
      .box-white-qu {
       margin-bottom: 55px;
       width: 100%;
}

    .box-qu{
    width: 100%;
} 

/*    .w3-check-for-qu {
    left: 41px;
}*/

.btn-info.fo-qu {
    width: 48%;
}

.btn-info.fo-qu:hover {
    width: 48%;

}

.precio-qu {
    position: relative;
    top: -62px;
    right: 161px;
}

.refer-qu{
    left: 53px;
    top: -25px;
}

.tor-2 {
    position: relative;
    top: -31px;
    left: -93px;
    font-size: 21px;
    font-weight: 800;
}

.day-qu {
    margin-bottom: 0px;
    margin-top: -8px;
}

.w3-check-for-qu {
    left: -100px;
}


}


@media (max-width: 767px){
  .ico-qu {
    width: 37%;
    position: relative;
    top: 0px;
    object-fit: cover;
    height: 112px;
}

.day-qu{
    position: relative;
    top:0px;
    color: orange;
    font-size: 12px;
    z-index: 10000;
    margin-bottom: 28px;
}
.fa-qu{
    margin-top: 17px;
}

.ico-for-qu {
    width: 49%;
}

.ico-rep-qu {
    width: 17%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 22px;
}

.text-rep-qu {
    text-align: center;
    top: 0px;
    left: 0px;
    margin-top: 31px;
}

.box-white-qu {
    height: 1680px;
}

}


@media (max-width: 600px){
    .refer-qu {
    left: 80px;
    font-size: 14px;
}

.precio-qu {
    top: -56px;
    right: 145px;
    font-size: 17px;
}

.w3-validate-for-qu {
    font-size: 13px;
    width: 77%;
    /* top: 218px; */
    left: 0px;
}

}


@media (max-width: 520px){
.precio-qu {
    top: -56px;
    right: 100px;
    font-size: 17px;
}

.w3-validate-for-qu {
    font-size: 13px;
    width: 77%;
    /* top: 218px; */
    left: -4px;
}

}


@media screen and (max-width: 700px){
       .box-white-qu {
        height: 1850px;
}

.btn-info.fo-qu {
    width: 100%;
    font-size: 12px;
}

.btn-info.fo-qu:hover {
    width: 100%;
    font-size: 12px;

}

.btn-warning.qu {
    width: 100%;
}

.btn-warning.qu:hover{
    width: 100%;
}

.btn-warning.qu-2 {
    top: 55px;
    width: 100%;
}

.btn-warning.qu-2:hover {
    top: 55px;
    width: 100%;
}

.w3-validate-for-qu {
    font-size: 14px;
    width: 77%;
  /*  top: 218px;*/
    left: 0px;

}

.w3-check-for-qu {
    top: 103px;
    left: -100px;
}



/*  .box-qu{
    height: 353px;
}*/
.refer-qu {
    left: 107px;
    font-size: 14px;
}

.precio-qu{
    top: -56px;
    right: 176px;
    font-size: 17px;
}
.sub-qu{
    top: -20px;
    left: -1px;
    font-size: 16px;
}

.det-qu{
    left: 0px;
}

.det-num-qu{
    left: 0px;
}

/*.ico-qu{
    width: 80%;
    height: 80px;
}*/

.fas-qu{
    top: 0px;
    margin-top: 13px;
}

.day-qu{
    top: 0px;
    margin-bottom: 30px;
}

.det-nu-qu{
 left: 0px;
}

.ico-rep-qu{
    width: 29%;
    position: relative;
    top: 0px;
    left: 0px;
}

.text-rep-qu{
    left: 0px;
    text-align: center;
}

}

@media (max-width: 480px){
    .w3-validate-for-qu {
    font-size: 14px;
    width: 66%;
    /* top: 218px; */
    left: 0px;
}

}

@media (max-width: 430px){
.refer-qu {
    left: 30px;
    font-size: 14px;
}

.precio-qu {
    top: -51px;
    right: 30px;
    font-size: 15px;
}

}

@media (max-width: 414px){
    .refer-qu {
    left: 14px;
    font-size: 14px;
}

.precio-qu {
    top: -56px;
    right: 35px;
    font-size: 17px;
}

.w3-validate-for-qu {
    font-size: 12px;
    width: 77%;
    top: 122px;
    left: 0px;
    margin-bottom: 100px;
}

.w3-check-for-qu {
    top: 130px;
    left: 16px;
    float: left;
}

}

@media (max-width: 400px){
    .refer-qu {
    left: 6px;
    font-size: 14px;
}

.precio-qu {
    top: -56px;
    right: 30px;
    font-size: 17px;
}

}


@media (max-width: 360px){
    .refer-qu {
    left: 6px;
    font-size: 12px;
}

}

@media (max-width:320px){

.det-nu-qu {
    left: 0px;
    text-align: center;
    /* width: 94%; */
}
/*.ico-qu{
    width: 74%;
    height: 80px;
    top: 0px;
}*/

.refer-qu{
    left: 6px;
    font-size: 13px;
}

.precio-qu {
    top: -56px;
    right: 6px;
    font-size: 15px;
}

.w3-validate-for-qu {
    font-size: 14px;
    width: 77%;
    top: 150px;
    left: 0px;
}

.w3-check-for-qu {
    top: 172px;
    left: 13px;
    float: left;
}

}

