.box-orange-q{
   background-color: #F9B233;
    width: 70%;
   /* height: 185px;*/
   height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 7px;
}

.text-for-1-q {
    position: relative;
    top: 22px;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

hr.for-1-q {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 4px solid white;
    width: 9%;
    top: 11px;
    position: relative;
}

.text-for-2-q {
    position: relative;
    top: 20px;
    font-size: 16px;
    width: 87%;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 41px;
}

.box-white-for-q {
    background-color: white;
    width: 70%;
    height: 1275px;
    margin-bottom: 20px;
}

.reco-q {
    position: relative;
    font-style: italic;
    top: 7px;
    color: rgba(0,0,0,.5);
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.til-plan-q {
    font-size: 26px;
    color: #3CAEAC;
    font-weight: 700;
    letter-spacing: 1px;
}

hr.li-pl-q {
    margin-top: 20px;
    margin-bottom: 38px;
    border: 0;
    border-top: 4px solid #3CAEAC;
    width: 23%;
    top: -15px;
    position: relative;
    left: -3px;
}

.refer-q {
    left: 200px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    z-index: 10000;
    position: relative;
    float: left;
    top: -35px;
}

.precio-q {
     position: relative;
    top: -42px;
    right: 144px;
    font-size: 24px;
    color: #3CAEAC;
    letter-spacing: 2px;
    z-index: 10000;
    float: right;
}

.sub-for-q {
    position: relative;
    top: 2px;
    left: 25px;
    font-size: 21px;
    font-weight: 100;
    color: #F9B233;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}

.det-for-q {
    text-align: left;
    position: relative;
    left: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
}

.det-num-q {
    position: relative;
    text-align: left;
    left: 60px;
    top: 9px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.ico-for-q {
    width: 86%;
    position: relative;
    top: 34px;
    object-fit: cover;
    height: 128px;
}

.fases-q {
    position: relative;
    top: 58px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.78);
    font-size: 13px;
     z-index: 10000;
}

.day-q {
    position: relative;
    top: 71px;
    color: orange;
    font-size: 12px;
     z-index: 10000;
}

.total-day-q {
    position: relative;
    top: 93px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    z-index: 10000;
}

.det-num-2-q{
    position: relative;
    text-align: left;
    left: 0px;
    top: 9px;
    margin-top: 100px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    line-height: 15px;
    width: 90%;
}

.ico-for-2-q {
    width: 76%;
    position: relative;
    top: 51px;
    object-fit: cover;
    height: 91px;
}

hr.for-plan-q {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid black;
    width: 93%;
    top: 0px;
    position: relative;
}

.ico-rep-q {
    width: 17%;
    position: relative;
    top: 140px;
    left: 100px;
}
.text-rep-q {
    position: relative;
    text-align: left;
    top: 151px;
    left: -58px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(51, 51, 51, 0.64);
    font-family: 'Open Sans', sans-serif;
    z-index: 1030;
}

.btn-warning.ok-q {
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 184px;
    width: 34%;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-warning.ok-q:hover{
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 184px;
    width: 34%;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-warning.to-q {
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 184px;
    width: 34%;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-warning.to-q:hover {
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 184px;
    width: 34%;
    font-weight: 400;
    letter-spacing: 1px;
}

.w3-validate-for-q {
    font-size: 16px;
    width: 77%;
    position: relative;
    top: 218px;
    left: 23px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.w3-check-for-q {
    position: relative;
    top: 246px;
    left: 13px;
    z-index: 10000;
}

.btn-info.fo-q {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 220px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-q:hover {
    color: rgba(0, 139, 139, 0.78);
    background-color: #fff;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 220px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


/*-------------------Responsive--------------*/


@media (max-width: 1199px){
  .box-orange-q{
    width: 85%;
}
   .box-white-for-q {
    width: 85%;
}


}


@media (max-width: 991px){
      .box-white-for-q {
       margin-bottom: 55px;
       width: 100%;
}

  .box-orange-q{
    width: 100%;
}

.w3-check-for-q {
    left: 41px;
}

.btn-info.fo-q {
    width: 48%;
}

.btn-info.fo-q:hover {
    width: 48%;
}

}


@media (max-width: 767px){
    .ico-for-q {
    width: 40%;
    position: relative;
    top: 58px;
}

.day-q {
    margin-bottom: 30px;
}

}


@media (max-width: 560px){
    .refer-qu {
    left: 50px;
    font-size: 14px;
}

.precio-qu {
    top: -56px;
    right: 130px;
    font-size: 17px;
}

}

@media screen and (max-width: 700px){
      .box-white-for-q  {
        height: 1900px;
}
.btn-info.fo-q {
    width: 100%;
    font-size: 12px;
}

.btn-info.fo-q:hover {
    width: 100%;
    font-size: 12px;
}
.btn-warning.ok-q {
    width: 100%;

}

.btn-warning.ok-q:hover{
    width: 100%;

}

.btn-warning.to-q {
    top: 193px;
    width: 100%;
}

.btn-warning.to-q:hover {
    top: 193px;
    width:100%;
}

.w3-validate-for-q {
    font-size: 14px;
    width: 77%;
    top: 218px;
    left: 0px;
}

.w3-check-for-q {
    top: 200px;
    left: 0px;
}

/*.box-orange-q{
    height: 353px;
}*/

.precio-q {
    top: -23px;
    right: -78px;
    font-size: 17px;
}

.refer-q {
    left: -54px;
    font-size: 14px;
}

.sub-for-q {
    top: -20px;
    left: -1px;
    font-size: 16px;
}

.det-for-q {
    left: 0px;
}
.det-num-q {
    left: 0px;
}

.ico-for-q {
    width: 80%;
    height: 80px;
}
.fases-q {
    top: 38px;

}

.day-q {
    top: 39px;
    margin-bottom: 30px;
}
.det-num-2-q {
    left: 0px;
    font-size: 19px;

}

.ico-rep-q {
    width: 29%;
    position: relative;
    top: 114px;
    left: 0px;
}

.text-rep-q {
    left: 59px;
}

}


