.box-u-2{
   background-color: #F9B233;
    width: 70%;
   /* height: 185px;*/
   height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 7px;
}

.text-u-2 {
    position: relative;
    top: 22px;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

hr.u-2 {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 4px solid white;
    width: 9%;
    top: 11px;
    position: relative;
}

.text-u-2-mad{
    position: relative;
    top: 20px;
    font-size: 16px;
    width: 87%;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 41px;
}

.box-white-u-2 {
    background-color: white;
    width: 70%;
    height: 1275px;
    margin-bottom: 20px;
}

.reco-u-2 {
    position: relative;
    font-style: italic;
    top: 7px;
    color: rgba(0,0,0,.5);
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.til-u-2{
    font-size: 26px;
    color: #3CAEAC;
    font-weight: 700;
    letter-spacing: 1px;
}

hr.li-u-2{
    margin-top: 20px;
    margin-bottom: 38px;
    border: 0;
    border-top: 4px solid #3CAEAC;
    width: 23%;
    top: -15px;
    position: relative;
    left: -3px;
}

.refer-u-2{
    left: 186px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    z-index: 10000;
    position: relative;
    float: left;
    top: -26px;
}

.precio-u-2{
    position: relative;
    top: -30px;
    right: 165px;
    font-size: 24px;
    color: #3CAEAC;
    letter-spacing: 2px;
    z-index: 10000;
    float: right;
}

.sub-u-2{
    position: relative;
    top: 17px;
    left: 26px;
    font-size: 21px;
    font-weight: 100;
    color: #F9B233;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}

.det-u-2 {
    text-align: left;
    position: relative;
    left: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.71);
}

.det-u_u-2 {
    position: relative;
    text-align: left;
    left: 60px;
    top: 9px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.ico-u-2{
    width: 86%;
    position: relative;
    top: 34px;
    object-fit: cover;
    height: 128px;
}

.fa-u-2{
    position: relative;
    top: 58px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(8, 8, 8, 0.78);
    font-size: 13px;
     z-index: 10000;
}

.da-u-2{
    position: relative;
    top: 71px;
    color: orange;
    font-size: 12px;
     z-index: 10000;
}

.total-u-2{
    position: relative;
    top: 93px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    z-index: 10000;
}

.det-nu-u-2{
    position: relative;
    text-align: left;
    left: 60px;
    top: 9px;
    margin-top: 133px;
    font-size: 19px;
    color: rgba(85, 85, 85, 0.76);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.ico-fu-2 {
    width: 76%;
    position: relative;
    top: 51px;
    object-fit: cover;
    height: 91px;
}

hr.lu-u-2 {
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid black;
    width: 93%;
    top: 99px;
    position: relative;
}

.ico-rep-u-2 {
    width: 17%;
    position: relative;
    top: 140px;
    left: 100px;
}
.text-rep-u-2 {
    position: relative;
    text-align: left;
    top: 151px;
    left: -58px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(51, 51, 51, 0.64);
    font-family: 'Open Sans', sans-serif;
}

.btn-warning.u-2 {
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 184px;
    width: 34%;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-warning.u-2:hover{
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 184px;
    width: 34%;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-warning.u-3 {
    color: #fff;
    background-color: #F9B233;
    border-color: #F9B233;
    position: relative;
    top: 184px;
    width: 34%;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-warning.u-3:hover {
    color: #F9B233;
    background-color: #fff ;
    border-color: #F9B233;
    position: relative;
    top: 184px;
    width: 34%;
    font-weight: 400;
    letter-spacing: 1px;
}

.w3-validate-for-u-2 {
    font-size: 16px;
    width: 77%;
    position: relative;
    top: 218px;
    left: 23px;
    color: rgba(85, 85, 85, 0.81);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.w3-check-for-u-2 {
    position: relative;
    top: 246px;
    left: 13px;
    z-index: 10000;
}

.btn-info.fo-u-2 {
    color: #fff;
    background-color: rgba(0, 139, 139, 0.78);
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 240px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-info.fo-u-2:hover {
    color: rgba(0, 139, 139, 0.78);
    background-color: #fff;
    border-color: rgba(0, 139, 139, 0.78);
    position: relative;
    top: 240px;
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}


/*-------------------Responsive--------------*/


@media (max-width: 1199px){
  .box-u-2{
    width: 85%;
}

.box-white-u-2 {
    width: 85%;

}

}

@media (max-width: 991px){
    .box-white-u-2 {
     margin-bottom: 55px;
     width: 100%;
}

  .box-u-2{
    width: 100%;
}

.w3-check-for-u-2 {
    left: 41px;
}

.btn-info.fo-u-2 {
    width: 48%;
}

.btn-info.fo-u-2:hover {
    width: 48%;
}


}

@media screen and (max-width: 700px){
      .box-white-u-2 {
        height: 1655px;
}

.btn-info.fo-u-2 {
    width: 100%;
    font-size: 12px;
}

.btn-info.fo-u-2:hover {
    width: 100%;
    font-size: 12px;
}

.btn-warning.u-2 {
    width: 100%;
}

.btn-warning.u-2:hover{
    width: 100%;
}

.btn-warning.u-3 {
    top: 193px;
    width:100%;
}

.btn-warning.u-3:hover {
    top: 193px;
    width:100%;
}

.w3-validate-for-u-2 {
    font-size: 14px;
    width: 77%;
    top: 218px;
    left: 0px;

}

.w3-check-for-u-2 {
    top: 200px;
    left: 0px;
}

/*  .box-u-2{
    height: 353px;
}*/
.refer-u-2{
      left: -54px;
    font-size: 14px;
}

.precio-u-2{
    top: -23px;
    right: -78px;
    font-size: 17px;
}

.det-u-2{
    left: 0px;
}

.sub-u-2{
    top: -20px;
    left: -1px;
    font-size: 16px;
}

.det-u_u-2{
    left: 0px;
}

.ico-u-2{
    width: 80%;
    height: 80px;
}
.fa-u-2{
    top: 38px;
}

.da-u-2{
    top: 39px;
    margin-bottom: 30px;

}

.ico-rep-u-2{
    width: 29%;
    position: relative;
    top: 114px;
    left: 0px;
}

.text-rep-u-2{
    left: 59px;
}
.det-nu-u-2{
    left: 0px;
}
}


