.slider {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  display: inline;
}
.slider-small {
	display: none;
}
.queeslonuevo {
	display: inline;
}
.queeslonuevo-small{
	display: none;
}

.cuerpo-producto:hover
{
	cursor: pointer;
}
.fancybox-skin {
	background-color: white;
	border-radius: 0px;
	color: black;
}
.iconosalarmas {
	width: 100%;
	font-size: 25px;
	text-align: center;
}
.fancybox-wrap,  .fancybox-desktop, .fancybox-type-html, .fancybox-opened {
	opacity: 0.4;
}
.icon-thumbs-up-alt {
	color: rgb(215, 106, 96);
}
#ajax_productos{
	-webkit-transition: opacity 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in;
	-o-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;
}
#ajax_productos.active{
	opacity: 1;
}
#ajax_productos.disable{
	opacity: 0;
}


@media(max-width: 479px) {
.slider {
	display: none;
}
.slider-small, .queeslonuevo-small {
	display: inline;
	position: relative;
  float: left;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}
.queeslonuevo {
	display: none;
}
}