.container.chek{
    width: 1030px;
}

.cartMiniTable {
    border: 0px solid #DDDDDD;
    padding: 36px;
    background: #EDECE9;
    padding-bottom: 40px;
}

.div-1 {
    text-align: left;
    color: rgba(204, 108, 78, 1) !important;
    margin-top: 10px;
}

.vitrin{
	text-align: left;
    color: rgba(204, 108, 78, 1) !important;
}

hr.cheki{
	margin-top: -1px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(204, 108, 78, 1);
    width: 76px;
    left: -2px;
    position: relative;
}

tbody.tabla-1{
    font-size: 10px;
    color: #797072;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-bottom: 1px solid rgba(128, 128, 128, 0.07);
}

.info-tr{
    text-align: center;
}

.step-margin-top{
  margin-top: 190px;
}

.btn-default.chek{
    width: 72%;
    color: #797072;
    background-color: #fff;
    border-radius: 0px;
    border: 2px solid rgba(204, 108, 78, 1);
    right: 16px;
    position: relative;
    margin-top: 2px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 18px 12px;
    float: left;
}

.btn-default.chek:hover{
    width: 72%;
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-radius: 0px;
    border: 2px solid rgba(204, 108, 78, 1);
    right: 16px;
    position: relative;
    margin-top: 2px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 18px 12px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float: left;
}

.btn-default.chek-c{
    width: 72%;
    color: #797072;
    background-color: #fff;
    border-radius: 0px;
    border: 2px solid rgba(204, 108, 78, 1);
    right: 143px;
    position: relative;
    margin-top: 2px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 18px 12px;
}

.btn-default.chek-c:hover{
    width: 72%;
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-radius: 0px;
    border: 2px solid rgba(204, 108, 78, 1);
    right: 143px;
    position: relative;
    margin-top: 2px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 18px 12px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

hr.h-1{
    margin-top: 89px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 100%;
    position: relative;
    right: 18px;
}

hr.h-2{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 100%;
    position: relative;
    right: 18px;
}

.table.std>thead>tr>th, .table.std>tbody>tr>th, .table.std>tfoot>tr>th, .table.std>thead>tr>td, .table.std>tbody>tr>td, .table.std>tfoot>tr>td {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
    width: 100%;
}

.btn-lg {
    background-color: #CDCDCD;
    border-radius: 0;
    width: 100%;
    font-size: 12px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-lg:hover {
    background-color: white;
    border-radius: 0;
    width: 100%;
    font-size: 12px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mensaje{
    text-align: center;
    font-size: 8px;
    margin-top: 5px;
    width: 100%;
    position: relative;
    right: 143px;
    color: rgba(204, 108, 78, 1);
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    letter-spacing: 1px;
}

.info-despacho {
    text-align: left;
    font-size: 11px;
    color: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    width: 187px;
    padding-left: 2px;
}

.info-despacho.active{
    text-align: left;
    font-size: 11px;
    color: rgba(204, 108, 78, 1);
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(204, 108, 78, 1);
    width: 187px;
    padding-left: 2px;
}

.form-line{
    padding: 0px;
    margin-top: 15px;
}

.form-control.checkout {
    display: block;
    width: 67%;
    height: 21px;
    padding: 6px 12px;
    font-size: 9px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.43);
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 0px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    letter-spacing: 1px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.btn-default.complete {
    color: #333;
    background-color: #fff;
    border-color: transparent;
    border: 2px solid rgba(204, 108, 78, 1);
    border-radius: 0px;
    float: left;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.texto-a {
    text-align: left;
    font-size: 11px;
    color: gray;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    letter-spacing: 1px;
    margin-top: -4px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.rad {
    position: relative;
    right: 27px;
    font-size: 12px;
    color: gray;
    margin-top: 4px;
    margin-bottom: 10px;
}

.radio-inline, .checkbox-inline {
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -15px;
    margin-top: 0px;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: 2px solid rgba(204, 108, 78, 1);
    margin-top: 4px;
}

.form-control.comu {
    display: block;
    width: 67%;
    height: 21px;
    padding: 5px 12px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.43);
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-size: 9px;
    color: gray;
    margin-bottom: 0px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    letter-spacing: 1px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.fa-caret-down.chek {
    position: relative;
    float: right;
    margin-bottom: -15px;
    top: 4px;
    cursor: pointer;
    z-index: 1030;
    left: -123px;
}

.form-control.input-sm {
    height: 25px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
    width: 33%;
    margin-top: 10px;
    border: 2px solid rgba(204, 108, 78, 1);
    font-family: 'Open Sans Condensed', sans-serif;
}

.btn-default.usar {
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-color: transparent;
    float: left;
    margin-top: 11px;
    width: 19%;
    border-radius: 0px;
    height: 27px;
    font-size: 11px;
    /* border: 1px solid rgba(204, 108, 78, 1); */
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.info-cupon {
    text-align: left;
    font-size: 11px;
    color: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    width: 211px;
    padding-left: 2px;
}


.info-cupon.active {
    text-align: left;
    font-size: 11px;
    color: (204, 108, 78, 1);
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid (204, 108, 78, 1);
    width: 211px;
    padding-left: 2px;
}

.info-pago {
    text-align: left;
    font-size: 11px;
    color: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    width: 40px;
    padding-left: 2px;
    margin-top: 26px;
}


.info-pago.active {
    text-align: left;
    font-size: 11px;
    color: (204, 108, 78, 1);
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid (204, 108, 78, 1);
    width: 40px;
    padding-left: 2px;
    margin-top: 26px;
}

.texto-trans{
    text-align: left;
    font-size: 11px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 400;
    border-radius: 4px;
    top: 12px;
    position: relative;
    letter-spacing: 1.1px;
}

.texto-datos{
    text-align: left;
    color: rgba(204, 108, 78, 1);
    margin-top: 19px;
    font-size: 11px;
}

a.ter-chek {
    color: gray;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
}


a.ter-chek-2{
    color: gray;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
}

.suger{
    color: rgba(204, 108, 78, 1);
    font-weight: 200;
    font-size: 11px;
    line-height: 16px;
    text-align: left;

}

label.payment-label {
    text-align: left;
    width: 100%;
    color: #675C5E;
    font-size: 9px;
    letter-spacing: 1px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    margin-top: 10px;
}

.logo_webpay-dos{
    float: left;
    margin-bottom: 24px;
    margin-top: 12px;
}

.col-md-8 {
    padding: 0px;
}

.control-label.tra {
    float: left;
    font-weight: 300;
    position: relative !important;
    top: 35px !important;
    z-index: 1030 !important;
    font-size: 12px !important;
    left: 17px !important;
    color: white !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.imgup>ul>li {
    display: block;
    border: rgba(128, 128, 128, 0.46) solid 1px !important;
    float: left !important;
    width: 65% !important;
    height: 35px !important;
    overflow: hidden !important;
    position: relative !important;
    margin-left: 1px !important;
    background: rgba(204, 108, 78, 1) !important;
    margin-bottom: 24% !important;
    margin-top: -24px !important;
}

.t-1 {
    color: #D16B52;
    font-weight: 800;
    font-size: 9px;
    letter-spacing: 1px;
    margin-bottom: 3px;
    font-family: 'Open Sans Condensed';
}

td.resu{
    font-weight: 700;
}

td.box-sub{
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 0px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    top: 12px;
    position: relative;
    letter-spacing: 1.7px;
    font-weight: 700;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

td.box-tol {
    display: inline-block;
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 0px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    top: 12px;
    position: relative;
    letter-spacing: 1.7px;
    font-weight: 700;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.price-che{
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 16px;
    left: 0;
    right: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    top: 10px;
    color: rgba(204, 108, 78, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.btn-default.complete.focus{
    color: white;
    background-color: gray;
    border-color: transparent;
    border: 2px solid gray;
    border-radius: 0px;
    float: left;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.saludo{
    text-align: left;
    font-size: 11px;
    color: gray;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;

}

.recado{
    text-align: left;
    font-size: 11px;
     color: gray; 
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 23px; 
    width: 102%;  
    font-family: 'Open Sans Condensed', sans-serif;
}

.ir{
    text-align: left;
    font-size: 9px;
    /* color: gray; */
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.3);
    -o-transform: scaleY(1.2);
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 102%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.texto_0{
color: rgba(204, 108, 78, 1);
    font-size: 23px;
    text-align: center;
    margin-top: 200px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    -ms-transform:scaleX(1.5); /* IE */
     -moz-transform:scaleX(1.5); /* Firefox */
     -webkit-transform:scaleX(1.5); /* Safari and Chrome */
     -o-transform:scaleX(1.5);/* Opera */ 
}

.envio{
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-weight: 200;
}

a.m-1{
    color: rgba(204, 108, 78, 1) !important;
}

.btn-default.bts {
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-color: rgba(204, 108, 78, 1);
    width: 52%;
    border-radius: 0px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 16px;
}

a.yu{
    font-size: 12px;
    position: relative;
    top: 24px;
    border-bottom: 1px solid gray;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
}

.btn-default.bts-2 {
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-color: rgba(204, 108, 78, 1);
    width: 33%;
    border-radius: 0px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.contentBox{
    position: fixed;
    bottom: 0px;
    z-index: -1;
    margin-bottom: 30px;
}

.corri {
    position: relative;
    right: 55px;
}

.img-cart {
    width: 68%;
    object-fit: cover;
    height: 94px;
    position: relative;
    top: 19px;
}

.td-img {
    width: 19%;
}

td.nomb{
  color: rgba(204, 108, 78, 1);
  text-align: left;
  width: 20%;
}

td.subi{
color: rgba(204, 108, 78, 1);
}

.tal{
    color: #797072;
}

.col{
    color: #797072;
}

td, th {
    padding: 0;
    color: #797072;
    text-align: center;
}

.advertencia-tienda{
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
     margin-bottom: 5px;
}
.advertencia-chilexpress{
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
     margin-bottom: 5px;
}
.advertencia-domicilio{
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;

    margin-bottom: 5px;
}
/*------------------------------------------Responsive------------------------*/

@media (max-width: 1199px){
    .container.chek{
        width: 100%;
    }
}

@media (max-width: 991px){
    .btn-default.bts {
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-color: rgba(204, 108, 78, 1);
    width: 600px;
    border-radius: 0px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 16px;
}

}

@media (max-width: 767px){
    .btn-default.bts {
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-color: rgba(204, 108, 78, 1);
    width: 500px;
    border-radius: 0px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 13px;
}

.texto_0 {
    color: rgba(204, 108, 78, 1);
    font-size: 18px;
    text-align: center;
    margin-top: 200px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    -ms-transform: scaleX(1.5);
    -moz-transform: scaleX(1.5);
    -webkit-transform: scaleX(1.5);
    -o-transform: scaleX(1.5);
}

}

@media (max-width: 600px){
    .texto_0 {
    color: rgba(204, 108, 78, 1);
    font-size: 13px;
    text-align: center;
    margin-top: 200px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    -ms-transform: scaleX(1.5);
    -moz-transform: scaleX(1.5);
    -webkit-transform: scaleX(1.5);
    -o-transform: scaleX(1.5);
}

}

@media (max-width: 530px){
    .btn-default.bts {
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-color: rgba(204, 108, 78, 1);
    width: 400px;
    border-radius: 0px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 10px;
}

}

@media (max-width: 414px){
.btn-default.bts {
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-color: rgba(204, 108, 78, 1);
    width: 330px;
    border-radius: 0px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 8px;
}

.texto_0 {
    color: rgba(204, 108, 78, 1);
    font-size: 11px;
    text-align: center;
    margin-top: 91px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    -ms-transform: scaleX(1.5);
    -moz-transform: scaleX(1.5);
    -webkit-transform: scaleX(1.5);
    -o-transform: scaleX(1.5);
}

}

@media (max-width: 375px){
    .texto_0 {
    color: rgba(204, 108, 78, 1);
    font-size: 10px;
    text-align: center;
    margin-top: 91px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    -ms-transform: scaleX(1.5);
    -moz-transform: scaleX(1.5);
    -webkit-transform: scaleX(1.5);
    -o-transform: scaleX(1.5);
}

}

@media (max-width: 360px){
    .texto_0 {
    color: rgba(204, 108, 78, 1);
    font-size: 11px;
    text-align: center;
    margin-top: 91px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    -ms-transform: scaleX(1.5);
    -moz-transform: scaleX(1.5);
    -webkit-transform: scaleX(1.5);
    -o-transform: scaleX(1.5);
    padding-left: 40px;
    padding-right: 50px;
}

}

@media (max-width: 320px){
    .texto_0 {
    color: rgba(204, 108, 78, 1);
    font-size: 11px;
    text-align: center;
    margin-top: 91px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    -ms-transform: scaleX(1.5);
    -moz-transform: scaleX(1.5);
    -webkit-transform: scaleX(1.5);
    -o-transform: scaleX(1.5);
    padding-left: 60px;
    padding-right: 50px;
}

.btn-default.bts {
    color: white;
    background-color: rgba(204, 108, 78, 1);
    border-color: rgba(204, 108, 78, 1);
    width: 247px;
    border-radius: 0px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 7px;
}

}