/* para conocer a cajas en absolute */
.cont-boxes
{
    position:relative; 
    width:100%; 
    height:100%;
    overflow: hidden;
}
/* hover cajas*/
.caja-xl, .caja-m, .caja-s 
{
    overflow: hidden;
}


/* boxes */
.box-art, 
.box-event,
.box-banner,
.box-product,
.box-profile,
.box-gallery
{
    z-index: 5;
    position: absolute;
    height: 100%;
  /*  width: 95%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
  

}
.sobre-botones:hover .box-art,
.sobre-botones:hover .box-event,
.sobre-botones:hover .box-banner,
.sobre-botones:hover .box-product,
.sobre-botones:hover .box-profile,
.sobre-botones:hover .box-gallery
{    
       background: rgba(1, 1, 1, 0.36);
}
/*.vertical-center-cont
{
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 0px;
    width: 100%;
}*/
.horizontal-center-cont
{
    margin: 0 auto;
    width: 100%;
}

 .box-art h2,
 .box-event h2,
 .box-banner h2,
 .box-product h2,
 .box-profile h2,
 .box-gallery h2
{
    color: white;
    float:left;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 100;
    word-wrap: break-word;
}
/* .box-art p,
 .box-event p,
 .box-banner p,
 .box-product p,
 .box-profile p,
 .box-gallery p
{
    color: white;
    width: 100%;
    float: left;
    text-align: center;
    margin: 0px;
    margin-left: 0px;
}*/
.sobre-botones .box-profile,
.sobre-botones .box-product
{
    opacity: 0;
}
.sobre-botones:hover .box-profile,
.sobre-botones:hover .box-product
{
    opacity: 1;
}

/* articulo*/
/* caja-xl */
.caja-xl .box-art h2
{
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
}
.caja-xl .box-art p
{
    font-size: 18px;
    margin: 10px 0px 0px 0px;
}

/* caja-m */
.caja-m .box-art h2
{
      font-size: 25px;
      font-weight: 300;
      text-transform: uppercase;
}
.caja-m .box-art p
{
    font-size: 16px;
}

/* caja-s */
.caja-s .box-art 
{
    
    padding: 0px 10px;
}
.caja-s .box-art h2
{
    font-size: 20px;
    margin: 20px 0px;
}
.caja-s .box-art p
{
    font-size: 13px;
    margin: 0px;
}

/* evento*/
.box-event-date
{
    float: left;
    background-color: white;
    padding: 8px;
}
.box-event-date h2,
.box-event-date p
{
    color: gray;
    padding-left: 0px !important;
    width: 100% !important;
    margin-top: 0px !important;
    font-weight: 400;
    text-align: center;
}

/* caja-xl */
.caja-xl .box-event-date
{
      width: 40%;
}
.caja-xl .box-event-date h3
{
    font-size: 78px;
    margin: 0px !important;
    font-weight: 700;
}
.caja-xl .box-event-date p
{
    font-size: 35px;
    margin: 0px !important;
    font-weight: 700;
    text-transform: uppercase;
}
.caja-xl .box-event-h2
{
      width: 60%;
      text-align: left;
      font-size: 35px;
      text-transform: uppercase;
      font-weight: 400;
      padding-left: 30px;
}

/* caja-m */
.caja-m .box-event-date
{
      width: 40%;
}
.caja-m .box-event-date h3
{
    font-size: 60px;
    margin: 0px !important;
    font-weight: 700;
}
.caja-m .box-event-h2
{
      width: 60%;
      text-align: left;
      font-size: 23px;
      text-transform: uppercase;
      font-weight: 300;
      padding-left: 20px;
}

.caja-m .box-event p
{
   font-size: 35px;
    margin: 0px !important;
    font-weight: 700;
    text-transform: uppercase;
}

/* caja-s */
.caja-m .box-event-date
{

}
.caja-m .box-event-date h3
{

}
.caja-m .box-event-h2
{
    
}
.caja-m .box-event p
{

}

/* banner */
.sobre-botones .box-banner
{
    opacity: 0;
}
.sobre-botones:hover .box-banner
{
    opacity: 1;
}

/* caja-xl */

/* caja-m */

/* caja-s */



/* producto */


.box-product-info
{
    display: none;
}
.sobre-botones:hover .box-product .box-product-info
{
    display: block;
}
.box-product h2
{
    font-size: 30px;
    font-weight: 300;
}
.box-product-button
{
    width: 200px;
    padding:15px 0px;
    border: 0px;
    background-color: white;
    color: rgb(85, 85, 85);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-weight: 400;
    font-size: 20px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.box-product-button:hover
{
    background-color: rgb(229, 229, 229);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

}
/* caja-xl */

.caja-xl .box-product h2
{
      margin-bottom: 40px;
}

.caja-xl .box-product .price
{

}
.caja-xl .box-product .price:hover
{

}

/* caja-m */
.caja-m .box-product-button
{
    width: 150px;
    padding: 8px; 
}
.caja-m .box-product h2
{
    font-size: 20px;
    margin-bottom: 20px;
}

.caja-m .box-product .price
{

}
.caja-m .box-product .price:hover
{

}

/* caja-s */
.caja-s .box-product h2
{

}
.caja-s .box-product p
{

}
.caja-s .box-product .price
{

}
.caja-s .box-product .price:hover
{

}


/* perfil */

/* caja-xl */
.caja-xl .box-profile h2
{
    font-size: 45px;

    font-weight: 300;
    text-transform: capitalize;
}
.caja-xl .box-profile p
{

}
/* caja-m */
.caja-m .box-profile h2
{
    margin-top: 20px;

    text-transform: capitalize;
    font-weight: 100;
}
.caja-m .box-profile p
{

}
/* caja-s */
.caja-s .box-profile h2
{

}
.caja-s .box-profile p
{

}


/* galeria */
.box-gallery
{

}
.box-gallery i
{
    font-size: 40px;
    color: white !important;
}
.box-gallery:hover
{

}

/* caja-xl */
.caja-xl .box-gallery h2
{
    font-size: 40px;

    font-weight: 300;
}


/* caja-m */
.caja-m .box-gallery h2
{
    font-size: 25px;

    font-weight: 300;
    margin-top: 5px;
}
.caja-m .box-gallery i
{
    font-size: 30px;
}

/* caja-s */
.caja-s .box-gallery h2
{

}

@media (max-width: 1199px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
   /* width: 94%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}


}

@media (max-width: 1024px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
   /* width: 94%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}

@media (max-width: 991px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    /*width: 96%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}


@media (max-width: 768px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}


@media (max-width: 700px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}



@media (max-width: 690px){
    .img-cat {
/*    height: 395px;*/
    margin-bottom: 18px;
/*    width: 97%;*/
}

    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
   /* width: 95%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

.horizontal-center-cont {
    margin: 0 auto;
    width: 85%;
}

}

@media (max-width: 660px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
/*    width: 95%;
*/    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}


@media (max-width: 600px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
   /* width: 95%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}

@media (max-width: 560px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
  /*  width: 94%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}


@media (max-width: 530px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
  /*  width: 94%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}



@media (max-width: 480px){

    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
/*    width: 93%;*/
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}


/* boxes */
.box-art, 
.box-event,
.box-banner,
.box-product,
.box-profile,
.box-galery
{

    background-position: 0 +50% !important;

}
.box-art:hover,
.box-event:hover,
.box-banner:hover,
.box-product:hover,
.box-profile:hover,
.box-galery:hover
{    
    background-position: 0 +68% !important;
}

 .box-art h2,
 .box-event h2,
 .box-banner h2,
 .box-product h2,
 .box-profile h2,
 .box-galery h2
{
   font-size: 25px !important;
}
 .box-art p,
 .box-event p,
 .box-banner p,
 .box-product p,
 .box-profile p,
 .box-galery p
{
    font-size: 16px !important;
}
.box-event-date
{
    width: 23%;
    padding: 5px;
}
.box-event-date h2
{

}
.box-event-date p
{

}
.box-banner h2
{
    font-size: 45px !important;
}
.box-galery,
.box-profile
{
    opacity: 1;
}
}

/* archivar y moficar */

.modifi
{
    background-color:rgb(77, 193, 199) !important; 
    position:absolute; 
    z-index:10; 
    width:100%; 
    height:100%;
    display: table;
    padding: 0;
}
.modifi button
{
    font-size: 25px; 
    color:white !important; 
    background-color:transparent; 
    border: 0px;  
    margin:10px 15px;
    position: absolute;
    right: 0;
}
.modifi ul li
{
    width:100%; 
    text-align:center; 
    list-style: none; 
     padding: 5px 0px;
}
.modifi ul li a
{
    color:white; 
    font-size:20px;
}
.cont-modifi
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cont-princ-boxes
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
/*.cont-princ-boxes img 
{
    max-height: 100%;
    max-width: 100%;
    display: inline;
}*/
/* breakpoints responsive */

.caja-xl{height: 513px;}
.caja-m{height: 354.5px;}
.caja-s{height: 128px;}


@media (max-width: 414px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 110%;
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}


@media (max-width: 412px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 110%;
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}

@media (max-width: 400px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 110%;
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}

@media (max-width: 375px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 110%;
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}

@media (max-width:360px ){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 110%;
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}

@media (max-width: 320px){
    .box-art, .box-event, .box-banner, .box-product, .box-profile, .box-gallery {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 110%;
    padding: 0px 60px;
    font-weight: 100 !important;
    background: rgba(1, 1, 1, 0.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: table;
}

}

@media only screen and (max-width:1050px) {
  
    ul.nav-list 
    {
         margin-top: 30px;
    }

}
@media only screen and (max-width:1024px) {


}
@media only screen and (max-width:767px) {
 
    .caja-xl, .caja-m,.caja-s
    {
        height: 400px !important;
    }
}
@media only screen and (max-width:320px) {
    .caja-xl, .caja-m,.caja-s
    {
        height: 230px !important;
    }
    .cont-princ-boxes img
    {
        display: inline;
    }
}
