
    <div class="bg-footer pad50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <center>
                        <img src="static/img/logo.png" alt="..." class="img-responsive space50">
                            <div class="space30"></div>
                                <!-- <i class="fa fa-facebook social"></i>
                                <i class="fa fa-twitter social"></i>
                                <i class="fa fa-instagram social"></i>   -->
                    </center>
                    
                        <div class="border-right"></div>                            
                </div>

                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <center>
                        <img src="static/img/footer-iocn.png" class="space40">
                    </center>
                
                    <div class="border-right"></div>
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="grey">
                        <ul class="text-right fsize16">
                            <li><a href="{{ site_base }}/metodo_rdk">Método RDK ®</a></li>
                            <li><a href="{{ site_base }}/products">Productos</a></li>
                            <li><a href="{{ site_base }}/plans">Planes</a></li>
                            <li><a href="{{ site_base }}/terms_conditions">Términos y condiciones</a></li> 
                        </ul>
                        <ul class="text-right fsize24 space5">
                            <li><a href="{{ site_base }}/contact">Contacto</a></li>
                        </ul>
                    </div>
                    <p class="text-right text-white fweight100 fsize16">contacto@redukcal.com<br>Teléfono +562-2938 00 11</p>
                </div>
            </div>
        </div>
    </div>
