.green-box {
    padding: 107px 50px;
    background-color: #d9e2ce;
    min-height: 500px;
    margin-bottom: 13px;
}

.product-detail{
    background: rgba(128, 128, 128, 0.08);
}

.fondo-detalle {
    width: 100%;
    height: 205px;
    object-fit: cover;
    margin-top: 0px;
}

.texto-detalle{
    position: relative;
    top: -81px;
    font-size: 45px;
    color: white;
    line-height: 37px;
    font-weight: 300;
    letter-spacing: 1px;
    left: 168px;
}

.btn-default.detail {
    color: black;
    background-color: white;
    border-color: white;
    top: -139px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 23%;
    height: 63px;
    font-size: 17px;
    float: right;
}
.btn-default.detail:hover {
    color:white;
    background-color: black  ;
    border-color: black;
    top: -139px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid black;
    border-radius: 0px;
    width: 23%;
    height: 63px;
    font-size: 17px;
    float: right;
}

hr.det-1{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid #555453;
    width: 80%;
    top: 32px;
    position: relative;
}


.clearfix-fun-2 {
    margin-top: 60px;
}

.box-det {
    margin-top: 20px;
}

.name_prod_detail {
    font-size: 28px;
    text-align: left;
    left: -70px;
    position: relative;
}

.descr_prod_detail{
    text-align: left;
    font-size: 17px;
    height: 180px;
    width: 73%;
    left: -138px;
    position: relative;
    color: rgba(128, 128, 128, 0.76);
    font-weight: 300;
}

.line{
    text-align: left;
    font-size: 17px;
    height: 180px;
    width: 73%;
   /* left: -73px;*/
    position: relative;
    color: rgba(128, 128, 128, 0.76) ;
    font-weight: 400;
}

.product-price-2{
    text-align: left;
    margin-bottom: 50px;
    position: relative;
    top: 7px;
    font-size: 27px;
    float: left;
    left: -69px;
}

.btn-success.car {
    color: gray;
    background-color: rgba(221, 221, 221, 0.29);
    border-color: black;
    position: relative;
    left: 13px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -188px;
    z-index: 1030;
    width: 33%;
    height: 50px;
    border: 2px solid gray;
    float: right;
    font-weight: 400;
}

.btn-success.car:hover {
    color:white;
    background-color:#777;
    border-color: black;
    position: relative;
    left: 13px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -188px;
    z-index: 1030;
    width: 33%;
    height: 50px;
    border: 2px solid gray;
    float: right;
    font-weight: 400;
}


hr.detail{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(51, 51, 51, 0.83);
    width: 116%;
    position: relative;
    left: -100px;
    top: -102px;
}


.hop{
    margin-bottom: 45px;
    font-size: 26px;
    color: #848484;
    top: -25px;
    position: relative;
    font-weight: 300;
}

.dano{
     padding-left: 65px;
    padding-right: 145px;
}

.text-relac{
    position: relative;
    left: 59px;
    margin-bottom: 54px;
    font-size: 28px;
}

hr.lin{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(51, 51, 51, 0.83);
    width: 46%;
    position: relative;
    left: 59px;
    top: -47px;
}


.img_prod_detail{
    position: relative;
    top: 37px;
    /* width: auto; */
    /* height: 140px; */
    max-width: 360px;
    left: -55px;
}



/*-----------------------------------------------Responsive-------------------------------------------------*/


@media (max-width: 991px){
    .img_prod_detail {
    position: relative;
    top: 37px;
    /* width: auto; */
    /* height: 140px; */
    max-width: 360px;
    left: 111px;
}

.name_prod_detail {
    text-align: left;
    left: 134px;
    margin-top: 63px;
}

.descr_prod_detail {
    width: 100%;
    left: 135px;
}

.product-price-2 {
    margin-bottom: 216px;
    position: relative;
    top: 7px;
    left: 133px;
}

.btn-success.car {
    color: gray;
    background-color: rgba(221, 221, 221, 0.29);
    border-color: black;
    position: relative;
    left: 101px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 116px;
    z-index: 1030;
    width: 52%;
    height: 50px;
    border: 2px solid gray;
    float: right;
    font-weight: 400;
}

.btn-success.car:hover {
    color:white;
    background-color: #777;
    border-color: black;
    position: relative;
    left: 101px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 116px;
    z-index: 1030;
    width: 52%;
    height: 50px;
    border: 2px solid gray;
    float: right;
    font-weight: 400;
}

}


@media (max-width: 767px){
    .img_prod_detail {
    left: 0px;
}

.descr_prod_detail {
    width: 100%;
    left: 13px;
}

.btn-success.car {
    color: gray;
    background-color: rgba(221, 221, 221, 0.29);
    border-color: black;
    position: relative;
    left: -136px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 116px;
    z-index: 1030;
    width: 52%;
    height: 50px;
    border: 2px solid gray;
    float: right;
    font-weight: 400;
}

.btn-success.car:hover {
    color: white;
    background-color: #777;
    border-color: black;
    position: relative;
    left: -136px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 116px;
    z-index: 1030;
    width: 52%;
    height: 50px;
    border: 2px solid gray;
    float: right;
    font-weight: 400;
}

}

