.til-ban{
    position: relative;
    top: -258px;
    color: white;
    left: 0px;
    /*border-bottom: 2px solid white;*/
    font-size: 42px;
    font-weight: 600;
}

.til-ban-2{
    color: white;
    position: relative;
    top: -324px;
    text-align: left;
    left: 0px;
    font-weight: 100;
    width: 77%;
    font-size: 23px;
}

hr.detail-art{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -221px;
    top: -262px;
}

.dan{
    position: relative;
    top: -200px;
    text-align: left;
    left: -15px;
    width: 98%;
    font-size: 22px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
}
