<div class="container">

	<h5>HEADER</h5>

	<a href="{{ site_base }}/listado_productos?tag=audio_profesional">audio profesional</a>
	<a href="{{ site_base }}/listado_productos?tag=video_profesional">video profesional</a>
	<a href="{{ site_base }}/listado_productos?tag=educacion">educacion</a>
	<a href="{{ site_base }}/listado_productos?tag=audivisual">audiovisual</a>
	<a href="{{ site_base }}/listado_productos?tag=accesorios">accesorios</a>
	<a href="{{ site_base }}/listado_productos?tag=ofertas">ofertas</a>
	<a href="{{ site_base }}/contact">CONTACTO</a>
</div>