{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}



{% block javascript %}
<script type="text/javascript">
    $(document).ready(function()
    {
        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(13,13,13);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'products_per_page' : 9,
            // 'maxProducts' : 3,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
             'user' : '{% try %}{{ user["email"] }}{% except %}{% end %}'
        };

        $('.product-list').ecommerce( config);
      });
</script>

{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<section style="height: 434px;position: relative;width: 100%;">
<div>
        {% if is_admin %}
        <div class="image-upload lapiz visible-movil">
            <label for="img_video">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_img_video" name="image" id="img_video" >
        </div>
        {% end %}
        <img id="{{ site.name }}_img_video" src="{{ read_image(site.name + '_img_video', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_video',500) }}'" class=" img_videos decolor" alt="item">
        <div class="box" >
            <h1 class="text-videos text-center  {{editabletext}}" text-id="{{ site.name + '_text_video' }}"> {{ read_text(site.name +  '_text_video') }}
        </h1>
    </div>
</div> 
</section>

<section style="height: 135px;">
    
</section>

<!-- *****img videos con link*** -->
<!-- PRIMERA -->

<section class="">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos1">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos1" name="image" id="img_videos1" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos1' }}" href="{{ read_link(site.name + '_img_videos1') }}">

                        <img id="{{ site.name }}_img_videos1" src="{{ read_image(site.name + '_img_videos1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos1',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video1' }}"> {{ read_text(site.name +  '_text_video1') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos1' }}" content="{{ read_link(site.name + '_img_videos1') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos2">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos2" name="image" id="img_videos2" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos2' }}" href="{{ read_link(site.name + '_img_videos2') }}">

                        <img id="{{ site.name }}_img_videos2" src="{{ read_image(site.name + '_img_videos2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos2',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center  v_1 {{editabletext}}" text-id="{{ site.name + '_text_video2' }}"> {{ read_text(site.name +  '_text_video2') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos2' }}" content="{{ read_link(site.name + '_img_videos2') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos3">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos3" name="image" id="img_videos3" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos3' }}" href="{{ read_link(site.name + '_img_videos3') }}">

                        <img id="{{ site.name }}_img_videos3" src="{{ read_image(site.name + '_img_videos3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos3',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video3' }}"> {{ read_text(site.name +  '_text_video3') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos3' }}" content="{{ read_link(site.name + '_img_videos3') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos4">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos4" name="image" id="img_videos4" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos4' }}" href="{{ read_link(site.name + '_img_videos4') }}">

                        <img id="{{ site.name }}_img_videos4" src="{{ read_image(site.name + '_img_videos4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos4',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video4' }}"> {{ read_text(site.name +  '_text_video4') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos4' }}" content="{{ read_link(site.name + '_img_videos4') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos5">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos5" name="image" id="img_videos5" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos5' }}" href="{{ read_link(site.name + '_img_videos5') }}">

                        <img id="{{ site.name }}_img_videos5" src="{{ read_image(site.name + '_img_videos5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos5',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video5' }}"> {{ read_text(site.name +  '_text_video5') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos5' }}" content="{{ read_link(site.name + '_img_videos5') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos6">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos6" name="image" id="img_videos6" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos6' }}" href="{{ read_link(site.name + '_img_videos6') }}">

                        <img id="{{ site.name }}_img_videos6" src="{{ read_image(site.name + '_img_videos6', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos6',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video6' }}"> {{ read_text(site.name +  '_text_video6') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos6' }}" content="{{ read_link(site.name + '_img_videos6') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos7">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos7" name="image" id="img_videos7" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos7' }}" href="{{ read_link(site.name + '_img_videos7') }}">

                        <img id="{{ site.name }}_img_videos7" src="{{ read_image(site.name + '_img_videos7', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos7',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video7' }}"> {{ read_text(site.name +  '_text_video7') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos7' }}" content="{{ read_link(site.name + '_img_videos7') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos8">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos8" name="image" id="img_videos8" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos8' }}" href="{{ read_link(site.name + '_img_videos8') }}">

                        <img id="{{ site.name }}_img_videos8" src="{{ read_image(site.name + '_img_videos8', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos8',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video8' }}"> {{ read_text(site.name +  '_text_video8') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos8' }}" content="{{ read_link(site.name + '_img_videos8') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos9">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos9" name="image" id="img_videos9" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos9' }}" href="{{ read_link(site.name + '_img_videos9') }}">

                        <img id="{{ site.name }}_img_videos9" src="{{ read_image(site.name + '_img_videos9', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos9',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video9' }}"> {{ read_text(site.name +  '_text_video9') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos9' }}" content="{{ read_link(site.name + '_img_videos9') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 pad0 fil">
                <div class="box_img" style="position: relative;">
                    {% if is_admin %}
                    <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                        <label for="img_videos10">
                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_img_videos10" name="image" id="img_videos10" >
                    </div>
                    {% end %}
                    <a id="{{ site.name + '_img_videos10' }}" href="{{ read_link(site.name + '_img_videos10') }}">

                        <img id="{{ site.name }}_img_videos10" src="{{ read_image(site.name + '_img_videos10', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_videos10',500) }}'" class="img-responsive img_article decolor" alt="item">
                        <div class="box" >
                            <div class="text-videos text-center v_1 {{editabletext}}" text-id="{{ site.name + '_text_video10' }}"> {{ read_text(site.name +  '_text_video10') }}
                            </div>
                        </div>
                    </a>

                    <!--editable link-->
                    {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_videos10' }}" content="{{ read_link(site.name + '_img_videos10') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                    {% end %}
                </div>
            </div>
        </div>
    </div>

</section>


<section style="height: 200px;">

</section>



{% include '../home/footer.html' %}    
{% end %}
