{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}


{% block body %}

<section>
      <div class="mobile-li" style="background:url('{{ read_image(site.name + '_banner_list_concep',500) }}'); background-attachment:fixed; height:550px; background-size:cover; margin-top: -49px;  filter: grayscale(0%) brightness(75%);-webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%); -ms-filter: grayscale(0%) brightness(75%);-o-filter: grayscale(0%) brightness(75%); background-position:center;">
        {% if is_admin %}
               <div class="image-upload lapiz bi visible-movil">
                   <label for="img_banner_list_concep">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_banner_list_concep" name="image" id="img_banner_list_concep" >
               </div>
        {% end %}
                <img id="{{ site.name }}_banner_list_concep" src="{{ read_image(site.name + '_banner_list_concep', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_list_concep',500) }}'" class="banner_list hidden" alt="item">
                
           </div>
            <div class="container">
                    <div class="col-md-12">
                        <h1 class="text-left lis-art {{editabletext}}" text-id="{{ site.name + '_list_concep' }}"> {{ read_text(site.name +  '_list_concep') }}</h1>
                    </div>
                </div>
</section>

<section>
        <div class="container">
            <div class="row"> 
                    <div class="box-home-art-etapa">
                        <div align="center">
                             <div class="col-lg-12 col-md-12-cil col-xs-12-wil">
                                
                                    <a href="{{ site_base }}/etapa_concep">
                                    <button type="button" id="testButton1" class="testButton btn btn-contact btn-home-1" onmouseover="changeImageMouseOver('img-concepcion','https://7static.loadingplay.com/static/images/525ad62aba4b02a11328d66636ea4bc3_Concepcion2.png')" onmouseout="changeImageMouseOut('img-concepcion','https://84static.loadingplay.com/static/images/58d00f365e27d8aaf9dc02790d6b0a66_concepcion.png')"> <img id="img-concepcion" class="iconos-menu" src="https://84static.loadingplay.com/static/images/58d00f365e27d8aaf9dc02790d6b0a66_concepcion.png"> Concepción</button>
                                    </a>
                                    <a href="{{ site_base }}/etapa_emba">
                                      <button type="button" id="testButton2" class="testButton btn btn-contact btn-home-1" onmouseover="changeImageMouseOver('img-embarazo','https://7static.loadingplay.com/static/images/43683121a7cb4a8c41b613f786e91929_embarazo2.png')" onmouseout="changeImageMouseOut('img-embarazo','https://7static.loadingplay.com/static/images/22562d0d3d98eec072bd840a77d09aca_embarazo.png')"> Embarazo  <img id="img-embarazo" class="iconos-menu" src="https://7static.loadingplay.com/static/images/22562d0d3d98eec072bd840a77d09aca_embarazo.png"> </button>
                                    </a>
                                    <a href="{{ site_base }}/etapa_gua">
                                   <button type="button" id="testButton3" class="testButton btn btn-contact btn-home-1" onmouseover="changeImageMouseOver('img-guagua','https://7static.loadingplay.com/static/images/4de7b579340d6f0d9ca2b81cf8abeb98_guagua2.png')" onmouseout="changeImageMouseOut('img-guagua','https://84static.loadingplay.com/static/images/28709682d7611fba4a1a1bfdc81379ec_guagua.png')" > Bebé <img id="img-guagua" class="iconos-menu" src="https://84static.loadingplay.com/static/images/28709682d7611fba4a1a1bfdc81379ec_guagua.png"> </button>
                                    </a>
                                    <a href="{{ site_base }}/etapa_creci">
                                    <button type="button" id="testButton4" class="testButton btn btn-contact btn-home-1" onmouseover="changeImageMouseOver('img-crecimiento','https://84static.loadingplay.com/static/images/6f1073b979cac6dac94791a975a8f75e_crecimiento2.png')" onmouseout="changeImageMouseOut('img-crecimiento','https://7static.loadingplay.com/static/images/ae42fb06e91ce00243af1ed80c226cb9_creciemnto.png')"> Crecimiento  <img id="img-crecimiento" class="iconos-menu" src="https://7static.loadingplay.com/static/images/ae42fb06e91ce00243af1ed80c226cb9_creciemnto.png"> </button>
                                    </a>
                            </div>
                        </div> 
                    </div>
              
            </div>
        </div>
</section>


<section>
        <div class="container"> 
           <div class="row">
               <div class="col-md-12">
                   <div class="text-center sub-art {{editabletext}}" text-id="{{ site.name + '_list_concep_2' }}"> {{ read_text(site.name +  '_list_concep_2') }}</div>
               </div>
           </div>
         

        </div>
</section>

<section id="contenedor">
    <div class="container">
        <div class="row">
            {{ getArticleList(tag="concepcion") }}
        </div>
    </div>



</section>

<!--   <div class="container productlist">
            <article>
                <header>
                    <h1 class="h1-art especial" >Contenido Relacionado</h1>
                </header>
            </article>
            <div class="row cont-rel">
                {{ getArticleList(tag="concepcion") }}
            </div>
        </div>

        <div class="carritoproductos clearfix">
            <div class="flecha clearfix">
            </div>
        </div>
    </div>
 -->

{% include '../home/footer.html' %}
{% end %}
