<a href="{{ site_base }}/article/detail/{{ url_escape(article['title']) }}/{{ article["id"] }}" class="section-cases-item">
	<img src="{{ article["thumb_500"] }}" alt="Imagen de la historia" class="u-responsive-img-full">
	<img src="https://84static.loadingplay.com/static/images/14bc5a9fb98ed972cf7ff6704fdaa1eb_triangleprimary.svg" alt="Categoría" class="section-cases-item-icon u-margin-vertical-smallest">
	<p class="paragraph">{{ article["title"] }}</p>
	<p class="paragraph paragraph-light">{{ article["description"] }}</p>
</a>
