html * {
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/

}

html, body {
font-family: 'Fira Sans', sans-serif;
}

a{
    color: gray;
}

a:hover{
    text-decoration: none;
}

a:hover, a:focus {
    color: #2f2c2c;
    text-decoration: none !important;
}

li{
	list-style: none;
}

.guni{
    padding: 0px;
    width: 101%;
    margin-left: -3px;
}

img.editablelink {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1030 !important;
}

div.image-upload {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1030 !important;
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.box-pe{
	width: 100%;
	height: 155px;
	object-fit: cover;
}

.article-ho{
/*	overflow: hidden;*/
    padding: 0px 5px;
    margin-bottom: 11px;
}

.fi{
	margin-top: -18px;
    margin-left: -4px;
    width: 101%;
}

.text-box-home {
    position: absolute;
    bottom: 0px;
    width: 97%;
    color: rgba(0, 0, 0, 0.61);
    font-size: 28px;
    margin-bottom: 57px;
    font-family: 'Oxygen', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-center2{
    text-align: center;
}

.total-modal{
    /* text-align: right; */
    position: relative;
    /* right: 4%; */
    padding-left: 29px !important;
}

.box-med{
	width: 100%;
	height: 300px;
	object-fit: contain;
}

.box-med-2{
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.box-med-3{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.article-ho-2{
	overflow: hidden;
    padding: 0px 5px;
    margin-bottom: 17px;
    margin-top: -100px;
}

.pin {
    float: left !important;
    background: #5F8266 !important;
    font-size: 15px !important;
    padding: 12px 11px !important;
    color: white !important;
    font-weight: 100 !important;
    height: 42px;
    width: 31%;
    cursor: pointer;
}

.align-form-contact {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    /* vertical-align: middle! important; */
    margin-top: 34px;
    padding-right: 0px;
    padding-bottom: 48px;
}

.fondo-contact {
    width: 50%;
    height: auto;
}

.fondo-form {
    width: 100%;
    object-fit: cover !important;
    height: 375px;
    filter: grayscale(0%) brightness(80%);
    -webkit-filter: grayscale(0%) brightness(80%);
    -moz-filter: grayscale(0%) brightness(80%);
    -ms-filter: grayscale(0%) brightness(80%);
    -o-filter: grayscale(0%) brightness(80%);
    margin-top: 0px;
}

.titulo-about{
    position: absolute;
    bottom: 0px;
    width:94%;
    color: white;
    font-size: 29px;
    padding-bottom: 85px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.btn-default.comprar-home {
    color: white;
    background-color: #439A9A;
    border-color: #439A9A;
    position: absolute;
    bottom: 20px;
    width: 50%;
    border-radius: 0px;
    height: 44px;
    left: 28%;
    text-align: center;
}

.btn-default.comprar-home:hover {
    color:#FFBC4B ;
    background-color:white;
    border-color: white;
    position: absolute;
    bottom:20px;
    width: 50%;
    border-radius: 0px;
    height: 44px;
    left: 28%;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom: 1px solid #ccc;
}

.coli {
    margin-top: 50px;
    position: relative;
    right: 30px;
}

.btn-block {
    display: block;
    width: 107%;
    border-radius: 0px;
    float: left;
    position: relative;
    right: 35px;
}

.btn-block:hover {
    display: block;
    width: 107%;
    border-radius: 0px;
    background-color: white;
    color: gray;
    border:1px solid gray; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float: left;
    position: relative;
    right: 35px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: 300;
}

.text-cont {
    margin-top: 40px;
    border-bottom: 1px solid #d87435;
    text-transform: uppercase;
    color: #d87435;
    padding-left: 20px;
    font-size: 16px;
}

.text-black {
    margin-top: 40px;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 30px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
}

.fri{
    border-bottom: 1px solid #ddd;
}

.drim{
    overflow: hidden;
}
/*------------------------------------------Responsive---------------------------------*/

@media (max-width: 991px){
	.article-ho-2 {
    overflow: hidden;
    padding: 0px 5px;
    margin-bottom: 17px;
    margin-top: 0px;
}

.align-form-contact {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 55px;
    width: 100%;
}

.coli {
    margin-top: 50px;
    position: relative;
    right: 14px;
}

.form-group.con {
    margin-bottom: 19px;
    margin-left: -8px;
}

.btn-block {
    display: block;
    width: 100%;
    border-radius: 0px;
    float: left;
    position: relative;
    right: 6px;
}

.btn-block:hover {
    display: block;
    width: 100%;
    border-radius: 0px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float: left;
    position: relative;
    right:0px;
}

}

@media (max-width: 767px){
    body{
     /*   background-color:rgba(213, 214, 217, 0.14);*/
        overflow-x: hidden;
    }

    .fondo-contact {
    width:100%;
    height: auto;
    }

    .guni {
    padding: 0px;
    width: 102%;
    margin-left: -5px;
    }
}

@media (max-width: 414px){
    .box-med {
    width: 101%;
    height: 300px;
    object-fit: contain;
}

}