#footer{
    background-color:#1E1E1E;
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
}

.no-doti{
	color: white;
	margin-top: 100px;
}

.no-dot{
	color: white;
	margin-top: 114px;
}

.ul-1{
	font-style: italic;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-top: 30px;
    left: 9%;
    position: relative;
}

.caja-logo-fo {
    height: 51px;
    width: 250px;
    float: left;
    margin-top: -7px;
    margin-bottom: 21px;
    position: relative;
    left: 0px;

}

.ul-2{
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 30px;
}

.pas-2 {
    margin-bottom: 25px;
    position: relative;
    top: 34px;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
}

.pas-3 {
    margin-bottom: 25px;
    position: relative;
    top: 34px;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
}

.pas-4{
    margin-top: 61px;
    width: 85%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;

}

hr.lini {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.26);
}

.coy {
    text-align: left;
    font-size: 11px;
    color: gray;
    margin-top: 21px;
    bottom: 21px;
    position: relative;
}


.img-redes{
  width: 64%;
}

.nimi {
    padding: 0px;
    float: right;
}

.ye{
	width: 22%;
    float: right;
}

.form--merge input {
    border-radius: 50px 0 0 50px;
}

.form--merge button[type="submit"] {
    border-radius: 0 50px 50px 0;
    position: relative;
    margin: 0;
}

input[type], textarea, select {
    -webkit-appearance: none;
    background: #ffffff;
    padding: 0.8125em;
    border-radius: 50px;
    border: none;
    left: 9%;
    height: 54px;
}

button.enviarr {
    height: 56px;
    /* font-size: 0.625em !important; */
    letter-spacing: 1px;
    color: #fff;
    background: #425cbb;
    border-color: #425cbb;
    bottom: 0px;
    width: 65px;
    left: 3%;

}


img.editablelink.footer {
    position: absolute;
    left: 0px;
    bottom: 20px;
    z-index: 100000;
}


/*-------------------------------------------RESPONSIVE-----------------------------*/

@media (max-width: 767px){
    input[type], textarea, select {
    -webkit-appearance: none;
    background: #ffffff;
    padding: 0.8125em;
    border-radius: 50px;
    border: none;
    left: 5%;
    height: 54px;
}

.ye {
    width: 22%;
    float: left;
}

.img-redes {
    width: 20%;
    margin-bottom: 10px;
}

.ul-1 {
    font-style: italic;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-top: 30px;
    left: -2%;
    position: relative;
}


}