.original-de {
    position: relative;
    left: 3%;
    margin-top: 14px;
    margin-bottom: -14px;
    text-align: left;
    float: left;
    width: 100%;
    font-size: 17px;
}

.shop-item-1 {
    overflow: hidden;
    background: #EFEFEF;
    padding: 1.625em;
    position: relative;
    z-index: 1;
    height: 430px;
}

.masonry__filters {
    padding: 1.625em 0;
}

.product-home {
    width: 100%;
    height: 308px;
    object-fit: contain;
}

.shop-item-1 .shop-item__title h5 {
    margin-bottom: 10px;
    position: absolute;
    top: 380px;
    color: #343434;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

.shop-item-1:hover .shop-item__price.hover--reveal {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.type--strikethrough {
    text-decoration: line-through;
    opacity: .5;
}

.shop-item-1 .shop-item__price.hover--reveal {
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    transform: translate3d(0, -50px, 0);
    -webkit-transform: translate3d(0, -50px, 0);
    opacity: 0;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 15px;
}

.shop-item-1 .shop-item__price span.type--strikethrough {
    display: inline-block;
    margin-right: 1.625em;
}

.masonry-shop{
    margin-bottom: 30px;
}


.pro-ofer{
    position: relative;
    top: 96px;
    font-size: 31px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

.informa{
    position: relative;
    top: 108px;
    font-size: 16px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.precio-lis{
    position: relative;
    top: 129px;
    font-size: 24px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: gray;
}

.sun{
    margin-top: -20px;
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.fa-angle-right {
    position: relative;
    top: 119px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 57px !important;
    right: 26px;

}

.fa-angle-left {
    position: relative;
    top: 119px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 57px !important;
    right: 55px;
}



.fer{
    margin-top: 110px;
}

.name-detail {
    font-size: 24px;
    text-align: left;
    position: relative;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    left: 3%;
    margin-top: -2px;
}

.btn-success.car {
    color: #fff;
    background-color: #305CBF;
    border-color: #305CBF;
    float: left;
    width: 56%;
    height: 51px;
    border-radius: 6px;
    left: 3%;
    position: relative;
    margin-top: 130px;
}

.pin {
    float: left !important;
    background: gray !important;
    font-size: 15px !important;
    padding: 12px 9px !important;
    color: white !important;
    font-weight: 100 !important;
    height: 41px;
    width: 31%;
    cursor: pointer;
}

.item__addtocart button {
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    background: #425cbb;
    color: white;
    height: 54px;  
    right: 4px;
    position: relative;

}

.btn.btn--primary {
    border-color: #425cbb;
}

.item__addtocart input.prod[type="text"] {
    border-radius: 4px 4px 0 0;
    min-width: 100%;
    text-align: center;
    left: -1%;
    height: 54px;
    position: relative;
}

.item__addtocart {
    max-width: 60%;
    position: relative;
    float: left;
    left: 4%;
    margin-top: 60px;
}

.prin{
    margin-top: 27px;
    right: 23px;
}

.texto-de {
    text-align: left;
    float: left;
    width: 100%;
    margin-top: 5px;
    left: 5%;
    position: relative;
    margin-bottom: 10px;
}

.texto-de-in {
    text-align: left;
    float: left;
    width: 100%;
    margin-top: 39px;
    left: 24px;
    position: relative;
    margin-bottom: 0px;
}

.descr_prod_detail {
    width: 100%;
    position: relative;
    left: 5%;
    text-align: left;
    font-size: 14px;
    color: gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.texto-bu{
    text-align: left;
    float: left;
    width: 100%;
    margin-top: 46px;
    left: 4%;
    position: relative;
    margin-bottom: 20px;
}


.redes-detalle {
    width: 30px;
    float: left;
    padding-left: 6px;
}




/*-------------------------------------------Responsive------------------------------*/
@media (max-width: 767px){
    .original-de {
    position: relative;
    left: 16px;
    margin-top: 22px;
    margin-bottom: -29px;
    float: left;
    text-align: left;
}

.little-2 {
    width: 100%;
    height: 400px !important;
    object-fit: contain;
}

.name-detail {
    font-size: 24px;
    text-align: left;
    position: relative;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    left: 3%;
    margin-top: 32px;
}

.carousel {
    position: relative;
    margin-top: -74px;
}

.fa-angle-left {
    position: relative;
    top: 119px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 57px !important;
    right: 0px;
}


}