

html * {
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/

}

html, body {
/*font-family: 'Open Sans', sans-serif;*/
font-family: 'Oxygen', sans-serif;
}

a{
    color: gray;
}

a:hover{
    text-decoration: none;
}

a:hover, a:focus {
    color: #2f2c2c;
    text-decoration: none !important;
}

li{
	list-style: none;
}

