.navbar-default {
    width: 100%;
    left: 0%;
    background-color: white;
    border-color: transparent;
    z-index: 1030;
    top: 0px;
    position: relative;
    height: 19px;
    min-height: 40px;
    border-radius: 0px;
}

.cuadro-blanco{
    width: 100%;
    height: 75px;
    background-color:white;
    position: relative;
    z-index: 1000;
    top: -57px;
    left: -6px;
}

.logo-desk {
    float: left;
    padding: 0px;
    bottom: 0px;
    width: 240px;
    /* height: 62px; */
    margin-left: 0.5%;
    object-fit: cover;
}

.caja-log {
    width: 300px;
    float: left;
    margin-top: 1px;
    margin-bottom: 21px;
    position: absolute;
    z-index: 1030;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -126px;
   margin-top: -38px;
}

.navbar-nav.navbar-right.dos:last-child {
    margin-right: 42px;
}



.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: gray;
background-color: transparent;
text-decoration: underline;
outline:none !important;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;

}

.img-bolsa{
    width: 21%;
    position: relative;
    left: 8px;
    top: 12px;
    float: left;
    cursor: pointer;
}


header.fixtop {
    background: white;
    position: fixed;
    z-index: 1030;
    top: 0%;
    width: 100%;
}
#lapimport .affix {
    background: transparent !important;
}

.affix {
    top: -3px !important;
    width: 100%;
    z-index: 1030;
}

/*---------------------------------------------Responsive---------------------------------*/



