
.patagonia-menu {
    z-index: 1000;
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 1px;
}

.container_header{
    width: 100%;
}

.logo {
    width: 190px;
    background: white;
    border-radius: 13px;
    /*position: relative;
    display: block;*/
    /* margin: 0 auto; */
    /* float: right; */
     padding: 30px;
     bottom: 20px;
    position: relative; 
}

.nav>li.logo_wrapper>a:hover:focus {
    text-decoration: none;
    background-color: transparent;
}

/*.nav>li.logo_wrapper>a:hover:focus {
    text-decoration: none;
    background-color: transparent;
}
*/

.logo_wrapper{
    height: 0px;
    padding: 0px 5px;
}

.navbar-nav li a {
    /*font-size: 16px;*/
    color: #3f4271;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0px;
    padding: 7px;
    margin-top: 8px;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,.075);
}
.box-menu{
    margin: auto;
/*    max-width: 80%;*/
}

.redes-menu{
    width: 43px;
    height: 32px;
    object-fit: scale-down;
    margin-top: -3px;

}

/*
----------------------------Responsive-------------
*/


/*@media (max-width: 1164px) {
.logo {
    max-width: 30%;
    background: inherit; 
    margin-bottom: 164px;
    float: left;
}
.patagonia-menu {

    background:rgba(255, 255, 255, 0);
}
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
      position: relative;
      z-index: 99999;
  }
  .toggle{
        background-color: rgba(0, 0, 0, 0.24);
        border: 1px solid rgba(0, 0, 0, 0.13);
    }
    .box-menu{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65)
    }
    .navbar-nav li a {
        color: white;
   }

    .icon-bar {
    background-color: black !important;
   }*/

@media screen and (max-width: 1264px){
    .navbar-nav li a {
      padding: 5px;
  }
}

@media screen and (max-width: 1207px){
    .navbar-nav li a {
      padding: 5px;
  }
}
@media screen and (max-width: 1130px){

/*    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }*/

/*    .toggle{
        background-color: rgba(0, 0, 0, 0.24);
        border: 1px solid rgba(0, 0, 0, 0.13);
    }

    .box-menu{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.65)
    }*/
}

/*@media screen and (max-width: 767px){
.toggle{
    background-color: rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.13);
    }

.box-menu{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65)
    }
}
*/
}
@media screen and (max-width: 767px){
/*.logo {
    max-width:130px;
    background: inherit;
    border-radius:inherit;
    float: inherit;
    padding: 10px;
    bottom: 50px;
    }*/
    .logo {
    max-width: 160px;
    background: inherit;
    border-radius: inherit;
    float: inherit;
    padding: 10px;
    /* bottom: 50px; */
    margin-top: -192px;
    width: 63%;
}


}


@media screen and (max-width: 700px){
  .toggle {
    background-color: rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.13);
    top: 9px;
    margin-bottom: 18px;
}

 .icon-bar {
    background-color: black !important;
}
.redes-menu{
    bottom: 40px!important;
    position: relative!important;
  }
}
