/*=======MARGIN CLASSES========*/
.space5{
    margin-top: 5px !important;
}
.space10{
    margin-top: 10px !important;
}
.space15{
    margin-top: 15px;
}
.space17{
    margin-top: 17px;
}
.space20{
    margin-top: 20px;
}
.space25{
    margin-top: 25px;
}
.space30{
    margin-top: 30px;
}
.space33{
    margin-top: 33px;
}
.space40{
    margin-top: 40px;
}
.space45{
    margin-top: 45px;
}
.space50{
    margin-top: 50px;
}
.space60{
    margin-top: 60px;
}
.space70{
    margin-top: 70px;
}
.space75{
    margin-top: 75px;
}
.space80{
    margin-top: 80px;
}
.space90{
    margin-top: 90px;
}
.space100{
    margin-top: 100px;
}
.space128{
    margin-top: 128px;
}
.space130{
    margin-top: 130px;
}
.space135{
    margin-top: 135px;
}
.space148{
    margin-top: 148px;
}
.space150{
    margin-top: 150px;
}

.space160{
    margin-top: 160px;
}
.space170{
    margin-top: 170px;
}
.space180{
    margin-top: 180px;
}
.space200{
    margin-top: 200px;
}
.space240{
    margin-top: 240px;
}
.space277{
    margin-top: 277px;
}
.space372{
    margin-top: 372px;
}
.space390{
    margin-top: 390px;
}
.mbtm7{
    margin-bottom: 7px;
}
.mbtm10{
    margin-bottom: 10px;
}
.mbtm20{
    margin-bottom: 20px;
}
.mbtm30{
    margin-bottom: 30px;
}
.mbtm40{
    margin-bottom: 40px;
}
.mbtm50{
    margin-bottom: 50px;
}
.mbtm60{
    margin-bottom: 60px;
}
.mbtm70{
    margin-bottom: 70px;
}
.mbtm80{
    margin-bottom: 80px;
}
.mbtm90{
    margin-bottom: 90px;
}
.mbtm100{
    margin-bottom: 100px;
}

.mbtm150{
    margin-bottom: 150px;
}
.m0{
    margin: 0;
}
.mbtm0{
    margin-bottom: 0px;
}
.mleft10{
    margin-left:10px;
}
.mright10{
    margin-right:10px;
}
.mright30{
    margin-right:30px;
}
.mauto{
    margin: 0px auto !important;
}
.mautomargin{
    margin: 40px auto !important;
}
.marginR{
    margin-right: 40px;
    text-align: center;
    margin-left: 35px;
}
.marginL{
    margin-left: 50px;
}
.margin-right{
    margin-right: 307px;
}
.marginL14{
    margin-left: 14%;
}
.mtop100{
    margin-top: -100px;
}
.border-btm{
    border-bottom: 1px solid #fff;
}

.height{
    height: 100px;
}

.height478{
    height: 478px;
}
/*========PADDING CLASSES========*/
.pad0{
    padding: 0px !important;
}
.pad10{
    padding: 10px !important;
}
.pad20{
    padding: 20px;
}
.pad30{
    padding: 30px;
}
.pad40{
    padding: 40px;
}
.pad50{
    padding: 50px;
}
.pad60{
    padding: 60px;
}
.pad70{
    padding: 70px;
}
.pad80{
    padding: 80px;
}
.pad90{
    padding: 90px;
}
.pad100{
    padding: 100px;
}
.padleft0{
    padding-left: 0px !important;
}
.padright0{
    padding-right: 0px !important;
}
.padtop0{
    padding-top: 0px !important;        
}
.padbottom0{
    padding-bottom: 0px !important;     
}
.padbottom100{
    padding-bottom: 100px !important;       
}
.padbottom60{
    padding-bottom: 60px !important;        
}

.pad0.cero {
    padding: 0px !important;
    /* left: 232px; */
    position: relative;
    width: 43%;
    float: right;
}

/*****SATURADA*****/
/*img.desaturada {
    filter: grayscale(100%) brightness(50%);
    -webkit-filter: grayscale(30%) brightness(100%);
    -moz-filter: grayscale(100%) brightness(50%);
    -ms-filter: grayscale(100%) brightness(50%);
    -o-filter: grayscale(100%) brightness(50%);
}*/
// **********texto sin moverse**************

.position-img{
    width: 100%;
    position: relative;
}


/*****Detalle Articulos*****/
.pad_article{
    padding-left: 200px;
    padding-right: 200px;
}

.img_banner_art {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 434px;
}

.text_artdetail{
    position: absolute;
    /* top: 0; */
    bottom: 20px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: 0 auto;
    color: white;
    font-weight: 700;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-art1{
    position: relative;
    top: 50%;
    /* left: 50%; */
    // -ms-transform: translate(-50%, -50%);
    /* transform: translate(-50%, -50%); */
    color:rgba(48, 51, 51, 0.81);
    font-size: 1.9rem;
    margin-top: 80px;
    bottom: 10px;
    /* margin-bottom: 20px; */
    font-weight: 100;
    padding-left: 200px;
    padding-right: 200px;
}

.text-art2{
     /*position: relative;*/
    left: 50%;
    /*top: 50%;*/
   /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    color:rgba(48, 51, 51, 0.81);
    font-size: 1.5rem;
    text-align: justify !important;
    line-height: 32px;
    /*margin-top: 150px;*/
    font-weight: 100;
    padding-left: 200px;
    padding-right: 200px;
}

.text-relac{
    margin-top: 70px;
    font-weight: 100;
    color: rgba(48, 51, 51, 0.71);
    font-size: 2.2rem;
}

/*****RECETAS*****/
.hr{
    height: 425px;
}

.tex-recipe1{
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4C4C;
    margin-left: 5px;
}

.img_recetas{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:0px;
    height: 434px;
}

.title-recipe{
    text-align: justify;
    /* font-family: 'Open Sans', sans-serif; */
    color: white;
    position: absolute;
    /* top: 0px; */
    bottom: 170px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container.kk{
     margin-top: -137px;
}

.tex-vi{
    position: relative;
    height: 70px;
    /* padding: 4px; */
    font-size: 1.2rem;
    font-weight: 700;
    color: #4A4C4C;
    top: 0px;
    left: 9px;
    margin-bottom: 6px;
}

.box_img{
     width: 100%;
    height: 365px;
  /*  padding-left:3px;*/
  padding-left: 9px;
    margin-top: 20px;
}

.img_recipe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-recipe{
    font-size: 1.5rem;
    text-align: left;
    /* position: relative; */
    padding: 0;
    color: #505252;
    font-weight: 100;
    
}

.text-recipe{
    text-align: center;
    font-size: 2.2rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color:rgba(48, 51, 51, 0.81);
    position: relative;
    /*top: 0;*/
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 82%;
    height: 0%;
    margin: auto;  
    margin-bottom: 90px;
    font-weight: 100;

}


/*****LISTADO DE ARTICULOS****/
.hla {
    height: 610px;
}

.banner_list{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    height: 595px;
}

.listart1{
    text-align: center;
    font-size: 2.0rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color: rgba(48, 51, 51, 0.81);
    /* margin-top: 90px; */
    /* margin-bottom: 90px; */
    position: absolute;
    top: 10;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 82%;
    height: 0%;
    margin: auto;
    line-height: 46px;
    font-weight: 100;
}

.img_article{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_lis_art{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:0px;
    height: 410px;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

.article{
    position: relative;
}

.article_title{
    position: relative;
    top: 50%;
    /* left: 50%; */
    /*-ms-transform: translate(-50%, -50%);*/
    /* transform: translate(-50%, -50%); */
    color: rgba(48, 51, 51, 0.81);
    font-size: 3.0rem;
    text-transform: capitalize;
    font-weight: 100;
}

.article_text{
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    max-width: 400px;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    text-align: left;
    font-weight: 100;

}


.article_title2 {
    position: relative;
    top : 50%;
    /*left: 50%;*/
    /*-ms-transform: translate(-50%, -50%);
    transform    : translate(-50%, -50%);*/
    font-size: 3.0rem!important;
    color:rgba(48, 51, 51, 0.81);
    text-align: left;
    text-transform: capitalize;
    font-weight: 100;
}

.article_text2 {
    position: relative;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    max-width: 400px;
    color:rgba(48, 51, 51, 0.81);
    font-size: 1.5rem;
    height: 100px;
    text-align: left;
    font-weight: 100;
}

.text_art3{
    text-align: center;
    font-size: 2.0rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color: #6F7070;
    margin-top: 90px;
    margin-bottom: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 54%;
    height: 0%;
    margin: auto;
    font-weight: 100;

}
.text_art4{
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 80%;
    height: 0%;
    margin: auto;
    color: #6F7070;
    font-size: 2.3rem;
    font-weight: 100;
}

.h2b{
    height: 725px;
}

/*****GALERIA*****/
.h_img_galery{
    height: 435px;
    width: 100%;
    position: relative;
}
.especial {
    padding: 0 !important;
}

.list-unstyled{
    padding-left: 0;
    list-style: none;
}

.article-img{
    max-width: 100%;
    padding: 8px;
    display: block;
    padding-left: 8px;
    height: 368px;
}

.height-product{
    position: relative;
    height: 370px;
    padding: 8px;
    margin: 0;
}

.img-gallery{
    width: 100%;
    object-fit: cover;
    /*position: absolute;*/
    top: 0px;
    height: 365px;
}

.productlist .col-sm-12, .productlist .col-sm-8, .productlist .col-sm-6, .productlist .col-sm-4, .productlist .col-sm-2 {
    position: relative;
    min-height: 1px;
    padding: 2px;
    top: 0px;
}

.productlist, .product {
    padding-top: 0;
    /* padding-bottom: 50px; */
}
/*.container-fluid-art {
    margin-right: auto;
    margin-left: auto;
    max-width: 980px;
}*/


/****************************/
.text_galer_detail{
   position: absolute;
    /* top: 33%; */
    bottom: 60px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: auto!important;
    color: white;
    font-weight: 700;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hlg{
    /*height: 2300px;
    display: block;*/
}
.hg3{
    height: 160px;
}
.img_galeria{
    width: 100%;
    object-fit: cover;
   /* position: absolute;*/
    top: 0px;
    height: 434px;
}

.container_galeria{
    width: 100%;
    height: 370px;
}

.row_center {
    margin-left:0px;
}
.text_title_galer{
    position: relative;
    top: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.9rem;
    font-weight: 100;
    text-align: justify !important;
    line-height: 31px;
    margin-top: 84px;
    bottom: 10px;
}

.p-art{
    position: relative;
    top: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.5rem;
    font-weight: 100;
     text-align: justify !important; 
    line-height: 38px;
    margin-top: 5px;
}

.p-art p{
    line-height: normal !important;
}

.text_galer1{
    text-align: center;
    font-size: 2.3rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color:rgba(48, 51, 51, 0.81);
    /* margin-top: 90px; */
    /* margin-bottom: 90px; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 0%;
    margin: auto;
    line-height: 42px;
    font-weight: 100;
}

.text_galer2{
    text-align: center;
    font-size: 2.1rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color:rgba(48, 51, 51, 0.81);
    position: absolute;
    top: 160px;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 82%;
    height: 0%;
    margin: auto;
    font-weight: 100;
}

.text_galer3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 69%;
    height: 0%;
    margin: auto;
    color:#676969;;
    font-size: 2.1rem;
    font-weight: 100;
}

.pd{
    padding-right: 3px;
    padding-left: 3px;
}

.mb{
    margin-bottom: 3px;
    padding-right: 250px;
    padding-left: 250px;
}

.mb-2{
    margin-bottom: 3px;
    padding-right: 226px;
    padding-left: 235px;
}


/******CONTACT*****/
.img_contact {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 434px;
}
.fondo-contact {
    width: 100%;
    height: auto;
}

.align-form-contact {
    padding-left: 20%;
    padding-right: 20%;
}

/******SUCCESS******/
.img_success {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 434px;
}

.text_success{
    text-align: center;
    font-size: 2.5rem;
    color: #777979;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 82%;
    height: 0%;
    margin: auto;
    font-weight: 100;
    margin-top:100px;
}


.h1-art_a{
    position: relative;
    top: 23px;
}

/*VIDEOS*/
.h-videos1{
    height: 550px;
}

.h-videos2{
    height: 550px;
}

.h-videos3{
    height: 550px;
}

.img_videos{
     width: 100%;
    object-fit: cover;
    top:0px;
    height:434px!important;
}

.text-videos{
    position: absolute;
    /* top: 10%; */
    bottom: 100px;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 0%; */
    margin: auto;
    color: white;
    font-weight: 900;
    font-size:3.0rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none!important;
    line-height: 40px;
     padding-left: 30px;
    padding-right: 30px;
}

.v_1{
    // top:0px!important;
}

/*LISTADO DE DISTRIBUIDORES*/
.h_list_distrib{
    height: 550px;
}

.h_table{
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
}
.title-distrib{
    color: white;
    position: absolute;
    // top: 50%;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 90%;
    // height: 0%;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
}

.text_distrib2{
    text-align: center;
    font-size: 2.0rem;
    color: rgba(48, 51, 51, 0.81);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0%;
    margin: auto;
    font-weight: 100;
}

.pad_table{
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 50px;
}

.img_distribuidores{
    width: 100%;
    object-fit: cover;
    top:0px;
    height: 434px;
}

.box-distr{
    width: 50%;
    top: 0;
    position: relative;
    height: auto;
    display: -webkit-box;
    right: 0;
    text-align: right;
}

.img_distrb{
    width: 120px;
    height: 80px;
    float: left;
    right: 0;
    object-fit: scale-down;
}
/**********PRENSA***********/
.h_prensa1{
    height: 540px;
}

.h_prensa2{
    height: 540px;
}

.h_third_white{
    height:90px
}

.title-prensa{
    text-align: justify;
    /* top: 0px; */
    bottom: 150px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*WORLD*/
.h_world{
    height: 550px;
}

.title-world{
        text-align: justify;
    /* font-family: 'Open Sans', sans-serif; */
    color: white;
    position: absolute;
    /* top: 0px; */
    bottom: 150px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*DISTRIBUIDORA*/
.tex-dist1{
    border-bottom: 1px solid #ddd;
    padding: 0!important;
     top: 15px;
    position: relative;
        text-align: left!important;
    left: 5px!important;
}

/********CHINA*******/
.h_china{
    height: 550px;
}

.h_videos_document{
    height: 550px;
    
}

.fil{
    overflow: hidden;
}
/*-------------------------------------Responsive----------*/

@media (max-width: 1277px){
    .pad0.cero {
    padding: 0px !important;
    position: relative;
    }

}

@media (max-width: 1266px){
    .pad0.cero {
      padding: 0px !important;
    position: relative;
    }

}

@media (max-width: 1242px){
    .pad0.cero {
    padding: 0px !important;
    position: relative;
    }

}


@media (max-width: 1221px){
    .pad0.cero {
    padding: 0px !important;
    position: relative;
    width: 41%;
    }

.one{
    width: 43%;
    }
}


@media (max-width: 1211px){
    .pad0.cero {
    padding: 0px !important;
    position: relative;
    }

}


@media (max-width: 1199px){
    .img_banner {
    margin-top: -155px;
    }

    .img_banner_art {
       margin-top: -155px;
    }

    .img_recetas {
        margin-top: -45px;

    }

    .img_galeria {
        margin-top: -155px;
    }

    .text-art1 {
        margin-top: -78px;
    }

    .container.kk {
        margin-top: -54px;
    }

    .text_galer_detail {
    bottom: 230px;
    }
    .redes-menu{
        bottom: 40px!important;
        position: relative!important;
      }
    .text_artdetail {
    bottom: 200px;
    }
}
@media (max-width: 1177px){
    .pad0.cero {
    padding: 0px !important;
    left: 20px;
    position: relative;
    width: 40%;
    }

}

@media (max-width: 1090px){
    .text-art2 {
    padding-left: 129px;
    padding-right: 129px;
}

.text-art1 {
    padding-left: 162px;
    padding-right: 162px;
    }

}


@media (max-width: 991px){
    .text-art1 {
    padding-left: 130px;
    padding-right: 97px;
    }
}
@media screen and (max-width: 768px){
    .text_galer_detail {
        margin-top: 280px;
    }
}
@media screen and (max-width: 767px){

    /*****Detalle Articulos*****/

    .text-art1 {
        font-size: 24px;
        padding-left: inherit;
        padding-right: inherit;
        }

    .text-art2{
        font-size: 1.1rem;
        margin-top: 30px;
        line-height: 22px;
        padding-left:inherit;
        padding-right: inherit;
        }

    .pd {
        padding-right: 0px;
        padding-left: 0px;
        }

    .text_art3{
        position:inherit;
        width: inherit;
        }

    /****LISTADO DE RECETAS*****/

    .title-recipe {
        font-size: 2.0rem;
        position: absolute;
        max-width: inherit;
        /*bottom: 140px;*/
        // top: 163px;
        margin: 30% auto;
        }

    .text-recipe {
        font-size: 2.0rem;
        }


    /*****LISTADO DE ARTICULOS*****/
    .img_lis_art {
        position: relative;
        }

    .article_text2{
        left: 50%;
        }
        
    .text_art4 {
        position: inherit;
        font-size: 1.8rem;
        }

    .article_title{
        text-align: left;
        font-size: 2.9rem;
        top: 20px;
        text-transform: capitalize;
        }

    .article_title2 {
        font-size: 2.9rem;
        top: 20px;
        text-transform: capitalize;
        }

    .h2b{
        height: 755px;
        }

    .hm{
        height: 256px!important;
        }
        
    .listart1 {
        font-size: 1.5rem;
        line-height: 30px;
        position: inherit;
        }


    /*****GALERIA****/
    .h_img_galery{
    height: 226px;
    }
    .mb {
    margin-bottom: 3px;
    padding-right: 70px;
    padding-left: 70px;
    }

    .hlg{
        display: block;
        height: initial;
        }

    .hg3{
        height: 256px;
        }

    .text-gal, .text-gal span, .text-gal p{
        font-size: 2.9rem;
        line-height: 44px;
            margin-top: 60px;
    }

    .text_galer1 {
           position: inherit;
        font-size: 1.2rem;
            margin-top: 20px;
        }

    .text_galer2 {
        font-size: 1.8rem;
        position: inherit; 
        top: 70px;
        }

    .text_galer3 {
        font-size: 1.6rem; 
        position: inherit;
        }

    .text_galer_detail {
       margin: 30% auto;
       font-size: 35px;
       /* margin-top: 220px; */
       top: 0px;
        }

/******CONTACT*****/
.fondo-contact {
    width: 100%;
    height: auto;
    }

.align-form-contact {
    /*padding-right: inherit;
    padding-bottom:inherit;*/
    }


    .pad0.cero {
    padding: 0px !important;
    left: 235px;
    position: relative;
    width: 41%;
    }
/*DISTRIBUIDORA*/
.title-distrib {
    top: 30%;
    }

// .h_list_distrib{
//     height: auto;
//     }

/*******WORLD*******/
.h_world{
    height:auto;
}

.title-world {
    bottom: 200px;
    }

.tex-vi {
    left: inherit;
    padding-left: 5px;
    }

.title-prensa {
    width: 100%;
    font-size: 2.5rem;
    }

.h_third_white{
    height:0px;
    }

.h_prensa2 {
     height:auto; 
    }
/*********Videos********/
.text-videos {
    font-size: 2.0rem;
    }
.h_china {
     height:auto; 
}
.box_img {
     padding-left:inherit; 
    }
}

@media screen and (max-width: 700px){
    .pad0.cero {
    padding: 0px !important;
    left: 124px;
    position: relative;
    width: 50%;
}

.text_artdetail {
        position: absolute;
    /* bottom: 50px; */
    font-size: 35px;
    /* top: 90px; */
    /* margin: 30% auto; */
}

.container.kk {
    margin-top: -45px;
}


.box_img {
    padding-left: 0px;
}

.mb-2 {
    margin-bottom: 3px;
    padding-right: 54px;
    padding-left: 55px;
    }

/*LISTADO DE DISTRIBUIDORES*/
.pad_table{
    padding-left: inherit;
    padding-right:inherit;
    }

/*GALERIA*/
/********CHINA*******/
.h_china{
    height:auto;
    }

.h_videos_document{
    height:auto;
    }
}
