{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}
{% block scripts %}
{% if is_admin %}
<script type="text/javascript" src="{{ site_base }}/static/js/article/detail.js"></script>
{% end %}
{% end %}
{% block header %}
{% include '../home/header.html' %}
{% end %}



{% block javascript %}

{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<section class="hla">
    <div class="">
    {% if is_admin %}
        <div class="image-upload lapiz bi visible-movil">
            <label for="img_banner_list_art">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_list_art" name="image" id="img_banner_list_art" >
        </div>
        {% end %}
        <img id="{{ site.name }}_banner_list_art" src="{{ read_image(site.name + '_banner_list_art', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_list_art',500) }}'" class="banner_list desaturada" alt="item">
    </div>
</section>

<section style="height:290px;">
        <div class="container"> 
           <div class="col-md-12 col-sm-12 box">
                <h1 class="listart1 text-center {{editabletext}}" text-id="{{ site.name + '_text_listart1' }}"> {{ read_text(site.name +  '_text_listart1') }}
                </h1>
            </div>

        </div>
</section>



<section>
    <div class="container">
        <div class="row">
            {{ getArticleList(html="content/article.html", tag="article_1") }}
            {{ getArticleList(html="content/article2.html", tag="article_2") }}
            {{ getArticleList(html="content/article3.html", tag="article_3") }}
            {{ getArticleList(html="content/article4.html", tag="article_4") }}
        </div>
    </div>

</section>

<section style="height:128px;">
    <div class="col-md-12 col-sm-12 box">
        <h1 class="text_art3 text-center {{editabletext}}" text-id="{{ site.name + '_list-art-1' }}"> {{ read_text(site.name +  '_list-art-1') }}
        </h1>
    </div>
</section>

<section class="h2b">
    <div class="" style="position: relative;">
        {% if is_admin %}
        <div class="image-upload visible-movil">
            <label for="img_list_art2">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_img_list_art2" name="image" id="img_list_art2" >
        </div>
        {% end %}
        <div style="width: 100%">
            <img class="img_banner2 img-responsive decolor" id="{{ site.name }}_img_list_art2" src="{{ read_image(site.name + '_img_list_art2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_list_art2',500) }}'" alt="item" style=" ">

            <div class="parent4">    
                <h1 class="col-lg-12 col-md-12 col-xs-12 text-center text-sb1 {{editabletext}}" text-id="{{ site.name + '_list_art3' }}"> {{ read_text(site.name +  '_list_art3') }}
                </h1>
                <h3 class="col-lg-12 col-md-12 col-xs-12 text-center text-sb2 {{editabletext}}" text-id="{{ site.name + '_list_art4' }}"> {{ read_text(site.name +  '_list_art4') }}
                </h3>
            </div>
        </div>
</section>

<section class="hm" style="height: 140px;">
    <div class="col-md-12 col-sm-12 box">
        <h1 class=" text_art4 text-center {{editabletext}}" text-id="{{ site.name + '_list_art5' }}"> {{ read_text(site.name +  '_list_art5') }}
        </h1>
    </div>
</section>
{% include '../home/footer.html' %}
{% end %}
