{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}



{% block javascript %}
<script type="text/javascript">
    $(document).ready(function()
    {
        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(13,13,13);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'products_per_page' : 9,
            // 'maxProducts' : 3,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
             'user' : '{% try %}{{ user["email"] }}{% except %}{% end %}'
        };

        $('.product-list').ecommerce( config);
      });
</script>

{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<section style="height: 510px;position: relative;width: 100%;">
<div>
        {% if is_admin %}
        <div class="image-upload lapiz visible-movil">
            <label for="img_world">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_img_world" name="image" id="img_world" >
        </div>
        {% end %}
        <img id="{{ site.name }}_img_world" src="{{ read_image(site.name + '_img_world', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_world',500) }}'" class="img_recetas decolor" alt="item">
        <div class="box" >
            <h1 class="title-world text-center {{editabletext}}" text-id="{{ site.name + '_text_world' }}"> {{ read_text(site.name +  '_text_world') }}
            </h1>
        </div>
    </div> 
</section>

<section style="height: 100px;">
    
</section>

<!-- *****img videos con link*** -->

<section class="h_world">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_world2">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_img_world2" name="image" id="img_world2" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_img_world2' }}" href="{{ read_link(site.name + '_img_world2') }}" >
                        <img id="{{ site.name }}_img_world2" src="{{ read_image(site.name + '_img_world2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_world2',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_img_world2' }}" content="{{ read_link(site.name + '_img_world2') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_world2' }}"> {{ read_text(site.name +  '_text_world2') }}</div>
                   
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_world3">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_img_world3" name="image" id="img_world3" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_img_world3' }}" href="{{ read_link(site.name + '_img_world3') }}" >
                        <img id="{{ site.name }}_img_world3" src="{{ read_image(site.name + '_img_world3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_world3',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_img_world3' }}" content="{{ read_link(site.name + '_img_world3') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_world3' }}"> {{ read_text(site.name +  '_text_world3') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>

<section class="h_world">
    <div class="container kk">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_world4">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_img_world4" name="image" id="img_world4" >
                        </div>
                        {% end %}
                         <a id="{{ site.name + '_img_world4' }}" href="{{ read_link(site.name + '_img_world4') }}" >
                        <img id="{{ site.name }}_img_world4" src="{{ read_image(site.name + '_img_world4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_world4',500) }}'" class="img-responsive img_article" alt="item">
                        </a>
  
                       <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_img_world4' }}" content="{{ read_link(site.name + '_img_world4') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;">
                       {% end %}
                    </div>
                   
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_world4' }}"> {{ read_text(site.name +  '_text_world4') }}</div>
                   
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12 pad0">
                <div>
                    <div class="box_img">
                        {% if is_admin %}
                        <div class="image-upload lapiz visible-movil" style="z-index: 2000!important;">
                            <label for="img_world5">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_img_world5" name="image" id="img_world5" >
                        </div>
                        {% end %}
                    <a id="{{ site.name + '_img_world5' }}" href="{{ read_link(site.name + '_img_world5') }}" >
                        <img id="{{ site.name }}_img_world5" src="{{ read_image(site.name + '_img_world5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_world5',500) }}'" class="img-responsive img_article" alt="item">
                    </a>

                        <!--editable link-->
                       {% if is_admin %}
                       <img class="change-image editablelink" link-id="{{ site.name + '_img_world5' }}" content="{{ read_link(site.name + '_img_world5') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px;z-index: 2000!important;">
                       {% end %}
                    </div>
        
                       <div class="tex-vi {{editabletext}}" text-id="{{ site.name + '_text_world5' }}"> {{ read_text(site.name +  '_text_world5') }}</div>
                
                </div>
            </div>
        </div>
    </div>

</section>

<section style="height:90px;">
</section>



{% include '../home/footer.html' %}
{% end %}
