<script type="text/template" id="product_template" class="container-fluid clearfix pad0 mbtm50">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 h_detail_planes">
        <div class="product product-thumb">
            <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                <div class="container-second-planes">
                    <img class="img-responsive img_planes_group desaturada " src="{{! images[0][1] }}" onload="this.src='{{! images[0][3] }}'" title="" alt="">
                    <h1 class="text-center text_planes3 ellipsis multiline" >{{! name }}</h1>
                </div>
            </a>
        </div>
    </div>
</script>

