<script type="text/template" id="product_template">
    
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 h_detail_prod visible-lg visible-md visible-sm hidden-xs">
        <div class="product product-thumb cuadro_product">
            <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                <div class="box-4 hovereffect">
                    <img class="img_product img-responsive pad0 " src="{{! images[0][2] }}" onload="this.src='{{! images[0][2] }}'" title="" alt="" >
                    <div class="overlay">
                       <img class="img-responsive img_pro_2" src="{{! images[0][1] }}" alt=""> 
                    </div>
               </div>
            </a>
            <div>            
                <h1 class="name ellipsis multiline">{{! name }}</h1>
            </div>
            <div style="padding-bottom: 10px;">
                <div class="precio price">{{! main_price|money }}</div>
                <div class="promo price hidden">{{! promotion_price|money }}</div>
                <div class="colores-dispo {{! id }} hidden"> + colores disponibles </div>
            </div>
             
        </div>
    </div>




    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 space10 h_detail_prod visible-xs hidden-md hidden-lg hidden-sm">
    <div align="center">
        <div class="product product-thumb cuadro_product">
            <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                <div class="box-4 hovereffect">
                    <img class="img_product img-responsive pad0 " src="{{! images[0][2] }}" onload="this.src='{{! images[0][2] }}'" title="" alt="" >
                    <div class="overlay">
                       <img class="img-responsive img_pro_2" src="{{! images[0][1] }}" alt=""> 
                    </div>
               </div>
            </a>
            <div>            
                <h1 class="name ellipsis multiline">{{! name }} <i class="fa fa-heart-o" aria-hidden="true"></i></h1>
            </div>
            <div style="padding-bottom: 10px;">
                <div class="precio price anterior-oferta-sale">{{! main_price|money }}</div>
                <div class="price">{{! promotion_price|money }}</div>
                <div class="colores-dispo"> + colores disponibles </div>
            </div>
             
        </div>
        </div>
    </div>


</script>

