a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color:inherit;
    text-decoration:none;  
}
a:focus{
    color:inherit;
    text-decoration:none;  
}

a:link{
    color:inherit;
    text-decoration:none;  
}

a:visited{
    color:inherit;
    text-decoration:none;  
}

.producto-detalle-cotizacion{
    display: none;
}
.caja-logo {
    height: 51px;
    width: 169px;
    float: left;
    margin-top: -4px;
    margin-bottom: 21px;
}

.logo {
    height: 43px;
    width: 133px;
    float: left;
    margin-top: -7px;
    margin-bottom: 21px;
    object-fit: scale-down;
    left: 37px;
    position: relative;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 16px 26px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 13px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header.grin {
    background:#E5E5E4;
    z-index: 9999;
    top: 0%;
    width: 100%;
    position: absolute;
    height: 54px;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #3A5E80;
}

.btn-default.uni {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 102px;
    float: left;
    left: -2%;
    font-size: 23px;
}

.btn-default.uni:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom:102px;
    float: left;
    left: -2%;
    font-size: 23px;
}

.btn-default.uni:focus {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 102px;
    float: left;
    left: -2%;
    font-size: 23px;
}

.fa-shopping-cart{
    font-size: 18px !important;
    position: relative;
    margin-bottom: 0px;
    bottom: 36px;
    float: left;
    left: -4px;
}

/*------header inside-------*/

.linea-num {
    width: 100%;
    height: 60px;
    background-color: rgba(158, 158, 158, 0.8);
    position: relative;
    bottom: 85px;
}

.numero{
    float: right;
    color: white;
    font-size: 35px;
    position: relative;
    bottom: 0px;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 50px;
}

.img-carrito {
    width: 15px;
    float: right;
    position: relative;
    bottom: 33px;
    left: 16%;
}

.cor{
    left: 8px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 13px;
    margin-top: 0px;
    width: 82%;
}

.img-carrito-lateral {
    position: relative;
    width: 15px;
    left: 6%;
}

.btn-primary {
    color: rgba(84, 84, 84, 0.79);
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 28px;
    position: relative;
}

.dropdown-toggle:focus {
    outline: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgba(84, 84, 84, 0.79);
    background-color: transparent;
    border-color: transparent;
}

.dropdown-menu>li>a {
    display: block;
    padding: 7px 20px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
}


.dropdown-menu {
    position: absolute;
    top: 118%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 214px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #E5E5E4;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: white;
    text-decoration: none;
    background-color:rgba(128, 128, 128, 0.17);
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    top: 91%;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: 33px;
}

a.azul{
    color: #34495e !important;
}

a.verde{
    color: #61AA42 !important;
}

a.amarillo{
   color: #ffb606 !important;
}

a.naranjo{
  color: #e67e22 !important;
}

a.gris{
   color:  gray !important;
}

a.rojo{
  color: #c0392b  !important;
}

.btn-default.late {
    color: rgba(84, 84, 84, 0.79);
    background-color: transparent;
    border-color: transparent;
    padding: 6px 23px;
}

.btn-default:hover, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.misi{
width: 12.666667%;
}

/*---------------------------------------RESPONSIVE------------------------------------------------*/

@media (max-width: 1199px){
    .img-carrito {
        left: 100px;
    }

    .img-carrito-lateral{
        left: 20%;
    }
}

@media (max-width: 1191px){
    .nav>li>a {
        position: relative;
        display: block;
        padding: 16px 16px;
        color: rgba(84, 84, 84, 0.79);
        font-weight: 500;
        font-size: 13px;
        font-weight: 400;
    }

}

@media (max-width: 1175px){
    .nav>li>a {
    position: relative;
    display: block;
    padding: 16px 14px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
}

}

@media (max-width: 1143px){
    .nav>li>a {
    position: relative;
    display: block;
    padding: 16px 12px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
}

.fa-shopping-cart {
    font-size: 16px !important;
    position: relative;
    margin-bottom: 0px;
    bottom: 34px;
    float: left;
    left: -6px;
}

}

@media (max-width: 1111px){
    .nav>li>a {
    position: relative;
    display: block;
    padding: 16px 11px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 12px;
    font-weight: 400;
}

.btn-default.uni {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom:104px;
    float: left;
    left: 0px;
    font-size: 23px;
}

.btn-default.uni:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 104px;
    float: left;
    left: 0px;
    font-size: 23px;
}

.btn-default.uni:focus {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom:104px;
    float: left;
    left: 0px;
    font-size: 23px;
}

}

@media (max-width: 1064px){
	.nav>li>a {
    position: relative;
    display: block;
    padding: 13px 9px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
}

}

@media (max-width: 1063px){
    .nav>li>a {
    position: relative;
    display: block;
    padding: 16px 7px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 11px;
    font-weight: 400;
}

}

@media (max-width: 1024px){
.navbar-nav.navbar-right:last-child {
    margin-right: 13px;
    margin-top: -47px;
    width: 80%;
}

.btn-primary {
    color: rgba(84, 84, 84, 0.79);
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    padding: 0px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 28px;
    position: relative;
    
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 16px 7px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 13px;
    font-weight: 400;
}

.img-carrito {
    left: 30px;
}

.misi {
    width: 13.666667%;
}

.dropdown {
    position: relative;
    padding: 0px;
}

.dropdown-menu {
    position: absolute;
    top: 118%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 251px;
    padding: 20px 0;
    margin: 2px 0 0;
    font-size: 16px;
    text-align: left;
    list-style: none;
    background-color: #E5E5E4;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


}


@media (max-width: 991px){
    .btn-default.uni {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 69px;
    float: left;
    left: 0px;
    font-size: 23px;
}
.btn-default.uni:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 69px;
    float: left;
    left: 0px;
    font-size: 23px;
}

.btn-default.uni:focus {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 69px;
    float: left;
    left: 0px;
    font-size: 23px;
}

.linea-num {
    width: 100%;
    height: 60px;
    background-color: rgba(158, 158, 158, 0.8);
    position: relative;
    bottom: 84px;
}


}

@media (max-width: 976px){
	.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 7px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 10px;
    font-weight: 400;
}

}

@media (max-width: 896px){
	.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 6px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 10px;
    font-weight: 400;
}

}

@media (max-width: 880px){
	.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 5px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 9px;
    font-weight: 400;
}

}

@media (max-width: 822px){
	.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 4px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 9px;
    font-weight: 400;
}

}

@media (max-width: 806px){
	.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 3px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 9px;
    font-weight: 400;
}

}

@media (max-width: 790px){
	.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 2px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 9px;
    font-weight: 400;
}

}

@media (max-width: 774px){
	.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
    margin-top: -34px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 7px;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 9px;
    font-weight: 400;

}

}

@media (max-width: 768px){
    .img-carrito-lateral {
    left: 44%;
    bottom: 29px;
}

}

@media (max-width: 767px){
	.btn-default.uni {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 85px;
    float: left;
    left: 0px;
    font-size: 23px;
}
	.btn-default.uni:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 85px;
    float: left;
    left: 0px;
    font-size: 23px;
}

	.btn-default.uni:focus {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 85px;
    float: left;
    left: 0px;
    font-size: 23px;
}

.img-carrito-lateral {
    position: relative;
    width: 17px;
    top: -29px;
    float: left;
    left: 43%;
}


.dropdown {
    position: relative;
    text-align: center;
}

.btn-default.late {
    color: white;
    background-color: transparent;
    border-color: transparent;
    padding: 6px 23px;
    font-weight: 100;
    font-size: 17px;
    width: 100%;
    left: 18px;
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 118%;
    left: 0;
    z-index: 1000;
    display: none;
    float: inherit;
    min-width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #E5E5E4;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


}

@media (max-width: 450px){
    .btn-default.uni {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 85px;
    float: left;
    left: 0px;
    font-size: 23px;
}
.btn-default.uni:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 85px;
    float: left;
    left: 0px;
    font-size: 23px;
}

.btn-default.uni:focus {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 85px;
    float: left;
    left: 0px;
    font-size: 23px;
}


#sidebar-wrapper{
    margin-top: -24px !important;
}

.caja-logo {
    height: 51px;
    width: 210px;
    float: initial;
    margin-top: -3px;
    margin-bottom: 21px;
}

.logo{

   margin-bottom:0px;

}

}


@media (max-width: 414px){
.img-carrito-lateral {
    position: relative;
    width: inherit;
    top: 20px;
    float: inherit;
    left: 46%;
    z-index: 1000;
}

}

@media (max-width: 375px){
.img-carrito-lateral {
    position: relative;
    width: inherit;
    top: 15px;
    float: inherit;
    left: 45%;
    z-index: 1000;
}

}

@media (max-width: 360px){
.caja-logo {
    height: 51px;
    width: 210px;
    float: initial;
    margin-top: -6px;
    margin-bottom: 21px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 53px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default.uni:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 130px;
    float: left;
    left: 0px;
    font-size: 23px;
}

.btn-default.uni {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    bottom: 130px;
    float: left;
    left: 0px;
    font-size: 23px;
}

}


@media (max-width: 320px){
    .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 4px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.caja-logo {
    height: 51px;
    width: 210px;
    float: initial;
    margin-top: -52px;
    margin-bottom: 21px;
}


}


