div.image-upload.part1 {
    position: absolute;
    right: 20px;
    top: 115px;
    z-index: 100000;
}

.producto-detalle-cotizacion{
    display: none;
}

.titulo-prou{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    margin-bottom: 50px;
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mas {
    position: relative;
    left: 58px;
    float: left;
}

.menos{
    float: left;
    left: 37px;
    position: relative;
}

.contacto{
    position: relative;
    left: 25%;
}

.volver {
    position: relative;
    width: 45%;
    bottom: 0px;
    float: left;
}

.formulario {
    display: block;
    width:45%;
     float: right; 
    top: 0px;
    position: relative;
}

.img-pro {
    width: 90%;
    height: 167px;
    object-fit: scale-down;
    margin-bottom: 28px;
    padding-left: 0px;
    top: 40px;
}

.contenedor-img {
    border: 1px solid #a8a2a4;
    width: 107%;
    height: 206px;
    margin-bottom: 15px;
    padding-left: 0px;
    border-radius: 2px;
}

.price{
    position: relative;
    top: 124px;
}

.precio{
    float: left;
    text-align: left;
    width: 72%;
    position: relative;
    top: 82px;
    margin-bottom: 0px;
    height: 100%;
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.inf {
    position: absolute;
    bottom: 33px;
    width: 202px;
    text-align: center;
    left: 18px;
    color: #fff;
    font-size: 9px;
    font-weight: 300;
    margin-bottom: -12px;
    height: 26px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    background: #04264e;
    text-transform: uppercase;
    width: 244px;
    letter-spacing: 0.3px;
}

.inf-2 {
    position: absolute;
    bottom: 33px;
    width: 202px;
    text-align: center;
    left: 18px;
    color: #fff;
    font-size: 9px;
    font-weight: 300;
    margin-bottom: -12px;
    height: 26px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    background: #04264e;
    text-transform: uppercase;
    width: 244px;
    letter-spacing: 0.3px;
}

.clearfix-dos {
    margin-top: 18px;
    margin-bottom: 0px;
}

.fondo-detalle{
    width: 100%;
    height: 760px;
    object-fit: cover;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.fondo-detalle-producto {
    width: 100%;
    height: 375px;
    object-fit: cover;
    filter: grayscale(0%) brightness(55%);
    -webkit-filter: grayscale(0%) brightness(55%);
    -moz-filter: grayscale(0%) brightness(55%);
    -ms-filter: grayscale(0%) brightness(55%);
    -o-filter: grayscale(0%) brightness(55%);
    margin-top: -69px;
}

.img_prod_detail{
    position: relative;
    top: 11px;
    width: 100%;
    height: 100%;
    max-width: 360px;
}


img.little{
    width: 100%;
    height: 490px !important;
     object-fit: contain;
}

.name_prod_detail {
    position: relative;
    top: -614px;
    font-size: 23px;
    color: white;
    text-align: right;
    height: 54px;
}

.descr_prod_detail {
    position: relative;
    font-size: 24px;
    width: 100%;
    text-align: left;
    top: 53px;
    color: gray;
    font-weight: 200;
    line-height: 29px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 20%;
}

.fin {
    position: relative;
    top: 215px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 50%;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;

}

hr.len {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(85, 85, 85, 0.75);
    width: 58%;
    position: relative;
    top: 200px;
}

.fin-2{
     position: relative;
    top: -203px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.66);
    width: 72%;
}

.cuadro-contenedor-white{
    background-color: white;
    height: 410px;
    width: 100%;
    margin-bottom: 34px;

}

.cuadro-contenedor-white:hover{
    border: 1px solid black;
    height: 410px;
    width: 100%;
    margin-bottom: 34px;

}

.pri{
    width: 100%;
    text-align: center;
    bottom: 19px;
    position: absolute;
    color: #727272;
    font-size: 13px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
}

.h_submenu {
  /*  height: 17px;*/
    /* margin-bottom: -59px; */
    /* margin-top: 21px; */
}

.subcateg.active {
    background-color: transparent;
    font-size: 16px;
    padding: 0px 10px;
    color: gray;
    font-weight: 700;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.subcateg {
     color: black;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.subcateg-ban {
    font-size: 16px;
    padding: 0px 10px;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.subcateg:hover {
    font-size: 16px;
    padding: 0px 10px;
    color:gray;
    font-weight: 700;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

a.subcateg:hover {
    font-size: 16px;
    padding: 0px 10px;
    color:gray;
    font-weight: 700;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.texto-detalle {
    text-align: center;
    position: relative;
    top: 63px;
    font-size: 26px;
    color: gray;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    left: 19%;
}


.texto-header-pro-detalle {
    margin-top: 12px;
    margin-bottom: -33px;
    position: relative;
    left: 74px;
    float: left;
    font-size: 15px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleX(1.2);
    -o-transform: scaleY(1.2);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.72);
    text-transform: capitalize;
}

hr.hr-pro {
/*    margin-top: 82px;*/
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(85, 85, 85, 0.75);
    width: 58%;
    position: relative;
    top: 95px;
}

.linea-separadora{
    margin-top: 280px;
}

.product-price-2 {
    text-align: left;
    position: absolute;
    bottom: 31px;
    width: 100%;
    font-size: 20px;
}

.btn-success.car{
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 0px;
    width: 33%;
    height: 63px;
    float: left;
    top: 45px;
    position: relative;
    right: 0px;
}

.btn-success.car:hover{
    color: white ;
    background-color:black;
    border-color: black;
    border-radius: 0px;
    width: 33%;
    height: 63px;
    float: left;
    top: 45px;
    position: relative;
    right: 0px;
}

.up-ex {
    float: right;
    text-align: left;
    width: 100%;
    position: relative;
    top: 219px;
    margin-bottom: 0px;
    height: 100%;
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 28%;

}

.up-ex-2 {
    float: right;
    text-align: left;
    width: 100%;
    position: relative;
    top: 266px;
    margin-bottom: 43px;
    height: 100%;
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 28%;

}

.up-ex-3{
    float: right;
    text-align: left;
    width: 100%;
    position: relative;
    top: 270px;
    margin-bottom: 10px;
    height: 100%;
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 28%;

}

hr.lis {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(85, 85, 85, 0.75);
    width: 58%;
    position: relative;
    top: -212px;
}

.modal-header-pro{
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    background: rgba(128, 128, 128, 0.39);
    color: gray;
}

.modal-title-pro{
    margin: 0;
    line-height: 1.42857143;
    font-weight: 600;
    font-size: 18px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    letter-spacing: -1px;
    width: 97%;
}

.cate {
    font-size: 15px;
    font-weight: 200;
    color: gray;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    margin-bottom: 13px;
    text-align: center;
    display: inherit;
}

.cate:hover {
    font-size: 15px;
    font-weight: 200;
    color: gray;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    margin-bottom: 13px;
    text-align: center;
    display: inherit;
}

.btn-default.carr {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    color: #727272;
    font-size: 13px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    margin-top: 3px;
}

/*.carousel {
    position: relative;
    top: 114px;
    margin-bottom: 110px;
}
*/

.carousel {
    position: relative;
    bottom: 477px;
    margin-bottom: -481px;
}

.dano{
margin-bottom: 35px;
}

.fa-chevron-circle-right{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 33px !important;
     color:gray;
}

.fa-chevron-circle-left{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 33px !important;
    color: gray;
}

.text-relac {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 20px;

}

.texto-header-pro {
    margin-top: -5px;
    margin-bottom: 36px;
    position: relative;
    left: 7px;
    float: left;
    font-size: 15px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleX(1.2);
    -o-transform: scaleY(1.2);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.72);
}

.texto-header-pro-2 {
    margin-top: -10px;
    margin-bottom: 36px;
    position: relative;
    left: 36px;
    float: left;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.72);
    text-transform: uppercase;
}

img.mini{
    width: 89%;
    height: 219px;
    object-fit: scale-down;
    margin-bottom: 0px;
    padding-left: 0px;
    top: 39px;
}

.img_part_bullet {
    position: relative;
    top: 300px;
    width: 65%;
    height: 67px;
    max-width: 317px;
    float: right;
    margin-bottom: 10px;
    object-fit: contain;
    left: 21%;
}

.partes.active {
    background-color: transparent;
    font-size: 16px;
    padding: 0px 10px;
    color: rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes:hover {
    font-size: 16px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

a.partes:hover {
    font-size: 16px;
    padding: 0px 10px;
    color:black;
    font-weight: 600;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.fa-caret-right{
    float: left;
    position: relative;
    top: 2px;
    left: 29px;
    font-size: 22px !important;
    color:rgba(16, 33, 81, 0.85) !important;
}

.fa-caret-right.categ{
    float: left;
    position: relative;
    top: 1px;
    left: -2px;
    font-size: 22px !important;
    color:rgba(16, 33, 81, 0.85) !important;
}

.container.nueve{
    padding-left: 286px;
    padding-right: 26px;
}

.btn-default.comprar {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 160px;
    z-index: 1000;
    border-radius: 0px;
}

.btn-default.comprar:hover {
    color: white;
    background-color: gray;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 160px;
    z-index: 1000;
    border-radius: 0px;
}

.btn-default.cotizar {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 160px;
    z-index: 1000;
    border-radius: 0px;
}

.btn-default.cotizar:hover {
    color: white;
    background-color: gray;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 160px;
    z-index: 1000;
    border-radius: 0px;
}

.inf-rel{
    position: absolute;
    bottom: 25px;
    width: 202px;
    text-align: center;
    left: 18px;
    color: #98acb7;
    font-size: 8px;
    font-weight: 300;
    margin-bottom: -12px;
    height: 26px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    background: #04264e;
    text-transform: uppercase;
    padding-top: 2px;
    width: 188px;
}

.fa.rel-arrows-r{
    top: 46%;
    float: right;
    right: 0%;
}

.slick-list{
    width: 90%;
    margin-left: 5% !important;
}

.fa.rel-arrows-l {
    top: 46%;
}

.inf-rel2{
    position: relative;
    width: 168px !important;
    text-align: center;
    left: 0px;
    top: -38px;
    color: #fff;
    font-size: 9px;
    font-weight: 300;
    height: 40px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    background: #04264e;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 188px;
    letter-spacing: 0.3px;
}

.img_prod_little {
    width: 251%;
    /* height: 100px; */
    margin-bottom: 5px;
    position: relative;
    object-fit: scale-down;
    top: 9px;
    /* border: 1px solid rgba(128, 128, 128, 0.25); */
    left: -69px;
    margin-left: 0px;
    float: left;
}

#mainImage{
    position: relative;
    top: -4px;
    width: 100%;
    height: 100%;
    max-width: 342px;
    float: left;
    -webkit-transition:all 0.5s linear;
    transition:all 0.5s linear;
}

.img-container img {
    width:100px;
    height:100px;
    padding: 0px;
}

.img-container img:hover{
    border: 1px solid gray;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.img-productos-nuevo{
    width: 90%;
    height: 167px;
    object-fit: scale-down;
    margin-bottom: 28px;
    padding-left: 0px;
    top: 40px;
}

.contenedor-banner{
    border: 1px solid #a8a2a4;
    width: 107%;
    height: 206px;
    margin-bottom: 15px;
    padding-left: 0px;
    border-radius: 2px;
}

/*--------------------------------Responsive-----------------------------------------------------------*/
@media (max-width: 1199px){
    .img_prod_detail {
    position: relative;
    top: 11px;
    width: 74%;
    height: 100%;
    max-width: 360px;
}

hr.hr-pro {
    margin-top: -28px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(85, 85, 85, 0.75);
    width: 58%;
    position: relative;
    top: 95px;
}

.inf {
  width: 146px;
}

}

@media (max-width: 1024px){
    .inf {
    width: 180px;
}

.inf-rel2 {
    position: relative;
    width: 132px !important;
    text-align: center;
    left: 0px;
    top: -38px;
    color: #fff;
    font-size: 9px;
    font-weight: 300;
    height: 40px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    background: #04264e;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 188px;
    letter-spacing: 0.3px;
}

.titulo-prou {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

}

@media (max-width: 991px){

.btn-success.car {
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 0px;
    width: 50%;
    height: 63px;
    float: left;
    top: 45px;
    position: relative;
    right: 0px;
}

.btn-success.car:hover{
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 0px;
    width: 50%;
    height: 63px;
    float: left;
    top: 45px;
    position: relative;
    right: 0px;
}

.name_prod_detail {
    position: relative;
    top: 0px;
    font-size: 23px;
    color: white;
    text-align: right;
    height: 54px;
}

.texto-detalle {
    text-align: center;
    position: relative;
    font-size: 22px;
    color: gray;
    font-weight: 200;
}


.nov{
    height: 100% !important;
}

.img-pro {
    width: 89%;
    height: 213px;
    object-fit: scale-down;
    margin-bottom: 99px;
    padding-left: 0px;
    top: 45px;
}

.inf {
    width: 339px;
}

.contenedor-img {
    border: 1px solid black;
    width: 100%;
    height: 232px;
    margin-bottom: 7px;
    padding-left: 0px;
}

.descr_prod_detail {
    position: relative;
    font-size: 24px;
    width: 100%;
}

.img_part_bullet {
    position: relative;
    top: 300px;
    width: 53%;
    height: 200px;
    max-width: 223px;
    float: left;
    object-fit: cover;
    left: 0%;
}

.up-ex{
    float: left;
}

.up-ex-2{
    float: left;
}

.up-ex-3{
    float: left;
}

.texto-header-pro {
    margin-top: -5px;
    margin-bottom: 36px;
    position: relative;
    left: 38px;
    float: left;
    font-size: 10px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleX(1.2);
    -o-transform: scaleY(1.2);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.72);
}

.container.nueve{
    padding-left:0px;
    padding-right: 0px;
}

.subcateg1 {
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding: 6px 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.54);
    width: 77%;
}
a.subcateg:hover {
    font-size: 13px;
    padding: 6px 0px;
    color: gray;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: center;
    width: 40%;
}

.subcateg.active {
    background-color: transparent;
    font-size: 13px;
    padding: 6px 0px;
    color: gray;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: center;
    width: 40%;
}


.subcateg:hover {
    font-size: 13px;
    padding: 6px 0px;
    color:gray;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: center;
    width: 40%;
}

.partes.active {
    background-color: transparent;
    font-size: 12px;
    padding: 0px 10px;
    color: rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 10px;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes:hover {
    font-size: 12px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align:left;
}

a.partes:hover {
    font-size: 12px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.fa-caret-right{
visibility: hidden;
}

.mtl{
    z-index: 1030;
}

.texto-header-pro-2 {
    margin-top: 0px;
    margin-bottom: 22px;
    position: relative;
    left: 3px;
    float: inherit;
    text-align: center;
    font-size: 20px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleX(1.2);
    -o-transform: scaleY(1.2);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.72);
    text-transform: uppercase;
}


}

@media (max-width: 768px){
    .inf {
        width: 89%;
        bottom: 26px;
        left: 18px;
    }

    .inf-2{
        width: 204px;
    }

.descr_prod_detail {
    position: relative;
    font-size: 24px;
    width: 100%;
    left: 1%;
    margin-bottom: -109px;
}

.up-ex {
    float: inherit;
    left: 2%;
    font-size: 24px;
    color: gray;
}

.img_part_bullet {
    position: relative;
    top: 300px;
    width: 53%;
    height: 200px;
    max-width: 223px;
    float: left;
    object-fit: contain;
    left: 0%;
}

.texto-detalle {
    text-align: left;
    position: relative;
    top: 57px;
    margin-bottom: 28px;
    font-size: 21px;
    /* border-top-color: black; */
    color: gray;
    font-weight: 200;
    left: 2%;
}

.inf-rel2 {
    position: relative;
    width: 100px !important;
    text-align: center;
    left: 1px;
    top: -38px;
    color: #fff;
    font-size: 8px;
    font-weight: 300;
    height: 40px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    background: #04264e;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 188px;
    letter-spacing: 0.3px;
}

}


@media (max-width: 767px){
.det-mobi{
    height: 100% !important;
    display: block;
    margin: auto auto 0 auto;
    margin-top: 74px !important;

}

.img_prod_little {
    width: 100%;
/*    height: 88px;*/
    margin-bottom: 2px;
    position: relative;
    object-fit: scale-down;
    top: 0px;
    left:0px;
}

.fin {
    position: relative;
    top: 158px;
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 50%;
    margin-top: 58px;
}

hr.hr-pro {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(85, 85, 85, 0.75);
    width: 58%;
    position: relative;
    top: 95px;
}

.img_prod_detail {
    position: relative;
    top: 0px;
}

.img-pro {
    width: 87%;
    height: 167px;
    object-fit: scale-down;
    margin-bottom: 0px;
    padding-left: 0px;
    top: 27px;
    position: relative;
}

.pri {
    width: 96%;
}

.btn-default.carr {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    color: #727272;
    font-size: 13px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    margin-top: 3px;
    position: relative;
    top: 20px;
    font-size: 11px;
}

.inf {
    width: 89%;
}

.texto-header-pro-2 {
    margin-top: -10px;
    margin-bottom: 0px;
    position: relative;
    left: 0px;
    float: inherit;
    text-align: center;
    font-size: 13px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleX(1.1);
    -o-transform: scaleY(1.2);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.72);
    text-transform: uppercase;
    bottom: 42px;
}


.partes.active {
    background-color: transparent;
    font-size: 12px;
    padding: 0px 10px;
    color: rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 10px;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes:hover {
    font-size: 12px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align:left;
}

a.partes:hover {
    font-size: 12px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 31px;
    margin-right: 2px;
    display: block;
    text-align: left;
}
.texto-detalle {
    text-align: center;
    position: relative;
    top: 0px;
    font-size: 22px;
    color: gray;
    font-weight: 200;
    left: 0%;
}

.inf-rel{
    position: absolute;
    bottom: 25px;
    width: 202px;
    text-align: center;
    left: 18px;
    color: #98acb7;
    font-size: 8px;
    font-weight: 300;
    margin-bottom: -12px;
    height: 26px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    background: #04264e;
    text-transform: uppercase;
    padding-top: 2px;
    width:340px;
}

.carousel {
    position: relative;
    bottom: 476px;
    margin-bottom: -480px;
}

.descr_prod_detail {
    position: relative;
    font-size: 24px;
    width: 100%;
    top: 154px;
    left: 0px;
    margin-bottom: -44px;
    z-index: 1030;
}

.btn-default.comprar {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 133px;
    z-index: 1000;
    border-radius: 0px;

}

.btn-default.comprar:hover {
    color: white;
    background-color: gray;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 133px;
    z-index: 1000;
    border-radius: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-default.cotizar {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 133px;
    z-index: 1000;
    border-radius: 0px;
}

.btn-default.cotizar:hover {
    color: white;
    background-color: gray;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 133px;
    z-index: 1000;
    border-radius: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.precio {
    top: 129px;
}

.img_part_bullet {
    position: relative;
    top: 300px;
    width: 100%;
    height: 70px;
    max-width: 100%;
    float: left;
    left: 0%;
    object-fit: contain;
    margin-bottom: 20px;
}

.up-ex {
    float: left;
    left: 0%;
    font-size: 23px;
    font-weight: 200;
    line-height: 29px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: gray;
    margin-bottom: -40px;
}

.up-ex-2 {
    float: left;
    left: 0%;
}
.up-ex-3 {
    float: left;
    left: 0%;
}
.texto-header-pro {
    margin-top: -70px;
    margin-bottom: 100px;
    position: relative;
    left: 38px;
    float: left;
    font-size: 10px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleX(1.2);
    -o-transform: scaleY(1.2);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.72);
}

.mtl{
    margin-top: -81px !important;
    margin-bottom: 91px !important;
}


}

@media (max-width: 700px){
.texto-detalle {
    text-align: center;
    position: relative;
    top: 0px;
    margin-bottom: -62px;
    font-size: 19px;
    color: gray;
    font-weight: 200;
}

.subcateg {
    color: black;
    font-size: 15px;
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
}

a.subcateg:hover {
    font-size: 15px;
    padding: 0px 0px;
    color: gray;
    margin-left: 0px;
    margin-right: 0px;
    display: block;

}

.subcateg.active {
    background-color: transparent;
    font-size: 15px;
    padding: 0px 0px;
    color: gray;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
}


.subcateg:hover {
    font-size: 15px;
    padding: 0px 0px;
    color:gray;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
}

.partes.active {
    background-color: transparent;
    font-size: 12px;
    padding: 0px 10px;
    color: rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 3px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 10px;
    margin-left: 3px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes:hover {
    font-size: 12px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 3px;
    margin-right: 2px;
    display: block;
    text-align:left;
}

a.partes:hover {
    font-size: 12px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 3px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.inf {
    width: 88%;
}

.item {
    background-position: center !important;
    background-size: contain !important;
    height: 300px !important;
}

img.little {
    width: 100%;
    height: 300px !important;
    object-fit: contain;
}

.carousel {
    position: relative;
    bottom: 0px;
    margin-bottom: -3px;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.btn-default.cotizar {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 170px;
    z-index: 1000;
    border-radius: 0px;
}


.btn-default.cotizar:hover {
    color: white;
    background-color: gray;
    border-color: #ccc;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    top: 130px;
    z-index: 1000;
    border-radius: 0px;
}

.inf-rel {
    position: absolute;
    bottom: 25px;
    width: 202px;
    text-align: center;
    left: 18px;
    color: #98acb7;
    font-size: 8px;
    font-weight: 300;
    margin-bottom: -12px;
    height: 26px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    background: #04264e;
    text-transform: uppercase;
    padding-top: 2px;
    width: 306px;
}

.text-relac {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: -27px;
    position: relative;
}

.precio {
    top: 100px;
}

.inter{
    margin-top: 100px;
}

}

@media (max-width: 640px){
    .inf {
        width: 88%;
    }

    .contenedor-banner{
        width: 100%;
    }

    .inf-2 {
        width: 288px;
    }

}

@media (max-width:580px){
    .inf {
    width: 87%;
}

}


@media (max-width: 575px){
    .titulo-prou {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    margin-bottom: 50px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

}

@media (max-width: 530px){
    .inf {
    width: 86%;
}

.inf-rel {
    width: 86%;
}

}

@media (max-width: 500px){
.inf {
    width: 82%;
}

}

@media (max-width: 480px){
    .img_prod_little {
    width: 120%;
}
.inf-rel {
    width: 84%;
}

.demo{
    height: 60px !important;
}

}

@media (max-width: 477px){
.partes.active {
    background-color: transparent;
    font-size: 12px;
    padding: 0px 10px;
    color: rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 1px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 10px;
    margin-left: 1px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes:hover {
    font-size: 12px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 1px;
    margin-right: 2px;
    display: block;
    text-align:left;
}

a.partes:hover {
    font-size: 12px;
    padding: 0px 10px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 1px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

}


@media (max-width: 460px){
    .inf {
    width: 84%;
}

.inf-2 {
    width: 126px;
}

}

@media (max-width: 458px){
.partes.active {
    background-color: transparent;
    font-size: 12px;
    padding: 0px 0px;
    color: rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 1px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 0px;
    margin-left: 1px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.partes:hover {
    font-size: 12px;
    padding: 0px 0px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 1px;
    margin-right: 2px;
    display: block;
    text-align:left;
}

a.partes:hover {
    font-size: 12px;
    padding: 0px 0px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 1px;
    margin-right: 2px;
    display: block;
    text-align: left;
}

.subcateg {
    padding: 0px 0px;
}

}

@media (max-width: 449px){
    .img-pro {
    width: 87%;
    height: 167px;
    object-fit: scale-down;
    margin-bottom: 0px;
    padding-left: 0px;
    top: 11px;
    position: relative;
}

.inf{
    height: 37px;
}

}

@media (max-width: 440px){
.inf {
    width: 79%;
}

}

@media (max-width: 436px){
    .titulo-prou {
    position: absolute;
    text-align: center;
    width: 95%;
    bottom: 0px;
    margin-bottom: 46px;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

}

@media (max-width: 420px){
    .inf-rel {
    width: 82%;
     height: 37px;
}

}

@media (max-width:  418px){
    .partes {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: left;
}

.partes.active {
    background-color: transparent;
    font-size: 12px;
    padding: 0px 0px;
    color: rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: left;
}

.partes:hover {
    font-size: 12px;
    padding: 0px 0px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align:left;
}

a.partes:hover {
    font-size: 12px;
    padding: 0px 0px;
    color:rgba(16, 33, 81, 0.85);
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: left;
}

}



@media (max-width: 414px){
    .descr_prod_detail {
    font-size: 14px;
    margin-bottom: -81px;
}

.img_prod_little {
    top: 0px;
    left: 0px;
    width: 150%;
    /* height: 75px; */
}

.inf {
    width: 88%;
    bottom: 32px;
    font-size: 8px;
    height: 35px;
    left: 10px;
}

.texto-header-pro-2 {
    font-size: 16px;
}

.contenedor-img {
    border: 1px solid black;
    width: 100%;
    height: 169px;
    margin-bottom: 7px;
    padding-left: 0px;
}

.art-hi{
    padding:5px;
}

.img-pro {
    width: 87%;
    height: 140px;
    object-fit: scale-down;
    margin-bottom: 0px;
    padding-left: 0px;
    top: -12px;
    position: relative;
}

img.mini {
    width: 89%;
    height: 146px;
    object-fit: scale-down;
    margin-bottom: 0px;
    padding-left: 0px;
    top: 39px;
}

.mumu{
    position: relative !important;
    left: -9px !important;
    text-align: left !important;
    width: 189px !important;
    font-size: 10px !important;
    height: 33px !important;
    float: left !important;
    margin-top: 2px !important;
}

tr.mun{
    font-size: 10px;
}

td.mumu-2{
    font-size: 10px !important;
}

.menos {
    float: left;
    left: 5px;
    position: relative;
    font-size: 10px !important;
}

.mas {
    position: relative;
    left: 21px;
    float: left;
    font-size: 10px !important;
}

td.mumu-3{
    font-size: 10px !important;
    left: 14px !important;
}

.piki {
    padding: 0px;
    margin-top: 175px;
}

.subcateg {
    color: black;
    font-size: 15px;
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    width: 77%;
    font-weight: 600;
}

a.subcateg:hover {
    font-size: 15px;
    padding: 0px 0px;
    color: gray;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    width: 77%;

}

.subcateg.active {
    background-color: transparent;
    font-size: 15px;
    padding: 0px 0px;
    color: gray;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
     width: 77%;
}


.subcateg:hover {
    font-size: 15px;
    padding: 0px 0px;
    color:gray;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
     width: 77%;
}

.texto-header-pro-2 {
    font-size: 12px;
}


.up-ex {
    float: left;
    left: 0%;
    font-size: 14px;
    margin-bottom: -70px;
}

.titulo-prou {
    position: absolute;
    text-align: center;
    width: 95%;
    bottom: 0px;
    margin-bottom:15px;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

.titulo {
    position: absolute;
    width: 93%;
    font-size: 17px;
    margin-bottom: 15px;
}

}



@media (max-width: 400px){

.menos {
    float: left;
    left: -7px;
    position: relative;
    font-size: 15px !important;
}

td.mumu-3 {
    font-size: 15px !important;
    left: 2px !important;
}

.mas {
    position: relative;
    left: 11px;
    float: left;
    font-size: 15px !important;
}

.inf {
    width: 88%;
    bottom: 32px;
    font-size: 8px;
    height: 42px;
    padding-top: 6px;
}

.carousel {
    position: relative;
    bottom: 0px;
    margin-bottom: -15px;
}

td.mumu-2 {
    font-size: 13px !important;
}

.mumu {
    position: relative !important;
    left: 5px !important;
    text-align: left !important;
    width: 203px !important;
    font-size: 13px !important;
    height: 33px !important;
    float: left !important;
    margin-top: 2px !important;
    top: 8px !important;
}

}


@media (max-width: 375px){
.img_prod_little {
    top: 0px;
    left: -25px;
    width: 148%;
    /* height: 75px; */
}

.inf-rel {
    width: 81%;
    height: 37px;
    overflow: hidden;
}

.inf {
    width: 86%;
    bottom: 32px;
    font-size: 8px;
    height: 41px;
    left: 10px;
}

.inf-2 {
    width: 75%;
    bottom: 32px;
    font-size: 8px;
    height: 30px;
    left: 18px;
}

.titulo-prou {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    margin-bottom: 36px;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

.carousel {
    position: relative;
    bottom: 0px;
    margin-bottom: -25px;
}

.carousel-indicators {
    position: absolute;
    bottom: 26px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.det-mobi {
    height: 100% !important;
    display: block;
    margin: auto auto 0 auto;
    margin-top: 54px !important;
}

.form-moulie {
    margin-bottom: -112px;
    position: relative;
    margin-top: 65px;
    width: 96%;
}

}

@media (max-width: 360px){
.img_prod_little {
    top: 0px;
    left: -33px;
    width: 200%;
    /* height: 75px; */
}

.fin {
    width: 80%;
}


.inf-rel {
    width: 80%;
    height: 37px;
}

.inf {
    width: 86%;
    bottom: 32px;
    font-size: 8px;
    height: 44px;
}

.carousel {
    position: relative;
    bottom: 0px;
    margin-bottom: -30px;
}

.det-mobi {
    height: 100% !important;
    display: block;
    margin: auto auto 0 auto;
    margin-top: 39px !important;
}

.form-moulie {
    margin-bottom: -112px;
    position: relative;
    margin-top: 65px;
    width: 100%;
}

td.mumu-2 {
    font-size: 8px !important;
}

}


@media (max-width: 320px){
    .descr_prod_detail {
    position: relative;
    font-size: 17px;
    width: 80%;
}

.img_prod_little {
    top: 0px;
    left: -30px;
    width: 329%;
    /* height: 75px; */
}

.fin {
    position: relative;
    top: 150px;
    width: 80%;
    margin-top: 96px;
}


.btn-success.car {
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 0px;
    width: 68%;
    height: 63px;
    float: left;
    top: 45px;
    position: relative;
    right: 0px;
}

.btn-success.car:hover {
    color:white;
    background-color:black ;
    border-color: black;
    border-radius: 0px;
    width: 68%;
    height: 63px;
    float: left;
    top: 45px;
    position: relative;
    right: 0px;
}

.inf {
    width: 83%;
    bottom: 31px;
    font-size: 7px;
    height: 43px;
}

    .subcateg {
    padding: 0px 0px;
    width: 100%;
}
    .subcateg.active {
    padding: 0px 0px;
    width: 100%;
}
    .subcateg:hover {
    padding: 0px 0px;
    width: 100%;
}
    a.subcateg:hover {
    padding: 0px 0px;
    width: 100%;
}

.texto-header-pro {
    margin-top: -91px;
    margin-bottom: 36px;
    position: relative;
    left: 17px;
    float: left;
    font-size: 10px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleX(1.2);
    -o-transform: scaleY(1.2);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.72);
}

.inf-rel {
    width: 77%;
    height: 37px;
}

.mtl {
    margin-top: -50px !important;
    margin-bottom: 91px !important;
}

.img-pro {
    width: 87%;
    height: 130px;
    object-fit: scale-down;
    margin-bottom: 0px;
    padding-left: 0px;
    top: -25px;
    position: relative;
}

.contenedor-img {
    border: 1px solid black;
    width: 100%;
    height: 133px;
    margin-bottom: 7px;
    padding-left: 0px;
}

.volver {
    position: relative;
    width: 54%;
    bottom: 0px;
    float: left;
}

.up-ex {
    float: left;
    left: 0%;
    font-size: 17px;
    margin-bottom: -70px;
}

.carousel {
    position: relative;
    bottom: 0px;
    margin-bottom: -45px;
}

.carousel-indicators {
    position: absolute;
    bottom: 42px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.det-mobi {
    height: 100% !important;
    display: block;
    margin: auto auto 0 auto;
    margin-top: 26px !important;
}

td.mumu-2 {
    font-size: 8px !important;
}

.mumu {
    position: relative !important;
    left: 0px !important;
    text-align: left !important;
    width: 184px !important;
    font-size: 9px !important;
    height: 33px !important;
    float: left !important;
    margin-top: 2px !important;
    top: 8px !important;
}

}
