.texto_uno{
   text-align: center;
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
    color: #646464;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px;
}

.producto-detalle-cotizacion{
    display: none;
}

.color-line {
    background: #f7f9fa;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #34495e, #34495e 13%, #62cb31 25%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 81%, #e74c3c 81%, gray 85%, gray 100%);
    background-image: -moz-linear-gradient(left, #34495e, #34495e 28%, #62cb31 25%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 81%, #e74c3c 81%, gray 85%, gray 100%);
    background-image: -ms-linear-gradient(left, #34495e, #34495e 28%, #62cb31 25%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 81%, #e74c3c 81%, gray 85%, gray 100%);
    background-image: linear-gradient(to right, #34495e, #34495e 20%, #62cb31 13%, #62cb31 32%, #ffb606 43%, #ffb606 59%, #e67e22 65%, #e67e22 75%, #e74c3c 81%, #e74c3c 81%, gray 85%, gray 100%);
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    margin-top: 4px;
}

.img-home-cir{
    width: 140px;
    object-fit: scale-down;
    height: 193px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.texto-img{
    text-align: center;
    font-size: 17px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #04264E;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    font-weight: 500;
    line-height: 21px;
    height: 100%;
    margin-bottom: 61px;
}

.texto-img-2{
    text-align: center;
    font-size: 17px;
    height: 100%;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    color:#00AE32;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    font-weight: 500;
    line-height: 21px;
}

.texto-img-3{
    text-align: center;
    font-size: 17px;
    height:100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color:#FFCA02;
     -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    font-weight: 500;
    line-height: 21px;
}
.texto-img-4{
    text-align: center;
    font-size:17px;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #FF6600;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    font-weight: 500;
    line-height: 21px;
}
.texto-img-5{
    text-align: center;
    font-size: 17px;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #F10000;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    font-weight: 500;
    line-height: 21px;
}


.img-two{
    position: relative;
    right: 0px;
}

.img-three{
    position: relative;
    left: 0px;
}

.img-for{
    position: relative;
    right: 0px;
}

.texto-banner-uno{
    text-align: left;
    position: absolute;
    bottom: 0px;
    padding-bottom: 0px;
    padding-left: 13px;
    padding-right: 13px;
    width: 100%;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 200;
    padding-top: 9px;
    overflow: hidden;
}

.img-home-ban{
   width: 100%;
   height:270px;
   object-fit: cover;
}


.img-home-cir-gris {
    width: 120%;
    object-fit: scale-down;
    height: 100%;
    margin-bottom: 15px;
}

.img-ico-2 {
    right: 46px;
}

.img-ico-4 {
    right: 56px;
}

.img-ico-3{
    right: 11px;
}

.img-ico-5{
    right: 21px;
}

.texto-img-gris{
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    color: gray;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.1);
    -o-transform: scaleY(1.2);
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 66px;
}

.contenedor-texto-uno{
    float: left;
    position: relative;
    left: -41px;
}

.contenedor-texto-dos{
    float: left;
    position: relative;
    left: -17px;
}

.other-content{
    position: relative;
    float: left;
    left: -57px;
}

.other-content-2{
    position: relative;
    float: left;
    left: -38px;
}
.editableimage{
    width: 100%;
}

/*------------------------------------------RESPONSIVE------------------------------------------*/
@media (max-width: 991px){
    .img-two {
    right: 0px;
}

.img-for {
    right: 0px;
}
.img-three {
    left: 0px;
}
.so{
    margin-top: 25px;
}

.img-ico-2{
    right: 0px;
}

.img-ico-4{
  right: 0px;
}

.contenedor-texto-uno {
    float: left;
    position: relative;
    left: 0px;
}

.contenedor-texto-dos {
    float: left;
    position: relative;
    left: 0px;
}

.other-content{
    position: relative;
    float: left;
    left: 0px;
}

.other-content-2{
    position: relative;
    float: left;
    left: 0px;
}

.img-home-cir-gris {
    width: 100%;
    object-fit: scale-down;
    height: 100%;
    margin-bottom: 15px;
    float: right;
    left: 60px;
    position: relative;
}

}

@media (max-width: 768px){
    .texto_uno {
    text-align: center;
    margin-top: 93px;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
    color: #646464;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px;
}

}

@media (max-width: 414px){
    .img-home-cir-gris {
    width: 100%;
    object-fit: scale-down;
    height: 100%;
    margin-bottom: 15px;
    left: 0px;
}

.img-home-cir {
    width: 100px;
    object-fit: scale-down;
    height: 193px;
    margin-bottom: -48px;
    margin-top: 10px;
}

.vi{
    margin-bottom: 74px !important;
}

.img-ico-3 {
    right: 0px;
}

.img-ico-5 {
    right: 0px;
}

}

@media (max-width: 320px){
    .img-home-cir {
    width: 90px;
    object-fit: scale-down;
    height: 193px;
    margin-bottom:-48px;
    margin-top: 10px;
}


}