{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
{% end %}

{% block javascript %}
    <script  type="text/javascript" src="{{ site_base }}/static/js/app.js"></script>
    <script>
        $(document).ready(function(){
          $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });
        });
    </script>
    
<script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

    var base_url = $.environmentVar(
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/');
    var checkout_url = $.environmentVar(
        'https://checkout.loadingplay.com',
        'https://checkout.loadingplay.com',
        'https://checkout.loadingplay.com');
    var app_public = $.environmentVar(48,48,48);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 10,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
            'onLoad':function(){
               // $('.ellipsis').ellipsis();
               // $(".ellipsis").dotdotdot();
             }
        };
         $(document).ecommerce({
       'app_public' :  app_public,
       'animation' : 'simple',
       'base_url' : base_url,
       'checkout_url' :  checkout_url,
       'products_per_page' : 9
     });

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>

{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->

<!-- *contenido* -->
<body id="lapimport">

    <section class="container-fluid banner">
        <img src="../static/img/banner-1.jpg" alt="Banner" class="banner-bg">
        <div class="banner-copy banner-copy-left">
            <h1 class="banner-title">Capital<br>Leading<br>Private</h1>
        </div>
    </section>

    <section class="container-fluid intro">
        <img src="../static/img/mountain-bg.svg" alt="Background image" class="intro-img">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-copy">
                        <p class="text intro-text">Cerro Castillo Capital is a leading private equity firm that invests in mid size companies based
                            in Chile. Investments in other Latin American countries, especially Perú and Colombia, are done
                            through subsidiaries of these companies.</p>
                        <p class="text intro-text">The founding partners of Cerro Castillo Capital have vast experience doing private equity and a strong
                            network of contacts to originate proprietary deals and involve industry experts during due diligence
                            and throughout the lifetime of the investments.</p>
                        <p class="text intro-text">The team follows a disciplined investment approach and becomes actively involved in its portfolio
                            companies. Value creation is sought by setting clear strategic initiatives and implementing operational
                            improvements. Significant focus is placed upfront to align incentives with managers and partners
                            behind a clear common goal.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% include '../home/footer.html' %}
{% end %}


