<footer class="footer">
  <div class="footer__block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2">
              <div class="btn-group dropup info">
                <button type="button" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="icon ion-ios-information-outline"></i>
                  <span>Informacion</span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li class="dropdown-triangle"></li>
                  <li><a href="{{ site_base }}/sobre_nosotros">Sobre Nosotros</a></li>
                  <li><a href="#">información de entrega</a></li>
                  <li><a href="#">Política de privacidad</a></li>
                  <li><a href="#">Terminos & Condiciones</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="btn-group dropup service">
                <button type="button" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="icon ion-ios-people-outline"></i>
                  <span>Información y reclamos</span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li class="dropdown-triangle"></li>
                  <li><a href="{{ site_base }}/contact">Contáctenos</a></li>
                  <li><a href="#">Devoluciones</a></li>
                  <li><a href="#">Mapa del sitio</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="btn-group dropup extra">
                <button type="button" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="icon ion-ios-flask-outline"></i>
                  <span>Extras</span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li class="dropdown-triangle"></li>
                  <li><a href="{{ site_base }}/marcas">Marcas</a></li>
                  <li><a href="#">Vales de Regalo</a></li>
                  <li><a href="#">Afiliados</a></li>
                  <li><a href="#">Promociones especiales</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="btn-group dropup user-account">
                <button type="button" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="icon ion-ios-person-outline"></i>
                  <span>Mi cuenta</span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li class="dropdown-triangle"></li>
                  <li><a href="{{ site_base }}/">Mi cuenta</a></li>
                  <li><a href="{{ site_base }}/historial_de_pedidos">Historial de pedidos</a></li>
                  <li><a href="#">Lista</a></li>
                  <li><a href="#">Boletín de noticias</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="btn-group dropup social">
                <button type="button" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="icon ion-ios-world-outline"></i>
                  <span>Social</span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li class="dropdown-triangle"></li>
                  <li><a href="https://www.facebook.com/">Facebook</a></li>
                  <li><a href="https://twitter.com/">Twitter</a></li>
                  <li><a href="https://www.pinterest.com/">Pinterest</a></li>
                  <li><a href="https://plus.google.com/">Google Plus</a></li>
                  <li><a href="https://github.com/">Github</a></li>
                  <li><a href="skype:******?call">Skype</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="btn-group dropup powered">
                <button type="button" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="icon ion-ios-bolt-outline"></i>
                  <span>Powered</span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li class="dropdown-triangle"></li>
                  <li><a href="http://themefiber.com/"></a></li>
                  <li><a href="http://opencart.com/"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    </footer>
