.jic {
    margin-bottom: 60px;
    font-size: 24px;
    color: rgba(85, 85, 85, 0.79);
    top: -35px;
    position: relative;
    margin-top: 34px;
    font-weight: 300;
    width: 75%;
    left: 0px;
}

.fin{
    margin-bottom: 88px;
    font-size: 24px;
    color: rgba(85, 85, 85, 0.79);
    top: 25px;
    position: relative;
    margin-top: -14px;
    font-weight: 300;
    left: -1px;
}

hr.vertical{
    position: absolute;
    border-left: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1px;
    height: 182px;
    right: 35px;
}

.img-detalle-prod{
    float: right;
    /*width: 27%;
*/   top: 0px;
    position: relative;
    left: 0px;
    object-fit: cover;
 /*   height: 304px;*/
}

.lis-pro{
    position: absolute;
    color: white;
    font-size: 48px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    bottom: 0px;
    padding-bottom: 57px;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 48px;

}

.carousel-inner.dos {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -74px;
}

.carousel.tres{
    height: 480px;
}

.en{
    margin-bottom: 110px;
    font-size: 24px;
    color: rgba(85, 85, 85, 0.79);
    top: -25px;
    position: relative;
    margin-top: 94px;
    font-weight: 300;
    width: 75%;
    left: -8px;
}

.img-1{
    /*width: 100%;*/
    height: 169px;
    margin-bottom: 25px;
    position: relative;
    object-fit: scale-down;
    left: -25px;
    margin-top: -80px;
    max-width: 250px;
}

.inf {
    position: relative;
    top: 18px;
    color: rgba(85, 85, 85, 0.92);
    font-size: 16px;
    font-weight: 700;
    left: 0px;
    height: 46px;
    margin-bottom: 224px;
    width: 75%;
    text-align: left;
}

.inf-mar{
    position: relative;
    top: 18px;
    color: rgba(85, 85, 85, 0.92);
    font-size: 17px;
    font-weight: 700;
    left: 0px;
    /*height: 178px;*/
    height: 186px;
/*    z-index: 1030;*/
    margin-bottom: -163px;   
    width: 75%;
    text-align: left;
}

.inf-rel{
    position: relative;
    top: -5px;
    color: rgba(66, 66, 66, 0.66);
    font-size: 17px;
    font-weight: 400;
    left: -43px;
    /* height: 178px; */
    height: 186px;
    /* z-index: 1030; */
    margin-bottom: -163px;
    width: 75%;
    text-align: left;
}

.up {
    height: 81px;
    position: relative;
    /* top: 18px; */
    text-align: left;
    left: -23px;
    font-size: 14px;
    width: 61%;
    /* margin-bottom: 29px; */
    font-weight: 500;
    color: #6F6F70;
    top: -200px;
}

.product-price{
   position: relative;
    left: 45px;
    font-size: 21px;
    top: -167px;
    font-weight: 700;
    text-align: left;
    color: gray;
    margin-bottom: 18px;
}

.btn-success.pro{
    background-color: #555;
    border-color: #555;
    border-radius: 0px;
    left: -39px;
    position: relative;
    margin-bottom: 29px;
    top: -156px;
    z-index: 1030;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    position: relative;
    left: -34px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -156px;
    z-index: 1030;
}


.btn-success.pro:hover{
    background-color:white;
    border-color: #555;
    border-radius: 0px;
    left: -39px;
    position: relative;
    margin-bottom: 29px;
    color:  #555;
    top: -156px;
    z-index: 1030;
}

.btn-success:hover {
    color: #5cb85c ;
    background-color: #fff;
    border-color: #4cae4c;
    position: relative;
    left: -34px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -156px;
    z-index: 1030;
}


.clearfix-fun{
    margin-top: 60px;
}

.box-4:hover .mask {
    opacity: 1;
    touch-action: auto !important;
}

.box-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 33%;
}

.box-4 .mask {
    position: absolute;
    background:rgba(45, 124, 193, 0.52);
    height: 100%;
    width: 92%;
    top: 0;
    opacity: 0;
}

.hover-recipe {
    font-size: 37px;
    color: #fff;
    line-height: 1em;
    top: 167px;
    position: relative;
    left: 0px;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 126px;
}


.box-4-4:hover .mask-4 {
    opacity: 1;
    touch-action:auto !important;
}

.box-4-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.box-4-4 .mask-4 {
    position: absolute;
    background:rgba(45, 124, 193, 0.52);
    height: 89%;
    width: 100%;
    top: 0;
    opacity: 0;
}


.hover-recipe-2 {
    font-size: 35px;
    color: #fff;
    line-height: 1em;
    top: 30px;
    position: relative;
    left: 0px;
    text-align: center;
    margin-bottom: -48px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 120px;
}

.box-4-4-4:hover .mask-4-4-4 {
    opacity: 1;
    touch-action:auto !important;
}

.box-4-4-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.box-4-4-4 .mask-4-4-4 {
    position: absolute;
    background:rgba(45, 124, 193, 0.52);
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
}

/*-------------Responsive----------*/

@media (max-width: 1199px){
    .box-4 .mask {
    height: 100%;
    width: 91%;
}

.hover-recipe-2 {
    top: 23px;
    left: 6px;
}

.btn-default.box-2 {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 100px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 53px;
}

.btn-default.box-2:hover{
    color: gray;
    background-color: white;
    border-color: white;
    top: 100px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 53px;
}

}

@media (max-width: 991px){
    .box-4 .mask {
    height: 96%;
    width: 96%;

}

.box-4-4-4 .mask-4-4-4 {
    height: 92%;
}
.box-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.hover-recipe {
    left: 111px;
    width: 67%;
    top: 160px;
    font-size: 31px;
}

.hover-recipe-2 {
    left: 109px;
    top: 18px;
    width: 69%;
    font-size: 31px;

}

.btn-default.box-2 {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 142px;
}

.btn-default.box-2:hover {
    color: gray;
    background-color:white;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 142px;
}

/*.img-detalle-prod {
    top: 25px;
    left: -111px;
}*/

.fin {

    left: 47px;
}

.lis-pro {
    position: absolute;
    color: white;
}

.img-detalle-prod {
    top: 25px;
    left: 0px;
    float: inherit;
}

}



@media (max-width: 767px){
    .carousel-inner.dos {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -90px;
}

.img_prod_little {
  left: 0px;
}

}

@media (max-width: 700px){
    .box-4 .mask {
    height: 96%;
    width:95%;
}

.hover-recipe {
    left: 67px;
    width: 81%;
}

.hover-recipe-2 {
    left: 110px;
}

}

@media (max-width: 650px){
    .img-detalle-prod {
    top: 25px;
    /*left: -75px;*/
}

}

@media (max-width: 640px){
.btn-default.box {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 101px;
}

.btn-default.box:hover {
    color: gray;
    background-color: white;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 101px;
}

.btn-default.box-2 {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 118px;
}

.btn-default.box-2:hover {
    color: gray;
    background-color: white;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 118px;
}

.hover-recipe-2 {
    left: 87px;
}

.hover-recipe {
    left: 57px;
}

}

@media (max-width: 600px){
    .img-detalle-prod {
    top: 25px;
    /*left: -45px;*/
}

}

@media (max-width: 590px){
    .btn-default.box-2 {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 104px;
}
.btn-default.box-2:hover {
    color: gray;
    background-color: white;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 104px;
}

.hover-recipe-2 {
    left: 72px;
}

.btn-default.box {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 88px;
}

.btn-default.box:hover {
    color: gray;
    background-color: white;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 88px;
}

.hover-recipe {
    left: 47px;
}

}

@media (max-width: 555px){
    hr.detail-sec {
    top: 730px;
}

}

@media (max-width: 530px){

    .btn-default.box {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 80px;
}

.btn-default.box:hover{
    color: gray;
    background-color: white;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 80px;
}

.btn-default.box-2 {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 92px;
}

.btn-default.box-2:hover {
    color: gray;
    background-color: white;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 92px;
}

}

@media (max-width: 520px){
    .lis-pro {
    top: 293px;
    font-size: 25px;
    line-height: 36px;
}

}

@media (max-width: 500px){
    .img-detalle-prod {
   /* top: -5px;*/
    left: 0px;
}

}

@media (max-width: 450px){
    .hover-recipe-2 {
    left: 56px;
}

.hover-recipe {
    left: 33px;
}

.btn-default.box {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 64px;
}
.btn-default.box:hover{
    color: gray;
    background-color:white;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 64px;
}

.box-4 .mask {
    height: 96%;
    width: 93%;
}

.btn-default.box-2 {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 75px;
}

.btn-default.box-2:hover {
    color: gray;
    background-color: white;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 75px;
}

}



@media screen and (max-width: 700px){
    .box-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.carousel-inner.dos {
    top: -137px;
}

.lis-pro {
    top: 293px;
    font-size: 30px;
}


}

@media (max-width: 490px){
        hr.detail-sec {
    top: 830px;
}

}

@media (max-width: 430px){
        hr.detail-sec {
    top: 860px;
}

}


@media (max-width: 425px){
    hr.detail-sec {
    top: 890px;
}

}


@media (max-width: 414px){
    hr.detail-sec {
    top: 909px;
}

.img-detalle-prod {
    /* top: -5px; */
    left: 0px;
    /*width: 100%;*/
    width: 75%;
}

.chi{
    left: 0px;
}

}


@media (max-width: 400px){
    .lis-pro {
    top: 293px;
    font-size: 20px;
}

}


@media (max-width: 375px){
    hr.detail-sec {
    top: 960px;
}

.inf-rel {
    position: relative;
    top: -5px;
    color: rgba(66, 66, 66, 0.66);
    font-size: 17px;
    font-weight: 400;
    left: -58px;
    /* height: 178px; */
    height: 186px;
    /* z-index: 1030; */
    margin-bottom: -163px;
    width: 75%;
    text-align: left;
}

}

@media (max-width: 360px){
hr.detail-sec {
    top: 960px;
}

}


@media (max-width: 320px){
    .box-4 .mask {
    height: 96%;
    width: 90%;
}

.btn-default.box-2 {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 55px;
}

.btn-default.box-2:hover {
    color: gray;
    background-color: white;
    border-color: white;
    top: 102px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 60%;
    height: 44px;
    font-size: 17px;
    left: 55px;
}

.img-detalle-prod {
    top: 23px;
    left: 0px;
    max-width: 301px;
    width: 83%;
}

.fin {
    width: 100%;
    left: 0px;
}

.inf-rel {
    left: 0px;
}

.btn-default.box {
    color: white;
    background-color: transparent;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 52px;
}

.btn-default.box:hover {
    color: gray;
    background-color: white;
    border-color: white;
    top: 321px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 3px solid white;
    border-radius: 0px;
    width: 64%;
    height: 44px;
    font-size: 17px;
    left: 52px;
}

.hover-recipe-2 {
    left: 44px;
    font-size: 26px;
}

.up {
    left: -17px;
}

.product-price {
    left: 35px;
}

.btn-success.pro {
    background-color: #555;
    border-color: #555;
    border-radius: 0px;
    left: -4px;
    position: relative;
    margin-bottom: 29px;
    top: -156px;
    z-index: 1030;
}

.btn-success.pro:hover {
    background-color: white;
    border-color: #555;
    border-radius: 0px;
    left: -4px;
    position: relative;
    margin-bottom: 29px;
    top: -156px;
    z-index: 1030;
    color: gray
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    position: relative;
    left: -3px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -156px;
    z-index: 1030;
}

.btn-success:hover {
    color:  #5cb85c;
    background-color: #fff;
    border-color: #4cae4c;
    position: relative;
    left: -3px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -156px;
    z-index: 1030;
}

.img-1 {
    left: 0px;
}

hr.detail-sec {
    top: 1053px;
}


}


