
<script type="text/template" id="product_template" class="hidden">
   <div class="clearfix-dos"> </div>
          <div class="col-md-6 col-sm-6 col-xs-12 art-hi">
             <div alig="center">
             <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
             <div class="fufi">
                 <img src="{{! images[0]['thumb_500'] }}" alt="" class="img-responsive img-pro" >
             <div class="overlay">
                   <div class="text">VER</div>
             </div>
              <p class="inf">{{! name }}</p>
             </a>
              </div>
          </div>           
</script>
