{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% if is_admin %} 
{% set editabletext = 'editabletext' %} 
{% else %} 
{% set editabletext = '' %} 
{% end %}
{% include '../home/header.html' %}
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{site_base}}/static/js/script.js"></script>
<script>
  jQuery(document).ready(function(){
    jQuery('.menulist').toggle();
    jQuery('#hideshow').on('click', function(event) {
      event.preventDefault();
      jQuery('.menulist').toggle('hidde');
    });
  });
</script>
{% end %}

{% block css%}
<link rel="stylesheet" href="{{site_base}}/static/css/style.css" >
<link rel="stylesheet" href="{{site_base}}/static/css/responsive.css" >
{% end %}

{% block body %}
<div class="container">
<div class="clearfix" style="height: 40px"></div>
  <div class="row">
    <div class="col-md-12 col-lg-12 ">
      <div class="col-md-offset-2">
        <div class="banner-below-text text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_banner_articulos' }}">{{ read_text(site.name +  'text_banner_articulos') }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 space">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-10 col-lg-10 right">
        {{ getArticleList(tag="articulo") }}
      </div>
    </div>
  </div>
  <!-- <div class="row">
    {{ getArticleList(tag="articulo") }}
  </div> -->
</div>
{% include ../home/footer.html %}
{% end %}
