{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="{{ site_base }}/static/css/main.css">
    <link rel="stylesheet" href="{{ site_base }}/static/css/header.css">
    <link rel="stylesheet" href="{{ site_base }}/static/css/footer.css">
{% end %}

{% block javascript %}
    <script type="text/javascript" src="{{ site_base }}/static/js/cart2.config.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            var hyper = Utils.getUrlParameter('tag');
            hyper = hyper.replace("_"," ");
            $(".lista-titulo").html(hyper);
        });
    </script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<section class="container lista">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="lista-titulo lista-titulo-alt"></h3>
            <div class="products">
            </div>
        </div>
    </div>
</section>


{% include '../home/footer.html' %}

{% end %}