hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(153, 153, 153, 0.38);
    width:99%;
}

.ul-1{
     font-size: 27px;
    color: #555;
    font-weight: 400;
    width: 110%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas{
	font-weight: 600;
    font-size: 16px;
    color: gray;
}

.inform-comerc{
    width: 100%;
    position: relative;
    left: 83px;
    z-index: 1030;
}


.inform-comerc-2{
	margin-left: 22px;
	width: 100%;
    height: 100%;
}

.ul-2{
	font-weight: 600;
    color: gray;
    font-size: 16px;
    text-align: right;
    overflow: hidden;
}

.pas-2{
	text-align: right;
	margin-left: -3px;
    width: 100%;
    color: gray;
    font-size: 15px;

}

.pas-3{
    margin-left: 4px;
    width: 100%;
    text-align: right;
    font-size: 15px;
    color: gray;
}

.pas-4{
	  color: gray;
    font-size: 15px;
    text-align: right;
}

.d-o{

}

.no-dot {
    position: relative;
    left: -16px;
    /* width: 118%; */
    margin-bottom: 45px;
    height:100%;
    overflow: hidden;
    /* display: table-cell; */
    padding: 4px;
}

.no-doti{
    position: relative;
    left: -27px;
    width: 132%;
    margin-bottom: 45px;
    height: 200px;
    overflow: hidden;
}

a.a-footer{
  color: #428bca;
}

/*----------------------------------------------Responsive-----------------------------------*/
@media (max-width: 1271px){
.no-dot {
    position: relative;
    left: -27px;
    width: 103%;
}

.no-doti {
    position: relative;
    left: -36px;
    width: 144%;
}


}


@media (max-width: 1147px){
.inform-comerc {
    width: 100%;
    position: relative;
    left: 56px;
}

}

@media (max-width: 1110px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 132%;
}

}

@media (max-width: 1060px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 135%;
}

}


@media (max-width: 1038px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 140%;
}

}


@media (max-width: 1000px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 155%;
}

}

@media (max-width: 991px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 130%;
}

}


@media (max-width: 886px){
  .d-o {
    margin-left: 13px;
}


   .inform-comerc {
    width: 100%;
    position: relative;
    left: 62px;
    z-index: 2000000;
}

}


@media (max-width: 767px){
.inform-comerc {
    width: 100%;
    position: relative;
    left: 83px;
    z-index: 2000000;
}

.inform-comerc-2 {
    margin-left: 80px;
    width: 100%;
    height: 100px;
}

.d-o {
    margin-right: -386px;
    position: relative;
    margin-left: 319px;
    width: 109%;
    top: 127px;
    /* left: 338px; */
}

.no-dot{
   margin-bottom: -31px;
}

}


@media (max-width: 759px){
.d-o {
    margin-right: 6px;
    position: relative;
}

}

/*@media (max-width: 750px){
.d-o {
    margin-right: 0px;
    position: relative;
    margin-left: 239px;
}

}*/

@media (max-width: 730px){
.d-o {
    margin-right: 6px;
    position: relative;
    margin-left: 302px;
}

}

@media (max-width: 715px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 144%;
}

}

@media screen and (max-width: 700px){
.d-o {
    margin-right: 6px;
    position: relative;
    margin-left: 295px;
}

.no-doti {
    position: relative;
    left: -36px;
    width: 151%;
}

}

@media (max-width: 675px){
.d-o {
    margin-right: 0px;
    position: relative;
    margin-left: 339px;
}

}


@media (max-width: 672px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 156%;
}

}

@media (max-width: 655px){
    .ul-1 {
    font-size: 23px;
}

}

@media (max-width: 650px){
.d-o {
    margin-right: 6px;
    position: relative;
    margin-left: 282px;
}

}

@media (max-width: 632px){
    .pas {
    font-weight: 600;
    font-size: 13px;
    color: gray;
}

.no-doti {
    position: relative;
    left: -36px;
    width: 155%;
    /* background-color: white; */
}

}

@media (max-width: 620px){
.d-o {
    margin-right: 6px;
    position: relative;
    margin-left: 271px;
}

}

@media (max-width: 590px){
.d-o {
    margin-right: 6px;
    position: relative;
    margin-left: 261px;
}

/*.inform-comerc {
    width: 100%;
    position: relative;
    left: 40px;
    z-index: 2000000;
}

.inform-comerc-2 {
    margin-left: 35px;
    width: 100%;
}
*/
}

@media (max-width: 560px){
.d-o {
    margin-right: 6px;
    position: relative;
    margin-left: 249px;
}

}

@media (max-width: 535px){

.no-doti {
    position: relative;
    left: -36px;
   /* width: 160%;*/
    /* background-color: white; */
}

}

@media (max-width: 520px){
.d-o {
    margin-right: 6px;
    position: relative;
    margin-left: 233px;
}

}
/*
@media (max-width: 505px){
 .d-o {
    margin-right: 6px;
    position: relative;
    margin-left: 38px;
}


}*/

@media (max-width: 517px){
    .pas {
    font-weight: 600;
    font-size: 11px;
    color: gray;
}

}

@media (max-width: 480px){

.inform-comerc {
    width: 100%;
    position: relative;
    left: 68px;
    z-index: -1;
}

.inform-comerc-2 {
    margin-left: 59px;
    width: 100%;
}

.d-o {
    margin-right: 0px;
    position: relative;
    margin-left: 209px;
}

.ul-1 {
    font-size: 20px;
    color: #555;
    font-weight: 300;
    width: 119%;
}

.pas {
    font-weight: 600;
    font-size: 11px;
    color: gray;
}

.no-doti {
    width: 177%;
}

.ul-1 {
    font-size: 16px;
}

}

@media (max-width: 440px){
.d-o {
    margin-right: -206px;
    position: relative;
    margin-left: 198px;
}

}


@media (max-width: 420px){

	.d-o {
    margin-right: -199px;
    position: relative;
    margin-left: 196px;
}

}

@media (max-width: 414px){
  .fot{
  	   margin-left: -38px;
  }

  .no-dot {
    position: relative;
    left: -10px;
    width: 100%;
}

.no-doti {
    position: relative;
    left: -10px;
    width: 155%;
}

.d-o {
    top: 145px;
}


.inform-comerc {
    width: 100%;
    position: relative;
    left: 56px;
    z-index: -1;
}

}

@media (max-width: 412px){
  .fot{
  	   margin-left: -29px;
  }

  .no-dot {
    position: relative;
    left: -15px;
    width: 102%;
}

.no-doti {
    position: relative;
    left: -15px;
    width: 150%;
}

}

@media (max-width: 410px){
.pas-3 {
    font-size: 12px;
}

.pas-2 {
    font-size: 12px;
}

.pas-4 {
    font-size: 12px;
}

.d-o {
    margin-right: -64px;
    position: relative;
    top: 104px;
}


}

@media (max-width: 400px){
.fot{
	    margin-left: -32px;
}


.no-dot {
    position: relative;
    left: -15px;
    width: 109%;
}

.no-doti {
    position: relative;
    left: -15px;
    width: 150%;
}

.d-o {
    margin-right: -190px;
    position: relative;
    top: 120px;
}

}

@media (max-width: 386px){
    .no-doti {
    position: relative;
    left: -15px;
    width: 160%;
}

}

@media (max-width: 380px){
    .d-o {
/*    margin-right: -199px;
    position: relative;*/
    margin-left: 187px;
    top: 101px;
}

}

@media (max-width: 375px){
.inform-comerc {
    width: 100%;
    position: relative;
    left: 52px;
}

.inform-comerc-2 {
    margin-left: 47px;
    width: 100%;
}

.d-o {
    margin-right: -199px;
    position: relative;
    margin-left: 173px;
    top:96px;
}
.no-doti {
    position: relative;
    left: -15px;
    width: 180%;
}

}

@media (max-width:  360px){
.inform-comerc {
    width: 100%;
    position: relative;
    left: 57px;
}

.inform-comerc-2 {
    margin-left: 50px;
    width: 100%;
}

.d-o {
    margin-right: -174px;
    position: relative;
    margin-left: 171px;
}

.no-doti {
    position: relative;
    left: -15px;
    width: 187%;
}

}


@media (max-width: 320px){
	.d-o {
    margin-right: -160px;
    position: relative;
    margin-bottom: 31px;
    margin-left: 159px;
}

.ul-1 {
    font-size: 18px;
}

.d-o {
    top: 117px;
}

.no-doti {
    position: relative;
    left: -15px;
    width: 192%;
}

}
