
html * {
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/

}


html, body {
font-family: 'Lato', sans-serif;
overflow-x: hidden;
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

div.image-upload {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 200 !important;
}

div.image-upload.ho {
    top: 210px;
}

img.editablelink {
    z-index: 200 !important;
}

div.image-upload {
    z-index: 1030 !important;
}

a{
    color: gray;
}

a:hover{
    color: white;
    background-color: transparent;
}

a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

li{
	list-style: none;
}

.controls input, .controls textarea {
    padding: 0px 0px !important;
}

.titulo-about-2 {
    margin-top: 11px;
    position: absolute;
    margin-bottom: 0px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    width:95%;
    text-align: center;
    bottom: 59px;
}

/*.titulo-about-3 {
 padding-left: 25px;
 padding-right: 25px;
 margin-bottom: 20px;
color: white;
}
*/
hr.page-contact {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(153, 153, 153, 0.38);
    width: 100%;
    position: relative;
    left: 0px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.text-banner-one {
    position: absolute;
    bottom: 0px;
    width: 97%;
    color: white;
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.volver {
    float: left !important;
    background: rgba(119, 119, 119, 0.43) !important;
    font-size: 15px !important;
    padding: 15px 11px !important;
    color: gray !important;
    font-weight: 600 !important;
    height: 51px;
    width: 31%;
    cursor: pointer;
}

.texto-introduccion {
    font-size: 26px;
    font-weight: 300;
    color: gray;
    margin-top: 47px;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-home{
	width: 100%;
	height: 400px;
	object-fit:cover;
    filter: grayscale(0%) brightness(100%);
    -webkit-filter: grayscale(0%) brightness(100%);
    -moz-filter: grayscale(0%) brightness(100%);
    -ms-filter: grayscale(0%) brightness(100%);
    -o-filter: grayscale(0%) brightness(100%);
}

.box-pa{
	padding: 0px 7px;
	overflow: hidden;
	margin-bottom: 17px;
}

.text-box-home {
    position: absolute;
    bottom: 0px;
    width: 97%;
    color: white;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.fondo-form {
    width: 100%;
    object-fit: cover !important;
    height: 450px;
    filter: grayscale(0%) brightness(100%);
    -webkit-filter: grayscale(0%) brightness(100%);
    -moz-filter: grayscale(0%) brightness(100%);
    -ms-filter: grayscale(0%) brightness(100%);
    -o-filter: grayscale(0%) brightness(100%);
    margin-top: -72px;
}

.form-control:focus {
    border-color: rgba(128, 128, 128, 0.42);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
}

.align-form-contact {
/*    margin-left: auto;
    margin-right: auto;
    padding-left: 503px;
    margin-top: 30px;
    padding-right: 0px;
    padding-bottom: 20px;*/
}

.fondo-contact {
/*    width: 100%;
    height: auto;*/
}

.input-lg, .form-horizontal .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom: 1px solid #ccc;
}

.btn-block.contact {
    display: block;
    width: 100%;
    border-radius: 0px;
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 70px;
}

.titulo-negrita {
    margin-bottom: 15px;
}

.titulo-claro{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    line-height: 7px;
    margin-top: -8px;
    margin-bottom: 28px;
}

.titulo-about {
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 52px;
    width: 100%;
    padding-bottom: 108px;
    font-weight: 300;
}

.more-products {
    background-color: white;
    border-color: #555;
    border-radius: 0px;
    /* left: -39px; */
    position: relative;
    /* margin-bottom: 29px; */
    color: #555;
    top:0px;
    z-index: 1;
    font-weight: 300;
}


.margen{
    margin-left: 5%;
}

.menu{
    width: 100%;
    margin-left: 0px;
}

.menu-header{
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

/*------------------------------------Responsive----------------------*/
@media (max-width: 991px){
    .align-form-contact {
    padding-left: 0px;
    padding-right: 0px;
}
}



@media (max-width: 918px){
  .img-mobile{
  	    margin-top: -124px !important;
  }

}

@media (max-width: 767px){
    .align-form-contact {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 40px;
}

.titulo-about-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.titulo-about-3 {
 padding-left: 10px;
 padding-right: 10px;
}

}


@media (max-width: 700px){
	.texto-introduccion {
    width: 100%;
}

}

