hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(153, 153, 153, 0.38);
    width:99%;
}
.no-dot>li>a
{
    color: #808080;
}

.no-dot>li>a:hover
{
    text-decoration: none;
    color:#555;
}
.no-dot>li>a:focus {
    outline:none;
    outline:none;
    outline-offset: -2px;
}


.caja-logo-footer{
    height: 100%;
    width: 155px;
}
.logo-footer
{
    max-width: 300px;
    max-height: 100px;
    object-fit: contain;
    position: relative;
    z-index: 2;
   right: 0px;
    top: 0px;
}
.ul-1{
     font-size: 27px;
    color: #555;
    font-weight: 400;
    width: 110%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pas{
    font-weight: 600;
    font-size: 16px;
    color: gray;
}

.inform-comerc{
    width: 100%;
    position: relative;
    z-index: 1030;
}


.inform-comerc-2{
    width: 100%;
    height: 100%;
}

.ul-2{
    font-weight: 600;
    color: gray;
    font-size: 16px;
    text-align: right;
    overflow: hidden;
}

.pas-2{
    text-align: right;
    margin-left: -3px;
    width: 100%;
    color: gray;
    font-size: 15px;

}

.pas-3{
    margin-left: 4px;
    width: 100%;
    text-align: right;
    font-size: 15px;
    color: gray;
}

.pas-4{
      color: gray;
    font-size: 15px;
    text-align: right;
}

.d-o{

}

.no-dot {
    position: relative;
    left: -16px;
    /* width: 118%; */
    /*margin-bottom: 45px; */
    height:100%;
    overflow: hidden;
    /* display: table-cell; */
    padding: 4px;
}

.no-doti{
    position: relative;
    left: -27px;
    width: 132%;
    margin-bottom: 45px;
    height: 200px;
    overflow: hidden;
}

a.a-footer{
  color: #428bca;
}

.img-tel{
    width: 30px;
    position: relative;
    bottom: 2px;
}
.caja_footer{
    position: relative;
    display: inline-flex;
    max-width: 150px;
    padding: 13px 1%;
}
.caja_datos{

    position: relative;
    max-width: 300px;
    float: right;
    /* left: 65%; */
    top: 8px;
}
.footer_gral{

    margin-top: 3%;
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #808080;
}
/*----------------------------------------------Responsive-----------------------------------*/
@media (max-width: 1271px){
    .no-dot {
        position: relative;
        left: -27px;
        width: 103%;
    }
    .no-doti {
        position: relative;
        left: -36px;
        width: 144%;
    }
}


@media (max-width: 1147px){
    .inform-comerc {
        width: 100%;
        position: relative;
        left: 56px;
    }
}

@media (max-width: 1110px){
        .no-doti {
        position: relative;
        left: -36px;
        width: 132%;
    }

}

@media (max-width: 1060px){
    .no-doti {
        position: relative;
        left: -36px;
        width: 135%;
    }

}


@media (max-width: 1038px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 140%;
}

}


@media (max-width: 1000px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 155%;
}

}

@media (max-width: 991px){
    .no-doti {
    position: relative;
    left: -36px;
    width: 130%;
}

}


@media (max-width: 886px){
    .d-o {
        margin-left: 13px;
    }
    .inform-comerc {
        width: 100%;
        position: relative;
        left: 62px;
        z-index: 2000000;
    }

}

@media (max-width: 768px){
    .caja_footer
    {
        max-width: 100%;
        padding:0px;
        height: 35px;
    }
    .ul-2 {
        text-align: left;
    }
    .caja-logo-footer 
    {
    position: relative;
    left: 2%;
    margin-bottom: 10%;
    }
    .caja_datos 
    {
        float: left;
        left: 8%;
    }

    .no-dot 
    {
        position: relative;
        left: -27px;
        width: 95%;
        text-align: left;
    }
    .pas-3 
    {
        margin-left: 0px;
        text-align: left;
    }
    .pas-4 
    {
    text-align: left;
    }
}


@media (max-width: 420px){
    .caja_datos {
    float: left;
    left: 15%;
    }
    .inform-comerc {
        left: 15%;
    }

}

@media (max-width: 320px){
    .caja_datos {
        float: left;
        left: 12%;
    }
    .inform-comerc {
    left: 12%;
    }
    .caja-logo-footer {
        left: -3%;
        }
}
