#sidebar-wrapper {
  position: absolute;
  z-index: 1000;
  left: -310px;
 /* overflow-y: auto;*/
  width: 250px;
  height: 640px;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -ms-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  transform: translateX(250px);
  background: rgba(34, 34, 34, 0.64);
}

.sidebar-nav {
  position: absolute;
  top: 180px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  font-weight: bold;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, .2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  font-size: 18px;
  line-height: 55px;
  height: 55px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
    position: absolute;
    z-index: 111111;
    top: 0;
    right: -58px;
    color: white;
    font-size: 20px;
}

#sidebar-wrapper.active {
  left: -557px;
  width: 250px;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -ms-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.toggle {
    position: relative;
    font-size: 1em;
    margin: 5px 5px 0 0;
    padding: 15px 20px;
    
}

.btn:active, .btn.active{
  -webkit-box-shadow:none;
  box-shadow:none;
}
.fa-times{
    position: absolute;
    color: white;
    font-size: 19px;
}
.fa-times:hover, .fa-times:focus {
    color: rgba(255, 255, 255, 0.49);
    text-decoration: none;
    }

#menu-toggle:hover, #menu-toggle:focus {
    color: rgba(255, 255, 255, 0.49);
    text-decoration: none;
    }
.lapizeditable{
    position: relative;
    right: 35px;
}
.logo
{
    max-width: 200px;
    max-height: 100px;
    object-fit: contain;
    position: relative;
    z-index: 2;
    top: 15px;
}
.menu-ul-list {
  position: relative;
}
.logo_wrapper{

    position: absolute;
    z-index: 111111111;
    left: -45px;
}

.texto-header{
    position: absolute;
    /* left: 12px; */
    height: 242px;
    bottom: -70px;
    width: 215px;
    color: #a5a6ac;
    font-weight: bold;
    overflow: hidden;
    font-size: 1.4rem;
}
/*----------------------------------------------Responsive-----------------------------------*/
@media (max-width: 1271px){

}


@media (max-width: 1147px){

}

@media (max-width: 1110px){

}

@media (max-width: 1060px){

}


@media (max-width: 1038px){
#sidebar-wrapper {
    left: -280px;
  }
  .logo_wrapper {
   left: -15px;
  }
  #menu-toggle {
    right: -40px;
  }
}


@media (max-width: 1000px){

}

@media (max-width: 991px){

}


@media (max-width: 886px){

}

@media (max-width: 768px){
  .logo_wrapper{
    left: 15px;
  }
  .list-art-home {
      margin: 15% 0;
  }
  .bajada>p>span {
    font-size: 2rem !important;
  }
  .bajada>p {
    font-size: 2rem !important;
  }
  #sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    left: -510px;
  /*  overflow-y: auto;*/
    width: 250px;
    height: 100%;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    transform: translateX(250px);
    background: rgba(34, 34, 34, 0.64);
  }
  #sidebar-wrapper.active {
    left: -250px;
    width: 250px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }
  .banner-home-1 {
      right: 30px;
    }
    #menu-toggle {
      right: -20px;
  }
  .lef {
      position: relative;
      top: 0 !important;
  }
}

@media (max-width: 767px){
  .logo_wrapper{
    left: 15px;
  }
  .list-art-home {
      margin: 15% 0;
  }
  .bajada>p>span {
    font-size: 2rem !important;
  }
  .bajada>p {
    font-size: 2rem !important;
  }
  #sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    left: -510px;
    /*overflow-y: auto;*/
    width: 250px;
    height: 100%;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    transform: translateX(250px);
    background: rgba(34, 34, 34, 0.64);
  }#sidebar-wrapper.active {
    left: -250px;
    width: 250px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }
  .banner-home-1 {
      right: 30px;
    }
    #menu-toggle {
      right: -20px;
  }
  .lef {
      position: relative;
      top: 0 !important;
  }
}

@media (max-width: 480px){
  .banner-home-1 {
      right: 21px;
    }
}


@media (max-width: 375px){
  .logo_wrapper{
    left: 15px;
  }
  .list-art-home {
      margin: 15% 0;
  }
  .bajada>p>span {
    font-size: 2rem !important;
  }
  .bajada>p {
    font-size: 2rem !important;
  }
  #sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    left: -510px;
    /*overflow-y: auto;*/
    width: 250px;
    height: 100%;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    transform: translateX(250px);
    background: rgba(34, 34, 34, 0.64);
  }#sidebar-wrapper.active {
    left: -250px;
    width: 250px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }
    #menu-toggle {
      right: -20px;
  }
  .list-art-home {
      margin: 15% 0;
  }
  .lef {
      position: relative;
     top: 0 !important;
  }
}

@media (max-width: 320px){
  .logo_wrapper{
    left: 15px;
  }
  .lef {
      position: relative;
      top: 0 !important; 
  }
  .list-art-home {
      margin: 15% 0;
  }
  .bajada>p>span {
    font-size: 2rem !important;
  }
  .bajada>p {
    font-size: 2rem !important;
  }
  #sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    left: -510px;
    /*overflow-y: auto;*/
    width: 250px;
    height: 100%;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    transform: translateX(250px);
    background: rgba(34, 34, 34, 0.64);
  }#sidebar-wrapper.active {
    left: -250px;
    width: 250px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }

    #menu-toggle {
      right: -20px;
  }

}