
html * 
{
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/

}

html, body 
{
/*font-family: 'Open Sans', sans-serif;*/
font-family: 'Oxygen', sans-serif;
overflow-x:hidden;
min-height: 600px;
}
a
{
    color: gray;
}

a:hover
{
    text-decoration: none;
    color:#484848;
}
a:focus {
    outline:none;
    outline:none;
    outline-offset: -2px;
}
a:hover, a:focus {
    color: transparent;
    text-decoration: none;
}
li
{
	list-style: none;
}
div.upload input, div.image-upload input{
    width: 100%;
}
.mg-5
{
    margin-top: 5%;
}
.caja-logo
{
    width: 155px;
    height: 250px;
}
.banner-home-1
{
    width: 113%;
    height: 640px;
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0 !important;
    position: relative;
    right: 73px;
}
.banner-home-2
{
	width: 100%;
    height: 550px;
    object-fit: cover;
    position: relative;
   
}
.banner-home-3
{
    width: 113%;
    height: 640px;
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0 !important;
    position: relative;
    right: 73px !important;
}
.texto-one
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color:#c4c9c8;
    margin: 10%;
}
.service-banner-home
{
	position: absolute;
	width: 100%;
    top: 10%;
    color:#fff;
}
.img-service-home
{
	position: relative;
	width: 100%;

}
.texto-banner
{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color:#fff;
    height: 100%;
    width: 100%;
    position:absolute;
    bottom: 0;
}
.texto-team
{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color:#fff;
    height: 100%;
    width: 100%;
    position:absolute;
    top:100px;
}
.texto-team2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color:#fff;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 240px;
}
.fondo-only 
{ 
    width: 113%;
    height: 550px;
    object-fit: cover;
    margin-top: -51px;
    filter: grayscale(0%) brightness(50%);
    -webkit-filter: grayscale(0%) brightness(50%);
    -moz-filter: grayscale(0%) brightness(50%);
    -ms-filter: grayscale(0%) brightness(50%);
    -o-filter: grayscale(0%) brightness(50%);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0 !important;
    position: relative;
    right: 73px;
    top: 51px;
}
/*------ S E R V I C E ---------*/
.tittle-service-home
{
    position: relative;
    z-index: 222;
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    color:#fff;
}
.nombre-servicios-home{
    display: inherit;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}
.productos-servicios-home{
    margin-top: 1%; 
    display: inline-block; 
    height: 110px;"
}
.img-banners-home
{
    max-width: 1265px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: red;
}
.list-service
{
    position: relative;
    top: 92px;
    ;
    font-size: 2.5rem;
    font-weight: bold;
    /* width: 89%; */
    /* margin-left: 29px; */
}
.list-service-ul
{

    max-width: 104%;
    /* margin-right: 113px; */
}
.text-limit-ul
{
    height: 76px;
    overflow: hidden;
}
/*------ A R T I C L E S ---------*/
.vermasbtn
{
    font-weight: bold;
    color: #8e8b8b;
}
.btn-right
{

    float: left;
    left: 73%;
}
.vermasbtn:focus, .vermasbtn:hover, .vermasbtn:active 
{
    outline: none;
    outline: none;
    outline-offset: -2px;
    color:#545252;
    text-decoration: none;
}
/* contact*/
.titlecontact2{
    position: relative;
    color: white;
    font-size: 2rem;
    height: 100%;
}

}
.subtitle-contact{
    color: white;
    text-align: left;
    left: 30px;
    position: relative;
}

.txt-contact{
    overflow: hidden;
    position: absolute;
    top: 415px;
    color: white;
    text-align: left;
    left: 38px;
    font-size: 35px;
    font-weight: 700;
    height: 100px;

}
input, textarea{
    border-radius: 0 !important;
}
/*----------------------------------------Responsive---------------------------*/

@media (max-width: 1200px){
    
}

@media (max-width: 991px){
    

}

@media (max-width: 859px){
    

}

@media (max-width: 800px){
    

}
/*----------------------------------------------Responsive-----------------------------------*/
@media (max-width: 1271px){

}


@media (max-width: 1147px){

}

@media (max-width: 1110px){

}

@media (max-width: 1060px){

}


@media (max-width: 1038px){

}


@media (max-width: 1000px){

}

@media (max-width: 991px){

}


@media (max-width: 886px){

}

@media (max-width: 768px){
    .titulo {
   font-size: 3rem !important;
}
.bajada {
    font-size: 2rem;
    margin-top: 20px;
    }
    .list-art-home {
    margin: 10% 0;
}.texto-team2 {
    font-size: 2rem;
}
.texto-team {
    font-size: 2rem !important;
    }
.nombre-servicios-home {
    /* display: inherit; */
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}
.productos-servicios-home {
    display: inline-block;
    height: 50px;
}
.list-service {
    top: 60px;
}
.tittle-service-home {
    font-size: 3rem;
}
}

@media (max-width: 767px){
    .titulo {
   font-size: 3rem !important;
}
.bajada {
    font-size: 2rem;
    margin-top: 20px;
    }
    .list-art-home {
    margin: 10% 0;
}.texto-team2 {
    font-size: 2rem;
}
.texto-team {
    font-size: 2rem !important;
    }
.nombre-servicios-home {
    /* display: inherit; */
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}
.productos-servicios-home {
    display: inline-block;
    height: 50px;
}
.service-banner-home {
    position: absolute;
    width: 92%;
    top: 3%;
    color: #fff;
}
.productos-servicios-home {
    display: inline-grid;
    height: 57px;
}
.col-md-12:nth-child(even)>.lef>.tres {
    right: 50px !important;
    text-align: left !important;
}
.col-md-12:nth-child(even)>.lef {
    text-align: left !important;
}
.banner-home-3 {
    right: 34px !important;
}
.texto-team2 {
    top: 120px;
}
.texto-team {
    top: 16px;
}
.texto-one {
    margin: 25% 0;
}
.list-service {
    top: 60px;
}
.tittle-service-home {
    font-size: 3rem;
}
}


@media (max-width: 375px){
    .titulo {
   font-size: 3rem !important;
}
.bajada {
    font-size: 2rem;
    margin-top: 20px;
    }
    .list-art-home {
    margin: 10% 0;
}.texto-team2 {
    font-size: 2rem;
}
.texto-team {
    font-size: 2rem !important;
    }
.nombre-servicios-home {
    /* display: inherit; */
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}
.productos-servicios-home {
    display: inline-block;
    height: 50px;
}
.service-banner-home {
    position: absolute;
    width: 92%;
    top: 3%;
    color: #fff;
}
.productos-servicios-home {
    display: inline-grid;
    height: 57px;
}
.col-md-12:nth-child(even)>.lef>.tres {
    right: 50px !important;
    text-align: left !important;
}
.col-md-12:nth-child(even)>.lef {
    text-align: left !important;
}
.banner-home-3 {
    right: 34px !important;
}
.texto-team2 {
    top: 120px;
}
.texto-team {
    top: 16px;
}
.texto-one {
    margin: 25% 0;
}
.list-service {
    top: 60px;
}
.tittle-service-home {
    font-size: 3rem;
}
}

@media (max-width: 320px){
    .titulo {
   font-size: 3rem !important;
}
.bajada {
    font-size: 2rem;
    margin-top: 20px;
    }
    .list-art-home {
    margin: 10% 0;
}.texto-team2 {
    font-size: 2rem;
}
.texto-team {
    font-size: 2rem !important;
    }
.nombre-servicios-home {
    /* display: inherit; */
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}
.productos-servicios-home {
    display: inline-block;
    height: 50px;
}
.service-banner-home {
    position: absolute;
    width: 92%;
    top: 3%;
    color: #fff;
}
.productos-servicios-home {
    display: inline-grid;
    height: 57px;
}
.col-md-12:nth-child(even)>.lef>.tres {
    right: 50px !important;
    text-align: left !important;
}
.col-md-12:nth-child(even)>.lef {
    text-align: left !important;
}
.banner-home-3 {
    right: 34px !important;
}
.texto-team2 {
    top: 120px;
}
.texto-team {
    top: 16px;
}
.texto-one {
    margin: 25% 0;
}
.list-service {
    top: 60px;
}
.tittle-service-home {
    font-size: 3rem;
}
}
@media all and (max-width: 992px){
    
}


@media all and (max-width: 700px){

}

