<script type="text/x-template" id="shopping-cart-product">
<tr>
	<td class="vert-align text-left">{{! name }}</td>
	<td class="vert-align money">{{! price }}</td>
	<td class="text-center vert-align">
        <a href="#!" class="remove-one" lp-cart-remove-one="{{! id }}" product-id="{{! id }}">-</a>
		{{! quantity }}
        <a href="#!" class="add-one" lp-cart-add-one="{{! id }}" product-id="{{! id }}">+</a>
	</td>
	<td class="text-center vert-align"><a class="borrarproducto" cart-id=""><i class="icon-close"></i></a></td>
</tr>
</script>
<script type="text/x-template" id="shopping-cart-total" >
<tr>
	<th colspan="3" class="text-center">Resumen Pedido</th>
</tr>
</thead>
<tr>
	<td>Total:</td>	
	<td id="total" class="text-right money">{{! total|money }} </td>
	<td></td>
</tr>
</script>
<script type="text/x-template" id="shopping-cart-units-total" >
    <span> {{! upp_total }} </span>
</script>
<script type="text/x-template" id="shopping-cart-checkout-form" >
<form action="{{! checkout_url}}" method="get" novalidate id="shipping-form" class="myform">
	<input name="site_id" class="form-control required" type="hidden" value="3">
	<input name="cart_id" class="form-control required" type="hidden" value="{{! cart_id }}">
	<div class="form-group text-center">
		<button type="submit" class="btn" style="
    background-color: rgba(0, 0, 0, 0.24);">Pagar</button>
	</div>
</form>
</script>

<div class="container-fluid cart-list" ng-controller="">
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Precio</th>
						<th class="text-center">Cant</th>
						<th class="text-right"></th>
					</tr>
				</thead>
				<tbody class="shopping-cart">
				</tbody>
			</table>
			<div class="checkout-form"></div>
		</div>
	</div>
</div>
