/*=======MARGIN CLASSES========*/
.space5{
    margin-top: 5px !important;
}
.space10{
    margin-top: 10px !important;
}
.space15{
    margin-top: 15px;
}
.space17{
    margin-top: 17px;
}
.space20{
    margin-top: 20px;
}
.space25{
    margin-top: 25px;
}
.space30{
    margin-top: 30px;
}
.space33{
    margin-top: 33px;
}
.space40{
    margin-top: 40px;
}
.space45{
    margin-top: 45px;
}
.space50{
    margin-top: 50px;
}
.space60{
    margin-top: 60px;
}
.space70{
    margin-top: 70px;
}
.space75{
    margin-top: 75px;
}
.space80{
    margin-top: 80px;
}
.space90{
    margin-top: 90px;
}
.space100{
    margin-top: 100px;
}
.space128{
    margin-top: 128px;
}
.space130{
    margin-top: 130px;
}
.space135{
    margin-top: 135px;
}
.space148{
    margin-top: 148px;
}
.space150{
    margin-top: 150px;
}

.space160{
    margin-top: 160px;
}
.space170{
    margin-top: 170px;
}
.space180{
    margin-top: 180px;
}
.space200{
    margin-top: 200px;
}
.space240{
    margin-top: 240px;
}
.space277{
    margin-top: 277px;
}
.space372{
    margin-top: 372px;
}
.space390{
    margin-top: 390px;
}
.mbtm7{
    margin-bottom: 7px;
}
.mbtm10{
    margin-bottom: 10px;
}
.mbtm20{
    margin-bottom: 20px;
}
.mbtm30{
    margin-bottom: 30px;
}
.mbtm40{
    margin-bottom: 40px;
}
.mbtm50{
    margin-bottom: 50px;
}
.mbtm60{
    margin-bottom: 60px;
}
.mbtm70{
    margin-bottom: 70px;
}
.mbtm80{
    margin-bottom: 80px;
}
.mbtm90{
    margin-bottom: 90px;
}
.mbtm100{
    margin-bottom: 100px;
}

.mbtm150{
    margin-bottom: 150px;
}
.m0{
    margin: 0;
}
.mbtm0{
    margin-bottom: 0px;
}
.mleft10{
    margin-left:10px;
}
.mright10{
    margin-right:10px;
}
.mright30{
    margin-right:30px;
}
.mauto{
    margin: 0px auto !important;
}
.mautomargin{
    margin: 40px auto !important;
}
.marginR{
    margin-right: 40px;
    text-align: center;
    margin-left: 35px;
}
.marginL{
    margin-left: 50px;
}
.margin-right{
    margin-right: 307px;
}
.marginL14{
    margin-left: 14%;
}
.mtop100{
    margin-top: -100px;
}
.border-btm{
    border-bottom: 1px solid #fff;
}

.height{
    height: 100px;
}

.height478{
    height: 478px;
}

.box-text {
    display: table;
    margin-left: auto;
    margin-right: auto;
    line-height: 100px;
}
/*========PADDING CLASSES========*/
.pad0{
    padding: 0px !important;
}
.pad10{
    padding: 10px !important;
}
.pad20{
    padding: 20px;
}
.pad30{
    padding: 30px;
}
.pad40{
    padding: 40px;
}
.pad50{
    padding: 50px;
}
.pad60{
    padding: 60px;
}
.pad70{
    padding: 70px;
}
.pad80{
    padding: 80px;
}
.pad90{
    padding: 90px;
}
.pad100{
    padding: 100px;
}
.padleft0{
    padding-left: 0px !important;
}
.padright0{
    padding-right: 0px !important;
}
.padtop0{
    padding-top: 0px !important;        
}
.padbottom0{
    padding-bottom: 0px !important;     
}
.padbottom100{
    padding-bottom: 100px !important;       
}
.padbottom60{
    padding-bottom: 60px !important;        
}

a:link {
    /*color: rgb(65, 81, 82);*/
    text-decoration: none;
}

html, body {
    height: 100%;
}

html{
    overflow-x: hidden;
    width: 100%;
}

*{
    font-family: 'Open Sans Condensed', sans-serif!important;
    box-sizing: border-box;
    margin: 0;
}
/******LISTADO DE PRODUCTOS******/
.h_detail_prod{
    height: 240px;
}

.text-title{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: rgba(104,118,119,1);
}
.subcateg {
    margin: 0;
    border: 0;
    font-size: 13px;
    text-align: center!important;
    color: #687677!important;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.subcateg:hover {
    border-bottom: dashed 1px rgba(0, 0, 0, 0.33);
}
.img_box{
    width: 100%;
    height: 200px;
    position: relative;
    
}

.img_product{
    width: 100%;
    height: 200px;
    object-fit:  scale-down;
}

.name{
    text-align: center;
    color: rgba(104,118,119,1);
    /*line-height: 30px;*/
    font-size: 20px;
    font-weight: 500;
}

.price{
    text-align:center;
    color: rgba(104,118,119,1);
    /*line-height: 40px;*/
    font-size: 20px;
    font-weight: 500;
}

.cart{
    text-align: center;
    color: rgba(104,118,119,1);
}

.btn-comprar {
    margin: 0;
    border: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center!important;
    color: #FFF;
    background-color: #687677;
    width: 83px;
    height: 40px;
}
.btn_comprado{
    color: white!important;
    background: rgba(169, 66, 107, 0.84)!important;
}

.btn-comprar:hover {
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
}
/******HOVER*****/

.mask {
    position: absolute;
    /*background: rgba(0,0,0,0.3);*/
    top: 0;
    opacity: 0;
    margin: 0 auto;
    display: table;
    width: 100%;
    height: 200px;
    right: 0;
    left: 0;
}

.img_box:hover .mask {
    opacity: 1;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}
.hover-recipe {
    font-size: 1.9rem;
    color: #687677;
    background: white;
    width: 130px;
    height: 60px;
    margin-top: 80px;
    border-radius: 1px;
    border: 0px;
}
/******DETALLE DE PRODUCTOS******/

.img_detail{
    width: 100% !important;
    height: 445px !important;
    object-fit:scale-down;
}

.box{
    width: 100%;
    height: 100%;
}

.image_little {
    display: inline;
    padding: 0px 10px;
    width: 100%;
    position: relative;
    float: right;
}

.little {
    width: 75px;
    height: 75px;
    object-fit: scale-down;
}

/**********/

.title-detail{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 29px;
    line-height: 70px;
    text-transform: none;
    /* margin-top: 30px; */
    font-weight: 100;
    /* border-bottom: 1px solid #EEEEEE; */
    padding: 0 0 20px;
    min-height: 67px;
}

.title_descrip_detail1 {
    font-size: 20px;
}

.descrip_detail1{
    font-size: 19px;
}
.price_detail{
    color: rgba(51, 51, 51, 0.88);
    font-size: 20px;
    vertical-align: text-bottom;
    line-height: 14px;
    margin-top: 30px;
}

.cart2{
    text-align: left;
    color: rgba(104,118,119,1);
    margin-top: 23px;
}

.btn_compra {
    background-color: #697677;
    border: 1px solid #697677;
    color: white;
    padding: 10px;
}
/******HEADER FIXED******/
#header-top {
    display: block !important;
}

#header-top {
    position: fixed;
    top: 0px;
    left: 22%;
    margin-left: 0;
    min-width: 73%;
    height: 50px;
    padding-top: 15px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    z-index: 9996;
    text-align: right;
}

/*CARRITO DE COMPRA*/
.simple-cart{
    color: rgba(51, 51, 51, 0.64)!important;
    letter-spacing: 1px;
     position: relative;  
}

.img_cart{
    width: 90px;
    height:90px;
}

.btn-enviar{
    float: right;
    border-radius: 0px;
    background-color: white;
    border: 1px solid black;
    width: 150px;
    height: 40px;
    color: black;
    /*margin-right: 20px;*/
}

.box_table{
    margin: 0 auto;
    margin-top: 15px;
}
.carrito_box{
    display: block;
}

.name-compra{
    padding: 15px;
    font-size: 15px;
}

.quantity-compra{
    padding: 15px;
    font-size: 15px;
    width: 70px;
}
.total_money{
    padding: 15px;
    font-size: 15px;
}

.tienda_volver{
    margin-left: 20px;
}

/*.padding_volver{
    padding: 40px;
}*/
/*DETALLE DE PRODUCTOS2*/

/*.img-contenedor img {
-webkit-transition:all .9s ease;
-moz-transition:all .9s ease;
-o-transition:all .9s ease;
-ms-transition:all .9s ease;
width:100%;
}

.img-contenedor:hover img {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}

.img-contenedor {
width:450px;
height:450px;
overflow:hidden;
}*/

#title_detail2{
    position: fixed;
    right: 0;
    top: 15px;
    width: 235px;
    /* margin: -2.5em 0 0 0; */
    z-index: 5;
}

.prod2{
    width: 100%; 
    height: 130%; 
    /*position:absolute; */
    top: 0px; 
    left: 0px; 
    object-position: 50% 50%;
    /*background-size: cover;*/
}

.right_2{
    width: 15% !important;
}

.detail_price{
    float: right!important;
    font-size: 18px;
    line-height: 13px;
    /*padding-right: 60px;*/
    margin-top: 20px;
    position: fixed;
}
 .bag{
    font-size: 50px!important;
    float:right !important;
    margin-top: 0px;
    position: relative;
    z-index: 10594;
    width: 50px;
   /* top: 49px;
    left: 40px;*/
 }

.price1{
    float: left;
    margin-top: 12px !important;
    position: relative;
    z-index: 10594;
    color: rgba(51, 51, 51, 0.61);
    font-weight: 700;
    text-align: right;
    margin-right: 10px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
}

/**************************/
.list_prod{
    position: relative;
    right: 50px;
    margin-top: 60px;

}
.detail_compra{
    text-align: right;
    padding-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    position: fixed;
    float: right;
    /*top: 104%;*/
    right: 0px;
    bottom: 0px;
    height: auto;
    width: 260px;
    z-index: 10000;
    box-shadow: inset 2000px 0 0 0 rgba(245, 245, 245, 0.37);
}

.text-detail{
    color: rgba(0, 0, 0, 0.44);
    font-weight: 600;
    margin-top: 20px;
    font-size: 23px;
}

.price2{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.36);
    font-weight: bolder;
}

.lista_prod{
    font-size: 16px;
    background-color: white;
    width: 40px;
    margin-top: 15px;
    position: relative;
    right: 13px;
}

.btn_compra2{
    background-color: #697677;
    border: 1px solid #697677;
    color: white;
    padding: 10px;
    width: 164px;
    font-size: 22px;
    margin-top: 15px;
    border-radius: 1px;
    }

.btn_compra2:hover{
    background-color:white;
    border-color:#697677;
    color:#697677;
}
.information{
    font-size: 15px;
}

.img_cart{
    object-fit: scale-down;
    position: relative;
    /*bottom: 15px;*/
}

/***************************/
.title_detail{
    border-bottom: 1px solid #687677;
    font-size:20px;
    line-height: 40px;
}

.descrip_detail2{
    color:#687677!important;
    text-align: center;
}

.position_add img, .position_remove img{
    vertical-align: initial !important;
}


/*************************/
/******CARRITO DE COMPRA******/
.name-compra {
    width: 300px;
    text-align: center;
}

.quantity-compra {
    width: 125px;
    text-align: center;
}

.total_money {
    padding: 15px;
    font-size: 15px;
}

.border_header{
    border-bottom:0px !important;
}

.box_cart{
    padding-left: 10px;
    padding-right: 15px;
}

/******CONTACT******/

.space_title_contact{
    position: relative;
    right: 35px;
}

.space_address{
    right: 45px;
    position: relative;
}
.fondo-contact {
     width: 100%; 
    height: auto;
}
.align-form-contact {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
}
.container-fluid-magle {
    /* max-width: 1160px !important; */
    padding: 10px 60px;
    margin: 0px auto;
    height: auto;
    display: inline-block;
}

.form-group {
    width: 100%;
    float: left;
    margin-top: 10px;
}


.form-group label {
    width: 100%;
    text-align: left;
    color: rgb(170, 170, 170);
    font-weight: 300;
}

.controls {
    position: relative;
}

.form-control {
    -webkit-box-shadow: inset 0px 2px 5px -200px rgba(0,0,0,0.41) !important;
    -moz-box-shadow: inset 0px 2px 5px -200px rgba(0,0,0,0.41) !important;
    box-shadow: inset 0px 2px 5px -200px rgba(0,0,0,0.41) !important;
    border: 0 !important;
    border-bottom: 1px solid rgb(236, 236, 236) !important;
    border-radius: 0px !important;
    padding: 6px 0px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: rgb(53, 47, 47) !important;
}

.controls input, .controls textarea {
    padding: 10px 16px;
}

.control-label {
    float: left;
    font-weight: 500;
}

.btn-store{
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 41px;
    display: inline-block;
    margin: 0 15px 15px 0;
    height: 48px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: rgb(255, 255, 255);
    color: #505050;
    border: 2px solid #505050;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.address {
    font-size: 14px;
}
/******SUCCESS******/
.text_success{
    margin-top: 100px;
}

.products{
    text-align: center;
}

.products span{
    font-size: 20px;
    position: relative;
    top: 100px;
}

/******NOSOTROS*****/
.banner_nosotros{
    overflow: hidden;
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.imag-nosotros{
    height: 360px;
    width: 100%;
    object-fit:cover;
}

/*TERMINOS Y CONDICIONES*/
.text_term_cond2 {
    border-bottom: 1px solid #434343;
    text-transform: uppercase;
    color: #434343;
    font-weight: 500;
    text-align: left;
    width: 80%;
}

.text_term_cond3{
    /*text-transform:capitalize;*/
    text-transform: inherit;
    border-bottom:inherit;
    font-size: 25px;
}
/******MODAL******/
.modal-movil{
    position: relative;
    top: 80px;
    }

@media screen and (max-width: 1020px){
.modal-z{
    z-index: 10000000;
    }
.modal-since{
    /*margin: 137px;*/
    }
}


@media screen and (max-width: 991px){
#header-top {
    left: 28%;
    min-width: 50%;
    }
}


@media screen and (max-width: 767px){
    #header-top {
        display: none!important;
    }
    /******LISTA DE PRODUCTOS******/
    .h_detail_prod{
        height: 394px;
    }
    .subcateg {
        margin-bottom: 10px;
    }
    .img_product {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        vertical-align: middle;
        /* line-height: 400px; */
        }
    .text-title {
        font-size: 23px;
        margin-top: 20px;
    }

    .list_prod {
        position: relative;
        right: inherit;
        top: 40px;
        /*height: auto;*/
        /*overflow: hidden;*/
    }

    .products span{
        top: 80px;
    }

    .name {
        text-align:center;
        font-size: 25px;
    }
    .price {
        text-align: center;
        font-size: 25px;
    }
    /******DETALLE DE PRODUCTOS*****/
    .mtl{
        margin-top: -96px;
        }
    .products{
        margin-top: 130px;
        }

    .img_box{
        height: 360px;
        }

    .mask{
        height: 360px;
    }
    .hover-recipe{
        margin-top: 150px;
        }

    /*******CONTACTO*******/
    .box-contact {
        position: relative;
        /*right: 45px;*/
    }
    .only-movil{
        position: relative;
        top: 360px;
        /*right: 40px;*/
        }
    .space_address {
        bottom: 60px;
        right: inherit;
        }
        .space_title_contact {
        right:inherit;
        }
    /******TERMINOS Y CONDICIONES******/
    .text_term_cond2 {
        font-size: 25px;
        }
    .text_term_cond3 {
        font-size: 23px;
        }
    /******NOSOTROS******/
    .movil-nosotros3{
        text-align: center;
        width: 104%;
        }
    .container-fluid-magle {
         padding:10px; 
        }

    .images-detail{
        height: 550px;
    }
/******MODAL******/
.modal-movil{
    position: relative;
    top: 80px;
    }

    .box_cart {
     padding-left:inherit; 
     padding-right:inherit;
     padding:5px; 
    }

    .btn-enviar {
    width: 120px;
    }

    .carrito_box {
    /*display: table-caption;*/
    }

    .quantity-compra {
    width: 292px;
    padding: 0px;
    font-size: 14px;
    }
    .img_cart {
    width: 85px;
    height: 85px;
    }

    .total_money {
    font-size: 14px;
    }

    .name-compra {
    width: 325px;
    }
}
