{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
{% end %}

{% block javascript %}
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}





<!-- *contenido* -->
<body id="lapimport">


<section>
<div class="container min">

  <div class="col-md-12 col-sm-12 col-xs-12">
   <div class="mar {{editabletext}}" text-id="{{ site.name + '_fer' }}"> {{ read_text(site.name +  '_fer') }}</div>
   <hr>
  </div>


    <div class="col-md-6 col-sm-6 col-xs-12"> 
          <div class="texto-con {{editabletext}}" text-id="{{ site.name + '_tienda_3' }}"> {{ read_text(site.name +  '_tienda_3') }}</div>
      </div>
    
    <div class="col-md-6 col-sm-6 col-xs-12"> 
    <iframe class="map-mo" src="" width="480" height="435" frameborder="0" style="" allowfullscreen></iframe>
    </div>

    </div>
</section>




</body>


{% include '../home/footer.html' %}
{% end %}


