
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Cormorant Garamond', serif;
}

a{
    color: gray;
}

a:hover{
    text-decoration: none;
}

li{
	list-style: none;
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-principal{
	width: 100%;
	height: 600px;
	 object-fit: cover;
}

.frase-1{
    font-size: 24px;
    color: gray;
    margin-top: 40px;
    margin-bottom: 35px;
    font-weight: 200;
    width: 65%;
}

.frase-2{
    font-size: 24px;
    color: gray;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight: 200;
    line-height: 30px;
    width: 65%;
}

.btn-block {
    display: block;
    width: 100%;
    background-color: rgba(41, 41, 40, 0.82);
    color: white;
}

.btn-block:hover {
    display: block;
    width: 100%;
    background-color:white;
    color: rgba(41, 41, 40, 0.82);
    border:1px solid rgba(41, 41, 40, 0.82);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.titulo-success {
    position: absolute;
    text-align: center;
    width: 95%;
    color: white;
    bottom: 42px;
    font-size: 21px;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
}

#contenedor {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    margin-bottom: 55px;
}

.container.min{
    width: 1200px;
}

.box-tienda{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    padding-left: 18px;
}

hr.tienda {
    margin-top: 20px;
    margin-bottom: 137px;
    border: 0;
    border-top: 1px solid gray;
    left: 1%;
    position: relative;
}

.texto-tienda{
    margin-bottom: 0px;
    position: relative;
    bottom: 87px;
    left: 3%;
    height: 150px;
}

.box-home {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 50px;
}

.til-za {
    font-size: 20px;
    text-align: left;
    position: relative;
    margin-top: 100px;
    margin-bottom: 34px;
}

.img-za{
    width: 100%;
    height: 300px;
    object-fit:contain;
}

.pos{
    width: 40%;
}

.text-box{
    font-size: 19px;
    margin-top: 20px;

}

.text-des{
  margin-bottom: 50px;
  width: 80%;
}

hr.za {
    width: 28%;
    margin-top: -26px;
    margin-bottom: 28px;
    border: 0;
    border-top: 2px solid #eee;
}


.text-im{
    font-size: 19px;
    margin-top: 20px;
    text-align: left;
    width: 80%;

}

.text-des-2{
  margin-bottom: 50px;
  width: 80%;
  text-align: left;
  width: 80%;
}


.v-mo{
    width: 100%;
}

.v-mo-home {
    width: 104%;
    height: 219px;
    top: 12px;
    position: relative;
    margin-left: -7px;
}

.col-md-6{
    margin-bottom: 26px;
}

.tim{
    position: relative;
    left: 4%;
    margin-bottom: 47px;
    font-size: 16px;
}

.titulo-negrita{
    position: relative;
    left: 4%;
}

.titulo-claro {
    position: relative;
    left: 5%;
}

.text-loki {
    font-size: 30px;
    position: absolute;
    bottom: 80px;
    padding-left: 23px;
    padding-right: 10px;
    color: white;
    font-weight: 500;
    text-align: left;
    line-height: 33px;
}

.vi-home {
    width: 104%;
    height: 250px;
    top: 51px;
    position: relative;
    margin-left: -7px;
}

.hin{
    overflow: hidden;
}

/*------------------------------------Responsive-------------------------------------------------------*/
@media(max-width: 1199px){
       .container.min{
    width: 100%;
   }

}

@media (max-width: 991px){
    .contact-add-form{
       margin-top: 50px;
    }

    .titulo-success {
    position: absolute;
    text-align: center;
    width: 95%;
    color: white;
    bottom: 42px;
    font-size: 17px;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
   }
}

@media (max-width: 767px){
	.img-mobile{
      height: 300px !important;
      object-fit: contain !important;
	}

    .col-md-6 {
    margin-bottom: 87px;
    }

    .map-mo{
        width: 100% !important;
        padding-left: 18px !important;
    }

    .titulo-negrita {
    position: relative;
    left: 0%;
    }

    .titulo-claro {
    position: relative;
    left: 0%;
    margin-bottom: 40px;
    }

    .description.distrib{
    margin-left: -11px !important;
    }

    #contenedor {
    min-height: 40%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    margin-bottom: -150px;
   }

   .vi-home {
    width: 100%;
    height: 250px;
    top: 51px;
    position: relative;
    margin-bottom: 53px;
    }
}

@media (max-width: 700px){
    .frase-1{
    font-size: 24px;
    color: gray;
    margin-top: 40px;
    margin-bottom: 35px;
    font-weight: 200;
    width: 85%;
}

.frase-2{
    font-size: 24px;
    color: gray;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight: 200;
    line-height: 30px;
    width: 85%;
}

}

@media (max-width: 650px){
        .titulo-success {
    position: absolute;
    text-align: center;
    width:95%;
    color: white;
    bottom: 42px;
    font-size: 13px;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
   }

}