
html {
  font-size: 14px;
  
  height: 100%; 
}

/*a  {   
 text-decoration:none!important;   
 color: #3f4271;
}  */ 


.fa-search{
    font-size: 20px !important;
    color: #35AAEF;
    position: relative;
    top: 7px
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img.editablelink {
    top: 20px !important;
    z-index: 1000 !important;
}

div.image-upload {
    z-index: 1000 !important;
}

a {
    text-decoration: none!important;
    color: black;
    font-weight: 700;
}

a:link{   
 text-decoration:none!important;   
}  

a:hover { 
    text-decoration: none!important; 
}


a:hover, a:focus {
    text-decoration: none!important;

}

html, body {
   height: 100%;
   font-family: 'Muli', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    text-rendering:optimizeLegibility!important;
}

li{
    list-style: none;
}

.fancybox-opened {
   top: 170px !important;
}

.fond_home{
    background-color: #EDECEB;
}

/*MAIN BANNER*/
.box-wrapper-banner{
    position: relative;
    height: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.h-banner-one{
    height: 100%;
}
.img_banner{
       width: 100%;
    object-fit: cover;
    height: 100%;
     position: absolute; 
}

.box{
   display: table;
    margin-left: auto;
    margin-right: auto;
    line-height: 100px;
}

.box2{
    margin-top: 90px;
}

.text-banner {
   text-align: right;
    // position: absolute;
    /* top: 52%; */
    font-size: 3.0rem;
    font-weight: 300;
    margin: 0;
    color: white;
    width: 100%;
    // bottom: 173px;
    right: 0;
    word-wrap: break-word !important;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* height: 100px; */
    /* overflow: hidden; */
    line-height: 49px;
    text-transform: uppercase;
}

.text-banner2 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    color: white;
    width: 100%;
    bottom: 0;
    right: 0;
    word-wrap: break-word !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    height: 24px;
    /* line-height: 40px; */
    margin-top: 12px!important;
    overflow: hidden;
    margin-bottom: 10px!important;
}


.text-banner3 {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    color: white;
    width: 100%;
    bottom: 0;
    right: 0;
    word-wrap: break-word !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    height: 24px;
    /*line-height: 40px;*/
    margin-top: 12px!important;
    overflow: hidden;
    margin-bottom: 10px;
}

.flanja{
        background: #AABECA;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.box-banner-one{
    width: 100%;
    height: 600px;
    // position: absolute;
}
/******MAIN_TEXT******/
.h_first_text{
    height: 97px;
    position: relative;
    width: 100%;
    display: table;
}

.text_main{
    text-align: center;
    font-size: 1.4rem;
    color: #A6A6A5;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 38px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**********EMBAJADORAS***********/

.img_embajadoras {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h_embajadoras2{
    height: 560px;
    width: 100%;
}

.box_img_emb{
    width: 100%;
    height: 500px;
    margin-left: 9px;
    margin-bottom: 90px;
    position: relative;
    overflow: hidden;
}

.tex-vi {
    position: relative;
    font-size: 1.8rem;
    color: white;
    top: 0px;
    /* margin-bottom: 6px; */
    overflow: hidden;
    width: 100%;
    font-weight: 700 !important;
    text-align: center;
    margin-top: 17px;
    -webkit-font-smoothing: antialiased;
    /* padding-right: 25px; */
}

.tex-vi-2 {
    text-align: left;
    font-size: 1.2rem;
    color:#919190;;
    position: relative;
    bottom: 0px;
    left: 9px;
    right: 0;
    top: 0px;
    margin-bottom: 20px!important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 90%;
    overflow: hidden;
    font-weight:100;
}

.container.kk {
    margin-top: -137px;
}

/*****GROUP_IMAGES_SECOND*****/
.h_group_img2{
    height:645px; 
    width: 100%; 
    display: table;
    position: relative;
}

.container_group_2{
    padding:0px;
}

.container-second{
    width: 100%;
    height: 595px;
}

.container-second2{
    width: 100%;
  /*  height: 462px;*/
     height: 380px;
}

.img_group{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_group_second1{
    position: absolute;
    font-size: 2.0rem;
    bottom: 0;
    left: 0;
    color: white;
    font-weight:900;
    width: 205px;
}

.igs1{
    padding-left: 14px
}

.text_group1{
    text-align: center;
    font-size: 1.8rem;
    color: white;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-bottom: 20px!important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow: hidden;
    font-weight: 700!important;
}

/*********GROUP_IMG3*********/
.h_group3{
    width: 100%;
    height: 314px;
    position: relative;
    background-color: #f3f2f2;
}

.box_img3 {
    width: 100%;
    height:298px;
    padding-left: 9px;
}

.img_group3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
/*    filter: grayscale(100%) brightness(78%);
    -webkit-filter: grayscale(50%) brightness(78%);
    -moz-filter: grayscale(100%) brightness(78%);
    -ms-filter: grayscale(100%) brightness(78%);
    -o-filter: grayscale(100%) brightness(78%);*/
}

.tex-group3{
    /* position: absolute; */
    font-size: 1.6rem;
    color: white;
    /* top: 40%; */
    margin-bottom: 6px;
    overflow: hidden;
    max-width: 90%;
    font-weight: 700!important;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
}

.cont_group3{
    overflow: hidden;
}

.vertical-center {
          /* Make it a flex container */
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex; 
          
          /* Align the bootstrap's container vertically */
            -webkit-box-align : center;
          -webkit-align-items : center;
               -moz-box-align : center;
               -ms-flex-align : center;
                  align-items : center;
          
          /* In legacy web browsers such as Firefox 9
             we need to specify the width of the flex container */
          width: 100%;
          
          /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
             hence the bootstrap's container won't be aligned to the center anymore.
          
             Therefore, we should use the following declarations to get it centered again */
                 -webkit-box-pack : center;
                    -moz-box-pack : center;
                    -ms-flex-pack : center;
          -webkit-justify-content : center;
                  justify-content : center;
        }
.box-wrapper {
    position: relative;
    height: 298px;
    overflow: hidden;
    display: block;
    margin-bottom: 50px;
    background-color: #F3F2F2!important;
    margin-top: -30px;
}
.box-background {
    position: absolute;
    height: 100%;
    width: 100%;
    // overflow: hidden!important;
/*    filter: grayscale(100%) brightness(78%);
    -webkit-filter: grayscale(50%) brightness(78%);
    -moz-filter: grayscale(100%) brightness(78%);
    -ms-filter: grayscale(100%) brightness(78%);
    -o-filter: grayscale(100%) brightness(78%);*/
    }
.box-text {
   position: absolute;
   width: 100%;
   height: 100%;
   color: white;
   overflow: hidden;
    }

/*******footer*******/
#footer{
    width: 100%;
    bottom: 0;
    position:relative;
    height: auto;
    background-color:#FFFDFE;
    padding: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.24);
}

.no-dot{
    list-style:none;
    padding: 0;
}

.inform-comerc{
    margin-top: 14px;
    line-height: 30px;
}

.position-text0{

}

.position-text {
    text-align: left;
}
}

.position-text_loading{
    text-align: right;
}

.footer_text_t{
   /* color:rgba(0, 0, 0, 0.45)!important;*/
    -webkit-font-smoothing: antialiased;
    font-weight: bold!important;
}

.footer_text2{
  /*  color: #B2B1B1;*/
    font-weight:700;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
}

.footer_text {
    text-align: left;
    /* color: #B2B1B1; */
    font-weight: 700;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    margin-top: 0px;
    left: 0%;
    position: relative;
    top: 70px;
}

.footer_text_login {
    text-align: left;
    /* color: #B2B1B1; */
    font-weight: 700;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    margin-top: 3px;
}

.footer_loading{
    margin:0 auto;
    text-align: center;
    color: #B2B1B1!important;
    -webkit-font-smoothing: antialiased;
    top: 85px;
    margin-top: 5px;
    position: relative;
}

.loging{
    text-align: center;
    color: #B2B1B1!important;
    -webkit-font-smoothing: antialiased;
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
     margin: 0 0 0px!important; 
}


.col-box2{
    width: 180px;
}

.col-box3{
    width: 140px;
}

.col-box4{
    width: 160px;
}

.logo_footer{
    position: relative;
    left: inherit!important;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-top: -60px;
    object-fit: scale-down;
    z-index: 1000;
}

.box-loading{
    position: relative;
    bottom: 3px;
}

.cont_black{
    color: black!important;
}

.cms-fancyboxes-adv-item .cms-fancyboxes-adv-item-wrap:hover {
    background: transparent;
    border: 1px solid #d7d7d7;
    padding: 29px;
}

.cms-fancyboxes-adv-item .cms-fancyboxes-adv-item-wrap:hover img {
    border-color: #1c7c4e;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    color: #1c7c4e;
}

.cms-fancyboxes-adv-item .cms-fancyboxes-adv-item-wrap .fancy-box-icon img {
    width: 98px;
    height: 98px;
    line-height: 92px;
    border: 2px solid transparent;
}

.cms-fancyboxes-adv-item {
    margin: 0 0 20px 0;
}

.cms-fancyboxes-adv-item .cms-fancyboxes-adv-item-wrap {
    text-align: center;
    background: #f9f9f9;
    padding: 30px;
}

.min:hover{
    border: 1px solid gray;
    color: rgba(167, 95, 0, 0.56);
    height: 600px;
}

.min{
    height: 600px;
}

.hide-bullets {
    list-style: none;
    margin-left: 0px;
    margin-top: 20px;
    bottom: 0px;
    position: absolute;
    float: right;
    padding-left: 200px;
    padding-right: 191px;
}

.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 119%;
    position: relative;
    left: 400px;
    z-index: 1000;
}

.thumbnail>img, .thumbnail a>img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 47px;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 436px;
    bottom: 0px !important;
    left: 88px !important;
    width: 4% !important;
    font-size: 11px;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 0px 0px rgba(0,0,0,.6); */
    filter: alpha(opacity=50);
    opacity: .5;
    height: 53px !important;
    border: 1px solid white !important;
    background: white !important;
    z-index: 1000;
}

.carousel-control.rig {
    position: absolute;
    top: 436px; 
    bottom: 0px !important;
    left: 151px !important;
    width: 4% !important;
    font-size: 11px;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 0px 0px rgba(0,0,0,.6); */
    filter: alpha(opacity=50);
    opacity: .5;
    height: 53px !important;
    border: 1px solid white !important;
    background: white !important;
    z-index: 1000;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    color: black;
    font-size: 20px;
    margin-top: -9px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev{
    color: black;
    font-size: 20px;
    margin-top: -9px;
}

.hover-slider .mak {
    background: rgba(0, 0, 0, 0.08);
    height: 103%;
    width: 100%;
    opacity: 0;
    position: relative;
    bottom: 531px;
    overflow: hidden;
}

.hover-slider:hover .mak {
    opacity: 1;
}

.hover-slider {
    position: relative;
    height: 513px;
    margin-bottom: -422px;
}


/*------------------------------------------------------RESPONSIVE--------------------------------------------*/

@media screen and (max-width:1199px){
.footer_text {
    text-align: left;
    /* color: #B2B1B1; */
    font-weight: 700;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    margin-top: 3px;
    left: 25%;
    position: relative;
}

.search-box .input-search {
    height: 40px;
    border-radius: 1px;
    padding-right: 0px;
    padding-left: 10px;
    width: 100%;
    border: 0;
    right: 0px;
    font-size: 16px;
    font-weight: 300;
    margin-top: -5%;
    right: 0px;
    z-index: 100000;
    border: 1px solid black;
    float: left;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: 'Open Sans', sans-serif!important;
    letter-spacing: 1px;
}

.searchBtn-static {
    position: static;
    margin-bottom: -26px;
}

.cuerpo {
    padding: 57px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#35AAEF !important;
}

}

@media screen and (max-width:991px){
    .box_img3 {
    margin-bottom: 30px;
    }

    .footer_text {
    text-align: left;
    /* color: #B2B1B1; */
    font-weight: 700;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    margin-top: 3px;
    left: 50%;
    position: relative;
   }

   .h_group3 {
    width: 100%;
    height: 314px;
    position: relative;
    background-color: transparent;
   }

   .slider-movil{
         margin-top: 50px !important;
   }
}


@media screen and (max-width:800px){
}

@media screen and (max-width: 767px){
    .base-logo {
    width: 100%;
    position: relative;
    left: 0%;
    margin-top: 10px;
    }

    .flanja {
        padding: 0;
    }

    .box-banner-one {
    height: 100%;
   }

   .box-wrapper-banner {
    position: absolute;
   }
    .h-group2-1{
    height: 750px;
    display: table;
    }

     .h-group2-2{
    height: 700px;
    display: table;
    }

    .box_img3 {
    padding-left:0px; 
    margin-bottom: 20px;
    }

    .tex-group3 {
    width: 85%;
    }

/*******GRUPO IMG 2*******/

.container_group_2{
    padding:15px;
    }

.h_group_img2{
    height:auto; 
}
/******PRIMER TEXTO*****/
    .h_first_text {
        height: 170px;
    }
/****CONTACT****/
    .h_contact{
    height: 500px;
    }

    .img_contact {
    position: absolute;
    }

.h-banner-one {
    height: inherit;
    }


.img_banner {
    height: inherit;
    }

.box-background {
    width: 100%;
    }

.box-wrapper {
    margin-bottom: 70px!important;
    padding-left: 0!important;
}

    .col-box2{
    width: inherit;
}

.col-box3{
    width: inherit;
}

.col-box4{
    width: inherit;
    }

.box-loading {
    position: relative;
    bottom: 0;
}

.footer_text {
    text-align: left;
    /* color: #B2B1B1; */
    font-weight: 700;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    margin-top: 0px;
    left: 0%;
    position: relative;
    top: 118px;
}

    .logo_footer {
    position: relative;
    left: inherit!important;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-top: -13px;
    object-fit: scale-down;
    z-index: 1000;
    margin-bottom: 102px;
}

  .cel{
        background-position: center !important;
}

@media (max-width: 700px){
    .carousel-control {
    position: absolute;
    top: 436px;
    bottom: 0px !important;
    left: 88px !important;
    width: 9% !important;
    font-size: 11px;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 0px 0px rgba(0,0,0,.6); */
    filter: alpha(opacity=50);
    opacity: .5;
    height: 53px !important;
    border: 1px solid white !important;
    background: white !important;
    z-index: 1000;
}

.carousel-control.rig {
    position: absolute;
    top: 436px;
    bottom: 0px !important;
    left: 151px !important;
    width: 9% !important;
    font-size: 11px;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 0px 0px rgba(0,0,0,.6); */
    filter: alpha(opacity=50);
    opacity: .5;
    height: 53px !important;
    border: 1px solid white !important;
    background: white !important;
    z-index: 1000;
}

.cel {
    background-position: center !important;
    background-size: contain !important;
    height: 300px !important;
}

.hover-slider .mak {
    background: rgba(0, 0, 0, 0);
    height: 103%;
    width: 100%;
    opacity: 0;
    position: relative;
    bottom: 531px;
    overflow: hidden;
}

}


@media (max-width: 485px){
    .logo_footer {
    position: relative;
    left: inherit!important;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-top: -60px;
    object-fit: scale-down;
    z-index: 1000;
    margin-bottom: 138px;
}

}

@media (max-width: 410px){
   .text-banner3 {
    text-align: right;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    color: white;
    width: 100%;
    bottom: 0;
    right: 0;
    word-wrap: break-word !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    height: 60px;
    /* line-height: 40px; */
    text-transform: uppercase;
    margin-top: 12px!important;
    overflow: hidden;
    margin-bottom: 10px;
}

}
