/*=======MARGIN CLASSES========*/
.space5{
    margin-top: 5px !important;
}
.space10{
    margin-top: 10px !important;
}
.space15{
    margin-top: 15px;
}
.space17{
    margin-top: 17px;
}
.space20{
    margin-top: 20px;
}
.space25{
    margin-top: 25px;
}
.space30{
    margin-top: 30px;
}
.space33{
    margin-top: 33px;
}
.space40{
    margin-top: 40px;
}
.space45{
    margin-top: 45px;
}
.space50{
    margin-top: 50px;
}
.space60{
    margin-top: 60px;
}
.space70{
    margin-top: 70px;
}
.space75{
    margin-top: 75px;
}
.space80{
    margin-top: 80px;
}
.space90{
    margin-top: 90px;
}
.space100{
    margin-top: 100px;
}
.space128{
    margin-top: 128px;
}
.space130{
    margin-top: 130px;
}
.space135{
    margin-top: 135px;
}
.space148{
    margin-top: 148px;
}
.space150{
    margin-top: 150px;
}

.space160{
    margin-top: 160px;
}
.space170{
    margin-top: 170px;
}
.space180{
    margin-top: 180px;
}
.space200{
    margin-top: 200px;
}
.space240{
    margin-top: 240px;
}
.space277{
    margin-top: 277px;
}
.space372{
    margin-top: 372px;
}
.space390{
    margin-top: 390px;
}
.mbtm7{
    margin-bottom: 7px;
}
.mbtm10{
    margin-bottom: 10px;
}
.mbtm20{
    margin-bottom: 20px;
}
.mbtm30{
    margin-bottom: 30px;
}
.mbtm40{
    margin-bottom: 40px;
}
.mbtm50{
    margin-bottom: 50px;
}
.mbtm60{
    margin-bottom: 60px;
}
.mbtm70{
    margin-bottom: 70px;
}
.mbtm80{
    margin-bottom: 80px;
}
.mbtm90{
    margin-bottom: 90px;
}
.mbtm100{
    margin-bottom: 100px;
}

.mbtm150{
    margin-bottom: 150px;
}
.m0{
    margin: 0;
}
.mbtm0{
    margin-bottom: 0px;
}
.mleft10{
    margin-left:10px;
}
.mright10{
    margin-right:10px;
}
.mright30{
    margin-right:30px;
}
.mauto{
    margin: 0px auto !important;
}
.mautomargin{
    margin: 40px auto !important;
}
.marginR{
    margin-right: 40px;
    text-align: center;
    margin-left: 35px;
}
.marginL{
    margin-left: 50px;
}
.margin-right{
    margin-right: 307px;
}
.marginL14{
    margin-left: 14%;
}
.mtop100{
    margin-top: -100px;
}
.border-btm{
    border-bottom: 1px solid #fff;
}

.height{
    height: 100px;
}

.height478{
    height: 478px;
}
/*========PADDING CLASSES========*/
.pad0{
    padding: 0px !important;
}
.pad10{
    padding: 10px !important;
}
.pad20{
    padding: 20px;
}
.pad30{
    padding: 30px;
}
.pad40{
    padding: 40px;
}
.pad50{
    padding: 50px;
}
.pad60{
    padding: 60px;
}
.pad70{
    padding: 70px;
}
.pad80{
    padding: 80px;
}
.pad90{
    padding: 90px;
}
.pad100{
    padding: 100px;
}
.padleft0{
    padding-left: 0px !important;
}
.padright0{
    padding-right: 0px !important;
}
.padtop0{
    padding-top: 0px !important;        
}
.padbottom0{
    padding-bottom: 0px !important;     
}
.padbottom100{
    padding-bottom: 100px !important;       
}
.padbottom60{
    padding-bottom: 60px !important;        
}

.pad0.cero {

    padding: 0px !important;
    /* left: 232px; */
    position: relative;
    width: 38%;
    float: right;
}

/*****SATURADA*****/
/*img.desaturada {
    filter: grayscale(100%) brightness(50%);
    -webkit-filter: grayscale(50%) brightness(50%);
    -moz-filter: grayscale(100%) brightness(50%);
    -ms-filter: grayscale(100%) brightness(50%);
    -o-filter: grayscale(100%) brightness(50%);
}*/

/*****LISTADO DE ARTICULOS****/
.hla {
    height: 610px;
    /*position: relative;*/
    position: relative;
    display: table;
    width: 100%;
}

.text_listart{
    position: absolute;
    /* top: 100%; */
    bottom: 30px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 400px; */
    margin: auto!important;
    color: white;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word !important;
    max-width: 90%;
    /* overflow: hidden; */
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* overflow: hidden; */
}

.banner_list{
    width: 100%;
    object-fit: cover;
    /*position: absolute;*/
    top: 0px;
    height: 595px;
    margin-top: 142px;
}

.text-article-title{
    height: auto;
    display: table;
    position: relative;
    width: 100%;
}

.listart1{
    text-align: center;
    font-size: 2.0rem;
    color: #919190;
    /* margin-top: 90px; */
    margin-bottom: 90px!important;
    position: relative;
    top: 10px;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 90%;
    height: 0%;
    margin: 0 auto;
    line-height: 46px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.img_article{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_lis_art{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:0px;
    height: 410px;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

.article_1_3{
    position: relative;
    bottom: 5px;
}

.article_2_4{
    position: relative;
    bottom: 17px;
}

.article_title{
    position: relative;
    /* top: 40%; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    color: #AAA8A8;
    font-size: 24px;
    font-weight: 300;
    width: 90%;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
    margin-top: 3px;
}

.article_text{
    position: relative;
    max-width: 100%;
    color: #787778;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    text-align: left;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    line-height: 25px;
    font-weight: 300;
}


.article_title2 {
    position: relative;
    top : 50%;
    /*left: 50%;*/
    /*-ms-transform: translate(-50%, -50%);
    transform    : translate(-50%, -50%);*/
    font-size: 2.3rem!important;
    color: #959393;
    text-align: left;
    // text-transform: capitalize;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.article_text2 {
    position: relative;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    max-width: 400px;
    color: #7A797A;
    font-size: 1.8rem;
    height: 302px;
    text-align: left;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    line-height: 25px;
}

.text_art3{
    text-align: center;
    font-size: 2.0rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color: #919190;
    margin-top: 90px;
    margin-bottom: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 54%;
    height: 0%;
    margin: auto;
    font-weight: 100;

}
.text_art4{
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 80%;
    height: 0%;
    margin: auto;
    color: #6F7070;
    font-size: 2.3rem;
    font-weight: 100;
}

.h2b{
    height: 725px;
}

.h_fourth_text{
    height: 318px;
    display: table;
    width: 100%;
}


/*****Detalle Articulos*****/

.img_banner_art {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 465px;
    /*position: absolute;*/
}

.text_artdetail {
    position: relative;
    /* top: 50%; */
    bottom: -102px;
    left: 2%;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.73);
    font-weight: 400;
    font-size: 2.3rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
}

.text-art1 {
    position: relative;
    text-align: justify;
    top: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.6rem;
    margin-top: 144px;
    bottom: 10px;
    font-weight: 100;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-font-smoothing: antialiased;
}

.text-art2{
    left: 50%;
    color:rgba(48, 51, 51, 0.81);
    font-size: 1.6rem;
    text-align: justify !important;
    line-height: 32px;
    font-weight: 100;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
    -webkit-font-smoothing: antialiased;
}

.text-relac{
    margin-top: 70px;
    font-weight: 100;
    color: rgba(48, 51, 51, 0.71);
    font-size: 2.2rem;
}
.art_title{
    font-weight: bold!important;
    font-size: 2.1rem;
}

.text_list_art{
    text-align: center;
    font-size: 1.9rem;
    color: #B2B2B1;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 38px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hr_art{
        /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    border: 0;
    border-top: 2px solid #9E9E9E;
    position: relative;
    top: inherit;
    width: 80%;
    margin: 0 auto;
}


/******LISTADO DE PRODUCTOS******/
  .fondo_nuest_prod{
        background-color: #F3F2F2!important;
        width: 100%;
    }

 .h-product{
    padding: 60px;
 }
.h-list-prodt{
    height: 800px;
}

.h_second_text{
    /*height: 122px;*/
}

.height_list_product {
    position: relative;
    width: 100%;
    margin-top: 142px;
}

.h_submenu{
    height: 106px;
    position: relative;
}


.img_banner_list {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 465px;
}


.text_list_prod{
    position: absolute;
    /* top: 50%; */
    bottom: 30px!important;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 110px; */
    margin: 0 auto!important;
    color: white;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word !important;
    /* max-width: 90%; */
    overflow: hidden;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text_list_prod2{
    position: relative;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #7D5E5E;
    font-size: 1.9rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 100px;
}

.subcateg{
    color: #8F8D8D;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 12px;
    /*font-weight: bold;*/
    margin-left: 10px;
    margin-right: 10px;
    /*padding: 0px 10px;*/
    -webkit-font-smoothing: antialiased;
    line-height: 39px;
}

.subya-menu:hover, .subya-menu.active{
    /* background-color: #8F8D8D; */
    font-size: 16px;
     color:#8F8D8D!important; 
    font-weight: 400;
    border-bottom: 1px solid gray;
}

.subya-menu.active{
    border: 1px solid gray!important;
    padding: 10px 10px;
    font-weight: 400;
}

.container-second-prod{
    width: 100%;
    height: 400px;
}

.img_product {
    max-width: 70%!important;
    height: 70%;
    object-fit: scale-down;
    margin: 0 auto;
    top: 20px;
    position: relative;
    max-height: 230px;
}


.product-grid {
    width: 100%;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.name {
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    font-size: 1.3rem;
    left: 0;
    right: 0;
    font-weight: 500;
    color: #4D4D4D;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 80%;
    height:45px;
    margin-top: -52px;
}

.description{
    font-family: 'Open Sans', sans-serif;
    display: block;
    position:relative;
    width: 99%;
    margin-top: 40px;
    text-align: center;
    overflow: hidden;
    height: 137px;
}

.price {
    display: block;
    position: relative;
    // bottom: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    left: 0;
    right: 0;
    // font-weight: bold;
    color: #4D4D4D;
     text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    top: 87%;
}

.third_text_prod{
    text-align: center;
    font-size: 1.7rem;
    color: rgba(138, 87, 19, 0.58);
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 55%;
    height: 200px;
    font-weight: 100;
    text-transform: uppercase;
    top: 63px;
    margin: 0 auto;
    line-height: 29px;

}

.modal-header-pro{
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    background: rgba(128, 128, 128, 0.39);
    color: gray;
}

.modal-title-pro{
    margin: 0;
    line-height: 1.42857143;
    font-weight: 600;
    font-size: 18px;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    letter-spacing: -1px;
    width: 97%;
}

.cate {
    font-size: 15px;
    font-weight: 200;
    color: gray;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    margin-bottom: 13px;
    text-align: center;
    display: inherit;
}

.cate:hover {
    font-size: 15px;
    font-weight: 200;
    color: gray;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    margin-bottom: 13px;
    text-align: center;
    display: inherit;
}



.cate {
    font-size: 15px;
    font-weight: 200;
    color: gray;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    margin-bottom: 13px;
    text-align: center;
    display: inherit;
}

.subcateg_fancy {
    color: gray;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 10px;
    /* border: 1px solid black; */
    margin-left: 2px;
    margin-right: 2px;
}

.btn-cat-enviar{
    background-color: rgba(0, 0, 0, 0.24);
    color: #777;
    width: 40%;
    border-radius: 0px;
    height: 51px;
    font-weight: 600;
    font-size: 20px;
}

.box-4{
    width: 100%;
    height: 362px;
}

.btn-detalle{
   font-size: 1.5rem;
    color: white;
    background: rgba(104, 118, 119, 0.12);
    width: 121px;
    height: 50px;
    /* margin-top: 92px; */
    border-radius: 9px;
    border: 0px;
    /* left: 69%; */
    text-align: center;
    position: relative;
    border: 2px solid white;
    padding-bottom: 30px;
    margin: 0 auto;
    top: 50%;
}

.btn-outline {
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 41px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    background: rgba(68, 64, 64, 0.58);
    color: white;
    border: 2px solid white;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    display: inline-block;
}


.btn-outline:hover{
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 41px;
     margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    background: rgb(255, 255, 255);
    color: #505050;
    border: 2px solid #505050;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    display: inline-block;
}


.h_detail_prod{
    height: 487px;
}

.cuadro_product{
    background:white!important;
}

/******HOVER*****/
.box-6 {
    position: relative;
    overflow: hidden;
    height: 410px;
}
.box-6 .mask-6 {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
   /* left: 0px; */
}

.box-6:hover .mask-6 {
    opacity: 1;
}

.di{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
}

.btn-outline {
    font-size: 12px;
    cursor: pointer;
    // padding: 0 35px;
    line-height: 41px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    background: rgba(68, 64, 64, 0.58);
    color: white;
    border: 2px solid white;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    display: inline-block;
}


.btn-outline:hover{
    font-size: 12px;
    cursor: pointer;
    // padding: 0 35px;
    line-height: 41px;
     margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    background: rgb(255, 255, 255);
    color: #505050;
    border: 2px solid #505050;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    display: inline-block;
}

/******DETALLE DE PRODUCTOS******/
.h_detail_prod1 {
    /* height: 100%; */
    margin-bottom: 80px;
}

.hr_prod {
        border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    top: 0;
    position: relative;
}

.fin {
    position: relative;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 90%;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
}

.btn-success.car {
    color: white;
    background-color: #009fe3;
    border-color: white;
    border-radius: 0px;
    width: 100%;
    height: 63px;
    float: left;
    top: 45px;
    position: relative;
    right: 0px;
    font-size: 1.5rem;
}

.descr_prod_detail {
    text-align: justify;
    font-size: 1.4rem;
    color: #5C5B5B;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 38px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 65px;
    padding-right: 65px;
}
.little {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    object-fit: scale-down;
    border: 1px solid gray;
}

.img-contenedor{
    width: 500px;
    height: 500px;
}

.title-detail{
   position: relative;
    /* top: -140px; */
    color: rgba(0, 0, 0, 0.66);
    font-weight: 700;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    text-transform: capitalize;
    font-size: 1.3em;
    margin-top: 80px;
    width: 112%;
}

.img_detail{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    object-fit:scale-down;
    object-position: top;
}

.space-container{
    padding-right:0px;
    padding-left:0px;
    margin-right:0px;
    margin-left:0px;
    margin: 0 auto!important;
    margin-bottom: 100px!important;
    height: 600px;
}

.descrip_detail1{
    overflow: hidden;
    font-size: 1.3rem;
    text-align: left;
    font-weight: 300;
    color: #5C5B5B;
    -webkit-font-smoothing: antialiased;
    width: 114%;
    line-height: 1.2em;
}
.price_detail{
    text-align: left;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
}

.box_img_prod{
    width: 100%;
    height: 450px;
}

.img_detail_prod{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/******modal*****/
.btn-nutr{
    float: right;
    margin-top: 20px;
    border-radius: 0px;
    border: 1px solid black;
    -webkit-font-smoothing: antialiased;
}

.descrip_detail1_modal{
    font-size: 1.5rem;
    text-align:center;
    font-weight: 100;
    color: #5C5B5B;
    -webkit-font-smoothing: antialiased;
}

/*TERMINOS Y CONDICIONES*/

.img_banner_term{
    width: 100%;
    object-fit: cover;
    height: 600px!important;
    position: absolute;
}

.text_term_cond2 {
    border-bottom: 1px solid #434343;
    text-transform: uppercase;
    color: #919190;
    font-weight: 500;
    text-align: left;
    width: 80%;
    overflow: hidden;
    height: 37px;
}

.text_term_cond3{
    /*text-transform:capitalize;*/
    text-transform: inherit;
    border-bottom:inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
    font-weight: 100;
    font-size: 2.0rem;
    color: #919190;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0px;
    margin: 0 auto!important;
    margin-bottom: 100px!important;
    margin-top: 15px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 43px;
}

/******CONTACT*****/
.img_contact {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 365px;
    position: relative;
    margin-top: 143px;
}

.fondo-contact {
    width: 100%;
    height: auto;
}

.align-form-contact {
    padding-left: 20%;
    padding-right: 20%;
}

/******SUCCESS******/
.img_success {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 434px;
}

.text_success{
    text-align: center;
    font-size: 2.5rem;
    color: #777979;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 82%;
    height: 0%;
    margin: auto;
    font-weight: 100;
    margin-top:100px;
}


.h1-art_a{
    position: relative;
    top: 23px;
}

/*******CARRITO DE COMPRA*******/
.simple-cart{
    color: rgba(51, 51, 51, 0.64)!important;
    letter-spacing: 1px;
     position: relative;  
}

.img_cart{
    object-fit: scale-down;
    width: 90px;
    height:90px;
}

.btn-enviar{
    float: right;
    border-radius: 0px;
    background-color: white;
    border: 1px solid black;
    width: 150px;
    height: 40px;
    color: black;
    /*margin-right: 20px;*/
}

.box_table{
    margin: 0 auto;
    margin-top: 15px;
}
.carrito_box{
    display: block;
}

.name-compra{
    padding: 15px;
    font-size: 15px;
}

.quantity-compra{
    padding: 15px;
    font-size: 15px;
    width: 70px;
}
.total_money{
    padding: 15px;
    font-size: 15px;
}

.tienda_volver{
    margin-left: 20px;
}


.name-compra {
    width: 300px;
    text-align: center;
}

.quantity-compra {
    width: 125px;
    text-align: center;
}

.total_money {
    padding: 15px;
    font-size: 15px;
}

.border_header{
    border-bottom:0px !important;
}

.box_cart{
    padding-left: 10px;
    padding-right: 15px;
}
/*****GALERIA*****/
.h_img_galery{
/*    height: 435px;*/
    width: 100%;
    position: relative;
    margin-top: 142px;
}
.especial {
    padding: 0 !important;
}

.list-unstyled{
    padding-left: 0;
    list-style: none;
}

.article-img{
    max-width: 100%;
    padding: 8px;
    display: block;
    padding-left: 8px;
    height: 368px;
}

.height-product{
    position: relative;
    height: 370px;
    padding: 8px;
    margin: 0;
}

.img-gallery{
    width: 100%;
    object-fit: scale-down;
    /*position: absolute;*/
    top: 0px;
    height: 365px;
}

.productlist .col-sm-12, .productlist .col-sm-8, .productlist .col-sm-6, .productlist .col-sm-4, .productlist .col-sm-2 {
    position: relative;
    min-height: 1px;
    padding: 2px;
    top: 0px;
}

.productlist, .product {
    padding-top: 0;
    /* padding-bottom: 50px; */
}
/*.container-fluid-art {
    margin-right: auto;
    margin-left: auto;
    max-width: 980px;
}*/


/****************************/
.text_galer_detail{
   position: absolute;
    /* top: 33%; */
    bottom: 60px;
    left: 0;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: auto!important;
    color: white;
    font-weight: 700;
    font-size: 2.9rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hlg{
    /*height: 2300px;
    display: block;*/
}
.hg3{
    height: 160px;
}
.img_galeria{
    width: 100%;
    object-fit: cover;
   /* position: absolute;*/
    top: 0px;
    height:465px;
}

.container_galeria {
    width: 100%;
    height: 370px;
    margin-left: 29px;
    margin-top: 20px;
}

.row_center {
    margin-left:0px;
}

.text_title_galer {
    position: relative;
    top: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.6rem;
    font-weight: 100;
    text-align: justify !important;
    line-height: 31px;
    margin-top: 190px;
    bottom: 10px;
}

.p-art{
    position: relative;
    top: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.6rem;
    font-weight: 100;
     text-align: justify !important; 
    line-height: 38px;
    margin-top: 5px;
    -webkit-font-smoothing: antialiased;
}

.p-art p{
    line-height: normal !important;
}

.text_galer1{
    text-align: center;
    font-size: 2.3rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color:rgba(48, 51, 51, 0.81);
    /* margin-top: 90px; */
    /* margin-bottom: 90px; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 0%;
    margin: auto;
    line-height: 42px;
    font-weight: 100;
}

.text_galer2{
    text-align: center;
    font-size: 2.1rem;
    /*font-family: 'Open Sans', sans-serif;*/
    color:rgba(48, 51, 51, 0.81);
    position: absolute;
    top: 160px;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 82%;
    height: 0%;
    margin: auto;
    font-weight: 100;
}

.text_galer3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 69%;
    height: 0%;
    margin: auto;
    color:#676969;;
    font-size: 2.1rem;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.pd{
    padding-right: 3px;
    padding-left: 3px;
}

.mb{
    margin-bottom: 3px;
    padding-right: 250px;
    padding-left: 250px;
}

.mb-2 {
    margin-bottom: 3px;
    padding-right: 100px;
    padding-left: 100px;
}

/*****HOME COMUNIDAD*****/

.h_comunidad_home{
    height:800px!important;
    width:100%;
}

.box_img_comunidad{
        width: 100%;
    height: 100%;
    padding-left: 9px;
}

.img_comunidad {
        width: 100%;
    height: 500px;
    object-fit: cover;
}


.title_comunidad {
     position: relative;
    font-size: 2.5rem;
    color: #919190;
    top: 0px;
    margin-bottom: 6px;
    overflow: hidden;
    width: 100%;
    font-weight: 100!important;
    text-align: center;
    margin-top: 17px;
    text-transform: uppercase;
    margin-bottom: 50px!important;
}
.h_home_c{
    height: 140px;
    display: table;
    position: relative;
    width: 100%;
}

.box_text_com{
    width: 100%;
    height: auto;
    background: rgba(51, 51, 51, 0.78);
    position: absolute;
}

.box_text_com2{
    width: 100%;
    height: auto;
    background: rgba(51, 51, 51, 0.78);
    position: absolute;

}
/*********UNO_Y_MAS******/

.h_unoymas{
/*    height: 414px;
    display: table;*/
    position: relative;
    width: 100%;
    margin-top: 142px;
}
.container-fluid {
     padding-left:0px; 
}

.image_little{
    float: left;
    position: relative;
    left: -54px;
    top: 84px;
}

.img-bolsa {
    width: 18%;
    position: relative;
    right: 32px;
    top: -28px;
    float: right;
    cursor: pointer;
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    margin-top: 176px;
}

.col-md-3.lad{
   margin-left: -63px;
}

  .h_submenu {
   /* height: 263px;*/
    position: relative;
}

.space10-1 {
    margin-top: -6px;
}


/*---------------------------------------------Responsive-------------------------------------------*/

@media screen and (max-width:1199px){
   /* .img_banner_list {
    position:relative;
    }*/
    .img_galeria {
    height: 434px;
    position:relative;
    }
    .categorias{
    padding-top: 1em;
    padding-bottom: 0px !important;
    margin-top: 46px !important;
    }
    .h_img_galery {
    margin-top: 50px;
    }

    .banner_list{    
    margin-top: 50px;
    }

    .wil{
        margin-top: 50px !important;
    }

    .height_list_product {
    margin-top:50px;
    }

    .h_submenu {
    height: 136px;
    position: relative;
    }

    .h_unoymas {
    margin-top: 50px;
    }

        .img_contact {
    width: 100%;
    object-fit: cover;
    top: 0px;
    height: 365px;
    position: relative;
    margin-top: 0px;
   }
}

@media (max-width: 1024px){

.categorias {
    padding-top: 1em;
    padding-bottom: 0px !important;
    margin-top: 23px !important;
}

}

@media screen and (max-width:991px){
    .margin_movil{
    margin-top: 160px;
    }
    .h-list-prodt {
         height: auto; 
    }

}

@media screen and (max-width:800px){
    .article_text2 {
    position: relative;
    left:inherit;
    -ms-transform: inherit;
    transform: inherit; 
    }
}

@media (max-width: 768px){
.h-product {
    padding: 60px;
  /*  margin-top: -44px; */
 }


}
@media screen and (max-width: 767px){
    .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    }

    .productlist .col-sm-12, .productlist .col-sm-8, .productlist .col-sm-6, .productlist .col-sm-4, .productlist .col-sm-2 {
    position: relative;
    min-height: 1px;
    padding: 0px;
    top: 0px;
    }
    .h_detail_prod1{
    height:auto;
    }

    .footer_text {
    text-align: center;
    }
    .footer_loading{
    text-align: center;
    }
    .loging{
    text-align: center;
    }
    .footer_text2 {
    text-align: center;
    }

/******CONTACT*****/
.fondo-contact {
    width: 100%;
    height: auto;
    }

.align-form-contact {
    /*padding-right: inherit;
    padding-bottom:inherit;*/
    }


    .pad0.cero {
    padding: 0px !important;
    left: 235px;
    position: relative;
    width: 41%;
    }

/*****LISTADO DE ARTICULOS*****/

.hla {
    height: 400px;
}

.banner_list {
    height: 400px;
}

    .img_lis_art {
        position: relative;
        }

    .article_text2{
        left: inherit;
        color: #919190;
        margin-top: 40px;
        margin-bottom: 40px;
        }
        
    .text_art4 {
        position: inherit;
        font-size: 1.8rem;
        }

    .article_title{
        text-align: left;
        font-size: 2.9rem;
        top: 20px;
        text-transform: capitalize;
        }

    .article_title2 {
        font-size: 2.9rem!important;
        top: 20px;
        text-transform: capitalize;
        color: #919190;
        }

    .h2b{
        height: 755px;
        }

    .hm{
        height: 256px!important;
        }
        
    .listart1 {
        font-size: 1.5rem;
        line-height: 30px;
        position: inherit;
        color: #919190;
        margin-top: 90px !important;
        }
    .box-img-art{
    width: 100%;
     height: 300px;
    }
    .img_art_movil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .text_art_1{
        text-align: left;
    color: #919190;
    width: 100%;
    padding-left: 3px;
    position: relative;
    /* bottom: 21px; */
    height: 91px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.9rem;
    overflow: hidden;
    }

    .text_art_2{
        text-align: left;
    color: #919190;
    font-size: 30px;
    font-weight: 100;
    padding-left: 3px;
    width: 100%;
    position: relative;
    height: 300px!important;
    // margin-top: 60px!important;
    line-height: 42px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    margin-bottom: 20px!important;
    }

    .btn-outline {
    margin-bottom: 20px;
    }
    /*******NUESTROS PRODUCTOS******/
    .h-product {
    padding: inherit; !important;
    }

    .subcateg {
     margin-left:inherit; 
     margin-right:inherit;
     margin-bottom: 20px; 
    }

    .btn-cat-enviar{
    width: 40%;
    }


    .text_list_prod {
    bottom: 0px;
    font-size: 2.0rem;
    }

    .w_menu_menu{
    width: 100%!important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    }


    .h_detail_prod {
    height: 100%;
    padding: 5px;
    }

    .h-list-prodt {
    height: auto;
    }

    .box-4 {
        width: 100%;
        height: 200px;
    }

    .img_product {
    max-width: 60%!important;
    height: 100%;
    object-fit: scale-down;
    margin: 0 auto;
    top: 8px;
    position: relative;
    }

    .cuadro_product{
        background:white;
    }

  .h_submenu {
    height: 263px;
   }

/********Detalle de productos*******/
.img-contenedor {
    width: 100%;
    height: auto;
    }
.space-container {
    height: auto;
}

.margin_movil{
    margin-top: 120px;
    } 

/******detalle de articulos*****/
.text-art1 {
     padding-left:inherit; 
     padding-right:inherit; 
    font-size: 1.7rem;
    text-align: center;
    }

.text-art2 {
    left: inherit;
    padding-right:inherit;
    padding-left:inherit; 
    font-size: 1.4rem;
    text-align: center;
    overflow: hidden;
    }

/******CARIITO MODAL******/
.btn-enviar {
    width: 48%;
    text-align: center!important;
    }

.box_cart {
    padding-left: 5px;
    padding-right: 5px;
    }

/******GALERIA*******/
.mb-2 {
    margin-bottom: 3px;
    padding-right: 70px;
    padding-left: 70px;
    overflow: hidden;
}

.img_galeria {
 /*   position: absolute;*/
    }

/******************/
.box_text_com2 {
    width: 100%;
    }

.image_little {
    float: left;
    position: relative;
    left: 0px;
    top: -86px;
    margin-bottom: 0px;
}

.name {
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    font-size: 1.6rem;
    left: 0;
    right: 0;
    font-weight: 500;
    color: #4D4D4D;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 80%;
    height: 25px;
    margin-top: 30px;
    text-transform: uppercase;
}

.col-md-3.lad {
    margin-left: 0px;
}

.title-detail {
    width: 100%;
}
.descrip_detail1 {
    width: 100%;
}

.descr_prod_detail {
    text-align: left;
    font-size: 1.4rem;
    color: #5C5B5B;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 38px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;
    padding-right: 10px;
}

.container_galeria {
    width: 100%;
    height: 370px;
    margin-left: 0px;
    margin-top: 20px;
}

.text_artdetail {
    position: relative;
    /* top: 50%; */
    bottom: -102px;
    left: 2%;
    right: 0;
    width: 90%;
    /* height: 0%; */
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.73);
    font-weight: 400;
    font-size: 1.9rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
}

.text-art2 img{
      width: 100% !important;
      object-fit: cover;
}

    .img_detail {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    object-fit: scale-down;
    object-position: top;
    max-height: 480px;
}

}

@media (max-width: 700px){
    .image_little {
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 0px;
}

}

@media (max-width: 619px){
    .name {
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 91%;
    font-size: 1.1rem;
    left: 0;
    right: 0;
    font-weight: 500;
    color: #4D4D4D;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 80%;
    height: 25px;
    margin-top: 30px;
    text-transform: uppercase;
}
}

@media (max-width: 500px){
    .img_detail {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    object-fit: scale-down;
    object-position: top;
    margin-bottom: 50px;
}
.h_submenu {
    height: 100px;
}

}

@media (max-width: 480px){
    .text_title_galer {
    position: relative;
    top: 50%;
    color: rgba(48, 51, 51, 0.81);
    font-size: 1.6rem;
    font-weight: 100;
    text-align: justify !important;
    line-height: 31px;
    margin-top: 255px;
    bottom: 10px;
}

}

@media (max-width: 414px){
.h-product {
    padding: 60px;
    margin-top: -6px;
}

.img_banner_list {
    top: 0px;
    height: inherit;
    object-fit: contain;
}

.text_list_prod {
    bottom: 0px;
    font-size: 1.9rem;
    bottom: 52px!important;
}

.categorias {
    padding-top: 1em;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
}

.h_detail_prod {
    height: 100%;
    padding: 9px;
    width: 100%;
}

.quantity-compra {
    width: 10px;
    text-align: center;
}

.pigli{
    margin-right: 4px;
}

.h_submenu {
    height: 65px;
}

.text_artdetail {
    position: relative;
    /* top: 50%; */
    bottom: -102px;
    left: 5%;
    right: 0;
    width: 85%;
    /* height: 0%; */
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.73);
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
}


.name {
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 91%;
    font-size: 1.1rem;
    left: 0;
    right: 0;
    font-weight: 500;
    color: #4D4D4D;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: -13px;
    height: 40px;
    margin-top: 30px;
    text-transform: uppercase;
}

}

@media (max-width: 400px){
.text_list_prod {
    bottom: 0px;
    font-size: 1.7rem;
    bottom: 107px!important;
}

.img_banner_list {
    top: 15px;
}

.categorias {
    padding-top: 1em;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
}

}

@media (max-width: 375px){
    .h_unoymas {
    height: 414px;
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: -84px;
}

.img_banner_list {
    top: 15px;
}

.categorias {
    padding-top: 1em;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
}

.text_list_prod {
    bottom: 0px;
    font-size: 1.7rem;
    bottom: 87px!important;
}

}

@media (max-width: 360px){
    .pigli {
    margin-right: 3px;
}

}
@media (max-width: 320px){
    .text_list_prod {
    bottom: 0px;
    font-size: 1.3rem;
}

.h_unoymas {
    height: 414px;
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: -134px;
}

.img_banner_list {
    top: 15px;
}

.categorias {
    padding-top: 1em;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
}

.name-compra {
    width: 300px;
    text-align: center;
    font-size: 12px;
}

.total_money {
    padding: 15px;
    font-size: 13px;
}



}