#footer{
    background-color: #292928;
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
}

.ul-1 {
    color: gray;
    margin-top: 29px;
    font-size: 11px;
    font-weight: 300;
    width: 178%;
}

.no-dot{
    color: #ccc;
    font-weight: 100;
    font-size: 11px;
    margin-bottom: 0px;
    text-align: right;
}

.d-o {
    left: -40%;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
}

.img-foot{
    height: 51px;
    width: 230px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    object-fit: scale-down;
}

.caja-fo {
    height: 51px;
    width: 100px;
    /* float: left; */
    margin-top: 17px;
    margin-bottom: 0px;
    left: -51px;
    position: relative;
}

.a-footer {
    position: relative;
    right: 0px;
    float: left;
    font-size: 18px;
    font-weight: 300;
}

.col-md-2.footer {
    width: 13.666667%;
}

.hu {
    left: -37px;
    position: relative;
}

.he {
    left: -60px;
    position: relative;
}

.ha{
    position: relative;
    left: -15px;
}

/*----------------Responsive---------------------*/
@media (max-width: 1279px){
    .ha{
    left: -46px;
    position: relative;  
    }
}

@media (max-width: 1040px){

.caja-fo {
    margin-top: -10px;
}

}

@media (max-width: 991px){
.caja-fo {
    left: 0px;
    margin-top: 10px;
    width: 100%;
}

.d-o {
    left: 0px;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
    text-align: center;
}


.img-foot {
    height: 51px;
    width: 230px;
    float: initial;
    margin-top: 0px;
    margin-bottom: 0px;
    object-fit: scale-down;
}


.ul-1 {
    color: gray;
    margin-top: 29px;
    font-size: 11px;
    font-weight: 300;
    width: 100%;
}
.no-dot {
    color: #ccc;
    font-weight: 100;
    font-size: 11px;
    margin-bottom: 0px;
    text-align: center;
}

    .col-md-2.footer {
    width: 100%;
}

.hu {
    left: 0px;
    position: relative;
}
.ha {
    left: 0px;
    position: relative;
}

.he {
    left: 0px;
    position: relative;
}

.a-footer {
    position: relative;
    right: 0px;
    float: inherit;
    font-size: 13px;
}


}

@media (max-width: 700px){
    .img-foot {
    left: -25px;
    position: relative;
    text-align: center;
}

}

@media (max-width: 414px){


}


@media (max-width: 412px){


}

@media (max-width: 400px){



}

@media screen and (max-width: 700px){


}

@media (max-width: 375px){

.img-foot {
    left: -222px;
    position: relative;
    text-align: center;
}

.d-o {
    text-align: center;
    left: 17px;
    width: 102%;
}

.de {
    left: -32px;
    position: relative;
}

}

@media (max-width: 360px){
    .caja-fo {
    margin-top: 86px;
}

}


@media (max-width: 320px){

.caja-fo {
    margin-top: 55px;
}

.img-foot {
    left: -248px;
    position: relative;
    text-align: center;
}

.de {
    left: -21px;
    position: relative;
}

.a-footer {
    position: relative;
    right: 29px;
}

}
