.img-box{
    /*width: 320px;*/
    height:320px!important;
    object-fit: contain;
    object-position: scale-down;
    overflow: hidden;
}

.img-box img.desaturada {
    min-width: 100%;
}

.img-box img.desaturada2{
    -webkit-filter: grayscale(100%) brightness(100%);
}

.img-box img.desaturada:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    touch-action: auto;
}


.text-box{
    color: #000000;
    position: absolute;
    z-index: 1;
    text-align: center;
   /* bottom: 300px;*/
    top:  41px;
    /*padding: 72px;*/
    letter-spacing: 0px;
/*    line-height: 42px;*/
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}

.cent{
   text-align: center !important;
    color: #000000;
    position: absolute;
    z-index: 1;
    text-align: center;
   /* bottom: 300px;*/
    top:  41px;
    /*padding: 72px;*/
    letter-spacing: 0px;
/*    line-height: 42px;*/
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    padding-left: 94px;
    padding-right: 94px;
    font-size: 30px;
}

.espacio-box{
    padding-left: 0px!important;
    padding-right: 0px !important
}

/*.desaturada:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

img.desaturada { filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
min-width: 100% !important;
min-height: 320px;
}*/



/*=======MARGIN CLASSES========*/
.space5{
    margin-top: 5px !important;
}
.space10{
    margin-top: 10px !important;
}
.space15{
    margin-top: 15px;
}
.space17{
    margin-top: 17px;
}
.space20{
    margin-top: 20px;
}
.space25{
    margin-top: 25px;
}
.space30{
    margin-top: 30px;
}
.space40{
    margin-top: 40px;
}
.space50{
    margin-top: 50px;
}
.space60{
    margin-top: 60px;
}
.space70{
    margin-top: 70px;
}
.space75{
    margin-top: 75px;
}
.space80{
    margin-top: 80px;
}
.space90{
    margin-top: 90px;
}
.space100{
    margin-top: 100px;
}
.space130{
    margin-top: 130px;
}
.space148{
    margin-top: 148px;
}
.space150{
    margin-top: 150px;
}

.space160{
    margin-top: 160px;
}
.space170{
    margin-top: 170px;
}
.space180{
    margin-top: 180px;
}
.space200{
    margin-top: 200px;
}
.space240{
    margin-top: 240px;
}
.mbtm7{
    margin-bottom: 7px;
}
.mbtm10{
    margin-bottom: 10px;
}
.mbtm20{
    margin-bottom: 20px;
}
.mbtm30{
    margin-bottom: 30px;
}
.mbtm40{
    margin-bottom: 40px;
}
.mbtm50{
    margin-bottom: 50px;
}
.mbtm60{
    margin-bottom: 60px;
}
.mbtm70{
    margin-bottom: 70px;
}
.mbtm80{
    margin-bottom: 80px;
}
.mbtm90{
    margin-bottom: 90px;
}
.mbtm100{
    margin-bottom: 100px;
}
.m0{
    margin: 0;
}
.mbtm0{
    margin-bottom: 0px;
}
.mleft10{
    margin-left:10px;
}
.mright10{
    margin-right:10px;
}
.mright30{
    margin-right:30px;
}
.mauto{
    margin: 0px auto !important;
}
.mautomargin{
    margin: 40px auto !important;
}
.marginR{
    margin-right: 40px;
    text-align: center;
    margin-left: 35px;
}
.marginL{
    margin-left: 50px;
}
.margin-right{
    margin-right: 307px;
}
.marginL14{
    margin-left: 14%;
}
.mtop100{
    margin-top: -100px;
}
.border-btm{
    border-bottom: 1px solid #fff;
}

.height{
    height: 100px;
}

.height478{
    height: 478px;
}
/*========PADDING CLASSES========*/
.pad0{
    padding: 0px !important;
}
.pad10{
    padding: 10px !important;
}
.pad20{
    padding: 20px;
}
.pad30{
    padding: 30px;
}
.pad40{
    padding: 40px;
}
.pad50{
    padding: 50px;
}
.pad60{
    padding: 60px;
}
.pad70{
    padding: 70px;
}
.pad80{
    padding: 80px;
}
.pad90{
    padding: 90px;
}
.pad100{
    padding: 100px;
}
.padleft0{
    padding-left: 0px !important;
}
.padright0{
    padding-right: 0px !important;
}
.padtop0{
    padding-top: 0px !important;        
}
.padbottom0{
    padding-bottom: 0px !important;     
}
.padbottom100{
    padding-bottom: 100px !important;       
}
.padbottom60{
    padding-bottom: 60px !important;        
}

/*--------usos---------------*/

@media (max-width: 1280px){
    .cent{
        padding-left: 94px;
    }
}

@media screen and (max-width: 700px){
.text-box {
    top: 50px;
    margin: 0 auto;
    font-size: 20px;
    }

/*.container{
    padding-left:inherit!important;
}*/

.img-box{
    overflow-x: hidden;
    margin-bottom: 0px !important;
    max-height: 306px;
    overflow-y:hidden !important;
   
}

.img-box img.desaturada2{
     -webkit-filter: grayscale(0%);
}


}


