body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif ;
    font-weight: 300;
    -webkit-font-smoothing: antialiased !important;
    -webkit-overflow-scrolling: touch;

}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

a{
    color: black;
    text-decoration: none !important;
}

.cursor-pointer {
    cursor: pointer;
}



/*---header---*/
img.loading{
    width: 194px;
    margin-left: 57px;
    position: relative;
    top: 6px;
}

img.logo{
    position: relative;
    left: 16px;
    top: 43px;
    width: 15%;
}

.loh{
    margin-bottom: 42px;
}

.with{
    float: right;
    position: relative; 
    left: 83px;
    color: black;
    font-weight: 400;
}

.pres{
    text-align: center;
    font-size: 23px;
    margin-top: 108px;
    margin-bottom: 240px;
    font-weight: 100;
    /* color: #151515; */
    line-height: 31px;
    margin-left: 42px;
}

/*---banner one---*/
img.desaturada{
filter: grayscale(100%) brightness(50%);
-webkit-filter: grayscale(100%) brightness(50%);
-moz-filter: grayscale(100%) brightness(50%);
-ms-filter: grayscale(100%) brightness(50%);
-o-filter: grayscale(100%) brightness(50%);
}

img.desaturada:hover, .desaturada-hover{
    filter: grayscale(0%) brightness(50%);
-webkit-filter: grayscale(0%) brightness(50%);
-moz-filter: grayscale(0%) brightness(50%);
-ms-filter: grayscale(0%) brightness(50%);
-o-filter: grayscale(0%) brightness(50%);
touch-action: auto;
}


.banner-uno{
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 0px;
    width: 100% !important;
    height: 508px;
    margin-top: -18px;
    position: relative;
    margin-top: -31px;
}

.banner-one{
        filter: grayscale(0%) brightness(50%);
    -webkit-filter: grayscale(0%) brightness(50%);
    -moz-filter: grayscale(0%) brightness(50%);
    -ms-filter: grayscale(0%) brightness(50%);
    -o-filter: grayscale(0%) brightness(50%);
    width: 100%;
    object-fit: cover;
        height: 100%;
}

.banner-dos{
        filter: grayscale(0%) brightness(50%);
    -webkit-filter: grayscale(0%) brightness(50%);
    -moz-filter: grayscale(0%) brightness(50%);
    -ms-filter: grayscale(0%) brightness(50%);
    -o-filter: grayscale(0%) brightness(50%);
}


.pad{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.we{
    text-align: center;
    margin-top: -271px;
    font-size: 55px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
}

.wi{
   text-align: center; 
   margin-top: -2px;
   color: #fff;
    font-size: 31px;
    font-weight: 200;
    line-height: 18px;
}

/*.hidden {
  display: none;
  visibility: hidden;
} */
/*---box home---*/

.inf{
    margin-top: 60px;
    margin-bottom: -25px;
    font-size: 34px;
    font-weight: 100;
    line-height: 46px;
    z-index: 10000;
}

.hy{
    border: 6px solid black;
   /* width: 76%;*/
    height: 261px;
    margin-bottom: 26px;
    position: relative;
    top: 73px;

}

.hype{
    font-size: 72px;
    font-weight: 300;
    margin-top: 22px;
}

.hy:hover{
    background: black;
    color: #fff;
    touch-action: auto;
}

.sit{
    border: 6px solid black;
    /*width: 76%;*/
    height: 262px;
    background: black;
    color:#fff;
    position: relative;
    top: 73px;
}

.syte{
    font-size: 72px;
    font-weight: 300;
    margin-top: 23px;
}

.sit:hover{
    background: #fff;
    color: black;
    touch-action: auto;
}

.tex{
    width: 47%;
    font-size: 13px;
    font-weight: 400;

}

.text2{
    width: 53%;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    left: 7px;
    position: relative;
    top: -4px;

}

.ju{
     padding-left: 140px;
    padding-right: 0px;
}

.ju2{
    padding-left: 38px;
    padding-right: 99px;
}


.bor{
        margin-bottom: 55px;
        position: relative;
        top: 5px;
}

/*---banner desarrollo---*/

.banner-dos{
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 0px;
    width: 100% !important;
    height: 411px;
    position: relative;
    margin-top: 124px;
}


.wa{
    text-align: center;
    margin-top: -259px;
    font-size: 54px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    left: 0px;
}

.wo{
    text-align: center;
    margin-top: 16px;
    color: #fff;
    font-size: 31px;
    font-weight: 200;
    line-height: 18px;
}

.des{
     margin-top: 65px;
    margin-bottom: 78px;
    font-size: 34px;
    font-weight: 100;
}

.con-lod{
    padding-right: 0px !important;
    bottom: 21px;
}

/*--pagina-contacto--*/
.align-form-contact {
    margin-left: auto;
    margin-right: auto;
    padding-left: 305px;
    /* vertical-align: middle! important; */
    margin-top: 30px;
    padding-right: 305px;
    padding-bottom: 20px;
}


.fondo-contact {
    width: 100%;
    height: auto;
}


.psp{
    margin-top: 81px;
}


.btn:hover, .btn:focus{
    color: white;
    text-decoration: none;
    background: black;
    touch-action: auto;
}

a:hover{
    color: black;
}


.fondo-form{
    position: relative;
   background-repeat:no-repeat;
   object-fit: cover;
   background-position: 0px ;
   width: 102%;
   height: 100%;
   overflow: hidden;
   bottom: 22px;
}
.we:hover ~ .desaturada {
  -webkit-filter: grayscale(0%) brightness(50%);
}

/*----HYPE---*/

.hy-1{
   position: relative;
   bottom: 212px;
   font-size: 55px;
   color: white;
   font-weight: 800; 
   text-transform: uppercase;
   padding-left: 37px;
}

.hy-2{
   position: relative;
   bottom: 211px;
   font-size: 23px;
   color: white;
   font-weight: 400;
   margin-bottom: 74px;
   padding-left: 46px;
}

.hy-3{
    position: relative;
    bottom: 199px;
    font-size: 55px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.hy-4{
    position: relative;
    bottom: 200px;
    font-size: 23px;
    color: white;
    font-weight: 400;
}

.hy-5{
    position: relative;
    bottom: 187px;
    font-size: 55px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.hy-6{
    position: relative;
    bottom: 184px;
    font-size: 23px;
    color: white;
    font-weight: 400;
}


.cel{
    position: relative;
    bottom: 500px;
    object-fit: cover;
/*    height: 500px;*/
    padding-left: 222px;
}

.hyy{
    position: relative;
     top: -91px;
    font-size: 26px;
    text-align: left;
}

.small{
    padding-left: 123px;
}

.small-2{
    padding-left: 20px;

}

.grafia-hy{
    font-weight: 500;
    font-size: 24px;
    margin-top: 110px;
}

.cont-hy{
  font-size: 22px;
  font-weight: 300;
}

.banner-success{
    height: 732px;
    width: 100%;
    object-fit: cover;
    position: relative;
    margin-top: -22px;
    margin-bottom: -110px;
    filter: grayscale(0%) brightness(50%);
   -webkit-filter: grayscale(0%) brightness(50%);
  -moz-filter: grayscale(0%) brightness(50%);
  -ms-filter: grayscale(0%) brightness(50%);
  -o-filter: grayscale(0%) brightness(50%);
}

.success_dos {
    position: relative;
    z-index: 32;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    bottom: 200px;
    font-size: 21px;
}
.success {
    position: relative;
    z-index: 32;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    bottom: 230px;
    font-size: 37px;
}

/*---star responsive---*/
@media (min-width: 701px) and (max-width: 991px){
   .ju {
    padding-left: 38px;
    padding-right: 98px;
  }
}


/*@media (min-width: 992px) and (max-width: 1199px){
    .ju{
       padding-left: 95px;
    }

    .ju2{
        padding-right: 41px
    }
}*/


@media (max-width: 1355px){ 
    .con-lod{
        bottom: 22px;
    }
}


@media (max-width: 1280px){
   .with{
      left: 16px;
      top: 10px;
   }
    
   .des{
     margin-bottom: 26px;
     margin-top: 72px;
     top: 16px;
     position: relative;
     line-height: 41px;
   } 
   
   img.logo{
    position: relative;
    left: 16px;
    top: 43px;
    width: 15%;
   }
   
   .pres{
    margin-top: 108px;
    margin-bottom: 346px;
    /* color: #151515; */
    line-height: 31px;
    }
    
    .psp{
        margin-top: 163px;
    }


    img.loading{
        width: 212px;
        margin-left: 127px;
        top: 13px;
    }


    .we{
        margin-top: -296px;
        left: 0px;
        padding-left: 5px;
    }
    
} 

@media (max-width: 1246px){
   .with{
    left: 26px;
   }
}

@media (max-width: 1241px){
    .we{
        left: 0px;
        padding-left: 11px;
        padding-right: 11px;
    }
}

@media (max-width: 1214px){
    .with {
    left: 2px;
}

}

@media (max-width: 1209px){
   .with{
    left: 12px;
   }
}


@media (max-width: 1199px){
   .with{
        left: 101px;
   }
   
     .text2{
        width: 72%;
        top: 0px;
        left: 0px;
    }

}

@media (max-width: 1178px){
    .we {
    padding-left: 20px;
    padding-right: 11px;
}

}

@media (max-width: 1170px){
    .with{
        left: 85px;
   }
}

@media (max-width: 1160px){
   .with{
        left: 83px;
   }
} 

@media (max-width: 1125px){
  .with {
    left: 67px;
   }
} 

@media (max-width: 1095px){
   .with{
       left: 56px;
   }
   
}

@media (max-width: 1085px){
   .with{
       left: 51px;
   }
   
}

@media (max-width: 1061px){
   .with{
       left: 39px;
   }
   
}


@media (max-width: 1035px){
   .with{
       left: 26px;
   }
   
}


@media (max-width: 1010px){
   .with{
       left: 14px;
   }
   
}


@media (max-width: 991px){
.align-form-contact{
    padding-left: 0px;
    padding-right: 0px;
 }

 .linea-lod{
    width: 135%;
    left: -111px;
 }

.with{
    left: 110px;
}
.small-2{
    margin-bottom: 30px;
    padding-left: 152px;
}
.small{
    padding-left: 0px;
}
.cel{
    bottom: 99px;
    margin-bottom: 67px;
}

}

@media(max-width: 958px){
    .with {
    left: 96px; 
 }

}

@media(max-width: 928px){
   .with {
    left: 79px;
}

}

@media (max-width: 900px){
    .we{
        margin-top: -264px;
    }
}

@media (max-width: 896px){
  .with {
    left: 65px;
}

}

@media (max-width: 867px){
  .with {
    left: 48px;
}

}

@media (max-width: 867px){
  .we {
    font-size: 51px;
}

}

@media (max-width: 831px){
  .with {
    left: 28px;
}

}

@media (max-width: 802px){
  .we {
    font-size: 50px;
}

}

@media (max-width: 795px){
      .with{
       left: 13px;
      }
}

@media (max-width: 787px){
     .we {
    font-size: 49px;
 }
}

@media (max-width: 772px){
     .we {
    font-size: 48px;
 }
}


@media screen and (max-width: 700px){
   .banner-uno{
    width: 108% !important;
}
   
   .wi{
    font-size: 23px;
}
   

   .banner-dos{
    width: 108% !important;
}

   .with{
    position: relative;
    top: 4px;
    left: 1px;
}
  
   .pres{
    right: 19px;
    position: relative;
}
 
   .tex{
    width: 56%;

}
 
   .we{
    margin-top: -323px;
    font-size: 39px;
    position: relative;
    left: 0px;
    padding-left: 22px;
}

  .wa{
    margin-top: -261px;
    font-size: 38px;
    position: relative;
    left: 0px;
}

  .ju {
    padding-left: 38px;
    padding-right: 37px;
}

  .ju2 {
    padding-left: 38px;
    padding-right: 39px;
}
 
img.logo{
    width: 50%;
    left: 4px;
}

.align-form-contact{
  left: 0px;
}


img.desaturada{
filter: grayscale(0%);
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
 filter: grayscale(0%) brightness(50%);
    -webkit-filter: grayscale(0%) brightness(50%);
    -moz-filter: grayscale(0%) brightness(50%);
    -ms-filter: grayscale(0%) brightness(50%);
    -o-filter: grayscale(0%) brightness(50%);
}

img.desaturada:hover{
    -webkit-filter: grayscale(0%);
    touch-action: auto;
}

.wo{
    margin-top: 18px;
    font-size: 29px;
    line-height: 31px;
}

.fondo-form{
    width: 104%;
    height: 465px;
    object-fit: cover;
}

img.loading{
    margin-left: 46px;
}

  .background-content{
    position: relative;
    width: 100%;
    padding-right: 0px;
}

.small{
    padding-left: 0px;
    position: relative;
    margin-top: 24px;
}

.small-2 {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 35px;

}

.grafia-hy{
   margin-top: 35px;
}

.cel{
    padding-left: 55px;
}

.hyy{
    text-align: center;
}

.pri-1{
    margin-top: -77px;
}

.hy-4{
  bottom: 272px;
  font-size: 15px;
}

.hy-3{
    bottom: 265px;
}

.hy-5{
bottom: 293px;
}

.hy-6{
    bottom: 304px;
    font-size: 17px;
}

.static{
    margin-top: -309px;
}

.image-upload{
    bottom: 107px;
}

.banner-one{
    width: auto;
}
}

