{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block body %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
{% end %}

{% block javascript %}

<script src="{{ site_base }}/static/js/magnific/jquery.magnific-popup.min.js"></script>
<script src="{{ site_base }}/static/js/datetimepicker/moment.js"></script>
<script src="{{ site_base }}/static/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ site_base }}/static/js/script.js"></script>
<script>
    $(document).ready(function() {


    // Datetimepicker
    $(".date").datetimepicker({
        pickTime: false
    });

    // Magnific popup
    $(".thumbnails").magnificPopup({
        type: "image",
        delegate: "a",
        gallery: {
            enabled: true
        }
    });

    // Scroll to reviews
    $("#reviews").on("click", function(e) {
        e.preventDefault();
        $("html, body").animate({
            scrollTop: $(".panel-review").offset().top
        }, "slow");
        $("#collapse-review").collapse("show");
    });

});
</script>


<script type="text/javascript">
    $(document).ready(function()
    {
        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');

        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com');

        var app_public = $.environmentVar(8,8,8);

        $(document).ecommerce('product_detail', {
            'app_public' : app_public,
            'base_url' : base_url,
            'checkout_url': checkout_url,
            'product_id' : {{ product_id }},
            onLoad: function(product){
                related(product.bullet_3);
            }
        });
// productos relacionados
var related = function(tag){
    var config = {
        'app_public' : app_public,
        'base_url' : base_url,
        'maxProducts' : 6,
        'templateOrigin' : '#product_template',
        'tag' : '',
        'ignore_stock' : true,
    };
    $('.product-related').ecommerce('product_box', config);
};
});
</script>

<script type="text/template" id="product_detail" >
    <div id="content" class="col-sm-12">
        <div class="row space80">
            <div class="col-sm-7">
                <ul class="thumbnails">
                    <li><a class="thumbnail" href="{{! images[0]['thumb_500'] }}" title=""><img src="{{! images[0]['thumb_200'] }}" title="" alt="" class="img-responsive"></a></li>
                    <li><a class="thumbnail" href="{{! images[0]['thumb_500'] }}" title=""><img src="{{! images[0]['thumb_500'] }}" title="" alt="" class="img-responsive"></a></li>
                    <li><a class="thumbnail" href="{{! images[0][4] }}" title=""><img src="{{! images[0]['thumb_500'] }}" title="" alt="" class="img-responsive"></a></li>
                    <li><a class="thumbnail" href="{{! images[0][5] }}" title=""><img src="{{! images[0]['thumb_500'] }}" title="" alt="" class="img-responsive"></a></li>
                    <li><a class="thumbnail" href="{{! images[0][6] }}g" title=""><img src="{{! images[0]['thumb_500'] }}" title="" alt="" class="img-responsive"></a></li>
                </ul>
            </div>


            <div class="col-sm-5">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="icon ion-ios-home-outline"></i></a></li>
                    <li><a href="#">Vestidos</a></li>
                    <li><a href="#">Petal Short Romper</a></li>
                </ul>
                <h1>Petal Short Romper</h1>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>Marca:</td>
                            <td><a href="#">Apple</a></td>
                        </tr>
                        <tr>
                            <td>Codigo del Producto:</td>
                            <td>A005</td>
                        </tr>
                        <tr>
                            <td>Availability:</td>
                            <td>In Stock</td>
                        </tr>
                        <tr>
                            <td><a href="" id="reviews">Mensajes</a></td>
                            <td class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <ul class="list-unstyled">
                    <li><h2 class="price">$123.20</h2></li>
                    <li>Ex Tax: $720.00</li>
                    <li>Price in reward points: 400</li>
                </ul>
                <hr>
                <h3>Opciones Disponibles</h3>
                <div class="form-group">
                    <label class="control-label" for="input-option-date">Delivery Date</label>
                    <div class="input-group date">
                        <input type="text" name="date" value="" data-date-format="YYYY-MM-DD" placeholder="2015-09-22" id="input-option-date" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="icon ion-ios-calendar-outline"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="input-quantity">Cantidad</label>
                    <input type="number" value="1" id="quantity" class="form-control">
                    <br />
                    <!-- <button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-lg btn-primary btn-block">Agregar al carrro</button> -->
                    <button product-id="{{! id }}" product-name="{{! name }}" product-price="{{! main_price }}" product-upp="{{! upp }}" class="add-to-cart btn btn-lg btn-primary btn-block">
                        <i class="fa fa-shopping-cart" data-toggle="modal" data-target="#myModal"></i>
                        &nbsp;Agregar al carro
                    </button>
                </div>
                <!-- <button type="button" id="button-wishlist" class="btn btn-default btn-block">Add to Wishlist</button> -->
                <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-default btn-block"><i class="fa fa-heart-o"></i></button>
                <button type="button" id="button-compare" class="btn btn-default btn-block">Comparar este producto</button>
                <br />

                <!-- Description -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapse-description" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle product__details">Descripcion <i class="fa fa-angle-down"></i></a></h4>
                    </div>
                    <div id="collapse-description" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>{{! description }}</p>
                        </div>
                    </div>
                </div>
                <!--/ Description -->

                <!-- Specification -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapse-specification" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Especificación <i class="fa fa-angle-down"></i></a></h4>
                    </div>
                    <div id="collapse-specification" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th colspan="2">Memory</th>
                                </tr>
                                <tr>
                                    <td>Test 1</td>
                                    <td>16Gb</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Processor</th>
                                </tr>
                                <tr>
                                    <td>No. of Cores</td>
                                    <td>4</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/ Specification -->

                <!-- Reviews -->
                <div class="panel panel-default panel-review">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapse-review" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Opiniones (2) <i class="fa fa-angle-down"></i></a></h4>
                    </div>
                    <div id="collapse-review" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal" id="form-review">
                                <table class="table">
                                    <tr>
                                        <td class="text-left"><i class="icon ion-ios-person"></i></td>
                                        <td style="width: 72%;"><strong>Helen</strong></td>
                                        <td class="text-right">10/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <br />
                                <table class="table">
                                    <tr>
                                        <td class="text-left"><i class="icon ion-ios-person"></i></td>
                                        <td style="width: 72%;"><strong>Mark</strong></td>
                                        <td class="text-right">10/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </td>
                                    </tr>
                                </table>
                                <h2>Escribir Comentario</h2>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-name">Tu nombre</label>
                                        <input type="text" name="name" value="" id="input-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-review">Tu Comentario</label>
                                        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                        <div class="help-block">
                                            Note: HTML is not translated!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label">Clasificacion</label>
                                        &nbsp;&nbsp;&nbsp; Malo &nbsp;
                                        <input type="radio" name="rating" value="1">
                                        &nbsp;
                                        <input type="radio" name="rating" value="2">
                                        &nbsp;
                                        <input type="radio" name="rating" value="3">
                                        &nbsp;
                                        <input type="radio" name="rating" value="4">
                                        &nbsp;
                                        <input type="radio" name="rating" value="5">
                                        &nbsp; Bueno
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="g-recaptcha" data-sitekey=""></div>
                                    </div>
                                </div>
                                <div class="buttons clearfix">
                                    <div class="pull-right">
                                        <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continuar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/ Reviews -->

                <!-- Tags -->
                <p class="tags">Etiquetas:
                    <a href="#">Ropa</a>,
                    <a href="#">Vestir</a>,
                    <a href="#">Mujer</a>
                </p>
                <!--/ Tags -->

            </div>
        </div>
    </div>
</script>

<!-- 
{% end %} -->


{% block body %}
{% include '../home/header.html' %}


<div class="container-fluid">
    <div class="container row product-page"></div>

    <!-- Related Products -->
    <h3>Related Products</h3>
    <div class="row">

        <!-- Product Item -->
        <div class="product-layout product-grid col-xs-6 col-sm-4 col-md-3">
            <div class="product-thumb">
                <div class="sale" data-toggle="tooltip" data-placement="top" title="Sale"><i class="icon ion-ios-flame"></i></div>
                <figure>
                    <div class="image">
                        <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
                    </div>
                    <figcaption>
                        <div class="name">
                            <a href="#">Star Print Americana Sweater</a>
                        </div>
                        <div class="price">
                            {{! main_price }}
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!--/ Product Item -->






    </div>
    <!--/ Related Products -->
    <div class="col-sm-12 product-related">
        <div class="row products">

            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div> 
            </div>
            <!-- en este fragmento se pega el listado de productos traidos de bodega -->
            <!-- /product-->
        </div>

    </div>

</div>


</div>




{% include '../home/footer.html' %}
{% end %}
