.salir_registro div{
  display: none;

}
.salir_registro:hover div {
  display: inline;

}
.salir_registro_1 {
background-color: rgb(248, 167, 151);
color: white;
width: 30px;
height: 30px;
display: block;
float: right;
font-size: 16px;
margin-top: -30px;
z-index: 300;
border-radius: 15px;
line-height: 1.8em;
margin-right: -12px;
text-align: center;
}
.header-left-social{
  width: 80%;
  height: auto;
  float: left;
  margin-top: 13px;
}

.iconos {
  float: left;
  color: rgb(77, 77, 77);
  text-align: center;
}

.iconos i{
  font-size: 25px;
}

.iconos-left {
  margin-left: 15%;
}
.margin-left-2{
  margin-left: 0%;

}

.carritoicono {
  float: left;
  height: 30px;
  margin: 16px 0 0 29.63997%;
}

.carritoicono .image {
  float: left;
  width: 30px;
  margin-left: -3.28125%;
}

.carritoinfo {
  float: left;
  clear: both;
  width: 99.9958989501%;
  border: 1px solid rgb(172, 110, 97);
  background-color: rgb(255, 248, 246);
  min-height: 100px;
}

.carritoproductos {
  display: none;
  position: absolute;
  top: 46px;
  left: 62.7845982142%;
  z-index: 80;
  width: 27.2142857142%;
}

.flecha {
  float: left;
  width: 100%;
  height: 14px;
  margin-top: -1px;
  position: relative;
}

.flecha .image {
  float: left;
  width: 15px;
  margin: 1px 0 0 53.5269%;
}

.flecharegistro {
  position: relative;
  float: left;
  clear: both;
  z-index: 87;
  width: 99.9906994047%;
  height: 15px;
  margin-top: -128px;
}

.flecharegistro .image {
  float: left;
  width: 15px;
  margin-left: 45.53065%;
}

.text {
  float: left;
}
.productosencola {
  position: relative;
  float: left;
  width: 93.9352710781%;
  height: 107px;
  margin: 1px 0 0 2.63451%;
  border-bottom: 1px solid rgb(232, 169, 156);
}
.total {
  float: left;
  clear: both;
  width: 93.9352710781%;
  margin-left: 2.74583%;
}
.totalcarrrito {
  float: right;
  width: 31.1317254174%;
  min-height: 32px;
  margin: 12px 2.63343% 0 0;
  font-size: 1.333em;
  font-weight: 500;
  line-height: 1.58;
  text-align: right;
  color: rgb(0, 0, 0);
}
.acciones {
  float: left;
  clear: both;
  width: 100.004101218%;
  height: 60px;
  margin-top: 2px;
}
.registroopciones {
  visibility: hidden;
  position: absolute;
  top: 46px;
  left: 78%;
  z-index: 88;
  width: 12%;
}
.opcionesregistro {
  position: relative;
  float: left;
  z-index: 85;
  width: 99.9906994047%;
  margin-top: 13px;
  border: 1px solid rgb(232, 169, 156);
  background-color: rgb(255, 224, 218);
}

.opcionesregistro .text {
  width: 100%;
  min-height: 28px;
  font-size: 1em;
  font-weight: 400;
  line-height: 2.38;
  text-align: center;
  color: rgb(172, 110, 97);
}
.header-clearfix{
  clear: both;
}
.body-login {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 118;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.43);
}
.loginpopup {
  float: left;
  /* border: 1px solid rgb(255, 224, 218);
  background-color: rgb(254, 245, 244); */
  width: 80%;
  /* margin: 20px auto; */
  /* height: 100%; */
  margin-left: 10%;
  margin-top: 20px;
  }
.reg-strate-correo {
  float: left;
  clear: both;
  width: 46.8113975576%;
  margin-left: 1.66667%;
  padding-bottom: 30px;
}

.reg-strate-correo .text {
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.reg-strate-fb {
  float: left;
  width: 37.2789115646%;
  height: 269px;
  margin: 13px 0 0 8.96259%;
}

.reg-strate-login {
  position: relative;
  float: left;
  z-index: 99;
  width: 46.8113975576%;
  margin: 13px 0 0 1.66667%;
  padding-bottom: 30px;
}

.reg-strate-login .text {
  margin-left: -0.1317%;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}
.fotoproductoencola {
  position: relative;
  float: left;
  width: 19.6629213483%;
  height: 70px;
  margin: 16px 0 0 3.65169%;
}

.fotoproductoencola .image {
  position: absolute;
  top: 0;
  left: -0.5580357143%;
  z-index: 68;
  width: 70px;
}
.nombreproductoencola {
  position: relative;
  float: left;
  z-index: 70;
  width: 36.9393139841%;
  min-height: 16.5px;
  margin: 10px 0 0 7.54477%;
  font-size: 1.167em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}
.color {
    clear: both;
    color: rgb(0, 0, 0);
    float: left;
    font-size: 1em;
    font-weight: 400;
    height: 15px;
    line-height: 1.38;
    margin: -57px 0 0 30.8594%;
    min-height: 16.5px;
    overflow: hidden;
    position: relative;
    width: 36.9393%;
    z-index: 71;
}
.eliminarproducto {
  display: block;
  position: relative;
  float: left;
  z-index: 73;
  width: 8.7071240105%;
  height: 23px;
  margin: -76px 0 0 91.28775%;
  border-radius: 3px;
  font-size: 1.333em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(172, 110, 97);
}

.eliminarproducto:hover {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(232, 169, 156);
}
.talla {
  position: relative;
  float: left;
  z-index: 74;
  width: 36.9393139841%;
  min-height: 16.5px;
  margin: -39px 0 0 30.90327%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}
.cantidad {
  position: relative;
  float: left;
  z-index: 75;
  width: 19.6629213483%;
  min-height: 16.5px;
  margin: -16px 0 0 30.90327%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}
.precio {
  position: relative;
  float: left;
  z-index: 72;
  width: 36.9393139841%;
  min-height: 16.5px;
  margin: -21px 0 0 8.89221%;
  font-size: 1.333em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}
.comprar, .iralcarro {
  display: block;
  float: left;
  width: 40.8987837559%;
  height: 41px;
  margin: 10px 0 0 5.80499%;
  border: 1px solid rgb(172, 110, 97);
  background-color: rgb(255, 224, 218);
  font-size: 1.333em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(172, 110, 97);
}
.comprar:hover,
.iralcarro:hover {
  background-color: rgb(232, 169, 156);
  color: rgb(255, 255, 255);
}
.header-content {
  position: relative;
  float: left;
  z-index: 62;
  width: 100%;
  height: 180px;
}

.header-left-cont {
  position: relative;
  float: left;
  z-index: 56;
  width: 18.7857142857%;
  height: 135px;
  margin-left: 10%;
}

.header-menu {
  float: left;
  clear: both;
  width: 80%;
  height: 45px;
  margin-left: 10%;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.header-rigth-cont {
  position: relative;
  float: left;
  z-index: 61;
  width: 18.7857142857%;
  height: 135px;
  margin-left: 42.42746%;
}
.categoria-1 {
  display: block;
  float: left;
  width: 20%;  
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.8px;
  margin-top: 20px;
}

.categoria-1:hover {
  color: rgb(232, 169, 156);
}
.categoria-1-1,
.categoria-1-2,
.categoria-1-3,
.categoria-1-4 {
  color: rgb(77, 77, 77);
}

.categoria-1-4:hover {
  background-color: rgba(0, 0, 0, 0);
}

.categoria-1-5 {
  color: #4d4d4d;
}


.header-left-cont ._button {
  float: left;
  width: 68.8212927756%;
  height: 30px;
  margin-top: 15px;
  border-width: 1px;
  border-color: rgb(207, 207, 207);
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  font: 1.167em/1.38 'Ubuntu Condensed';
  text-align: justify;
  color: rgb(176, 176, 176);
}

.header-rigth-cont ._button {
  float: right;
  width: 100%;
  height: 30px;
  border-width: 1px;
  border-color: rgb(172, 110, 97) rgb(172, 110, 97) rgb(231, 169, 156);
  background-color: rgb(255, 224, 218);
  font-size: 1em;
  font-weight: 300;
  line-height: 2.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(231, 169, 156);
  overflow: hidden;
}

.header-rigth-cont ._container {
  float: left;
  width: 53.2319391634%;
  margin: 16px 0 0 5.69154%;
}

.reg-strate-correo ._button {
  float: left;
  clear: both;
  width: 62.6086956521%;
  height: 39px;
  margin-top: 21px;
  border-width: 1px;
  border-color: rgb(172, 110, 97);
  border-radius: 3px;
  background-color: rgb(232, 169, 156);
  font-size: 1.333em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(172, 110, 97);
}

.reg-strate-login ._button {
  float: left;
  clear: both;
  width: 100%;
  height: 39px;
  margin: 30px 0 0 -0.1317%;
  border-width: 0px;
  border-color: rgb(172, 110, 97);
  background-color: rgb(232, 169, 156);
  font-size: 1.333em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
.reg-strate-login ._button:hover {
  background-color: rgb(255, 224, 218);
  color: rgb(172, 110, 97);
}

.reg-strate-login ._input {
  margin-left: -0.1317%;
}

.logo-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 114;
  width: 42.4274553571%;
  height: 135px;
  margin: 0 auto;
}

.logo-content .image {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 260px;
}

.image-1 {
  top: 0;
  bottom: 0;
  z-index: 113;
  width: 260px;
  margin: auto 0;
}

.image-2 {
  visibility: hidden;
  top: 0;
  z-index: 112;
  width: 268px;
}

.image-3 {
  visibility: hidden;
  top: 0;
  bottom: 0;
  z-index: 111;
  width: 242px;
  margin: auto 0;
}

.image-4 {
  visibility: hidden;
  top: 23px;
  z-index: 110;
  width: 373px;
}

.image-5 {
  visibility: hidden;
  top: 0;
  bottom: 0;
  z-index: 109;
  width: 373px;
  margin: auto 0;
}

a.redes_sociales{  
  color: rgb(77, 77, 77);
  cursor: pointer;
}
@media(max-width: 1199px) {
  .carritoproductos {
  display: none;
  position: absolute;
  top: 46px;
  left: 55.784598%;
  z-index: 80;
  width: 34.214286%;
  }
  .flecha .image {
  float: left;
  width: 15px;
  margin: 1px 0 0 49.5269%;
  }
  .header-left-cont ._button, .header-rigth-cont ._button {
  width: 100%;

}
@media(max-width: 979px) {
  .flecha .image {
  float: left;
  width: 15px;
  margin: 1px 0 0 49.5269%;
  }

}
@media(max-width: 767px) {
  .carritoproductos {
  display: none;
  position: absolute;
  top: 46px;
  left: 42.784598%;
  z-index: 80;
  width: 47.214286%;
  }
  .flecha .image {
  float: left;
  width: 15px;
  margin: 1px 0 0 63.5269%;
  }
  .categoria-1 {
  margin-top: 10px;
}
  .loginpopup .reg-strate-login {
position: relative;
z-index: 99;
width: 80.6192138412%;
margin-left: 9.69495%;
}

}
@media(max-width: 479px) {
  .header-left-social {
width: 100%;
height: auto;
float: left;
margin-top: 30px;
}
.iconos i {
font-size: 35px;
}
.margin-left-2{
  margin-left: 24%;

}
  .carritoproductos {
  display: none;
  position: absolute;
  top: 46px;
  left: 5%;
  z-index: 80;
  width: 90%;
  }
  .flecha .image {
  float: left;
  width: 15px;
  margin: 1px 0 0 2%;
  }
  .carritoicono {
  float: left;
  height: 30px;
  margin: 16px 0 0 0%;
  }
  .header-rigth-cont ._container {
  float: none;
  width: 53.2319391634%;
  margin: 16px auto;
  }
}
/* para activo de tienda */

.activo
{
  color: #F26663 !important;
}
.espacio_superior
{
  width: 100%;
  height: 10px;
}

.fixed-menu-me
{
  position:fixed;
  width: 100%;
  z-index: 2000; 
  background-color:rgb(255, 70, 129);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(3, 3, 3, 0.9);
  -moz-box-shadow: 0px 0px 4px 0px rgba(3, 3, 3, 0.9);
  box-shadow: 0px 0px 4px 0px rgba(3, 3, 3, 0.9);
}

/*.fixed-menu-me .container-fluid 
{
  max-width: 100%;
  padding: 0px;
}*/