<script type="text/template" id="product_template" >
    <div class="lg-yellow box space20">
        <div class="row ">
            <div class="col-md-6 text-center product-center">
                <img src="{{ images[0]['url'] }}" onload="this.src'{{ images[0]['thumb_200'] }}'" class="img-responsive product-image mautomargin" alt="ite">
            </div>
            <div class="col-md-6 box-desc">
                <h2>{{ name }}</h2>
                <div class="box2">
                    <p class="text priority">{{ description }}</p>
                </div>
                <div class="btn-box">
                    <a href="{{ bullet_1 }}">
                        <button class="btn line-button">Shop online</button>
                    </a>
                    <a href="' + site_base + '/sc/product/detail/{{ name|friendly }}/{{ id }}">
                        <button class="btn line-button">Where to buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>
