.inf-art {
    font-size: 15px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 99%;
    padding: 9px;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.titulo{
    position: absolute;
    width: 96%;
    text-align: center;
    bottom: 0px;
    margin-bottom: 11px;
    color: white;
    font-weight: 300;
    font-size: 29px;
    /* font-family: Thaoma,Verdana,sans-serif; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    height: auto;
}

.bajada{
    font-size: 22px;
    margin-top: 36px;
    margin-bottom:100px;
    color: #333;
    font-weight: 300;
    text-align: center;
    width: 80%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mini-articulos {
    height: 350px;
    width: 114%;
    object-fit: cover;
    position: relative;
     margin-bottom: -2px;
    margin-top: 2px;
}

.article-box
{
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    /*left: 13px;*/
}

.article-box .content {
    position: relative;
    overflow: hidden;
}

.article-box .img-1
{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}


.article-box:nth-child(4n+2) 
{
    width: 50%
}

.article-box:nth-child(4n+3)
{
    height: 330px;
}


.article-box:nth-child(4n+3) .di,
.article-box:nth-child(4n+4) .di 
{
    line-height:330px;
}

/*--------articulos nuevos------*/


.col-md-12:nth-child(even)>.zig{
    float: right;
    left: -31px;
    margin-top: 110px;
}

.col-md-12:nth-child(even)>.lef{
    margin-top: 115px;
    width: 47%;
   /* left: -192px;*/
    left: -74px;
}

.col-md-12:nth-child(3n)>.zig{
    margin-top: 110px;
}

.col-md-12:nth-child(3n)>.lef{
    margin-top: 113px;
}

.spa{
   margin-top: 50px;
}

.tres{
    font-size: 25px;
    position: relative;
    left: 77px;
    width: 65%;
    margin-top: 0px;
    font-weight: 200;
    color: #555;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cuatro{
    font-size: 15px;
    position: relative;
    left: 78px;
    width: 84%;
    font-weight: 300;
/*    height: 281px;*/
    color: rgba(85, 85, 85, 0.89);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.di{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 330px;
}

.box-4{
    position: relative;
    overflow: hidden;
    height: 330px;
}

.box-4 .mask{
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.box-4:hover .mask{
    opacity: 1;
}
.img-1 {
    height: 479px;
    object-fit: cover;
    width: 148%;
}

.btn-outline {
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 41px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    background: rgba(68, 64, 64, 0.58);
    color: white;
    border: 2px solid white;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    display: inline-block;
}


.btn-outline:hover{
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 41px;
     margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    background: rgb(255, 255, 255);
    color: #505050;
    border: 2px solid #505050;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    display: inline-block;
}

.til-ban {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 80%;
    margin-bottom: 51px;
    color: white;
    font-weight: 300;
    font-size: 35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 7%;
}

.dan{
    text-align: left;
    font-size: 21px;
    color: rgb(85, 85, 85);
    margin-bottom: 48px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;

}

.especial{
    color: #777;
    font-weight: 300;
    font-size: 27px;
    margin-top: -9px;
}

.fin-art {
    position: relative;
    top: -134px;
    margin-bottom: 90px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 50%;
    margin-top: 209px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-weight: 300; */
}

hr.len {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(85, 85, 85, 0.75);
    width: 58%;
    position: relative;
    top: -212px;
}

.fin-art-2{
     position: relative;
    top: -203px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.66);
    width: 72%;
    font-weight: 200;
    line-height: 29px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cont-rel{
    margin-right: 0px;
    margin-left: 0px;
}

a.lok {
    float: left;
    position: relative;
    top: 0px;
    color: black;
    text-align: left;
    left: 78px;
    font-weight: 600;
}

.box-6 {
    position: relative;
    overflow: hidden;
    height: 350px;
}
.box-6 .mask-6 {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
   /* left: 0px; */
}

.box-6:hover .mask-6 {
    opacity: 1;
}
.fondo-articulo{
    width: 100%;
    height: 370px;
    object-fit: cover;
    filter: grayscale(0%) brightness(58%);
    -webkit-filter: grayscale(0%) brightness(58%);
    -moz-filter: grayscale(0%) brightness(58%);
    -ms-filter: grayscale(0%) brightness(58%);
    -o-filter: grayscale(0%) brightness(58%);
}
/*----------------------------------------Responsive---------------------------*/

@media (max-width: 1209px){
    .fondo-articulo {
    width: 100%;
    height: 370px;
    object-fit: cover;
    margin-top: -65px;
    filter: grayscale(0%) brightness(58%);
    -webkit-filter: grayscale(0%) brightness(58%);
    -moz-filter: grayscale(0%) brightness(58%);
    -ms-filter: grayscale(0%) brightness(58%);
    -o-filter: grayscale(0%) brightness(58%);
}

}

@media (max-width: 1200px){
    .titulo {
    position: absolute;
    width: 94%;
    font-size: 24px;
}

}

@media (max-width: 991px){
.mini-articulos {
    height: 397px;
    width: 100%;
    left: 0px;
}

.tres {
    font-size: 30px;
    position: relative;
    left: 0px;
    width: 100%;
    margin-top: 39px;
}

.cuatro {
    font-size: 16px;
    position: relative;
    left: 0px;
    width: 100%;
}

.titulo {
    position: absolute;
    width: 93%;
    font-size: 22px;
}

.col-md-12:nth-child(even)>.zig {
    float: right;
    left: 0px;
    margin-top: 50px;
    margin-bottom: -93px;
}

.col-md-12:nth-child(even)>.lef {
    width: 100%;
    /* left: -192px; */
    left: -5px;
    margin-top: 100px;
    margin-bottom: -172px
}

.col-md-12:nth-child(3n)>.lef {
    margin-top: 18px;
    margin-bottom: 35px;
}

.article-box {
    padding: 0px 0px 10px 0px;
    margin-top: 135px;
    left: -6px;
}

.col-md-12:nth-child(3n)>.zig {
    margin-top: 222px;
}

a.lok {
    float: left;
    position: relative;
    top: 0px;
    color: black;
    text-align: left;
    left: 0px;
    font-weight: 600;
    z-index: 1030;
}

.fin-art {
    position: relative;
    top: 0px;
    margin-bottom: 225px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 50%;
    margin-top: 209px;
}

.box-6 .mask-6 {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 96%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 14px;
}

.til-ban {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 80%;
    margin-bottom: 50px;
    color: white;
    font-weight: 300;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 10%;
}

}

@media (max-width: 859px){
.mini-articulos {
    height: 397px;
    width: 100%;
    left: -2px;
}

}

@media (max-width: 800px){
    .article-box {
    padding: 0px 61px 10px 28px;
}

.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 88%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 767px){
    .titulo {
    position: absolute;
    width: 93%;
    font-size: 30px;
}

.dan img{
    width: 100% !important;
     object-fit: contain;
}

}

@media (max-width: 700px){

.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 87%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.box-6 .mask-6 {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 95%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 14px;
}

}

@media (max-width: 650px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 86%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 320px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 85%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 600px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 85%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 570px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 84%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 560px){
    .titulo {
    position: absolute;
    width: 93%;
    font-size: 30px;
}
.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 84%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 540px){
.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 83%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 500px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 82%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 482px){
    .titulo {
    position: absolute;
    width: 93%;
    font-size: 28px;
}

}

@media (max-width: 480px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 82%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 460px){
 .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 80%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 440px){
.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 79%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 436px){
    .titulo {
    position: absolute;
    width: 93%;
    font-size: 28px;
}

}

@media (max-width: 414px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 78%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.box-6 .mask-6 {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 91%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 14px;
}

.col-md-12:nth-child(3n)>.lef {
    margin-top: 3px;
    margin-bottom: 35px;
}

.tres {
    font-size: 30px;
    position: relative;
    left: 0px;
    width: 100%;
    margin-top: 15px;
}

}


@media (max-width: 400px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 77%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.fin-art {
    position: relative;
    top: 0px;
    margin-bottom: 225px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.66);
    width: 79%;
    margin-top: 209px;
}

a.lok {
    float: left;
    position: relative;
    top: 0px;
    color: black;
    text-align: left;
    left: 0px;
    font-weight: 600;
    margin-bottom: 50px;
}

.col-md-12:nth-child(3n)>.lef {
    margin-top: 8px;
    margin-bottom: 0px;
}

}

@media (max-width: 397px){
    .titulo {
   margin-bottom: : 0px;
}

}

@media (max-width: 397px){
    .titulo {
   margin-bottom: : 7px;
}

}

@media (max-width: 375px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 76%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.box-6 .mask-6 {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 90%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 14px;
}

}

@media (max-width: 350px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 74%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 320px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 72%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.box-6 .mask-6 {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 88%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 14px;
}

}

@media all and (max-width: 992px){
    .article-box 
    {
        padding: 0px 0px 10px 10px;
    }


    .article-box:nth-child(4n+3),
    .article-box:nth-child(4n+4) 
    {
        height: 400px;
    }

    .article-box:nth-child(4n+3) .di,
    .article-box:nth-child(4n+4) .di 
    {
        line-height: 400px;
    }

    .article-box:nth-child(4n+2) 
    {
        width: 100%;
    }

}


@media all and (max-width: 700px){
 /*   .article-box 
    {
        padding: 0px 10px 10px 10px;
    }*/
.article-box {
    padding: 0px 48px 10px 43px;
    left: 0px;
}

}
