
<script type="text/template" id="product_template">
   <div class="clearfix-dos"> </div>
   <div class="green-box">
          <div class="col-md-4 col-sm-6 col-xs-6 art-hi">
             <div alig="center">
               <div class="contenedor-img">
               <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                <img src="{{! images[0]['thumb_500'] }}" alt="" class="img-responsive img-pro" >
                <p class="inf ellipsis multiline">{{! name }}</p>
                </a>
                </div>
              </div>
          </div>  
          </div>        
</script>
