<script type="text/template" id="product_template_home" class="hidden">
    <div align="center" class="hidden-xs visible-md visible-lg visible-sm">
         <div>
            <div align="center cont-rel" style="border: 1px solid #a8a2a4 !important; height: 230px;width: 93%;">
                 <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                     <img src="{{! images[0]['thumb_200'] }}" alt="" class="img-responsive mini" >
                     <p class="inf-rel2">{{! name }}</p>       
                  </a>
            </div>
         </div>
     </div>
</script>

<script type="text/template" id="product_template_home2">
       <div align="center" class="visible-xs hidden-md hidden-lg hidden-sm">
         <div class="col-xs-6">
              <div class="contenedor-img">
                 <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                     <img src="{{! images[0]['thumb_200'] }}" alt="" class="img-responsive mini" >
                     <p class="inf-rel">{{! name }}</p>       
                  </a>
              </div>
         </div>
     </div>
</script>
