{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}

<!-- <div id="search-overly" class="search-overly-mask">
        <a class=" search-close search-overly-close-trigger "> <i class=" fa fa-times-circle"> </i> </a>
        <div class="container-fluid">
            <form class="form-horizontal to">
                <fieldset>


                    <div class="control-group">
                        <label class="control-label">Search into the shop..</label>
                        <div class="controls hei">
                            <div class="search " role="search" id="mySearch">
                                <input class="form-control" placeholder="Start typing " type="search">
                                <span class="input-group-btn lup">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                        <span class="sr-only">Search</span>
                                    </button>
                                </span>
                            </div>

                            <p class="help-block hide">help</p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div> -->

    <div class="overly-mask"> </div>

    <aside class="cart-sidebar cart-list">
        <div class="cart-sidebar-content">
            <div class="cartMenu   col-xs-12 no-margin-no-padding  ">
                <div class="cart-sidebar-header">
                    <h3>Your Bag </h3>
                    <div class="cart-close-trigger">
                        <button class="close" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="w100  scroll-pane">
                    <table>
                        <thead>
                            <tr>
                                <td>Imagen</td>
                                <td>Detalle</td>
                                <td>cerrar</td>
                            </tr>
                        </thead>
                        <tbody  class="shopping-cart">
                            <!-- <tr class="miniCartProduct">
                                <td class="miniCartProductThumb" style="20%">
                                    <div><a href="product-details.html"> <img alt="img" src="{{site_base}}/static/images/product/16.jpg"> </a>
                                    </div>
                                </td>
                                <td style="40%">
                                    <div class="miniCartDescription">
                                        <h4><a href="product-details.html"> Denim T shirt Black </a></h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"><span> $8.80 </span></div>
                                    </div>
                                </td>
                                <td class="delete" style="20%">
                                    <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                </td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td class="miniCartProductThumb" style="20%">
                                    <div><a href="product-details.html"> <img alt="img" src="{{site_base}}/static/images/product/5.jpg"> </a>
                                    </div>
                                </td>
                                <td style="40%">
                                    <div class="miniCartDescription">
                                        <h4><a href="product-details.html"> Denim T shirt Black </a></h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"><span> $8.80 </span></div>
                                    </div>
                                </td>
                                <td class="delete" style="20%">
                                    <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                </td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td class="miniCartProductThumb" style="20%">
                                    <div><a href="product-details.html"> <img alt="img" src="{{site_base}}/static/images/product/7.jpg"> </a>
                                    </div>
                                </td>
                                <td style="40%">
                                    <div class="miniCartDescription">
                                        <h4><a href="product-details.html"> Denim T shirt Black </a></h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"><span> $8.80 </span></div>
                                    </div>
                                </td>
                                <td class="delete" style="20%">
                                    <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                </td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td class="miniCartProductThumb" style="20%">
                                    <div><a href="product-details.html"> <img alt="img" src="{{site_base}}/static/images/product/13.jpg"> </a>
                                    </div>
                                </td>
                                <td style="40%">
                                    <div class="miniCartDescription">
                                        <h4><a href="product-details.html"> Denim T shirt Black </a></h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"><span> $8.80 </span></div>
                                    </div>
                                </td>
                                <td class="delete" style="20%">
                                    <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                </td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td class="miniCartProductThumb" style="20%">
                                    <div><a href="product-details.html"> <img alt="img" src="{{site_base}}/static/images/product/4.jpg"> </a>
                                    </div>
                                </td>
                                <td style="40%">
                                    <div class="miniCartDescription">
                                        <h4><a href="product-details.html"> Denim T shirt Black </a></h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"><span> $8.80 </span></div>
                                    </div>
                                </td>
                                <td class="delete" style="20%">
                                    <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                </td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td class="miniCartProductThumb" style="20%">
                                    <div><a href="product-details.html"> <img alt="img" src="{{site_base}}/static/images/product/9.jpg"> </a>
                                    </div>
                                </td>
                                <td style="40%">
                                    <div class="miniCartDescription">
                                        <h4><a href="product-details.html"> Product Item </a></h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"><span> $90 </span></div>
                                    </div>
                                </td>
                                <td class="delete" style="20%">
                                    <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                   
                </div>
                <div class="miniCartFooter cart-panel-footer clearfix">
                    <div class"shopping-cart-total total"></div>
                    <div class="checkout-form"></div>
                </div>
                
<!--                 <div class="miniCartFooter cart-panel-footer clearfix">
                    <h3 class="text-right subtotal"> Subtotal: $210 </h3>
                    <div class="col-sm-6 ">
                        <a class="btn btn-danger  btn-block">
                            <i class="fa fa-shopping-cart"> </i> VIEW CART </a>
                    </div>
                    <div class="col-sm-6 ">
                        <a class="btn  btn-primary btn-block ">
                            CHECKOUT </a>
                    </div>
                </div>
 -->
                    </div>

                </div>

    </aside>


    <div class="navbar navbar-default navbar-hero  navbar-fixed-top megamenu" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span></button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i class="fa fa-shopping-cart colorWhite"> </i> <span class="cartRespons colorWhite"> Cart ($210.00) </span></button>
               <!--  <a href="index.html">   -->
               <div class="navbar-brand">
                  {% if is_admin %}
                <div class="image-upload">
                    <label for="img_logo1">
                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_logo1" name="image" id="img_logo1" >
                </div>
                {% end %}
                <a id="{{ site.name + '_div1' }}" href="{{ site_base }}/">
                <img id="{{ site.name }}_logo1" src="{{ read_image(site.name + '_logo1', 1) }}" onload="this.src='{{ read_image(site.name + '_logo1', 200) }}'" class="" alt="item" style="height: 100%;">
                </a>

               <!--  <img src="https://84static.loadingplay.com/static/images/81d0aa3bb0f8267cfc9f0687d269c5f1_logo-dark.png" alt="TSHOP">  -->
                </div>
                <!-- </a> -->

                <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                    <div class="input-group">
                        <button class="btn btn-nobg search-trigger" type="button"><i class="fa fa-search"> </i></button>
                    </div>

                </div>
            </div>

            <div class="navbar-cart  collapse">
                <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
                    <div class="w100 miniCartTable scroll-pane">
                        <table>
                            <tbody>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="{{site_base}}/static/images/product/3.jpg" alt="img"> </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>
                                            <div class="price"><span> $8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="{{site_base}}/static/images/product/2.jpg" alt="img"> </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>
                                            <div class="price"><span> $8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="{{site_base}}/static/images/product/5.jpg" alt="img"> </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>
                                            <div class="price"><span> $8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="{{site_base}}/static/images/product/3.jpg" alt="img"> </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>
                                            <div class="price"><span> $8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="{{site_base}}/static/images/product/3.jpg" alt="img"> </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>
                                            <div class="price"><span> $8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="{{site_base}}/static/images/product/4.jpg" alt="img"> </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>
                                            <div class="price"><span> $8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="miniCartFooter  miniCartFooterInMobile text-right">
                        <h3 class="text-right subtotal"> Subtotal: $210 </h3>
                        <a class="btn btn-sm btn-danger" href="cart.html"> <i class="fa fa-shopping-cart"> </i> VIEW CART
                        </a> <a href="checkout-0.html" class="btn btn-sm btn-primary"> CHECKOUT </a></div>

                    </div>

                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#"> Home </a></li>
                        <li class=" "><a href="#"> Nuevo </a></li>

                        <li class="dropdown megamenu-fullwidth "><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            Navegar
                            <b class="caret"> </b> </a>
                            <ul class="dropdown-menu hero-submenu">
                                <li class="megamenu-content">

                                    <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                        <li>
                                            <p class="menu-title"><strong> Men Collection </strong></p>
                                        </li>
                                        <li><a href="#"> Male Fragrances </a></li>
                                        <li><a href="#"> Scarf </a></li>
                                        <li><a href="#"> Underwear </a></li>
                                        <li><a href="#"> Coats & Jackets </a></li>
                                        <li><a href="#"> Basics </a></li>
                                    </ul>
                                    <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                        <li>
                                            <p class="menu-title"><strong> Women Collection </strong></p>
                                        </li>
                                        <li><a href="#"> Tops </a></li>
                                        <li><a href="#"> Bottoms </a></li>
                                        <li><a href="#"> Dresses </a></li>
                                        <li><a href="#"> Coats & Jackets </a></li>
                                        <li><a href="#"> Trends </a></li>
                                    </ul>
                                    <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                        <li>
                                            <p class="menu-title"><strong> Accessories </strong></p>
                                        </li>
                                        <li><a href="#"> Sunglasses </a></li>
                                        <li><a href="#"> Scarves </a></li>
                                        <li><a href="#"> Watches </a></li>
                                        <li><a href="#"> Belts </a></li>
                                        <li><a href="#"> Socks </a></li>
                                    </ul>
                                    <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                        <li>
                                            <p class="menu-title"><strong> Top Brands </strong></p>
                                        </li>
                                        <li><a href="#"> Diesel </a></li>
                                        <li><a href="#"> Farah </a></li>
                                        <li><a href="#"> G-Star RAW </a></li>
                                        <li><a href="#"> Lyle & Scott </a></li>
                                        <li><a href="#"> Pretty Green </a></li>
                                    </ul>
                                    <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                        <li>
                                            <p class="menu-title"><strong> Shoes </strong></p>
                                        </li>
                                        <li><a href="#"> Flats </a></li>
                                        <li><a href="#"> Sandals </a></li>
                                        <li><a href="#"> Wedges </a></li>
                                        <li><a href="#"> Sneakers </a></li>
                                        <li><a href="#"> Heels & Pumps </a></li>
                                    </ul>
                                    <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                        <li>
                                            <p class="menu-title"><strong> Popular </strong></p>
                                        </li>
                                        <li><a href="#">Denim</a></li>
                                        <li><a href="#">Essentials</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Pants</a></li>
                                        <li><a href="#">Outerwear</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown "><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            Tienda <b class="caret"> </b> </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">New</a></li>
                                <li><a href="#">Denim</a></li>
                                <li><a href="#">Essentials</a></li>
                                <li><a href="#">Shirts</a></li>
                                <li><a href="#">Pants</a></li>
                                <li><a href="#">Outerwear</a></li>
                                <li><a href="#">Sweaters</a></li>
                                <li><a href="#">Shorts</a></li>
                                <li><a href="#">Sale</a></li>
                            </ul>
                        </li>
                         <li class=" "><a href="{{site_base}}/aboutus"> Contactenos </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <!--   <li class="hide-xs"><a class="btn btn-nobg  search-trigger"><i class="fa fa-search"> </i></a></li> -->

                        <li>
                        {% if user is None %}
                            <a href="{{ site_base }}/auth/login"> Login <i class="fa fa-user"></i> </a>
                        {% else %}
                            <a href="{{ site_base }}/auth/logout"> Logout <i class="fa fa-user"></i> </a>
                        {% end %}
                        </li>
                        <li class="hide-xs cart-sidebar-toggle"><a> Cart <span class="units-total">0</span><i class="glyphicon-shopping-cart glyphicon"></i> </a></li>
                    </ul>
                </div>

            </div>

         <!--    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
                <div class="searchInputBox pull-right">
                    <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search" class="search-input">
                    <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
                </div>
            </div> -->

    </div>


<!-- modal -->



<div class="modal signUpContent fade" id="ModalLogin" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h3 class="modal-title-site text-center"> Login to TSHOP </h3>
                </div>
                <div class="modal-body">
                    <div class="form-group login-username">
                        <div>
                            <input name="log" id="login-user" class="form-control input" size="20" placeholder="Enter Username" type="text">
                        </div>
                    </div>
                    <div class="form-group login-password">
                        <div>
                            <input name="Password" id="login-password" class="form-control input" size="20" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="checkbox login-remember">
                                <label>
                                    <input name="rememberme" value="forever" checked="checked" type="checkbox">
                                    Remember Me </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <input name="submit" class="btn  btn-block btn-lg btn-primary" value="LOGIN" type="submit">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <p class="text-center"> Not here before? <a data-toggle="modal" data-dismiss="modal" href="#ModalSignup"> Sign Up. </a> <br>
                            <a href="forgot-password.html"> Lost your password? </a></p>
                        </div>
                    </div>

                </div>

            </div>


            <div class="modal signUpContent fade" id="ModalSignup" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                            <h3 class="modal-title-site text-center"> REGISTER </h3>
                        </div>
                        <div class="modal-body">
                            <div class="control-group"><a class="fb_button btn  btn-block btn-lg " href="#"> SIGNUP WITH
                                FACEBOOK </a></div>
                                <h5 style="padding:10px 0 10px 0;" class="text-center"> OR </h5>
                                <div class="form-group reg-username">
                                    <div>
                                        <input name="login" class="form-control input" size="20" placeholder="Enter Username" type="text">
                                    </div>
                                </div>
                                <div class="form-group reg-email">
                                    <div>
                                        <input name="reg" class="form-control input" size="20" placeholder="Enter Email" type="text">
                                    </div>
                                </div>
                                <div class="form-group reg-password">
                                    <div>
                                        <input name="password" class="form-control input" size="20" placeholder="Password" type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <div class="checkbox login-remember">
                                            <label>
                                                <input name="rememberme" id="rememberme" value="forever" checked="checked" type="checkbox">
                                                Remember Me </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <input name="submit" class="btn  btn-block btn-lg btn-primary" value="REGISTER" type="submit">
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <p class="text-center"> Already member? <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin">
                                        Sign in </a></p>
                                    </div>
                                </div>

                            </div>

                  </div>
