{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}


{% block body %}

<section>
      <div style="position: relative;">
        {% if is_admin %}
               <div class="image-upload lapiz visible-movil">
                   <label for="img_banner_det_art">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_banner_det_art" name="image" id="img_banner_det_art" >
               </div>
        {% end %}
                <img id="{{ site.name }}_banner_det_art" src="{{ read_image(site.name + '_banner_det_art', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_det_art',500) }}'" class="banner_detail" alt="item">

                <div class="col-md-12">
                    <h1 class="text-center det-art {{editabletext}}" text-id="{{ site.name + '_det_1' }}"> {{ read_text(site.name +  '_det_1') }}</h1>
                </div>
       </div>
</section>

<section>
        <div class="container"> 
           <div class="row">
               <div class="col-md-12">
                   <h2 class="text-center sub-detail-art {{editabletext}}" text-id="{{ site.name + '_det_2' }}"> {{ read_text(site.name +  '_det_2') }}</h2>
               </div>
           </div>
        </div>
</section>









{% include '../home/footer.html' %}
{% end %}
