{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}


{% block body %}

<section>
      <div class="mobile-li" style="background:url('{{ read_image(site.name + '_banner_recetas',500) }}'); background-attachment:fixed; height:550px; background-size:cover; margin-top: -49px;  filter: grayscale(0%) brightness(75%);-webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%); -ms-filter: grayscale(0%) brightness(75%);-o-filter: grayscale(0%) brightness(75%); background-position:center;">
        {% if is_admin %}
               <div class="image-upload lapiz bi visible-movil">
                   <label for="img_banner_recetas">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_banner_recetas" name="image" id="img_banner_recetas" >
               </div>
        {% end %}
                <img id="{{ site.name }}_banner_recetas" src="{{ read_image(site.name + '_banner_recetas', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_recetas',500) }}'" class="banner_list hidden" alt="item">
           </div>
            <div class="container">
                <div class="col-md-12">
                    <h1 class="text-left lis-art {{editabletext}}" text-id="{{ site.name + '_list_re' }}"> {{ read_text(site.name +  '_list_re') }}</h1>
                </div>
                </div>
</section>





<section>
        <div class="container"> 
           <div class="row">
               <div class="col-md-12">
                   <h2 class="text-center sub-art {{editabletext}}" text-id="{{ site.name + '_list_re_ba' }}"> {{ read_text(site.name +  '_list_re_ba') }}</h2>
               </div>
           </div>
         

        </div>
</section>

<section id="contenedor">
    <div class="container">
        <div class="row">
            {{ getArticleList(tag="recetas") }}
        </div>
    </div>



</section>


{% include '../home/footer.html' %}
{% end %}
