<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site_base }}/{{nocache_static}}/cssbt/style.css">
<div id="login_invitation" class="container-fluid top-distance-content">
    <div class="row">
        <div class="col-md-10 text-center">
            <h3>¡Hola! No est&aacute;s registrado</h3>
            <h4>Ingresa tus datos para poder ver tus pedidos</h4>
        </div>
    </div>
    <div class="row voffset5">
        <div class="col-md-10 text-center">
            <p>
                <a class="btn" href="{{ site.url }}auth/login">Iniciar sesión</a>
            </p>
        </div>
    </div>
</div>