body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased !important;
    -webkit-overflow-scrolling: touch;

}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

.banner-one{
    /* height: 491px; */
    width: 87%;
    object-fit: contain;
    /* margin-top: 17px; */
    background-position: center;
}

a:hover{  
    color: black;
    text-decoration: none;
}

.img-for{
    width: 93%;
    object-fit: cover;
    position: relative;
    height: 455px;
    left: 34px;
   
}

.fondo-for{
    background-color: #E2314D;
    height: 455px;
    position: relative;
    width: 95%;
    left: -27px;
}

.texto-for{
    text-align: left;
    color: white;
    font-size: 56px;
    position: relative;
    top: 33px;
    font-weight: 900;
    transform: scaleY(2.0);
    letter-spacing: 2px;
    left: 59px;
    /* transform: scaleX(1.5); */
    margin-bottom: -18px;
}

.texto-for-2{
    text-align: left;
    color: white;
    font-size: 21px;
    position: relative;
    top: 58px;
    font-weight: 800;
    transform: scaleY(2.5);
    letter-spacing: 2px;
    left: 8px;
    line-height: 17px;
    width: 62%;
}


.form-group {
    margin-bottom: 15px;
    width: 94%;
}

.form-control{
    border-radius: 0px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
    color: #9A9999;
    margin-bottom: -5px;
    font-size: 14px;
    height: 33px;
}

.contact-add-form{
    position: relative;
    top: 68px;
    left: 48px;
}

.form-control.com{
    width: 79%;
    left: -56px;
    position: relative;
}

.visit{
       text-align: center;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0px;
    transform: scaleY(2.2);
    color: #706F71;
    margin-top: 56px;
}

.btn-block {
    display: block;
    width: 13%;
    position: relative;
    top: 0px;
    background: white;
    left: 149px;
    border-radius: 0px;
    color: #E2314D;
    font-weight: 600;
    font-size: 17px;
}

hr{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid#706F71;
    width: 26%;
    top: -56px;
    position: relative;
    float: left;
    left: 122px;
}
hr.der{
    margin-top: 20px;
    margin-bottom: 13px;
    border: 0;
    border-top: 2px solid#706F71;
    width: 26%;
    top: -56px;
    position: relative;
    float: right;
    left: -132px;
}

.fondo-dos{
    background-color: #E2314D;
    height: 455px;
    position: relative;
    width: 95%;
    left: -27px;
}

.texto-edi{
    color: white;
    font-size: 19px;
    font-weight: 600;
    line-height: 9px;
    position: relative;
    top: 235px;
    letter-spacing: 0px;
}

.img-sonido{
    float: left;
    position: relative;
    left: 95px;
    top: -52px;
    height: 38px;
    margin-bottom: -55px;
    background-color: white;
    border-radius: 30px;
    display: none;
}
.img-no-sonido{
    float: left;
    position: relative;
    left: 95px;
    top: -52px;
    height: 37px;
    margin-bottom: -55px;
    color: white;
    background-color: white;
    border-radius: 33px;
    display: none;
}

/*----------------responsive----------*/

@media (max-width: 1199px){
    .fondo-for {
     left: -43px;
     width: 102%;
}
.img-for {
    width: 92%;
    left: 18px;
}
.texto-for-2 {
    top: 52px;
    font-weight: 800;
    letter-spacing: 2px;
    left: 8px;
    line-height: 14px;
    width: 62%;
    font-size: 18px;
}
.texto-for {
    font-size: 48px;
    font-weight: 900;
    transform: scaleY(2.0);
    letter-spacing: 2px;
    left: 59px;
}

.form-control.com {
    width: 78%;
    left: -50px;
    position: relative;
}
hr {
    left: 75px;
}
hr.der {
    left: -65px;
}
.btn-block {
    left: 126px;
}
.fondo-dos {
    width: 99%;
    left: -27px;
}

}

@media (max-width: 1130px){
    .visit {
  font-size: 39px;
}

}

@media (max-width: 1060px){
    .visit{
        top: -13px;
        position: relative;
        font-size: 34px;
    }
}

@media (max-width: 991px){
.img-for {
    width: 102%;
    left: -5px;
}
.fondo-for {
    left: -6px;
    width: 102%;
    height: 424px;
}
.texto-for{
        margin-bottom: -40px;
}
.texto-for-2 {
    top: 26px;
    font-weight: 800;
    letter-spacing: 2px;
    left: 157px;
    line-height: 16px;
    width: 28%;
    font-size: 20px;
}

.form-control.com {
    width: 79%;
    left: -57px;
    position: relative;
}

.visit{
    font-size: 24px;
}

.banner-one {
    width: 93%;
}

.btn-block {
    left: 149px;
}

.fondo-dos {
    width: 102%;
    left: -5px;
}

}

@media (max-width: 828px){
    hr{
        left: 58px;
    }

    hr.der{
        left: -55px;
    }
}

@media screen and (max-width: 700px){
    .img-for {
    width: 108%;
    left: -15px;
}

.fondo-for {
    left: -14px;
    width: 108%;
    height: 495px
}
.texto-for {
    left: 33px;
}
.texto-for-2 {
    font-size: 15px;
    position: relative;
    top: 108px;
    letter-spacing: 3px;
    left: 35px;
    line-height: 14px;
    margin-bottom: 67px;
    width: 100%;
}

hr.der{
     width: 69%;
    left: -69px;
    top: -59px;
}

hr{
    width: 67%;
    left: 58px;
    top: -98px;
}

.banner-one {
    width: 92%;
    height: 544px;
    object-fit: cover;
    object-position: 0;
}
.contact-add-form {
    left: 6px;
}

.form-control.com {
    width: 91%;
    left: -1px;
    position: relative;
}

.btn-block {
    width: 22%;
    top: 6px;
    left: 115px;
}
.fondo-dos {
    width: 107%;
    left: -13px;
}
}


@media screen and (max-width: 900px)
{
    .hide-on-mobile
    {
        display: none;
    }
}

@media screen and (min-width: 900px)
{
    .show-on-mobile
    {
        display: none;
    }
}
