html * {

	/*-webkit-font-smoothing: antialiased;*/

	/*-moz-osx-font-smoothing: grayscale;*/
}
html, body {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;	/* color: #505050; */
	color: #000;
}
h1, h2, h3, h4 {
	font-weight: 300;
}
h1 span {
	font-weight: 700;
}
hr {
	border-color: #ccc;
	margin: 30px 0;
}
a {

	/*color: #000;*/
	color: #45B099;
	text-decoration: none;	/* font-weight: 400; */
}
a:hover {
	color: #45B099;	/*color: #000;*/
	text-decoration: underline;
}
.color {
	background-color: #67C4B0;
}
#home {

	/*border-top: 8px solid #67C4B0;*/
	text-align: center;
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;	/* padding-right: 10px; */

	/* padding-left: 10px; */
	max-width: 1200px;
}
.title h2 {
	margin-bottom: 20px;  /* border-top: 1px solid #ddd; */
	border-bottom: 1px solid #FFF;
	padding-bottom: 15px;
	font-weight: 400;
	color: white;
}
.breadcrumb>.active {
	color: #ccc;
}
.big-text {
	font-size: 400px;
	font-weight: 700;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.big-text:hover {
	color: #45B099;
}

/* ------------------------------ buttons -------------------------- */
.btn {
	font-size: 12px;
	cursor: pointer;
	padding: 0 35px;
	line-height: 43px;
	display: inline-block;
	margin: 0 15px 15px 0;
	height: 48px;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	background: #5F8266;
	color: #fff;
	border: 2px solid #5F8266;
	border-radius: 0;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.btn:hover, .btn:active, .btn:focus {
	color: #fff;
	top: 0;
	text-decoration: none;
	background-color: #67C4B0;
	box-shadow: none;
	border: 2px solid #67C4B0;
}
.btn-outline, .btn-outline-w {
	background: transparent;
	border: 2px solid #5F8266;
	box-shadow: none;
	color: #5F8266;
	text-decoration: none;
}
.btn-outline-w {
	border-color: #FFF;
	color: #FFF;
}
.btn-outline:hover, .btn-outline:focus {
	background: #729279;
	border-color: #729279;
	color: #FFF;
	top: 0;
	text-decoration: none;
}
.btn-disable, .btn-disable:hover, .btn-disable:focus {
	background: #ddd;
	border-color: #ddd;
}
.btn-right {
	margin-right: 0;
	float: right;
}
.btn i {

	/* font-weight: 700; */
	font-style: normal;
	font-size: 16px;
	vertical-align: sub;	/*line-height: 30px;*/
}
.btn i:before {
	line-height: 39px;
}
.btn i.left {
	padding-right: 10px;
}
.btn i.right {
	padding-left: 10px;
}
.btn.pull-right {
	margin: 0;
}
.btn.pull-left {
	margin: 0;
}

/* ------------------------------ color list -------------------------- */
.product-colors {
	padding: 0;
	margin-bottom: 30px;
	padding-top: 15px;
}
.product-colors li {
	border: 2px solid #FFFFFF;
	display: inline-block;
	margin: 2px 1px;
	vertical-align: top;
	list-style: none;
	border-radius: 50%;
	cursor: pointer;
}
.product-colors li a.white {
	border: 4px solid #eee;
}
.product-colors li:hover {
	border: 2px solid #000;
}
.product-colors li a {
	background-position: center center;
	background-repeat: no-repeat;
	border: 4px solid #fff;	/* box-shadow: 0px 1px 3px #C5C5C5; */
	display: block;
	height: 38px;
	text-align: center;
	transition: all 0.25s ease 0s;
	width: 38px;
	border-radius: 50%;
}
.product-colors li.selected {
	border: 2px solid #000;
}

/* ------------------------------ link effect -------------------------- */
.menu-wrapper {
	position: relative;
	font-weight: 300;
	text-align: center;
}
.menu-wrapper h3 {
	color: #FFF;	/*font-weight: 400;*/
	margin-left: 20px;
	margin-top: 18px;
	text-transform: uppercase;
	font-size: 22px;
}
.effect a {
	position: relative;
	color: #000;	/* font-weight: 400; */
	line-height: 20px;
	display: inline-block;
	padding: 0 5px;
	background: transparent;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.effect a:hover, .effect a:focus, .effect li.active a {
	background-color: #000;
	color: #FFF;
	text-decoration: none;
}
.mt-info {
	padding-left: 20px;
}
.mt-info h3 {

	/*font-weight: 400;*/
	color: #FFF;
	margin-left: 0;
}
.mt-info ul {
	list-style-type: none;
	margin: 20px 0 35px 0;
	padding-left: 0;	/*margin-bottom: 35px;*/
}
.mt-info ul li {
	font-size: 16px;
	margin-bottom: 15px;
}
.mt-info ul li a {
	font-weight: 300;
}
.mt-info .btn {
	margin-left: 2px;
	margin-bottom: 30px;
}

/* ------------------------------ product list -------------------------- */
.productlist a .product-price {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
	color: #000;
}
.productlist a:hover img {

	/* color: #000; */

	/*border: 2px solid #000;*/
}
.productlist, .product {
	padding-top: 0;
	padding-bottom: 50px;
}
.productlist .row {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 10px;
}
.productlist .col-sm-12, .productlist .col-sm-8, .productlist .col-sm-6, .productlist .col-sm-4 {
	position: relative;
	min-height: 1px;
	padding: 6px;
}
.productlist .col-sm-4.special {
	padding: 0;
}
.productlist-price-container {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 90%;
	text-align: right;
	z-index: 89;
	margin: 22px;
}
.productlist-love-container {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 50%;
	text-align: left;
	z-index: 89;
	margin: 22px;
	font-size: 20px;
	line-height: 20px;
}
.product-price {
	background-color: #fff;
	display: inline-block;
	padding: .7em 1.1em;
	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 11px;
	text-transform: none;
	letter-spacing: 1px;
	font-weight: bold;
	font-style: normal;
	line-height: 1.3em;
}
.price:before {
	content: '$';
}
.product-price .original-price {
	text-decoration: line-through;
	margin-left: .5em;
}
a:hover .product-price {
	background-color: #000;
	color: #FFF;
}
.productlist-label {
	position: absolute;
	top: 26px;
	right: 22px;
}
.sold-out-label, .sale-label {
	color: #67C4B0;
	font-weight: 400;
	text-transform: uppercase;
	padding: 3px 9px;
	border: 2px solid #67C4B0;
}
.sale-label {
	color: #000;
	border-color: #000;
}
.show-more {
	margin-top: 30px;
}

/* ------------------------------ product detail -------------------------- */
.product {
	margin-top: 65px;
}
.product .product-title {
	margin-top: 0;
	margin-bottom: 4px;
	color: #666666;
}
.product .product-price {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	padding: 0;
}
.product .product-price .original-price {
	color: #ddd;
	margin-left: 5px;
}
.product .product-detail {
	margin: 30px 0;
}
.product .product-detail ul {
	padding-left: 20px;
}
.product .product-detail p {
	text-align: justify;
}
.product .product-img {
}
.product-mark {
	padding-top: 30px;	/* display: block; */

	/* text-align: center; */
}

/* ------------------------------ myform -------------------------- */
.myform {
	padding-top: 5px;
	padding-bottom: 15px;
}
.myform h2 {

	/* width: 147px; */
	margin-bottom: 20px;	/* border-top: 1px solid #ddd; */
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
	font-weight: 400;
}
.myform .form-group label {
	display: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: 100;
	text-align: center;
}
.myform .no-placeholder .form-group label {
	display: block;
}
.myform.no-placeholder .controls {
	margin-top: 0;
}
.myform .form-control, .input-group .form-control {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	display: inline;
	background: #fff;
	border: none;
	border-radius: 0;
	outline: none;
	height: 44px;
	font-size: 14px;
	font-weight: 400;
	vertical-align: top;
	border: 2px solid #ddd;
	box-shadow: none;	/*  ios gradiet fix */

	/*-webkit-appearance: none;*/
}
.special {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.controls {
	position: relative;
}
.myform textarea.form-control {
	height: auto;
	max-width: 100%;
	min-width: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 8px;
	vertical-align: top;
}
.myform .inputError, .myform textarea.form-control.inputError, .myform .inputError {
	outline: none;
	border: 2px solid #F05557;
}
.myform .error-message {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	position: absolute;
	top: 6px;
	right: 15px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	color: #F05557;
	z-index: 10;
}
.myform .form-control:focus, .myform textarea.inputError:focus, .input-group .form-control:focus {
	outline: none;
	border: 2px solid #000;
}
.myform.no-placeholder .error-message {
	top: 0;
}
.myform h3 {
	font-size: 16px;
	border-bottom: 2px solid #909090;
	font-weight: 700;
	padding: 8px;
	margin: 0 0 15px 0;
}
.myform .btn {
	margin: 0 auto;
	height: 44px;
}

/* fix newsleter form */
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	margin-left: 0;
}
.input-group .form-control, .input-group .form-control:focus {
	border-right-width: 0px;
}
#main-footer, #social {
	padding: 40px 0 20px;
}
.checkbox, .radio {
	margin: 24px 0px;	/* padding-left: 32px; */
	position: relative;
	-webkit-transition: color 0.25s linear;
	transition: color 0.25s linear;
	font-size: 14px;
	line-height: inherit;	/* color: #555; */
}
.checkbox label, .radio label {
	padding-left: 13px;	/* line-height: 50px; */
	font-size: 14px;
	vertical-align: -webkit-baseline-middle;
}
.checkbox label span, .radio label span {
	vertical-align: top;
	line-height: 23px;
	color: #555;
}
label.show {
	display: block;
	text-decoration: none;
}
input[type=radio], input[type=checkbox] {
	margin: 4px 7px 0 0;
	line-height: normal;
	font-size: 21px;
	text-align: center;
}
form p {
	margin-top: 16px;
}
#total {
	font-weight: 600;
	font-size: 21px;
}
.form-control-inline {
	min-width: 0;
	width: auto !important;
	display: inline !important;
}
.table tbody>tr>td.vert-align {
	vertical-align: middle;
}
address {
	font-size: 14px;
}

/* ------------------------------ skin checkbox -------------------------- */
input[type="radio"], input[type="checkbox"] {
	display: none;
}
input[type="radio"] + span:before, input[type="checkbox"] + span:before {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-right: 10px;
	font-size: 21px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="radio"] + span:before {
	content: "\e631"; /* record */

	/*color: red;*/
}
input[type="radio"]:checked + span:before {
	content: "\e630"; /* ok-circle */

	/*color: green;*/
}
input[type="checkbox"] + span:before {
	content: "\e62e"; /* unchecked */

	/*color: #DDDDDD;*/
}
input[type="checkbox"]:checked + span:before {
	content: "\e62d"; /* check */

	/*color: #000;*/
}

/* ------------------------------ accordion -------------------------- */
#accordion h4 {
	font-weight: 700;
	font-size: 16px;
}
.panel-group .panel {
	border-radius: 0;
	margin-top: 0;
}
.panel-group .panel+.panel {
	margin-top: 10px;
}
.panel {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;	/* border-top: 1px solid #ccc; */

	/* margin-bottom: 10px; */
}
.panel-body {
	padding: 15px 0;
}
.panel-group {
	margin-bottom: 0;
}
.panel-heading {
	border-radius: 0;
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
	border: 0;
}

/* ------------------------------ cart -------------------------- */
.cart-list {
	min-height: 600px;
	margin-bottom: 30px;
}
a.remove-item {
	color: #000;
}
a.remove-item i {

	/* padding-top: 23px; */
	line-height: 34px;
}
a.remove-item:hover {
	color: #67C4B0;
	text-decoration: none;
}
th {
	font-size: 16px;
}
table {

	/*vertical-align: top;*/
}

/* ------------------------------ footer -------------------------- */
footer {
	background-color: #000000;
	padding: 40px 0;
	color: white;	/* height: auto; */
}
footer p span {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
footer a {
	color: white !important;
	font-weight: 100 !important;
}
.textos-footer li {
	width: 100%;
	text-align: left !important;
}
.copyright ul.nav-list {

	/* float: left; */
	margin: 0 0 0 -5px;
	padding: 0;
}
.copyright ul.nav-list li {
	margin-left: 0;
}

/* ------------------------------ nav menu -------------------------- */
.main-nav a {
	color: #000;
}
ul.nav-list {
	list-style-type: none;
	display: inline-block;
	margin: 0px auto 20px auto;
	padding: 0 2em;
	width: 100%;
	font-weight: 300;
	color: #FFF;
	position: relative;
	line-height: 20px;
	z-index: 1;
}
ul.nav-list li {
	text-align: center;
	display: inline-block;
	margin: 0 5px;	/* float: left; */
	height: auto;	/* line-height: 20px; */
}
ul.nav-list li.active a span {
	background-color: #000;
	color: #FFF;
}

/*ul.nav-list li a {
text-transform: capitalize;
}*/
a.nav-brand {

	/* padding: 4px; */
	width: auto;
	font-size: 38px;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 260px;
	font-weight: 100;
	line-height: 46px;
	cursor: pointer;
	color: white;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	margin-top: 13px;
	z-index: 1000;
}
a.nav-brand span {
	font-weight: 500;
}
a.nav-brand:hover, a.nav-brand:active, a.nav-brand:focus {
	text-decoration: none;
	outline: none;
}
.cart {
	position: absolute;
	top: 0;
	right: 0;
}
.nav-header {
	margin: 0px;
	position: relative;
	overflow: hidden;
}
.nav-header h1 {
	margin: 5px 0 0 0;
}
.nav-header .badge {
	position: absolute;
	font-size: 12px;
	font-weight: 400;
	background-color: #67C4B0;
}
a.nav-icon, a.nav-icon-outline {
	background-color: #000;
	border: 2px solid #000;
	display: block;
	color: #FFF;
	font-size: 16px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	margin-left: 15px;
}
a.nav-icon-outline {
	background-color: #FFF;
	border-color: #000;
	color: #000;
}
a.nav-icon:hover {
	color: #000;
	background: #FFF;
	text-decoration: none;
	border-color: #000;
}
a.nav-icon-outline:hover {
	color: #FFF;
	background-color: #000;
	text-decoration: none;
	border-color: #000;
}

/* mobile */
#wrap {
	/*position: relative;*/
	backface-visibility: hidden;
	min-height: 100%;
	min-width: 100%;
	z-index: 1030;
	top: 0;
	bottom: 100%;
	left: 0;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu-open {
	-webkit-transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
	-ms-transform: translateX(-240px);
	-o-transform: translate(-240px, 0);
	transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
	overflow: hidden;
}
a.close-menu:hover {
	color: #67C4B0;
	text-decoration: none;
}

/* ------------------------------ breadcrumb -------------------------- */
.breadcrumb {
	background-color: transparent;
	padding: 15px 17px;
	margin: 0;
}
.breadcrumb a {
	color: #000;
}

/* ------------------------------ social links -------------------------- */
.social-links, .social-profiles {
	list-style: none;
	margin: 8px 0 0 0;
	padding: 0;	/* margin-bottom: 29px; */
	margin-right: -9px;
}
.social-links li, .social-profiles li {
	display: inline-block;
	margin: 0 9px 0 9px;
	border-radius: 3px;
	box-shadow: 0 4px 0 transparent;
}
.social-links li a {
	background: transparent;
	border: 2px solid #FFFFFF;
	display: block;
	color: #000;
	font-size: 16px;
	width: 41px;
	height: 41px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.social-links li a i {
}
.social-links li a:hover {
	color: #FFF;
	background: #000;
	text-decoration: none;
	border-color: #000;
}

/* ------------------------------ contact -------------------------- */
#gmap {
	height: 300px;
}

/* ------------------------------ blog -------------------------- */
.blog-sidebar {

	/*margin-top: 35px;*/
}
.blog-sidebar h3 {
	margin-top: 28px;
}
.blog-sidebar ul {
	padding-left: 18px;
}
.post-date {
	margin-bottom: 10px;
	text-transform: uppercase;
}
.post-date span {
	float: right;
}
article h1 {
	font-size: 32px;
}
article h1 a {
	color: #000;
}
article h1 a:hover {
	text-decoration: none;
}
article {
	margin-bottom: 60px;
}
article img {

	/* margin-bottom: 30px; */
}
article .social-links {
	margin: 30px 0;
}
blockquote footer, blockquote small, blockquote .small {
	background-color: transparent;
	padding: 10px 0;
}
.paging {
	margin: 30px 0;
}
.paging .btn {
	padding: 0 20px;
}
.content .productlist {
	padding: 0 0 20px 0;
}
#comments_pagination {
	margin: 16px 0;
	text-align: center;
}
#comments_pagination a {
	cursor: pointer;
}
#comments_pagination a, #comments_pagination span {
	font-size: 12px;
	padding: 0 16px;
	line-height: 38px;
	display: inline-block;
	margin: 0 8px 4px 0;
	height: 40px;
	text-decoration: none;	/* letter-spacing: 1px; */
	font-weight: 700;
	outline: none;
	position: relative;
	background: #FFF;
	color: #000;
	border: 2px solid #DDDDDD;
	border-radius: 0;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#comments_pagination span {
	border: 2px solid #000;
	background: #000;
	color: #FFF;
}
#comments_pagination a:hover, #comments_pagination a:active, #comments_pagination a:focus {
	color: #fff;
	top: 0;
	text-decoration: none;
	background-color: #000;
	box-shadow: none;
	border: 2px solid #000;
}
.media {
	font-weight: 400;
}
.media hr {
	margin-top: 0;
}
.media h4 {
	margin: 0;
}
.media h4 span {
	float: right;
	font-size: 14px;
	color: #9f9f9f;
	font-weight: 400;
}
.media p {
	font-size: 13px;
	font-weight: 400;
}
.avatar, .avatar:hover, .avatar:active {
	border: 0;
}
.widget {

	/* margin-bottom: 40px; */
}
#more-items {
	display: none;
}


/* ------------------------------ media -------------------------- */
@media (max-width:767px) {
	.productlist .col-sm-12, .productlist .col-sm-8, .productlist .col-sm-6, .productlist .col-sm-4 {
		position: relative;
		min-height: 1px;
		padding: 0 15px 15px 15px;
	}
	.productlist .row {
		margin-right: -15px;
		margin-left: -15px;
	}
	.productlist-price-container {
		margin: 30px;
	}
	.productlist-label {
		top: 18px;
		right: 30px;
	}
	.nav-header {
	}
	a.nav-brand {
		float: left;
		width: auto;
		font-size: 28px;
		letter-spacing: -1px;
		border: 0;
	}
	.cart {
		position: relative;
	}
	.menu-wrapper {

		/* display: none; */
		border-top: 8px solid #67C4B0;
		position: fixed;
		z-index: 1;
		right: 0;
		top: 0;
		bottom: 0;
		width: 240px;
		height: 100%;
		background-color: #000;
		font-size: 13px;
		font-weight: 400;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		-moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		-ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		-o-transform: translate(0);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
	.menu-wrapper ul.nav-list {
		padding: 0 0 0 15px;
	}
	.menu-wrapper ul.nav-list li {
		display: list-item;
		margin: 0;
		text-align: left;
		font-size: 18px;
		padding-bottom: 14px;
		font-weight: 400;
		z-index: 100;
	}
	.menu-wrapper ul.nav-list li a {
		color: #ccc;
		width: 75%;		/* text-align: left; */
		text-transform: none;
		font-weight: 300;
	}
	.menu-wrapper ul.nav-list li.active a {
		color: #67C4B0;
	}
	.menu-wrapper ul.nav-list li a:hover {
		color: #FFF;
	}

	/*.menu-wrapper ul.nav-list li a span::before	{
		color: #67C4B0;
		padding-left: 5px;
	}*/
	.menu-wrapper .close-menu {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 16px;
		color: #FFF;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
	.product {

		/*text-align: center;*/
	}

	/*.menu-wrapper .effect a span::before {
		color: #67C4B0;
	}*/

	/* center MT */
	footer, .product-btn, .product-colors, .title, .contact {
		text-align: center;
	}
	footer .pull-left, footer .pull-right {
		float: none !important;
	}
	.product-mobile .product-title, .product-mobile .product-price {
		font-size: 24px;
		margin-bottom: 0;
	}
	.product-mobile {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.product-mobile .product-mark {
		padding-top: 7px;
	}
	.product-mark {
		text-align: center;
	}
	.btn-right {
		text-align: center;
		float: none;
		margin: 0 auto;
		display: block;
	}
	.big-text {
		font-size: 290px;
	}
}
@media (max-width:480px) {
	.big-text {
		font-size: 179px;
	}
}

/*-------------- clases agregadas por jose --------*/
.tamano img {
	width: auto;
}
.absolute-cart-box {
	position: fixed;
	top: 8px;
	right: -224px;
	z-index: 3;
}
.sqs-pill-shopping-cart {
	font: 400 normal 12px / 22px 'Gotham SSm A', 'Gotham SSm B', 'Gotham SSm', 'Gotham', 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sqs-pill-shopping-cart .details {
	float: none;
	text-transform: none;
	display: inline-block;
	letter-spacing: 0;
	line-height: normal;
	font-style: normal;
}
.sqs-pill-shopping-cart .subtotal {
}
.sqs-pill-shopping-cart .subtotal .price {
	font-size: 14px;
	font-weight: bold;
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
}
.sqs-pill-shopping-cart-content {
	min-width: 270px;
	border-radius: 30px;
	cursor: pointer;
	line-height: 18px;
	font-size: 20px;
	padding: 10px 15px;
	background-color: #3b3e3d ;
	color: white;
}
.sqs-pill-shopping-cart-content .dark {
	float: left;/* width: 40px; */
}
.fixed-resume {
	position: fixed;
	width: 41%;
	margin-top: 5px !important;
}
.show-in-movil {
	display: none;
}
@media only screen and (max-width:1600px) {
	.fixed-resume {
		width: 36%;
	}
}
@media only screen and (max-width:1450px) {
	.fixed-resume {
		width: 33%;
	}
}
@media only screen and (max-width:1200px) {
	.fixed-resume {
		width: 48%;
	}
}
@media only screen and (max-width:1024px) {
	.fixed-resume {
		width: 47%;
	}
}
@media (max-width:480px) {
	.fixed-resume {
		display: none;
	}
	.show-in-movil {
		display: inline;
	}
	.tamano img {
		width: 40px;
	}
}
.btn-right-1 {
	float: left;
}
@media (max-width:767px) {
	.btn-right-1 {
		text-align: center;
		float: none !important;
		margin: 0 auto !importantc;
		display: block;
	}
}
@media only screen and (max-width:700px) {
	.absolute-cart-box {
		position: fixed;
		bottom: 0;
		left: 0;
		top: auto;
		right: 0;
	}
	.sqs-pill-shopping-cart-content {
		min-width: 100%;
		border-radius: 0px;
	}
}
.btn-facebook {
	background-color: #4C69BE !important;
	border-color: #4C69BE !important;
}
.btn-facebook:hover {
	background-color: #6685E1 !important;
	border-color: #6685E1 !important;
}
.margin-top-1 {
	margin-top: 10px;
}
.margin-top-2 {
	margin-top: 89px;
}

/*-------------- clases agregadas por nuevos row --------*/
.productlist .col-bt-6, .productlist .col-bt-5, .productlist .col-bt-4, .productlist .col-bt-3, .productlist .col-bt-2, .productlist .col-bt-1 {
	float: left;
	min-height: 1px;
	padding: 2px;
	height: auto;
	position: relative;
}
.productlist .col-bt-6 a, .productlist .col-bt-5 a, .productlist .col-bt-4 a, .productlist .col-bt-3 a, .productlist .col-bt-2 a, .productlist .col-bt-1 a {
}
.productlist .col-bt-6 img, .productlist .col-bt-5 img, .productlist .col-bt-4 img, .productlist .col-bt-3 img, .productlist .col-bt-2 img, .productlist .col-bt-1 img {
}
.productlist .col-bt-1 {
	width: 20%;
}
.productlist .col-bt-2 {
	width: 40%;
}
.productlist .col-bt-3 {
	width: 60%;
}
.productlist .col-bt-4 {
	width: 80%;
}
.productlist .col-bt-5 {
	width: 100%;
}
.productlist .col-bt-6 {
	width: 50%;
}
.altura-1 {
	height: 50% !important;
}
.especial {
	padding: 0 !important;
	height: 200px;
}
.especial > a > img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
@media (max-width:767px) {
	.productlist .col-bt-6, .productlist .col-bt-5, .productlist .col-bt-4, .productlist .col-bt-3, .productlist .col-bt-2, .productlist .col-bt-1 {
		width: 100%;
	}
}

/*-------------- clases agregadas para nuevos menus --------*/
.menu-1 {
	padding: 10px !important;
	border: 2px solid black;
}
.menu-1 li a {
	font-weight: 700;
	font-size: 14px;
}
.menu-1 li a:hover {
	background-color: white;
	color: black;
	text-decoration: underline;
}
.menu-2 {
	padding: 10px !important;
	background-color: black;
}
.menu-2 li a {
	color: white;
	font-size: 14px;
}
.menu-2 li a:hover {
	background-color: black;
	color: white;
	text-decoration: underline;
}
.menu-3 {
	padding: 10px !important;
	border-bottom: 1px solid rgb(170, 164, 164);
}
.menu-3 li a {
	font-weight: 500;
	font-size: 14px;
	color: rgb(170, 164, 164);
}
.menu-3 li a:hover {
	background-color: white;
	color: black;
	text-decoration: underline;
}
.menu-4 {
	padding: 10px !important;
	background-color: black;
	width: 100%;
}
.menu-4 li a {
	font-weight: 500;
	font-size: 12px;
	color: white;
}
.menu-4 li a:hover {
	background-color: black;
	color: white;
	text-decoration: underline;
}
.menu-5 {
	padding: 10px !important;
	width: 100%;
}
.menu-5 li a {
	font-weight: 400;
	font-size: 14px;
	color: white;
	padding: 5px 11px 3px 11px;
}
.menu-5 li a:hover {
	background-color: white;
	color: gray !important;
}
.menu-6 {
	padding: 10px !important;
	width: 100%;
}
.menu-6 li {
	margin: 0 30px !important;
}
.menu-6 li a {
	font-weight: 300;
	font-size: 21px;
	color: white;
	padding: 11px 11px 8px 11px;
	text-transform: capitalize !important;
}
.menu-6 li a:hover {
	background-color: #729279;
	color: white !important;
}
.active-1 a {
	background-color: white;
	color: gray !important;
}
.active-2 a {
	background-color: #a00783;
	color: white !important;
}
.menu-7 {
	padding: 10px !important;
	display: none !important;
	background-color: rgba(119, 166, 128, 0.7);
}
.menu-7 a {
	color: white;
	font-weight: 100 !important;
	font-size: 30px;
	float: none;
	width: 100%;
	margin: 0;
	line-height: normal;
}
.menu-7 a span {
	font-weight: 500 !important;
}
.menu-8 {
	display: none;
}
@media (max-width:767px) {
	.menu-0, .menu-1, .menu-2, .menu-3, .menu-4, .menu-5, .menu-6 {
		display: none !important;
	}
}
.product-limit-image {
	background-color: white;	/*position: relative;*/
	text-align: center;
}
.product-limit-image img {
	vertical-align: middle;
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	padding: 20px 0px 20px 20px;
}
.texts-products {
	color: black;   /*float: right;*/
	font-size: 16px;
}
.texts-products {
	padding-right: 15px !important;
	padding-top: 15px !important;
	text-align: right;
}
.texts-products span {

	/*width: 100%;
	text-align: right;*/
	font-weight: 700;	/*clear: both;*/
}
.text-nom-prod {
}
.text-cant-prod {
	font-size: 12px;
}
.text-price-prod {
	font-size: 18px;
	font-weight: 100 !important;
	color: gray;
}
.add-cart-prod {
	width: auto !important;
	height: 44px;
	color: #ea5151;
	border: 1px solid #ea5151;
	padding: 8px 21px;
	font-weight: 400 !important;
	right: 0px;
	bottom: 20px;
	background-color: white;
	height: 36px;
}
.add-cart-prod:hover {
	background-color: #ea5151;
	color: white;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	cursor: pointer;
}
.logo-page {
	float: left;
	position: absolute;
	z-index: 1;
}
.busqueda-header {
	width: 490px;
	border: 2px solid white;
	background-color: transparent;
	height: 35px;
}
.boton-bus-header {
	width: 100px;
	background-color: rgba(255, 255, 255, 0.4);
	height: 35px;
	border: 0px solid white;
}
.boto-bus-header-movil {
	float: right;
	color: white;
	z-index: 1;
	width: 25%;
	height: 35px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.39);
	display: none;
	font-size: 21px;
	padding: 6px;
}
.foto-header-desk, .foto-header-movil {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.foto-header-desk {
	display: inline;
}
.foto-header-movil {
	display: none;
}
.titulo-ofertas-dest {
	text-align: left;
	color: rgb(18, 17, 17);
	font-size: 25px;
}
.nav-header-interno {
	overflow: inherit;
}
.titles-products-responsive {
	color: black !important;
}
.fondo-blanco-movil {
}
.carro-lateral {
	width: 30%;
	position: fixed;
	background-color: white;
	height: 100%;
	top: 0;
	right: 0px;
	z-index: 1050;
	-webkit-box-shadow: -2px 0px 7px -2px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: -2px 0px 7px -2px rgba(0, 0, 0, 0.64);
	box-shadow: -2px 0px 7px -2px rgba(0, 0, 0, 0.64);
	transition: right .25s ease-in-out;
	overflow-y: scroll;
	right: -100%;
}
@media (max-width:767px) {
	.carro-lateral {
		width: 100%;
	}
}
.carro-abierto {
	right: 0 !important;
}
.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #909090 !important;
}
.titulos-alternativos {
	font-weight: 100 !important;
	background-color: rgba(255, 255, 255, 0.25);
	padding: 8px 0px;
	color: rgb(255, 255, 255);
	font-size: 25px;
}
.fixed-menu-top {
	position: fixed !important;
	top: 0 !important;
	width: 100%;
	z-index: 3;
	height: 65px;
	overflow: hidden;
	transition: box-shadow 0.5s;
}
.fixed-menu-top-2 {
	position: fixed !important;
	top: 0 !important;
	width: 100%;
	z-index: -1;
}
.sombra {
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}
.top-products {
	background-color: #ddebe0;
	margin-top: 565px;
	z-index: 0;
}
.hide-show {
	display: none !important;
}
.show-hide {
	display: inline !important;
}
.top-distance-content {
	margin-top: 118px;
}
.frase-primera {
	margin-top: 250px !important;
	margin-bottom: 8px;
}
.frase-primera li {
	font-size: 85px;
	font-weight: 400;
	letter-spacing: -3px;
}
.frase-segunda li {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 38px;
}
@media (max-width:480px) {
	.frase-segunda li {
		font-size: 20px;
	}
	.frase-primera li {
		font-size: 40px;
		font-weight: 300;
		letter-spacing: 0px;
		height: 50px;
		line-height: 1;
		font-weight: 500;
	}
	.frase-primera {
		margin-top: 0px !important;
		overflow: visible;
	}
	.footer-top {
		margin-top: 40px;
	}
	.top-distance-content {
		margin-top: 70px;
	}
	.fixed-menu-top-2 {
		top: 95px !important;	/* overflow: visible; */
	}
	.hide-show {
		display: inline !important;
	}
	.show-hide {
		display: none !important;
	}
	.sqs-pill-shopping-cart-content {
		background-color: rgba(100, 100, 100, 0.9);
	}
	.fixed-menu-top {
		height: 50px;
	}
	.top-products {
		margin-top: 330px;
	}
	.texts-products {
	}
	.logo-page {
		float: none !important;
		position: relative !important;
		margin: 60px auto 25px auto !important;
		font-size: 40px !important;
	}
	.busqueda-header {
		width: 70%;
		float: left;
	}
	.boton-bus-header {
		display: none;
	}
	.bus-movil-w {
		width: 100%;
	}
	.boto-bus-header-movil {
		display: inline;
	}
	.menu-7 {
		display: inline !important;
		position: absolute !important;
		left: 0;
	}
	.menu-8 {
		display: inline;
	}
	.foto-header-desk {
		display: none;
	}
	.foto-header-movil {
		display: inline;
	}
	.titulo-ofertas-dest {
		text-align: center;
	}
	.titles-products-responsive {
		color: white !important;
	}
	.fondo-blanco-movil {
		background-color: white;
	}
}

/* ------ buttons ----------- */
.btn-contet-fixed {
	background-color: red !important;
	margin-right: 56px;
}
.btn-menu-bottom {
	bottom: 20px !important;
	position: fixed;
	z-index: 9100;
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(12, 12, 12, 0.46);
	-moz-box-shadow: 0px 0px 10px 0px rgba(12, 12, 12, 0.46);
	box-shadow: 0px 0px 10px 0px rgba(12, 12, 12, 0.46);
	font-size: 25px;
	padding: 9px 0px 0px 0px;
	text-align: center;
}
.btn-categories {
	background-color: rgb(163, 68, 187) !important;
	right: 45px !important;
}
.btn-agregar-cont-principal {
	background-color: rgba(234, 81, 81, 1);
	right: 120px;
}
.btn-new-page {
	background-color: rgba(234, 81, 81, 1);
	right: 185px;
}
.btn-categories:hover, .btn-agregar-cont-principal:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: .5;
}
.container-fluid-product {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.fm-image-products {
	max-height: 100%;
	max-width: 100%;
	display: block;
	position: absolute;
	height: auto;
	overflow: hidden;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	"
}
.fm-content-img-prod {
	height: 400px;
}
.container-fluid-product .row {
	margin-right: 0px;
	margin-left: 0px;
}
.text-nom-prod, .text-nom-prod:hover {
	color: black;
}
.fixed-menu-2 {
	width: 100%;
	height: 37px;
	background-color: #8CA591;
	top: 25px;
	z-index: 1;
	position: fixed;
	display: flex;
	font-size: 12px;
	transition: 0.5s;
}

/* clases para menu desplegable */
.navi {
	position: relative;
	margin: 0 auto;
	padding: 0px;
	transition: 0.2s;
	width: 100%;
	text-align: center;
	display: inline-block;
}
.navi > li {
	list-style: none;
	width: 140px;
	display: inline-block;
}
.navi li a {
	background-color: #8CA591;
	color: white;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
}
.navi li a:hover {
	background-color: #729279;
	transition: 0.2s;
}
.navi li ul {
	display: none;
	position: absolute;
	width: 140px;
	padding: 0px;
}
.navi li:hover > ul {
	display: block;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-name: fadeInFromNone;
}
.navi li ul li {
	position: relative;
	list-style: none;
}
.navi li ul li ul {
	right: -140px;
	top: 0px;
}
@-webkit-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@media (max-width:600px) {
	.product-limit-image img {
		max-height: 100%;
		max-width: 100%;
		position: relative;
		padding: 20px;
	}
	.add-cart-prod {
		padding: 8px 17px;
		width: 100% !important;
	}
	.fixed-menu-2 {
		display: none;
	}
}
.row-add-to-cart {
	position: absolute;
	right: 13px;
	bottom: 10px;
}
.row-main-price {
	position: absolute;
	right: 12px;
	bottom: 47px;
}
.ui-effects-transfer {
	border: 2px dotted gray;
}
body.noscroll {
	overflow: hidden;
}
.spinner > div {
	background-color: #8CA591 !important;
}
.total_items, .total_cart {
	top: 0;
	position: absolute;
	font-size: 14px;
	width: 200px;
	height: 100px;
	right: 5%;
	color: white;
	text-align: right;
}
.total_items {
	top: 30px;
}
.total_cart {
	top: 15px;
}
p.bullet_1, p.bullet_2 {
	font-size: 14px;
	color: #373737;
	margin: 0;
}
p.bullet_1 > a, p.bullet_2 > a {
	color: #373737;
}
p.bullet_1 > a:hover, p.bullet_2 > a:hover {
	text-decoration: none;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }