
<script type="text/template" id="product_template" class="hidden">
    <div class="col-md-12">
          <div class="col-md-3 col-xs-12">
                <img src="{{! images[0]['thumb_200'] }}" alt="" class="img-responsive img-1" >
                <p class="inf">{{! name }}</p>
          </div>   
          
           <div class="col-md-6 col-xs-12">
                 <img src="{{! images[0]['thumb_200'] }}" class="img-responsive img-2" >
                 <p class="inf">{{! name }}</p>
           </div>     

           <div class="col-md-3 col-xs-12">
                <img src="{{! images[0]['thumb_200'] }}" class="img-responsive img-3" >
                <p class="inf2">{{! name }}</p>
           </div>   

           <div class="col-md-3 col-xs-12">
                <img src="{{! images[0]['thumb_200'] }}" class="img-responsive img-3" >
                <p class="inf2">{{! name }}</p>
           </div>       
    </div>
        
</script>
