{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/frubik.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com/',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(38,38,38);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 8,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
            'onLoad':function(){
               // $('.ellipsis').ellipsis();
               // $(".ellipsis").dotdotdot();
             }
        };

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>
<script type="text/javascript">
  $(document).ready(function() 
{
      $('.font-menu').removeClass('active');
      $('.mundo').addClass("active");

  });
</script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}



<!-- *contenido* -->
<body id="lapimport">



<section>
  <div>
    <div>
    <div class="mobile" style="background:url('{{ read_image(site.name + '_maison',500) }}'); height:200px; background-size:cover; margin-top: 0px;  filter: grayscale(0%) brightness(95%); -webkit-filter: grayscale(0%) brightness(95%); -moz-filter: grayscale(0%) brightness(95%); -ms-filter: grayscale(0%) brightness(95%);-o-filter: grayscale(0%) brightness(95%); background-position:center; margin-bottom: 40px; width: 100%;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_maison">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_maison" name="image" id="img_maison" >
        </div>
        {% end %}
        <img id="{{ site.name }}_maison" src="{{ read_image(site.name + '_maison', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_maison',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>
 </div>
 </div>
</section>


<section id="cont">
  <div class="container">
    <div align="center">
     <div class="col-md-12"> 
      <div style="position:relative;">
        {% if is_admin %}
        <div class="image-upload">
          <label for="img_box_maison">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_maison" name="image" id="img_box_maison" >
       </div>
       {% end %}

       <img id="{{ site.name }}_box_maison" src="{{ read_image(site.name + '_box_maison', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_maison') }}'" class="box-maison" alt="item">
     </div>
   </div> 
 </div>
</div>


<div class="container">
  <div align="center">
    <div class="col-md-12">
       <div class="texto-1 {{editabletext}}" text-id="{{ site.name + '_m-1' }}"> {{ read_text(site.name +  '_m-1') }} </div>
       <div class="texto-2 {{editabletext}}" text-id="{{ site.name + '_m-2' }}"> {{ read_text(site.name +  '_m-2') }} </div>

    </div>
  </div>
</div>

</section>

</body>


{% include '../home/footer.html' %}
{% end %}


