{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
{% end %}

{% block javascript %}
 <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYUOH4rtmdX21L9jA7GNa5W_fKq9Ej8s0&callback=initMap">
 </script>
<script type="text/javascript" src="{{ site_base }}/static/js/frubik.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/map_store.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com/',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(38,38,38);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 8,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
            'onLoad':function(){
               // $('.ellipsis').ellipsis();
               // $(".ellipsis").dotdotdot();
             }
        };

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>
<script type="text/javascript">
  $(document).ready(function() 
{
      $('.font-menu').removeClass('active');
      $('.ubicacion').addClass("active");

  });
</script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}



<!-- *contenido* -->
<body id="lapimport">

<div style="margin-top:40px;"></div>


<!-- **locales** -->
<section>
 <div class="container">
   <div class="col-md-12 col-sm-12 col-xs-12">
    <div align="center">
      <div class="texto-locales-interior {{editabletext}}" text-id="{{ site.name + '_loc_arauco' }}"> {{ read_text(site.name +  '_loc_arauco') }}</div>
      <hr class="ubicacion-interior">
   </div>
   </div>

</section>

<section id="cont">
 <div class="container">
   <div class="col-md-6 col-sm-12 col-xs-12">
    <div align="center">
      <div style="position:relative;">
        {% if is_admin %}
        <div class="image-upload">
          <label for="img_box_ara">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_box_ara" name="image" id="img_box_ara" >
       </div>
       {% end %}
    <a id="{{ site.name + '_box_ara' }}" href="{{ read_link(site.name + '_box_ara') }}" target="_blank">
       <img id="{{ site.name }}_box_ara" src="{{ read_image(site.name + '_box_ara', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_ara') }}'" class="box-locales" alt="item">
    </a> 
        {% if is_admin %}
          <img class="change-image editablelink loc" link-id="{{ site.name + '_box_ara' }}" content="{{ read_link(site.name + '_box_ara') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
        {% end %}
      </div>

      <div class="texto-ubi-2 {{editabletext}}" text-id="{{ site.name + '_local_ara' }}"> {{ read_text(site.name +  '_local_ara') }}</div>
      <div class="texto-ubi-2 {{editabletext}}" text-id="{{ site.name + '_local_ara_2' }}"> {{ read_text(site.name +  '_local_ara_2') }}</div>
      <hr class="inter hidden-sm hidden-xs">
<!--       <div class="texto-tel {{editabletext}}" text-id="{{ site.name + '_contenido_1_ara' }}"> {{ read_text(site.name +  '_contenido_1_ara') }}</div> -->
       <a href="tel:56229553986">
      <div class="texto-tel-dos {{editabletext}}" text-id="{{ site.name + '_numero_3' }}"> {{ read_text(site.name +  '_numero_3') }} </div> </a>
      <div class="texto-tel {{editabletext}}" text-id="{{ site.name + '_contenido_2_ara' }}"> {{ read_text(site.name +  '_contenido_2_ara') }}</div>
      <div class="texto-tel {{editabletext}}" text-id="{{ site.name + '_contenido_3_ara' }}"> {{ read_text(site.name +  '_contenido_3_ara') }}</div>
      <div class="texto-tel {{editabletext}}" text-id="{{ site.name + '_contenido_4_ara' }}"> {{ read_text(site.name +  '_contenido_4_ara') }}</div>

     </div>
 </div>

   <div class="col-md-6 col-sm-12 col-xs-12">
    <div align="center">
    <div align="center">
<!--     <div id="map" class="fondo-mapa" style=" height: 400px; top: 30px;width: 74%; float: left; margin-bottom:35px;">
    </div> -->

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.7956640006405!2d-70.580103985272!3d-33.40249478078772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf263ac6ccc9%3A0x3072ee75d8c28925!2sParque+Arauco!5e0!3m2!1sen!2scl!4v1484676128304" width="600" height="450" frameborder="0" style="border:0; margin-top: 29px !important;" allowfullscreen></iframe>

    <!-- fin editar imagen -->
    <div class="on-map absolute top-map">
        <div class="container-fluid-new absolute">
            <div class="row-fluid-new">
            </div>
        </div>
    </div>
   </div>
   </div>
 </div>



</div>
 <div style="margin-bottom:30px;"></div>
</section>

</body>


{% include '../home/footer.html' %}
{% end %}


