{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
 {% include '../home/header.html' %}
{% end %}


{% block javascript %}

<script  type="text/javascript" src="{{ site_base }}/static/js/app.js"></script>

{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}


 <section class="container-fluid banner">
           <div style="position:relative;">
           {% if is_admin %}
           <div class="image-upload lapiz visible-movil">
            <label for="img_banner_investments">
             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments" name="image" id="img_banner_investments" >
     </div>
     {% end %}
     <img id="{{ site.name }}_banner_investments" src="{{ read_image(site.name + '_banner_investments', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments',) }}'" class="banner-bg" alt="item">
     </div>
        <!-- <img src="../static/img/banner-5.jpg" alt="Banner" class="banner-bg"> -->
        <div class="banner-copy banner-copy-right">
            <h1 class="banner-title {{editabletext}}" text-id="{{ site.name + '_investments' }}"> {{ read_text(site.name +  '_investments') }}</h1>
        </div>
    </section>

    <section class="container investments">
        <div class="row">
            <div class="col-xs-12">
                <div class="text text-big text-black investments-title {{editabletext}}" text-id="{{ site.name + '_investments_intro' }}"> {{ read_text(site.name +  '_investments_intro') }}</div>
                <div class="investments-list">
                    <div class="investments-item">
                        <div class="investments-item-logo">
                         <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_ban_inve_1">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_ban_inve_1" name="image" id="img_ban_inve_1" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_ban_inve_1" src="{{ read_image(site.name + '_ban_inve_1', 1) }}" onload="this.src='{{ read_image(site.name + '_ban_inve_1',) }}'" class="banner-bg" alt="item">
                       </div>
                           
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_1' }}"> {{ read_text(site.name +  '_pat_1') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_2' }}"> {{ read_text(site.name +  '_pat_2') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_3' }}"> {{ read_text(site.name +  '_pat_3') }} </div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_4' }}"> {{ read_text(site.name +  '_pat_4') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_5' }}"> {{ read_text(site.name +  '_pat_5') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_6' }}"> {{ read_text(site.name +  '_pat_6') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_7' }}"> {{ read_text(site.name +  '_pat_7') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_8' }}"> {{ read_text(site.name +  '_pat_8') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                            
                            <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_ban_inve_2">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_ban_inve_2" name="image" id="img_ban_inve_2" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_ban_inve_2" src="{{ read_image(site.name + '_ban_inve_2', 1) }}" onload="this.src='{{ read_image(site.name + '_ban_inve_2',) }}'" class="banner-bg" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_9' }}"> {{ read_text(site.name +  '_pat_9') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_10' }}"> {{ read_text(site.name +  '_pat_10') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_11' }}"> {{ read_text(site.name +  '_pat_11') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_12' }}"> {{ read_text(site.name +  '_pat_12') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_13' }}"> {{ read_text(site.name +  '_pat_13') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_14' }}"> {{ read_text(site.name +  '_pat_14') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_15' }}"> {{ read_text(site.name +  '_pat_15') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_16' }}"> {{ read_text(site.name +  '_pat_16') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                            
                            <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_ban_inve_3">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_ban_inve_3" name="image" id="img_ban_inve_3" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_ban_inve_3" src="{{ read_image(site.name + '_ban_inve_3', 1) }}" onload="this.src='{{ read_image(site.name + '_ban_inve_3',) }}'" class="banner-bg" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_17' }}"> {{ read_text(site.name +  '_pat_17') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_18' }}"> {{ read_text(site.name +  '_pat_18') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_19' }}"> {{ read_text(site.name +  '_pat_19') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_20' }}"> {{ read_text(site.name +  '_pat_20') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_21' }}"> {{ read_text(site.name +  '_pat_21') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_22' }}"> {{ read_text(site.name +  '_pat_22') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_23' }}"> {{ read_text(site.name +  '_pat_23') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_24' }}"> {{ read_text(site.name +  '_pat_24') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
<!--                     <div class="investments-item">
                        <div class="investments-item-logo">
                         
                          <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_ban_inve_4">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_ban_inve_4" name="image" id="img_ban_inve_4" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_ban_inve_4" src="{{ read_image(site.name + '_ban_inve_4', 1) }}" onload="this.src='{{ read_image(site.name + '_ban_inve_4',) }}'" class="banner-bg" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_25' }}"> {{ read_text(site.name +  '_pat_25') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_26' }}"> {{ read_text(site.name +  '_pat_26') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_27' }}"> {{ read_text(site.name +  '_pat_27') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_28' }}"> {{ read_text(site.name +  '_pat_28') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_29' }}"> {{ read_text(site.name +  '_pat_29') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_30' }}"> {{ read_text(site.name +  '_pat_30') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_31' }}"> {{ read_text(site.name +  '_pat_31') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_32' }}"> {{ read_text(site.name +  '_pat_32') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                            
                            <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_ban_inve_5">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_ban_inve_5" name="image" id="img_ban_inve_5" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_ban_inve_5" src="{{ read_image(site.name + '_ban_inve_5', 1) }}" onload="this.src='{{ read_image(site.name + '_ban_inve_5',) }}'" class="banner-bg" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_33' }}"> {{ read_text(site.name +  '_pat_33') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_34' }}"> {{ read_text(site.name +  '_pat_34') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_35' }}"> {{ read_text(site.name +  '_pat_35') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_36' }}"> {{ read_text(site.name +  '_pat_36') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_37' }}"> {{ read_text(site.name +  '_pat_37') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_38' }}"> {{ read_text(site.name +  '_pat_38') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_39' }}"> {{ read_text(site.name +  '_pat_39') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_40' }}"> {{ read_text(site.name +  '_pat_40') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                          
                           <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_ban_inve_6">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_ban_inve_6" name="image" id="img_ban_inve_6" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_ban_inve_6" src="{{ read_image(site.name + '_ban_inve_6', 1) }}" onload="this.src='{{ read_image(site.name + '_ban_inve_6',) }}'" class="banner-bg" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_41' }}"> {{ read_text(site.name +  '_pat_41') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_42' }}"> {{ read_text(site.name +  '_pat_42') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_43' }}"> {{ read_text(site.name +  '_pat_43') }</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_44' }}"> {{ read_text(site.name +  '_pat_44') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_45' }}"> {{ read_text(site.name +  '_pat_45') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_46' }}"> {{ read_text(site.name +  '_pat_46') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_47' }}"> {{ read_text(site.name +  '_pat_47') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_48' }}"> {{ read_text(site.name +  '_pat_48') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                          
                           <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_ban_inve_7">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_ban_inve_7" name="image" id="img_ban_inve_7" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_ban_inve_7" src="{{ read_image(site.name + '_ban_inve_7', 1) }}" onload="this.src='{{ read_image(site.name + '_ban_inve_7',) }}'" class="banner-bg" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_49' }}"> {{ read_text(site.name +  '_pat_49') }}</div>
                                    <div class="text text-big-med investments-item-info-item-valu {{editabletext}}" text-id="{{ site.name + '_pat_50' }}"> {{ read_text(site.name +  '_pat_50') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_51' }}"> {{ read_text(site.name +  '_pat_51') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_52' }}"> {{ read_text(site.name +  '_pat_52') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_53' }}"> {{ read_text(site.name +  '_pat_53') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_54' }}"> {{ read_text(site.name +  '_pat_54') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_pat_55' }}"> {{ read_text(site.name +  '_pat_55') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_pat_56' }}"> {{ read_text(site.name +  '_pat_56') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>



{% include '../home/footer.html' %}

{% end %}

