{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
 {% include '../home/header.html' %}
{% end %}


{% block javascript %}
<script  type="text/javascript" src="{{ site_base }}/static/js/app.js"></script>

{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}


<section class="container-fluid banner">
           <div style="position:relative;">
           {% if is_admin %}
           <div class="image-upload lapiz visible-movil">
            <label for="img_banner_investments">
             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments" name="image" id="img_banner_investments" >
     </div>
     {% end %}
     <img id="{{ site.name }}_banner_investments" src="{{ read_image(site.name + '_banner_investments', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments',) }}'" class="banner-bg" alt="item">
     </div>
      
        <div class="banner-copy banner-copy-right">
            <h1 class="banner-title {{editabletext}}" text-id="{{ site.name + '_investments' }}"> {{ read_text(site.name +  '_investments') }}</h1>
        </div>
    </section>

     <section class="container investments">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text text-big text-black investments-title">Our partners have been involved in the following deals:</h2>
                <div class="investments-list">
                    <div class="investments-item">
                        <div class="investments-item-logo">
                         <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_banner_investments_1">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments_1" name="image" id="img_banner_investments_1" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_banner_investments_1" src="{{ read_image(site.name + '_banner_investments_1', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments_1',) }}'" class="investments-item-logo-img" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_uno' }}"> {{ read_text(site.name +  '_texto_uno') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_dos' }}"> {{ read_text(site.name +  '_texto_dos') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_tres' }}"> {{ read_text(site.name +  '_texto_tres') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_cuatro' }}"> {{ read_text(site.name +  '_texto_cuatro') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_cinco' }}"> {{ read_text(site.name +  '_texto_cinco') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_seis' }}"> {{ read_text(site.name +  '_texto_seis') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_siete' }}"> {{ read_text(site.name +  '_texto_siete') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_ocho' }}"> {{ read_text(site.name +  '_texto_ocho') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                             <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_banner_investments_2">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments_2" name="image" id="img_banner_investments_2" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_banner_investments_2" src="{{ read_image(site.name + '_banner_investments_2', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments_2',) }}'" class="investments-item-logo-img" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_nueve' }}"> {{ read_text(site.name +  '_texto_nueve') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_diez' }}"> {{ read_text(site.name +  '_texto_diez') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_once' }}"> {{ read_text(site.name +  '_texto_once') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_doce' }}"> {{ read_text(site.name +  '_texto_doce') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_trece' }}"> {{ read_text(site.name +  '_texto_trece') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_catorce' }}"> {{ read_text(site.name +  '_texto_catorce') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_quince' }}"> {{ read_text(site.name +  '_texto_quince') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_dieciseis' }}"> {{ read_text(site.name +  '_texto_dieciseis') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                            <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_banner_investments_3">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments_3" name="image" id="img_banner_investments_3" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_banner_investments_3" src="{{ read_image(site.name + '_banner_investments_3', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments_3',) }}'" class="investments-item-logo-img" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_dieciocho' }}"> {{ read_text(site.name +  '_texto_dieciocho') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_diecinueve' }}"> {{ read_text(site.name +  '_texto_diecinueve') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_veinte' }}"> {{ read_text(site.name +  '_texto_veinte') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_veintidos' }}"> {{ read_text(site.name +  '_texto_veintidos') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_veintitres' }}"> {{ read_text(site.name +  '_texto_veintitres') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_veinticuatro' }}"> {{ read_text(site.name +  '_texto_veinticuatro') }}</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_texto_veinticinco' }}"> {{ read_text(site.name +  '_texto_veinticinco') }}</div>
                                    <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_texto_veintiseis' }}"> {{ read_text(site.name +  '_texto_veintiseis') }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                             <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_banner_investments_4">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments_4" name="image" id="img_banner_investments_4" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_banner_investments_4" src="{{ read_image(site.name + '_banner_investments_4', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments_4',) }}'" class="investments-item-logo-img" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Partner:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Sergio Gutierrez</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Year:</div>
                                    <div class="text text-big-med investments-item-info-item-value">2013</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Description:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Colgram Group is a specialty retail company that has a leading position in apparel and footwear for kids and a growing
                                        participation in outdoors. It groups 3 brands/concepts: Colloky, Opaline, and Zolkan. As of Dec. 2016, Colgram operated more than 90 stores between Chile and Peru.</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Status:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Realized</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                             <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_banner_investments_5">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments_5" name="image" id="img_banner_investments_5" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_banner_investments_5" src="{{ read_image(site.name + '_banner_investments_5', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments_5',) }}'" class="investments-item-logo-img" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Partner:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Sergio Gutierrez</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Year:</div>
                                    <div class="text text-big-med investments-item-info-item-value">2012</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Description:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Leading integrated security technology company which specializes in alarm monitoring, neighborhood protection and access control.</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Status:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Active</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                             <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_banner_investments_6">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments_6" name="image" id="img_banner_investments_6" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_banner_investments_6" src="{{ read_image(site.name + '_banner_investments_6', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments_6',) }}'" class="investments-item-logo-img" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Partner:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Sergio Gutierrez</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Year:</div>
                                    <div class="text text-big-med investments-item-info-item-value">2010</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Description:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Tiaxa provides billing and rating platforms to mobile operators, as well as extending nano-credits to mobile prepaid users. Is present in Latin America and Asia.</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Status:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Active</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="investments-item">
                        <div class="investments-item-logo">
                            <div style="position:relative;">
                           {% if is_admin %}
                           <div class="image-upload lapiz visible-movil">
                            <label for="img_banner_investments_7">
                             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                           </label>
                           <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investments_7" name="image" id="img_banner_investments_7" >
                         </div>
                         {% end %}
                         <img id="{{ site.name }}_banner_investments_7" src="{{ read_image(site.name + '_banner_investments_7', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_investments_7',) }}'" class="investments-item-logo-img" alt="item">
                       </div>
                        </div>
                        <div class="investments-item-copy">
                            <ul class="investments-item-info">
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Partner:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Sergio Gutierrez</v>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Year:</div>
                                    <div class="text text-big-med investments-item-info-item-value">2010</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Description:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Nubox is the leading web base solution for accounting, payroll and billing software for small and mid-size businesses. As of December 2015 it had more than 4,500 active clients both in Chile and in Colombia.</div>
                                </li>
                                <li class="investments-item-info-item">
                                    <div class="text text-black text-big-med investments-item-info-item-key">Status:</div>
                                    <div class="text text-big-med investments-item-info-item-value">Active</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% include '../home/footer.html' %}

{% end %}

