{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
 {% include '../home/header.html' %}
{% end %}


{% block javascript %}
<script  type="text/javascript" src="{{ site_base }}/static/js/app.js"></script>

{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}


<section class="container-fluid banner">
         <div style="position:relative;">
           {% if is_admin %}
           <div class="image-upload lapiz visible-movil">
            <label for="img_banner_team">
             <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}_banner_team" name="image" id="img_banner_team" >
     </div>
     {% end %}
     <img id="{{ site.name }}_banner_team" src="{{ read_image(site.name + '_banner_team', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_team',) }}'" class="banner-bg" alt="item">
     </div>
        <!-- <img src="../static/img/banner-4.jpg" alt="Banner" class="banner-bg"> -->
        <div class="banner-copy banner-copy-right">
            <div class="banner-title {{editabletext}}" text-id="{{ site.name + '_team' }}"> {{ read_text(site.name +  '_team') }}</div>
        </div>
    </section>

    <section class="container team">
        <div class="row">
            <div class="col-xs-12">
                <div class="popup-open team-item" data-popup="gonzalo">
                 <div style="position:relative;">
                   {% if is_admin %}
                   <div class="image-upload lapiz visible-movil">
                    <label for="img_banner_chic_1">
                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_banner_chic_1" name="image" id="img_banner_chic_1" >
                 </div>
                 {% end %}
                 <a id="{{ site.name + '_banner_chic_1' }}" href="{{ read_link(site.name + '_banner_chic_1') }}">
                  <img id="{{ site.name }}_banner_chic_1" src="{{ read_image(site.name + '_banner_chic_1', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_chic_1',) }}'" class="team-item-bg" alt="item">
                 </a>
                 </div>

                 {% if is_admin %}
                 <img class="change-image editablelink" link-id="{{ site.name + '_banner_chic_1' }}" content="{{ read_link(site.name + '_banner_chic_1') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                 {% end %}
                    <!-- <img src="../static/img/team.svg" alt="Team" class="team-item-bg"> -->
                    <div class="team-item-copy">
                        <div class="text text-brand text-big team-item-name {{editabletext}}" text-id="{{ site.name + '_team_ban_1' }}"> {{ read_text(site.name +  '_team_ban_1') }}</div>
                        <div class="text text-accent text-alt team-item-role {{editabletext}}" text-id="{{ site.name + '_team_ban_2' }}"> {{ read_text(site.name +  '_team_ban_2') }}</div>
                    </div>
                </div>

                
                <div class="popup-open team-item" data-popup="sergio">
                  <div style="position:relative;">
                   {% if is_admin %}
                   <div class="image-upload lapiz visible-movil">
                    <label for="img_banner_chic_2">
                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_banner_chic_2" name="image" id="img_banner_chic_2" >
                 </div>
                 {% end %}
                 <a id="{{ site.name + '_banner_chic_2' }}" href="{{ read_link(site.name + '_banner_chic_2') }}">
                  <img id="{{ site.name }}_banner_chic_2" src="{{ read_image(site.name + '_banner_chic_2', 1) }}" onload="this.src='{{ read_image(site.name + '_banner_chic_2',) }}'" class="team-item-bg" alt="item">
                </a>
                 </div>
                 {% if is_admin %}
                 <img class="change-image editablelink" link-id="{{ site.name + '_banner_chic_2' }}" content="{{ read_link(site.name + '_banner_chic_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                 {% end %}
                 <!--    <img src="../static/img/team.svg" alt="Team" class="team-item-bg"> -->
                    <div class="team-item-copy">
                        <div class="text text-brand text-big team-item-name {{editabletext}}" text-id="{{ site.name + '_team_ban_3' }}"> {{ read_text(site.name +  '_team_ban_3') }} </div>
                        <div class="text text-accent text-alt team-item-role {{editabletext}}" text-id="{{ site.name + '_team_ban_4' }}"> {{ read_text(site.name +  '_team_ban_4') }} </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





{% include '../home/footer.html' %}

{% end %}

