.til-ban{
    position: relative;
    top: -202px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 40px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

.til-ban-2 {
    position: absolute;
    bottom: 0px;
    /* margin-top: 139px; */
    color: white;
    text-align: left;
    left: 19px;
    font-weight: 100;
    width: 89%;
    font-size: 18px;
    padding-bottom: 170px;
    /* height: 53px; */
    /* overflow: hidden; */
}

hr.detail-art{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -215px;
    top: -197px;
}

.dan {
    position: relative;
     top: -60px; 
    text-align: left;
    left: 0px;
    width: 100%;
    font-size: 22px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
/*    margin-top: -27px;*/
}


a.lok{
    float: left;
    position: relative;
    top: 0px;
    color: black;
    text-align: left;
    left: 194px;
}

/*-----------------------------------------------Responsive------------------------*/

@media (max-width: 1199px){
hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -178px;
    top: -227px;
}

.til-ban {
    position: relative;
    top: -236px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 30px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

}

@media (max-width: 991px){

.til-ban {
    position: relative;
    top: -214px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size:29px;
    font-weight: 600;
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -133px;
    top: -216px;
}


.dan {
    position: relative;
    top: -100px;
    text-align: left;
    left: 0px;
    width: 100%;
    font-size: 21px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
    margin-top: 0px;
}

.til-ban-2 {
    position: absolute;
    bottom: 0px;
    /* margin-top: 139px; */
    color: white;
    text-align: left;
    left: 19px;
    font-weight: 100;
    width: 85%;
    font-size: 16px;
    padding-bottom: 153px;
    /* height: 53px; */
    /* overflow: hidden; */
}

a.lok {
    float: left;
    position: relative;
    top: 0px;
    color: black;
    text-align: left;
    left: -46px;
}

}

@media (max-width: 859px){
    a.lok {
    float: left;
    position: relative;
    top: 0px;
    color:black;
    text-align: left;
    left: 0px;
}

}


@media (max-width: 767px){
hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -132px;
    top: -231px;
}


.til-ban {
    position: relative;
    top: -221px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 28px;
    font-weight: 600;
}

.dan {
    position: relative;
    top: -100px;
    text-align: left;
    left: 0px;
    width: 100%;
    font-size: 22px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
     margin-top: 0px; 
}

.dan img{
    width: 100% !important;
}

}


@media screen and (max-width: 700px){
    .mobile-det{
    margin-top: -137px !important;
}

.til-ban-2 {
    font-size: 16px;
}


}

@media (max-width: 700px){
    hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -122px;
    top: -227px;
}

.ba-mo{
    height: 480px !important;
}

.til-ban {
    position: relative;
    top: -216px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 23px;
    font-weight: 600;
}

}

@media (max-width: 640px){
     .til-ban-2 {
     font-size: 15px;
}  

}


@media (max-width: 616px){
    .til-ban-2 {
    padding-bottom: 140px;

}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -107px;
    top: -215px;
}

.til-ban {
    position: relative;
    top: -206px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 22px;
    font-weight: 600;
}

}


@media (max-width: 584px){
    .til-ban-2 {
    width: 90%;
    padding-bottom: 140px;
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -100px;
    top: -215px;
}

}

@media (max-width: 562px){
 .til-ban{
    font-size: 20px;
 }

}


@media (max-width: 529px){
.dan {
    position: relative;
    top: -100px;
    text-align: left;
    left: 0px;
    width: 100%;
    font-size: 21px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
}

}

@media (max-width: 518px){
hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -86px;
    top: -215px;
}

.til-ban {
    position: relative;
    top: -213px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 19px;
    font-weight: 600;
}

.til-ban-2{
  width: 94%;
}

}

@media (max-width: 496px){
 .til-ban {
    position: relative;
    top: -227px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 19px;
    font-weight: 600;
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -86px;
    top: -235px;
}
.til-ban-2 {
    padding-bottom: 157px;
    left: 12px;
}

}


@media (max-width: 484px){
.til-ban {
    position: relative;
    top: -225px;
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -77px;
    top: -236px;
}

}

@media (max-width: 474px){
 .til-ban {
    position: relative;
    top: -235px;
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -80px;
    top: -250px;
}

}

@media (max-width: 442px){
    .til-ban-2 {
    position: absolute;
    bottom: 0px;
    /* margin-top: 139px; */
    color: white;
    text-align: left;
    left: 19px;
    font-weight: 100;
    width: 94%;
    font-size: 15px;
    padding-bottom: 162px;
    /* height: 53px; */
    /* overflow: hidden; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -74px;
    top: -250px;
}

}

@media (max-width: 435px){
.til-ban-2{
    font-size: 14px;
}

}

@media (max-width: 420px){
/*.til-ban-2 {
    font-size: 15px;
    top: -302px;
}*/

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -64px;
    top: -249px;
}

}

@media (max-width: 409px){
    hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -64px;
    top: -258px;
}

.til-ban {
    position: relative;
    top: -242px;
}

}

@media (max-width: 400px){

/*.til-ban {
    position: relative;
    top: -211px;
    color: white;
    left: -5px;
    font-size: 22px;
    font-weight: 600;
}
*/
.til-ban-2 {
    width: 94%;
}

}

@media (max-width: 375px){
.til-ban-2 {
    left: 13px;

}

}

@media (max-width: 366px){
    .til-ban-2 {
    width: 95%;
}

}

@media (max-width: 360px){
.til-ban-2 {
    font-size: 14px;
    top: -341px;
    left: 9px;
    width: 96%;
}

.til-ban {
    position: relative;
    top: -235px;
    color: white;
    left: -5px;
    /* border-bottom: 2px solid white; */
    font-size: 19px;
    font-weight: 600;
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -64px;
    top: -253px;
}

}

@media (max-width: 335px){
    .til-ban-2 {
    width: 98%;
}

}

@media (max-width: 329px){
      .til-ban-2 {
    font-size: 13px;
}

}

@media (max-width: 320px){
/*
.til-ban-2 {
    top: -306px;
    left: 12px;
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -54px;
    top: -224px;
}

.til-ban {
    position: relative;
    top: -215px;
    color: white;
    left: -5px;
    font-size: 19px;
    font-weight: 600;
}*/

}

@media (max-width: 300px){
    .dan {
    position: relative;
    top: -100px;
    text-align: left;
    left: -0px;
    width: 100%;
    font-size: 22px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
}

}