{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block head %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block scripts %}
<script type="text/javascript">
 $(document).ready(function()
{
     $('.font-menu').removeClass('activado');
     $('.biluppo2').addClass("activado");
     $('.biluppo2').removeClass('barras');

 });
</script>
<script type="text/template" id="shopping-cart-units-total" >
    <span class="quantity" style="font-family: arial; font-size: 15px"><b>{{! units_total }}</b></span>
</script>
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script>
<script type="text/javascript">
   /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
    
</script> 
{% end %} 
{% block css%}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
<link rel="stylesheet" href="{{site_base}}/static/estilos.css" >
<link rel="stylesheet" href="{{site_base}}/static/font-awesome.css">
{% end %}

{% block body %}
{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}
<style type="text/css">
body{
    height: 100%;
    overflow-x: hidden;
}
  @media only screen and (max-width: 414px){
    .biluppoQS{
      margin-top: -9% !important;
      margin-left: -7% !important;
    }
    .quienesSomos{
      width: 323% !important;
    }
    .mujeresBil{
      width: 283% !important;
      margin-top: 250% !important;
    }
    .nombres{
      margin-left: -33% !important;
      margin-top: 228% !important;
    }
    .ardillaInst{
      margin-top: 703% !important;
      content: url(https://84static.loadingplay.com/static/images/2ff8e4c4eb7d4107afe227e0a74114c3_ardillabiluppo.png);
      width: 346% !important;
    }
    .faceInst{
      top: 879px !important;
      width: 200%;
      left: 70px !important;
    }
  }
  @media only screen and (max-width: 375px){
    .mujeresBil{
      margin-top: 350% !important;    
    }
    .faceInst {
    top: 798px !important;
    left: 64px !important;
    font-size: 11px !important;
    }
  }

  @media only screen and (max-width: 360px){
    .faceInst {
    top: 768px !important;
    left: 59px !important;
    font-size: 11px !important;
   }
  }

  @media only screen and (max-width: 320px){
    .faceInst {
    top: 685px !important;
    width: 200%;
    left: 49px !important;
    font-size: 10px !important;
   }
  }
</style>

<div class="contenedor" style="padding-top: 100px; max-width: 1280px;  position: relative; margin-left: auto; margin-right: auto;" >
<div class="clearfix" style="padding-top: 50px"></div>
    <div class="texto">
    <br><br>
      {% if is_admin %}
        <div class="image-upload lapiz visible-movil" style="left: 450px; top: 190px; z-index: 1;">
    <label for="img_titulo">
        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
    </label>
    <input type="file" class="editableimage" image-id="{{ site.name }}titulo" name="image" id="img_titulo" style="width: 375px; height: 394px;" />
</div>
{% end %}
<img class="biluppoQS" id="{{ site.name }}titulo" src="{{ read_image(site.name + 'titulo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'titulo',) }}'" class="cuadros-home" alt="item" style="width: 308px; height: 71px; object-fit: scale-down;margin-left:30%; margin-top:-7% ">
<br>
<br>
<br>
<br>
<div class="text_main text-left {{editabletext}} quienesSomos" text-id="{{ site.name + 'text_biluppo' }}" class="parrafo" align="left" style="width: 290px; margin-left: 32%; margin-top:-10%; color: grey ">{{ read_text(site.name + 'text_biluppo') }}</div>
<h5 class="faceInst" style="position: relative; top: 27px;left: 170px;font-size: 13px; color: red; z-index: 1"><b>Para recibir nuestros consejos<br>
siguenos en <a href="https://www.instagram.com/biluppo/?hl=en" style="color: red"><u>Instagram</u></a> y <a href="https://www.facebook.com/biluppo/" style="color: red"><u>Facebook</u></a></b></h5>
<img class="ardillaInst" src="https://84static.loadingplay.com/static/images/50a2e47504d059fd0fabb6d16db53b66_Biluppo_PNGs_Web_7-44.png" style="position: relative; margin-bottom: -30%;margin-top: -10%;margin-left: -17%">
</div>

    <div class="fotos" style="margin-left: 9%;float: left; float:left; width: 30%; ">
    {% if is_admin %}
        <div class="image-upload lapiz visible-movil" style="width: 45%; margin-top: 11%; z-index: 1">
         <label for="img_biluppo">
           <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'" style="    margin-left: 400%;">
         </label>
         <input type="file" class="editableimage" image-id="{{ site.name }}biluppo" name="image" id="img_biluppo" />
       </div>
       {% end %}
       
        <img id="{{ site.name }}biluppo" src="{{ read_image(site.name + 'biluppo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'biluppo',) }}'" class="cuadros-home mujeresBil" alt="item" style="width: 100%; height: 10%; margin-top: -15%">
    </div>
    <div class="nombres container" style="margin-right: 8%;float: right;width: 20%;margin-top: 15%;">
      <div class="nombre text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_nombre1' }}" style="width: 200px;"><b>{{ read_text(site.name +  'text_nombre1') }}</b></div>
      <div class="desc text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_desc1' }}" style="width: 200px;"><b>{{ read_text(site.name +  'text_desc1') }}</b></div>
      <div class=" texto2 text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_texto1' }}" style="width: 250px;">{{ read_text(site.name +  'text_texto1') }}</div>
      <br>
      <div class="nombre text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_nombre2' }}" style="width: 200px;"><b>{{ read_text(site.name +  'text_nombre2') }}</b></div>
      <div class="desc text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_desc2' }}" style="width: 200px;margin-top: 3%;"><b>{{ read_text(site.name +  'text_desc2') }}</b></div>
      <div class=" texto2 text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_texto2' }}" style="width: 250px;">{{ read_text(site.name +  'text_texto2') }}</div>
      
    </div>

<div class="clearfix" style="padding: 30px;">
</div>

<div class="clearfix" style="padding-top: 80px"></div>
</div>
{% include '../home/carrito_compra.html' %}
{% include '../home/footer.html' %}
{% end %}