{% extends "../base.html" %}

{% block header %}
{% include '../home/header.content.html' %}
{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

{% include '../home/menu_fixed.html' %}
<section class="back-title-top">
    <!--banner grande-->
        {% if is_admin %}
        <div class="">
               <div class="image-upload lapiz visible-movil">
                   <label for="img_terms_conditions">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                   <input type="file" class="editableimage" image-id="{{ site.name }}_terms_conditions" name="image" id="img_terms_conditions">
               </div>
                {% end %}
                <img id="{{ site.name }}_faq" src="{{ read_image(site.name + '_terms_conditions', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_terms_conditions',500) }}'" class="desaturada terms_conditions_img" alt="item">

                <div class="midled">
                    <h1 class="col-md-12 col-xs-12 text_terms_conditions text-center {{editabletext}}" text-id="{{ site.name + '_text_terms_conditions' }}"> {{ read_text(site.name +  '_text_terms_conditions') }}
                    </h1>
                    <div class="clearfix"></div>
                </div>
       </div>

{% include '../home/menu_tag.html' %}
</section>

<div class="container text-cont">
    <div class="space50"> </div>
    <!-- <h1>PRONTO</h1> -->
    <p class="{{editabletext}}" text-id="{{ site.name + '_tc_desc' }}">{{ read_text(site.name + '_tc_desc')}}</p>
    <div class="space100"> </div>
</div>

{% include '../home/footer.html' %}
{% end %}
