.til-ban {
    position: relative;
    top: -202px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 40px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

.til-ban-2 {
    position: absolute;
    bottom: 0px;
    /* margin-top: 139px; */
    color: white;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 89%;
    font-size: 18px;
    padding-bottom: 155px;
    /* height: 53px; */
    /* overflow: hidden; */
}

hr.detail-art{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -215px;
    top: -197px;
}

.dan{
    position: relative;
     top: -60px; 
    text-align: left;
    left: 0px;
    width: 100%;
    font-size: 22px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
/*    margin-top: -27px;*/
}

.din{
    position: relative;
    top: -60px; 
    text-align: left;
    left: 0px;
    width: 100%;
    font-size: 15px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
/*    margin-top: -27px;*/
}

/*-------------------------------Responsive----------------------*/

@media (max-width: 1199px){
hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -178px;
    top: -227px;
}


.til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 89%;
    font-size: 18px;
    padding-bottom: 153px;
    /* height: 42px; */
    /* overflow: hidden; */
}

.til-ban {
    position: relative;
    top: -236px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 33px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

}

@media (max-width: 991px){
.dan {
    position: relative;
    top: -100px;
    text-align: left;
    left: 0px;
    width: 100%;
    font-size: 22px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
    margin-top: 0px;
}

.til-ban {
    position: relative;
    top: -240px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 29px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -130px;
    top: -249px;
}

.til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 89%;
    font-size: 16px;
    padding-bottom: 176px;
    /* height: 42px; */
    /* overflow: hidden; */
}

}

@media (max-width: 767px){
.dan {
    position: relative;
    top: -100px;
    text-align: left;
    left: 0px;
    width: 100%;
    font-size: 22px;
    font-weight: 100;
    color: #777;
    line-height: 30px;
     margin-top: 0px; 
}

.dan img{
    width: 100% !important;
}

.til-ban {
    position: relative;
    top: -228px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 26px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -130px;
    top: -240px;
}


}


@media (max-width: 700px){

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -122px;
    top: -221px;
}

.fub{
    height: 480px !important;
}

.til-ban {
    position: relative;
    top: -212px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 24px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

.til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 89%;
    font-size: 15px;
    padding-bottom: 168px;
    /* height: 42px; */
    /* overflow: hidden; */
}

}

@media (max-width: 681px){
/*    .til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 89%;
    font-size: 16px;
    padding-bottom: 171px;
}
*/
hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -115px;
    top: -221px;
}

}

@media (max-width: 646px){

.til-ban {
    position: relative;
    top: -245px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 24px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -110px;
    top: -255px;
}

}

/*@media (max-width: 600px){
    hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -99px;
    top: -221px;
}

}
*/

@media (max-width: 582px){
    .til-ban {
    position: relative;
    top: -231px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 25px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -95px;
    top: -240px;
}

.til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 96%;
    font-size: 15px;
    padding-bottom: 168px;
    /* height: 42px; */
    /* overflow: hidden; */
}

}


@media (max-width: 547px){
.til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 100%;
    font-size: 15px;
    padding-bottom: 168px;
    /* height: 42px; */
    /* overflow: hidden; */
}

.til-ban {
    position: relative;
    top: -231px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 22px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

}

@media (max-width: 528px){
.til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 100%;
    font-size: 14px;
    padding-bottom: 168px;
    /* height: 42px; */
    /* overflow: hidden; */
}

}

@media (max-width: 521px){
/*    .til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 89%;
    font-size: 15px;
    padding-bottom: 171px;
}
*/
hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -83px;
    top: -246px;
}

}

@media (max-width: 480px){
hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -77px;
    top: -246px;
}

}

@media (max-width: 450px){
    .til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 95%;
    font-size: 13px;
    padding-bottom: 168px;
    /* height: 42px; */
    /* overflow: hidden; */
}

}

@media (max-width: 446px){
    .til-ban {
    position: relative;
    top: -231px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 23px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}
hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -67px;
    top: -244px;
}

}

@media (max-width: 426px){
.til-ban-2 {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 13px;
    font-weight: 100;
    width: 95%;
    font-size: 13px;
    padding-bottom: 165px;
    /* height: 42px; */
    /* overflow: hidden; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -64px;
    top: -249px;
}

.til-ban {
    position: relative;
    top: -240px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 22px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

}

@media (max-width: 418px){
.til-ban {
    position: relative;
    top: -231px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 20px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

}

@media (max-width: 408px){
    .til-ban {
    position: relative;
    top: -245px;
    color: white;
    left: 0px;
    /* border-bottom: 2px solid white; */
    font-size: 20px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -60px;
    top: -261px;
}

}

@media (max-width: 400px){
.til-ban-2 {
    width: 94%;
}

}

@media (max-width: 375px){


}

@media (max-width: 373px){
    .til-ban-2 {
    width: 100%;
}

}

@media (max-width: 360px){

.til-ban-2 {
    left: 0px;
    padding-bottom: 162px;
}


.til-ban {
    position: relative;
    top: -231px;
    color: white;
    left: -13px;
    /* border-bottom: 2px solid white; */
    font-size: 19px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

}

@media (max-width: 359px){

.til-ban {
    position: relative;
    top: -250px;
    color: white;
    left: -13px;
    /* border-bottom: 2px solid white; */
    font-size: 19px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -67px;
    top: -265px;
}

}

@media (max-width: 354px){
    hr.detail-art {
    margin-top: 20px;
    margin-bottom: 26px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -67px;
    top: -270px;
}

}

@media (max-width: 334px){
    .til-ban-2 {
    left: 0px;
    padding-bottom: 158px;
}

.til-ban {
    position: relative;
    top: -260px;
    color: white;
    left: -13px;
    /* border-bottom: 2px solid white; */
    font-size: 19px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

hr.detail-art {
    margin-top: 20px;
    margin-bottom: 26px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -63px;
    top: -277px;
}

}


@media (max-width: 333px){
.til-ban {
    position: relative;
    top: -260px;
    color: white;
    left: -13px;
    /* border-bottom: 2px solid white; */
    font-size: 18px;
    font-weight: 600;
    /* padding-bottom: 222px; */
}

}

@media (max-width: 320px){

.til-ban-2 {
    left: 0px;
    padding-bottom: 152px;
}

/*hr.detail-art {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
    width: 60%;
    position: relative;
    left: -58px;
    top: -244px;
}
*/
/*.til-ban {
    position: relative;
    top: -231px;
    color: white;
    left: -13px;

    font-size: 16px;
    font-weight: 600;

}
*/

}