#footer{
    background-color:#DEDEDC;
    height: 90px;
}

.ul-1{
    color: white;
    margin-top: 29px;
    font-size: 20px;
    font-weight: 600;
}

.no-dot{
    color: #ccc;
    font-weight: 100;
    font-size: 16px;
}

.inform{
    position: relative;
    left: -65px;
}


.inform-2{
    position: relative;
    left: -80px;
}


.d-o{
   left: 258px;
   position: relative;
}

.img-foot{
/*    width: 90%;*/
    margin-top: -10px;
    position: relative;
    top: 8px;
 /*   height: 57px;*/

}

#lista.nav{
    position: relative;
    left: -32px;
}

#lista li.nav {
   display:inline;
   margin-top: 23px;
}  

#lista li a:hover {
   background-color: transparent;
}

.icon.lu{
    margin-left: 5px;
}

li.raro{
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 0px;
}


li.raro-2 {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 13px;
    left: 11px;
}

/*.a-footer{
    position: relative;
    left: 21px;
}*/

li.raro-3 {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 13px;
    left: 23px;
}


.contenido-fot{
    position: relative;
    top: 16px;
}

.it{
    position: relative;
    top: 11px;
    list-style-type: none;
    left: -20px;
    text-align: left;
    float: right;
    font-size: 12px;
}

.it-2{
    position: relative;
    top: 14px;
    list-style-type: none;
    left: -22px;
    text-align: left;
    float: right;
    font-size: 12px;
}

/*----------------Responsive---------------------*/
/*@media (max-width: 1276px){
    .it {
    width: 102%;
}

}*/

/*@media (max-width: 1255px){
    .it {
    width: 111%;
}*/

}

@media (max-width: 1180px){
    .it {
    position: relative;
    top: 11px;
    list-style-type: none;
    left: 50px;
    text-align: left;
    /*width: 111%;*/
}

.it-2 {
    position: relative;
    top: 11px;
    list-style-type: none;
    left: 130px;
    text-align: left;
}

}


@media (max-width: 1168px){
    .it {
    position: relative;
    top: 11px;
    list-style-type: none;
    left: -10px;
    text-align: left;
    /*width: 120%;*/
}

.it-2 {
    position: relative;
    top: 14px;
    list-style-type: none;
    left: -13px;
    text-align: left;
    float: right;
    font-size: 12px;
}

}

@media (max-width: 1129px){
    .it-2 {
    position: relative;
    top: 0px;
    list-style-type: none;
    left: -13px;
    text-align: left;
    float: right;
    font-size: 12px;
}

.it {
    position: relative;
    top: 1px;
    list-style-type: none;
    left: -8px;
    text-align: left;
    /* width: 120%; */
}

}

@media (max-width: 1114px){
    .contenido-fot {
    position: relative;
    top: 11px;
}

.it {
    position: relative;
    top: 13px;
    list-style-type: none;
    left: -7px;
    text-align: left;
    /* width: 120%; */
}

.it-2 {
    position: relative;
    top: 17px;
    list-style-type: none;
    left: -8px;
    text-align: left;
}

#footer {
    background-color: #DEDEDC;
    height: 105px;
}

}

@media (max-width: 1040px){
    .inform {
    left: -29px;
}
    .inform-2 {
    left: -11px;
}

}
@media (max-width: 1080px){
    .img-foot {
    /* width: 90%; */
    margin-top: -66px;
    position: relative;
    top: 65px;
    /* height: 57px; */
}

}

@media (max-width: 1036px){
#lista li {
    display: inline;
    margin-top: 16px;
    width: 55%;
}

#footer {
    background-color: #DEDEDC;
    height:148px;
}

#lista {
    position: relative;
    left: 537px;
    font-size: 14px;
   /* width: 55%;*/
}
.caja-footer {
    height: 51px;
    width: 200px;
    float: left;
    margin-top: 0px;
    margin-bottom: 8px;
    left: -63px;
    position: relative;
}

li.raro {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 0px;
    left: 0px;
}

.icon.lu {
    margin-left: 15px;
}

.img-foot {
    /* width: 90%; */
    margin-top: 0px;
    position: relative;
    top: -16px;
    /* height: 57px; */
}

li.raro-2 {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 13px;
    left: 17px;
}


}

@media (max-width: 991px){
    .no-dot {
    font-size: 14px;
}

#lista {
    position: relative;
    font-size: 14px;
    width: 55%;
}

.it {
    position: relative;
    top: 4px;
    list-style-type: none;
    left: 55px;
    text-align: left;
   /* width: 112%;*/
}

.it-2 {
    position: relative;
    top: -3px;
    list-style-type: none;
    left: -95px;
    text-align: left;
}

.iu{
    margin-top: 4px;
}

#footer {
    background-color: #DEDEDC;
    height: 95px;
}

}

@media (max-width: 975px){
.caja-footer {
    height: 51px;
    width: 200px;
    float: left;
    margin-top: 11px;
    margin-bottom: 8px;
    left: -63px;
    position: relative;
}

/*.it-2 {
    position: relative;
    top: -8px;
    list-style-type: none;
    left:86px;
    text-align: left;
}*/

}

@media (max-width: 947px){
       .icon.lu {
    margin-left: 0px;
    }

    .caja-footer {
    height: 51px;
    width: 200px;
    float: left;
    margin-top: 0px;
    margin-bottom: 8px;
    left: -63px;
    position: relative;
}

}


/*

@media (max-width: 939px){
    .caja-footer {
    height: 51px;
    width: 200px;
    float: left;
    margin-top: -300px;
    margin-bottom: 8px;
    left: -63px;
    position: relative;
}

}*/

@media (max-width: 890px){
    .it {
    position: relative;
    top: 4px;
    list-style-type: none;
    left: 44px;
    text-align: left;
   /* width: 112%;*/
}

}

@media (max-width: 850px){

#lista {
    position: relative;
 /*   left: 32px;*/
}

.caja-footer{
    left: -27px;
}

.icon.lu {
    margin-left: 1px;
}

}


@media (max-width: 820px){
    .it {
    position: relative;
    top: 4px;
    list-style-type: none;
    left: 34px;
    text-align: left;
    /*width: 112%;*/
}

}

@media (max-width: 790px){
    li.raro-2 {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 13px;
    left: 14px;
}

}


@media (max-width: 767px){
    .inform-2 {
    left: -378px;
    top: 49px;
}

/*    #footer {
    height: 195px;

}*/

/*    .img-foot {
    width: 50%;
    margin-top: -66px;
    top: 91px;
    position: relative;
    left: 0px;
}*/
#lista {
    position: relative;
    margin-left: -63px;
}

li.raro-2 {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 9px;
    left: 14px;
}

.contenido-fot {
    position: relative;
    top: -49px;
}

#footer {
    background-color: #DEDEDC;
    height: 239px;
}

.iu{
  float: right;
}

.it-2 {
    position: relative;
    top: -8px;
    list-style-type: none;
    left: 0px;
    text-align: left;
    float: right;
}

.io{
    float: right;
}

.it {
    position: relative;
    top: 4px;
    list-style-type: none;
    left: 0px;
    text-align: left;
    /*width: 100%;*/
    float: right;
}

.it-2 {
    position: relative;
    top: 7px;
    list-style-type: none;
    left: 0px;
    text-align: left;
    float: right;
}
.img-foot {
    /* width: 90%; */
    margin-top: 0px;
    position: relative;
    top: 0px;
    /* height: 57px; */
}


}

@media (max-width: 757px){
.caja-footer {
    margin-top: -8px;
}


#lista {
    position: relative;
    margin-left: 0px;
    width: 100%;
    left: 0px;
    top: 51px;
}

.icon.lu {
    margin-left: 29px;
    top: 21px;
}

.contenido-fot {
    position: relative;
    top: -38px;
}


}


@media screen and (max-width: 700px){
 #footer {
    height: 300px;
}

.inform-2 {
    left: 0px;
    top: -26px;
}

/*.img-foot {
    width: 100%;
    margin-top: -71px;
    left: -34px;
    position: relative;
}
*/

/*.caja-footer {
    margin-top: -286px;
}*/

}

@media (max-width: 414px){
#lista {
    text-align: right;
    /* width: 55%; */
    left: 0px;
}

li.raro{
    left: -10px;
}

li.raro-2 {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 9px;
    left: -14px;
}

}
@media (max-width: 412px){
/*    #lista{
    text-align: right;
    width: 55%;
    left: 160px;
}*/

li.raro{
    left: -8px;
}

}

@media (max-width: 400px){
.icon.lu {
    margin-left: 29px;
}

.caja-footer{
    width: 80px;
}

li.raro-2 {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 9px;
    left: -6px;
}

}

@media (max-width: 363px){
    .it {
    position: relative;
    top: 4px;
    list-style-type: none;
    left: 0px;
    text-align: right;
    /*width: 100%;*/
    float: right;
}

}
@media (max-width: 360px){
/*.caja-footer {
    margin-top: -292px;
}
*/
/*#lista {
    position: relative;
    margin-left: 0px;
    width: 60%;
    left: 135px;
}
*/
li.raro-2 {
    position: relative;
    display: block;
    font-size: 17px;
    color: #555;
    top: 13px;
    left: -12px;
}

}

@media (max-width: 320px){
.img-foot {
    /* width: 100%; */
    margin-top: 7px;
    left: -17px;
    position: relative;
}

/*.caja-footer {
    margin-top: -263px;
}
*/
}
