.lis-pro{
    position: relative;
    top: 384px;
    color: white;
    font-size: 48px;
}

.carousel-inner.dos {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -12px;
}

.carousel.tres{
    height: 480px;
}

.en{
     margin-bottom: 45px;
    font-size: 26px;
    color: #848484;
    top: -25px;
    position: relative;
    margin-top: 74px;
    font-weight: 300;
}

.img-1{
    width: 42%;
    height: 350px;
    margin-bottom: -151px;
    position: relative;
    left: -94px;
    /* top: 60px; */
    object-fit: scale-down;
}

.inf{
    position: relative;
    top: -229px;
    color: #555;
    font-size: 32px;
    font-weight: 100;
    left: 488px;
    height: 100px;
    z-index: 1030;
    letter-spacing: 1px;
    text-align: left;
    width: 75%;
}

.up{
    height: 115px;
    position: relative;
    text-align: left;
    left: 467px;
    font-size: 20px;
    width: 68%;
    margin-bottom: 29px;
    font-weight: 100;
    color: #555;
    top: -234px;
  
}

.product-price{
    position: relative;
    left: 325px;
    font-size: 27px;
    top: -302px;
 

}

.btn-success.pro{
     color: gray;
    background: none;
    border-radius: 1px;
    position: relative;
    left: 424px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -165px;
    z-index: 1030;
    font-weight: 300;
    border: 2px solid #6c6c6c;
    width: 27%;
    height: 45px;
    font-size: 16px;
}

.btn-success {
    color: gray;
    background: none;
    border-radius: 1px;
    position: relative;
    left: 440px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -165px;
    z-index: 1030;
    font-weight: 300;
    border: 2px solid #6c6c6c;
    width: 27%;
    height: 45px;
    font-size: 16px;
}


.btn-success.pro:hover{
    color: white;
    background: #777;
    border-radius: 1px;
    position: relative;
    left: 424px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -165px;
    z-index: 1030;
    font-weight: 300;
    border: 2px solid #6c6c6c;
    width: 27%;
    height: 45px;
    font-size: 16px;
}

.btn-success:hover {
    color: white;
    background: #777;
    border-radius: 1px;
    position: relative;
    left:440px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: -165px;
    z-index: 1030;
    font-weight: 300;
    border: 2px solid #6c6c6c;
    width: 27%;
    height: 45px;
    font-size: 16px;
}


.clearfix-fun{
    margin-top: 60px;
}

.box-4:hover .mask {
    opacity: 1;
}

.box-4 {
    position: relative;
    overflow: hidden;
    height: 99%;
    width: 50%;
}

.box-4 .mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.72);
    height: 95%;
    width: 95%;
    top: 0;
    opacity: 0;
  /*  z-index: 1030;*/
}

.hover-recipe {
    font-size: 37px;
    color: #fff;
    line-height: 1em;
    display: inline-flex;
    top: 219px;
    position: relative;
    left: 46px;
}


.box-4-4:hover .mask-4 {
    opacity: 1;
}

.box-4-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.box-4-4 .mask-4 {
    position: absolute;
    background: rgba(0,0,0,0.3);
    height: 89%;
    width: 100%;
    top: 0;
    opacity: 0;
}


.hover-recipe-2 {
    font-size: 37px;
    color: #fff;
    line-height: 1em;
    display: inline-flex;
    top: 96px;
    position: relative;
    left: 46px;
}

.box-4-4-4:hover .mask-4-4-4 {
    opacity: 1;
}

.box-4-4-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.box-4-4-4 .mask-4-4-4 {
    position: absolute;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
}

/*.cuadro-box-pro {
    margin-bottom: -110px;
}*/

.titulo-prou {
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 52px;
    width: 100%;
    padding-bottom: 48px;
    font-weight: 300;
}
/*--------------------------------Responsive----------------------------*/

@media (max-width: 1200px){
.up {
    height: 115px;
    position: relative;
    text-align: left;
    left: 421px;
    font-size: 20px;
    width: 68%;
    margin-bottom: 29px;
    font-weight: 100;
    color: #555;
    top: -234px;
}

.inf {
    position: relative;
    top: -229px;
    color: #555;
    font-size: 30px;
    font-weight: 100;
    left: 448px;
    height: 100px;
    z-index: 1030;
    letter-spacing: 1px;
    text-align: left;
    width: 77%;
}

}


@media (max-width: 1199px){
.box-4 .mask {
    height: 96%;
    width: 94%;
}

.up {
    left: 431px;
    font-size: 20px;
    width: 59%;
}

.inf {
    left: 465px;
    width: 73%;
}

.up {
    height: 115px;
    position: relative;
    text-align: left;
    left: 415px;
    font-size: 20px;
    width: 67%;
    margin-bottom: 29px;
    font-weight: 100;
    color: #555;
    top: -234px;
}
.inf {
    position: relative;
    top: -229px;
    color: #555;
    font-size: 26px;
    font-weight: 100;
    left: 418px;
    height: 100px;
    z-index: 1030;
    letter-spacing: 1px;
    text-align: left;
    width: 68%;
}

}

@media (max-width: 991px){
    .box-4 .mask {
    height: 96%;
    width: 96%;

}

.box-4-4-4 .mask-4-4-4 {
    height: 92%;
}
.box-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.inf {
    top: 159px;
    font-size: 22px;
    left: 0px;
    margin-bottom: 70px;
}
.up {
    height: 88px;
    position: relative;
    text-align: left;
    left: 79px;
    font-size: 16px;
    top: 107px;
    width: 100%;
}

.product-price {
    position: relative;
    left: -96px;
    font-size: 27px;
    top: -127px;
}
.img-1 {
/*    width: 65%;
    height: 215px;
    margin-bottom: 25px;
    position: relative;
    object-fit: cover;
    left: -94px;
    top: -23px;*/
    left: 41px;
}

.btn-success.pro {
    border-radius: 0px;
    left: -30px;
    position: relative;
    margin-bottom: 29px;
    top: 110px;
 /*   z-index: 1030;*/
    color: gray;
}

.btn-success.pro:hover {
    border-radius: 0px;
    left: -30px;
    position: relative;
    margin-bottom: 29px;
    top: 110px;
 /*   z-index: 1030;*/
    color:white;
}

.btn-success {
    border-color:gray;
    position: relative;
    left: -30px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 110px;
 /*   z-index: 1030;*/
    font-weight: 300;
}

.btn-success:hover {
    border-color: gray;
    position: relative;
    left: -30px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 110px;
  /*  z-index: 1030;*/
    font-weight: 300;
    color: white;
}

.cuadro-box-pro {
    margin-bottom: -35px;
    position: relative;
    top: -62px;
}


}


@media (max-width: 767px){
    .product-price {
    position: relative;
    left: 5px;
    font-size: 27px;
    top: -127px;
    float: left;
}

.btn-success.pro {
    border-radius: 0px;
    left: 37px;
    position: relative;
    margin-bottom: 29px;
    top: 120px;
    z-index: 1030;
    color: gray;
    float: left;
}

.btn-success.pro:hover{
    border-radius: 0px;
    left: 37px;
    position: relative;
    margin-bottom: 29px;
    top: 120px;
    z-index: 1030;
    color: white;
    float: left;
}

.btn-success {
    border-color: gray;
    position: relative;
    left: 43px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 120px;
    z-index: 1030;
    font-weight: 300;
    float: left;
}

.btn-success:hover {
    border-color: gray;
    position: relative;
    left:43px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 120px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    color: white;
}

/*.img-1 {
    width: 52%;
    height: 215px;
    margin-bottom: 25px;
    position: relative;
    object-fit: cover;
    left: -94px;
    top: -20px;
    left: 11px;
}*/

.up {
    height: 100px;
    position: relative;
    text-align: left;
    left: 6px;
    font-size: 15px;
    top: 129px;
    width: 90%;
}

.inf {
    top: 160px;
    font-size: 20px;
    left: -64px;
    margin-bottom: 26px;
}

.green-box {
    min-height: 720px;
}

}

@media (max-width: 700px){
.inf {
    /* top: -2px; */
    font-size: 20px;
    left: -56px;
}

.img-1 {
    left: 0px;
    width: 100%;
}

}

@media (max-width: 674px){
    .inf {
    /* top: -2px; */
    font-size: 19px;
    left: -50px;
    height: 87px;
}

}

@media (max-width: 600px){
/*    .inf {
    top: -2px;
    font-size: 23px;
    left: -42px;
}*/
.btn-success.pro {
    border-radius: 0px;
    left: 22px;
    position: relative;
    margin-bottom: 29px;
    top: 150px;
    z-index: 1030;
    color: gray;
    float: left;
    width: 80%;
}

.btn-success.pro:hover {
    border-radius: 0px;
    left: 22px;
    position: relative;
    margin-bottom: 29px;
    top: 150px;
    z-index: 1030;
    color: white;
    float: left;
    width: 80%;
}

.btn-success {
    border-color: gray;
    position: relative;
    left: 20px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 170px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    width: 80%;
}

.btn-success:hover {
    border-color: gray;
    position: relative;
    left: 20px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 170px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    width: 80%;
    color: white;
}

}

@media screen and (max-width: 700px){
    .box-4 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.box-4 .mask {
    height: 96%;
    width: 96%;
}

}


@media (max-width: 500px){
.img-1 {

    left: 0px;
}

.inf {
/*    top: -2px;
    font-size: 23px;*/
    left: -32px;
}

}


@media (max-width:414px){
.img-1 {
/*    left: 2px;
    width: 80%;*/
    top: 0px;
/*    margin-bottom: 102px;*/
    width: 100%;
}

.inf {
    width: 93%;
    left: 11px;
    margin-bottom: 79px;
    top: 195px;
}

.btn-success.pro {
    border-radius: 0px;
    left: 5px;
    position: relative;
    margin-bottom: 29px;
    top: 150px;
    z-index: 1030;
    color: gray;
    float: left;
    width: 97%;
}

.btn-success.pro:hover {
    border-radius: 0px;
    left: 5px;
    position: relative;
    margin-bottom: 29px;
    top: -150px;
    z-index: 1030;
    color: white;
    float: left;
    width: 97%;
    color: white;
    background: #777;
}

.btn-success {
    border-color: gray;
    position: relative;
    left: 5px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 170px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    width: 97%;
}
.btn-success:hover {
    border-color: gray;
    position: relative;
    left: 5px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 170px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    width: 97%;
    color: white;
    background: #777;
}

.box-4 .mask {
    height: 96%;
    width: 93%;
}
/*.up {
    height: 154px;
    position: relative;
    text-align: left;
    left: 3px;
    font-size: 18px;
    top: -113px;
    width: 95%;
}*/

}


@media (max-width: 412px){
/*    .inf {
    top: -2px;
    font-size: 23px;
    left: 15px;
    width: 100%;
}

.up {
    height: 154px;
    position: relative;
    text-align: left;
    left: 6px;
    font-size: 18px;
    top: -113px;
    width: 95%;
}*/

/*.img-1 {
    left: 2px;
    width: 80%;
    top: 77px;
    margin-bottom: 102px;
}
*/
}


@media (max-width: 400px){
    .inf {
    width: 104%;
    left: 15px;
}

    .box-4 .mask {
    height: 96%;
    width: 92%;
}

.img-1 {
    left: 2px;
    width: 80%;
    top: 0px;
    margin-bottom: -133px;
}


}

@media (max-width: 389px){
    .inf {
    width: 100%;
    left: 15px;
}

}

@media (max-width: 375px){
/*.img-1 {
    left: 2px;
    width: 75%;
    top: 77px;
}

.inf {
    width: 108%;
}*/

.btn-success.pro {
    border-radius: 0px;
    left: 5px;
    position: relative;
    margin-bottom: 29px;
    top: 150px;
    z-index: 1030;
    color: gray;
    float: left;
    width: 97%;
}

.btn-success.pro:hover {
    border-radius: 0px;
    left: 5px;
    position: relative;
    margin-bottom: 29px;
    top: 150px;
    z-index: 1030;
    color: gray;
    float: left;
    width: 97%;
    color: white;
    background: #777;
}

.btn-success {
    border-color: gray;
    position: relative;
    left: 5px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 170px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    width: 97%;
}
.btn-success:hover {
    border-color: gray;
    position: relative;
    left: 5px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 170px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    width: 97%;
    color: white;
    background: #777;
}

.box-4 .mask {
    height: 96%;
    width: 92%;
}

}

@media (max-width: 360px){
    .box-4 .mask {
    height: 96%;
    width: 91%;
}

/*.up {
    height: 154px;
    position: relative;
    text-align: left;
    left: 6px;
    font-size: 18px;
    top: -113px;
    width: 93%;
}

.inf {
    width: 103%;
}*/

.img-1 {
    left: 2px;
    width: 100%;
    top: 25px;
    margin-bottom: -133px;
}

}

@media (max-width: 320px){
/*    .img-1 {
    left: 2px;
    width: 100%;
    top: 6px;
}*/

/*.inf {
    width: 108%;
}*/

.btn-success.pro {
    border-radius: 0px;
    left: 5px;
    position: relative;
    margin-bottom: 29px;
    top: 150px;
    z-index: 1030;
    color: gray;
    float: left;
    width: 97%;
}

.btn-success.pro:hover {
    border-radius: 0px;
    left: 5px;
    position: relative;
    margin-bottom: 29px;
    top: 150px;
    z-index: 1030;
    color: gray;
    float: left;
    width: 97%;
    color: white;
    background: #777;
}

.btn-success {
    border-color: gray;
    position: relative;
    left: 5px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 170px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    width: 97%;
}
.btn-success:hover {
    border-color: gray;
    position: relative;
    left: 5px;
    border-radius: 0px;
    margin-bottom: 29px;
    top: 170px;
    z-index: 1030;
    font-weight: 300;
    float: left;
    width: 97%;
     color: white;
    background: #777;
}

.box-4 .mask {
    height: 96%;
    width: 90%;
}

}
